etax/19XMLスキーマ/somu/SOY010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：設立許可申請書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOY010-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOY010-1-0group">
<xsd:sequence>
<xsd:element name="SOY010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SOY010-1" type="SOY010-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOY010-2" type="SOY010-2-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書ニ面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOY010-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SOY010-1-1-0type">
<xsd:sequence>

<xsd:element name="BAA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00020" type="BAA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人名"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="gen:name">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立許可申請書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BAA00040"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人名"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BAA00040"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00090" type="BAA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　名称"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BAA00040"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00120" type="BAA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　(２)添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOY010-2-1-0type">
<xsd:sequence>

<xsd:element name="BAB00000" type="BAB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　(17)その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="BAA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BAA00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BAB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
