etax/19XMLスキーマ/somu/SOY130-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：変更後の事業計画書等の提出書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOY130-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOY130-1-0group">
<xsd:sequence>
<xsd:element name="SOY130">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BMA00000" type="BMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMB00000" type="BMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOY130-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BMA00000-1-0type">
<xsd:sequence>

<xsd:element name="BMA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00020" type="BMA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00050" type="BMA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更後の＿年度事業計画書等の提出書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:complexContent>
<xsd:extension base="gen:yy">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="BMA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開催日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会議名称"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:complexContent>
<xsd:extension base="BMA00090-1-0Rtype">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="BMA00100" type="BMA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業計画書及び収支予算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BMB00000-1-0type">
<xsd:sequence>

<xsd:element name="BMB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　変更後の＿年度事業計画書及び収支予算書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BMA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BMB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　会議名称"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BMA00090"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BMB00030" type="BMB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BMA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BMA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BMA00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BMA00100-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BMB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
