etax/19XMLスキーマ/somu/SOY120-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：事業計画書等の提出書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOY120-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOY120-1-0group">
<xsd:sequence>
<xsd:element name="SOY120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BLA00000" type="BLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLB00000" type="BLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOY120-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BLA00000-1-0type">
<xsd:sequence>

<xsd:element name="BLA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00020" type="BLA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00050" type="BLA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BLA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年度事業計画書等の提出書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:complexContent>
<xsd:extension base="gen:yy">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BLB00000-1-0type">
<xsd:sequence>

<xsd:element name="BLB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　＿年度事業計画書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BLA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BLB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　＿年度収支予算書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BLA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BLB00030" type="BLB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BLA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BLA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BLB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
