etax/19XMLスキーマ/somu/SOY140-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：事業報告書等の提出書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOY140-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOY140-1-0group">
<xsd:sequence>
<xsd:element name="SOY140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00000" type="BNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="BNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOY140-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNA00000-1-0type">
<xsd:sequence>

<xsd:element name="BNA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00020" type="BNA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00050" type="BNA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年度事業報告書等の提出書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:complexContent>
<xsd:extension base="gen:yy">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNB00000-1-0type">
<xsd:sequence>

<xsd:element name="BNB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　＿年度事業報告書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　＿年度収支計算書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　＿年度正味財産増減計算書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　＿年度末における貸借対照表"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　＿年度末における財産目録"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年度末における社員名簿"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年度末における社員の異動状況報告書"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="BNA00070"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00090" type="BNB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BNA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
