etax/19XMLスキーマ/somu/SOZ030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会員の異動報告書
version：1.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOZ030-1-0group">
<xsd:sequence>
<xsd:element name="SOZ030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SOZ030-1" type="SOZ030-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告書一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ030-2" type="SOZ030-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"報告書ニ面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ030-3" type="SOZ030-3-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"報告書三面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ030-4" type="SOZ030-4-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"報告書四面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ030-5" type="SOZ030-5-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"報告書五面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SOZ030-1-1-0type">
<xsd:sequence>

<xsd:element name="ACA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号__第__号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00010" type="ACA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号__"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00020" type="ACA00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第__号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00040" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"__税理士会"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00060" type="ACA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士会名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00080" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"__年__月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1会員数報告"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1開業税理士数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00110" type="ACA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00120" type="ACA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00130" type="ACA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00140" type="ACA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00150" type="ACA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2社員税理士数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00170" type="ACA00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00180" type="ACA00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00190" type="ACA00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00200" type="ACA00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00210" type="ACA00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a主たる事務所勤務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00230" type="ACA00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00240" type="ACA00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00250" type="ACA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00260" type="ACA00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00270" type="ACA00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b従たる事務所勤務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00290" type="ACA00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00300" type="ACA00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00310" type="ACA00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00320" type="ACA00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00330" type="ACA00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3補助税理士数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00350" type="ACA00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00360" type="ACA00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00370" type="ACA00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00380" type="ACA00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00390" type="ACA00390-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a開業税理士事務所勤務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00410" type="ACA00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00420" type="ACA00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00430" type="ACA00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00440" type="ACA00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00450" type="ACA00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b税理士法人勤務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00470" type="ACA00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00480" type="ACA00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00490" type="ACA00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00500" type="ACA00500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00510" type="ACA00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(c内従たる事務所勤務)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00530" type="ACA00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00540" type="ACA00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00550" type="ACA00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00560" type="ACA00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00570" type="ACA00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACA00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00590" type="ACA00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月初会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00600" type="ACA00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中入会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00610" type="ACA00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月中退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00620" type="ACA00620-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日退会者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00630" type="ACA00630-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"末日会員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ030-2-1-0type">
<xsd:sequence>

<xsd:element name="ACB00000" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"2入会者一覧　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACB00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00020" type="ACB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00040" type="ACB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00050" type="ACB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地(電話番号)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACB00090" type="ACB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ030-3-1-0type">
<xsd:sequence>

<xsd:element name="ACC00000" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"3退会者一覧　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACC00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00020" type="ACC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00040" type="ACC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00050" type="ACC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地(電話番号)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACC00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACC00090" type="ACC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ030-4-1-0type">
<xsd:sequence>

<xsd:element name="ACD00000" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"4その他異動者一覧(支部異動・登録区分異動等)　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00020" type="ACD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00050" type="ACD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地(電話番号)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00100" type="ACD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地(電話番号)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00130" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACD00140" type="ACD00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ030-5-1-0type">
<xsd:sequence>

<xsd:element name="ACE00000" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"5支部会員数報告(末日現在)　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00020" type="ACE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支部名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00040" type="ACE00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00050" type="ACE00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00060" type="ACE00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00070" type="ACE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="ACA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00390-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00530-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00540-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00550-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00610-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00620-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACA00630-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ACA00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00390-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00390-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00500-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00620-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00620-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACA00630-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACA00630-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACE00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACE00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACE00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACE00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACE00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACE00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
