etax/19XMLスキーマ/somu/SOZ051-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：税理士法第33条の2第1項に規定する添付書面(平成20年9月1日以降提出分)
version：1.0
Date：2009年03月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ051-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="SOZ051" type="SOZ051-1-0type"/>

<xsd:complexType name="SOZ051-1-0type">
<xsd:sequence>
<xsd:element name="SOZ051-1" type="SOZ051-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ051-2" type="SOZ051-2-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ051-3" type="SOZ051-3-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ051-4" type="SOZ051-4-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ051-5" type="SOZ051-5-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ051-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="SOZ051-1-1-0type">
<xsd:sequence>

<xsd:element name="TIA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書面"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00010" type="TIA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00020" type="TIA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿申告書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00070" type="TIA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿に係る"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00090" type="TIA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士又は税理士法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00130" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書面作成に係る税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00170" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00190" type="TIA00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00200" type="TIA00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00210" type="TIA00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務代理権限証書の提出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有（＿）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00240" type="TIA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00250" type="TIA00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00260" type="TIA00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"依頼者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00280" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00290" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00300" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　自ら作成記入した帳簿書類に記載されている事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00010" type="TIB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿書類の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00020" type="TIB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成記入の基礎となった書類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　提示を受けた帳簿書類（備考欄の帳簿書類を除く。）に記載されている事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIC00010" type="TIC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿書類の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIC00020" type="TIC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ051-2-1-0type">
<xsd:sequence>

<xsd:element name="TID00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　計算し、整理した主な事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TID00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TID00020" type="TID00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TID00030" type="TID00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TID00040" type="TID00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TID00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TID00060" type="TID00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち顕著な増減事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TID00070" type="TID00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TID00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TID00090" type="TID00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち会計処理方法に変更等があった事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TID00100" type="TID00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更等の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ051-3-1-0type">
<xsd:sequence>

<xsd:element name="TIE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　相談に応じた事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIE00010" type="TIE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIE00020" type="TIE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相談の要旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIF00000" type="TIF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ051-4-1-0type">
<xsd:sequence>

<xsd:element name="TIG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"追加記載する事項(上部)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIG00010" type="TIG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00020" type="TIG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00030" type="TIG00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00040" type="TIG00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00050" type="TIG00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00060" type="TIG00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIG00070" type="TIG00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"追加記載する事項(下部)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIH00010" type="TIH00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00020" type="TIH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00030" type="TIH00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00040" type="TIH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00050" type="TIH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00060" type="TIH00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIH00070" type="TIH00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ051-5-1-0type">
<xsd:sequence>

<xsd:element name="TII00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"追加記載する事項(上部)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TII00010" type="TII00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00020" type="TII00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00030" type="TII00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00040" type="TII00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00050" type="TII00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00060" type="TII00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TII00070" type="TII00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"追加記載する事項(下部)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIJ00010" type="TIJ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00020" type="TIJ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00030" type="TIJ00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00040" type="TIJ00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00050" type="TIJ00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00060" type="TIJ00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIJ00070" type="TIJ00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　記載する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="TIA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIA00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIA00240-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIA00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIA00260-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="220"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="240"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="220"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="240"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="217"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="868"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="279"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="195"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="465"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="195"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TID00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="465"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="528"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1056"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1472"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIG00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TIG00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIG00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="480"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIG00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIG00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="704"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIG00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIG00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="448"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIH00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TIH00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIH00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="480"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIH00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="704"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIH00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIH00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="448"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TII00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TII00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TII00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="480"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TII00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TII00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="704"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TII00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TII00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="448"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIJ00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TIJ00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIJ00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="480"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIJ00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIJ00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="704"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIJ00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIJ00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="448"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
