etax/19XMLスキーマ/somu/SOZ410-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：届出事項変更通知書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ410-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOZ410-1-0group">
<xsd:sequence>
<xsd:element name="SOZ410">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SOZ410-1" type="SOZ410-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOZ410-2" type="SOZ410-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"通知書ニ面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ410-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SOZ410-1-1-0type">
<xsd:sequence>

<xsd:element name="AZA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00020" type="AZA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00030" type="AZA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00040" type="AZA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00050" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本税理士会連合会会長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SOZ410-2-1-0type">
<xsd:sequence>

<xsd:element name="AZB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZB00010" type="AZB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経由税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00020" type="AZB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄国税局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出変更年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00040" minOccurs="0" maxOccurs="16">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZB00050" type="AZB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称又は従たる事務所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00070" type="AZB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00080" type="AZB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更後の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更の生じた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="AZA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AZA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
