etax/19XMLスキーマ/somu/SOZ450-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：合併通知書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ450-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOZ450-1-0group">
<xsd:sequence>
<xsd:element name="SOZ450">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00000" type="AKA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00000" type="AKB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1．合併後存続する税理士法人又は合併によって設立した税理士法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00000" type="AKC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2．合併した税理士法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ450-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AKA00000-1-0type">
<xsd:sequence>

<xsd:element name="AKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00020" type="AKA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00030" type="AKA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00040" type="AKA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00050" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本税理士会連合会会長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AKB00000-1-0type">
<xsd:sequence>

<xsd:element name="AKB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00030" type="AKB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00040" type="AKB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表社員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKB00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00080" type="AKB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKB00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登記年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AKC00000-1-0type">
<xsd:sequence>

<xsd:element name="AKC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00040" type="AKC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00050" type="AKC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表社員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00080" type="AKC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKC00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総社員の合併決議の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・解散登記の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00150" type="AKC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00160" type="AKC00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表社員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00190" type="AKC00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKC00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総社員の合併決議の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・解散登記の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00240" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00250" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00260" type="AKC00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00270" type="AKC00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表社員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKC00290" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00300" type="AKC00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00310" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKC00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総社員の合併決議の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・解散登記の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AKA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKC00300-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AKA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AKA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
