etax/19XMLスキーマ/somu/SOZ420-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：従たる事務所廃止通知書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ420-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOZ420-1-0group">
<xsd:sequence>
<xsd:element name="SOZ420">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00000" type="AHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00000" type="AHB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00000" type="AHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止した従たる事務所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ420-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHA00000-1-0type">
<xsd:sequence>

<xsd:element name="AHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00020" type="AHA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00030" type="AHA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHA00040" type="AHA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00050" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本税理士会連合会会長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHB00000-1-0type">
<xsd:sequence>

<xsd:element name="AHB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00030" type="AHB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00040" type="AHB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHC00000-1-0type">
<xsd:sequence>

<xsd:element name="AHC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従たる事務所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00030" type="AHC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00040" type="AHC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常駐した社員の代表"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHC00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00070" type="AHC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"閉鎖した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店廃止登記年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00110" type="AHC00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止した理由及びその後の処理"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AHA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AHA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
