etax/19XMLスキーマ/somu/SOZ440-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：清算結了通知書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SOZ440-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SOZ440-1-0group">
<xsd:sequence>
<xsd:element name="SOZ440">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJA00000" type="AJA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00000" type="AJB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SOZ440-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AJA00000-1-0type">
<xsd:sequence>

<xsd:element name="AJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJA00020" type="AJA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発遣番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00030" type="AJA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJA00040" type="AJA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00050" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本税理士会連合会会長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJB00000-1-0type">
<xsd:sequence>

<xsd:element name="AJB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00030" type="AJB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00040" type="AJB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属税理士会"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"清算結了登記年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"清算人又は代表社員の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AJA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AJA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AJA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
