etax/19XMLスキーマ/hoteishiryo/HSZ060-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　給与所得の源泉徴収票等の法定調書合計表
version：3.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ060-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ060-3-0group">
<xsd:sequence>
<xsd:element name="HSZ060">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ABC00000" type="gen:NENBUNref">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00000" type="ABA00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ALE00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABG00010" type="ABG00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この調書について応答できる方の所属"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この調書について応答できる方の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ALJ00000" type="ALJ00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．給与所得の源泉徴収票合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALK00000" type="ALK00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．退職所得の源泉徴収票合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00000" type="ALL00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．報酬、料金、契約金及び賞金の支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALM00000" type="ALM00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．不動産の使用料等の支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALN00000" type="ALN00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．不動産等の譲受けの対価の支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALO00000" type="ALO00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．不動産等の売買又は貸付けのあっせん手数料の支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALR00000" type="ALR00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ060-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000060-3-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000060-3-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00000" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALJ00000-3-0type">
<xsd:sequence>

<xsd:element name="ALJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．俸給、給与、賞与等の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALJ00020" type="ALJ00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00030" type="ALJ00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、源泉徴収税額のない者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALJ00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）のうち、丙欄適用の日雇労務者の賃金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALJ00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．源泉徴収票を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALJ00100" type="ALJ00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALJ00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免法により徴収猶予したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALJ00140" type="ALJ00140-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALJ00160" type="ALJ00160-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収票の提出媒体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALJ00170" type="ALJ00170-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALK00000-3-0type">
<xsd:sequence>

<xsd:element name="ALK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．退職手当等の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALK00020" type="ALK00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALK00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．（Ａ）のうち、源泉徴収票を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALK00060" type="ALK00060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALK00090" type="ALK00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALL00000-3-0type">
<xsd:sequence>

<xsd:element name="ALL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０４条に規定する報酬又は料金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原稿料、作曲料、放送謝金、講演料等の報酬又は料金（１号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00040" type="ALL00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00050" type="ALL00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"弁護士、税理士等の報酬又は料金（２号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00100" type="ALL00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00110" type="ALL00110-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬（３号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00160" type="ALL00160-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00170" type="ALL00170-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業野球選手、騎手、外交員、集金人等の報酬又は料金（４号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00220" type="ALL00220-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00230" type="ALL00230-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"芸能等に係る出演、演出等の報酬又は料金（５号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00280" type="ALL00280-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00290" type="ALL00290-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"バー、キャバレーのホステス等の報酬又は料金（６号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00340" type="ALL00340-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00350" type="ALL00350-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約金（７号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00400" type="ALL00400-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00410" type="ALL00410-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞金（８号該当）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00460" type="ALL00460-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00470" type="ALL00470-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00530" type="ALL00530-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00550" type="ALL00550-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．（Ａ）のうち、支払調書を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00600" type="ALL00600-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00610" type="ALL00610-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）のうち、所得税法第１７４条第１０号に規定する内国法人に対する賞金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１０号該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00700" type="ALL00700-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免法により徴収猶予したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALL00740" type="ALL00740-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALL00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALL00760" type="ALL00760-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALM00000-3-0type">
<xsd:sequence>

<xsd:element name="ALM00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．使用料等の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALM00020" type="ALM00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALM00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．（Ａ）のうち、支払調書を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALM00050" type="ALM00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALM00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALM00070" type="ALM00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALN00000-3-0type">
<xsd:sequence>

<xsd:element name="ALN00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．譲受けの対価の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALN00020" type="ALN00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALN00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．（Ａ）のうち、支払調書を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALN00050" type="ALN00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALN00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALN00070" type="ALN00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALO00000-3-0type">
<xsd:sequence>

<xsd:element name="ALO00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．あっせん手数料の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALO00020" type="ALO00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALO00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALO00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．（Ａ）のうち、支払調書を提出するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALO00050" type="ALO00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALO00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALO00090" type="ALO00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALR00000-3-0type">
<xsd:sequence>

<xsd:element name="ALR00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALR00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="ABA00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABG00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALJ00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALJ00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALJ00100-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALJ00140-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ALJ00160-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ALJ00170-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALK00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALK00060-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALK00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00100-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00110-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00160-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00170-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00220-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00230-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00280-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00290-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00340-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00350-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00400-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00410-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00460-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00470-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00530-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00550-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00600-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00610-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00700-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00740-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALL00760-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALM00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALM00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALM00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALN00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALN00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALN00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALO00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALO00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALO00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ABB00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALJ00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALJ00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALJ00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALJ00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALJ00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALJ00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALJ00140-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALJ00140-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALK00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALK00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALK00060-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALK00060-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00110-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00110-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00160-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00160-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00170-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00170-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00220-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00220-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00230-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00230-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00280-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00280-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00290-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00290-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00340-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00340-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00350-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00350-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00400-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00400-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00410-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00410-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00460-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00460-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00470-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00470-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00530-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00530-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00550-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00550-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00600-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00600-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00610-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00610-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00700-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00700-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALL00740-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALL00740-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALM00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALM00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALM00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALM00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALN00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALN00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALN00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALN00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALO00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALO00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALO00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="ALO00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
