etax/19XMLスキーマ/hoteishiryo/HSZ012-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：オープン型証券投資信託収益の分配の支払調書(支払通知書)
version：3.0
Date：2020年09月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ012-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ012-3-0group">
<xsd:sequence>
<xsd:element name="HSZ012">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="KAA00000" type="KAA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAB00000" type="KAB00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KAD00000" type="KAD00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00000" type="KAE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KAF00000" type="KAF00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAG00000" type="KAG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAH00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定又は支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAI00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託契約の終了又は一部解約の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAJ00000" type="KAJ00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KAK00000" type="KAK00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAL00000" type="KAL00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の取扱者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ012-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KAD00000-3-0type">
<xsd:sequence>

<xsd:element name="KAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KAE00000-3-0type">
<xsd:sequence>

<xsd:element name="KAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KAE00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権１口当たりの分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知所得税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KAE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KAE00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権１口当たりの分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KAE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KAE00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権１口当たりの分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知所得税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KAK00000-3-0type">
<xsd:sequence>

<xsd:element name="KAK00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAK00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAK00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAK00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KAL00000-3-0type">
<xsd:sequence>

<xsd:element name="KAL00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAL00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAL00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KAL00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KAA00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="KAB00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="KAF00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KAG00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KAJ00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="KAA00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="KAA00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="KAG00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="KAG00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
