etax/19XMLスキーマ/hoteishiryo/HSZ131-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国外送金等調書
version：5.0
Date：2020年09月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ131-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ131-5-0group">
<xsd:sequence>
<xsd:element name="HSZ131">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AWA00000" type="AWA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWB00000" type="AWB00000-5-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000131-5-0type">
<xsd:annotation>
<xsd:appinfo>"国内の送金者又は受領者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AWE00000" type="AWE00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外送金等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外送金等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWG00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の送金者又は受領者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWH00000" type="AWH00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の銀行等の営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWI00000" type="AWI00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取次ぎ等に係る金融機関の営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWJ00000" type="AWJ00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外送金等に係る相手国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AWK00000" type="AWK00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人口座の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AWL00000" type="AWL00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人口座の番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AWM00000" type="AWM00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外送金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AWN00000" type="AWN00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送金原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWO00000" type="AWO00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送金原因（国際収支番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWP00000" type="AWP00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（備考）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000131-5-0type">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00000" type="AWS00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ131-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000131-5-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWQ10000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWK00000-5-0type">
<xsd:sequence>

<xsd:element name="AWK00010" type="AWK00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWK00020" type="AWK00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWM00000-5-0type">
<xsd:sequence>

<xsd:element name="AWM00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外貨額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000131-5-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWR10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWS00000-5-0type">
<xsd:sequence>

<xsd:element name="AWS00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00020" type="AWS00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額　外貨名称　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引口座"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00060" type="AWS00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00070" type="AWS00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWS00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取次金融機関等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00100" type="AWS00100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWS00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の送金者又は受領者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00120" type="AWS00120-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引口座"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWS00140" type="AWS00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関　支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00150" type="AWS00150-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWS00160" type="AWS00160-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AWA00000-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWB00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AWE00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWH00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWI00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWJ00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWK00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWK00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWL00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWN00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWO00000-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWP00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00100-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00120-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00150-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWS00160-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AWA00000-5-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00000-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWO00000-5-0type">
<xsd:simpleContent>
<xsd:extension base="AWO00000-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
