etax/19XMLスキーマ/hoteishiryo/HSZ151-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：株式等の譲渡の対価等の支払調書
version：2.0
Date：2020年09月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ151-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ151-2-0group">
<xsd:sequence>
<xsd:element name="HSZ151">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BKA00000" type="BKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKB00000" type="BKB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKD00000" type="BKD00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払又は交付を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00000" type="BKE00000-2-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BKF00000" type="BKF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKG00000" type="BKG00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払者又は交付者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKH00000" type="BKH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付の取扱者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00000" type="BKI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ151-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BKD00000-2-0type">
<xsd:sequence>

<xsd:element name="BKD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKE00000-2-0type">
<xsd:sequence>

<xsd:element name="BKE00010" type="BKE00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00020" type="BKE00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00030" type="BKE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払又は交付確定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00050" type="BKE00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00060" type="BKE00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株（口）数又は額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額又は交付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKG00000-2-0type">
<xsd:sequence>

<xsd:element name="BKG00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKH00000-2-0type">
<xsd:sequence>

<xsd:element name="BKH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKH00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKH00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKI00000-2-0type">
<xsd:sequence>

<xsd:element name="BKI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（１）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00020" type="BKI00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（２）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00050" type="BKI00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（３）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00080" type="BKI00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKI00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（４）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00110" type="BKI00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKI00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（５）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00140" type="BKI00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKI00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払内容（６）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKI00170" type="BKI00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄又は名称　銘柄コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BKA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BKB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BKE00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKE00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKE00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKE00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BKA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="BKA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKE00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="BKE00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKE00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="BKE00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
