etax/19XMLスキーマ/hoteishiryo/HSZ110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年__月分　国外公社債等の利子等の支払調書合計表
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ110-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ110-1-0group">
<xsd:sequence>
<xsd:element name="HSZ110">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ABA00000" type="ABA00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABC00000" type="gen:NENGETSUBUNref">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00000" type="ABG00000110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この調書について応答できる者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00000" type="ATH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ATI00000" type="ATI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ110-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000110-1-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000110-1-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABG00000110-1-0type">
<xsd:sequence>

<xsd:element name="ABG00010" type="ABG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ATH00000-1-0type">
<xsd:sequence>

<xsd:element name="ATH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00030" type="ATH00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00050" type="ATH00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00100" type="ATH00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00120" type="ATH00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATH00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00170" type="ATH00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00190" type="ATH00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATH00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00230" type="ATH00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00250" type="ATH00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ABA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABG00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ABB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
