etax/19XMLスキーマ/hoteishiryo/HSZ120-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年__月分　国外投資信託等又は国外株式の配当等の支払調書合計表
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ120-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ120-1-0group">
<xsd:sequence>
<xsd:element name="HSZ120">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ABA00000" type="ABA00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABC00000" type="gen:NENGETSUBUNref">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00000" type="ABG00000120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この調書について応答できる者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00000" type="AVH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AVI00000" type="AVI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ120-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000120-1-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000120-1-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABG00000120-1-0type">
<xsd:sequence>

<xsd:element name="ABG00010" type="ABG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AVH00000-1-0type">
<xsd:sequence>

<xsd:element name="AVH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00040" type="AVH00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00090" type="AVH00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00150" type="AVH00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00200" type="AVH00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉分離選択課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00260" type="AVH00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00310" type="AVH00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00370" type="AVH00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00410" type="AVH00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00460" type="AVH00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AVH00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVH00510" type="AVH00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当（分配）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AVH00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ABA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABG00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVH00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AVI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ABB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AVH00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="AVH00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
