etax/19XMLスキーマ/hoteishiryo/HSZ201-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　公的年金等の源泉徴収票
version：1.0
Date：2015年10月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ201-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ201-1-0group">
<xsd:sequence>
<xsd:element name="HSZ201">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DMA00000" type="DMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMB00000" type="DMB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DMD00000" type="DMD00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00000" type="DME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収票の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMF00000" type="DMF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMG00000" type="DMG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配偶者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMH00000" type="DMH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象扶養親族の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DMI00000" type="DMI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１６歳未満の扶養親族の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DMJ00000" type="DMJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DMS00000" type="DMS00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非居住者である親族の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DML00000" type="DML00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配偶者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMM00000" type="DMM00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"控除対象扶養親族　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMT00000" type="DMT00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"１６歳未満の扶養親族　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DMQ00000" type="DMQ00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DMR00000" type="DMR00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ201-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DMD00000-1-0type">
<xsd:sequence>

<xsd:element name="DMD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00030" type="gen:n-kana">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00040" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DME00000-1-0type">
<xsd:sequence>

<xsd:element name="DME00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０３条の３第１号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０３条の３第２号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０３条の３第３号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０３条の３第４号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMF00000-1-0type">
<xsd:sequence>

<xsd:element name="DMF00010" type="DMF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMF00020" type="DMF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMF00030" type="DMF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別寡婦"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMF00040" type="DMF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦寡夫"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMG00000-1-0type">
<xsd:sequence>

<xsd:element name="DMG00010" type="DMG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMG00020" type="DMG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMH00000-1-0type">
<xsd:sequence>

<xsd:element name="DMH00010" type="DMH00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMH00020" type="DMH00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMH00030" type="DMH00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMJ00000-1-0type">
<xsd:sequence>

<xsd:element name="DMJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMJ00020" type="DMJ00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMJ00030" type="DMJ00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMJ00040" type="DMJ00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DML00000-1-0type">
<xsd:sequence>

<xsd:element name="DML00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DML00015" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DML00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DML00030" type="DML00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外扶養区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMM00000-1-0type">
<xsd:sequence>

<xsd:element name="DMM00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMM00015" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMM00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMM00030" type="DMM00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外扶養区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMT00000-1-0type">
<xsd:sequence>

<xsd:element name="DMT00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMT00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMT00030" type="DMT00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外扶養区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMR00000-1-0type">
<xsd:sequence>

<xsd:element name="DMR00010" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMR00020" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMR00030" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMR00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DMA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DMB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMF00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMF00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMF00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMF00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMG00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMG00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DMH00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMH00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMH00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMI00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMJ00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMJ00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMJ00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMS00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DML00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="00"/><xsd:enumeration value="01"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMM00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="00"/><xsd:enumeration value="01"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DMT00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="00"/><xsd:enumeration value="01"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DMQ00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DMA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMI00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMI00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMS00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMS00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMH00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMH00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMH00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMH00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMH00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMH00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMJ00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMJ00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMJ00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMJ00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMJ00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMJ00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
