etax/19XMLスキーマ/hoteishiryo/HSZ280-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：支払調書等の本店等一括提出に係る承認申請書
version：7.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ280-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ280-7-0group">
<xsd:sequence>
<xsd:element name="HSZ280">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BDE00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDG00000" type="BDG00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDH00000" type="BDH00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申請について応答できる方の所属及び氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BDI00000" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出開始年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDK00000" type="BDK00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BDL00000" type="BDL00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ280-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDG00000-7-0type">
<xsd:sequence>

<xsd:element name="BDG00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDG00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDG00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDG00040" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDG00050" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDH00000-7-0type">
<xsd:sequence>

<xsd:element name="BDH00010" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDH00020" type="BDH00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属及び氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDK00000-7-0type">
<xsd:sequence>

<xsd:element name="BDK00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00020" type="BDK00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00040" type="BDK00040-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出方法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDK00060" type="BDK00060-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"光ディスク等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00070" type="BDK00070-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｅ－Ｔａｘ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDK00080" type="BDK00080-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定クラウド等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BDH00020-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="36"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDK00020-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDK00040-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BDK00060-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BDK00070-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BDK00080-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BDL00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
