etax/19XMLスキーマ/hoteishiryo/HSZ361-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　生命保険契約等の一時金の支払調書
version：2.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ361-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ361-2-0group">
<xsd:sequence>
<xsd:element name="HSZ361">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CEA00000" type="CEA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00000" type="CEB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000361-2-0type">
<xsd:annotation>
<xsd:appinfo>"保険金等受取人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00000" type="CEE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険契約者等（又は保険料等払込人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00000" type="CEF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被保険者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CEG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増加又は割増保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払利益配当金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金額同未収利息"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEL00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前納保険料等払戻金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEM00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引支払保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEN00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEO00000" type="CEO00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEP00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等の発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEQ00000" type="CEQ00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CER00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CES00000" type="CES00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000361-2-0type">
<xsd:annotation>
<xsd:appinfo>"保険会社等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ361-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000361-2-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEE00000-2-0type">
<xsd:sequence>

<xsd:element name="CEE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEF00000-2-0type">
<xsd:sequence>

<xsd:element name="CEF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000361-2-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CEA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CEB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CEO00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEQ00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CES00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CEA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="CEA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
