etax/19XMLスキーマ/hoteishiryo/HSZ311-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国外電子決済手段移転等調書
version：1.0
Date：2023年09月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ311-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ311-1-0group">
<xsd:sequence>
<xsd:element name="HSZ311">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FUA00000" type="FUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00000" type="FUB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FUD00000" type="FUD00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転者又は受入者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FUE00000" type="FUE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUG00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等の相手方の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUH00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の電子決済手段等取引業者の営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUI00000" type="FUI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等に係る相手国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FUJ00000" type="FUJ00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FUK00000" type="FUK00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転等の原因となる取引又は行為の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUL00000" type="FUL00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（備考）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FUM00000" type="FUM00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"電子決済手段等取引業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00000" type="FUN00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ311-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FUD00000-1-0type">
<xsd:sequence>

<xsd:element name="FUD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FUJ00000-1-0type">
<xsd:sequence>

<xsd:element name="FUJ00010" type="FUJ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUJ00020" type="FUJ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUJ00030" type="FUJ00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FUJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUJ00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外貨額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FUM00000-1-0type">
<xsd:sequence>

<xsd:element name="FUM00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUM00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUM00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUM00040" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FUN00000-1-0type">
<xsd:sequence>

<xsd:element name="FUN00010" type="FUN00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転者又は受入者　国外住所表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00020" type="FUN00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段(1)　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00022" type="FUN00022-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段(2)　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00024" type="FUN00024-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段(3)　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00026" type="FUN00026-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段(4)　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00028" type="FUN00028-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等をした電子決済手段(5)　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00030" type="FUN00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の電子決済手段等取引業者　名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00040" type="FUN00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外電子決済手段移転等に係る相手国名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUN00050" type="FUN00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転等の原因となる取引又は行為の内容　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FUA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FUB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FUE00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FUI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUJ00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUJ00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUJ00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUK00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUL00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00022-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00024-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00026-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00028-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUN00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FUA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="FUA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FUJ00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="FUJ00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
