etax/19XMLスキーマ/hoteishiryo/HSZ342-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：自__年__月__日　至__年__月__日　信託の計算書(互助年金用)
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ342-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ342-1-0group">
<xsd:sequence>
<xsd:element name="HSZ342">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CAA00000" type="CAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00000" type="CAB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CAC00000" type="CAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00000" type="AAD00000342-1-0type">
<xsd:annotation>
<xsd:appinfo>"委託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00000" type="CAE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本たる信託財産の受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00000" type="CAF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産から生ずる利益の受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00000" type="CAG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算書明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00000" type="CAH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000342-1-0type">
<xsd:annotation>
<xsd:appinfo>"受託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAJ00000" type="CAJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託の期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CAK00000" type="CAK00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CAL00000" type="CAL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者に交付した利益の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAM00000" type="CAM00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者の異動"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAN00000" type="CAN00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託者の受けるべき報酬の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ342-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CAC00000-1-0type">
<xsd:sequence>

<xsd:element name="CAC00010" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00020" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAD00000342-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAE00000-1-0type">
<xsd:sequence>

<xsd:element name="CAE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(居所)又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAF00000-1-0type">
<xsd:sequence>

<xsd:element name="CAF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAG00000-1-0type">
<xsd:sequence>

<xsd:element name="CAG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の基因たる信託財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAG00040" type="CAG00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00060" type="CAG00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAG00080" type="CAG00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAH00000-1-0type">
<xsd:sequence>

<xsd:element name="CAH00010" type="CAH00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．据置期間(年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00015" type="CAH00015-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．据置期間(月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00020" type="CAH00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．給付期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．給付開始年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00040" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．給付終了年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00050" type="CAH00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．当初の信託金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00055" type="CAH00055-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６. 互助年金の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAH00060" type="CAH00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000342-1-0type">
<xsd:sequence>

<xsd:element name="CAI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算書の作成年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAJ00000-1-0type">
<xsd:sequence>

<xsd:element name="CAJ00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAJ00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAL00000-1-0type">
<xsd:sequence>

<xsd:element name="CAL00010" type="CAL00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAL00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAL00040" type="CAL00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAM00000-1-0type">
<xsd:sequence>

<xsd:element name="CAM00010" type="CAM00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAM00020" type="CAM00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAN00000-1-0type">
<xsd:sequence>

<xsd:element name="CAN00010" type="CAN00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報酬の額又はその計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAN00020" type="CAN00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAN00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAN00040" type="CAN00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補てん又は補足の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CAA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CAB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAG00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAG00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAG00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00015-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00055-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAH00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAK00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAL00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAL00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAM00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAM00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAN00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAN00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAN00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CAA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAH00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAH00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAH00015-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAH00015-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAH00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAH00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAH00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAH00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAL00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAL00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAN00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAN00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
