etax/19XMLスキーマ/hoteishiryo/HSZ332-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：信託に関する受益者別(委託者別)調書(互助年金用)
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ332-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ332-1-0group">
<xsd:sequence>
<xsd:element name="HSZ332">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BXA00000" type="BXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00000" type="BXB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000332-1-0type">
<xsd:annotation>
<xsd:appinfo>"委託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXD00000" type="BXD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BXE00000" type="BXE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXF00000" type="BXF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXG00000" type="BXG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXI00000" type="BXI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXJ00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXK00000" type="BXK00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BXL00000" type="BXL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000332-1-0type">
<xsd:annotation>
<xsd:appinfo>"信託会社"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ332-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000332-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BXD00000-1-0type">
<xsd:sequence>

<xsd:element name="BXD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BXL00000-1-0type">
<xsd:sequence>

<xsd:element name="BXL00010" type="BXL00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXL00020" type="BXL00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"互助年金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXL00030" type="BXL00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"互助年金の型"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXL00040" type="BXL00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"型"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXL00050" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000332-1-0type">
<xsd:sequence>

<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BXA00000-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BXB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BXE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXK00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXL00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXL00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXL00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXL00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BXA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BXA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
