etax/19XMLスキーマ/hoteishiryo/HSZ341-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：自__年__月__日　至__年__月__日　信託の計算書
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ341-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ341-1-0group">
<xsd:sequence>
<xsd:element name="HSZ341">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BZA00000" type="BZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00000" type="BZB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BZC00000" type="BZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00000" type="AAD00000341-1-0type">
<xsd:annotation>
<xsd:appinfo>"信託財産から生ずる利益の受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZE00000" type="BZE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本たる信託財産の受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZF00000" type="BZF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000341-1-0type">
<xsd:annotation>
<xsd:appinfo>"受託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00000" type="BZH00000-1-0type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"計算書明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZI00000" type="BZI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託の期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BZJ00000" type="BZJ00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BZK00000" type="BZK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者に交付した利益の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZL00000" type="BZL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者の異動"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZM00000" type="BZM00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託者の受けるべき報酬の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BZN00000" type="BZN00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ341-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BZC00000-1-0type">
<xsd:sequence>

<xsd:element name="BZC00010" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00020" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAD00000341-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZE00000-1-0type">
<xsd:sequence>

<xsd:element name="BZE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZF00000-1-0type">
<xsd:sequence>

<xsd:element name="BZF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000341-1-0type">
<xsd:sequence>

<xsd:element name="BZG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算書の作成年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZH00000-1-0type">
<xsd:sequence>

<xsd:element name="BZH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の基因たる信託財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZH00040" type="BZH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00060" type="BZH00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00070" type="BZH00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BZH00090" type="BZH00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZI00000-1-0type">
<xsd:sequence>

<xsd:element name="BZI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZI00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZK00000-1-0type">
<xsd:sequence>

<xsd:element name="BZK00010" type="BZK00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZK00030" type="BZK00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZK00040" type="BZK00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZK00050" type="BZK00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZL00000-1-0type">
<xsd:sequence>

<xsd:element name="BZL00010" type="BZL00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZL00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZM00000-1-0type">
<xsd:sequence>

<xsd:element name="BZM00010" type="BZM00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報酬の額又はその計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZM00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZM00030" type="BZM00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZM00040" type="BZM00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補てん又は補足の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BZA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BZB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BZH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZH00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZH00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZH00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZJ00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZK00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZK00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZK00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZK00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZL00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZM00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZM00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZM00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZN00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BZA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BZA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BZH00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BZH00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BZK00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BZK00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BZK00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BZK00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BZM00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BZM00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
