etax/19XMLスキーマ/hoteishiryo/HSZ351-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：生命保険金・共済金受取人別支払調書
version：4.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ351-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ351-4-0group">
<xsd:sequence>
<xsd:element name="HSZ351">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CCA00000" type="CCA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00000" type="CCB00000-4-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCS00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000351-4-0type">
<xsd:annotation>
<xsd:appinfo>"保険金等受取人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00000" type="CCD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険契約者等（又は保険料等払込人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00000" type="CCE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被保険者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCV00000" type="CCV00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の保険契約者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CCF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増加又は割増保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払利益配当金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金額、同未収利息"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前納保険料等払戻金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCL00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引支払保険金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CCM00000" type="CCM00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CCN00000" type="CCN00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCO00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等の発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCP00000" type="CCP00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCQ00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCW00000" type="CCW00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者変更の回数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CCR00000" type="CCR00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000351-4-0type">
<xsd:annotation>
<xsd:appinfo>"保険会社等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ351-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000351-4-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCT10000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCD00000-4-0type">
<xsd:sequence>

<xsd:element name="CCD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCE00000-4-0type">
<xsd:sequence>

<xsd:element name="CCE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCV00000-4-0type">
<xsd:sequence>

<xsd:element name="CCV00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCV00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCM00000-4-0type">
<xsd:sequence>

<xsd:element name="CCM00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCR00000-4-0type">
<xsd:sequence>

<xsd:element name="CCR00010" type="CCR00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCR00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000351-4-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCU10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CCA00000-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CCB00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CCN00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCP00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCW00000-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCR00010-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CCA00000-4-0type">
<xsd:simpleContent>
<xsd:extension base="CCA00000-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CCW00000-4-0type">
<xsd:simpleContent>
<xsd:extension base="CCW00000-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
