etax/19XMLスキーマ/hoteishiryo/HSZ320-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：譲渡性預金の譲渡等に関する調書合計表
version：5.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ320-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ320-5-0group">
<xsd:sequence>
<xsd:element name="HSZ320">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BVJ00000" type="BVJ00000-5-0Rtype">
<xsd:annotation>
<xsd:appinfo>"調書の提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000320-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABC00000" type="gen:NENGETSUBUNref">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000320-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BVK00000" type="BVK00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出媒体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVO00000" type="BVO00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店一括"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVL00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成担当者"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BVM00000" type="BVM00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00000" type="BVH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BVI00000" type="BVI00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ320-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000320-5-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000320-5-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVN10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BVM00000-5-0type">
<xsd:sequence>

<xsd:element name="BVM00010" type="BVM00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVM00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVM00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BVH00000-5-0type">
<xsd:sequence>

<xsd:element name="BVH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡人用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVH00020" type="BVH00020-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BVH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受人用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVH00060" type="BVH00060-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BVH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVH00100" type="BVH00100-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BVJ00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BVK00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="30"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BVO00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BVM00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVH00020-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVH00060-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVH00100-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVI00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ABB00010-5-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BVH00020-5-0type">
<xsd:simpleContent>
<xsd:extension base="BVH00020-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BVH00060-5-0type">
<xsd:simpleContent>
<xsd:extension base="BVH00060-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BVH00100-5-0type">
<xsd:simpleContent>
<xsd:extension base="BVH00100-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
