etax/19XMLスキーマ/hoteishiryo/HSZ401-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　損害保険契約等の満期返戻金等の支払調書
version：3.0
Date：2015年04月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ401-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ401-3-0group">
<xsd:sequence>
<xsd:element name="HSZ401">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CMA00000" type="CMA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMB00000" type="CMB00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000401-3-0type">
<xsd:annotation>
<xsd:appinfo>"保険金等受取人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CME00000" type="CME00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険契約者等（又は保険料等払込人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CMF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"満期返戻金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払利益配当金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既払込保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMJ00000" type="CMJ00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMK00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的の所有者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CML00000" type="CML00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMM00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等の発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMN00000" type="CMN00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMO00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMP00000" type="CMP00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000401-3-0type">
<xsd:annotation>
<xsd:appinfo>"保険会社等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ401-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000401-3-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMQ10000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CME00000-3-0type">
<xsd:sequence>

<xsd:element name="CME00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CME00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CME00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000401-3-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMR10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CMA00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CMB00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CMJ00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CML00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMN00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMP00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CMA00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="CMA00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
