etax/19XMLスキーマ/hoteishiryo/HSZ421-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：退職手当金等受給者別支払調書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ421-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ421-1-0group">
<xsd:sequence>
<xsd:element name="HSZ421">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CQA00000" type="CQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQB00000" type="CQB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000421-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQD00000" type="CQD00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"退職者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CQE00000" type="CQE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金等の給与金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00000" type="CQH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職時の地位職務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQI00000" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者と退職者との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQJ00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CQK00000" type="CQK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000421-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ421-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000421-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CQD00000-1-0type">
<xsd:sequence>

<xsd:element name="CQD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CQK00000-1-0type">
<xsd:sequence>

<xsd:element name="CQK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職者の死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQK00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQK00030" type="CQK00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000421-1-0type">
<xsd:sequence>

<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"営業所又は事務所等の名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CQA00000-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CQB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CQE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CQH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CQK00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CQA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CQA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
