etax/19XMLスキーマ/hoteishiryo/HSZ451-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：定期積金の給付補てん金等の支払調書
version：3.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ451-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ451-3-0group">
<xsd:sequence>
<xsd:element name="HSZ451">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CWA00000" type="CWA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWB00000" type="CWB00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000451-3-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00000" type="CWE00000-3-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"支払調書の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CWF00000" type="CWF00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000451-3-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ451-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000451-3-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG10000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CWE00000-3-0type">
<xsd:sequence>

<xsd:element name="CWE00010" type="CWE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算の基礎"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給付補てん金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定又は支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000451-3-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CWA00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CWB00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CWE00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWF00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CWA00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="CWA00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
