etax/19XMLスキーマ/hoteishiryo/HSZ431-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　特定口座年間取引報告書
version：1.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ431-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ431-1-0group">
<xsd:sequence>
<xsd:element name="HSZ431">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BRA00000" type="BRA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00000" type="BRB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00000" type="BRD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BRF00000" type="BRF00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"特定口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00000" type="BRG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の支払状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00000" type="BRH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る年間取引損益及び源泉徴収税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00000" type="BRI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の交付状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00000" type="BRJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額及び源泉徴収税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BRK00000" type="BRK00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ431-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BRF00000-1-0type">
<xsd:sequence>

<xsd:element name="BRF00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出時の住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00030">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRF00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00050" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRF00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00070" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRF00090" type="BRF00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保管"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00100" type="BRF00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00110" type="BRF00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRF00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座開設年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRF00130" type="BRF00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収の選択"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRG00000-1-0type">
<xsd:sequence>

<xsd:element name="BRG00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"支払状況明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRG00020" type="BRG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00030" type="BRG00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00040" type="BRG00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株（口）数又は額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00070" type="BRG00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRH00000-1-0type">
<xsd:sequence>

<xsd:element name="BRH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等譲渡所得割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定信用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRI00000-1-0type">
<xsd:sequence>

<xsd:element name="BRI00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"交付状況明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRI00020" type="BRI00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00030" type="BRI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00040" type="BRI00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定又は支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRJ00000-1-0type">
<xsd:sequence>

<xsd:element name="BRJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)公社債"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)株式、出資又は基金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)特定株式投資信託"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)投資信託又は特定受益証券発行信託"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)オープン型証券投資信託"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)国外公社債等、国外株式又は国外投資信託等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)還付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRJ00410">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRJ00420" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00430" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00440" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRJ00450" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BRA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BRB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BRD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BRF00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BRF00100-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BRF00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BRF00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BRG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRG00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRG00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRG00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRI00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRI00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRI00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRK00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BRA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRG00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRG00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRI00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRI00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
