etax/19XMLスキーマ/hoteishiryo/HSZ681-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：名義人受領の株式等の譲渡の対価の調書
version：1.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ681-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ681-1-0group">
<xsd:sequence>
<xsd:element name="HSZ681">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CVA00000" type="CVA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVB00000" type="CVB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CVD00000" type="CVD00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"株式等を所有していた者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00000" type="CVE00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"株式等の譲渡の対価明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVF00000" type="CVF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CVG00000" type="CVG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CVH00000" type="CVH00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ681-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CVD00000-1-0type">
<xsd:sequence>

<xsd:element name="CVD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CVE00000-1-0type">
<xsd:sequence>

<xsd:element name="CVE00010" type="CVE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00020" type="CVE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00040" type="CVE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00050" type="CVE00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株（口）数又は額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00070" type="CVE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合が支払を受けた株式等の譲渡の対価の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CVF00000-1-0type">
<xsd:sequence>

<xsd:element name="CVF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CVH00000-1-0type">
<xsd:sequence>

<xsd:element name="CVH00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVH00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVH00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CVH00040" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CVA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CVB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CVE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CVE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CVE00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CVE00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CVE00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CVG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CVA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CVA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CVE00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="CVE00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CVE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="CVE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
