etax/19XMLスキーマ/hoteishiryo/HSZ660-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：利子等の支払調書合計表
version：2.0
Date：2021年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ660-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ660-2-0group">
<xsd:sequence>
<xsd:element name="HSZ660">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BSA00000" type="BSA00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"調書の提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BSB00000" type="BSB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BSC00000" type="gen:NENGETSUBUNref">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BSF00000" type="BSF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BSG00000" type="BSG00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出媒体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSH00000" type="BSH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店一括"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSI00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成担当者"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BSJ00000" type="BSJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00000" type="BSK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BSL00000" type="BSL00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ660-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BSB00000-2-0type">
<xsd:sequence>

<xsd:element name="BSB00010" type="BSB00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSF00000-2-0type">
<xsd:sequence>

<xsd:element name="BSF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00020" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSF00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSF00070" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00080" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSJ00000-2-0type">
<xsd:sequence>

<xsd:element name="BSJ00010" type="BSJ00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSJ00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSJ00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSK00000-2-0type">
<xsd:sequence>

<xsd:element name="BSK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00030" type="BSK00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00050" type="BSK00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSK00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00090" type="BSK00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00110" type="BSK00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSK00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00150" type="BSK00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00170" type="BSK00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSK00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税又は免税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00210" type="BSK00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00230" type="BSK00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSK00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00260" type="BSK00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSK00280" type="BSK00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSK00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BSA00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BSB00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BSG00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="30"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BSH00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BSJ00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00170-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00230-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSK00280-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSL00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BSB00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSK00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSK00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
