etax/19XMLスキーマ/hoteishiryo/HSZ621-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　無記名割引債の償還金の支払調書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ621-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ621-1-0group">
<xsd:sequence>
<xsd:element name="HSZ621">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EFA00000" type="EFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00000" type="EFB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000621-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFE00000" type="EFE00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"無記名割引債の償還金明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EFF00000" type="EFF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000621-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ621-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000621-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EFE00000-1-0type">
<xsd:sequence>

<xsd:element name="EFE00010" type="EFE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFE00020" type="EFE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号・番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（無記名割引債の発行価額との差額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000621-1-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EFA00000-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EFB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EFE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EFE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EFF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EFA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="EFA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
