etax/19XMLスキーマ/hoteishiryo/HSZ620-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：無記名割引債の償還金の支払調書合計表
version：3.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ620-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ620-3-0group">
<xsd:sequence>
<xsd:element name="HSZ620">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EGJ00000" type="EGJ00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"調書の提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000620-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABC00000" type="gen:NENBUNref">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000620-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGK00000" type="EGK00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出媒体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGL00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成担当者"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EGM00000" type="EGM00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00000" type="EGH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGI00000" type="EGI00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ620-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000620-3-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000620-3-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGM00000-3-0type">
<xsd:sequence>

<xsd:element name="EGM00010" type="EGM00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGM00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGM00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGH00000-3-0type">
<xsd:sequence>

<xsd:element name="EGH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住者又は内国法人に支払うもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00020" type="EGH00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00040" type="EGH00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非居住者又は外国法人に支払うもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00070" type="EGH00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00090" type="EGH00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGH00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00120" type="EGH00120-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGH00140" type="EGH00140-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="EGJ00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EGK00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="30"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EGM00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00070-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00090-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00120-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGH00140-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGI00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ABB00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00120-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00120-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EGH00140-3-0type">
<xsd:simpleContent>
<xsd:extension base="EGH00140-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
