etax/19XMLスキーマ/hoteishiryo/HSZ732-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定口座年間取引報告書(平成22年分以降用)
version：2.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ732-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ732-2-0group">
<xsd:sequence>
<xsd:element name="HSZ732">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AAA00000" type="AAA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00000" type="AAB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEA00000" type="FEA00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FEC00000" type="FEC00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"特定口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00000" type="FED00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の支払状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00000" type="FEE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る年間取引損益及び源泉徴収税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00000" type="FEF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の交付状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00000" type="FEG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額及び源泉徴収税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FEH00000" type="FEH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ732-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FEC00000-2-0type">
<xsd:sequence>

<xsd:element name="FEC00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出時の住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00030">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEC00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00050" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEC00110" type="FEC00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保管"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00120" type="FEC00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00130" type="FEC00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座開設年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEC00090" type="FEC00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収の選択"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FED00000-2-0type">
<xsd:sequence>

<xsd:element name="FED00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"支払状況明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FED00020" type="FED00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00030" type="FED00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00040" type="FED00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FED00070" type="FED00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FEE00000-2-0type">
<xsd:sequence>

<xsd:element name="FEE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等譲渡所得割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00045" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00055" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定信用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FEF00000-2-0type">
<xsd:sequence>

<xsd:element name="FEF00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"交付状況明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEF00020" type="FEF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00030" type="FEF00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00040" type="FEF00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEF00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定又は支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FEG00000-2-0type">
<xsd:sequence>

<xsd:element name="FEG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)株式、出資又は基金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)投資信託又は特定受益証券発行信託"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)オープン型証券投資信託"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)国外株式、国外投資信託等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)還付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEG00330">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEG00340" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00350" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEG00360" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AAA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FEA00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FEC00110-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FEC00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FEC00130-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FEC00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FED00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FED00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FED00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FED00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FEF00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FEF00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FEF00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FEH00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AAA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="AAA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FED00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FED00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FEF00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FEF00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
