etax/19XMLスキーマ/hoteishiryo/HSZ781-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：信託に関する受益者別(委託者別)調書(改正信託法対応)
version：1.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ781-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ781-1-0group">
<xsd:sequence>
<xsd:element name="HSZ781">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HBA00000" type="HBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00000" type="HBB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HBC00000" type="HBC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBD00000" type="HBD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定委託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBE00000" type="HBE00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"委託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HBF00000" type="HBF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBG00000" type="HBG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBH00000" type="HBH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造・数量等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBJ00000" type="HBJ00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託に関する権利の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HBK00000" type="HBK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託の期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HBL00000" type="HBL00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBM00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBN00000" type="HBN00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HBO00000" type="HBO00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBP00000" type="HBP00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"受託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ781-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HBC00000-1-0type">
<xsd:sequence>

<xsd:element name="HBC00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBD00000-1-0type">
<xsd:sequence>

<xsd:element name="HBD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBE00000-1-0type">
<xsd:sequence>

<xsd:element name="HBE00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBE00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBK00000-1-0type">
<xsd:sequence>

<xsd:element name="HBK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBO00000-1-0type">
<xsd:sequence>

<xsd:element name="HBO00010" type="HBO00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBO00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBP00000-1-0type">
<xsd:sequence>

<xsd:element name="HBP00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBP00020" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所（居所）電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBP00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の所在地等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBP00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の所在地等電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBP00050" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HBA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HBB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HBF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBJ00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBL00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBN00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBO00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HBA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
