etax/19XMLスキーマ/hoteishiryo/HSZ751-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　非居住者等に支払われる組合契約に基づく利益の支払調書
version：2.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ751-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ751-2-0group">
<xsd:sequence>
<xsd:element name="HSZ751">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GDA00000" type="GDA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00000" type="GDB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDD00000" type="GDD00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GDE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDH00000" type="GDH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益分配割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDI00000" type="GDI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GDJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDK00000" type="GDK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GDL00000" type="GDL00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDM00000" type="GDM00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDN00000" type="GDN00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GDO00000" type="GDO00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(摘要)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDP00000" type="GDP00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ751-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GDD00000-2-0type">
<xsd:sequence>

<xsd:element name="GDD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"居所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GDI00000-2-0type">
<xsd:sequence>

<xsd:element name="GDI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GDK00000-2-0type">
<xsd:sequence>

<xsd:element name="GDK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GDM00000-2-0type">
<xsd:sequence>

<xsd:element name="GDM00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDM00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GDN00000-2-0type">
<xsd:sequence>

<xsd:element name="GDN00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDN00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GDP00000-2-0type">
<xsd:sequence>

<xsd:element name="GDP00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDP00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDP00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GDA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GDB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GDH00000-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDL00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDO00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GDA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDH00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="GDH00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
