etax/19XMLスキーマ/hoteishiryo/HSZ761-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：有限責任事業組合等に係る組合員所得に関する計算書(自__年__月__日　至__年__月__日)
version：4.0
Date：2015年04月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ761-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ761-4-0group">
<xsd:sequence>
<xsd:element name="HSZ761">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GFA00000" type="GFA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00000" type="GFB00000-4-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFC00000" type="GFC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00000" type="GFD00000-4-0type">
<xsd:annotation>
<xsd:appinfo>"組合員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFE00000" type="GFE00000-4-0type">
<xsd:annotation>
<xsd:appinfo>"組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFF00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有限責任事業組合の会計帳簿を作成した組合員又は投資事業有限責任組合の業務を執行する無限責任組合員(氏名又は名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFQ00000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有限責任事業組合の会計帳簿を作成した組合員又は投資事業有限責任組合の業務を執行する無限責任組合員(個人番号又は法人番号)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFH00000" type="GFH00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFI00000" type="GFI00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFJ00000" type="GFJ00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFK00000" type="GFK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益分配割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFL00000" type="GFL00000-4-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"当該計算期間における分配額　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFM00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各計算期間における分配額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFN00000" type="GFN00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益及び費用の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFO00000" type="GFO00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産及び負債の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFP00000" type="GFP00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(摘要)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ761-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GFC00000-4-0type">
<xsd:sequence>

<xsd:element name="GFC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFD00000-4-0type">
<xsd:sequence>

<xsd:element name="GFD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所(居所)又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFE00000-4-0type">
<xsd:sequence>

<xsd:element name="GFE00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFE00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFE00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFI00000-4-0type">
<xsd:sequence>

<xsd:element name="GFI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該組合員分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全組合員分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFL00000-4-0type">
<xsd:sequence>

<xsd:element name="GFL00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFL00030" type="GFL00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFN00000-4-0type">
<xsd:sequence>

<xsd:element name="GFN00010" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"収益　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFN00020" type="GFN00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益及び費用の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の額及び費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFN00040" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"費用　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFN00050" type="GFN00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益及び費用の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFN00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の額及び費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFO00000-4-0type">
<xsd:sequence>

<xsd:element name="GFO00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFO00020" type="GFO00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産及び負債の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFO00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の額及び負債の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFO00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFO00050" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"負債　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFO00060" type="GFO00060-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産及び負債の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFO00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の額及び負債の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFO00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFO00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の合計－負債の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GFA00000-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GFB00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GFH00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFJ00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFK00000-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFL00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFN00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFN00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFO00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFO00060-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFP00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GFA00000-4-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00000-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFK00000-4-0type">
<xsd:simpleContent>
<xsd:extension base="GFK00000-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
