etax/19XMLスキーマ/hoteishiryo/HSZ891-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：結婚・子育て資金管理契約の終了に関する調書
version：1.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ891-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ891-1-0group">
<xsd:sequence>
<xsd:element name="HSZ891">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BNA00000" type="BNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="BNB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BNC00000" type="BNC00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"受贈者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00000" type="BND00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"贈与者　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00000" type="BNE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"結婚・子育て資金管理契約に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00000" type="BNF00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"管理残額に関する事項　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00000" type="BNG00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"当該結婚・子育て資金管理契約に関して既に提出した申告書　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNH00000" type="BNH00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"取扱金融機関の営業所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BNI00000" type="BNI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(摘要)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ891-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNC00000-1-0type">
<xsd:sequence>

<xsd:element name="BNC00010">
<xsd:annotation>
<xsd:appinfo>"（ふりがな）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00030" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNC00040" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00050" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BND00000-1-0type">
<xsd:sequence>

<xsd:element name="BND00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNE00000-1-0type">
<xsd:sequence>

<xsd:element name="BNE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00020" type="BNE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税拠出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"結婚・子育て資金支出額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理残額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNF00000-1-0type">
<xsd:sequence>

<xsd:element name="BNF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡した贈与者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNG00000-1-0type">
<xsd:sequence>

<xsd:element name="BNG00010" type="BNG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書の種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00020" type="BNG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先の税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNH00000-1-0type">
<xsd:sequence>

<xsd:element name="BNH00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNH00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNH00030" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BNA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BNB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BNE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNG00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BNA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
