etax/19XMLスキーマ/hoteishiryo/HSZ871-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国外証券移管等調書
version：3.0
Date：2020年09月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ871-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ871-3-0group">
<xsd:sequence>
<xsd:element name="HSZ871">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BFA00000" type="BFA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00000" type="BFB00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BFD00000" type="BFD00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"国外証券移管者又は受入者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFE00000" type="BFE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外証券移管等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外証券移管等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外証券移管等の相手方の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFH00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の金融商品取引業者等の営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFI00000" type="BFI00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外証券移管等に係る相手国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BFJ00000" type="BFJ00000-3-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFK00000" type="BFK00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管等の原因となる取引又は行為の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFL00000" type="BFL00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（備考）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BFM00000" type="BFM00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00000" type="BFN00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ871-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BFD00000-3-0type">
<xsd:sequence>

<xsd:element name="BFD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFD00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFJ00000-3-0type">
<xsd:sequence>

<xsd:element name="BFJ00010" type="BFJ00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFJ00020" type="BFJ00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFJ00030" type="BFJ00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFJ00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外貨額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFM00000-3-0type">
<xsd:sequence>

<xsd:element name="BFM00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFM00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFM00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFM00040" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFN00000-3-0type">
<xsd:sequence>

<xsd:element name="BFN00010" type="BFN00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管等の原因となる取引又は行為の内容　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00020" type="BFN00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券（１）　金額　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00030" type="BFN00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券（２）　金額　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00040" type="BFN00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券（３）　金額　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00050" type="BFN00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券（４）　金額　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00060" type="BFN00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外移管等をした有価証券（５）　金額　外貨名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引口座"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFN00080" type="BFN00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00090" type="BFN00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFN00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外証券移管等の相手方"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFN00110" type="BFN00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名　コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引口座等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFN00130" type="BFN00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等　支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00140" type="BFN00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFN00150" type="BFN00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BFA00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BFB00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BFE00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BFI00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFJ00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFJ00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFJ00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFK00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFL00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00140-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFN00150-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BFA00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="BFA00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BFJ00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="BFJ00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
