etax/19XMLスキーマ/hoteishiryo/HSZ831-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：生命保険契約等の年金の支払調書
version：4.0
Date：2020年09月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ831-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ831-4-0group">
<xsd:sequence>
<xsd:element name="HSZ831">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FFA00000" type="FFA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00000" type="FFB00000-4-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000831-4-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FFE00000" type="FFE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FFF00000" type="FFF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FFG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額に対応する保険料又は掛金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FFJ00000" type="FFJ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00000" type="FFK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続等生命保険年金に該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FFL00000" type="FFL00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000831-4-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ831-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000831-4-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFM10000" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FFF00000-4-0type">
<xsd:sequence>

<xsd:element name="FFF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FFJ00000-4-0type">
<xsd:sequence>

<xsd:element name="FFJ00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFJ00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FFK00000-4-0type">
<xsd:sequence>

<xsd:element name="FFK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00020" type="FFK00020-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残存期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00030" type="FFK00030-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払開始日年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00040" type="FFK00040-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00050" type="FFK00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額又は支払総額見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00070" type="FFK00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額等のうちに保険料又は掛金額の占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金に係る権利について相続税法第24条の規定により評価された額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000831-4-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFN10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FFA00000-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FFB00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FFE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFK00020-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFK00030-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFK00040-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFK00050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFK00070-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFL00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FFA00000-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00000-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFK00020-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFK00020-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFK00030-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFK00030-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFK00040-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFK00040-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFK00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFK00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFK00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="FFK00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
