etax/19XMLスキーマ/hoteishiryo/HSZ840-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：損害保険契約等の年金の支払調書合計表
version：4.0
Date：2021年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ840-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ840-4-0group">
<xsd:sequence>
<xsd:element name="HSZ840">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FKJ00000" type="FKJ00000-4-0Rtype">
<xsd:annotation>
<xsd:appinfo>"調書の提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABB00000" type="ABB00000840-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABC00000" type="gen:NENBUNref">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKD00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ABF00000" type="ABF00000840-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FKK00000" type="FKK00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出媒体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKO00000" type="FKO00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店一括"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKL00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成担当者"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FKM00000" type="FKM00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00000" type="FKH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FKI00000" type="FKI00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ840-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABB00000840-4-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="ABB00010-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000840-4-0type">
<xsd:sequence>

<xsd:element name="ABF00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKN10000" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00060" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FKM00000-4-0type">
<xsd:sequence>

<xsd:element name="FKM00010" type="FKM00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKM00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKM00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FKH00000-4-0type">
<xsd:sequence>

<xsd:element name="FKH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住者又は内国法人に支払うもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00030" type="FKH00030-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FKH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00070" type="FKH00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FKH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非居住者又は外国法人に支払うもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00120" type="FKH00120-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FKH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00160" type="FKH00160-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FKH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額（支払調書提出省略分を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00210" type="FKH00210-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FKH00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち、支払調書を提出するものの合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FKH00250" type="FKH00250-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FKH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FKJ00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABB00010-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FKK00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="30"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FKO00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FKM00010-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00030-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00070-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00120-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00160-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00210-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKH00250-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FKI00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ABB00010-4-0type">
<xsd:simpleContent>
<xsd:extension base="ABB00010-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00030-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00030-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00120-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00120-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00160-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00160-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00210-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00210-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FKH00250-4-0type">
<xsd:simpleContent>
<xsd:extension base="FKH00250-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
