etax/19XMLスキーマ/hoteishiryo/HSZ801-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：名義人受領の株式等の譲渡の対価の調書
version：2.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ801-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ801-2-0group">
<xsd:sequence>
<xsd:element name="HSZ801">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HFA00000" type="HFA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFB00000" type="HFB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00000" type="gen:NENGETSUBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HFD00000" type="HFD00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"株式等を所有していた者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00000" type="HFE00000-2-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"株式等の譲渡の対価明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFF00000" type="HFF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HFG00000" type="HFG00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HFH00000" type="HFH00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ801-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HFD00000-2-0type">
<xsd:sequence>

<xsd:element name="HFD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HFE00000-2-0type">
<xsd:sequence>

<xsd:element name="HFE00010" type="HFE00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00020" type="HFE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00040" type="HFE00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00060" type="HFE00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合が支払を受けた株式等の譲渡の対価の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HFF00000-2-0type">
<xsd:sequence>

<xsd:element name="HFF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HFH00000-2-0type">
<xsd:sequence>

<xsd:element name="HFH00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFH00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFH00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HFA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HFB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HFE00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HFE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HFE00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HFE00060-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HFG00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HFA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="HFA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HFE00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="HFE00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HFE00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="HFE00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
