etax/19XMLスキーマ/hoteishiryo/HSZ841-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　損害保険契約等の年金の支払調書
version：2.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ841-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ841-2-0group">
<xsd:sequence>
<xsd:element name="HSZ841">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FGA00000" type="FGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00000" type="FGB00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000841-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FGE00000" type="FGE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FGF00000" type="FGF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FGG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払金額に対応する保険料又は掛金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FGJ00000" type="FGJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00000" type="FGK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続等損害保険年金に該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FGL00000" type="FGL00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAK00000" type="AAK00000841-2-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ841-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAD00000841-2-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FGF00000-2-0type">
<xsd:sequence>

<xsd:element name="FGF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FGJ00000-2-0type">
<xsd:sequence>

<xsd:element name="FGJ00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FGK00000-2-0type">
<xsd:sequence>

<xsd:element name="FGK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の支払開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00020" type="FGK00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残存期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00030" type="FGK00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払開始日年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00040" type="FGK00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00050" type="FGK00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証期間年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額又は支払総額見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00070" type="FGK00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払総額等のうちに保険料又は掛金額の占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金に係る権利について相続税法第24条の規定により評価された額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000841-2-0type">
<xsd:sequence>

<xsd:element name="AAK00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FGA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FGB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FGE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGK00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGK00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGK00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGK00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGK00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGL00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FGA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGK00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGK00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGK00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGK00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGK00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGK00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGK00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGK00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGK00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGK00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
