etax/19XMLスキーマ/hoteishiryo/HSZ922-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税口座年間取引報告書・未成年者口座年間取引報告書
version：3.0
Date：2021年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ922-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ922-3-0group">
<xsd:sequence>
<xsd:element name="HSZ922">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JGA00000" type="JGA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00000" type="JGB00000-3-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGD00000" type="JGD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGE00000" type="JGE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGF00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JGG00000" type="JGG00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00000" type="JGH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の上場株式等の取得及び譲渡等の状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00000" type="JGI00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の配当等の交付状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00000" type="JGJ00000-3-0type">
<xsd:annotation>
<xsd:appinfo>"（課税対象所得等の状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="JGK00000" type="JGK00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JGL00000" type="JGL00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ922-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JGG00000-3-0type">
<xsd:sequence>

<xsd:element name="JGG00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGG00020">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGG00040" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGG00060" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGG00110" type="JGG00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGH00000-3-0type">
<xsd:sequence>

<xsd:element name="JGH00010" minOccurs="0" maxOccurs="16">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等、満期移管上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00040" type="JGH00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00050" type="JGH00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00060" type="JGH00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00070" type="JGH00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00100" type="JGH00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"払出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00120" type="JGH00120-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGH00140" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"合計　__年分非課税（継続）管理・累積投資勘定　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等、満期移管上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00160" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGH00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGH00190" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGH00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGI00000-3-0type">
<xsd:sequence>

<xsd:element name="JGI00010" minOccurs="0" maxOccurs="16">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGI00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00030" type="JGI00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00040" type="JGI00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00050" type="JGI00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGJ00000-3-0type">
<xsd:sequence>

<xsd:element name="JGJ00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約不履行等事由が生じた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象となる配当等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式配当等控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGJ00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税未成年者口座内の預貯金及び預り金の残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象となる譲渡所得等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額及び譲渡に要した費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGJ00130">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGJ00140" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00150" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00160" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGJ00170" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGL00000-3-0type">
<xsd:sequence>

<xsd:element name="JGL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業界コード"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGL00030" type="JGL00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00040" type="JGL00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券会社コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00050" type="JGL00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGL00060" type="JGL00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGL00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGL00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税口座(未成年者口座)異動届出書等(１)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGL00090" type="JGL00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなされることとなった等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGL00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税口座(未成年者口座)異動届出書等(２)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGL00140" type="JGL00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGL00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなされることとなった等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JGA00000-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JGB00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JGD00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JGE00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGG00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00070-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGH00120-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGI00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGI00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGI00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGK00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGL00140-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JGA00000-3-0type">
<xsd:simpleContent>
<xsd:extension base="JGA00000-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGH00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="JGH00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGH00120-3-0type">
<xsd:simpleContent>
<xsd:extension base="JGH00120-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
