etax/19XMLスキーマ/hoteishiryo/HSZ910-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：財産債務調書(及び同合計表)
version：3.0
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ910-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ910-3-0group">
<xsd:sequence>
<xsd:element name="HSZ910">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSZ910-1" type="HSZ910-1-3-0type">
<xsd:annotation>
<xsd:appinfo>"財産債務調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSZ910-2" type="HSZ910-2-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産債務調書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ910-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HSZ910-1-3-0type">
<xsd:sequence>

<xsd:element name="BOA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOD00020" type="BOD00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOD00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOD00065" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00070" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00090" type="gen:SEIBETSUref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00100" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00120" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOD00130" type="BOD00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産調書の提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券(特定有価証券を除く)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非上場株式"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式以外の有価証券"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00155" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"匿名組合契約の出資の持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未決済信用取引等に係る権利"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未決済デリバティブ取引に係る権利"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書画骨とう美術工芸品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貴金属類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険の契約に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預託金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等に対する出資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無体財産権"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00365" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮想通貨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産調書に記載した国外財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産調書に記載した国外転出特例対象財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外転出特例対象財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOG00000" type="BOG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HSZ910-2-3-0type">
<xsd:sequence>

<xsd:element name="BOI00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産債務を有する者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00020" type="BOJ00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00065" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOK00000" minOccurs="0" maxOccurs="18">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOK00010" type="BOK00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産債務の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00020" type="BOK00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00030" type="BOK00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOK00060" type="BOK00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00070" type="BOK00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(上段は有価証券等の取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額又は債務の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOK00100" type="BOK00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産調書に記載した国外財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち国外転出特例対象財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産調書に記載した国外財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOL00030" type="BOL00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOM00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BON00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOO00000" type="BOO00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(摘要)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="BOD00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOD00130-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOG00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOK00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="19"/><xsd:enumeration value="20"/><xsd:enumeration value="21"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOK00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOK00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOK00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOK00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOK00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOL00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOO00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
