etax/19XMLスキーマ/hoteishiryo/HSZ900-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国外財産調書(及び同合計表)
version：1.0
Date：2013年09月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ900-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ900-1-0group">
<xsd:sequence>
<xsd:element name="HSZ900">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSZ900-1" type="HSZ900-1-1-0type">
<xsd:annotation>
<xsd:appinfo>"国外財産調書合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSZ900-2" type="HSZ900-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"国外財産調書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ900-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HSZ900-1-1-0type">
<xsd:sequence>

<xsd:element name="JAA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAD00020" type="JAD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAD00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAD00070" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00090" type="gen:SEIBETSUref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00100" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00120" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAD00130" type="JAD00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産及び債務の明細書の提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書画骨とう美術工芸品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貴金属類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険の契約に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預託金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等に対する出資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託に関する権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無体財産権"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00190" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"その他の財産余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAE00200" type="JAE00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAF00000" type="JAF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAG00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAG00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HSZ900-2-1-0type">
<xsd:sequence>

<xsd:element name="JAH00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産を有する者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAI00020" type="JAI00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAI00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAI00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAI00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAI00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAJ00000" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAJ00010" type="JAJ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00020" type="JAJ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00030" type="JAJ00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAJ00060" type="JAJ00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00070" type="JAJ00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAJ00090" type="JAJ00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JAK00010" type="JAK00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JAL00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JAM00000" type="JAM00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(摘要)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="JAD00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JAD00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JAE00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JAF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="360"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JAI00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JAJ00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JAJ00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JAJ00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JAJ00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JAJ00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JAJ00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JAK00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JAM00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="180"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
