etax/19XMLスキーマ/hoteishiryo/HSZ921-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税口座年間取引報告書・未成年者口座年間取引報告書
version：1.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ921-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ921-1-0group">
<xsd:sequence>
<xsd:element name="HSZ921">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JDA00000" type="JDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDB00000" type="JDB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDD00000" type="JDD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDE00000" type="JDE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDF00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JDG00000" type="JDG00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00000" type="JDH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の上場株式等の取得及び譲渡等の状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00000" type="JDI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の配当等の交付状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00000" type="JDJ00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"（課税対象所得等の状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="JDK00000" type="JDK00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ921-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JDG00000-1-0type">
<xsd:sequence>

<xsd:element name="JDG00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00020">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00040" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00060" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年～29年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDG00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準日の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDG00100" type="JDG00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDG00110" type="JDG00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成30年～35年分　整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JDH00000-1-0type">
<xsd:sequence>

<xsd:element name="JDH00010" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00040" type="JDH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00050" type="JDH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00060" type="JDH00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00090" type="JDH00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"払出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00110" type="JDH00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDH00130" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"合計　__年分非課税（継続）管理勘定　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00150" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDH00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDH00180" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JDI00000-1-0type">
<xsd:sequence>

<xsd:element name="JDI00010" minOccurs="0" maxOccurs="16">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDI00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00030" type="JDI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00040" type="JDI00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JDJ00000-1-0type">
<xsd:sequence>

<xsd:element name="JDJ00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約不履行等事由が生じた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象となる配当等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税未成年者口座内の預貯金及び預り金の残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象となる譲渡所得等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額及び譲渡に要した費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JDJ00130">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JDJ00140" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00150" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00160" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JDJ00170" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JDA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JDB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JDD00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JDE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDG00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDG00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDH00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDH00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDH00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDI00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDI00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JDK00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JDA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="JDA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JDH00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="JDH00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JDH00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="JDH00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
