etax/19XMLスキーマ/hoteishiryo/HSZ923-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税口座年間取引報告書・未成年者口座年間取引報告書
version：1.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ923-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ923-1-0group">
<xsd:sequence>
<xsd:element name="HSZ923">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DFA00000" type="DFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFB00000" type="DFB00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFD00000" type="DFD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFE00000" type="DFE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFF00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DFG00000" type="DFG00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00000" type="DFH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の上場株式等の取得及び譲渡等の状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00000" type="DFI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（口座内の配当等の交付状況）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFJ00000" type="DFJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その年12月31日に受け入れている上場株式等の購入の代価の額に相当する金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00000" type="DFK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その他）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DFL00000" type="DFL00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DFM00000" type="DFM00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00000" type="DFN00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他CSV項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ923-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DFG00000-1-0type">
<xsd:sequence>

<xsd:element name="DFG00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFG00020">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFG00040" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFG00060" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFG00070" type="DFG00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFH00000-1-0type">
<xsd:sequence>

<xsd:element name="DFH00010" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等、満期移管上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00040" type="DFH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00050" type="DFH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00060" type="DFH00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00070" type="DFH00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00100" type="DFH00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"払出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00120" type="DFH00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFH00140" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"合計　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初取得等上場株式等、満期移管上場株式等又は分割等上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00160" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税（継続）管理・累積投資・特定累積投資勘定　取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非課税管理勘定　取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に払出しがあった上場株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFH00200" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税（継続）管理・累積投資・特定累積投資勘定　譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非課税管理勘定　譲渡対価の額又は払出し時の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFI00000-1-0type">
<xsd:sequence>

<xsd:element name="DFI00010" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFI00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00030" type="DFI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00040" type="DFI00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00050" type="DFI00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中に交付を受けた特別分配金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFJ00000-1-0type">
<xsd:sequence>

<xsd:element name="DFJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定累積投資勘定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非課税管理勘定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFK00000-1-0type">
<xsd:sequence>

<xsd:element name="DFK00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人の死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税口座廃止届出書に係る年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00030" type="DFK00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFK00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFK00080" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFK00090" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFM00000-1-0type">
<xsd:sequence>

<xsd:element name="DFM00010" type="gen:NOZEISHA_ADRref">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFM00020" type="gen:NOZEISHA_NMref">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFM00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFM00040" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DFN00000-1-0type">
<xsd:sequence>

<xsd:element name="DFN00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFN00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業界コード"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFN00030" type="DFN00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券会社コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00040" type="DFN00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFN00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFN00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)未成年者口座異動届出書等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFN00070" type="DFN00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更前の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなされることとなった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFN00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)未成年者口座異動届出書等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DFN00130" type="DFN00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更前の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DFN00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなされることとなった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DFA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DFB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DFD00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DFE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFG00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFH00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFI00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFI00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFI00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DFK00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DFL00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="280"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFN00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFN00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFN00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DFN00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DFA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DFA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DFH00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="DFH00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DFH00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="DFH00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
