etax/19XMLスキーマ/hoteishiryo/HSZ941-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hoteishiryo"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：住宅取得資金に係る借入金等の年末残高等調書
version：2.0
Date：2025年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HSZ941-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HSZ941-2-0group">
<xsd:sequence>
<xsd:element name="HSZ941">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FSA00000" type="FSA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払調書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00000" type="gen:NENBUNref">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSD00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSE00000" type="FSE00000-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"訂正削除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FSF00000" type="FSF00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSG00000" type="FSG00000-2-0type">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HSZ941-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FSF00000-2-0type">
<xsd:sequence>

<xsd:element name="FSF00010">
<xsd:annotation>
<xsd:appinfo>"住宅取得資金の借入れ等をしている者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSF00020" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00030" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00040" type="gen:yymmdd">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00050" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号（マイナンバー）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00060" type="gen:nozeisha-id" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"e-Tax利用者識別番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSF00070" type="FSF00070-2-0Rtype">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00080">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSF00090" type="gen:kingaku">
<xsd:annotation>
<xsd:appinfo>"年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00100">
<xsd:annotation>
<xsd:appinfo>"当初金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSF00110" type="gen:yymmdd">
<xsd:annotation>
<xsd:appinfo>"当初借入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00120" type="gen:kingaku">
<xsd:annotation>
<xsd:appinfo>"当初金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSF00130">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSF00140" type="gen:yymm">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00150" type="gen:yymm">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00160" type="FSF00160-2-0type">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00170" type="FSF00170-2-0type">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSF00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSF00190" type="FSF00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00200" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者名３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00230" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者名４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00240" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者名５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00250" type="FSF00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00260" type="FSF00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00270" type="FSF00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00280" type="FSF00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前払賃料融資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"融資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00300" type="FSF00300-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借換"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSF00310" type="FSF00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00320" type="gen:yymmdd">
<xsd:annotation>
<xsd:appinfo>"残高基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSF00330" type="gen:yymmdd">
<xsd:annotation>
<xsd:appinfo>"証明年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FSG00000-2-0type">
<xsd:sequence>

<xsd:element name="FSG00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSG00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSG00030" type="gen:tel-number">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSG00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FSA00000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FSE00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FSF00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FSF00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FSF00170-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FSF00190-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FSF00250-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FSF00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FSF00270-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FSF00280-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FSF00300-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FSF00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FSA00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="FSA00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FSF00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="FSF00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FSF00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="FSF00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FSF00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="FSF00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FSF00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="FSF00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
