etax/19XMLスキーマ/igimoshitate/EXZ010-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定退職金共済団体に関する承認申請書
version：3.0
Date：2009年12月08日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ010-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ010-3-0group">
<xsd:sequence>
<xsd:element name="EXZ010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXZ010-1" type="EXZ010-1-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定退職金共済団体に関する承認申請書(一面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXZ010-2" type="EXZ010-2-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"特定退職金共済団体に関する承認申請書の記載要領等(二面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ010-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EXZ010-1-3-0type">
<xsd:sequence>

<xsd:element name="AMA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00020" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00040" type="AMC00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人課税信託の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)退職金共済事業の責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職金共済事業の責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職金共済事業を開始しようとする年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時において退職金共済事業へ加入することの見込まれる事業者の数及び被共済者となることの見込まれるその従業員の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00010" type="AME00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00020" type="AME00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時における理事の総数のうち、その理事及びその理事と一定の特殊の関係にある者である理事の数が占める割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMF00010" type="AMF00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理事の総数(Ａ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMF00020" type="AMF00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「その理事及びその理事と一定の特殊の関係にある理事(左欄(１)～(６))」のグループのうち最も人数が多いグループの人数(Ｂ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMF00030" type="AMF00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(Ｂ／Ａ)＊100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認の取消しを受けたことがある場合には、その取消し通知を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別途提出する書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMH00010" type="AMH00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．退職金共済規程"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMH00020" type="AMH00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．定款の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMH00030" type="AMH00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．退職金共済事業目論見書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMH00040" type="AMH00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．退職金共済事業以外に営む業務の説明書及び退職金共済事業が主であることの説明書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMH00050" type="AMH00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．退職金共済規程の基となる条例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMI00000" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="EXZ010-2-3-0type">
<xsd:sequence>

<xsd:element name="AMJ00000" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"理事の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMJ00010" type="AMJ00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMJ00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMJ00040" type="AMJ00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMJ00050" type="AMJ00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMJ00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就任年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="AMC00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AME00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AME00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AMF00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AMF00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AMF00030-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AMH00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AMH00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AMH00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AMH00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AMH00050-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AMJ00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AMJ00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AMJ00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AME00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="AME00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AME00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="AME00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AMF00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="AMF00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AMF00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="AMF00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AMF00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="AMF00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AMJ00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="AMJ00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
