etax/19XMLスキーマ/igimoshitate/EXZ060-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：口頭意見陳述の申立書
version：2.0
Date：2015年11月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ060-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ060-2-0group">
<xsd:sequence>
<xsd:element name="EXZ060">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ACA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署（国税局）名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ACC00000" type="ACC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00000" type="ACD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人又は参加人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ACE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求を提出した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ060-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ACC00000-2-0type">
<xsd:sequence>

<xsd:element name="ACC00010" type="ACC00010-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00030" type="ACC00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACD00000-2-0type">
<xsd:sequence>

<xsd:element name="ACD00010" type="ACD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00020" type="ACD00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(居所)又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00030" type="ACD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00040" type="ACD00040-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ACC00010-2-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>

<xsd:complexType name="ACC00010-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="ACC00010-2-0Rtype">
            <xsd:attribute name="IDREF" type="ACC00010-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="ACC00010-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="NOZEISHA_ADR"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00030-2-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>

<xsd:complexType name="ACC00030-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="ACC00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="ACC00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="ACC00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="NOZEISHA_NM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00020-2-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>

<xsd:complexType name="ACD00020-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="ACD00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="ACD00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="ACD00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="NOZEISHA_ADR"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00040-2-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>

<xsd:complexType name="ACD00040-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="ACD00040-2-0Rtype">
            <xsd:attribute name="IDREF" type="ACD00040-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="ACD00040-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="NOZEISHA_NM"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ACD00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
