etax/19XMLスキーマ/igimoshitate/EXZ070-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：補佐人帯同許可申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ070-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ070-1-0group">
<xsd:sequence>
<xsd:element name="EXZ070">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ADA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署（提出先国税局）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADC00000" type="ADC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議申立人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADD00000" type="ADD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人帯同許可申請人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00000" type="ADE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人とする者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00000" type="ADF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人を帯同する意見陳述の日時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ADG00000" type="ADG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人を帯同する理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADH00000" type="ADH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．異議申立人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ADI00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．異議申立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADJ00000" type="ADJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．異議申立てに係る処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ070-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADD00000-1-0type">
<xsd:sequence>

<xsd:element name="ADD00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADD00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADE00000-1-0type">
<xsd:sequence>

<xsd:element name="ADE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00030" type="ADE00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00040" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00050" type="ADE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請人との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADF00000-1-0type">
<xsd:sequence>

<xsd:element name="ADF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00020" type="ADF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"午前午後区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00030" type="ADF00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADH00000-1-0type">
<xsd:sequence>

<xsd:element name="ADH00010" type="ADH00010-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADH00030" type="ADH00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADJ00000-1-0type">
<xsd:sequence>

<xsd:element name="ADJ00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADJ00020" type="ADJ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ADC00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADE00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ADF00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADF00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADH00010-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="ADH00010-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ADH00010-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="ADH00030-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="ADH00030-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ADH00030-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="ADJ00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ADE00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ADE00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ADF00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ADF00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
