etax/19XMLスキーマ/igimoshitate/EXZ160-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：再調査の請求人の地位承継届出書
version：2.0
Date：2015年11月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ160-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ160-2-0group">
<xsd:sequence>
<xsd:element name="EXZ160">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AIA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署（提出先国税局）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AIC00000" type="AIC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人地位承継人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AID00000" type="AID00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人の地位を承継する資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AIE00000" type="AIE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類(当該権利の承継又は合併の事実を証する書面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AIF00000" type="AIF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．再調査の請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AIG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．再調査の請求年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AIH00000" type="AIH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．再調査の請求に係る処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ160-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AIC00000-2-0type">
<xsd:sequence>

<xsd:element name="AIC00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AID00000-2-0type">
<xsd:sequence>

<xsd:element name="AID00010" type="AID00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人の地位を承継する資格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AID00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併後存続する・合併により設立した"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AID00030" type="AID00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併後存続する・合併により設立した区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AIF00000-2-0type">
<xsd:sequence>

<xsd:element name="AIF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIF00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AIH00000-2-0type">
<xsd:sequence>

<xsd:element name="AIH00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIH00020" type="AIH00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AID00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AID00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AIE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AIH00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
