etax/19XMLスキーマ/igimoshitate/EXZ170-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：再調査の請求参加許可申請書
version：3.0
Date：2024年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ170-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ170-3-0group">
<xsd:sequence>
<xsd:element name="EXZ170">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AKA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署（提出先国税局）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AKC00000" type="AKC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加許可申請人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AKD00000" type="AKD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加する理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AKE00000" type="AKE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．再調査の請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKG00000" type="AKG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．再調査の請求に係る処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ170-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AKC00000-3-0type">
<xsd:sequence>

<xsd:element name="AKC00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKC00030" type="AKC00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AKE00000-3-0type">
<xsd:sequence>

<xsd:element name="AKE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AKG00000-3-0type">
<xsd:sequence>

<xsd:element name="AKG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKG00020" type="AKG00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AKC00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="gen:bango">
            <xsd:attribute name="IDREF" type="AKC00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="AKC00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="NOZEISHA_BANGO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKD00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKG00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
