etax/19XMLスキーマ/igimoshitate/EXZ110-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：総代選任・解任届出書
version：4.0
Date：2016年09月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ110-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ110-4-0group">
<xsd:sequence>
<xsd:element name="EXZ110">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AFA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署（国税局）名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00000" type="AFC00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任解任区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AFD00000" type="AFD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AFE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00000" type="AFF00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00000" type="AFG00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任解任届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AFH00000" type="AFH00000-4-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"総代　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ110-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AFD00000-4-0type">
<xsd:sequence>

<xsd:element name="AFD00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（住所又は所在地）（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（納税地）（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（氏名又は名称）（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00035" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（法人番号）（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（住所又は所在地）（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（納税地）（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（氏名又は名称）（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00065" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人（法人番号）（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00070" type="AFD00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFH00000-4-0type">
<xsd:sequence>

<xsd:element name="AFH00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代（住所又は所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFH00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代（納税地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFH00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代（氏名又は名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFH00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代（電話番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AFC00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AFD00070-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AFF00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AFG00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="AFD00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="AFD00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
