etax/19XMLスキーマ/igimoshitate/EXZ130-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns="http://xml.e-tax.nta.go.jp/XSD/igimoshitate"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代理人の選任・解任届出書
version：2.0
Date：2015年11月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="EXZ130-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="EXZ130-2-0group">
<xsd:sequence>
<xsd:element name="EXZ130">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AGA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署（提出先国税局）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AGC00000" type="AGC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再調査の請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00000" type="AGD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任・解任"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00000" type="AGE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="EXZ130-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AGC00000-2-0type">
<xsd:sequence>

<xsd:element name="AGC00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGD00000-2-0type">
<xsd:sequence>

<xsd:element name="AGD00010" type="AGD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任書・解任届出書区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00020" type="AGD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任・解任届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委任事項年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00040" type="AGD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委任事項内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGE00000-2-0type">
<xsd:sequence>

<xsd:element name="AGE00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(居所)又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00030" type="AGE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00060" type="AGE00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資格がある場合の資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AGD00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AGD00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AGD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGE00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
