etax/19XMLスキーマ/zeirishishiken/ZEZ050-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/zeirishishiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/zeirishishiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第__回税理士試験受験申込書
version：2.0
Date：2019年03月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="ZEZ050-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="ZEZ050-2-0group">
<xsd:sequence>
<xsd:element name="ZEZ050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申込書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="ZEZ050-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-2-0type">
<xsd:sequence>

<xsd:element name="AEA00010" type="AEA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿回"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入力項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00010" type="AEB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受験地1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00015" type="AEB00015-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受験地2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00240" type="AEB00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00250" type="AEB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00260" type="AEB00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00270" type="AEB00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00280" type="AEB00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ5"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00290" type="AEB00290-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ6"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00300" type="AEB00300-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ7"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00310" type="AEB00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ8"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00320" type="AEB00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ9"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00330" type="AEB00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ10"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00340" type="AEB00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ11"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00350" type="AEB00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00360" type="AEB00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ13"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00370" type="AEB00370-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ14"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00380" type="AEB00380-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ15"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00390" type="AEB00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ16"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00400" type="AEB00400-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ17"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00410" type="AEB00410-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名カナ18"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00032" type="AEB00032-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00034" type="AEB00034-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00035" type="AEB00035-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00036" type="AEB00036-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00037" type="AEB00037-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00038" type="AEB00038-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00039" type="AEB00039-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00040" type="AEB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00060" type="AEB00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿記"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00070" type="AEB00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00080" type="AEB00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00090" type="AEB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00100" type="AEB00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00110" type="AEB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00120" type="AEB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00130" type="AEB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国徴"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00140" type="AEB00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00150" type="AEB00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00160" type="AEB00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00170" type="AEB00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"富裕"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00180" type="AEB00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00191" type="AEB00191-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00192" type="AEB00192-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00193" type="AEB00193-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00194" type="AEB00194-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00195" type="AEB00195-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号5"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00196" type="AEB00196-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目合格通知番号6"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00201" type="AEB00201-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00202" type="AEB00202-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00203" type="AEB00203-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00204" type="AEB00204-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00205" type="AEB00205-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部科目免除通知番号5"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受験資格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00211" type="AEB00211-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受験資格１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00212" type="AEB00212-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受験資格２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00220" type="AEB00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00230" type="AEB00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学歴"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00010" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧姓"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改姓年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AED00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AED00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自宅電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日中の連絡先電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学歴"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00020" type="AEE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00030" type="AEE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学部・学科名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00060" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00070" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00080" type="AEE00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00090" type="AEE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修了、卒業、中退、在学中の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00110" type="AEE00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00120" type="AEE00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学部・学科名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00150" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00160" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00170" type="AEE00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00180" type="AEE00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修了、卒業、中退、在学中の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職歴"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00020" type="AEF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤務先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在職期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00050" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00060" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00063" type="AEF00063-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00070" type="AEF00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00080" type="AEF00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00090" type="AEF00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00110" type="AEF00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤務先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在職期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00140" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00150" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00153" type="AEF00153-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00160" type="AEF00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00170" type="AEF00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00180" type="AEF00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEG00000" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"撮影年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AEA00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00015-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00260-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00270-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00290-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00300-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00360-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00370-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00380-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00390-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00400-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00410-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00032-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00034-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00035-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00036-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00037-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00038-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00039-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00191-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00192-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00193-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00194-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00195-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00196-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00201-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00202-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00203-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00204-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00205-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00211-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00212-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEE00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00063-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00153-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AEB00032-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00032-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00034-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00034-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00035-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00035-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00036-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00036-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00037-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00037-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00038-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00038-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00039-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00039-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEE00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEE00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEE00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEE00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
