etax/19XMLスキーマ/shinsaseikyu/REZ010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：閲覧請求書
version：1.0
Date：2004年03月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ010-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ010-1-0group">
<xsd:sequence>
<xsd:element name="REZ010">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AMA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所(支部・支所名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当審判官"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AMD00000" type="AMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00000" type="AME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・参加人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ010-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AMD00000-1-0type">
<xsd:sequence>

<xsd:element name="AMD00010" type="AMD00010-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMD00020" type="AMD00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AME00000-1-0type">
<xsd:sequence>

<xsd:element name="AME00010" type="AME00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00020" type="AME00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00030" type="AME00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AMD00010-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="AMD00010-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AMD00010-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="AMD00020-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="AMD00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AMD00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="AME00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AME00020-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="AME00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AME00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="AME00030-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="AME00030-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AME00030-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

</xsd:schema>
