etax/19XMLスキーマ/shinsaseikyu/REZ031-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：口頭意見陳述の申立書
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ031-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ031-3-0group">
<xsd:sequence>
<xsd:element name="REZ031">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AWA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所（支部・支所名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当審判官"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AWD00000" type="AWD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人（参加人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWE00000" type="AWE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AWF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWG00000" type="AWG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　原処分庁に対する質問の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWH00000" type="AWH00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　原処分庁職員の出席"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AWI00000" type="AWI00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ031-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AWD00000-3-0type">
<xsd:sequence>

<xsd:element name="AWD00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00050" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00060" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00070" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWD00080" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWE00000-3-0type">
<xsd:sequence>

<xsd:element name="AWE00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWE00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWI00000-3-0type">
<xsd:sequence>

<xsd:element name="AWI00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWI00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWI00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AWG00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AWH00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
