etax/19XMLスキーマ/shinsaseikyu/REZ061-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求書(次葉)
version：1.0
Date：2004年03月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ061-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ061-1-0group">
<xsd:sequence>
<xsd:element name="REZ061">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AIA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AIB00000" type="AIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分に係る異議申立ての状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIC00000" type="AIC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求の趣旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AID00000" type="AID00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AIE00000" type="AIE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類の確認"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ061-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AIB00000-1-0type">
<xsd:sequence>

<xsd:element name="AIB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議申立てをした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AIB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議申立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIB00030" type="AIB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議決定の有無区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議決定書謄本の送達を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AIB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異議申立てをしていない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AIB00060" type="AIB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当番号区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIB00070" type="AIB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AIC00000-1-0type">
<xsd:sequence>

<xsd:element name="AIC00010" type="AIC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当番号区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIC00020" type="AIC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．一部取消"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIC00030" type="AIC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AIE00000-1-0type">
<xsd:sequence>

<xsd:element name="AIE00010" type="AIE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．委任状"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIE00020" type="AIE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．総代選任届出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIE00030" type="AIE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．審査請求の趣旨及び理由を計数的に説明する資料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIE00040" type="AIE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AIE00050" type="AIE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AIB00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AIB00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AIB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AIC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AIC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AIC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AID00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="800"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AIE00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AIE00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AIE00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AIE00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AIE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
