etax/19XMLスキーマ/shinsaseikyu/REZ060-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求書(初葉)
version：1.0
Date：2004年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ060-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ060-1-0group">
<xsd:sequence>
<xsd:element name="REZ060">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AHA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AHC00000" type="AHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00000" type="AHD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00000" type="AHE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求に係る処分（原処分）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ060-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHC00000-1-0type">
<xsd:sequence>

<xsd:element name="AHC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代又は法人の代表者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHC00070" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00080" type="AHC00080-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00090" type="AHC00090-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00100" type="AHC00100-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00110" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHD00000-1-0type">
<xsd:sequence>

<xsd:element name="AHD00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHE00000-1-0type">
<xsd:sequence>

<xsd:element name="AHE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分庁"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00020" type="AHE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署長"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00030" type="AHE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税局(事務所)長"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00040" type="AHE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分日等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分（下記（８））の通知書に記載された年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分（下記（８））の通知を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00100" type="AHE00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．申告所得税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00110" type="AHE00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．法人税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00130" type="AHE00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00140" type="AHE00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00150" type="AHE00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00160" type="AHE00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00170" type="AHE00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．青色申告の承認取消し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00180" type="AHE00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告の承認取消し（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00190" type="AHE00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．更正の請求に対する（更正すべき理由がない旨の通知・更正）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00200" type="AHE00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00210" type="AHE00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00220" type="AHE00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00230" type="AHE00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00250" type="AHE00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a．過少申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00260" type="AHE00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過少申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00270" type="AHE00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｂ．無申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00280" type="AHE00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00290" type="AHE00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｃ．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00300" type="AHE00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00320" type="AHE00320-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．消費税・地方消費税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00330" type="AHE00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．相続税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00340" type="AHE00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．贈与税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00350" type="AHE00350-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．地価税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00370" type="AHE00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00380" type="AHE00380-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00390" type="AHE00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00400" type="AHE00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00410" type="AHE00410-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．更正の請求に対する（更正すべき理由がない旨の通知・更正）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00420" type="AHE00420-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00430" type="AHE00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00440" type="AHE00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00450" type="AHE00450-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00470" type="AHE00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a．過少申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00480" type="AHE00480-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過少申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00490" type="AHE00490-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｂ．無申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00500" type="AHE00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00510" type="AHE00510-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｃ．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00520" type="AHE00520-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00540" type="AHE00540-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．源泉所得税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00560" type="AHE00560-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．納税の告知"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00570" type="AHE00570-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税の告知（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00590" type="AHE00590-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a．不納付加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00600" type="AHE00600-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不納付加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00610" type="AHE00610-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00620" type="AHE00620-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00640" type="AHE00640-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00650" type="AHE00650-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00660" type="AHE00660-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00670" type="AHE00670-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象年分等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AHC00080-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="AHC00080-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AHC00080-1-0Rtype">
	    <xsd:attribute name="IDREF" type="AHC00080-2-0IDREFtype" use="optional"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00080-2-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
      <xsd:enumeration value="DAIHYO_ADR"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00090-1-0Rtype">
    <xsd:restriction base="gen:n-kana"/>
</xsd:simpleType>
<xsd:complexType name="AHC00090-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AHC00090-1-0Rtype">
	    <xsd:attribute name="IDREF" type="AHC00090-2-0IDREFtype" use="optional"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00090-2-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
      <xsd:enumeration value="DAIHYO_NM_KN"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00100-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="AHC00100-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AHC00100-1-0Rtype">
	    <xsd:attribute name="IDREF" type="AHC00100-2-0IDREFtype" use="optional"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00100-2-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
      <xsd:enumeration value="DAIHYO_NM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00100-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00150-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00170-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00190-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00210-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00250-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00270-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00290-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00300-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00320-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00330-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00340-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00350-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00370-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00380-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00390-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00410-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00420-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00430-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00440-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00450-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00470-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00480-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00490-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00510-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00520-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00540-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00560-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00570-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00590-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00600-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00610-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00620-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00640-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00650-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00660-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00670-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
