etax/19XMLスキーマ/shinsaseikyu/REZ071-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求書(次葉)
version：2.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ071-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ071-2-0group">
<xsd:sequence>
<xsd:element name="REZ071">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AUA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AUB00000" type="AUB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求の趣旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AUC00000" type="AUC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AUD00000" type="AUD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当な理由がある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00000" type="AUE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ071-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AUB00000-2-0type">
<xsd:sequence>

<xsd:element name="AUB00010" type="AUB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当番号区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00020" type="AUB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00030" type="AUB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部取消しを求める範囲"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUD00000-2-0type">
<xsd:sequence>

<xsd:element name="AUD00010" type="AUD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00020" type="AUD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当な理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUE00000-2-0type">
<xsd:sequence>

<xsd:element name="AUE00010" type="AUE00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　委任状（代理人の選任届出書）又は税務代理権限証書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00020" type="AUE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　総代選任届出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00030" type="AUE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　審査請求の趣旨及び理由を計数的に説明する資料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00040" type="AUE00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　原処分の通知書の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00050" type="AUE00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　再調査決定書謄本の写し（再調査の決定がある場合）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00060" type="AUE00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　個人番号確認書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00070" type="AUE00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　身元確認書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00080" type="AUE00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８　書類の送達先を代理人とする申出書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00090" type="AUE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00100" type="AUE00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AUB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AUB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="264"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1386"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AUD00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AUD00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="396"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AUE00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUE00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AUE00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="140"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
