etax/19XMLスキーマ/shinsaseikyu/REZ060-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求書(初葉)
version：2.0
Date：2008年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ060-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ060-2-0group">
<xsd:sequence>
<xsd:element name="REZ060">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AHA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AHC00000" type="AHC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00000" type="AHD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00000" type="AHE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求に係る処分（原処分）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ060-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHC00000-2-0type">
<xsd:sequence>

<xsd:element name="AHC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総代又は法人の代表者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHC00070" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00080" type="AHC00080-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00090" type="AHC00090-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00100" type="AHC00100-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00110" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHD00000-2-0type">
<xsd:sequence>

<xsd:element name="AHD00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHE00000-2-0type">
<xsd:sequence>

<xsd:element name="AHE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分庁"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00020" type="AHE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署長"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00030" type="AHE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税局(事務所)長"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00040" type="AHE00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分日等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分（下記（８））の通知書に記載された年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原処分（下記（８））の通知を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00100" type="AHE00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．申告所得税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00110" type="AHE00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．法人税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00130" type="AHE00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00140" type="AHE00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00150" type="AHE00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00160" type="AHE00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00170" type="AHE00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．青色申告の承認の取消し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00180" type="AHE00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告の承認の取消し（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00190" type="AHE00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．更正の請求に対する更正すべき理由がない旨の通知"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00200" type="AHE00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する更正すべき理由がない旨の通知（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00680" type="AHE00680-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．更正の請求に対する更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00690" type="AHE00690-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00700" type="AHE00700-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．過少申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00710" type="AHE00710-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過少申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00720" type="AHE00720-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．無申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00730" type="AHE00730-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00740" type="AHE00740-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00750" type="AHE00750-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00210" type="AHE00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00220" type="AHE00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00230" type="AHE00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00320" type="AHE00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．消費税・地方消費税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00330" type="AHE00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．相続税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00340" type="AHE00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．贈与税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00350" type="AHE00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．地価税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00370" type="AHE00370-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00380" type="AHE00380-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00390" type="AHE00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00400" type="AHE00400-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00410" type="AHE00410-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．更正の請求に対する更正すべき理由がない旨の通知"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00420" type="AHE00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する更正すべき理由がない旨の通知（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00760" type="AHE00760-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．更正の請求に対する更正"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00770" type="AHE00770-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求に対する更正（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00780" type="AHE00780-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．過少申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00790" type="AHE00790-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過少申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00800" type="AHE00800-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．無申告加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00810" type="AHE00810-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無申告加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00820" type="AHE00820-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00830" type="AHE00830-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00430" type="AHE00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00440" type="AHE00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00450" type="AHE00450-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00540" type="AHE00540-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．源泉所得税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00560" type="AHE00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．納税の告知"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00570" type="AHE00570-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税の告知（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00840" type="AHE00840-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．不納付加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00850" type="AHE00850-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不納付加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00860" type="AHE00860-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．重加算税の賦課決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00870" type="AHE00870-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税の賦課決定（対象年分等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00890" type="AHE00890-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．滞納処分等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00910" type="AHE00910-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．督促"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00920" type="AHE00920-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"督促に係る国税の税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00930" type="AHE00930-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．差押え"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00940" type="AHE00940-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差押えの対象となった財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00950" type="AHE00950-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．公売等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00960" type="AHE00960-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a．公売公告"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00970" type="AHE00970-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b．最高価申込者の決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00980" type="AHE00980-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"c．売却決定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00990" type="AHE00990-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"d．配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01000" type="AHE01000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"e．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01010" type="AHE01010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01020" type="AHE01020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．相続税の延納又は物納"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01030" type="AHE01030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a．延納の許可の取消し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01040" type="AHE01040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b．物納申請の却下"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01050" type="AHE01050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"c．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01060" type="AHE01060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01070" type="AHE01070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．充当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01080" type="AHE01080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE01090" type="AHE01090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00640" type="AHE00640-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９．その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00650" type="AHE00650-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目等名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00660" type="AHE00660-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AHC00080-2-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>

<xsd:complexType name="AHC00080-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="AHC00080-2-0Rtype">
            <xsd:attribute name="IDREF" type="AHC00080-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00080-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="DAIHYO_ADR"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00090-2-0Rtype">
    <xsd:restriction base="gen:n-kana"/>
</xsd:simpleType>

<xsd:complexType name="AHC00090-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="AHC00090-2-0Rtype">
            <xsd:attribute name="IDREF" type="AHC00090-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00090-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="DAIHYO_NM_KN"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHC00100-2-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>

<xsd:complexType name="AHC00100-2-0IDREFtype">
    <xsd:simpleContent>
        <xsd:extension base="AHC00100-2-0Rtype">
            <xsd:attribute name="IDREF" type="AHC00100-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AHC00100-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="DAIHYO_NM"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="AHE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00100-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00110-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00130-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00150-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00170-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00190-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00680-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00690-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00700-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00710-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00720-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00730-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00740-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00750-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00210-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00320-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00330-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00340-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00350-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00370-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00380-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00390-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00400-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00410-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00760-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00770-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00780-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00790-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00800-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00810-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00820-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00830-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00430-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00440-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00450-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00540-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00560-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00570-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00840-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00850-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00860-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00870-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00890-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00910-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00920-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00930-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00940-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00950-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00960-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00970-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00980-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE00990-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE01000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE01010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE01020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE01030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE01040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE01050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE01060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE01070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AHE01080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE01090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00640-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHE00650-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHE00660-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
