etax/19XMLスキーマ/shinsaseikyu/REZ052-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：補佐人帯同申請書(参加人)
version：1.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ052-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ052-1-0group">
<xsd:sequence>
<xsd:element name="REZ052">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AXA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所（支部・支所名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当審判官"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AXD00000" type="AXD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXE00000" type="AXE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AXF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帯同年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AXG00000" type="AXG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXH00000" type="AXH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ052-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AXD00000-1-0type">
<xsd:sequence>

<xsd:element name="AXD00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00050" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00060" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00070" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXD00080" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AXE00000-1-0type">
<xsd:sequence>

<xsd:element name="AXE00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXE00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AXG00000-1-0type">
<xsd:sequence>

<xsd:element name="AXG00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXG00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXG00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXG00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXG00060" type="AXG00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AXH00000-1-0type">
<xsd:sequence>

<xsd:element name="AXH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AXG00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
