etax/19XMLスキーマ/shinsaseikyu/REZ050-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：補佐人帯同申請書
version：1.0
Date：2004年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ050-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ050-1-0group">
<xsd:sequence>
<xsd:element name="REZ050">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ALA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所(支部・支所名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当審判官"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ALD00000" type="ALD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALE00000" type="ALE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人(又は参加人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ALF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帯同年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ALG00000" type="ALG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補佐人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ050-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ALD00000-1-0type">
<xsd:sequence>

<xsd:element name="ALD00010" type="ALD00010-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00020" type="ALD00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALE00000-1-0type">
<xsd:sequence>

<xsd:element name="ALE00010" type="ALE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人(又は参加人)区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALE00020" type="ALE00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALE00030" type="ALE00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALG00000-1-0type">
<xsd:sequence>

<xsd:element name="ALG00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALG00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALG00040" type="ALG00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ALD00010-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="ALD00010-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ALD00010-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="ALD00020-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="ALD00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ALD00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="ALE00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ALE00020-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="ALE00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ALE00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="ALE00030-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="ALE00030-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="ALE00030-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="ALG00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
