etax/19XMLスキーマ/shinsaseikyu/REZ100-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代理人の選任(解任)届出書
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ100-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ100-3-0group">
<xsd:sequence>
<xsd:element name="REZ100">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AEA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEC00000" type="AEC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人・代理人・参加人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AEH00000" type="AEH00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人復代理人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任解任区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEI00000" type="AEI00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人又は復代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00000" type="AEG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任又は解任"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEE00000" type="AEE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・復代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEJ00000" type="AEJ00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所から送付する書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEK00000" type="AEK00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ100-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEC00000-3-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="AEC00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人・代理人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00015" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00025" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00060" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00033" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00070" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00036" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-3-0type">
<xsd:sequence>

<xsd:element name="AEE00003" type="AEE00003-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人復代理人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00007" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00040" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先（電話番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEJ00000-3-0type">
<xsd:sequence>

<xsd:element name="AEJ00010" type="AEJ00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書類区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEJ00020" type="AEJ00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEK00000-3-0type">
<xsd:sequence>

<xsd:element name="AEK00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住所・所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEK00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AEC00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEH00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AED00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEI00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEG00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEE00003-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEJ00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AEJ00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
