etax/19XMLスキーマ/shinsaseikyu/REZ130-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求人の地位承継及び総代選任の届出書
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ130-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ130-3-0group">
<xsd:sequence>
<xsd:element name="REZ130">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AQA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AQG00000" type="AQG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00000" type="AQC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．審査請求"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00000" type="AQD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人の地位を承継した者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00000" type="AQE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．承継原因(添付書類)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQF00000" type="AQF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．総代"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ130-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AQG00000-3-0type">
<xsd:sequence>

<xsd:element name="AQG00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQG00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQG00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQC00000-3-0type">
<xsd:sequence>

<xsd:element name="AQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）審査請求人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00015" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00025" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00040" type="AQC00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）原処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）審査請求書の収受年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQD00000-3-0type">
<xsd:sequence>

<xsd:element name="AQD00005" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00015" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00050" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00033" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00036" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQE00000-3-0type">
<xsd:sequence>

<xsd:element name="AQE00010" type="AQE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原因区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00030" type="AQE00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類　その他（１）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00040" type="AQE00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類　その他（２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQF00000-3-0type">
<xsd:sequence>

<xsd:element name="AQF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AQC00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="108"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQE00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQE00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQE00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
