etax/19XMLスキーマ/shinsaseikyu/REZ122-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙1(審査請求人の地位の承継の許可申請書用：申請人が複数である場合)
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ122-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ122-3-0group">
<xsd:sequence>
<xsd:element name="REZ122">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APA00000" type="APA00000-3-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"審査請求の目的である処分に係る権利を譲り受けた者　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ122-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="APA00000-3-0type">
<xsd:sequence>

<xsd:element name="APA00005" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00015" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00040" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
