etax/19XMLスキーマ/shinsaseikyu/REZ100-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代理人の選任解任届出書
version：1.0
Date：2004年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ100-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ100-1-0group">
<xsd:sequence>
<xsd:element name="REZ100">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AEA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEC00000" type="AEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人・代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AEC00050" type="AEC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「復」表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任解任区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00000" type="AEG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選任又は解任"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEE00000" type="AEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00000" type="AEF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復代理人の選任又は解任の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ100-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEC00000-1-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="AEC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人・代理人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号／連絡先等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-1-0type">
<xsd:sequence>

<xsd:element name="AEE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00020" type="AEE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（事務所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00040" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号（連絡先等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEF00000-1-0type">
<xsd:sequence>

<xsd:element name="AEF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住所・所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（電話番号）（連絡先等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AEC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AEC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AED00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AEG00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AEE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
