etax/19XMLスキーマ/shinsaseikyu/REZ170-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審理のための質問、検査等をすることの申立書
version：1.0
Date：2004年03月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ170-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ170-1-0group">
<xsd:sequence>
<xsd:element name="REZ170">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AJA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当審判官"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AJD00000" type="AJD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJE00000" type="AJE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AJF00000" type="AJF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施を求める行為"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="REZ170-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AJD00000-1-0type">
<xsd:sequence>

<xsd:element name="AJD00010" type="AJD00010-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00020" type="AJD00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJE00000-1-0type">
<xsd:sequence>

<xsd:element name="AJE00010" type="AJE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人・参加人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJE00020" type="AJE00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJE00030" type="AJE00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AJD00010-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="AJD00010-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AJD00010-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="AJD00020-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="AJD00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AJD00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="AJE00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AJE00020-1-0Rtype">
    <xsd:restriction base="gen:address"/>
</xsd:simpleType>
<xsd:complexType name="AJE00020-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AJE00020-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_ADR"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="AJE00030-1-0Rtype">
    <xsd:restriction base="gen:name"/>
</xsd:simpleType>
<xsd:complexType name="AJE00030-1-0IDREFtype">
    <xsd:simpleContent>
	<xsd:extension base="AJE00030-1-0Rtype">
	    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional" fixed="NOZEISHA_NM"/>
	</xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

<xsd:simpleType name="AJF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
