etax/19XMLスキーマ/shinsaseikyu/REZ103-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代理人に特別の委任(特別の委任の解除)をした旨の届出書
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ103-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ103-3-0group">
<xsd:sequence>
<xsd:element name="REZ103">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AGA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支部名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AGC00000" type="AGC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人(参加人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AGD00000" type="AGD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委任・解除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00000" type="AGG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の委任又は特別の委任の解除"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AGE00000" type="AGE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00000" type="AGF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．委任事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00000" type="AGH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="REZ103-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AGC00000-3-0type">
<xsd:sequence>

<xsd:element name="AGC00003" type="AGC00003-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人(参加人)区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00007" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住所・所在地）（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住所・所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00015" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00040" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（法人の場合、代表者の住所）（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00023" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（法人の場合、代表者の住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00050" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（法人の場合、代表者の氏名、ふりがな）（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00026" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（法人の場合、代表者の氏名、ふりがな）（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGE00000-3-0type">
<xsd:sequence>

<xsd:element name="AGE00005" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00040" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGE00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先（電話番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGF00000-3-0type">
<xsd:sequence>

<xsd:element name="AGF00010" type="AGF00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求の「取下げ」の権限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00020" type="AGF00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人により復代理人を選任する権限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGH00000-3-0type">
<xsd:sequence>

<xsd:element name="AGH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住所・所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AGC00003-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AGD00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AGG00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AGF00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AGF00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
