etax/19XMLスキーマ/shinsaseikyu/REZ120-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shinsaseikyu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：審査請求人の地位の承継の許可申請書
version：2.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="REZ120-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="REZ120-2-0group">
<xsd:sequence>
<xsd:element name="REZ120">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ANA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税不服審判所長(支部・支所名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ANG00000" type="ANG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANH00000" type="ANH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00000" type="ANC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．審査請求"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AND00000" type="AND00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．処分に係る権利を譲り受けた原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="REZ120-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ANG00000-2-0type">
<xsd:sequence>

<xsd:element name="ANG00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00050" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00060" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00070" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（ふりがな）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANG00080" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合、代表者の氏名、ふりがな（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANH00000-2-0type">
<xsd:sequence>

<xsd:element name="ANH00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANH00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANH00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANC00000-2-0type">
<xsd:sequence>

<xsd:element name="ANC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）審査請求人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00015" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00025" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"審査請求人が法人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00070" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の住所（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ふりがな"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00040" type="ANC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）原処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）審査請求書の収受年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ANC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AND00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
