etax/19XMLスキーマ/choshu/COZ050-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：繰上保全差押えをしないことを求める申請書
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="COZ050-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="COZ050-1-0group">
<xsd:sequence>
<xsd:element name="COZ050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00000" type="ADA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00000" type="ADB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="COZ050-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADA00000-1-0type">
<xsd:sequence>

<xsd:element name="ADA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(申請者)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADB00000-1-0type">
<xsd:sequence>

<xsd:element name="ADB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰上保全差押金額通知年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00020" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"繰上保全差押金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00040" type="ADB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00120" type="ADB00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供する担保財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ADB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADB00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="720"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
