etax/19XMLスキーマ/choshu/COZ110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：差押財産の使用等許可申立書
version：1.0
Date：2004年01月29日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="COZ110-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="COZ110-1-0group">
<xsd:sequence>
<xsd:element name="COZ110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALA00000" type="ALA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00000" type="ALB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="COZ110-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ALA00000-1-0type">
<xsd:sequence>

<xsd:element name="ALA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALA00030" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"申立人　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALA00040" type="ALA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALA00070" type="ALA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用（航行、運行）の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ALB00000-1-0type">
<xsd:sequence>

<xsd:element name="ALB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALB00040" type="ALB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差押財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差押年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00060" type="ALB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用等を必要とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ALA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ALA00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ALB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
