etax/19XMLスキーマ/choshu/COZ250-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：債権現在額申立書(私債権用)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="COZ250-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="COZ250-1-0group">
<xsd:sequence>
<xsd:element name="COZ250">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00000" type="BDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00000" type="BDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公売財産の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00000" type="BDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公売財産上にある権利"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00000" type="BDD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権現在額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BDE00000" type="BDE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類（債権の内容及び現在額を証するもの）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDF00000" type="BDF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="COZ250-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDA00000-1-0type">
<xsd:sequence>

<xsd:element name="BDA00010" type="BDA00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公売公告第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDA00030" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（申立者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住（居）所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDB00000-1-0type">
<xsd:sequence>

<xsd:element name="BDB00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00020" type="BDB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売却区分の番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00030" type="BDB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称、数量、性質及び所在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDC00000-1-0type">
<xsd:sequence>

<xsd:element name="BDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の表示"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00030" type="BDC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権の極度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差押えの通知を受けた時の元本債権額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住（居）所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00090" type="BDC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"弁済期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00100" type="BDC00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の表示"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00130" type="BDC00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権の極度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差押えの通知を受けた時の元本債権額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00170" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住（居）所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00190" type="BDC00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"弁済期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00200" type="BDC00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDD00000-1-0type">
<xsd:sequence>

<xsd:element name="BDD00010" type="BDD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00020" type="BDD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00030" type="BDD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00080" type="BDD00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00090" type="BDD00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00095" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00220" type="BDD00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00230" type="BDD00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00280" type="BDD00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00290" type="BDD00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00340" type="BDD00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00350" type="BDD00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00420" type="BDD00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00430" type="BDD00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00480" type="BDD00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00490" type="BDD00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00510" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00540" type="BDD00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00550" type="BDD00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（元本）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00600" type="BDD00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（利率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00610" type="BDD00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（起算日＿年＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDF00000-1-0type">
<xsd:sequence>

<xsd:element name="BDF00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付期日（＿月＿日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BDA00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDC00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00220-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00340-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00420-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00480-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00540-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00550-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00600-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDD00610-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BDA00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDA00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDD00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="BDD00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
