etax/19XMLスキーマ/choshu/COZ500-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：換価の猶予申請書
version：2.0
Date：2020年11月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="COZ500-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="COZ500-2-0group">
<xsd:sequence>
<xsd:element name="COZ500">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00000" type="CAA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00000" type="CAB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="COZ500-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CAA00000-2-0type">
<xsd:sequence>

<xsd:element name="CAA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"携帯電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00075" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00100" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00110" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAA00120" type="CAA00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAB00000-2-0type">
<xsd:sequence>

<xsd:element name="CAB00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"納付すべき国税　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00030" type="CAB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00060" type="CAB00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00110" type="CAB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき国税　合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00350" type="CAB00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ～ホの合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在納付可能資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換価の猶予を受けようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00190" type="CAB00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時に納付することにより事業の継続又は生活の維持が困難となる事情の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00200" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"納付計画　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"猶予期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00260" type="CAB00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿月間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAB00270" type="CAB00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00280" type="CAB00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保財産の詳細又は提供できない特別の事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付する書類欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00400" type="CAB00400-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"100万円以下の場合　財産収支状況書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"100万円超の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00420" type="CAB00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収支の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00430" type="CAB00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産目録"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00440" type="CAB00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保関係書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CAA00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CAB00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAB00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAB00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAB00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="650"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAB00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CAB00270-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAB00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="160"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CAB00400-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CAB00420-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CAB00430-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CAB00440-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="CAB00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="CAB00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
