etax/19XMLスキーマ/choshu/COZ510-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/choshu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：換価の猶予期間延長申請書
version：2.0
Date：2020年11月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="COZ510-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="COZ510-2-0group">
<xsd:sequence>
<xsd:element name="COZ510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBA00000" type="CBA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00000" type="CBB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="COZ510-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CBA00000-2-0type">
<xsd:sequence>

<xsd:element name="CBA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"携帯電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00075" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBA00100" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00110" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBA00120" type="CBA00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CBB00000-2-0type">
<xsd:sequence>

<xsd:element name="CBB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"換価の猶予期間延長申請税額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00030" type="CBB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00060" type="CBB00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00110" type="CBB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換価の猶予期間延長申請税額　合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00280" type="CBB00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ～ホの合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在納付可能資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換価の猶予を受けようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00120" type="CBB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"猶予期間内に猶予を受けた金額を納付することができない理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00130" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"納付計画　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延長期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00190" type="CBB00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿月間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBB00200" type="CBB00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00210" type="CBB00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保財産の詳細又は提供できない特別の事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付する書類欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00330" type="CBB00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"100万円以下の場合　財産収支状況書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"100万円超の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBB00350" type="CBB00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収支の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00360" type="CBB00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産目録"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00370" type="CBB00370-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保関係書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CBA00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CBB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CBB00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CBB00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="650"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CBB00200-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CBB00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="160"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CBB00330-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CBB00350-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CBB00360-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CBB00370-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="CBB00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="CBB00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
