etax/19XMLスキーマ/kansetsu/INB020-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年__月分印紙税納税申告書(書式表示用)次葉
version：2.1
Date：2021年09月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INB020-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INB020-2-1group">
<xsd:sequence>
<xsd:element name="INB020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBA00000" type="CBA00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00000" type="CBB00000-2-1type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"明細繰返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00000" type="CBC00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計（数量及び納付すべき税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INB020-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CBA00000-2-1type">
<xsd:sequence>

<xsd:element name="CBA00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBA00020" type="CBA00020-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿枚目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CBB00000-2-1type">
<xsd:sequence>

<xsd:element name="CBB00010" type="CBB00010-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物件名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00020" type="CBB00020-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00030" type="CBB00030-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00040" type="CBB00040-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物件名欄の文書番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00060" type="CBB00060-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率・税額区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00080" type="CBB00080-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CBC00000-2-1type">
<xsd:sequence>

<xsd:element name="CBC00010" type="CBC00010-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CBA00020-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00010-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00020-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00030-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00040-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00060-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBB00080-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00010-2-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CBA00020-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBA00020-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBB00030-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBB00030-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBB00040-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBB00040-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBB00060-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBB00060-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBB00080-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBB00080-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBC00010-2-1type">
<xsd:simpleContent>
<xsd:extension base="CBC00010-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
