etax/19XMLスキーマ/kansetsu/INC030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税及び地方揮発油税課税標準数量及び税額計算書(バイオエタノール等揮発油に係る課税標準の特例適用者用)
version：1.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INC030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INC030-1-0group">
<xsd:sequence>
<xsd:element name="INC030">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GCA00000" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般申告用年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCB00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"都度申告用年月日分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GCC00000" type="GCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00000" type="GCD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INC030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GCC00000-1-0type">
<xsd:sequence>

<xsd:element name="GCC00010" type="gen:SEIZOJO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCC00020" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCC00030" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GCD00000-1-0type">
<xsd:sequence>

<xsd:element name="GCD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総移出数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00030" type="GCD00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00040" type="GCD00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00050" type="GCD00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00060" type="GCD00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総移出数量のうち免税を受けようとする揮発油"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納税移出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00090" type="GCD00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00100" type="GCD00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出免税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00120" type="GCD00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00130" type="GCD00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"灯油免税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00160" type="GCD00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00170" type="GCD00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00180" type="GCD00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00210" type="GCD00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00220" type="GCD00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00230" type="GCD00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00240" type="GCD00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00250" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"石油化学用免税　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00260" type="GCD00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00280" type="GCD00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00290" type="GCD00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00300" type="GCD00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00310" type="GCD00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00320" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"特定用途免税　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00330" type="GCD00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00350" type="GCD00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00360" type="GCD00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00370" type="GCD00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00380" type="GCD00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00400" type="GCD00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00410" type="GCD00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00430" type="GCD00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00440" type="GCD00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00460" type="GCD00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00470" type="GCD00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00480" type="GCD00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出数量差引課税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00500" type="GCD00500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00510" type="GCD00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00520" type="GCD00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00530" type="GCD00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引移出数量計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00540" type="GCD00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"エタノールの数量に相当する数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00550" type="GCD00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GCD00560" type="GCD00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)のうち製造場内の消費分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00570" type="GCD00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)のうちその他移出分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00580" type="GCD00580-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠減控除数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00590" type="GCD00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GCD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GCD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GCD00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00400-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00520-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00530-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00540-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00550-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00580-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GCD00590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GCD00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00500-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00580-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00580-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GCD00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="GCD00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
