etax/19XMLスキーマ/kansetsu/INC040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税及び地方揮発油税課税標準数量及び税額計算書(次葉)
version：1.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INC040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INC040-1-0group">
<xsd:sequence>
<xsd:element name="INC040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00000" type="GDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総移出数量のうち免税を受けようとする揮発油"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INC040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GDA00000-1-0type">
<xsd:sequence>

<xsd:element name="GDA00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"石油化学用免税　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00020" type="GDA00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00040" type="GDA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00050" type="GDA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00060" type="GDA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDA00070" type="GDA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDA00080" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"特定用途免税　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00090" type="GDA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00110" type="GDA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00120" type="GDA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00130" type="GDA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDA00140" type="GDA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDA00160" type="GDA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場内の消費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00170" type="GDA00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"航空機燃料用免税揮発油及び特定用途免税揮発油の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDA00180" type="GDA00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GDA00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GDA00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GDA00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GDA00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="GDA00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
