etax/19XMLスキーマ/kansetsu/IND030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油ガス税戻入れ(移入)控除(還付)税額計算書
version：1.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="IND030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="IND030-1-0group">
<xsd:sequence>
<xsd:element name="IND030">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HCA00000" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充てん場の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HCB00000" type="HCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れ課税石油ガス"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCC00000" type="HCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入課税石油ガス"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HCD00000" type="HCD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="IND030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HCB00000-1-0type">
<xsd:sequence>

<xsd:element name="HCB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HCB00020" type="HCB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCB00030" type="HCB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HCB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HCB00070" type="HCB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HCC00000-1-0type">
<xsd:sequence>

<xsd:element name="HCC00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HCC00020" type="HCC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCC00030" type="HCC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HCC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HCC00070" type="HCC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HCC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HCB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="28"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCB00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCB00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="28"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCC00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HCD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1080"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HCB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="HCB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HCB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="HCB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HCC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="HCC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HCC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="HCC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
