etax/19XMLスキーマ/kansetsu/IND020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油ガス税課税標準数量及び税額計算書(納税申告書付表)
version：1.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="IND020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="IND020-1-0group">
<xsd:sequence>
<xsd:element name="IND020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00000" type="HBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総移出重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00000" type="HBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち免税を受けようとする課税石油ガス"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HBC00000" type="HBC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準数量　計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額　計"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HBF00000" type="HBF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HBG00000" type="HBG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="IND020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HBA00000-1-0type">
<xsd:sequence>

<xsd:element name="HBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当月移出分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出容量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00040" type="HBA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBA00050" type="HBA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出重量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00070" type="HBA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00090" type="HBA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBA00100" type="HBA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBA00110" type="HBA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"領収不能回収分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBA00130" type="HBA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBA00140" type="HBA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBA00150" type="HBA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBB00000-1-0type">
<xsd:sequence>

<xsd:element name="HBB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出免税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00020" type="HBB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00040" type="HBB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00050" type="HBB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00060" type="HBB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定用途免税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00090" type="HBB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00110" type="HBB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00120" type="HBB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00130" type="HBB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱源用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00150" type="HBB00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBB00170" type="HBB00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBB00180" type="HBB00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00190" type="HBB00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBB00200" type="HBB00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HBF00000-1-0type">
<xsd:sequence>

<xsd:element name="HBF00010" type="HBF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量により計量したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量により計量したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HBF00030" type="HBF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重、温度により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HBF00040" type="HBF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算率0.56により計算したもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HBF00050" type="HBF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HBA00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBB00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBC00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="75"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBF00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="75"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="75"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="75"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HBG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="540"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HBC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HBB00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="HBB00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
