etax/19XMLスキーマ/kansetsu/INS170-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：たばこ税及びたばこ特別税担保変更承認申請書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INS170-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INS170-1-0group">
<xsd:sequence>
<xsd:element name="INS170">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00000" type="ABA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00000" type="ABB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供中の担保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00000" type="ABC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供しようとする担保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="ABE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00000" type="ABF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INS170-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABA00000-1-0type">
<xsd:sequence>

<xsd:element name="ABA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABB00000-1-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="ABB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00030" type="ABB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00080" type="ABB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABC00000-1-0type">
<xsd:sequence>

<xsd:element name="ABC00010" type="ABC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00020" type="ABC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ABB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="136"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="136"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
