etax/19XMLスキーマ/kansetsu/INT090-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：印紙税納付計器使用請求書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INT090-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INT090-1-0group">
<xsd:sequence>
<xsd:element name="INT090">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00000" type="BAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAB00000" type="BAB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計器の名称、型式及び計器番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00000" type="BAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付印の税務署名、記号及び番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"印紙税相当額(措置を受けようとする金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額を押印した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BAH00000" type="BAH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAI00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"来署予定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INT090-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BAA00000-1-0type">
<xsd:sequence>

<xsd:element name="BAA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"印紙税納付計器の設置場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00100" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00110" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00120" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00140" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00150" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00160" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00170" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上代理人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00190" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00200" type="BAA00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00210" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAB00000-1-0type">
<xsd:sequence>

<xsd:element name="BAB00010" type="BAB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAB00020" type="BAB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"型式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAB00030" type="BAB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計器番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAC00000-1-0type">
<xsd:sequence>

<xsd:element name="BAC00010" type="BAC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00020" type="BAC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00030" type="BAC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAH00000-1-0type">
<xsd:sequence>

<xsd:element name="BAH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"印紙税納付計器提示時における表示累計額(回数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAH00020" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"今回提示する使用済始動票札の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAH00030" type="BAH00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表示金額(回数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表示残額(回数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BAA00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAH00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BAH00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAH00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
