etax/19XMLスキーマ/kansetsu/INT160-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：印紙税不納付事実申出書(次葉)(過怠税の内訳書)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INT160-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INT160-1-0group">
<xsd:sequence>
<xsd:element name="INT160">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00000" type="BCA00000-1-0type" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"不納付の事実　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INT160-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BCA00000-1-0type">
<xsd:sequence>

<xsd:element name="BCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税文書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00020" type="BCA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00030" type="BCA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税物件名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00040" type="BCA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCA00050" type="BCA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率又は税額区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00060" type="BCA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課されるべき印紙税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不納付となった印紙税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所持者の住所及び氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BCA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BCA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BCA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BCA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
