etax/19XMLスキーマ/kansetsu/INU060-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税及び地方道路税課税物件被災確認申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INU060-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INU060-1-0group">
<xsd:sequence>
<xsd:element name="INU060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00000" type="BEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00000" type="BEB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税義務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00000" type="BEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00000" type="BED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災物件"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00000" type="BEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BEF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のやんだ日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INU060-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BEA00000-1-0type">
<xsd:sequence>

<xsd:element name="BEA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00100" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00110" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00120" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00140" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00150" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BEB00000-1-0type">
<xsd:sequence>

<xsd:element name="BEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等又は保税地域の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEB00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等又は保税地域の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者等又は引取人の住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEB00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者等又は引取人の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BEC00000-1-0type">
<xsd:sequence>

<xsd:element name="BEC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEC00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BED00000-1-0type">
<xsd:sequence>

<xsd:element name="BED00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"被災物件　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00020" type="BED00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00030" type="BED00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称・規格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00040" type="BED00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）1容器当たりの数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00050" type="BED00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00060" type="BED00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）課税標準数量（（１）*（２））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00070" type="BED00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）税率（１L当たり）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（５）税額（（３）*（４））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00100" type="BED00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災物件　計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BEE00000-1-0type">
<xsd:sequence>

<xsd:element name="BEE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（６）税額（（５）の計）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）保険金、損害賠償金により補てんされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）補てんされない額（（６）－（７））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）仕入先からの損失補償額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BED00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BED00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BED00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BED00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BED00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BED00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
