etax/19XMLスキーマ/kansetsu/INU110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税航空機燃料用免税引取揮発油移入[届出・通知]書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INU110-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INU110-1-0group">
<xsd:sequence>
<xsd:element name="INU110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00000" type="BHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00000" type="BHB00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"移入した揮発油　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BHC00000" type="BHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入した揮発油　数量合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BHE00000" type="BHE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BHF00000" type="BHF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHG00000" type="BHG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同左の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHH00000" type="BHH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減を生じた理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INU110-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BHA00000-1-0type">
<xsd:sequence>

<xsd:element name="BHA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00050" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00110" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00120" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00140" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00150" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00160" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHA00170" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BHB00000-1-0type">
<xsd:sequence>

<xsd:element name="BHB00010" type="BHB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00020" type="BHB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00030" type="BHB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00040" type="BHB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入後の容器の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BHE00000-1-0type">
<xsd:sequence>

<xsd:element name="BHE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00020" type="BHE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認税関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日及び番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00050" type="BHE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHE00060" type="BHE00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00070" type="BHE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00080" type="BHE00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHE00090" type="BHE00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量　合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BHB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHB00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHE00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHF00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHG00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="25"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BHC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHF00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHF00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHG00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHG00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHE00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHE00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHE00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHE00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHE00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BHE00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
