etax/19XMLスキーマ/kansetsu/INU181-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税特定石油化学製品移入届出書(次葉)
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INU181-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INU181-1-0group">
<xsd:sequence>
<xsd:element name="INU181">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVA00000" type="BVA00000-1-0type" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"移出内容/移入内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INU181-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BVA00000-1-0type">
<xsd:sequence>

<xsd:element name="BVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定石油化学製品"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVA00020" type="BVA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00030" type="BVA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BVA00040" type="BVA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00050" type="BVA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00060" type="BVA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"kg/L"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVB00010" type="BVB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVB00020" type="BVB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"kg/L"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVB00040" type="BVB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVB00050" type="BVB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"kg/L"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVB00060" type="BVB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BVB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BVA00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BVA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BVA00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BVB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BVB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BVB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BVB00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BVB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BVA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BVA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BVB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="BVB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BVB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BVB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
