etax/19XMLスキーマ/kansetsu/INU190-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税特定用途免税引取揮発油移入[届出・通知]書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INU190-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INU190-1-0group">
<xsd:sequence>
<xsd:element name="INU190">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKA00000" type="BKA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKB00000" type="BKB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入した揮発油"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00000" type="BKC00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"移入した揮発油　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BKD00000" type="BKD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入した揮発油　数量合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKF00000" type="BKF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BKG00000" type="BKG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKH00000" type="BKH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同左の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00000" type="BKI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減を生じた理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INU190-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BKA00000-1-0type">
<xsd:sequence>

<xsd:element name="BKA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00050" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKA00110" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00120" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKA00140" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00150" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00160" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKA00170" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKB00000-1-0type">
<xsd:sequence>

<xsd:element name="BKB00010" type="BKB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"混入量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKB00020" type="BKB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"含有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKB00030" type="BKB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"体積変化率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKC00000-1-0type">
<xsd:sequence>

<xsd:element name="BKC00010" type="BKC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00020" type="BKC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00030" type="BKC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00040" type="BKC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"オクタン価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00050" type="BKC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"初留温度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00060" type="BKC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終点(90%留出温度)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00070" type="BKC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留出温度差"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00080" type="BKC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"混入量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00090" type="BKC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"含有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00100" type="BKC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"体積変化率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00110" type="BKC00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"蒸気圧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00120" type="BKC00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00130" type="BKC00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00140" type="BKC00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入後の容器の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKF00000-1-0type">
<xsd:sequence>

<xsd:element name="BKF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00020" type="BKF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認税関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日及び番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00050" type="BKF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKF00060" type="BKF00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00070" type="BKF00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00080" type="BKF00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00090" type="BKF00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認数量　合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BKB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKC00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKD00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKF00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKG00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKH00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="25"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BKD00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKD00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKG00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKG00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKH00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKH00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKC00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKF00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKF00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKF00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKF00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKF00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKF00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BKF00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKF00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
