etax/19XMLスキーマ/kansetsu/INU210-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：揮発油税特定用途免税揮発油移入届出書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INU210-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INU210-1-0group">
<xsd:sequence>
<xsd:element name="INU210">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00000" type="BNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="BNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00000" type="BNC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BND00000" type="BND00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BNE00000" type="BNE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00000" type="BNF00000-1-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"移出内容／移入内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INU210-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNA00000-1-0type">
<xsd:sequence>

<xsd:element name="BNA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00060" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNB00000-1-0type">
<xsd:sequence>

<xsd:element name="BNB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNB00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNB00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNC00000-1-0type">
<xsd:sequence>

<xsd:element name="BNC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00030" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00080" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNE00000-1-0type">
<xsd:sequence>

<xsd:element name="BNE00010" type="BNE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"混入量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00020" type="BNE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"含有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00030" type="BNE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"体積変化率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNF00000-1-0type">
<xsd:sequence>

<xsd:element name="BNF00010" type="BNF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00020" type="BNF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00030" type="BNF00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00040" type="BNF00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"オクタン価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00050" type="BNF00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"初留温度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00060" type="BNF00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終点(90%留出温度)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00070" type="BNF00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留出温度差"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00080" type="BNF00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"混入量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00090" type="BNF00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"含有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00100" type="BNF00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"体積変化率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00110" type="BNF00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"蒸気圧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00120" type="BNF00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00130" type="BNF00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00150" type="BNF00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNF00170" type="BNF00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00180" type="BNF00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNF00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BND00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00150-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BNF00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BNF00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="BNF00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
