etax/19XMLスキーマ/kansetsu/INV040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：航空機燃料税担保変更承認申請書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INV040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INV040-1-0group">
<xsd:sequence>
<xsd:element name="INV040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANA00000" type="ANA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00000" type="ANB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供中の担保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00000" type="ANC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供しようとする担保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AND00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANE00000" type="ANE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANF00000" type="ANF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INV040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ANA00000-1-0type">
<xsd:sequence>

<xsd:element name="ANA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANB00000-1-0type">
<xsd:sequence>

<xsd:element name="ANB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00020" type="ANB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00030" type="ANB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANB00080" type="ANB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANC00000-1-0type">
<xsd:sequence>

<xsd:element name="ANC00010" type="ANC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00020" type="ANC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ANB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="136"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="136"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
