etax/19XMLスキーマ/kansetsu/INW040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油ガス税課税物件被災確認申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INW040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INW040-1-0group">
<xsd:sequence>
<xsd:element name="INW040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRA00000" type="BRA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00000" type="BRB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税義務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00000" type="BRC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00000" type="BRD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災物件"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00000" type="BRE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BRF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のやんだ日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INW040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BRA00000-1-0type">
<xsd:sequence>

<xsd:element name="BRA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRA00100" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00110" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00120" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRA00140" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRA00150" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRB00000-1-0type">
<xsd:sequence>

<xsd:element name="BRB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等又は保税地域の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等又は保税地域の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者等又は引取人の住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者等又は引取人の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRC00000-1-0type">
<xsd:sequence>

<xsd:element name="BRC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRD00000-1-0type">
<xsd:sequence>

<xsd:element name="BRD00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"被災物件　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00020" type="BRD00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）1容器当たりの数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00030" type="BRD00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00040" type="BRD00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）課税標準数量（（１）*（２））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00050" type="BRD00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）税率(１kg当たり)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（５）税額（（３）*（４））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00080" type="BRD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災物件　計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRE00000-1-0type">
<xsd:sequence>

<xsd:element name="BRE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（６）税額（（５）の計）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）保険金、損害賠償金により補てんされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）補てんされない額（（６）－（７））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）仕入先からの損失補償額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BRD00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BRD00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
