etax/19XMLスキーマ/kansetsu/INW030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油ガス税営業等開始・休止・廃止申告書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INW030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INW030-1-0group">
<xsd:sequence>
<xsd:element name="INW030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLA00000" type="CLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00000" type="CLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00000" type="CLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CLE00000" type="CLE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充てん設備の能力"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CLF00000" type="CLF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始等の年月日・期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CLG00000" type="CLG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止、休止の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CLH00000" type="CLH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止、休止時に充てん場に現存する物件"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLI00000" type="CLI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INW030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CLA00000-1-0type">
<xsd:sequence>

<xsd:element name="CLA00010" type="CLA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLB00000-1-0type">
<xsd:sequence>

<xsd:element name="CLB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLB00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLB00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLC00000-1-0type">
<xsd:sequence>

<xsd:element name="CLC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLC00020" type="gen:SEIZOJO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00030" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLC00050" type="gen:SEIZOJO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00060" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00070" type="gen:SEIZOJO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLF00000-1-0type">
<xsd:sequence>

<xsd:element name="CLF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"休止期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLH00000-1-0type">
<xsd:sequence>

<xsd:element name="CLH00010" type="CLH00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLH00020" type="CLH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLH00030" type="CLH00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"処分予定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLI00000-1-0type">
<xsd:sequence>

<xsd:element name="CLI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の場合の決算期、資本金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算期"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLI00030" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLI00040" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLI00060" type="CLI00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CLA00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLH00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CLH00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLH00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLI00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="250"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CLH00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="CLH00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
