etax/19XMLスキーマ/kansetsu/INW220-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油ガス税保全担保分割提供承認申請書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INW220-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INW220-1-0group">
<xsd:sequence>
<xsd:element name="INW220">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00000" type="AQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00000" type="AQB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保全担保提供命令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00000" type="AQC00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"分割提供の方法　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AQD00000" type="AQD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割提供の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00000" type="AQE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INW220-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AQA00000-1-0type">
<xsd:sequence>

<xsd:element name="AQA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQB00000-1-0type">
<xsd:sequence>

<xsd:element name="AQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQB00030" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"命令年月日等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00080" type="AQB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知書番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供すべき担保の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保される期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQC00000-1-0type">
<xsd:sequence>

<xsd:element name="AQC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割提供期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割提供担保額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00030" type="AQC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提供する担保の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00040" type="AQC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AQB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
