etax/19XMLスキーマ/kansetsu/INX210-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：石油石炭税納税申告特例承認申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INX210-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INX210-1-0group">
<xsd:sequence>
<xsd:element name="INX210">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00000" type="DWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DWB00000" type="DWB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税申告特例を便宜とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DWC00000" type="DWC00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"申請の日の属する月の前月以前6月内に保税地域から引き取った原油等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWD00000" type="DWD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地として指定を受けようとする場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DWE00000" type="DWE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)に記載した場所を納税地とすることを便宜とする事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DWF00000" type="DWF00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"申請者の住所地及び(3)に記載した場所以外に事務所を有する場合の事務所名等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DWG00000" type="DWG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="INX210-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DWA00000-1-0type">
<xsd:sequence>

<xsd:element name="DWA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DWC00000-1-0type">
<xsd:sequence>

<xsd:element name="DWC00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取りの月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWC00020" type="DWC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原油、石油製品、ガス状炭化水素又は石炭の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWC00030" type="DWC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取回数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWC00040" type="DWC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWC00050" type="DWC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWC00060" type="DWC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取場所の所轄税関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DWD00000-1-0type">
<xsd:sequence>

<xsd:element name="DWD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWD00020" type="DWD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の所轄税関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DWF00000-1-0type">
<xsd:sequence>

<xsd:element name="DWF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DWB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DWC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DWC00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWC00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DWC00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DWC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DWC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DWC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DWC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DWC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
