etax/19XMLスキーマ/kansetsu/INY111-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kansetsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙　国際旅客運送事業に係る異動届出書
version：1.0
Date：2018年08月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="INY111-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="INY111-1-0group">
<xsd:sequence>
<xsd:element name="INY111">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IDA00000" type="IDA00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="INY111-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IDA00000-1-0type">
<xsd:sequence>

<xsd:element name="IDA00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00020" type="IDA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00030" type="IDA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00040" type="IDA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IDA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
