etax/19XMLスキーマ/hojin/HOA175-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一の三(次葉)　各事業年度の所得に係る申告書-外国法人の分(次葉)
version：1.0
Date：2016年11月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA175-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA175-1-0group">
<xsd:sequence>
<xsd:element name="HOA175">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMA00000" type="RMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00000" type="RMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00000" type="RMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RMD00000" type="RMD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA175-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RMA00000-1-0type">
<xsd:sequence>

<xsd:element name="RMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RMB00000-1-0type">
<xsd:sequence>

<xsd:element name="RMB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属所得に係る所得の金額に係る法人税額の計算等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小法人等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の金額又は800万円*＿/12相当額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00050" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち年800万円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(44)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(45)の23.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(48)＋(49)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額((47)の23.4％相当額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属所得に係る法人税額から控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属所得に係る法人税額から控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国内源泉所得に係る所得の金額に係る法人税額の計算等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小法人等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)の金額又は800万円*＿/12相当額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00240" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち年800万円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(57)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(58)の23.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(61)＋(62)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額((60)の23.4％相当額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国内源泉所得に係る法人税額から控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国内源泉所得に係る法人税額から控除しきれなかった税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属所得に係る所得の金額に係る法人税額の計算等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の欠損金又は災害損失金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国内源泉所得に係る所得の金額に係る法人税額の計算等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の欠損金又は災害損失金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RMB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき法人税額又は減少する還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RMC00000-1-0type">
<xsd:sequence>

<xsd:element name="RMC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(77)の4.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RMC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の確定地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の中間還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の欠損金の繰戻しによる還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RMC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RMD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
