etax/19XMLスキーマ/hojin/HOA112-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一　各事業年度の所得に係る申告書-内国法人の分
version：1.0
Date：2019年04月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA112-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA112-1-0group">
<xsd:sequence>
<xsd:element name="HOA112">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00000" type="BGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00000" type="BGB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00000" type="BGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BGD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金・利益の配当（剰余金の分配）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00000" type="BGE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA112-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BGA00000-1-0type">
<xsd:sequence>

<xsd:element name="BGA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00080" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者記名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者記名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00120" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00130" type="BGA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00140" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00150" type="gen:SHIHON_KINref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の資本金の額又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00160" type="BGA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上が１億円以下の普通法人のうち中小法人に該当しないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00170" type="BGA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同非区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地及び旧法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00190" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00200" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00220" type="BGA00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00230" type="BGA00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00240" type="BGA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株主（社員）資本等変動計算書又は損益金処分表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00250" type="BGA00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定科目内訳明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00260" type="BGA00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業概況書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00270" type="BGA00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る契約書等の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00280" type="BGA00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る移転資産等の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00300" type="BGA00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用額明細書提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00310" type="BGA00310-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00320" type="BGA00320-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00340" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00350" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00360" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告の場合の計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00380" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残余財産の最後の分配又は引渡しの日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00410" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算確定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00420" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00430" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGB00000-1-0type">
<xsd:sequence>

<xsd:element name="BGB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取り消された場合等における既に控除された法人税額の特別控除額の加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡利益金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00130" type="BGB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字（外）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引確定法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上（別表三（二の二）「28」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上（別表三（三）「23」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告による還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等の還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻しによる還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき法人税額又は減少する還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGC00000-1-0type">
<xsd:sequence>

<xsd:element name="BGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に係る地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引確定地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告による還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BGA00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00160-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00170-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00220-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00240-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00250-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00260-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00270-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00280-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00300-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00310-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGA00320-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BGB00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
