etax/19XMLスキーマ/hojin/HOA115-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一(一)(次葉)　各事業年度の所得に係る申告書-普通法人(特定の医療法人を除く。)、一般社団法人等及び人格のない社団等の分(次葉)
version：5.0
Date：2018年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA115-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA115-5-0group">
<xsd:sequence>
<xsd:element name="HOA115">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCA00000" type="ZCA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCF00000" type="ZCF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額等の控除額及び仮装経理に基づく過大申告の更正に伴う控除法人税額等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00000" type="ZCB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCC00000" type="ZCC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00000" type="ZCD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZCE00000" type="ZCE00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA115-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ZCA00000-5-0type">
<xsd:sequence>

<xsd:element name="ZCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZCF00000-5-0type">
<xsd:sequence>

<xsd:element name="ZCF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額等の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZCB00000-5-0type">
<xsd:sequence>

<xsd:element name="ZCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小法人等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の金額又は800万円*＿/12相当額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCB00030" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち年800万円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の法人の場合　所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(50)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00083" type="ZCB00083-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(51)の23.4％又は23.2％相当額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(51)の23.4％又は23.2％相当額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(54)＋(55)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00103" type="ZCB00103-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(53)の23.4％又は23.2％相当額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(53)の23.4％又は23.2％相当額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZCC00000-5-0type">
<xsd:sequence>

<xsd:element name="ZCC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(58)の4.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(59)の4.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZCD00000-5-0type">
<xsd:sequence>

<xsd:element name="ZCD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき法人税額又は減少する還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZCD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZCD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻しによる還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZCD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="ZCB00083-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZCB00103-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ZCE00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
