etax/19XMLスキーマ/hojin/HOA120-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一(二)　各事業年度の所得に係る申告書-公益法人等及び協同組合等の分
version：3.0
Date：2005年05月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA120-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA120-3-0group">
<xsd:sequence>
<xsd:element name="HOA120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00000" type="ABA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00000" type="ABB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00000" type="ABC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00000" type="ABD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ABE00000" type="ABE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA120-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABA00000-3-0type">
<xsd:sequence>

<xsd:element name="ABA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者自署押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者自署押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00110" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00120" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00130" type="gen:SHIHON_KINref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00150" type="gen:KEIRI_SEKININSHAref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理責任者自署押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地及び旧法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00163" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00167" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00180" type="ABA00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00190" type="ABA00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00200" type="ABA00200-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益金処分表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00210" type="ABA00210-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定科目内訳明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00220" type="ABA00220-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る契約書等の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00230" type="ABA00230-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る移転資産等の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00233" type="ABA00233-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00236" type="ABA00236-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00250" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00260" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00270" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00280" type="ABA00280-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表等送付要否"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算確定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00340" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00350" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABB00000-3-0type">
<xsd:sequence>

<xsd:element name="ABB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率の適用がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率適用外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率適用所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）又は（４）の２２％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の２６％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡利益金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引この申告により納付すべき法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告による還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等の還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻しによる還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき法人税額又は減少する還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合のこの申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABC00000-3-0type">
<xsd:sequence>

<xsd:element name="ABC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額（別表三（二）「２７」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上（別表三（二の二）「２８」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額（別表三（三）「２３」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上（別表三（四）「15」）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABD00000-3-0type">
<xsd:sequence>

<xsd:element name="ABD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当の２５％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の配当（剰余金の分配）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益又は剰余金処分による賞与の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ABA00180-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00190-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00200-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00210-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00220-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00230-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00233-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00236-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00280-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABE00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
