etax/19XMLスキーマ/hojin/HOA200-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表二　同族会社の判定に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA200-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA200-2-0group">
<xsd:sequence>
<xsd:element name="HOA200">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00000" type="ADA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ADB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の発行済株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）の上位３順位の株式数又は出資金額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADD00000" type="ADD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同族会社の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）と（８）で上位３順位の株式数又は出資金額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00000" type="ADF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非同族の同族会社の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADG00000" type="ADG00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定結果"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADH00000" type="ADH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主等の株式数等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOA200-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADA00000-2-0type">
<xsd:sequence>

<xsd:element name="ADA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADH00000-2-0type">
<xsd:sequence>

<xsd:element name="ADH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADH00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同族会社でない法人株主"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の株主等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADI00000" minOccurs="0" maxOccurs="14">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主（社員）及び同族関係者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADI00010" type="ADI00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADI00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADI00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADI00040" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同族会社でない法人株主"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の株主等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ADD00000-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADF00000-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ADG00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADI00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ADD00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="ADD00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ADF00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="ADF00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ADI00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="ADI00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
