etax/19XMLスキーマ/hojin/HOA201-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表二　同族会社等の判定に関する明細書
version：2.0
Date：2007年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA201-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA201-2-0group">
<xsd:sequence>
<xsd:element name="HOA201">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAA00000" type="VAA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00000" type="VAB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同族会社の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00000" type="VAC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定同族会社の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VAD00000" type="VAD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定結果"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="VAE00000" type="VAE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主等の株式数等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VAF00000" type="VAF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA201-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VAA00000-2-0type">
<xsd:sequence>

<xsd:element name="VAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAA00020" type="VAA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAA00030" type="VAA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAA00040" type="VAA00040-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VAB00000-2-0type">
<xsd:sequence>

<xsd:element name="VAB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の発行済株式の総数又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)と(21)の上位3順位の株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00030" type="VAB00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の議決権の総数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAB00050" type="VAB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00060" type="VAB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAB00070" type="VAB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)と(22)の上位3順位の議決権の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00080" type="VAB00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00090" type="VAB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の社員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00100" type="VAB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の3人以下及びこれらの同族関係者の合計人数のうち最も多い数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00110" type="VAB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAB00120" type="VAB00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同族会社の判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VAC00000-2-0type">
<xsd:sequence>

<xsd:element name="VAC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)の上位1順位の株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00020" type="VAC00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00030" type="VAC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)の上位1順位の議決権の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00040" type="VAC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00050" type="VAC00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)の社員の1人及びその同族関係者の合計人数のうち最も多い数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00060" type="VAC00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAC00070" type="VAC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定同族会社の判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VAE00000-2-0type">
<xsd:sequence>

<xsd:element name="VAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順位"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00030" type="VAE00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00040" type="VAE00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主(社員)及び同族関係者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被支配会社でない法人株主等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00103" type="VAE00103-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00105" type="VAE00105-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00110" type="VAE00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数(本書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の株主等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00145" type="VAE00145-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00155" type="VAE00155-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00160" type="VAE00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00170" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順位"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00190" type="VAE00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00200" type="VAE00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主(社員)及び同族関係者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00220" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00230" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00240" type="VAE00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準となる株主等との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被支配会社でない法人株主等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00273" type="VAE00273-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00275" type="VAE00275-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00280" type="VAE00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数(本書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VAE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の株主等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VAE00315" type="VAE00315-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00325" type="VAE00325-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VAE00330" type="VAE00330-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VAB00030-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAB00120-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00020-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00060-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAC00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VAD00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="VAE00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00103-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00105-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00145-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00155-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00200-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00273-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00275-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00280-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00315-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00325-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAE00330-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VAF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VAA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VAA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VAA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="VAA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VAA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VAA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VAA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VAA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="VAA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VAA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VAA00040-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="VAB00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAB00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAB00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00105-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00105-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00155-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00155-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00275-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00275-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00325-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00325-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VAE00330-2-0type">
<xsd:simpleContent>
<xsd:extension base="VAE00330-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
