etax/19XMLスキーマ/hojin/HOA319-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三(一)　特定同族会社の留保金額に対する税額の計算に関する明細書
version：3.0
Date：2018年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA319-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA319-3-0group">
<xsd:sequence>
<xsd:element name="HOA319">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETA00000" type="ETA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00000" type="ETB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ETC00000" type="ETC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA319-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ETA00000-3-0type">
<xsd:sequence>

<xsd:element name="ETA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ETB00000-3-0type">
<xsd:sequence>

<xsd:element name="ETB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00030" type="ETB00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00073" type="ETB00073-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額及び地方法人税額　外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00077" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額及び地方法人税額　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額及び地方法人税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算の基礎となる法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00103" type="ETB00103-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者以外の法人　外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00107" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者以外の法人　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者以外の法人　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00113" type="ETB00113-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大法人による完全支配関係がある中小企業者　外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00117" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大法人による完全支配関係がある中小企業者　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大法人による完全支配関係がある中小企業者　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額　(21)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00140" type="ETB00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金を支出した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金の額の合計額に係る控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整地方税額に係る控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額　(25)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額に対する税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00580" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額を超え年1億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00610" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年1億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ETB00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ETB00073-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ETB00103-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ETB00113-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ETB00140-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ETC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
