etax/19XMLスキーマ/hojin/HOA310-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三(一)　特定同族会社の留保金額に対する税額の計算に関する明細書
version：5.0
Date：2007年05月29日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA310-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA310-5-0group">
<xsd:sequence>
<xsd:element name="HOA310">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEK00000" type="AEK00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00000" type="AEH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額に対する税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AEI00000" type="AEI00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA310-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-5-0type">
<xsd:sequence>

<xsd:element name="AEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEK00000-5-0type">
<xsd:sequence>

<xsd:element name="AEB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00003" type="AEB00003-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字（内）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00006" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00013" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算の基礎となる法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末資本金の額又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の２５％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00025" type="AEC00025-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額 区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併等により増加した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割型分割等により減少した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEL00020" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2,000万円*＿／12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEL00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AED00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AED00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の還付金等(過誤納及び中間納付額に係る還付金を除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用等の場合等の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定子会社の子会社株式等の譲渡利益相当額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00135" type="AED00135-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額 区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資本基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末の総資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末の自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資本基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEH00000-5-0type">
<xsd:sequence>

<xsd:element name="AEH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年３，０００万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEH00030" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３，０００万円*＿／１２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年３，０００万円相当額を超え年１億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEH00060" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１億円*＿／１２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年１億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３３）の１０％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３４）の１５％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３５）の２０％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00132" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AEB00003-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AEC00025-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AED00135-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AEI00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
