etax/19XMLスキーマ/hojin/HOA315-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三(一)　特定同族会社の留保金額に対する税額の計算に関する明細書(平成21年4月1日以後開始分)
version：1.0
Date：2010年01月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA315-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA315-1-0group">
<xsd:sequence>
<xsd:element name="HOA315">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQA00000" type="KQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00000" type="KQB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00000" type="KQC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQD00000" type="KQD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00000" type="KQE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KQF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KQH00000" type="KQH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額に対する税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KQI00000" type="KQI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA315-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KQA00000-1-0type">
<xsd:sequence>

<xsd:element name="KQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KQB00000-1-0type">
<xsd:sequence>

<xsd:element name="KQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQB00020" type="KQB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算の基礎となる法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KQC00000-1-0type">
<xsd:sequence>

<xsd:element name="KQC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末資本金の額又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併等により増加した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割型分割等により減少した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KQD00000-1-0type">
<xsd:sequence>

<xsd:element name="KQD00010" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KQE00000-1-0type">
<xsd:sequence>

<xsd:element name="KQE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社等から受ける剰余金の配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の還付金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用等の場合等の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額等の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KQH00000-1-0type">
<xsd:sequence>

<xsd:element name="KQH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQH00030" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額を超え年１億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQH00060" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年１億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KQH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KQH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KQH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KQB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KQI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
