etax/19XMLスキーマ/hojin/HOA313-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三(一)付表二　通算法人の留保金額又は所得基準額の調整計算に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA313-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA313-1-0group">
<xsd:sequence>
<xsd:element name="HOA313">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTA00000" type="BTA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00000" type="BTB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金加算額及び留保金控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00000" type="BTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額加算額及び所得基準額控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00000" type="BTD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算外配当等流出配賦額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BTE00000" type="BTE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA313-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BTA00000-1-0type">
<xsd:sequence>

<xsd:element name="BTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BTA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTB00000-1-0type">
<xsd:sequence>

<xsd:element name="BTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人に対する通算法人株式の譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の留保金加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BTB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人に対する通算法人株式の譲渡利益額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人間配当等の当期受取額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算外配当等流出配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の留保金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTC00000-1-0type">
<xsd:sequence>

<xsd:element name="BTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の合併等があった場合の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の所得基準額加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BTC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初配賦欠損金控除額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初支払利子配賦額の控除不足額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の所得基準額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTD00000-1-0type">
<xsd:sequence>

<xsd:element name="BTD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算内配当等の額の当期受取額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算内配当等受取超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の調整通算外配当等流出額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の純通算内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00070" type="BTD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算外配当等流出超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算外配当等流出配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BTD00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BTE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BTD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BTD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
