etax/19XMLスキーマ/hojin/HOA420-017.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表四(簡易様式)　所得の金額の計算に関する明細書(簡易様式)
version：17.0
Date：2018年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA420-17-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="17.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA420-17-0group">
<xsd:sequence>
<xsd:element name="HOA420">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARA00000" type="ARA00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARB00000" type="ARB00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00000" type="ARC00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00000" type="ARD00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARE00000" type="ARE00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(1)＋(11)－(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARY00000" type="ARY00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に係る支払利子等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ00000" type="ARZ00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過利子額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ10000" type="ARZ10000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計((22)から(24)までの計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARF00000" type="ARF00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARI00000" type="ARI00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額から控除される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARJ00000" type="ARJ00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除の対象となる外国法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARJ10000" type="ARJ10000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARK00000" type="ARK00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARL00000" type="ARL00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARM00000" type="ARM00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARN00000" type="ARN00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARN10010" type="ARN10010-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における繰戻しによる還付に係る災害損失欠損金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARR00000" type="ARR00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は残余財産の全部分配等による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARS00000" type="ARS00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ART00000" type="ART00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARX00000" type="ARX00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残余財産の確定の日の属する事業年度に係る事業税の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARV00000" type="ARV00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ARW00000" type="ARW00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA420-17-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ARA00000-17-0type">
<xsd:sequence>

<xsd:element name="ARA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARB00000-17-0type">
<xsd:sequence>

<xsd:element name="ARB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARC00000-17-0type">
<xsd:sequence>

<xsd:element name="ARC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした法人税及び地方法人税（附帯税を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした道府県民税及び市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした附帯税（利子税を除く。）、加算金、延滞金（延納分を除く。）及び過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却の償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00213" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00215" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00218" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00220" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"加算追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00230" type="ARC00230-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00255" type="ARC00255-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00260" type="ARC00260-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00275" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"加算追加分（項番欄あり）　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00280" type="ARC00280-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00285" type="ARC00285-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00305" type="ARC00305-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00310" type="ARC00310-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00315" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARC00325" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00344" type="ARC00344-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00348" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARD00000-17-0type">
<xsd:sequence>

<xsd:element name="ARD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却超過額の当期認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金から支出した事業税等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00093" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社から受ける剰余金の配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00095" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00097" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈益の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格現物分配に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税等の中間納付額及び過誤納に係る還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等及び欠損金の繰戻しによる還付金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00170" type="ARD00170-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00195" type="ARD00195-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00200" type="ARD00200-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00215" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"減算追加分（項番欄あり）　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00220" type="ARD00220-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00225" type="ARD00225-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00245" type="ARD00245-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00250" type="ARD00250-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00255" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ARD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARE00000-17-0type">
<xsd:sequence>

<xsd:element name="ARE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARY00000-17-0type">
<xsd:sequence>

<xsd:element name="ARY00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARY00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARZ00000-17-0type">
<xsd:sequence>

<xsd:element name="ARZ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARZ10000-17-0type">
<xsd:sequence>

<xsd:element name="ARZ10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ10030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARZ10040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARZ10050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARF00000-17-0type">
<xsd:sequence>

<xsd:element name="ARF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARI00000-17-0type">
<xsd:sequence>

<xsd:element name="ARI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARJ00000-17-0type">
<xsd:sequence>

<xsd:element name="ARJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARJ10000-17-0type">
<xsd:sequence>

<xsd:element name="ARJ10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARJ10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARK00000-17-0type">
<xsd:sequence>

<xsd:element name="ARK00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARL00000-17-0type">
<xsd:sequence>

<xsd:element name="ARL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARM00000-17-0type">
<xsd:sequence>

<xsd:element name="ARM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARM00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARM00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARN00000-17-0type">
<xsd:sequence>

<xsd:element name="ARN00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARN10010-17-0type">
<xsd:sequence>

<xsd:element name="ARN10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARN10030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARR00000-17-0type">
<xsd:sequence>

<xsd:element name="ARR00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARR00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARS00000-17-0type">
<xsd:sequence>

<xsd:element name="ARS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARS00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARS00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARS00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ART00000-17-0type">
<xsd:sequence>

<xsd:element name="ART00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ART00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARX00000-17-0type">
<xsd:sequence>

<xsd:element name="ARX00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARX00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ARV00000-17-0type">
<xsd:sequence>

<xsd:element name="ARV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARV00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ARV00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ARV00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ARC00230-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00255-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00260-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00280-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00285-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00305-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00310-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARC00344-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00170-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00195-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00200-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00220-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00225-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00245-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARD00250-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ARW00000-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
