etax/19XMLスキーマ/hojin/HOA415-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表四　所得の金額の計算に関する明細書(外国法人二枚目用)
version：4.0
Date：2019年04月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA415-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA415-4-0group">
<xsd:sequence>
<xsd:element name="HOA415">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOA00000" type="VOA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOB00000" type="VOB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00000" type="VOC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00000" type="VOD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE00000" type="VOE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(1)＋(11)－(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE10000" type="VOE10000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に係る支払利子等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE20000" type="VOE20000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過利子額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE30000" type="VOE30000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計((22)から(24)までの計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE40000" type="VOE40000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の最終の事業年度の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOF00000" type="VOF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOH00000" type="VOH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人又は国家戦略特別区域における指定法人の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOI00000" type="VOI00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額から控除される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOJ00000" type="VOJ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除の対象となる外国法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOA10000" type="VOA10000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOX00000" type="VOX00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失額の損金不算入額又は組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOK00000" type="VOK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOL00000" type="VOL00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOY00000" type="VOY00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の損金算入額又は益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOM00000" type="VOM00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VON00000" type="VON00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOQ00000" type="VOQ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定目的会社等の支払配当又は特定目的信託に係る受託法人の利益の分配等の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOQ10000" type="VOQ10000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における繰戻しによる還付に係る災害損失欠損金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOR00000" type="VOR00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は残余財産の全部分配等による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOS00000" type="VOS00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT00000" type="VOT00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT10000" type="VOT10000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業経営基盤強化準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT20000" type="VOT20000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等を取得した場合の圧縮額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT30000" type="VOT30000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関西国際空港用地整備準備金積立額、中部国際空港整備準備金積立額又は再投資等準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOZ00000" type="VOZ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残余財産の確定の日の属する事業年度に係る事業税の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOV00000" type="VOV00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VOW00000" type="VOW00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA415-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VOA00000-4-0type">
<xsd:sequence>

<xsd:element name="VOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOB00000-4-0type">
<xsd:sequence>

<xsd:element name="VOB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOC00000-4-0type">
<xsd:sequence>

<xsd:element name="VOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした法人税及び地方法人税（附帯税を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした道府県民税及び市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした附帯税（利子税を除く。）、加算金、延滞金（延納分を除く。）及び過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却の償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00213" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00219" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00220" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"加算追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00230" type="VOC00230-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00255" type="VOC00255-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00260" type="VOC00260-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00344" type="VOC00344-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00348" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOD00000-4-0type">
<xsd:sequence>

<xsd:element name="VOD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却超過額の当期認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金から支出した事業税等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00093" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社から受ける剰余金の配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00095" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00097" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈益の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格現物分配に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税等の中間納付額及び過誤納に係る還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等及び欠損金の繰戻しによる還付金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00170" type="VOD00170-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00195" type="VOD00195-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00200" type="VOD00200-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VOD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOE00000-4-0type">
<xsd:sequence>

<xsd:element name="VOE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOE10000-4-0type">
<xsd:sequence>

<xsd:element name="VOE10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOE20000-4-0type">
<xsd:sequence>

<xsd:element name="VOE20010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE20020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOE30000-4-0type">
<xsd:sequence>

<xsd:element name="VOE30010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE30020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE30030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOE30040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE30050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOE40000-4-0type">
<xsd:sequence>

<xsd:element name="VOE40010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOE40020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOF00000-4-0type">
<xsd:sequence>

<xsd:element name="VOF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOH00000-4-0type">
<xsd:sequence>

<xsd:element name="VOH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOI00000-4-0type">
<xsd:sequence>

<xsd:element name="VOI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOJ00000-4-0type">
<xsd:sequence>

<xsd:element name="VOJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOA10000-4-0type">
<xsd:sequence>

<xsd:element name="VOA10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOA10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOX00000-4-0type">
<xsd:sequence>

<xsd:element name="VOX00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOX00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOK00000-4-0type">
<xsd:sequence>

<xsd:element name="VOK00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOL00000-4-0type">
<xsd:sequence>

<xsd:element name="VOL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOY00000-4-0type">
<xsd:sequence>

<xsd:element name="VOY00010" type="VOY00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOY00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOY00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOM00000-4-0type">
<xsd:sequence>

<xsd:element name="VOM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOM00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOM00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VON00000-4-0type">
<xsd:sequence>

<xsd:element name="VON00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VON00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOQ00000-4-0type">
<xsd:sequence>

<xsd:element name="VOQ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOQ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOQ10000-4-0type">
<xsd:sequence>

<xsd:element name="VOQ10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOQ10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOR00000-4-0type">
<xsd:sequence>

<xsd:element name="VOR00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOR00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOS00000-4-0type">
<xsd:sequence>

<xsd:element name="VOS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOS00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOS00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOS00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOT00000-4-0type">
<xsd:sequence>

<xsd:element name="VOT00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOT10000-4-0type">
<xsd:sequence>

<xsd:element name="VOT10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOT20000-4-0type">
<xsd:sequence>

<xsd:element name="VOT20010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT20020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOT30000-4-0type">
<xsd:sequence>

<xsd:element name="VOT30010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOT30020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOZ00000-4-0type">
<xsd:sequence>

<xsd:element name="VOZ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOZ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VOV00000-4-0type">
<xsd:sequence>

<xsd:element name="VOV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOV00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VOV00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VOV00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VOC00230-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOC00255-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOC00260-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOC00344-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOD00170-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOD00195-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VOD00200-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VOY00010-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="VOW00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
