etax/19XMLスキーマ/hojin/HOA410-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表四　所得の金額の計算に関する明細書
version：5.0
Date：2007年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA410-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA410-5-0group">
<xsd:sequence>
<xsd:element name="HOA410">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00000" type="AQA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00000" type="AQB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00000" type="AQC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00000" type="AQD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00000" type="AQE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQF00000" type="AQF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQH00000" type="AQH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQI00000" type="AQI00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額から控除される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQJ00000" type="AQJ00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除の対象となる外国法人税の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQX00000" type="AQX00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失額の損金不算入額又は組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQK00000" type="AQK00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQL00000" type="AQL00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQM00000" type="AQM00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQN00000" type="AQN00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQO00000" type="AQO00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"漁業協同組合等の留保所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQP00000" type="AQP00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"漁業協同組合等の社外流出による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQQ00000" type="AQQ00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定目的会社等の支払配当又は特定目的信託等に係る受託法人の収益の分配の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQR00000" type="AQR00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は非適格分割型分割による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQS00000" type="AQS00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQT00000" type="AQT00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQV00000" type="AQV00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AQW00000" type="AQW00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA410-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AQA00000-5-0type">
<xsd:sequence>

<xsd:element name="AQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQB00000-5-0type">
<xsd:sequence>

<xsd:element name="AQB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQC00000-5-0type">
<xsd:sequence>

<xsd:element name="AQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した法人税（附帯税を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した道府県民税（利子割額を除く。）及び市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した道府県民税利子割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した附帯税（利子税を除く。）、加算金、延滞金（延納分を除く。）及び過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却の償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00213" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00219" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00230" type="AQC00230-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00255" type="AQC00255-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00260" type="AQC00260-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00344" type="AQC00344-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00348" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQD00000-5-0type">
<xsd:sequence>

<xsd:element name="AQD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却超過額の当期認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金から支出した事業税等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税等の中間納付額及び過誤納に係る還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等及び欠損金の繰戻しによる還付金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00160" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"減算追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00170" type="AQD00170-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00195" type="AQD00195-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00200" type="AQD00200-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQE00000-5-0type">
<xsd:sequence>

<xsd:element name="AQE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQF00000-5-0type">
<xsd:sequence>

<xsd:element name="AQF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQH00000-5-0type">
<xsd:sequence>

<xsd:element name="AQH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQI00000-5-0type">
<xsd:sequence>

<xsd:element name="AQI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQJ00000-5-0type">
<xsd:sequence>

<xsd:element name="AQJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQX00000-5-0type">
<xsd:sequence>

<xsd:element name="AQX00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQX00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQK00000-5-0type">
<xsd:sequence>

<xsd:element name="AQK00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQL00000-5-0type">
<xsd:sequence>

<xsd:element name="AQL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQM00000-5-0type">
<xsd:sequence>

<xsd:element name="AQM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQM00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQM00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQN00000-5-0type">
<xsd:sequence>

<xsd:element name="AQN00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQO00000-5-0type">
<xsd:sequence>

<xsd:element name="AQO00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQO00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQP00000-5-0type">
<xsd:sequence>

<xsd:element name="AQP00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQP00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQQ00000-5-0type">
<xsd:sequence>

<xsd:element name="AQQ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQR00000-5-0type">
<xsd:sequence>

<xsd:element name="AQR00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQR00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQS00000-5-0type">
<xsd:sequence>

<xsd:element name="AQS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQS00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQS00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQS00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQT00000-5-0type">
<xsd:sequence>

<xsd:element name="AQT00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQT00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AQV00000-5-0type">
<xsd:sequence>

<xsd:element name="AQV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQV00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQV00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQV00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AQC00230-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQC00255-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQC00260-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQC00344-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQD00170-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQD00195-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQD00200-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQW00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
