etax/19XMLスキーマ/hojin/HOA531-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表五の二(一)付表二　連結子法人の株主等における帳簿価額修正額のうちその連結子法人に係る部分の金額の計算に関する明細書
version：3.0
Date：2022年04月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA531-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA531-3-0group">
<xsd:sequence>
<xsd:element name="HOA531">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXA00000" type="NXA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00000" type="NXB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NXC00000" type="NXC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA531-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NXA00000-3-0type">
<xsd:sequence>

<xsd:element name="NXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXA00020" type="NXA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXA00030" type="NXA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXA00050" type="NXA00050-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NXB00000-3-0type">
<xsd:sequence>

<xsd:element name="NXB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額又は差引翌期首現在利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終利益積立金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併又は適格分割型分割による調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NXB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既修正額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併又は適格分割型分割による調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NXB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正未済額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既修正等額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末修正未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NXB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併又は適格分割型分割による調整額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終利益積立金額の調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの適格合併又は適格分割型分割により引継ぎを受けた最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの適格分割型分割により引継ぎをした最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格合併又は適格分割型分割により引継ぎを受けた最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格分割型分割により分割承継法人に引き継ぐ最終利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終利益積立金額の調整額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NXB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既修正額の調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの適格合併又は適格分割型分割により引継ぎを受けた既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの適格分割型分割により引継ぎをした既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格合併又は適格分割型分割により引継ぎを受けた既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格分割型分割により分割承継法人に引き継ぐ既修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NXB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既修正額の調整額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="NXC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NXA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NXA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NXA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="NXA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NXA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NXA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NXA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NXA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="NXA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NXA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NXA00050-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
