etax/19XMLスキーマ/hojin/HOA522-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表五(二)　租税公課の納付状況等に関する明細書
version：2.0
Date：2007年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOA522-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOA522-2-0group">
<xsd:sequence>
<xsd:element name="HOA522">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEA00000" type="IEA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00000" type="IEB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00000" type="IEC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00000" type="IED00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00000" type="IEE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00000" type="IEF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00000" type="IEG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IEH00000" type="IEH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOA522-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IEA00000-2-0type">
<xsd:sequence>

<xsd:element name="IEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IEB00000-2-0type">
<xsd:sequence>

<xsd:element name="IEB00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IEC00000-2-0type">
<xsd:sequence>

<xsd:element name="IEC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子割"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEC00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IED00000-2-0type">
<xsd:sequence>

<xsd:element name="IED00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額 本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IED00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IED00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IED00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IEE00000-2-0type">
<xsd:sequence>

<xsd:element name="IEE00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中間分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IEF00000-2-0type">
<xsd:sequence>

<xsd:element name="IEF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入のもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞金（延納に係るもの)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00300" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00310" type="IEF00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入のもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税及び加算金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞金（延納分を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF01020" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF01030" type="IEF01030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"充当金取崩しによる納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理による納付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEF01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEF01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在未納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IEG00000-2-0type">
<xsd:sequence>

<xsd:element name="IEG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首納税充当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した納税充当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［33］の欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEG00050" type="IEG00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［39］の欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEG00150" type="IEG00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払税金消却"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IEG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末納税充当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IEF00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IEF01030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IEG00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IEG00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IEH00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
