etax/19XMLスキーマ/hojin/HOB033-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(三)付表三　適格分割等に係る分割法人等の調整後の繰越控除余裕額又は繰越控除限度超過額等の計算に関する明細書
version：3.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB033-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB033-3-0group">
<xsd:sequence>
<xsd:element name="HOB033">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHA00000" type="FHA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00000" type="FHB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割等に係る分割法人等の調整後の繰越控除余裕額又は繰越控除限度超過額等の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FHC00000" type="FHC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB033-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FHA00000-3-0type">
<xsd:sequence>

<xsd:element name="FHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHA00020" type="FHA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHA00030" type="FHA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHA00050" type="FHA00050-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FHB00000-3-0type">
<xsd:sequence>

<xsd:element name="FHB00010" type="FHB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割承継法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00040" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の国外所得金額又は個別国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち分割承継法人等に移転する事業に係る部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうちないものとされる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の調整後の控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)のうち分割承継法人等に移転する事業に係る部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうちないものとされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の調整後の控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FHB00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FHA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FHA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="FHA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="FHA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="FHA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FHA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="FHA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="FHA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="FHA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHA00050-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
