etax/19XMLスキーマ/hojin/HOB078-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十二)付表一　新規高度人件費割合等の計算に関する明細書
version：2.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB078-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB078-2-0group">
<xsd:sequence>
<xsd:element name="HOB078">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RDA00000" type="RDA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00000" type="RDB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDC00000" type="RDC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度の新規高度人件費割合の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RDD00000" type="RDD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB078-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RDA00000-2-0type">
<xsd:sequence>

<xsd:element name="RDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RDA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RDA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RDB00000-2-0type">
<xsd:sequence>

<xsd:element name="RDB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち新規高度研究業務従事者に対する人件費の額(工業化研究に該当する試験研究に係る人件費の額を除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち役員又は使用人に対する人件費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00040" type="RDB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規高度人件費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00050" type="RDB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)／(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち措令第27条の４第25項第１号又は第２号に定める試験研究費の額に該当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規高度研究業務従事者に対する特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RDC00000-2-0type">
<xsd:sequence>

<xsd:element name="RDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RDC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち新規高度研究業務従事者に対する人件費の額(工業化研究に該当する試験研究に係る人件費の額を除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち役員又は使用人に対する人件費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RDC00070" type="RDC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度の新規高度人件費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RDB00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RDB00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RDC00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RDD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="RDB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="RDB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RDB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="RDB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RDC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="RDC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
