etax/19XMLスキーマ/hojin/HOB035-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(三)　外国税額の繰越控除余裕額又は繰越控除限度超過額等の計算に関する明細書
version：2.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB035-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB035-2-0group">
<xsd:sequence>
<xsd:element name="HOB035">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYA00000" type="CYA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00000" type="CYB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除余裕額、個別控除余裕額、控除限度超過額又は個別控除限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00000" type="CYC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前３年以内の控除余裕額、個別控除余裕額、控除限度超過額又は個別控除限度超過額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CYD00000" type="CYD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB035-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CYA00000-2-0type">
<xsd:sequence>

<xsd:element name="CYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYA00020" type="CYA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYA00030" type="CYA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYA00050" type="CYA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CYB00000-2-0type">
<xsd:sequence>

<xsd:element name="CYB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYB00050" type="CYB00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYB00080" type="CYB00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CYC00000-2-0type">
<xsd:sequence>

<xsd:element name="CYC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00200" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除余裕額又は個別控除余裕額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額又は個別控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CYC00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CYC00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CYC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CYB00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CYB00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CYD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CYA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CYA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CYA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="CYA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CYA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CYA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CYA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CYA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="CYA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CYA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CYA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
