etax/19XMLスキーマ/hojin/HOB063-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(六)　試験研究費の総額に係る法人税額の特別控除又は中小企業者等が試験研究を行った場合の法人税額の特別控除及び特別試験研究費に係る法人税額の特別控除に関する明細書
version：8.0
Date：2016年07月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB063-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB063-8-0group">
<xsd:sequence>
<xsd:element name="HOB063">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSA00000" type="KSA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00000" type="KSB00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除又は中小企業者等の試験研究費に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00000" type="KSC00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KSE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KSF00000" type="KSF00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KSG00000" type="KSG00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB063-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KSA00000-8-0type">
<xsd:sequence>

<xsd:element name="KSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KSA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KSB00000-8-0type">
<xsd:sequence>

<xsd:element name="KSB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち特別試験研究費以外の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち試験研究費の総額に係る税額控除又は中小企業者等の試験研究費に係る税額控除の対象とする特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KSB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00030" type="KSB00030-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00040" type="KSB00040-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)＜10％の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00055" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KSB00095" type="KSB00095-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KSC00000-8-0type">
<xsd:sequence>

<xsd:element name="KSC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00023" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除又は中小企業者等の試験研究費に係る税額控除の対象とする特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00025" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引対象特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00027" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち税額控除割合が30％である試験研究に係る特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KSF00000-8-0type">
<xsd:sequence>

<xsd:element name="KSF00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSF00015" type="KSF00015-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第42条の４第３項各号の該当号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSF00020" type="KSF00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KSF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち(26)が第１号である特別試験研究に係る特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KSB00030-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KSB00040-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="KSB00095-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KSF00015-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="KSF00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KSG00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="KSB00030-8-0type">
<xsd:simpleContent>
<xsd:extension base="KSB00030-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="KSB00040-8-0type">
<xsd:simpleContent>
<xsd:extension base="KSB00040-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
