etax/19XMLスキーマ/hojin/HOB054-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(五の二)　外国税額の控除に関する明細書
version：1.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB054-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB054-1-0group">
<xsd:sequence>
<xsd:element name="HOB054">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFA00000" type="BFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00000" type="BFB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00000" type="BFC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　地方法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFD00000" type="BFD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB054-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BFA00000-1-0type">
<xsd:sequence>

<xsd:element name="BFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFB00000-1-0type">
<xsd:sequence>

<xsd:element name="BFB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税の控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越欠損金又は災害損失金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の最終の事業年度の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*90％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第１項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第２項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第３項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の国外所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00350" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00360" type="BFB00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00460" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00470" type="BFB00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFC00000-1-0type">
<xsd:sequence>

<xsd:element name="BFC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BFB00360-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFB00470-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
