etax/19XMLスキーマ/hojin/HOB082-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十五)　電子機器利用設備を指定事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細書
version：2.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB082-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB082-2-0group">
<xsd:sequence>
<xsd:element name="HOB082">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQA00000" type="GQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00000" type="GQB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00000" type="GQC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00000" type="GQD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00000" type="GQE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度に指定事業の用に供した他の供用廃止設備で既にリース特別控除の取戻しの適用を受けた供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GQF00000" type="GQF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB082-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GQA00000-2-0type">
<xsd:sequence>

<xsd:element name="GQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GQB00000-2-0type">
<xsd:sequence>

<xsd:element name="GQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00030" type="GQB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00040" type="GQB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入機器である場合には、輸入の許可年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00070" type="GQB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00100" type="GQB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)+(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)+(22)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)-(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GQC00000-2-0type">
<xsd:sequence>

<xsd:element name="GQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00030" type="GQC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00040" type="GQC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入機器である場合には、輸入の許可年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00070" type="GQC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00100" type="GQC00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]又は([1]+[2])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)+(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[3]又は([3]+[4])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)+(22)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)-(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GQD00000-2-0type">
<xsd:sequence>

<xsd:element name="GQD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00030" type="GQD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00040" type="GQD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入機器である場合には、輸入の許可年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00070" type="GQD00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00100" type="GQD00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]又は([1]+[2])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)+(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[3]又は([3]+[4])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)+(22)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)-(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GQE00000-2-0type">
<xsd:sequence>

<xsd:element name="GQE00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQE00020" type="GQE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GQE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GQE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GQE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GQB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQB00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQC00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQC00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQD00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQD00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GQF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GQB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GQB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GQC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GQC00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQC00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GQD00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQD00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GQD00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="GQD00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
