etax/19XMLスキーマ/hojin/HOB010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(一)　所得税額の控除及びみなし配当金額の一部の控除に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB010-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB010-1-0group">
<xsd:sequence>
<xsd:element name="HOB010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00000" type="AUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00000" type="AUB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1所得税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00000" type="AUC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公社債の利子等、利益の配当及び剰余金の分配又は投資信託及び特定目的信託の収益の分配に係る控除を受ける所得税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00000" type="AUD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他に係る控除を受ける所得税額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00000" type="AUE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2みなし配当金額の一部の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOB010-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AUA00000-1-0type">
<xsd:sequence>

<xsd:element name="AUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUB00000-1-0type">
<xsd:sequence>

<xsd:element name="AUB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金の利子及び合同運用信託の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公社債の利子等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の配当及び剰余金の分配（みなし配当等を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資信託及び特定目的信託の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00322" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00324" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00332" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00334" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00342" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00344" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUC00000-1-0type">
<xsd:sequence>

<xsd:element name="AUC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUC00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUC00030" type="AUC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00060" type="AUC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等の計算基礎期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00070" type="AUC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）のうち元本所有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00080" type="AUC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUC00105" type="AUC00105-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（15）－（16）／2又は12　（負数の場合は零とする。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00110" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUC00120" type="AUC00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00150" type="AUC00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等の計算期末の所有元本数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00160" type="AUC00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等の計算期首の所有元本数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00170" type="AUC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（15）－（16）／2又は12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00180" type="AUC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有元本割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUD00000-1-0type">
<xsd:sequence>

<xsd:element name="AUD00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00070" type="AUD00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUE00000-1-0type">
<xsd:sequence>

<xsd:element name="AUE00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"解散の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（22）の25%相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（22）の25%相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AUC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AUC00105-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AUC00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUD00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AUC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
