etax/19XMLスキーマ/hojin/HOB062-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(六)　試験研究費の総額等に係る法人税額の特別控除に関する明細書(平成20年4月1日以後開始分)
version：1.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB062-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB062-1-0group">
<xsd:sequence>
<xsd:element name="HOB062">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAA00000" type="QAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00000" type="QAB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAC00000" type="QAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAD00000" type="QAD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QAE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="QAF00000" type="QAF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00000" type="QAG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QAH00000" type="QAH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB062-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QAA00000-1-0type">
<xsd:sequence>

<xsd:element name="QAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QAB00000-1-0type">
<xsd:sequence>

<xsd:element name="QAB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00030" type="QAB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00040" type="QAB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)＜10％の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得に対する法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QAC00000-1-0type">
<xsd:sequence>

<xsd:element name="QAC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAC00020" type="QAC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る税額控除割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QAD00000-1-0type">
<xsd:sequence>

<xsd:element name="QAD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引当期税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QAF00000-1-0type">
<xsd:sequence>

<xsd:element name="QAF00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAF00020" type="QAF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究等の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QAG00000-1-0type">
<xsd:sequence>

<xsd:element name="QAG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期超過要件に係る試験研究費の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数/前事業年度の月数又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00060" type="QAG00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00070" type="QAG00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度の月数又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越税額控除限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QAG00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QAG00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QAG00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QAB00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAC00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAG00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAG00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QAH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="QAB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="QAB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QAB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="QAB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QAC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="QAC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QAG00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="QAG00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QAG00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="QAG00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
