etax/19XMLスキーマ/hojin/HOB024-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二)付表一　国外事業所等帰属所得に係る所得の金額の計算に関する明細書(平成28年4月1日以後開始事業年度又は連結事業年度分)
version：1.1
Date：2016年10月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB024-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB024-1-1group">
<xsd:sequence>
<xsd:element name="HOB024">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00000" type="ASA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00000" type="ASB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ASC00000" type="ASC00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB024-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ASA00000-1-1type">
<xsd:sequence>

<xsd:element name="ASA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00020" type="ASA00020-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00030" type="ASA00030-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00050" type="ASA00050-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASB00000-1-1type">
<xsd:sequence>

<xsd:element name="ASB00010" type="ASB00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部1　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00020" type="ASB00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部2　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00030" type="ASB00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部3　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00040" type="ASB00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部4　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00050" type="ASB00050-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部1　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00060" type="ASB00060-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部2　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00070" type="ASB00070-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部3　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00080" type="ASB00080-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部4　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00120" type="ASB00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00140" type="ASB00140-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち内部取引に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に帰せられるべき資本に対応する負債の利子の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等の資本に係る負債の利子の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険会社の投資資産超過額に係る投資収益の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00770" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00780" type="ASB00780-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00790" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00800" type="ASB00800-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち内部取引に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に帰せられるべき資本に対応する負債の利子の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算空白部4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等の資本に係る負債の利子の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険会社の投資資産超過額に係る投資収益の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算空白部4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)のうち非課税所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ASB00010-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00030-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00040-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00050-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00060-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00070-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00080-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00120-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00140-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00780-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASB00800-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASC00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ASA00020-1-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ASA00020-1-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ASA00020-1-1Rtype">
            <xsd:attribute name="IDREF" type="ASA00020-1-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ASA00020-1-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ASA00030-1-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ASA00030-1-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ASA00030-1-1Rtype">
            <xsd:attribute name="IDREF" type="ASA00030-1-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ASA00030-1-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ASA00050-1-1IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
