etax/19XMLスキーマ/hojin/HOB050-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(五)　間接納付した控除対象外国法人税額又は個別控除対象外国法人税額等の計算に関する明細書
version：5.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB050-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB050-5-0group">
<xsd:sequence>
<xsd:element name="HOB050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00000" type="BCA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00000" type="BCB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付した控除対象外国法人税額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00000" type="BCC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の金額のうち基準事業年度の所得金額以下の部分に係る金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00000" type="BCD00000-5-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"配当等の金額のうち基準事業年度の所得金額を超える部分に係る金額の計算　明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BCE00000" type="BCE00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB050-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BCA00000-5-0type">
<xsd:sequence>

<xsd:element name="BCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00020" type="BCA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00030" type="BCA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00040" type="BCA00040-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCB00000-5-0type">
<xsd:sequence>

<xsd:element name="BCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00040" type="BCB00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00050" type="BCB00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00060" type="BCB00060-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00065" type="BCB00065-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結持分割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等を受ける日又は外国子会社の当該配当等に係る事業年度の所得に対して外国法人税が課された日のいずれか遅い日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)に対して課される外国源泉税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付した控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の円換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付したとみなされる控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の円換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCC00000-5-0type">
<xsd:sequence>

<xsd:element name="BCC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等算出基礎所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の課税所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(15)のうち多い金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等に充てられる所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち配当等に充てられない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち配当等に充てられる部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち受取配当等に係る部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各事業年度に係る受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社の外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(22)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付したとみなされる外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付したとみなされる外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(24)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付した控除対象外国法人税額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*(21)／(7)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付外国法人税額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00510" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[(22)*(21)／((16)-(22))]又は[((22)+(別表六（五の二）「22」の合計))*(21)／(((16)と(別表六（五の二）「9」)のうち多い金額)-(22))]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)と(28)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし納付外国法人税額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)*(21)／((16)-(22))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00640" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00670" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)と(31)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社又は外国孫会社に係る外国法人税額が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00720" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(29)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00750" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCC00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし間接納付分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCC00820" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(32)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00850" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCD00000-5-0type">
<xsd:sequence>

<xsd:element name="BCD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等算出基礎所得金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の課税所得金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(15)のうち多い金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等に充てられる所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち配当等に充てられない部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち配当等に充てられる部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち受取配当等に係る部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各事業年度に係る受取配当等の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)と(20)のうち少ない金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社の外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(22)の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付したとみなされる外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付したとみなされる外国法人税額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(24)の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付した控除対象外国法人税額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*(21)／(7)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付外国法人税額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00510" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[(22)*(21)／((16)-(22))]又は[((22)+(別表六（五の二）「22」の合計))*(21)／(((16)と(別表六（五の二）「9」)のうち多い金額)-(22))]"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)と(28)のうち少ない金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし納付外国法人税額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)*(21)／((16)-(22))"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00640" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00670" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)と(31)のうち少ない金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社又は外国孫会社に係る外国法人税額が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接納付分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00720" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(29)の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00750" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCD00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし間接納付分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCD00820" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額前の事業年度又は連結事業年度の(32)の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCD00850" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BCB00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00050-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00060-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00065-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BCA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BCA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BCA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="BCA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BCA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BCA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BCA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="BCA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BCA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCA00040-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="BCB00060-5-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00060-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00065-5-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00065-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
