etax/19XMLスキーマ/hojin/HOB045-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(五の二)　分配時調整外国税相当額の控除に関する明細書
version：4.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB045-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB045-4-0group">
<xsd:sequence>
<xsd:element name="HOB045">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEA00000" type="DEA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00000" type="DEB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00000" type="DEC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託（合同運用信託、公社債投資信託及び公社債等運用投資信託（特定公社債等運用投資信託を除く。）を除く。）の収益の分配又は特定目的会社の利益の配当、投資法人の投資口の配当等、特定目的信託の受益権の剰余金の配当（社債的受益権の剰余金の配当を除く。）及び特定投資信託の受益権の剰余金の配当（特定公社債等運用投資信託の受益権の剰余金の配当を除く。）（みなし配当を除く。）に係る控除を受ける分配時調整外国税相当額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00000" type="DED00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他に係る控除を受ける分配時調整外国税相当額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DEE00000" type="DEE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB045-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DEA00000-4-0type">
<xsd:sequence>

<xsd:element name="DEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEB00000-4-0type">
<xsd:sequence>

<xsd:element name="DEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合同運用信託、公社債投資信託及び公社債等運用投資信託（特定公社債等運用投資信託を除く。）の収益の分配並びに特定公社債等運用投資信託の受益権及び特定目的信託の社債的受益権に係る剰余金の配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託（合同運用信託、公社債投資信託及び公社債等運用投資信託（特定公社債等運用投資信託を除く。）を除く。）の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定目的会社の利益の配当、投資法人の投資口の配当等、特定目的信託の受益権の剰余金の配当（社債的受益権の剰余金の配当を除く。）及び特定投資信託の受益権の剰余金の配当（特定公社債等運用投資信託の受益権の剰余金の配当を除く。）（みなし配当を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5の(3))のうち法人税の額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEC00000-4-0type">
<xsd:sequence>

<xsd:element name="DEC00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"個別法による場合　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00020" type="DEC00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00050" type="DEC00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配等の計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00060" type="DEC00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち元本所有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00070" type="DEC00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEC00090" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00100" type="DEC00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00130" type="DEC00130-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配等の計算期末の所有元本数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00140" type="DEC00140-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配等の計算期首の所有元本数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00150" type="DEC00150-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)-(18)/2又は12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00160" type="DEC00160-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有元本割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DED00000-4-0type">
<xsd:sequence>

<xsd:element name="DED00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00070" type="DED00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DEC00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00070-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00100-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00130-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00140-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00150-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00160-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DED00070-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DEC00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00130-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00130-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00140-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00140-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00150-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00150-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00160-4-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00160-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
