etax/19XMLスキーマ/hojin/HOB028-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二)付表五　通算法人の控除限度額の計算等に関する明細書
version：3.0
Date：2025年04月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB028-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB028-3-0group">
<xsd:sequence>
<xsd:element name="HOB028">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQA00000" type="DQA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00000" type="DQB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　通算法人の法人税の控除限度額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00000" type="DQC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　通算法人の地方法人税控除限度額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DQD00000" type="DQD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB028-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DQA00000-3-0type">
<xsd:sequence>

<xsd:element name="DQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQB00000-3-0type">
<xsd:sequence>

<xsd:element name="DQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税の調整前控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越欠損金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初配賦欠損金控除額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の合併等があった場合の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の合計額から欠損金額の合計額を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の調整国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国外源泉所得に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額が０を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額が０を下回る場合のその下回る額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額のうち０を超えるものの合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち(21)に達するまでの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるものの合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額が０を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)*90％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)-(27)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税の控除限度調整額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)の金額が０を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額が０を下回る場合のその下回る額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額のうち０を超えるものの合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQC00000-3-0type">
<xsd:sequence>

<xsd:element name="DQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(39)の金額が０を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額が０を下回る場合のその下回る額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額のうち０を超えるものの合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DQD00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
