etax/19XMLスキーマ/hojin/HOB031-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(三)付表一　地方税の控除限度額の計算の特例に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB031-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB031-1-0group">
<xsd:sequence>
<xsd:element name="HOB031">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00000" type="AZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AZB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00000" type="AZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末従業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AZD00000" type="AZD00000-1-0type" minOccurs="0" maxOccurs="25">
<xsd:annotation>
<xsd:appinfo>"地方税の控除限度額の計算の特例に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZE00000" type="AZE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOB031-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AZA00000-1-0type">
<xsd:sequence>

<xsd:element name="AZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AZD00000-1-0type">
<xsd:sequence>

<xsd:element name="AZD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所又は事業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZD00030" type="AZD00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末従業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税割の税率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZD00050" type="AZD00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZD00060" type="AZD00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方税の控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AZE00000-1-0type">
<xsd:sequence>

<xsd:element name="AZE00010" type="AZE00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末従業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方税の控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AZC00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZD00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZD00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZD00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZE00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AZC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZD00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZD00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZD00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZD00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZD00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZD00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZE00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZE00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
