etax/19XMLスキーマ/hojin/HOB021-016.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二)　内国法人の外国税額の控除に関する明細書
version：16.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB021-16-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="16.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB021-16-0group">
<xsd:sequence>
<xsd:element name="HOB021">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXA00000" type="QXA00000-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00000" type="QXB00000-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00000" type="QXD00000-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 地方法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QXC00000" type="QXC00000-16-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB021-16-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QXA00000-16-0type">
<xsd:sequence>

<xsd:element name="QXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QXB00000-16-0type">
<xsd:sequence>

<xsd:element name="QXB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税の控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越欠損金又は災害損失金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の最終の事業年度の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00073" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00076" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の調整国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国外源泉所得に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)+(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)*90％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第1項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第2項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第3項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00800" type="QXB00800-16-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((19)+(20)+(21))又は当初申告税額控除額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00293" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((19)+(20)+(21))又は当初申告税額控除額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00296" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第69条第18項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期のその他の国外源泉所得に係る所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国外源泉所得に係る当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00480" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00490" type="QXB00490-16-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00620" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00630" type="QXB00630-16-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QXD00000-16-0type">
<xsd:sequence>

<xsd:element name="QXD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QXD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QXD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00083" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法第12条第1項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00100" type="QXD00100-16-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(54)又は当初申告税額控除額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00085" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(54)又は当初申告税額控除額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00087" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法第12条第8項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QXD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="QXB00800-16-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QXB00490-16-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QXB00630-16-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QXD00100-16-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QXC00000-16-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
