etax/19XMLスキーマ/hojin/HOB085-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十五)　欠損金増加合計額に係る法人税額相当額の計算に関する明細書
version：2.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB085-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB085-2-0group">
<xsd:sequence>
<xsd:element name="HOB085">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00000" type="BQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00000" type="BQB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般試験研究費の額及び中小企業者等の試験研究費の額に係る法人税額の特別控除における欠損金増加合計額に係る法人税額相当額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00000" type="BQC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額に係る法人税額の特別控除における欠損金増加合計額に係る法人税額相当額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BQD00000" type="BQD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB085-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BQA00000-2-0type">
<xsd:sequence>

<xsd:element name="BQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BQB00000-2-0type">
<xsd:sequence>

<xsd:element name="BQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引各欠損金増加額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00020" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去適用等事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初非特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既加算対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　差引各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金増加合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00140" type="BQB00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の法人税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人又は通算子法人としての法人税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00190" type="BQB00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BQC00000-2-0type">
<xsd:sequence>

<xsd:element name="BQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引各欠損金増加額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00020" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去適用等事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初非特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既加算対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　差引各欠損金増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金増加合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00140" type="BQC00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の法人税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人又は通算子法人としての法人税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQC00190" type="BQC00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BQB00140-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BQB00190-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BQC00140-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BQC00190-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BQD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
