etax/19XMLスキーマ/hojin/HOB180-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十七)　沖縄の特定中小企業者又は特定中小連結法人が経営革新設備を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細書
version：4.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB180-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB180-4-0group">
<xsd:sequence>
<xsd:element name="HOB180">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSA00000" type="BSA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00000" type="BSB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の特定中小企業者又は特定中小連結法人が経営革新設備を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細　[1]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00500" type="BSB00500-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の特定中小企業者又は特定中小連結法人が経営革新設備を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細　[2]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01000" type="BSB01000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の特定中小企業者又は特定中小連結法人が経営革新設備を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細　[3]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00000" type="BSC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度に事業の用に供した他の供用廃止設備で既にリース特別控除の取戻しの適用を受けた供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BSD00000" type="BSD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB180-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BSA00000-4-0type">
<xsd:sequence>

<xsd:element name="BSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSA00020" type="BSA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSA00030" type="BSA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSA00040" type="BSA00040-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSB00000-4-0type">
<xsd:sequence>

<xsd:element name="BSB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00030" type="BSB00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00040" type="BSB00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00060" type="BSB00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00090" type="BSB00090-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)+(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)+(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00325" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち連結納税の承認を取り消された日前５年以内に開始した各連結事業年度における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額が(27)の金額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備を事業の用に供しなくなった事業年度又は連結事業年度後の繰越税額控除限度超過額の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSB00500-4-0type">
<xsd:sequence>

<xsd:element name="BSB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00530" type="BSB00530-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00540" type="BSB00540-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00550" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00560" type="BSB00560-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00590" type="BSB00590-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]又は([1]+[2])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)+(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[3]又は([3]+[4])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)+(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00825" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち連結納税の承認を取り消された日前５年以内に開始した各連結事業年度における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額が(27)の金額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備を事業の用に供しなくなった事業年度又は連結事業年度後の繰越税額控除限度超過額の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSB01000-4-0type">
<xsd:sequence>

<xsd:element name="BSB01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01030" type="BSB01030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01040" type="BSB01040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01060" type="BSB01060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01090" type="BSB01090-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年度におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]又は([1]+[2])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)+(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち供用年度前の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[3]又は([3]+[4])"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)+(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01325" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち連結納税の承認を取り消された日前５年以内に開始した各連結事業年度における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)と(27)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSB01410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額が(27)の金額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSB01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備を事業の用に供しなくなった事業年度又は連結事業年度後の繰越税額控除限度超過額の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSC00000-4-0type">
<xsd:sequence>

<xsd:element name="BSC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSC00020" type="BSC00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BSC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BSB00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00090-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00530-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00540-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00560-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00590-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB01030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB01040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB01060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB01090-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSC00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BSA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BSA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BSA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="BSA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BSA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BSA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BSA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BSA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="BSA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BSA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BSA00040-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="BSB00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB00090-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00090-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB00560-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00560-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB00590-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00590-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB01060-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB01060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB01090-4-0type">
<xsd:simpleContent>
<xsd:extension base="BSB01090-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
