etax/19XMLスキーマ/hojin/HOB345-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十)付表　通算法人である中小企業者等の試験研究費の額に係る税額控除可能分配額等の計算に関する明細書
version：3.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB345-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB345-3-0group">
<xsd:sequence>
<xsd:element name="HOB345">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00000" type="MQA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00000" type="MQB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MQC00000" type="MQC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB345-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MQA00000-3-0type">
<xsd:sequence>

<xsd:element name="MQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MQB00000-3-0type">
<xsd:sequence>

<xsd:element name="MQB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象試験研究費の額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の控除対象試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の控除対象試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算増減試験研究費割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の比較試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の比較試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算増減試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00100" type="MQB00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算増減試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算試験研究費割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の平均売上金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の平均売上金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00140" type="MQB00140-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算税額控除割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00160" type="MQB00160-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増前合算税額控除割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00170" type="MQB00170-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)＞10％の場合の控除割増率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00180" type="MQB00180-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算税額控除割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等試験研究費基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の調整前法人税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の調整前法人税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人の事業年度が令和８年３月31日以前に開始する事業年度の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00240" type="MQB00240-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)＞10％の場合の特例加算割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除分配割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除可能分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初申告税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初申告税額控除可能分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)＞＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)＜(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)＞０の場合の税額控除可能分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)＞(25)の場合の税額控除超過取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額が当初申告非特定欠損金額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額が当初申告非特定欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)の法人税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)の当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)＞(33)の場合の非特定欠損金調整取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MQB00100-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00140-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00160-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00170-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00180-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00240-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="MQB00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MQB00140-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00140-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MQB00160-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00160-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MQB00170-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00170-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MQB00180-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00180-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MQB00240-3-0type">
<xsd:simpleContent>
<xsd:extension base="MQB00240-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
