etax/19XMLスキーマ/hojin/HOB665-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十八)　雇用者の数が増加した場合の法人税額の特別控除に関する明細書(平成27年8月10日以後終了事業年度分)
version：1.0
Date：2015年09月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB665-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB665-1-0group">
<xsd:sequence>
<xsd:element name="HOB665">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPA00000" type="FPA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00000" type="FPB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FPC00000" type="FPC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FPF00000" type="FPF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00000" type="FPG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定地方活力向上地域特定業務施設整備計画に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FPH00000" type="FPH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB665-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FPA00000-1-0type">
<xsd:sequence>

<xsd:element name="FPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FPB00000-1-0type">
<xsd:sequence>

<xsd:element name="FPB00010" type="FPB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00020" type="FPB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の開始の日の前日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00030" type="FPB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期の終了の日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00040" type="FPB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FPF00000-1-0type">
<xsd:sequence>

<xsd:element name="FPF00010" type="FPF00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPF00050" type="FPF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FPG00000-1-0type">
<xsd:sequence>

<xsd:element name="FPG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00020" type="FPG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業実施地域"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所税額控除限度額に係る計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00040" type="FPG00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00060" type="FPG00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00070" type="FPG00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の開始の日の前日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00080" type="FPG00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期の終了の日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00090" type="FPG00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00110" type="FPG00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00130" type="FPG00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引当期税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別税額控除限度額に係る計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00240" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる地方事業所基準雇用者数　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00270" type="FPG00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度(人数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00290" type="FPG00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引当期税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FPB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPB00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPB00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPC00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPF00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FPF00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FPG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FPG00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FPG00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FPG00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FPG00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FPC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPF00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPF00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
