etax/19XMLスキーマ/hojin/HOB638-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十五)　中小企業者等が給与等の引上げを行った場合の法人税額の特別控除に関する明細書
version：4.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB638-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB638-4-0group">
<xsd:sequence>
<xsd:element name="HOB638">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STA00000" type="STA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00000" type="STB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STC00000" type="STC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00000" type="STD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STE00000" type="STE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業比較教育訓練費の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="STF00000" type="STF00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB638-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="STA00000-4-0type">
<xsd:sequence>

<xsd:element name="STA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="STB00000-4-0type">
<xsd:sequence>

<xsd:element name="STB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00080" type="STB00080-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業比較教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00130" type="STB00130-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等税額控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)&gt;=2.5％の場合において、(11)&gt;=10％若しくは(8)=(10)&gt;0のとき又は経営力向上要件を満たすとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="STC00000-4-0type">
<xsd:sequence>

<xsd:element name="STC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STC00050" type="STC00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(22)の前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STC00090" type="STC00090-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STC00100" type="STC00100-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)の前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="STD00000-4-0type">
<xsd:sequence>

<xsd:element name="STD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等又は連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(26の[3])の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00220" type="STD00220-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00230" type="STD00230-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26の[3])の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="STE00000-4-0type">
<xsd:sequence>

<xsd:element name="STE00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"調整対象年度　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(31)の事業年度又は連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="STE00070" type="STE00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STE00080" type="STE00080-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)の事業年度又は連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="STE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業比較教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="STB00080-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STB00130-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STC00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STC00090-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STC00100-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STD00220-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STD00230-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STE00070-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STE00080-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="STF00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="STB00080-4-0type">
<xsd:simpleContent>
<xsd:extension base="STB00080-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STB00130-4-0type">
<xsd:simpleContent>
<xsd:extension base="STB00130-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STC00090-4-0type">
<xsd:simpleContent>
<xsd:extension base="STC00090-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STC00100-4-0type">
<xsd:simpleContent>
<xsd:extension base="STC00100-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STD00220-4-0type">
<xsd:simpleContent>
<xsd:extension base="STD00220-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STD00230-4-0type">
<xsd:simpleContent>
<xsd:extension base="STD00230-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STE00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="STE00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="STE00080-4-0type">
<xsd:simpleContent>
<xsd:extension base="STE00080-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
