etax/19XMLスキーマ/hojin/HOB658-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十四)付表二　給与等の支給額が増加した場合の法人税額の特別控除における雇用者給与等支給増加重複控除額の計算に関する明細書
version：3.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB658-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB658-3-0group">
<xsd:sequence>
<xsd:element name="HOB658">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UNA00000" type="UNA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00000" type="UNB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UNC00000" type="UNC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB658-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UNA00000-3-0type">
<xsd:sequence>

<xsd:element name="UNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UNA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UNA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UNB00000-3-0type">
<xsd:sequence>

<xsd:element name="UNB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00020" type="UNB00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00030" type="UNB00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00040" type="UNB00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00050" type="UNB00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UNB00065" type="UNB00065-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる雇用者の数　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00070" type="UNB00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる雇用者の数　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00075" type="UNB00075-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00080" type="UNB00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00085" type="UNB00085-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00090" type="UNB00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00100" type="UNB00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UNB00110" type="UNB00110-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UNB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UNB00020-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00030-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00040-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00050-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00065-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00070-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00075-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00080-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00085-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00090-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00100-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNB00110-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UNC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UNB00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00065-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00065-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00075-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00075-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00085-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00085-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UNB00110-3-0type">
<xsd:simpleContent>
<xsd:extension base="UNB00110-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
