etax/19XMLスキーマ/hojin/HOB646-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十八)付表　前期繰越分に係る調整前法人税額超過構成額に関する明細書
version：5.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB646-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB646-5-0group">
<xsd:sequence>
<xsd:element name="HOB646">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUA00000" type="ZUA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUD00000" type="ZUD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成30年改正前の第５号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00000" type="ZUE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第６号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUF00000" type="ZUF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第７号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUG00000" type="ZUG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第14号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUH00000" type="ZUH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第15号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUL00000" type="ZUL00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災特例法第17条の２第３項、第17条の２の２第３項又は第17条の２の３第３項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZUM00000" type="ZUM00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB646-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ZUA00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUD00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUD00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUE00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUF00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUF00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUG00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUG00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUG00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUH00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUH00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUH00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUH00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZUL00000-5-0type">
<xsd:sequence>

<xsd:element name="ZUL00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUL00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUL00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUL00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZUL00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZUL00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZUL00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZUM00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
