etax/19XMLスキーマ/hojin/HOB670-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十二)　リース資産の使用状況等に関する明細書
version：1.0
Date：2012年07月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB670-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB670-1-0group">
<xsd:sequence>
<xsd:element name="HOB670">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBA00000" type="YBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00000" type="YBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各事業年度又は各連結事業年度において控除した法人税額の特別控除額等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00000" type="YBC00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"リース資産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YBD00000" type="YBD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB670-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YBA00000-1-0type">
<xsd:sequence>

<xsd:element name="YBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBA00020" type="YBA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBA00030" type="YBA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YBA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBA00050" type="YBA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YBB00000-1-0type">
<xsd:sequence>

<xsd:element name="YBB00010" type="YBB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧租税特別措置法適用条項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00020" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YBB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総調整前連結税額基準額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額又は個別帰属額基準額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除された法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得に係るもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リースに係るもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分に係るもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YBB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期に繰り越された繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得に係るもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リースに係るもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YBC00000-1-0type">
<xsd:sequence>

<xsd:element name="YBC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YBC00040" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"資産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YBC00050" type="YBC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"許可年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約終了年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00100" type="YBC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00130" type="YBC00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において使用した期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において支払うリース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00160" type="YBC00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用の状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YBC00170" type="YBC00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった事由"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="YBB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBC00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBC00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBC00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBC00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YBD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="YBA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="YBA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="YBA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="YBA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="YBA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="YBA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="YBA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="YBA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="YBA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="YBA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="YBA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="YBC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="YBC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YBC00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="YBC00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
