etax/19XMLスキーマ/hojin/HOB648-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十九)　特定税額控除規定の適用可否の判定に関する明細書
version：1.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB648-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB648-1-0group">
<xsd:sequence>
<xsd:element name="HOB648">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZA00000" type="SZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00000" type="SZB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00000" type="SZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZD00000" type="SZD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SZE00000" type="SZE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB648-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SZA00000-1-0type">
<xsd:sequence>

<xsd:element name="SZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SZB00000-1-0type">
<xsd:sequence>

<xsd:element name="SZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00040" type="SZB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((1)＞(2))又は((1)＝(2)＝0)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内設備投資額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内設備投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00090" type="SZB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)＞(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定対象年度の基準所得等金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等の基準所得等金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZB00130" type="SZB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)＜＝(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SZC00000-1-0type">
<xsd:sequence>

<xsd:element name="SZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等又は連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の月数/(11の[3])の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00220" type="SZC00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00230" type="SZC00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11の[3])の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SZC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SZC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SZD00000-1-0type">
<xsd:sequence>

<xsd:element name="SZD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書に計上された減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の処分の方法により特別償却準備金として積み立てた金額その他上記以外の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="SZB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SZB00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SZB00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SZC00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SZC00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SZE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="SZC00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="SZC00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SZC00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="SZC00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
