etax/19XMLスキーマ/hojin/HOB665-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十一)　地方活力向上地域等において雇用者の数が増加した場合の法人税額の特別控除に関する明細書
version：10.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB665-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB665-10-0group">
<xsd:sequence>
<xsd:element name="HOB665">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPA00000" type="FPA00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00000" type="FPG00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定地方活力向上地域等特定業務施設整備計画等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FPH00000" type="FPH00000-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB665-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FPA00000-10-0type">
<xsd:sequence>

<xsd:element name="FPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FPG00000-10-0type">
<xsd:sequence>

<xsd:element name="FPG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00013" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設特定業務施設の事業供用日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00020" type="FPG00020-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業実施地域"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数に係る当期税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00750" type="FPG00750-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00095" type="FPG00095-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00490" type="FPG00490-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00845" type="FPG00845-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00850" type="FPG00850-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00855" type="FPG00855-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00860" type="FPG00860-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00863" type="FPG00863-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規雇用者総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00866" type="FPG00866-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00870" type="FPG00870-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00872" type="FPG00872-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00874" type="FPG00874-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型新規雇用者総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00876" type="FPG00876-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定非新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00878" type="FPG00878-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00880" type="FPG00880-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数に係る当期税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00720" type="FPG00720-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00295" type="FPG00295-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引当期税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG00960" type="FPG00960-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00970" type="FPG00970-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の開始の日の前日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00980" type="FPG00980-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち当期の終了の日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG00990" type="FPG00990-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が令和６年３月31日以前である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01070" type="FPG01070-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01080" type="FPG01080-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が令和６年４月１日以後である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第42条の12第６項第16号イに掲げる数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01110" type="FPG01110-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01120" type="FPG01120-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第42条の12第６項第16号ロに掲げる数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01140" type="FPG01140-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01150" type="FPG01150-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる雇用者の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01170" type="FPG01170-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01180" type="FPG01180-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が令和６年３月31日以前である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01220" type="FPG01220-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01230" type="FPG01230-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が令和６年４月１日以後である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第42条の12第６項第16号イに掲げる数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01260" type="FPG01260-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01270" type="FPG01270-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第42条の12第６項第16号ロに掲げる数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01290" type="FPG01290-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01300" type="FPG01300-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる雇用者の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01320" type="FPG01320-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01330" type="FPG01330-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPG01340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPG01350" type="FPG01350-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPG01360" type="FPG01360-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FPG00020-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00750-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00095-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00490-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00845-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00850-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00855-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00860-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00863-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00866-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00870-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00872-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00874-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00876-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00878-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00880-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00720-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00295-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00960-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00970-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00980-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG00990-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01070-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01080-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01110-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01120-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01140-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01150-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01170-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01180-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01220-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01230-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01260-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01270-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01290-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01300-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01320-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01330-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01350-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPG01360-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FPH00000-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FPG00750-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00750-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00095-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00095-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00490-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00490-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00845-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00845-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00850-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00850-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00855-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00855-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00860-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00860-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00863-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00863-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00866-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00866-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00870-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00870-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00872-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00872-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00874-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00874-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00876-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00876-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00878-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00878-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00880-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00880-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00720-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00720-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00295-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00295-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00960-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00960-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00970-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00970-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00980-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00980-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG00990-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG00990-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01070-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01070-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01080-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01080-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01110-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01110-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01120-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01120-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01140-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01140-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01150-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01150-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01170-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01170-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01180-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01180-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01220-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01220-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01230-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01230-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01260-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01260-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01270-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01270-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01290-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01290-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01300-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01300-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01320-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01320-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01330-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01330-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01350-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01350-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FPG01360-10-0type">
<xsd:simpleContent>
<xsd:extension base="FPG01360-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
