etax/19XMLスキーマ/hojin/HOB680-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十)　認定地方公共団体の寄附活用事業に関連する寄附をした場合の法人税額の特別控除に関する明細書
version：2.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB680-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB680-2-0group">
<xsd:sequence>
<xsd:element name="HOB680">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJA00000" type="FJA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00000" type="FJB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00000" type="FJC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FJD00000" type="FJD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB680-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FJA00000-2-0type">
<xsd:sequence>

<xsd:element name="FJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FJB00000-2-0type">
<xsd:sequence>

<xsd:element name="FJB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額控除基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額控除額の計算の基礎となる法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額調整加算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00150" type="FJB00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額調整減算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等以外の法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00220" type="FJB00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象個別帰属調整額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額控除額の計算の基礎となる法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJB00270" type="FJB00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FJC00000-2-0type">
<xsd:sequence>

<xsd:element name="FJC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00030" type="FJC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00040" type="FJC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"まち・ひと・しごと創生寄附活用事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FJB00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FJB00220-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FJB00270-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FJC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FJC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FJD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
