etax/19XMLスキーマ/hojin/HOB632-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(十八)　国内の設備投資額が増加した場合の機械等に係る法人税額の特別控除に関する明細書
version：1.0
Date：2013年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB632-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB632-1-0group">
<xsd:sequence>
<xsd:element name="HOB632">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPA00000" type="OPA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OPB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度において取得等をした生産等資産のうち当該適用対象年度終了の日において有するものの取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="OPC00000" type="OPC00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00000" type="OPD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPE00000" type="OPE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費として損金経理をした金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPF00000" type="OPF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OPG00000" type="OPG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPH00000" type="OPH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB632-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="OPA00000-1-0type">
<xsd:sequence>

<xsd:element name="OPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OPA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OPC00000-1-0type">
<xsd:sequence>

<xsd:element name="OPC00010" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPC00030" type="OPC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00040" type="OPC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OPC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法上の圧縮記帳による積立金計上額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引改定取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OPD00000-1-0type">
<xsd:sequence>

<xsd:element name="OPD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得に対する法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OPE00000-1-0type">
<xsd:sequence>

<xsd:element name="OPE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の当期償却額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書に計上された減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の処分の方法により特別償却準備金として積み立てた金額その他上記以外の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OPE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の当期償却額のうち当期に取得等をした生産等資産を構成する機械等に係る普通償却限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち特別償却に関する他の規定の適用により損金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費として損金経理をした金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OPF00000-1-0type">
<xsd:sequence>

<xsd:element name="OPF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度において取得等をした生産等資産のうち当該前事業年度又は前連結事業年度終了の日において有するものの取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度の月数/前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OPF00030" type="OPF00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPF00040" type="OPF00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OPF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OPF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額の110%相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="OPC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OPC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OPF00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OPF00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OPG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OPH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="OPF00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="OPF00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OPF00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="OPF00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
