etax/19XMLスキーマ/hojin/HOB636-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六(二十)　雇用者給与等支給額が増加した場合の法人税額の特別控除に関する明細書
version：2.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB636-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB636-2-0group">
<xsd:sequence>
<xsd:element name="HOB636">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORA00000" type="ORA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORB00000" type="ORB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ORC00000" type="ORC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ORG00000" type="ORG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORH00000" type="ORH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORI00000" type="ORI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00000" type="ORJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00000" type="ORL00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各経過年度における計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ORK00000" type="ORK00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB636-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ORA00000-2-0type">
<xsd:sequence>

<xsd:element name="ORA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORB00000-2-0type">
<xsd:sequence>

<xsd:element name="ORB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORG00000-2-0type">
<xsd:sequence>

<xsd:element name="ORG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得に対する法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORG00040" type="ORG00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORH00000-2-0type">
<xsd:sequence>

<xsd:element name="ORH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度又は基準連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORH00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORH00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(14)の基準事業年度又は基準連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORH00060" type="ORH00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORH00070" type="ORH00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)の基準事業年度又は基準連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORI00000-2-0type">
<xsd:sequence>

<xsd:element name="ORI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORI00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORI00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(18)の前事業年度又は前連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORI00060" type="ORI00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORI00070" type="ORI00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)の前事業年度又は前連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORJ00000-2-0type">
<xsd:sequence>

<xsd:element name="ORJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者である継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORJ00062" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用制度対象者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00063" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00064" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORJ00066" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00067" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00068" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORJ00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月別支給対象者の合計数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00080" type="ORJ00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00090" type="ORJ00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORJ00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ORL00000-2-0type">
<xsd:sequence>

<xsd:element name="ORL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過雇用者給与等支給増加額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00140" type="ORL00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該経過年度の月数/(14)の基準事業年度又は基準連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00170" type="ORL00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該経過年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00180" type="ORL00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)の基準事業年度又は基準連結事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該経過年度の月数/(34)の前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00260" type="ORL00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該経過年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00270" type="ORL00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)の前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者である継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用制度対象者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月別支給対象者の合計数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00430" type="ORL00430-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00440" type="ORL00440-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各経過年度の合計額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除上限割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00500" type="ORL00500-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00510" type="ORL00510-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各経過年度の月数の合計数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除上限割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORL00523" type="ORL00523-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORL00527" type="ORL00527-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ORL00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各経過年度における経過雇用者給与等支給増加額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ORC00000-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ORG00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ORH00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORH00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORI00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORI00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORJ00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORJ00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00140-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00170-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00270-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00430-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00440-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00500-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORL00510-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ORL00523-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ORL00527-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ORK00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ORC00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORC00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORH00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORH00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORH00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORH00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORI00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORI00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORI00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORI00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORJ00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORJ00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORJ00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORJ00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00430-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00430-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00440-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00440-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00500-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00500-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00510-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00510-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ORL00527-2-0type">
<xsd:simpleContent>
<xsd:extension base="ORL00527-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
