etax/19XMLスキーマ/hojin/HOB732-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七(三)付表　通算法人の更生欠損金の損金算入及び民事再生等評価換えが行われる場合の再生等欠損金の損金算入があった場合の控除未済欠損金額等の調整に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB732-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB732-1-0group">
<xsd:sequence>
<xsd:element name="HOB732">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOA00000" type="GOA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00000" type="GOB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人の適用年度の所得金額基準額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00000" type="GOC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人のうちに法第59条第２項の規定の適用を受ける法人がある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00000" type="GOD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額の調整"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GOE00000" type="GOE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB732-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GOA00000-1-0type">
<xsd:sequence>

<xsd:element name="GOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GOB00000-1-0type">
<xsd:sequence>

<xsd:element name="GOB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算総所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の所得金額差引計の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の欠損金額差引計の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算所得帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GOC00000-1-0type">
<xsd:sequence>

<xsd:element name="GOC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計と通算総所得金額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人のうち適用を受ける法人の控除対象欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00040" type="GOC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算所得帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GOD00000-1-0type">
<xsd:sequence>

<xsd:element name="GOD00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GOC00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GOC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
