etax/19XMLスキーマ/hojin/HOB703-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七(一)付表三　事業を移転しない適格組織再編成等が行われた場合の控除未済欠損金額の特例に関する明細書
version：1.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB703-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB703-1-0group">
<xsd:sequence>
<xsd:element name="HOB703">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKA00000" type="LKA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKB00000" type="LKB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00000" type="LKC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当該法人分の控除未済欠損金額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00000" type="LKD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合の調整後の当該法人分の控除未済欠損金額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKE00000" type="LKE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"制限対象金額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKF00000" type="LKF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転直前における移転時価資産価額及び移転簿価資産価額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LKG00000" type="LKG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB703-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LKA00000-1-0type">
<xsd:sequence>

<xsd:element name="LKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LKB00000-1-0type">
<xsd:sequence>

<xsd:element name="LKB00010" type="LKB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LKC00000-1-0type">
<xsd:sequence>

<xsd:element name="LKC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00050" type="LKC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00170" type="LKC00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00290" type="LKC00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00410" type="LKC00410-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00510" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00520" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00530" type="LKC00530-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00640" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00650" type="LKC00650-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00770" type="LKC00770-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産価額が移転簿価資産価額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKC00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算による調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LKD00000-1-0type">
<xsd:sequence>

<xsd:element name="LKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00050" type="LKD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00160" type="LKD00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00270" type="LKD00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00380" type="LKD00380-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00490" type="LKD00490-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00590" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00600" type="LKD00600-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00690" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00700" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00710" type="LKD00710-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKD00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額以下である場合　(6)のうち移転時価資産超過額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額が支配関係前欠損金額の合計額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKD00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額以外の部分から成る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係後欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち制限対象金額を構成するものとされた部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LKE00000-1-0type">
<xsd:sequence>

<xsd:element name="LKE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係前欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"制限対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LKF00000-1-0type">
<xsd:sequence>

<xsd:element name="LKF00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKF00020" type="LKF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LKF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LKF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LKF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="LKB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LKC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00410-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00530-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00650-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKC00770-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00380-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00490-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00600-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKD00710-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LKG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
