etax/19XMLスキーマ/hojin/HOB702-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七(一)付表二　共同事業を営むための適格合併等に該当しない場合の引継対象未処理欠損金額又は控除未済欠損金額の特例に関する明細書
version：3.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB702-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB702-3-0group">
<xsd:sequence>
<xsd:element name="HOB702">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00000" type="CAA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00000" type="CAB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業を営むための適格合併等に該当しない場合の引継対象未処理欠損金額又は控除未済欠損金額の特例に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00000" type="CAC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引継対象未処理欠損金額又は調整後の当該法人分の控除未済欠損金額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00000" type="CAD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額に満たない場合又は簿価純資産超過額が特定資本関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額の合計額に満たない場合の引継対象未処理欠損金額又は調整後の当該法人分の控除未済欠損金額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00000" type="CAE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係事業年度の前事業年度終了の時における時価純資産超過額又は簿価純資産超過額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00000" type="CAF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係事業年度の前事業年度終了の時における時価純資産価額及び簿価純資産価額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CAG00000" type="CAG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB702-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CAA00000-3-0type">
<xsd:sequence>

<xsd:element name="CAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAB00000-3-0type">
<xsd:sequence>

<xsd:element name="CAB00010" type="CAB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象法人の別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00040" type="CAB00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAC00000-3-0type">
<xsd:sequence>

<xsd:element name="CAC00010" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"引継対象未処理欠損金額又は調整後の当該法人分の控除未済欠損金額の特例計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAC00050" type="CAC00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の未処理欠損金額又は当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算後の引継対象未処理欠損金額又は調整後の当該法人分の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額以上である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額が特定資本関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の未処理欠損金額又は当該法人の控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額以上である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額が特定資本関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAD00000-3-0type">
<xsd:sequence>

<xsd:element name="CAD00010" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAD00050" type="CAD00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額が特定資本関係前未処理欠損金額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係前未処理欠損金額又は特定資本関係前控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"制限対象金額に係る特定資本関係前未処理欠損金額又は特定資本関係前控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額が特定資本関係事業年度以後の事業年度の欠損金額のうち特定資産譲渡等損失相当額の合計額に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係事業年度以後の事業年度の欠損金発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)のうち特定資産譲渡等損失相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)のうち(13)に相当する金額に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係前未処理欠損金額又は特定資本関係前控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"制限対象金額に係る特定資本関係前未処理欠損金額又は特定資本関係前控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係事業年度以後の事業年度の欠損金発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)のうち特定資産譲渡等損失相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)のうち(13)に相当する金額に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAE00000-3-0type">
<xsd:sequence>

<xsd:element name="CAE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係前未処理欠損金額又は特定資本関係前控除未済欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"制限対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAF00000-3-0type">
<xsd:sequence>

<xsd:element name="CAF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00020" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"資産の繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00030" type="CAF00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00100" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"負債の繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00110" type="CAF00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CAB00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CAB00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAC00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAD00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAF00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAF00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAG00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
