etax/19XMLスキーマ/hojin/HOB727-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七(二)付表一　通算法人の欠損金の通算に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB727-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB727-1-0group">
<xsd:sequence>
<xsd:element name="HOB727">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVA00000" type="FVA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00000" type="FVB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00000" type="FVC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の通算に関する計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FVD00000" type="FVD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB727-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FVA00000-1-0type">
<xsd:sequence>

<xsd:element name="FVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FVB00000-1-0type">
<xsd:sequence>

<xsd:element name="FVB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の損金算入限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期欠損金控除額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期欠損金控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00150" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期欠損金控除額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期欠損金控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該10年内事業年度前の各10年内事業年度における既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　当期欠損金控除額の明細　当期欠損金控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FVC00000-1-0type">
<xsd:sequence>

<xsd:element name="FVC00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細３　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00080" type="FVC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定損金算入割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の非特定欠損金額に係る控除未済額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額及び特定損金算入額控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の既損金算入額及び特定損金算入額控除後の損金算入限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00140" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細４　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算総調整損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00210" type="FVC00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定損金算入割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初被配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初配賦欠損金控除額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整当初配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FVC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FVC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初配賦欠損金控除額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FVC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整当初配賦欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FVC00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FVC00210-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FVD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FVC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="FVC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FVC00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="FVC00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
