etax/19XMLスキーマ/hojin/HOB734-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七(二)付表五　認定事業適応法人の欠損金の通算の特例に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB734-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB734-1-0group">
<xsd:sequence>
<xsd:element name="HOB734">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBA00000" type="UBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00000" type="UBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UBC00000" type="UBC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB734-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UBA00000-1-0type">
<xsd:sequence>

<xsd:element name="UBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UBB00000-1-0type">
<xsd:sequence>

<xsd:element name="UBB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の所得限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資の額の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に特例の適用を受けた金額のうち当該通算法人の投資の額に対応する部分の金額の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に特例の適用を受けた金額のうち当該通算法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定超過控除対象額及び非特定超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00100" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細１　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用がない場合の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)のうち超過控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00210" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の非特定欠損金額に係る控除未済額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用がない場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00280" type="UBB00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定損金算入割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち超過控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の投資額残額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00330" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細３　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既算出超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の既算出超過控除対象額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得限度総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の非特定欠損控除前所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00440" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細４　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00460" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦前非特定超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用がない場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額及び特定損金算入額控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整非特定欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各通算法人の調整非特定欠損控除前所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00550" type="UBB00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00560" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細５　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00590" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定超過控除対象額の計算　非特定超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦前非特定超過控除対象額のうち当該通算法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受けた金額のうち当該通算法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定超過控除対象額及び非特定超過控除対象額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被配賦投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UBB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５　計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受けた金額のうち当該通算法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定超過控除対象額及び非特定超過控除対象額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UBB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UBB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被配賦投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UBB00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UBB00550-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UBC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UBB00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="UBB00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UBB00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="UBB00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
