etax/19XMLスキーマ/hojin/HOB805-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八(一)付表　受取配当等の額の明細書
version：1.0
Date：2015年05月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB805-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB805-1-0group">
<xsd:sequence>
<xsd:element name="HOB805">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00000" type="BNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="BNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全子法人株式等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00000" type="BNC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等又は関連法人株式等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00000" type="BND00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他株式等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00000" type="BNE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非支配目的株式等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BNF00000" type="BNF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB805-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNA00000-1-0type">
<xsd:sequence>

<xsd:element name="BNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNB00000-1-0type">
<xsd:sequence>

<xsd:element name="BNB00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額の計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNC00000-1-0type">
<xsd:sequence>

<xsd:element name="BNC00005" type="BNC00005-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"効力発生日までの保有期間又は受取配当等の額の計算期間　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"効力発生日までの保有期間又は受取配当等の額の計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNC00070" type="BNC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BND00000-1-0type">
<xsd:sequence>

<xsd:element name="BND00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BND00020" type="BND00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BND00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BND00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNE00000-1-0type">
<xsd:sequence>

<xsd:element name="BNE00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNE00020" type="BNE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00050" type="BNE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BNC00005-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BNC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BND00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
