etax/19XMLスキーマ/hojin/HOB825-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八(三)付表　特定支配後増加利益剰余金額超過額等の計算に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB825-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB825-1-0group">
<xsd:sequence>
<xsd:element name="HOB825">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCA00000" type="UCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00000" type="UCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00000" type="UCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00000" type="UCD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UCE00000" type="UCE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB825-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UCA00000-1-0type">
<xsd:sequence>

<xsd:element name="UCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCA00020" type="UCA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCA00030" type="UCA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UCA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCA00050" type="UCA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UCB00000-1-0type">
<xsd:sequence>

<xsd:element name="UCB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益剰余金期中増加及び期中配当等があった場合の特定支配後増加利益剰余金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける直前の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度終了の日の翌日から当該対象配当等の額を受ける直前の時までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(9)+((10)-(9)+(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日の前日の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日の属する事業年度開始の日から当該特定支配日の前日までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(14)+(((15)-(14)+(16))-(17))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UCB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((2)-(8))又は((2)-(19))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(3)/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第10項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表八(三)「4」+「7」)と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UCC00000-1-0type">
<xsd:sequence>

<xsd:element name="UCC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益剰余金期中増加及び期中配当等があった場合の特定支配後増加利益剰余金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける直前の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度終了の日の翌日から当該対象配当等の額を受ける直前の時までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(9)+((10)-(9)+(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日の前日の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日の属する事業年度開始の日から当該特定支配日の前日までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(14)+(((15)-(14)+(16))-(17))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UCC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((2)-(8))又は((2)-(19))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(3)/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第10項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表八(三)「4」+「7」)と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UCD00000-1-0type">
<xsd:sequence>

<xsd:element name="UCD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益剰余金期中増加及び期中配当等があった場合の特定支配後増加利益剰余金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UCD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける直前の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度終了の日の翌日から当該対象配当等の額を受ける直前の時までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(9)+((10)-(9)+(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日の前日の他の法人の利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日の属する事業年度開始の日から当該特定支配日の前日までの期間内に当該他の法人の株主等が当該他の法人から受ける配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配前配当等の額に対応して減少した他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計(14)+(((15)-(14)+(16))-(17))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UCD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((2)-(8))又は((2)-(19))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(3)/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第10項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表八(三)「4」+「7」)と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UCD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UCE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="UCA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UCA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UCA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="UCA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UCA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UCA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UCA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UCA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="UCA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UCA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UCA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
