etax/19XMLスキーマ/hojin/HOB807-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八(一)付表二　通算法人の関連法人株式等に係る配当等の額から控除する利子の額の計算に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB807-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB807-1-0group">
<xsd:sequence>
<xsd:element name="HOB807">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GXA00000" type="GXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00000" type="GXB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子等の控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00000" type="GXC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GXD00000" type="GXD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB807-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GXA00000-1-0type">
<xsd:sequence>

<xsd:element name="GXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GXA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GXA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GXB00000-1-0type">
<xsd:sequence>

<xsd:element name="GXB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の適用関連法人配当等の額の合計額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　(１)＋(２)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人に対する支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の支払利子合計額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　(６)＋(７)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00090" type="GXB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額の配賦割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額の４％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子配賦額の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00130" type="GXB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第19条第２項の適用の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子等の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GXC00000-1-0type">
<xsd:sequence>

<xsd:element name="GXC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再計算要否の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GXC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初申告適用関連法人配当合計額の合計の４％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初申告支払利子合計額の合計の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額の合計の４％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額の合計の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00060" type="GXC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第64条の５第６項の規定の適用がある場合、(15)＜(16)である場合又は(17)＜(18)である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GXC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)が「非該当」の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GXC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当初支払利子配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子修正額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整当初支払利子配賦額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整当初支払利子配賦額の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GXC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初支払利子配賦額の控除不足額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GXB00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GXB00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GXC00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GXD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GXB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="GXB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
