etax/19XMLスキーマ/hojin/HOB820-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八(三)　特定支配関係がある他の法人から受ける対象配当等の額等に関する明細書
version：4.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB820-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB820-4-0group">
<xsd:sequence>
<xsd:element name="HOB820">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00000" type="QKA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00000" type="QKB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00000" type="QKE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00000" type="QKF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QKD00000" type="QKD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB820-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QKA00000-4-0type">
<xsd:sequence>

<xsd:element name="QKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKB00000-4-0type">
<xsd:sequence>

<xsd:element name="QKB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第10項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKB00120" type="QKB00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00130" type="QKB00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKE00000-4-0type">
<xsd:sequence>

<xsd:element name="QKE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第10項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKE00120" type="QKE00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00130" type="QKE00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKF00000-4-0type">
<xsd:sequence>

<xsd:element name="QKF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第10項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKF00120" type="QKF00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00130" type="QKF00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第10項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="QKB00120-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKB00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKE00120-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKE00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKF00120-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKF00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QKD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
