etax/19XMLスキーマ/hojin/HOB820-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八(三)　特定支配関係のある他の法人から受ける対象配当等の額等に関する明細書
version：2.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB820-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB820-2-0group">
<xsd:sequence>
<xsd:element name="HOB820">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00000" type="QKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00000" type="QKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00000" type="QKE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00000" type="QKF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00000" type="QKC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額等の計算１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00000" type="QKG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額等の計算２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00000" type="QKH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額等の計算３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QKD00000" type="QKD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB820-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QKA00000-2-0type">
<xsd:sequence>

<xsd:element name="QKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00020" type="QKA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKA00030" type="QKA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKA00050" type="QKA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKB00000-2-0type">
<xsd:sequence>

<xsd:element name="QKB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第７項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKB00120" type="QKB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKB00130" type="QKB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKE00000-2-0type">
<xsd:sequence>

<xsd:element name="QKE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第７項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKE00120" type="QKE00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKE00130" type="QKE00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKF00000-2-0type">
<xsd:sequence>

<xsd:element name="QKF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額に係る基準時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一事業年度内配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち令第119条の３第７項の規定の適用を受けなかった配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(6)に係る各基準時の直前において有する他の法人の株式又は出資の帳簿価額のうち最も大きいもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国株主割合等の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QKF00120" type="QKF00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第１号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKF00130" type="QKF00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第119条の３第７項第２号の該当の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QKF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の株式又は出資の基準時の直前における帳簿価額から減算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKC00000-2-0type">
<xsd:sequence>

<xsd:element name="QKC00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額(当該特定支配日の属する事業年度開始の日以後に当該他の法人の株主等が受けた配当等の額がある場合には、当該配当等の額に対応して減少した利益剰余金の額を減算した金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(15)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第７項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((4)+(7))と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKG00000-2-0type">
<xsd:sequence>

<xsd:element name="QKG00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額(当該特定支配日の属する事業年度開始の日以後に当該他の法人の株主等が受けた配当等の額がある場合には、当該配当等の額に対応して減少した利益剰余金の額を減算した金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(15)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第７項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((4)+(7))と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QKH00000-2-0type">
<xsd:sequence>

<xsd:element name="QKH00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配後配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち支払を受ける配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の対象配当等の額に係る決議日等前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配日から対象配当等の額に係る決議日等の属する他の法人の事業年度開始の日の前日までの間に当該他の法人の株主等が受けた配当等の額に対応して減少した当該他の法人の利益剰余金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の法人の特定支配日前に最後に終了した事業年度の貸借対照表に計上されている利益剰余金の額(当該特定支配日の属する事業年度開始の日以後に当該他の法人の株主等が受けた配当等の額がある場合には、当該配当等の額に対応して減少した利益剰余金の額を減算した金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)*(15)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象配当等の額を受ける前に他の法人から受けた配当等の額のうち令第119条の３第７項の規定の適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定支配後増加利益剰余金額超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((4)+(7))と(23)のうちいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QKH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち益金不算入規定により益金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="QKB00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKB00130-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKE00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKE00130-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKF00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="QKF00130-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QKD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QKA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QKA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QKA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="QKA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QKA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QKA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QKA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QKA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="QKA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QKA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QKA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
