etax/19XMLスキーマ/hojin/HOB915-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(五)　通算終了事由が生じた他の通算法人の株式につき資産調整勘定対応金額等がある場合の簿価純資産価額とする金額の計算に関する明細書
version：1.1
Date：2022年11月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB915-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB915-1-1group">
<xsd:sequence>
<xsd:element name="HOB915">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULA00000" type="ULA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00000" type="ULB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ULC00000" type="ULC00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB915-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ULA00000-1-1type">
<xsd:sequence>

<xsd:element name="ULA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ULB00000-1-1type">
<xsd:sequence>

<xsd:element name="ULB00010" type="ULB00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算終了事由が生じた他の通算法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算完全支配関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算終了事由が生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の(3)の直前における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の(3)の直前における資産の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の(3)の直前における負債の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定等対応金額合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00110" type="ULB00110-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算内適格合併に係る被合併法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算内適格合併の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算対象資産調整勘定対応金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総通算簿価純資産価額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00170" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額又は負債調整勘定対応金額の計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00180" type="ULB00180-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得又は譲渡をした法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00190" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細９　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の株式の取得又は譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00210" type="ULB00210-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対象株式又は譲渡した株式若しくは出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の取得の時における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定金額又は負債調整勘定金額として計算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00310" type="ULB00310-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00350" type="ULB00350-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00560" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の株式の取得又は譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00570" type="ULB00570-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対象株式又は譲渡した株式若しくは出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の取得の時における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定金額又は負債調整勘定金額として計算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00670" type="ULB00670-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00710" type="ULB00710-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の株式の取得又は譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00760" type="ULB00760-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対象株式又は譲渡した株式若しくは出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の取得の時における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定金額又は負債調整勘定金額として計算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00860" type="ULB00860-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00900" type="ULB00900-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00940" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の株式の取得又は譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00950" type="ULB00950-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対象株式又は譲渡した株式若しくは出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の取得の時における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定金額又は負債調整勘定金額として計算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01050" type="ULB01050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01090" type="ULB01090-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の株式の取得又は譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01140" type="ULB01140-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対象株式又は譲渡した株式若しくは出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は譲渡の直前における保有株式又は出資の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象株式の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の取得の時における発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の法人の時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定金額又は負債調整勘定金額として計算される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01240" type="ULB01240-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01280" type="ULB01280-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合　譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定対応金額の合計額の計算　資産調整勘定対応金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00430" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細10　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00470" type="ULB00470-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01350" type="ULB01350-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01420" type="ULB01420-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01490" type="ULB01490-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細８"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB01560" type="ULB01560-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡をした場合　譲渡に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債調整勘定対応金額の合計額の計算　負債調整勘定対応金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ULB00010-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00110-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00180-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ULB00210-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ULB00310-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00350-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ULB00570-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ULB00670-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00710-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ULB00760-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ULB00860-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00900-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ULB00950-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ULB01050-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01090-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ULB01140-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ULB01240-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01280-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00470-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01350-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01420-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01490-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB01560-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULC00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ULB00310-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00310-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00350-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00350-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00670-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00670-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00710-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00710-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00860-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00860-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00900-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00900-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01050-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01090-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01090-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01240-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01240-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01280-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01280-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB00470-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB00470-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01350-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01350-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01420-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01420-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01490-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01490-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ULB01560-1-1type">
<xsd:simpleContent>
<xsd:extension base="ULB01560-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
