etax/19XMLスキーマ/hojin/HOB900-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表九(一)　保険会社の契約者配当及び協同組合等の事業分量配当等の損金算入に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB900-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB900-1-0group">
<xsd:sequence>
<xsd:element name="HOB900">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCA00000" type="CCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00000" type="CCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1保険会社の契約者配当の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00000" type="CCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2協同組合等の事業分量配当等の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOB900-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CCA00000-1-0type">
<xsd:sequence>

<xsd:element name="CCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCB00000-1-0type">
<xsd:sequence>

<xsd:element name="CCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相互会社の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式会社の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金基準による益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金等の七％相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度又は連結事業年度の剰余金の額又は利益の額と契約者配当の額との合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち団体定期保険、再保険及び心身障害者扶養者生命保険に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の50／100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金等の7%相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計又は個別所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCC00000-1-0type">
<xsd:sequence>

<xsd:element name="CCC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"事業分量配当の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCC00020" type="CCC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCC00060" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"従事分量配当の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCC00070" type="CCC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CCC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
