etax/19XMLスキーマ/hojin/HOB900-011.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表九(一)　保険会社の契約者配当の損金算入に関する明細書
version：11.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB900-11-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="11.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB900-11-0group">
<xsd:sequence>
<xsd:element name="HOB900">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCA00000" type="CCA00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00000" type="CCB00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CCD00000" type="CCD00000-11-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB900-11-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CCA00000-11-0type">
<xsd:sequence>

<xsd:element name="CCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCA00020" type="CCA00020-11-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCA00030" type="CCA00030-11-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCA00040" type="CCA00040-11-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCB00000-11-0type">
<xsd:sequence>

<xsd:element name="CCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相互会社の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式会社の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金基準による益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金等の7%相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CCB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度又は連結事業年度の剰余金の額又は利益の額と契約者配当の額との合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち団体定期保険、再保険及び心身障害者扶養者生命保険に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の50／100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金等の7%相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CCB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計又は個別所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CCD00000-11-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CCA00020-11-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CCA00020-11-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CCA00020-11-0Rtype">
            <xsd:attribute name="IDREF" type="CCA00020-11-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CCA00020-11-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CCA00030-11-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CCA00030-11-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CCA00030-11-0Rtype">
            <xsd:attribute name="IDREF" type="CCA00030-11-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CCA00030-11-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CCA00040-11-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
