etax/19XMLスキーマ/hojin/HOB910-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表九(二)　新株予約権に関する明細書
version：2.0
Date：2007年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOB910-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOB910-2-0group">
<xsd:sequence>
<xsd:element name="HOB910">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUA00000" type="VUA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00000" type="VUB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株予約権に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VUC00000" type="VUC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOB910-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VUA00000-2-0type">
<xsd:sequence>

<xsd:element name="VUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUA00020" type="VUA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUA00030" type="VUA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUA00050" type="VUA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VUB00000-2-0type">
<xsd:sequence>

<xsd:element name="VUB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00030" type="VUB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行対象者の区分及び人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00040" type="VUB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株予約権発行数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利行使期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00070" type="VUB00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利行使期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利行使価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行の時の単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株予約権の変動状況の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利確定前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00120" type="VUB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首権利未確定数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00130" type="VUB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発行数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00140" type="VUB00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利不確定による失効数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00150" type="VUB00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利確定数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00160" type="VUB00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末権利未確定数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利確定後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00180" type="VUB00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首権利確定後未行使数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00190" type="VUB00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利確定数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00200" type="VUB00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利行使数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00220" type="VUB00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等課税事由が生じたもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00230" type="VUB00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等課税事由が生じないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUB00240" type="VUB00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利不行使による失効数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00250" type="VUB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末権利確定後未行使数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首費用計上累積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期費用計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利行使に係る金額のうち損金算入額の基礎となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利行使に係る金額のうち損金不算入となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利不行使による失効に伴い益金不算入となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末費用計上累積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VUB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VUB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首費用計上累積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期費用計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利行使に係る金額のうち損金算入額の基礎となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利行使に係る金額のうち損金不算入となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期権利不行使による失効に伴い益金不算入となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VUB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末費用計上累積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VUB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUB00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VUC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VUA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VUA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VUA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="VUA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VUA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VUA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VUA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VUA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="VUA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VUA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VUA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
