etax/19XMLスキーマ/hojin/HOC055-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(六)　特別新事業開拓事業者に対し特定事業活動として出資をした場合の特別勘定の金額の損金算入に関する明細書
version：1.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC055-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC055-1-0group">
<xsd:sequence>
<xsd:element name="HOC055">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QLA00000" type="QLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00000" type="QLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLC00000" type="QLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QLD00000" type="QLD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC055-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QLA00000-1-0type">
<xsd:sequence>

<xsd:element name="QLA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QLA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QLA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QLB00000-1-0type">
<xsd:sequence>

<xsd:element name="QLB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額基準額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QLB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業経営基盤強化準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等を取得した場合の圧縮額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関西国際空港用地整備準備金積立額、中部国際空港整備準備金積立額又は再投資等準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QLB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QLC00000-1-0type">
<xsd:sequence>

<xsd:element name="QLC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき経済産業大臣による証明書が交付されない場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QLC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QLD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
