etax/19XMLスキーマ/hojin/HOC022-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(四)　対外船舶運航事業者の日本船舶による収入金額に係る所得の金額の損金算入又は益金算入に関する明細書
version：7.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC022-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC022-7-0group">
<xsd:sequence>
<xsd:element name="HOC022">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVA00000" type="LVA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00000" type="LVB00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶・船員確保計画等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00000" type="LVC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶・船員確保計画の認定を取り消された場合の益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LVD00000" type="LVD00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC022-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LVA00000-7-0type">
<xsd:sequence>

<xsd:element name="LVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LVB00000-7-0type">
<xsd:sequence>

<xsd:element name="LVB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶・船員確保計画の認定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定計画に記載された計画期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVB00045" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準日本船舶につき国土交通大臣の確認を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00050" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"日本船舶ごとの純トン数に応じた利益の金額の計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１日当たり利益金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVB00070" type="LVB00070-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00080" type="LVB00080-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の純トン数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00090" type="LVB00090-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち1,000トン以下の純トン数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((6)*1/100*130円)又は((6)*1/100*195円)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00110" type="LVB00110-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち1,000トンを超え10,000トン以下の純トン数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((8)*1/100*110円)又は((8)*1/100*165円)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00130" type="LVB00130-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち10,000トンを超え25,000トン以下の純トン数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((10)*1/100*70円)又は((10)*1/100*105円)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00150" type="LVB00150-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち25,000トン超の純トン数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((12)*1/100*40円)又は((12)*1/100*60円)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の１日当たり利益金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVB00180" type="LVB00180-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の持分比率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00190" type="LVB00190-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の稼動日数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の純トン数に応じた利益の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額又は益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の純トン数に応じた利益の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LVC00000-7-0type">
<xsd:sequence>

<xsd:element name="LVC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定の取消日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の認定を取り消された場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金の額に算入された金額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVC00040" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の純トン数に応じた利益の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LVC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LVC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業に係る所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶の純トン数に応じた利益の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LVC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LVB00070-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00080-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00090-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00110-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00130-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00150-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00180-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVB00190-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LVD00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LVB00080-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00080-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00090-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00090-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00110-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00110-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00130-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00130-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00150-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00150-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00180-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00180-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LVB00190-7-0type">
<xsd:simpleContent>
<xsd:extension base="LVB00190-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
