etax/19XMLスキーマ/hojin/HOC012-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(二)　国際戦略総合特別区域における指定特定事業法人の所得又は連結所得の金額の損金算入又は益金算入に関する明細書
version：1.0
Date：2011年10月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC012-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC012-1-0group">
<xsd:sequence>
<xsd:element name="HOC012">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LLA00000" type="LLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLB00000" type="LLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　国際戦略総合特別区域における指定特定事業法人の所得又は連結所得の金額の損金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLC00000" type="LLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLD00000" type="LLD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　指定特定事業法人の指定を取り消された場合の益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LLE00000" type="LLE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC012-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LLA00000-1-0type">
<xsd:sequence>

<xsd:element name="LLA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LLA00020" type="LLA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLA00030" type="LLA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LLA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LLA00050" type="LLA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LLB00000-1-0type">
<xsd:sequence>

<xsd:element name="LLB00010" type="LLB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国際戦略総合特別区域の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定特定事業法人としての指定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLB00030" type="LLB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定国際戦略事業のうち規制の特例措置等の適用を受けて行われる事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LLC00000-1-0type">
<xsd:sequence>

<xsd:element name="LLC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額仮計又は連結所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額又は軽減対象連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)と(5)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LLD00000-1-0type">
<xsd:sequence>

<xsd:element name="LLD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定の取消日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定を取り消された場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLD00030" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"適用対象年度において損金の額に算入された金額の合計額の計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LLD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LLD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LLD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LLD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LLD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LLB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LLB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LLE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LLA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LLA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LLA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="LLA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LLA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LLA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LLA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LLA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="LLA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LLA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LLA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
