etax/19XMLスキーマ/hojin/HOC026-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(五)付表二　日本船舶外航事業に係る当期利益の額又は当期欠損の額の計算に関する明細書
version：2.0
Date：2011年10月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC026-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC026-2-0group">
<xsd:sequence>
<xsd:element name="HOC026">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXA00000" type="LXA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00000" type="LXB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海運業収益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00000" type="LXC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海運業費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00000" type="LXD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業収益等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00000" type="LXE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般管理費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00000" type="LXF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業外収益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00000" type="LXG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業外費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00000" type="LXH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00000" type="LXI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00000" type="LXJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益の額又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LXK00000" type="LXK00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC026-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LXA00000-2-0type">
<xsd:sequence>

<xsd:element name="LXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXA00020" type="LXA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXA00030" type="LXA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXA00050" type="LXA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXB00000-2-0type">
<xsd:sequence>

<xsd:element name="LXB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貨物運賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00070" type="LXB00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他運賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00130" type="LXB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸船料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00190" type="LXB00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海運業収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00250" type="LXB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXB00310" type="LXB00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXC00000-2-0type">
<xsd:sequence>

<xsd:element name="LXC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運航費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貨物費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00070" type="LXC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"燃料費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00130" type="LXC00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"港費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00190" type="LXC00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他運航費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00250" type="LXC00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船員費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00320" type="LXC00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶消耗品費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00380" type="LXC00380-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶保険料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00440" type="LXC00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶修繕費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00500" type="LXC00500-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00560" type="LXC00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他船費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00620" type="LXC00620-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借船料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00680" type="LXC00680-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海運業費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00740" type="LXC00740-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXC00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXC00800" type="LXC00800-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXD00000-2-0type">
<xsd:sequence>

<xsd:element name="LXD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00040" type="LXD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00080" type="LXD00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXD00120" type="LXD00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXE00000-2-0type">
<xsd:sequence>

<xsd:element name="LXE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00070" type="LXE00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員給与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00140" type="LXE00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"福利厚生費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00210" type="LXE00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旅費・交通費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00280" type="LXE00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通信費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00350" type="LXE00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"光熱・消耗品費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00420" type="LXE00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00490" type="LXE00490-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00560" type="LXE00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00630" type="LXE00630-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会費・寄附金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00700" type="LXE00700-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金繰入額又は貸倒損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00770" type="LXE00770-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00840" type="LXE00840-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXE00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXE00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXE00910" type="LXE00910-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXF00000-2-0type">
<xsd:sequence>

<xsd:element name="LXF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00070" type="LXF00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00140" type="LXF00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00210" type="LXF00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券売却益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00280" type="LXF00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXF00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他営業外収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00350" type="LXF00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXF00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXF00420" type="LXF00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXG00000-2-0type">
<xsd:sequence>

<xsd:element name="LXG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00070" type="LXG00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社債利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00140" type="LXG00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社債発行費償却"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00280" type="LXG00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株発行費償却"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00350" type="LXG00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"創立費償却"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00420" type="LXG00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開業費償却"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00490" type="LXG00490-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金繰入額又は貸倒損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00560" type="LXG00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券売却損"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00630" type="LXG00630-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他営業外費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00700" type="LXG00700-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXG00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXG00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXG00770" type="LXG00770-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXH00000-2-0type">
<xsd:sequence>

<xsd:element name="LXH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産売却益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00140" type="LXH00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他特別利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00210" type="LXH00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXH00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXH00280" type="LXH00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXI00000-2-0type">
<xsd:sequence>

<xsd:element name="LXI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産売却損"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00140" type="LXI00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXI00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXI00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00210" type="LXI00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXI00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害による損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXI00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00280" type="LXI00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXI00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他特別損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXI00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00350" type="LXI00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LXI00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LXI00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXI00420" type="LXI00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LXJ00000-2-0type">
<xsd:sequence>

<xsd:element name="LXJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本船舶外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他外航事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他海上運送事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LXJ00060" type="LXJ00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LXB00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXB00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXB00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXB00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00380-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00440-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00500-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00560-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00620-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00680-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00740-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXC00800-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXD00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXD00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00490-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00560-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00630-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00700-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00770-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00840-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXE00910-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXF00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00490-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00560-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00630-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00700-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXG00770-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXH00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXH00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXH00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXI00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXI00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXI00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXI00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXI00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXJ00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LXK00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LXA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LXA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LXA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="LXA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LXA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LXA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LXA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LXA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="LXA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LXA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LXA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
