etax/19XMLスキーマ/hojin/HOC065-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(七)　特定目的会社の支払配当の損金算入に関する明細書
version：8.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC065-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC065-8-0group">
<xsd:sequence>
<xsd:element name="HOC065">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LYA00000" type="LYA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00000" type="LYB00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LYE00000" type="LYE00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC065-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LYA00000-8-0type">
<xsd:sequence>

<xsd:element name="LYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LYA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LYA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LYB00000-8-0type">
<xsd:sequence>

<xsd:element name="LYB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LYB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*70/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)が(10)を超える場合の(3)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払配当の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債の発行をしている場合の調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LYB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債の当期末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)*5/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に償還した特定社債の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定譲渡等により調達された資金のうち特定社債の償還に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入される減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LYB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債の発行をしている場合の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LYE00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
