etax/19XMLスキーマ/hojin/HOC060-014.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(七)　社会保険診療報酬に係る損金算入、農地所有適格法人の肉用牛の売却に係る所得又は連結所得の特別控除及び特定の基金に対する負担金等の損金算入に関する明細書
version：14.0
Date：2021年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC060-14-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="14.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC060-14-0group">
<xsd:sequence>
<xsd:element name="HOC060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIA00000" type="CIA00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00000" type="CIB00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　社会保険診療報酬に係る損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00000" type="CIC00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　農地所有適格法人の肉用牛の売却に係る所得又は連結所得の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIF00000" type="CIF00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　特定の基金に対する負担金等の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CIG00000" type="CIG00000-14-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC060-14-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
<xsd:attribute name="csvFileNM" type="gen:str"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CIA00000-14-0type">
<xsd:sequence>

<xsd:element name="CIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIA00020" type="CIA00020-14-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIA00030" type="CIA00030-14-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIA00040" type="CIA00040-14-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CIB00000-14-0type">
<xsd:sequence>

<xsd:element name="CIB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医業又は歯科医業に係る総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち社会保険診療報酬に係る収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医業又は歯科医業に係る経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち社会保険診療報酬に係る経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療報酬に係る収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2,500万円以下の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2,500万円を超え3,000万円以下の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3,000万円を超え4,000万円以下の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4,000万円を超え5,000万円以下の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定経費率による経費の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)*72/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*70/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*62/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)*57/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CIC00000-14-0type">
<xsd:sequence>

<xsd:element name="CIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡原価の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CIF00000-14-0type">
<xsd:sequence>

<xsd:element name="CIF00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金に係る法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIF00030" type="CIF00030-14-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIF00060" type="CIF00060-14-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支出した負担金等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち損金の額に算入した金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CIF00030-14-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIF00060-14-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIG00000-14-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CIA00020-14-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CIA00020-14-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CIA00020-14-0Rtype">
            <xsd:attribute name="IDREF" type="CIA00020-14-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CIA00020-14-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CIA00030-14-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CIA00030-14-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CIA00030-14-0Rtype">
            <xsd:attribute name="IDREF" type="CIA00030-14-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CIA00030-14-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CIA00040-14-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
