etax/19XMLスキーマ/hojin/HOC052-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(六)付表　完全支配関係法人の資産の譲渡がある場合の資産の譲渡に係る特別控除額の特例に関する明細書
version：2.0
Date：2025年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC052-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC052-2-0group">
<xsd:sequence>
<xsd:element name="HOC052">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00000" type="UGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00000" type="UGB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UGC00000" type="UGC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC052-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UGA00000-2-0type">
<xsd:sequence>

<xsd:element name="UGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UGB00000-2-0type">
<xsd:sequence>

<xsd:element name="UGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全支配関係法人の資産の譲渡がある場合の収用換地等の場合の所得の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において譲渡した他の資産につき、5,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5,000万円－(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年のうち当期内において譲渡した他の資産につき、5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において譲渡した同上以外の他の資産につき、5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において当該法人が譲渡した資産に係る調整前損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において完全支配関係法人が譲渡した資産に係る調整前損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年の調整前損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年の特別控除超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00110" type="UGB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の調整前損金算入額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年の特別控除超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年のうち当期の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全支配関係法人の資産の譲渡がある場合の特定事業の用地買収等の場合等の所得の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年のうち当期内において譲渡した他の資産につき、5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において譲渡した同上以外の他の資産につき、5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において当該法人が譲渡した資産に係る調整前損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年において完全支配関係法人が譲渡した資産に係る調整前損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年の調整前損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年の特別控除超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00240" type="UGB00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の調整前損金算入額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年の特別控除超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の当該資産の譲渡をした日の属する年のうち当期の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UGB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UGB00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UGC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UGB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="UGB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UGB00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="UGB00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
