etax/19XMLスキーマ/hojin/HOC072-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(十)　特定目的信託に係る受託法人の利益の分配の額等の損金算入に関する明細書
version：7.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC072-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC072-7-0group">
<xsd:sequence>
<xsd:element name="HOC072">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONA00000" type="ONA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00000" type="ONB00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　特定目的信託に係る受託法人の利益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00000" type="ONC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　特定投資信託に係る受託法人の収益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OND00000" type="OND00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC072-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ONA00000-7-0type">
<xsd:sequence>

<xsd:element name="ONA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ONA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ONB00000-7-0type">
<xsd:sequence>

<xsd:element name="ONB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ONB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能利益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*70/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配事業年度後に(10)に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ONB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が(13)を超える場合の(3)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額のうち当期の損金の額に算入する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社債的受益権に係る受益証券の発行をしている場合の調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社債的受益権の元本の当期末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)*5/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に償還した社債的受益権の元本の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定譲渡等により調達された資金のうち社債的受益権の元本の償還に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)-(22)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入される減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)-(24)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社債的受益権に係る受益証券の発行をしている場合の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ONC00000-7-0type">
<xsd:sequence>

<xsd:element name="ONC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ONC00050" type="ONC00050-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)/(41)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)が90/100を超える場合の(29)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額のうち当期の損金の額に算入する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ONC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首欠損金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)*70/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配事業年度後に(39)に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ONC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ONC00050-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OND00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ONC00050-7-0type">
<xsd:simpleContent>
<xsd:extension base="ONC00050-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
