etax/19XMLスキーマ/hojin/HOC086-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(八)付表　配当可能利益の額の計算に関する明細書
version：1.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC086-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC086-1-0group">
<xsd:sequence>
<xsd:element name="HOC086">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00000" type="DZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00000" type="DZB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00000" type="DZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZD00000" type="DZD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00000" type="DZE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越利益等の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00000" type="DZF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越利益等の額の調整"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00000" type="DZG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の額のうち当期において配当可能利益の額に加算する金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00000" type="DZH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額のうち当期において配当可能利益の額に加算する金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00000" type="DZI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目控除額のうち当期において配当可能利益の額に加算する金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DZJ00000" type="DZJ00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC086-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DZA00000-1-0type">
<xsd:sequence>

<xsd:element name="DZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZB00000-1-0type">
<xsd:sequence>

<xsd:element name="DZB00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適用条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00030" type="DZB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿措法・震災特例法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00040" type="DZB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00050" type="DZB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿条"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00060" type="DZB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条＿"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00070" type="DZB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00080" type="DZB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金積立額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00100" type="DZB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZC00000-1-0type">
<xsd:sequence>

<xsd:element name="DZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の譲渡直前の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の譲渡に要した費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00080" type="DZC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZD00000-1-0type">
<xsd:sequence>

<xsd:element name="DZD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価・換算差額等の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産控除項目額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目額累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZE00000-1-0type">
<xsd:sequence>

<xsd:element name="DZE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意積立金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"目的取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前前期繰越利益等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の前期末残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金の前期末残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時差異等調整積立金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の前期繰越利益等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZF00000-1-0type">
<xsd:sequence>

<xsd:element name="DZF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時差異等調整積立金の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時差異等調整積立金の積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後前期繰越利益等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZG00000-1-0type">
<xsd:sequence>

<xsd:element name="DZG00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負ののれん発生益の発生事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負ののれん発生益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)*当期の月数/1,200"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZH00000-1-0type">
<xsd:sequence>

<xsd:element name="DZH00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金の積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZH00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZH00050" type="DZH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"目的取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配目的取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている買換特例圧縮積立金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている買換特例圧縮積立金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZI00000-1-0type">
<xsd:sequence>

<xsd:element name="DZI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産控除項目額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の純資産控除項目額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産控除項目減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産控除項目超過繰越利益額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算純資産控除項目減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目控除額の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DZB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DZB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZJ00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DZB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="DZB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DZC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="DZC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
