etax/19XMLスキーマ/hojin/HOC068-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(九)　投資法人の支払配当の損金算入に関する明細書
version：2.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC068-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC068-2-0group">
<xsd:sequence>
<xsd:element name="HOC068">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWA00000" type="YWA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWB00000" type="YWB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YWC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)が(7)を超える場合の(5)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払配当の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="YWH00000" type="YWH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00000" type="YWI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWJ00000" type="YWJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00000" type="YWK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の額のうち当期において配当可能利益の額に加算する金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00000" type="YWL00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額のうち当期において配当可能利益の額に加算する金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YWM00000" type="YWM00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC068-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YWA00000-2-0type">
<xsd:sequence>

<xsd:element name="YWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWB00000-2-0type">
<xsd:sequence>

<xsd:element name="YWB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益超過分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWH00000-2-0type">
<xsd:sequence>

<xsd:element name="YWH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00022" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"のれんの償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00024" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)*80又は70/100"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWH00026" type="YWH00026-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00028" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負ののれん発生益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*80又は70/100"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWH00060" type="YWH00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益超過分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資総額戻入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWI00000-2-0type">
<xsd:sequence>

<xsd:element name="YWI00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適用条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWI00030" type="YWI00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿措法・震災特例法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00040" type="YWI00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00050" type="YWI00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿条"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00060" type="YWI00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条＿"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00070" type="YWI00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWI00080" type="YWI00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金繰入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00100" type="YWI00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWI00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWI00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWJ00000-2-0type">
<xsd:sequence>

<xsd:element name="YWJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWJ00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の譲渡直前の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において譲渡した不動産の譲渡に要した費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWJ00080" type="YWJ00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWK00000-2-0type">
<xsd:sequence>

<xsd:element name="YWK00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWK00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負ののれん発生益の発生事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWK00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負ののれん発生益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)*当期の月数/1,200"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産投資法人の特例"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定合併により移転を受けた土地等の合併時価額の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(40)のうち当期に譲渡又は消滅をした土地等の合併時価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWK00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWK00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWK00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産投資法人の特例　当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YWL00000-2-0type">
<xsd:sequence>

<xsd:element name="YWL00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金の積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWL00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWL00050" type="YWL00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの加算額の累計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWL00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"目的取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配目的取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWL00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている買換特例圧縮積立金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YWL00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YWL00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている買換特例圧縮積立金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YWL00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="YWH00026-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="YWH00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="YWI00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="YWI00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="YWI00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWI00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWI00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWI00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWI00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWJ00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWL00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YWM00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="YWI00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="YWI00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YWJ00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="YWJ00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
