etax/19XMLスキーマ/hojin/HOC080-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(八)　関西文化学術研究都市における文化学術研究交流施設の設置等を行う会社への出資に係る特別勘定の益金算入に関する明細書
version：2.0
Date：2004年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC080-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC080-2-0group">
<xsd:sequence>
<xsd:element name="HOC080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKA00000" type="CKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKB00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKE00000" type="CKE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引特別勘定残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKH00000" type="CKH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKJ00000" type="CKJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式の保有状況等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOC080-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CKA00000-2-0type">
<xsd:sequence>

<xsd:element name="CKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKE00000-2-0type">
<xsd:sequence>

<xsd:element name="CKE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式の全部又は一部を有しないこととなった場合の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式の帳簿価額を減額した場合の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき利益の配当を受けた場合の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の場合の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKH00000-2-0type">
<xsd:sequence>

<xsd:element name="CKH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中において益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKJ00000-2-0type">
<xsd:sequence>

<xsd:element name="CKJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の保有特定株式の数及び帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00030" type="CKJ00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKJ00045" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等により有しなくなった特定株式の数及び帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00060" type="CKJ00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKJ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKJ00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引期末現在の保有特定株式の数及び帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00110" type="CKJ00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKJ00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき当期に受けた利益の配当の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CKJ00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKJ00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKJ00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
