etax/19XMLスキーマ/hojin/HOC030-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(三)　漁業協同組合等の留保所得の特別控除額の計算に関する明細書
version：2.0
Date：2004年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC030-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC030-2-0group">
<xsd:sequence>
<xsd:element name="HOC030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFA00000" type="CFA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFB00000" type="CFB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFC00000" type="CFC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFD00000" type="CFD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額に係る社外流出額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CFE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CFF00000" type="CFF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CFG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)の68/100、80/100、86/100又は90/100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CFH00000" type="CFH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定留保金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00000" type="CFI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CFJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CFK00000" type="CFK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOC030-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CFA00000-2-0type">
<xsd:sequence>

<xsd:element name="CFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFB00000-2-0type">
<xsd:sequence>

<xsd:element name="CFB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFC00000-2-0type">
<xsd:sequence>

<xsd:element name="CFC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の還付金等（過誤納に係る還付金を除く。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用等の場合等の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFD00000-2-0type">
<xsd:sequence>

<xsd:element name="CFD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得等からした剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の分配以外の社外流出額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち所得金額に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額に係る社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFF00000-2-0type">
<xsd:sequence>

<xsd:element name="CFF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併により引き継いだ利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合員の脱退により払い戻した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFH00000-2-0type">
<xsd:sequence>

<xsd:element name="CFH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率の適用がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率適用外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率適用所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)又は(21)の22％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)の26％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額及びリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額計(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に係る住民税額（均等割額を含む。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方税法の規定により控除される外国法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFI00000-2-0type">
<xsd:sequence>

<xsd:element name="CFI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25/100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総留保金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額の繰越利益積立金額による限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CFK00000-2-0type">
<xsd:sequence>

<xsd:element name="CFK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が2,500万円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(43)*32/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)が2,500万円に満たない場合で、(37)+(43)が2,500万円以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2,500万円－(37))*32/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が1億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37）＋(43))－2,500万円）*20/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が1億円以上で2億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7,500万円*20/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37）＋(43))－１億円）*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が2億円以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7,500万円*20/100＋1億円*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37)＋(43)）－2億円）*10/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)が2,500万円以上で1億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が1億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(43)*20/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が1億円以上で2億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1億円－(37)）*20/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37)＋(43)）－1億円)*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が2億円以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1億円－(37)）*20/100＋1億円*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37)＋(43))－2億円）*10/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)が1億円以上で2億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が2億円に満たない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(43)*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)＋(43)が2億円以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2億円－(37))*14/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CFK00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((37)＋(43))－2億円）*10/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CFK00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)が2億円以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CFK00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(43)*10/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


</xsd:schema>
