etax/19XMLスキーマ/hojin/HOC020-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(二)　探鉱準備金又は海外探鉱準備金の損金算入及び新鉱床探鉱費又は海外新鉱床探鉱費の特別控除に関する明細書
version：3.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC020-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC020-3-0group">
<xsd:sequence>
<xsd:element name="HOC020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00000" type="CEA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00000" type="CEB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　探鉱準備金又は海外探鉱準備金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00300" type="CEB00300-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額の計算　1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00000" type="CEC00000-3-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"益金算入額の計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CED00000" type="CED00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00000" type="CEE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00000" type="CEF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2新鉱床探鉱費又は海外新鉱床探鉱費の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CEG00000" type="CEG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC020-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CEA00000-3-0type">
<xsd:sequence>

<xsd:element name="CEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00020" type="CEA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00030" type="CEA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00040" type="CEA00040-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEB00000-3-0type">
<xsd:sequence>

<xsd:element name="CEB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準備金の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の指定期間内の鉱物の販売による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)の収入金額に係る費用等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"鉱物の販売に係る所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法施行令第34条第3項、第4項若しくは第10項又は第39条の88第3項、第4項若しくは第10項により控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"採掘所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首探鉱準備金の金額又は期首海外探鉱準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年を経過した場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末探鉱準備金の金額又は期末海外探鉱準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00273" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00276" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている探鉱準備金又は海外探鉱準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00283" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00286" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00293" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00296" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEB00300-3-0type">
<xsd:sequence>

<xsd:element name="CEB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEC00000-3-0type">
<xsd:sequence>

<xsd:element name="CEC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CED00000-3-0type">
<xsd:sequence>

<xsd:element name="CED00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CED00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEE00000-3-0type">
<xsd:sequence>

<xsd:element name="CEE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEF00000-3-0type">
<xsd:sequence>

<xsd:element name="CEF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"探鉱費基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支出した新鉱床探鉱費の額及び当期の探鉱用機械設備の償却額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)のうち国内の新鉱床探鉱費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)のうち海外の新鉱床探鉱費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)の額を超える探鉱準備金益金算入基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"探鉱費基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準備金益金算入基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年を経過した場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計又は個別所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は非適格分割型分割による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金若しくは災害損失金等の当期控除額又は連結欠損金個別帰属額等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CEG00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CEA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CEA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CEA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="CEA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CEA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CEA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CEA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CEA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="CEA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CEA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CEA00040-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
