etax/19XMLスキーマ/hojin/HOC085-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(八)　投資法人の支払配当の損金算入に関する明細書
version：1.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC085-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC085-1-0group">
<xsd:sequence>
<xsd:element name="HOC085">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DPA00000" type="DPA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00000" type="DPB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DPC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DPE00000" type="DPE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((3)又は(6))が(8)を超える場合の(6)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DPF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払配当の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DPH00000" type="DPH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DPI00000" type="DPI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC085-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DPA00000-1-0type">
<xsd:sequence>

<xsd:element name="DPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DPA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DPA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DPB00000-1-0type">
<xsd:sequence>

<xsd:element name="DPB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当等の額(出資等減少分配に係る部分の金額を除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資等減少分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に係るみなし配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DPE00000-1-0type">
<xsd:sequence>

<xsd:element name="DPE00010" type="DPE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DPH00000-1-0type">
<xsd:sequence>

<xsd:element name="DPH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時差異等調整積立金の積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除済負ののれん発生益の額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換特例圧縮積立金個別控除額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時差異等調整積立金の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益等超過純資産控除項目額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益超過分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資総額戻入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DPH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="DPE00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DPI00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
