etax/19XMLスキーマ/hojin/HOC057-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(七)付表一　各特定株式の特別勘定の金額に関する明細書
version：4.0
Date：2025年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC057-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC057-4-0group">
<xsd:sequence>
<xsd:element name="HOC057">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMA00000" type="QMA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00000" type="QMB00000-4-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"増資特定株式　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00000" type="QMD00000-4-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"増資特定株式以外の特定株式　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QMC00000" type="QMC00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC057-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QMA00000-4-0type">
<xsd:sequence>

<xsd:element name="QMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QMB00000-4-0type">
<xsd:sequence>

<xsd:element name="QMB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式を発行した法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各特定株式の取得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち損金経理による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち剰余金の処分による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において取得した特定株式のうち期末に有するものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年度に特定株式の帳簿価額を減額した金額のうち損金算入された金額に係る部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各特定株式の取得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00155" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき経済産業大臣による証明書が交付されない場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00175" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)から(16)まで以外の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMB00185" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得日から３年又は５年を経過した特定株式に係る特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QMD00000-4-0type">
<xsd:sequence>

<xsd:element name="QMD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式を発行した法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各特定株式の取得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち損金経理による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち剰余金の処分による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において取得した特定株式のうち期末に有するものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年度に特定株式の帳簿価額を減額した金額のうち損金算入された金額に係る部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各特定株式の取得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期特別勘定繰入額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QMD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式につき経済産業大臣による証明書が交付されない場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年経過特別勘定の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)から(16)まで以外の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QMD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QMD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"成長発展が図られた特定株式に係る特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QMC00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
