etax/19XMLスキーマ/hojin/HOC071-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(九)　特定目的信託に係る受託法人の利益の分配の額等の損金算入に関する明細書
version：4.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC071-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC071-4-0group">
<xsd:sequence>
<xsd:element name="HOC071">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMA00000" type="LMA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00000" type="LMB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　特定目的信託に係る受託法人の利益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00000" type="LMC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　特定投資信託に係る受託法人の収益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LMD00000" type="LMD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC071-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LMA00000-4-0type">
<xsd:sequence>

<xsd:element name="LMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LMA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LMB00000-4-0type">
<xsd:sequence>

<xsd:element name="LMB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LMB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）が（5）を超える場合の（3）の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00075" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額のうち当期の損金の額に算入する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能利益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（11）*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配事業年度後に（14）に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LMC00000-4-0type">
<xsd:sequence>

<xsd:element name="LMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LMC00050" type="LMC00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（17）/（31）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（20）が90/100を超える場合の（19）の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額のうち当期の損金の額に算入する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LMC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期純利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首欠損金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減損損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（26）*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過分配事業年度後に（29）に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LMC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LMC00050-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LMD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LMC00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="LMC00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
