etax/19XMLスキーマ/hojin/HOC070-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(七)　特定目的会社及び投資法人の支払配当の損金算入に関する明細書
version：2.0
Date：2004年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC070-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC070-2-0group">
<xsd:sequence>
<xsd:element name="HOC070">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJA00000" type="CJA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00000" type="CJB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　特定目的会社の支払配当の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00000" type="CJC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　投資法人の支払配当の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOC070-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CJA00000-2-0type">
<xsd:sequence>

<xsd:element name="CJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJB00000-2-0type">
<xsd:sequence>

<xsd:element name="CJB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供等があった場合等の欠損金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能所得の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)の金額が(18)の金額より多い場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)の金額が(15)の金額より多い場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価損益を調整した後の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00110" type="CJB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((5)-(6))又は((5)+(7))の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が(10)を超える場合の(1)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払配当のうち当期の損金の額に算入する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価損益の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に益金算入した評価益等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に戻し入れた前期に損金算入した評価損等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に損金算入した評価損等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に戻し入れた前期に益金算入した評価益等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債券の発行がある場合の調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債券の当期末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)*5/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に償還した特定社債券の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定譲渡等により調達された金額のうち特定社債券の償還に充てられた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)-(24)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入される減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((25)-(26))*2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定社債券の発行がある場合の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJC00000-2-0type">
<xsd:sequence>

<xsd:element name="CJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益超過分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00035" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(39)*90/100*63.79/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)*90/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)が(34)を超える場合の(32)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00075" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(38)-(40)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払配当のうち当期の損金の額に算入する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00104" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第67条の15第10項に規定する受取配当の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00107" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(39)*90/100*36.21/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供等があった場合等の欠損金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益超過分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資総額戻入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当可能所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CJB00110-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
