etax/19XMLスキーマ/hojin/HOC011-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(一)付表　通算法人の所得基準額の計算に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC011-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC011-1-0group">
<xsd:sequence>
<xsd:element name="HOC011">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDA00000" type="UDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00000" type="UDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UDC00000" type="UDC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC011-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UDA00000-1-0type">
<xsd:sequence>

<xsd:element name="UDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UDA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UDB00000-1-0type">
<xsd:sequence>

<xsd:element name="UDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損控除前所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の通算前所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の通算前欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UDB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損控除前所得金額又は特例事業者欠損控除前所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の対象通算法人の他の軽減対象所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の対象通算法人の特定事業等欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の特例対象内国法人の通算前所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の特例対象内国法人の通算前欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１項第１号又は第２号適用の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)＋(7)＋(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UDB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２項適用の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UDB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)＋(10)＋(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業者欠損控除前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UDB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UDC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
