etax/19XMLスキーマ/hojin/HOC031-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十(四)　商工組合等の留保所得の特別控除額の計算に関する明細書(平成21年4月1日以後開始分)
version：1.0
Date：2010年01月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC031-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC031-1-0group">
<xsd:sequence>
<xsd:element name="HOC031">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXA00000" type="IXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXB00000" type="IXB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXC00000" type="IXC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXD00000" type="IXD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額に係る社外流出額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IXE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IXF00000" type="IXF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IXG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)の68／100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IXH00000" type="IXH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定留保金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00000" type="IXI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IXJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXL00000" type="IXL00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC031-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IXA00000-1-0type">
<xsd:sequence>

<xsd:element name="IXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXB00000-1-0type">
<xsd:sequence>

<xsd:element name="IXB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXC00000-1-0type">
<xsd:sequence>

<xsd:element name="IXC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の還付金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用等の場合等の所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXD00000-1-0type">
<xsd:sequence>

<xsd:element name="IXD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得等からした剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の分配以外の社外流出額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち所得金額に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額に係る社外流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXF00000-1-0type">
<xsd:sequence>

<xsd:element name="IXF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併により引き継いだ利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組合員の脱退により払い戻した利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXH00000-1-0type">
<xsd:sequence>

<xsd:element name="IXH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率の適用がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち年800万円相当額以下の金額の18％相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00050" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち年800万円相当額を超え年10億円相当額以下の金額の22％相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00080" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち年10億円相当額を超える金額の26％相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00110" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)の金額又は800万円*＿／12相当額のうち少ない金額の18％相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00150" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち年800万円相当額を超える金額の22％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額及びリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00200" type="IXH00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に係る住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方税法の規定により控除される外国法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXH00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXH00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IXI00000-1-0type">
<xsd:sequence>

<xsd:element name="IXI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25／100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総留保金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IXI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期に係る剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に係る剰余金の分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IXI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IXI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金額の繰越利益積立金額による限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IXH00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IXL00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
