etax/19XMLスキーマ/hojin/HOC110-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十一(一)　個別評価金銭債権に係る貸倒引当金の損金算入に関する明細書
version：10.0
Date：2023年04月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC110-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC110-10-0group">
<xsd:sequence>
<xsd:element name="HOC110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00000" type="FFA00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00000" type="FFB00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価する金銭債権の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FFC00000" type="FFC00000-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC110-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
<xsd:attribute name="csvFileNM" type="gen:str"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FFA00000-10-0type">
<xsd:sequence>

<xsd:element name="FFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FFB00000-10-0type">
<xsd:sequence>

<xsd:element name="FFB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称（外国政府等の別）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00060" type="FFB00060-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（外国政府等の別）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価の事由"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00080" type="FFB00080-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00090" type="FFB00090-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の発生時期"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価金銭債権の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）のうち5年以内に弁済される金額(令第96条第1項第1号に該当する場合)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）のうち取立て等の見込額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保権の実行による取立て等の見込額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の者の保証による取立て等の見込額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他による取立て等の見込額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（8）+（9）+（10）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）のうち実質的に債権とみられない部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）-（7）-（11）-（12）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第1号該当"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第2号該当"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第3号該当"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第4号該当"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒実績率の計算の基礎となる金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額等の合計額に加える金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額等の合計額から控除する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の個別評価金銭債権の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（20）の個別評価金銭債権が売掛債権等である場合の当該個別評価金銭債権に係る損金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（21）に係る売掛債権等が当期において貸倒れとなった場合のその貸倒れとなった金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（21）に係る売掛債権等が当期においても個別評価の対象となった場合のその対象となった金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（22）又は（23）に金額の記載がある場合の（21）の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第1号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第2号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第3号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第1項第4号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒実績率の計算の基礎となる金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額等の合計額に加える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額等の合計額から控除する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の個別評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（20）の個別評価金銭債権が売掛債権等である場合の当該個別評価金銭債権に係る損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（21）に係る売掛債権等が当期において貸倒れとなった場合のその貸倒れとなった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（21）に係る売掛債権等が当期においても個別評価の対象となった場合のその対象となった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（22）又は（23）に金額の記載がある場合の（21）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FFB00060-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFB00080-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFB00090-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFC00000-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
