etax/19XMLスキーマ/hojin/HOC140-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十一(四)　特別修繕引当金の益金算入に関する明細書
version：2.0
Date：2004年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC140-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC140-2-0group">
<xsd:sequence>
<xsd:element name="HOC140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRA00000" type="CRA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00000" type="CRB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別修繕引当金の益金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOC140-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CRA00000-2-0type">
<xsd:sequence>

<xsd:element name="CRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CRA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CRB00000-2-0type">
<xsd:sequence>

<xsd:element name="CRB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00020" type="CRB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類及び名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在特別修繕引当金"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち過年度の繰入限度超過額に相当する部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金の額に算入された取崩超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに益金の額に算入された取崩不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引特別修繕引当金"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に取り崩すべき金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越特別修繕引当金"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩不足額又は取崩超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち過年度の繰入限度超過額に相当する部分の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に取り崩すべき金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取り崩すべき金額の計算の基礎となる特別修繕引当金"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年間均等取崩しによる場合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00235" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の場合以外の場合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CRB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CRB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在特別修繕引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち過年度の繰入限度超過額に相当する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金の額に算入された取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに益金の額に算入された取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引特別修繕引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に取り崩すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越特別修繕引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩不足額又は取崩超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち過年度の繰入限度超過額に相当する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に取り崩すべき金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年間均等取崩しによる場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の場合以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CRB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CRB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
