etax/19XMLスキーマ/hojin/HOC112-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十一(一の二)　一括評価金銭債権に係る貸倒引当金の損金算入に関する明細書
version：10.0
Date：2017年05月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC112-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC112-10-0group">
<xsd:sequence>
<xsd:element name="HOC112">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNA00000" type="CNA00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00000" type="CNB00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一括評価金銭債権に係る貸倒引当金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00000" type="CNC00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒実績率の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00000" type="CND00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一括評価金銭債権の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00000" type="CNE00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年度の実績により実質的に債権とみられないものの額を計算する場合の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CNF00000" type="CNF00000-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC112-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CNA00000-10-0type">
<xsd:sequence>

<xsd:element name="CNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNA00020" type="CNA00020-10-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNA00030" type="CNA00030-10-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNA00040" type="CNA00040-10-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNB00000-10-0type">
<xsd:sequence>

<xsd:element name="CNB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末一括評価金銭債権の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00040" type="CNB00040-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒実績率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実質的に債権とみられないものの額を控除した期末一括評価金銭債権の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定の繰入率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNB00070" type="CNB00070-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNB00083" type="CNB00083-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人等・協同組合等の繰入限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNB00094" type="CNB00094-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00096" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNC00000-10-0type">
<xsd:sequence>

<xsd:element name="CNC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前3年内事業年度（設立事業年度である場合には当該事業年度又は連結事業年度）末における一括評価金銭債権の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)/前3年内事業年度における事業年度及び連結事業年度の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前3年内事業年度（設立事業年度である場合には当該事業年度又は連結事業年度）の貸倒れによる損失の額等の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第96条第6項第2号イの貸倒れによる損失の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入された令第96条第6項第2号ロの金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入された令第96条第6項第2号ハの金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金の額に算入された令第96条第6項第2号ニの金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)*12/前3年内事業年度における事業年度及び連結事業年度の月数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00100" type="CNC00100-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒実績率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CND00000-10-0type">
<xsd:sequence>

<xsd:element name="CND00010" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CND00020" type="CND00020-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛債権等とみなされる額及び貸倒否認額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち税務上貸倒れがあったものとみなされる額及び売掛債権等に該当しないものの額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価の対象となった売掛債権等の額及び非適格合併等により合併法人等に移転する売掛債権等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00063" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第52条第1項第3号に該当する法人の令第96条第9項各号の金銭債権以外の金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結完全支配関係がある連結法人に対する売掛債権等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末一括評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実質的に債権とみられないものの額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引期末一括評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CND00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CND00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛債権等とみなされる額及び貸倒否認額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち税務上貸倒れがあったものとみなされる額及び売掛債権等に該当しないものの額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価の対象となった売掛債権等の額及び非適格合併等により合併法人等に移転する売掛債権等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00143" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第52条第1項第3号に該当する法人の令第96条第9項各号の金銭債権以外の金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00145" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結完全支配関係がある連結法人に対する売掛債権等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末一括評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実質的に債権とみられないものの額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引期末一括評価金銭債権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNE00000-10-0type">
<xsd:sequence>

<xsd:element name="CNE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成27年4月1日から平成29年3月31日までの間に開始した各事業年度末の一括評価金銭債権の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の各事業年度末の実質的に債権とみられないものの額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00030" type="CNE00030-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権からの控除割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実質的に債権とみられないものの額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CNB00040-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNB00070-10-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CNB00083-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CNB00094-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CNC00100-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CND00020-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNE00030-10-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNF00000-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CNA00020-10-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CNA00020-10-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CNA00020-10-0Rtype">
            <xsd:attribute name="IDREF" type="CNA00020-10-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CNA00020-10-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CNA00030-10-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CNA00030-10-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CNA00030-10-0Rtype">
            <xsd:attribute name="IDREF" type="CNA00030-10-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CNA00030-10-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CNA00040-10-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="CNB00040-10-0type">
<xsd:simpleContent>
<xsd:extension base="CNB00040-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNB00070-10-0type">
<xsd:simpleContent>
<xsd:extension base="CNB00070-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNC00100-10-0type">
<xsd:simpleContent>
<xsd:extension base="CNC00100-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNE00030-10-0type">
<xsd:simpleContent>
<xsd:extension base="CNE00030-10-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
