etax/19XMLスキーマ/hojin/HOC130-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十一(三)　退職給与引当金の益金算入に関する明細書
version：4.0
Date：2007年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC130-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC130-4-0group">
<xsd:sequence>
<xsd:element name="HOC130">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPA00000" type="CPA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPB00000" type="CPB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改正事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CPC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改正事業年度終了の時における資本の金額又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CPC00010" type="CPC00010-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額に係る取崩不足額又は取崩超過額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00190" type="CPC00190-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要支給額基準による計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CPC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引取崩不足額又は取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CPC00240" type="CPC00240-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CPC00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成を行った日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CPC00380" type="CPC00380-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職年金制度等への移行年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CPD00000" type="CPD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOC130-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CPA00000-4-0type">
<xsd:sequence>

<xsd:element name="CPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPA00020" type="CPA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPA00030" type="CPA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPA00050" type="CPA00050-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPB00000-4-0type">
<xsd:sequence>

<xsd:element name="CPB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPC00010-4-0type">
<xsd:sequence>

<xsd:element name="CPC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期までに益金の額に算入された金額に相当する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準退職給与引当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改正事業年度開始の時に有する退職給与引当金勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に伴う退職給与引当金勘定の金額の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要取崩額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に取り崩すべき金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPC00100" type="CPC00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00110" type="CPC00110-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"／120"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に組織再編成を行った場合の調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPC00190-4-0type">
<xsd:sequence>

<xsd:element name="CPC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引退職給与引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末退職給与の要支給額のうち事業主が支給する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業主が支給する部分の金額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPC00240-4-0type">
<xsd:sequence>

<xsd:element name="CPC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成により移転をした金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成により移転を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引期末現在額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金の額に算入された取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の取崩超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引退職給与引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記のうち事業主が支給する期末退職給与の額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末退職給与引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPC00380-4-0type">
<xsd:sequence>

<xsd:element name="CPC00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CPC00100-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CPC00110-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CPA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CPA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CPA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="CPA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CPA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CPA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CPA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CPA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="CPA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CPA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CPA00050-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="CPC00110-4-0type">
<xsd:simpleContent>
<xsd:extension base="CPC00110-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
