etax/19XMLスキーマ/hojin/HOC120-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十一(二)　返品調整引当金及び賞与引当金の損金算入に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOC120-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOC120-1-0group">
<xsd:sequence>
<xsd:element name="HOC120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COA00000" type="COA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00000" type="COB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　返品調整引当金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00000" type="COC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　賞与引当金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00000" type="COD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１人当たり賞与支給額及び当期の支給対象期間に対応する賞与の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOC120-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="COA00000-1-0type">
<xsd:sequence>

<xsd:element name="COA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="COB00000-1-0type">
<xsd:sequence>

<xsd:element name="COB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返品率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期及び当期前１年以内に開始した各期の対象事業に係る棚卸資産の総売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期及び当期前１年以内に開始した各期の対象事業に係る棚卸資産の買戻しの額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00040" type="COB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返品率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売買利益率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の対象事業に係る棚卸資産の純売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に係る売上原価と販売手数料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00090" type="COB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売買利益率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金基準による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における対象事業に係る売掛金の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高基準による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末以前２月間の対象事業に係る棚卸資産の総売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="COC00000-1-0type">
<xsd:sequence>

<xsd:element name="COC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年基準による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年間の１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の  ／12相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00060" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当年の１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準賞与の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00100" type="COC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末の使用人等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給対象期間基準による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年間の１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の  ／12相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00200" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末使用人等に対する期中支払賞与の額のうち、当期の支給対象期間に対応する部分の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00230" type="COC00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末の使用人等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（25）の１人当たりの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準賞与の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="COD00000-1-0type">
<xsd:sequence>

<xsd:element name="COD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年間の一人当たり賞与支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00050" type="COD00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給日に在職した使用人等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当年の一人当たり賞与支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00100" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00110" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00130" type="COD00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給日に在職した使用人等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１人当たり賞与支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の支給対象期間に対応する賞与の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00180" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00190" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支給した賞与の額（その支給対象期間が当期に含まれないものを除く。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（40）のうち当期末に在職する使用人等に支給した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与支給対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00260" type="COD00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（42）のうち当期に属する日数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00270" type="COD00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（42）の期間の日数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（41）のうち当期の支給対象期間に対応する賞与の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支給した賞与の額（その支給対象期間が当期に含まれないものを除く。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（40）のうち当期末に在職する使用人等に支給した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（41）のうち当期の支給対象期間に対応する賞与の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="COB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COB00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COD00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COD00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COD00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COD00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="COB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="COB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="COB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COD00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="COD00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COD00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="COD00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COD00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="COD00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COD00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="COD00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
