etax/19XMLスキーマ/hojin/HOD035-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(三)　特定事業再編投資損失準備金の損金算入に関する明細書
version：1.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD035-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD035-1-0group">
<xsd:sequence>
<xsd:element name="HOD035">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00000" type="UWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00000" type="UWB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UWC00000" type="UWC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD035-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UWA00000-1-0type">
<xsd:sequence>

<xsd:element name="UWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00020" type="UWA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00030" type="UWA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00050" type="UWA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UWB00000-1-0type">
<xsd:sequence>

<xsd:element name="UWB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業再編計画の認定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業再編実施日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初特定事業再編実施日前から引き続き有している特定株式等の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の特定株式等のうち期末に有するものの帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において取得した特定株式等の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の特定株式等のうち期末に有するものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((5)+(7))*70／100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)のうち取得年度にその帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特定事業再編投資損失準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度等の終了の日における特定事業再編投資損失準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00180" type="UWB00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額　月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00190" type="UWB00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特定事業再編投資損失準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている特定事業再編投資損失準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UWB00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UWB00190-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UWC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="UWA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UWA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UWA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="UWA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UWA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UWA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UWA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UWA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="UWA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UWA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UWA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="UWB00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="UWB00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
