etax/19XMLスキーマ/hojin/HOD110-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(十六)　ガス熱量変更準備金の益金算入に関する明細書
version：7.0
Date：2013年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD110-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD110-7-0group">
<xsd:sequence>
<xsd:element name="HOD110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCA00000" type="DCA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCB00000" type="DCB00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量変更計画に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00000" type="DCK00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00000" type="DCH00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00170" type="DCH00170-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00000" type="DCI00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積支出額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DCJ00000" type="DCJ00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD110-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DCA00000-7-0type">
<xsd:sequence>

<xsd:element name="DCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCA00020" type="DCA00020-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCA00030" type="DCA00030-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCA00040" type="DCA00040-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DCB00000-7-0type">
<xsd:sequence>

<xsd:element name="DCB00010" type="DCB00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量変更計画の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量の変更に着手した日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量の変更に着手した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量の変更が完了する日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DCK00000-7-0type">
<xsd:sequence>

<xsd:element name="DCK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積支出額に係る益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)*1／2*＿／60"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCK00040" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*1／2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積支出額に係る益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DCH00000-7-0type">
<xsd:sequence>

<xsd:element name="DCH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首ガス熱量変更準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末ガス熱量変更準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DCH00170-7-0type">
<xsd:sequence>

<xsd:element name="DCH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されているガス熱量変更準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCH00201" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00203" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCH00206" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCH00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DCI00000-7-0type">
<xsd:sequence>

<xsd:element name="DCI00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCI00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量変更費用支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCI00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量変更費用支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DCI00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DCI00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"熱量変更費用支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DCI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DCB00010-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DCJ00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DCA00020-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DCA00020-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DCA00020-7-0Rtype">
            <xsd:attribute name="IDREF" type="DCA00020-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DCA00020-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DCA00030-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DCA00030-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DCA00030-7-0Rtype">
            <xsd:attribute name="IDREF" type="DCA00030-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DCA00030-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DCA00040-7-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
