etax/19XMLスキーマ/hojin/HOD185-011.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(十)　関西国際空港用地整備準備金の損金算入に関する明細書
version：11.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD185-11-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="11.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD185-11-0group">
<xsd:sequence>
<xsd:element name="HOD185">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDA00000" type="YDA00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00000" type="YDB00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YDC00000" type="YDC00000-11-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD185-11-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YDA00000-11-0type">
<xsd:sequence>

<xsd:element name="YDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YDB00000-11-0type">
<xsd:sequence>

<xsd:element name="YDB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新関西国際空港株式会社に対し空港用地を貸し付けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち損金経理による積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち剰余金の処分による積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空港用地取得価額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年7月1日を含む事業年度開始の時における空港用地の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空港用地取得価額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定会社所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新関空会社所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新関空会社欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(((7)+(8))又は((7)-(9)))*20/100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空港用地整備債務基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空港用地整備債務の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空港用地整備債務基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首関西国際空港用地整備準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度終了の日における関西国際空港用地整備準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00280" type="YDB00280-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00290" type="YDB00290-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末関西国際空港用地整備準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている関西国際空港用地整備準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YDB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YDB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YDB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分　前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="YDB00280-11-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YDB00290-11-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YDC00000-11-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="YDB00280-11-0type">
<xsd:simpleContent>
<xsd:extension base="YDB00280-11-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YDB00290-11-0type">
<xsd:simpleContent>
<xsd:extension base="YDB00290-11-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
