etax/19XMLスキーマ/hojin/HOD120-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(十)　電子計算機買戻損失準備金の損金算入に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD120-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD120-1-0group">
<xsd:sequence>
<xsd:element name="HOD120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEA00000" type="DEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DEB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DEC00000" type="DEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DED00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DEE00000" type="DEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00080" type="DEE00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00000" type="DEF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEH00000" type="DEH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEI00000" type="DEI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD120-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DEA00000-1-0type">
<xsd:sequence>

<xsd:element name="DEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEC00000-1-0type">
<xsd:sequence>

<xsd:element name="DEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実績による特別買戻損失の発生割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の原価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00050" type="DEC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年度の収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年度に販売した電子計算機の買戻価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00090" type="DEC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失の発生割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEC00100" type="DEC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けた特別買戻損失の発生割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEE00000-1-0type">
<xsd:sequence>

<xsd:element name="DEE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首電子計算機買戻損失準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失が生じた場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末電子計算機買戻損失準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEE00080-1-0type">
<xsd:sequence>

<xsd:element name="DEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている電子計算機買戻損失準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEE00113" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEE00116" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEF00000-1-0type">
<xsd:sequence>

<xsd:element name="DEF00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEF00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00055" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失が生じた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)及び(27)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEG00000" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEG00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEG00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失が生じた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)及び(27)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEH00000-1-0type">
<xsd:sequence>

<xsd:element name="DEH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEI00000-1-0type">
<xsd:sequence>

<xsd:element name="DEI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEI00025" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別買戻損失が生じた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)及び(27)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DEC00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DEC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
