etax/19XMLスキーマ/hojin/HOD180-012.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(九)　保険会社等の異常危険準備金の損金算入に関する明細書
version：12.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD180-12-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="12.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD180-12-0group">
<xsd:sequence>
<xsd:element name="HOD180">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00000" type="DJA00000-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00100" type="DJA00100-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00170" type="DJA00170-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立後１０年を経過した準備金の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00000" type="DJB00000-12-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00000" type="DJC00000-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DJD00000" type="DJD00000-12-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD180-12-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DJA00000-12-0type">
<xsd:sequence>

<xsd:element name="DJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJA00100-12-0type">
<xsd:sequence>

<xsd:element name="DJA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分８"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00380" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分９"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJA00410" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJA00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJA00170-12-0type">
<xsd:sequence>

<xsd:element name="DJA00180" type="DJA00180-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*　/100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJB00000-12-0type">
<xsd:sequence>

<xsd:element name="DJB00010" type="DJB00010-12-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常危険準備金繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首異常危険準備金の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常災害損失等の補填額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年洗替前の期首異常危険準備金繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正味収入保険料等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00163" type="DJB00163-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立率（　）書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00166" type="DJB00166-12-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引積立限度超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年洗替前の異常危険準備金の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期以前分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額１"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額２"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額３"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額４"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額５"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額６"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額７"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額８"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額９"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立後１０年を経過した準備金の益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*　/100相当額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((12)-(24))の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)と(25)のうち少ない金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度超過額合計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末異常危険準備金の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている異常危険準備金"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJC00000-12-0type">
<xsd:sequence>

<xsd:element name="DJC00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常危険準備金繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首異常危険準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00015" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常災害損失等の補填額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年洗替前の期首異常危険準備金繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00085" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年洗替前の異常危険準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00115" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00125" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立後１０年を経過した準備金の益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)と(25)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"限度超過額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末異常危険準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている異常危険準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DJA00180-12-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJB00010-12-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJB00163-12-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJB00166-12-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJD00000-12-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DJA00180-12-0type">
<xsd:simpleContent>
<xsd:extension base="DJA00180-12-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DJB00163-12-0type">
<xsd:simpleContent>
<xsd:extension base="DJB00163-12-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DJB00166-12-0type">
<xsd:simpleContent>
<xsd:extension base="DJB00166-12-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
