etax/19XMLスキーマ/hojin/HOD160-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(十三)　使用済核燃料再処理準備金の損金算入に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD160-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD160-1-0group">
<xsd:sequence>
<xsd:element name="HOD160">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHA00000" type="DHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DHB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DHC00000" type="DHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DHD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DHE00000" type="DHE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00000" type="DHF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00150" type="DHF00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00000" type="DHG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定日を含む事業年度の積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00000" type="DHH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第５７条の３第２項又は第６８条の５３第２項の規定により使用済核燃料再処理準備金を有しなくなった事業年度又は連結事業年度の積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD160-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DHA00000-1-0type">
<xsd:sequence>

<xsd:element name="DHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHC00000-1-0type">
<xsd:sequence>

<xsd:element name="DHC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末の再処理費の額（租税特別措置法第57条の3第1項第1号イ又は第68条の53第1項第1号イの金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末の再処理費の額（前期の（２））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再処理費の額が生じた場合の当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定日を含む事業年度の積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１３）－（１６）＝０の場合の事業年度又は連結事業年度の積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHE00000-1-0type">
<xsd:sequence>

<xsd:element name="DHE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引使用済核燃料再処理準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成９年改正措置令附則第１３条に規定するいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHF00000-1-0type">
<xsd:sequence>

<xsd:element name="DHF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首使用済核燃料再処理準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再処理費の額が生じた場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引使用済核燃料再処理準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末使用済核燃料再処理準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHF00150-1-0type">
<xsd:sequence>

<xsd:element name="DHF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている使用済核燃料再処理準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHF00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHG00000-1-0type">
<xsd:sequence>

<xsd:element name="DHG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用済核燃料再処理準備金を積み立てることにつき経済産業大臣の指定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00020" type="DHG00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の日から当期末までの日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00030" type="DHG00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末の再処理費の額（租税特別措置法第57条の3第1項第1号イの金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末の再処理費の額（前期の（31）に相当する金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期に生じた再処理費の額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHH00000-1-0type">
<xsd:sequence>

<xsd:element name="DHH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末の再処理費の額（租税特別措置法第57条の3第1項第1号イ又は第68条の53第1項第1号イの金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末の再処理費の額（前期の（2）、（31）又は（35））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期に生じた再処理費の額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩額がある場合の減算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩額がある場合の減算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の任意取崩額（租税特別措置法第57条の3第4項第4号又は第68条の53第４項第４号の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までの任意取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DHG00020-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DHG00030-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DHG00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DHG00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DHG00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DHG00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
