etax/19XMLスキーマ/hojin/HOD165-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(八)　原子力発電施設解体準備金の損金算入に関する明細書
version：3.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD165-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD165-3-0group">
<xsd:sequence>
<xsd:element name="HOD165">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTA00000" type="HTA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00000" type="HTB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HTC00000" type="HTC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD165-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HTA00000-3-0type">
<xsd:sequence>

<xsd:element name="HTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTA00020" type="HTA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTA00030" type="HTA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTA00050" type="HTA00050-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTB00000-3-0type">
<xsd:sequence>

<xsd:element name="HTB00010" type="HTB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定原子力発電施設の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末の解体費用見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前積立合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の積立限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の累積限度超過取崩額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の累積限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引原子力発電施設解体準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期累積限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首原子力発電施設解体準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"解体費用を支出した場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末原子力発電施設解体準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている原子力発電施設解体準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HTB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HTB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HTB00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HTC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="HTA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="HTA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="HTA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="HTA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="HTA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HTA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="HTA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="HTA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="HTA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="HTA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HTA00050-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
