etax/19XMLスキーマ/hojin/HOD201-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(十四)　農業経営基盤強化準備金の損金算入及び認定計画等に定めるところに従い取得した農用地等の圧縮額の損金算入に関する明細書
version：9.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD201-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD201-9-0group">
<xsd:sequence>
<xsd:element name="HOD201">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNA00000" type="LNA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00000" type="LNB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　農業経営基盤強化準備金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00000" type="LNC00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00000" type="LND00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　認定計画等に定めるところに従い取得した農用地等の圧縮額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LNE00000" type="LNE00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD201-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LNA00000-9-0type">
<xsd:sequence>

<xsd:element name="LNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNA00020" type="LNA00020-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNA00030" type="LNA00030-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNA00050" type="LNA00050-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LNB00000-9-0type">
<xsd:sequence>

<xsd:element name="LNB00010" type="LNB00010-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定計画等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00020" type="LNB00020-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付金等の該当号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00043" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNB00045" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち損金経理による積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00047" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち剰余金の処分による積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち準備金として積み立てられた交付金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首農業経営基盤強化準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末農業経営基盤強化準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の金額との差額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表に計上されている農業経営基盤強化準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表の取崩不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00215" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に生じた差額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LNC00000-9-0type">
<xsd:sequence>

<xsd:element name="LNC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00110" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LNC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LNC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)及び(26)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LNC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LND00000-9-0type">
<xsd:sequence>

<xsd:element name="LND00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00030" type="LND00030-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00063" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち損金経理による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00067" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち剰余金の処分による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別資産の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の帳簿価額を減額し、又は積立金として積み立てた金額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00133" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00135" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち損金経理による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00137" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち剰余金の処分による金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準備金等益金算入基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LND00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年を経過した農業経営基盤強化準備金の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意取崩し等の農業経営基盤強化準備金の金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち準備金として積み立てられなかった交付金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LND00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LND00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等の帳簿価額を減額し、又は積立金として積み立てた金額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LNB00010-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LNB00020-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LND00030-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LNE00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LNA00020-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LNA00020-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LNA00020-9-0Rtype">
            <xsd:attribute name="IDREF" type="LNA00020-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LNA00020-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LNA00030-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LNA00030-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LNA00030-9-0Rtype">
            <xsd:attribute name="IDREF" type="LNA00030-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LNA00030-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LNA00050-9-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
