etax/19XMLスキーマ/hojin/HOD230-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十二(二十)　計画造林準備金の益金算入に関する明細書
version：2.0
Date：2004年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD230-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD230-2-0group">
<xsd:sequence>
<xsd:element name="HOD230">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOA00000" type="DOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00000" type="DOB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00000" type="DOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00000" type="DOD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額等の計算の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD230-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DOA00000-2-0type">
<xsd:sequence>

<xsd:element name="DOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DOB00000-2-0type">
<xsd:sequence>

<xsd:element name="DOB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造林を行った場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年を経過した場合の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)及び(２)以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期準備金取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DOC00000-2-0type">
<xsd:sequence>

<xsd:element name="DOC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造林を行った場合又は2年を経過した場合の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による準備金取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引期末現在額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中において益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末計画造林準備金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DOD00000-2-0type">
<xsd:sequence>

<xsd:element name="DOD00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00013" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00016" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造林を行った場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)及び(18)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00080" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00093" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00096" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造林を行った場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)及び(18)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在の準備金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造林を行った場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年を経過した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)及び(18)以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


</xsd:schema>
