etax/19XMLスキーマ/hojin/HOD440-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(四)　収用換地等に伴い取得した資産の圧縮額等の損金算入に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD440-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD440-2-0group">
<xsd:sequence>
<xsd:element name="HOD440">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUA00000" type="DUA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUB00000" type="DUB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DUC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した補償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保留地の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DUF00000" type="DUF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUG00000" type="DUG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUH00000" type="DUH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差益割合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUI00000" type="DUI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産について帳簿価額の減額等をした場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00000" type="DUJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定を設けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00000" type="DUK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産について帳簿価額を減額した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD440-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DUA00000-2-0type">
<xsd:sequence>

<xsd:element name="DUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUB00000-2-0type">
<xsd:sequence>

<xsd:element name="DUB00010" type="DUB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公共事業者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用換地等による譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUB00030" type="DUB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の収用換地等のあった部分の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUF00000-2-0type">
<xsd:sequence>

<xsd:element name="DUF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費に充てるため交付を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補償金等又は保留地の対価に係る譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産に係る譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUG00000-2-0type">
<xsd:sequence>

<xsd:element name="DUG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補償金等の額又は保留地の対価の額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUH00000-2-0type">
<xsd:sequence>

<xsd:element name="DUH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した補償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に係る譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引補償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補償金等の額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUH00050" type="DUH00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差益割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUI00000-2-0type">
<xsd:sequence>

<xsd:element name="DUI00010" type="DUI00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した代替資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の帳簿価額を減額し、若しくは引当金に繰り入れ、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の取得のため(17)又は(17)のうち特別勘定残額に対応するものから支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUJ00000-2-0type">
<xsd:sequence>

<xsd:element name="DUJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定の対象となり得る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUJ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUK00000-2-0type">
<xsd:sequence>

<xsd:element name="DUK00010" type="DUK00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産につき支払った交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産に係る譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DUB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUH00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUI00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUK00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DUH00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="DUH00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
