etax/19XMLスキーマ/hojin/HOD485-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(九)　承継業務の事業計画の施行区域内にある土地等の交換に伴い取得した土地等の圧縮額の損金算入に関する明細書
version：2.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD485-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD485-2-0group">
<xsd:sequence>
<xsd:element name="HOD485">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQA00000" type="DQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DQB00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業計画が認可された日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DQC00000" type="DQC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換譲渡資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQD00000" type="DQD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00000" type="DQE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産のみを取得した場合又は交換取得資産とともに交換差金を取得した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00000" type="DQF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換とともに交換差金を支出した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DQG00000" type="DQG00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD485-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DQA00000-2-0type">
<xsd:sequence>

<xsd:element name="DQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQA00020" type="DQA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQA00030" type="DQA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQA00050" type="DQA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQC00000-2-0type">
<xsd:sequence>

<xsd:element name="DQC00010" type="DQC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の資産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した資産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00040" type="DQC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した土地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQD00000-2-0type">
<xsd:sequence>

<xsd:element name="DQD00010" type="DQD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQD00040" type="DQD00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した土地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQE00000-2-0type">
<xsd:sequence>

<xsd:element name="DQE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の帳簿価額を減額し、若しくは引当金に繰り入れ、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産とともに取得した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQF00000-2-0type">
<xsd:sequence>

<xsd:element name="DQF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の帳簿価額を減額し、若しくは引当金に繰り入れ、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換譲渡資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換とともに支出した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DQC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQD00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQD00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQG00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DQA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DQA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DQA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="DQA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DQA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DQA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DQA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DQA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="DQA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DQA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DQA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="DQC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="DQC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DQD00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="DQD00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
