etax/19XMLスキーマ/hojin/HOD420-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(二)　保険金等で取得した固定資産等の圧縮額等の損金算入に関する明細書
version：7.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD420-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD420-7-0group">
<xsd:sequence>
<xsd:element name="HOD420">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00000" type="DSA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSB00000" type="DSB00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等のあった事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DSC00000" type="DSC00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち被害部分の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DSF00000" type="DSF00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払を受けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00000" type="DSG00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の交付を受けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00000" type="DSH00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額の減額等をした場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00000" type="DSI00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DSJ00000" type="DSJ00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD420-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DSA00000-7-0type">
<xsd:sequence>

<xsd:element name="DSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSB00000-7-0type">
<xsd:sequence>

<xsd:element name="DSB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSF00000-7-0type">
<xsd:sequence>

<xsd:element name="DSF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた保険金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により支出する経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引保険金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険差益金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSG00000-7-0type">
<xsd:sequence>

<xsd:element name="DSG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた代替資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により支出する経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引代替資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産に係る差益金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSH00000-7-0type">
<xsd:sequence>

<xsd:element name="DSH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払を受けた場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産等の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（7）のうち、圧縮額等の損金算入の適用を受けない金額及び他の代替資産等につき圧縮額等の損金算入の適用を受ける場合のその適用に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該代替資産等の取得等に要した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該代替資産等の取得等に対応する保険金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00120" type="DSH00120-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮基礎割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の支払を受ける日における代替資産等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の交付を受けた場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00160" type="DSH00160-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険差益割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産の既償却額に係る取得価額調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額に算入しない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSI00000-7-0type">
<xsd:sequence>

<xsd:element name="DSI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定の対象となり得る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00035" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)のうち代替資産等の取得等に充てようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DSC00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSH00120-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSH00160-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSJ00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DSH00120-7-0type">
<xsd:simpleContent>
<xsd:extension base="DSH00120-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DSH00160-7-0type">
<xsd:simpleContent>
<xsd:extension base="DSH00160-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
