etax/19XMLスキーマ/hojin/HOD410-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(一)　国庫補助金等、工事負担金及び賦課金で取得した固定資産等の圧縮額等の損金算入に関する明細書
version：9.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD410-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD410-9-0group">
<xsd:sequence>
<xsd:element name="HOD410">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRA00000" type="DRA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00000" type="DRB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　国庫補助金等で取得した固定資産等の圧縮額等の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00000" type="DRC00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　工事負担金で取得した固定資産等の圧縮額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00000" type="DRD00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　非出資組合が賦課金で取得した固定資産等の圧縮額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DRE00000" type="DRE00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD410-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DRA00000-9-0type">
<xsd:sequence>

<xsd:element name="DRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DRB00000-9-0type">
<xsd:sequence>

<xsd:element name="DRB00010" type="DRB00010-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00020" type="DRB00020-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等を交付した者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた補助金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額の減額等をした場合(無条件の場合又は返還を要しないこととなった場合)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち返還を要しない又は要しないこととなった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合　(4)の全部又は一部の返還を要しないこととなった日における固定資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合　固定資産の取得等に要した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00115" type="DRB00115-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合　補助割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合　圧縮限度基礎額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00143" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産の既償却額に係る取得価額調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00146" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額に算入しない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した場合（条件付の場合）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還を要しないこととなった金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)及び(22)以外の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DRC00000-9-0type">
<xsd:sequence>

<xsd:element name="DRC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた金銭及び資材の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた固定資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00030" type="DRC00030-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した固定資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の取得に要した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度基礎額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)の交付を受けた日における固定資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00140" type="DRC00140-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度基礎額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産の既償却額に係る取得価額調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額に算入しない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DRD00000-9-0type">
<xsd:sequence>

<xsd:element name="DRD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課に基づいて納付された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00040" type="DRD00040-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した固定資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の取得等に要した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度基礎額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DRD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(38)が納付された日における固定資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00150" type="DRD00150-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度基礎額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DRD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に取得をした減価償却資産の既償却額に係る取得価額調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DRD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額に算入しない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DRB00010-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRB00020-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRB00115-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRC00030-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRC00140-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRD00040-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRD00150-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DRE00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DRB00115-9-0type">
<xsd:simpleContent>
<xsd:extension base="DRB00115-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DRC00140-9-0type">
<xsd:simpleContent>
<xsd:extension base="DRC00140-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DRD00150-9-0type">
<xsd:simpleContent>
<xsd:extension base="DRD00150-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
