etax/19XMLスキーマ/hojin/HOD420-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(二)　保険金等で取得した固定資産等の圧縮額等の損金算入に関する明細書
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD420-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD420-5-0group">
<xsd:sequence>
<xsd:element name="HOD420">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00000" type="DSA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSB00000" type="DSB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険事故等のあった事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DSC00000" type="DSC00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険等の目的資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち被害部分の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DSF00000" type="DSF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等を受けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00000" type="DSG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の交付を受けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00000" type="DSH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額の減額等をした場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00000" type="DSI00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DSJ00000" type="DSJ00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD420-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DSA00000-5-0type">
<xsd:sequence>

<xsd:element name="DSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00020" type="DSA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSA00030" type="DSA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSA00040" type="DSA00040-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSB00000-5-0type">
<xsd:sequence>

<xsd:element name="DSB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSF00000-5-0type">
<xsd:sequence>

<xsd:element name="DSF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した保険金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により支出する経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引保険金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険差益金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSG00000-5-0type">
<xsd:sequence>

<xsd:element name="DSG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた代替資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により支出する経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引代替資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産に係る差益金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSH00000-5-0type">
<xsd:sequence>

<xsd:element name="DSH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等を受けた場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の取得等のため(7)又は(7)のうち特別勘定残額に対応するものから支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の交付を受けた場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代替資産の帳簿価額を減額し、又は積立金に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSI00000-5-0type">
<xsd:sequence>

<xsd:element name="DSI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定の対象となり得る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DSI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DSC00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSJ00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DSA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DSA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DSA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="DSA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DSA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DSA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DSA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DSA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="DSA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DSA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DSA00040-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
