etax/19XMLスキーマ/hojin/HOD495-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(十)　平成21年及び平成22年に先行取得をした土地等の圧縮額の損金算入に関する明細書
version：2.0
Date：2011年10月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD495-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD495-2-0group">
<xsd:sequence>
<xsd:element name="HOD495">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVA00000" type="NVA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NVB00000" type="NVB00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="NVC00000" type="NVC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00000" type="NVD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡土地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00000" type="NVE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NVF00000" type="NVF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD495-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NVA00000-2-0type">
<xsd:sequence>

<xsd:element name="NVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVA00020" type="NVA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVA00030" type="NVA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVA00050" type="NVA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NVC00000-2-0type">
<xsd:sequence>

<xsd:element name="NVC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"平成21年先行取得土地等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の取得年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得の日を含む事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出書の提出年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00080" type="NVC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の面積"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金算入された積立金計上額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVC00130" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"平成22年先行取得土地等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の取得年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得の日を含む事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVC00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出書の提出年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00190" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00200" type="NVC00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の面積"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに損金算入された積立金計上額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NVD00000-2-0type">
<xsd:sequence>

<xsd:element name="NVD00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡土地等の譲渡年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡土地等の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した経費の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NVE00000-2-0type">
<xsd:sequence>

<xsd:element name="NVE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の各欄のうち当期に適用を受ける先行取得土地等の差引取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)－(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地等の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の各欄のうち当期に適用を受ける先行取得土地等の差引取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済みの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)－(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地等の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の各欄のうち当期に適用を受ける先行取得土地等の差引取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済みの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)－(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地等の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の各欄のうち当期に適用を受ける先行取得土地等の差引取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済みの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)－(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地等の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の各欄のうち当期に適用を受ける先行取得土地等の差引取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先行取得土地等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NVE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)の計)*(80％又は60％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済みの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)－(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NVE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地等の圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NVE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="NVB00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NVC00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NVC00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NVF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NVA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NVA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NVA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="NVA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NVA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NVA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NVA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NVA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="NVA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NVA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NVA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NVC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="NVC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NVC00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="NVC00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
