etax/19XMLスキーマ/hojin/HOD470-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(七)　大規模な住宅地等造成事業の施行区域内にある土地等の造成のための交換等に伴い取得した宅地の圧縮額等の損金算入に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD470-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD470-1-0group">
<xsd:sequence>
<xsd:element name="HOD470">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXA00000" type="DXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DXB00000" type="DXB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"造成事業施行者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DXC00000" type="DXC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換譲渡資産等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXD00000" type="DXD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00000" type="DXE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換により宅地のみを取得した場合、宅地と交換差金を取得した場合又は譲渡に係る対価の額が譲り受けた宅地の取得価額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00000" type="DXF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換とともに交換差金を支出した場合又は譲り受けた宅地の取得価額が譲渡に係る対価の額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00000" type="DXG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定を設けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD470-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DXA00000-1-0type">
<xsd:sequence>

<xsd:element name="DXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DXC00000-1-0type">
<xsd:sequence>

<xsd:element name="DXC00010" type="DXC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の資産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした資産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00040" type="DXC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした土地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等に要した経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DXD00000-1-0type">
<xsd:sequence>

<xsd:element name="DXD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した宅地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXD00020" type="DXD00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した宅地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した宅地の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DXE00000-1-0type">
<xsd:sequence>

<xsd:element name="DXE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の帳簿価額を減額し、若しくは引当金に繰り入れ、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等とともに取得した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXE00073" type="DXE00073-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１７)/((１７)+(１８))又は(１７)/(１９)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXE00076" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DXF00000-1-0type">
<xsd:sequence>

<xsd:element name="DXF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の帳簿価額を減額し、若しくは引当金に繰り入れ、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等とともに支出した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)+((26)又は((24)-(27)))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXF00083" type="DXF00083-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXF00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DXG00000-1-0type">
<xsd:sequence>

<xsd:element name="DXG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得認定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXG00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲り受ける宅地の価額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る対価の額と譲り受ける宅地の価額の見積額が等しいとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る対価の額が譲り受ける宅地の価額の見積額を超えるとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲り受ける宅地の価額の見積額が譲渡に係る対価の額を超えるとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DXG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DXG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DXG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DXB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DXC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DXC00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DXD00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DXE00073-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DXF00083-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="DXC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DXC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DXD00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DXD00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
