etax/19XMLスキーマ/hojin/HOD480-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(八)　認定事業用地適正化計画の事業用地の区域内にある土地等の譲渡に伴い取得した土地建物等の圧縮額等の損金算入に関する明細書
version：5.0
Date：2011年10月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD480-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD480-5-0group">
<xsd:sequence>
<xsd:element name="HOD480">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYA00000" type="DYA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DYB00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用地適正化計画認定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYC00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DYD00000" type="DYD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00000" type="DYE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建築物の延べ面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DYF00000" type="DYF00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定事業者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DYG00000" type="DYG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換譲渡資産等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYH00000" type="DYH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00000" type="DYI00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等により土地建物等のみを取得した場合、土地建物等と交換差金を取得した場合又は譲渡に係る対価の額が譲り受けた土地建物等の取得価額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00000" type="DYJ00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換とともに交換差金を支出した場合又は譲り受けた土地建物等の取得価額が譲渡に係る対価の額を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00000" type="DYK00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定を設けた場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DYL00000" type="DYL00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD480-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DYA00000-5-0type">
<xsd:sequence>

<xsd:element name="DYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYA00020" type="DYA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYA00030" type="DYA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYA00040" type="DYA00040-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYD00000-5-0type">
<xsd:sequence>

<xsd:element name="DYD00010" type="DYD00010-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYD00020" type="DYD00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYE00000-5-0type">
<xsd:sequence>

<xsd:element name="DYE00010" type="DYE00010-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00020" type="DYE00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYG00000-5-0type">
<xsd:sequence>

<xsd:element name="DYG00010" type="DYG00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の資産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした資産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00040" type="DYG00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等をした所有隣接土地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換等に要した経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYH00000-5-0type">
<xsd:sequence>

<xsd:element name="DYH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYH00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した土地建物等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYI00000-5-0type">
<xsd:sequence>

<xsd:element name="DYI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等とともに取得した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYI00073" type="DYI00073-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２０)/((２０)+(２１))又は(２０)/(２２)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00076" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額に対応する帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYI00078" type="DYI00078-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYJ00000-5-0type">
<xsd:sequence>

<xsd:element name="DYJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産等の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得資産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等の譲渡とともに支出した交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((28)+(29))又は((27)+(28)-(30))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYJ00083" type="DYJ00083-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((28)+(29))又は((27)+(28)-(30))　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((28)+(29))又は((27)+(28)-(30))　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYJ00088" type="DYJ00088-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYJ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYK00000-5-0type">
<xsd:sequence>

<xsd:element name="DYK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲り受ける土地建物等の価額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る対価の額と譲り受ける土地建物等の価額の見積額が等しいとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に係る対価の額が譲り受ける土地建物等の価額の見積額を超えるとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲り受ける土地建物等の価額の見積額が譲渡に係る対価の額を超えるとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYK00125" type="DYK00125-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYK00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYK00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYK00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DYD00010-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYD00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00010-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYG00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYG00040-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DYI00073-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DYI00078-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DYJ00083-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DYJ00088-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DYK00125-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DYL00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DYA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DYA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DYA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="DYA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DYA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DYA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DYA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DYA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="DYA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DYA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DYA00040-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="DYD00010-5-0type">
<xsd:simpleContent>
<xsd:extension base="DYD00010-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00010-5-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00010-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYG00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="DYG00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
