etax/19XMLスキーマ/hojin/HOD500-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(十)　賦課金で取得した試験研究用資産及び中小企業団体の組織に関する法律に規定する中小企業者等が現物出資した場合の圧縮額の損金算入に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD500-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD500-1-0group">
<xsd:sequence>
<xsd:element name="HOD500">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00000" type="EAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00000" type="EAB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　賦課金で取得した試験研究用資産の圧縮額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00000" type="EAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　中小企業団体の組織に関する法律に規定する中小企業者等が現物出資により取得した株式等の圧縮額等の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00000" type="EAD00000-1-0type" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"出資資産の帳簿価額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00000" type="EAE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOD500-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EAA00000-1-0type">
<xsd:sequence>

<xsd:element name="EAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAB00000-1-0type">
<xsd:sequence>

<xsd:element name="EAB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち既に試験研究用資産の取得に充てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引賦課金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00040" type="EAB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した試験研究用資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究用資産の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち固定資産の取得等に充てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAC00000-1-0type">
<xsd:sequence>

<xsd:element name="EAC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00020" type="EAC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資に係る承認又は認定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認又は認定の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資をした年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資受入法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資受入法人の受入事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資直前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資に要した経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資前帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定出資資産に係る分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の帳簿価額を減額した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資前帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定出資資産に係る分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の帳簿価額を減額した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資受入法人が出資を受けた際特定出資資産に付した帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資受入法人が特別勘定として付記した金額又は帳簿価額を減額して特別勘定として経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定出資資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資前帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAD00000-1-0type">
<xsd:sequence>

<xsd:element name="EAD00010" type="EAD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認又は認定を受けた出資資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAE00000-1-0type">
<xsd:sequence>

<xsd:element name="EAE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EAB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
