etax/19XMLスキーマ/hojin/HOD510-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(十)　転廃業助成金等で取得した固定資産等の圧縮額等の損金算入に関する明細書
version：9.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD510-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD510-9-0group">
<xsd:sequence>
<xsd:element name="HOD510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBA00000" type="EBA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00000" type="EBB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EBD00000" type="EBD00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD510-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EBA00000-9-0type">
<xsd:sequence>

<xsd:element name="EBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBA00020" type="EBA00020-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBA00030" type="EBA00030-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBA00040" type="EBA00040-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EBB00000-9-0type">
<xsd:sequence>

<xsd:element name="EBB00010" type="EBB00010-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成金等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00015" type="EBB00015-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成金等を交付した者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成金等の交付を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00033" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00036" type="EBB00036-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた助成金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転廃業助成金等で取得した固定資産等の圧縮額等の計算　帳簿価額の減額等をした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価補填金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の減価補填費に対応する助成金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転廃業助成金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転廃業助成金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の帳簿価額及び取壊し等に要する経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引転廃業助成金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の帳簿価額を減額し、又は積立金として積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の取得等のため(12)又は(12)のうち特別勘定残額に対応するものから支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転廃業助成金等で取得した固定資産等の圧縮額等の計算　特別勘定を設けた場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別勘定に経理した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち前期末までに益金の額に算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に益金の額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別勘定残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EBB00010-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00015-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00036-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EBA00020-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EBA00020-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EBA00020-9-0Rtype">
            <xsd:attribute name="IDREF" type="EBA00020-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EBA00020-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBA00030-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EBA00030-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EBA00030-9-0Rtype">
            <xsd:attribute name="IDREF" type="EBA00030-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EBA00030-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBA00040-9-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
