etax/19XMLスキーマ/hojin/HOD500-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十三(九)　賦課金で取得した試験研究用資産の圧縮額の損金算入に関する明細書
version：9.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOD500-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOD500-9-0group">
<xsd:sequence>
<xsd:element name="HOD500">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00000" type="EAA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00000" type="EAB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EAF00000" type="EAF00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOD500-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EAA00000-9-0type">
<xsd:sequence>

<xsd:element name="EAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00020" type="EAA00020-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00030" type="EAA00030-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAA00040" type="EAA00040-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAB00000-9-0type">
<xsd:sequence>

<xsd:element name="EAB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち既に試験研究用資産の取得等に充てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引賦課金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00040" type="EAB00040-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した試験研究用資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究用資産の帳簿価額を減額した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち固定資産の取得等に充てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EAB00040-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAF00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EAA00020-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EAA00020-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EAA00020-9-0Rtype">
            <xsd:attribute name="IDREF" type="EAA00020-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EAA00020-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EAA00030-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EAA00030-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EAA00030-9-0Rtype">
            <xsd:attribute name="IDREF" type="EAA00030-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EAA00030-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EAA00040-9-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
