etax/19XMLスキーマ/hojin/HOE090-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(一)　特殊支配同族会社の判定等及び業務主宰役員給与の損金不算入額の計算に関する明細書
version：1.2
Date：2006年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE090-1-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/><xsd:enumeration value="1.2"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE090-1-2group">
<xsd:sequence>
<xsd:element name="HOE090">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFA00000" type="IFA00000-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00000" type="IFB00000-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊支配同族会社の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00000" type="IFC00000-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間がある場合等の適用除外の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00000" type="IFD00000-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員給与の損金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IFE00000" type="IFE00000-1-2Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE090-1-2VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IFA00000-1-2type">
<xsd:sequence>

<xsd:element name="IFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFA00020" type="IFA00020-1-2IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFA00030" type="IFA00030-1-2IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFA00050" type="IFA00050-1-2IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IFB00000-1-2type">
<xsd:sequence>

<xsd:element name="IFB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等、議決権数又は社員数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の発行済株式の総数又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00040" type="IFB00040-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の議決権の総数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00060" type="IFB00060-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00070" type="IFB00070-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00080" type="IFB00080-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の議決権の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00090" type="IFB00090-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00100" type="IFB00100-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の社員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00110" type="IFB00110-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00120" type="IFB00120-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00130" type="IFB00130-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等、議決権数又は社員数による判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00150" type="IFB00150-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の常務に従事する役員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00160" type="IFB00160-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び常務に従事する業務主宰役員関連者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00170" type="IFB00170-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員数による判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員及び業務主宰役員関連者等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00200" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00210" type="IFB00210-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00215" type="IFB00215-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00220" type="IFB00220-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(本書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員グループに属する者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00240" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員関連者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00250" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00260" type="IFB00260-1-2Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00270" type="IFB00270-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00275" type="IFB00275-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00280" type="IFB00280-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(本書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00290" type="IFB00290-1-2Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00300" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"同上以外の者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00310" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00320" type="IFB00320-1-2Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00330" type="IFB00330-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00335" type="IFB00335-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(外書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00340" type="IFB00340-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数(本書き)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFB00360" type="IFB00360-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00370" type="IFB00370-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFB00380" type="IFB00380-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IFC00000-1-2type">
<xsd:sequence>

<xsd:element name="IFC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間がある場合の適用除外の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間開始の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00030" type="IFC00030-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間内事業年度等の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前三年基準所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額又は調整欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度欠損金額の調整控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前三年基準所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前三年業務主宰役員平均給与額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00100" type="IFC00100-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前三年基準所得金額に占める前三年業務主宰役員平均給与額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間がない場合の適用除外の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得減算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支給した業務主宰役員給与額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の年換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員給与調整後の所得の金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当年度基準所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFC00220" type="IFC00220-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当年度基準所得金額に占める当期業務主宰役員給与額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IFD00000-1-2type">
<xsd:sequence>

<xsd:element name="IFD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支給した業務主宰役員給与額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IFD00040" type="IFD00040-1-2type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の業務主宰役員であった期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算対象給与額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年換算業務主宰役員給与額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年換算業務主宰役員給与額等に係る損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IFD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が65万円以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が65万円を超え180万円以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が180万円を超え360万円以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が360万円を超え660万円以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が660万円を超え1,000万円以下である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IFD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)が1,000万円を超える場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IFB00040-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00060-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00070-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00080-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00090-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00100-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00110-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00120-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00130-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00150-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00160-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00170-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00210-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00215-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00220-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00260-1-2Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00270-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00275-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00280-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IFB00290-1-2Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IFB00320-1-2Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00330-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00335-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00340-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00360-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00370-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFB00380-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFC00030-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFC00100-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFC00220-1-2Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFD00040-1-2Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IFE00000-1-2Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IFA00020-1-2Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IFA00020-1-2IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IFA00020-1-2Rtype">
            <xsd:attribute name="IDREF" type="IFA00020-1-2-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IFA00020-1-2-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IFA00030-1-2Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IFA00030-1-2IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IFA00030-1-2Rtype">
            <xsd:attribute name="IDREF" type="IFA00030-1-2-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IFA00030-1-2-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IFA00050-1-2IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="IFB00040-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00040-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00060-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00060-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00070-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00070-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00080-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00080-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00090-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00090-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00100-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00100-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00110-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00110-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00120-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00120-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00130-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00130-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00150-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00150-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00160-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00160-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00170-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00170-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00210-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00210-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00215-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00215-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00220-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00220-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00270-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00270-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00275-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00275-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00280-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00280-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00330-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00330-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00335-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00335-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00340-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00340-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00360-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00360-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00370-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00370-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFB00380-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFB00380-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFC00030-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFC00030-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFC00100-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFC00100-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFC00220-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFC00220-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IFD00040-1-2type">
<xsd:simpleContent>
<xsd:extension base="IFD00040-1-2Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
