etax/19XMLスキーマ/hojin/HOE098-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(二)付表二　公益目的事業実施必要額の計算に関する明細書
version：1.0
Date：2025年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE098-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE098-1-0group">
<xsd:sequence>
<xsd:element name="HOE098">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWA00000" type="KWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00000" type="KWB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWC00000" type="KWC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実資金当期積立基準額を超えない部分の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00000" type="KWD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実活動等ごとの当期積立基準額等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KWE00000" type="KWE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE098-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KWA00000-1-0type">
<xsd:sequence>

<xsd:element name="KWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KWA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KWB00000-1-0type">
<xsd:sequence>

<xsd:element name="KWB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の公益目的事業に係る費用の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る経常費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち特定公益目的保有財産の償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実資金の当期積立額のうち公益充実資金当期積立基準額を超えない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益目的保有財産の取得支出合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益目的保有財産とした特定公益目的保有財産以外の財産の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度特例残存欠損額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KWB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の公益目的事業に係る収入の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る経常収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実資金の取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益目的保有財産の処分収入合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益目的保有財産以外の財産とした特定公益目的保有財産の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業以外の事業(収益事業に限る。)から公益目的事業に繰り入れた当該公益目的事業以外の事業の収益の50％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業以外の事業(収益事業を除く。)から公益目的事業に繰り入れた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KWB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業実施必要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KWC00000-1-0type">
<xsd:sequence>

<xsd:element name="KWC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における公益充実資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実資金当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち公益充実資金当期積立基準額を超えない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KWD00000-1-0type">
<xsd:sequence>

<xsd:element name="KWD00010" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWD00020" type="KWD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実活動等の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実活動等の実施時期開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における公益充実活動等の所要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における公益充実活動等の所要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実活動等所要額の当期積立未済相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から実施時期開始日の前日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWD00080" type="KWD00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00090" type="KWD00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から実施時期開始日の前日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KWD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別公益充実資金当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KWD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KWD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における公益充実活動等の所要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末における公益充実活動等の所要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益充実活動等所要額の当期積立未済相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KWD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別公益充実資金当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KWD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KWD00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KWD00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KWE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="KWD00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="KWD00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="KWD00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="KWD00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
