etax/19XMLスキーマ/hojin/HOE112-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(七)付表二　前特定適格組織再編成等による移転資産の特例計算をした場合の特定資産譲渡等損失額の損金不算入に関する明細書
version：4.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE112-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE112-4-0group">
<xsd:sequence>
<xsd:element name="HOE112">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00000" type="YZA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00000" type="YZB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00000" type="YZC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人の前特定適格組織再編成等による移転資産の譲渡等による損失の額又は利益の額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00000" type="YZD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前特定適格組織再編成等による移転資産の譲渡等による損失の額又は利益の額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YZE00000" type="YZE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE112-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YZA00000-4-0type">
<xsd:sequence>

<xsd:element name="YZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZB00000-4-0type">
<xsd:sequence>

<xsd:element name="YZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定引継資産に係る特定資産譲渡等損失額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定引継資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定引継資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定保有資産に係る特定資産譲渡等損失額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定保有資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定保有資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZC00000-4-0type">
<xsd:sequence>

<xsd:element name="YZC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前特定適格組織再編成等に係る被合併法人等である関連法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前特定適格組織再編成等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人支配関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZD00000-4-0type">
<xsd:sequence>

<xsd:element name="YZD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産　時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産　簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の対象期間における当該関連法人に係る前特定適格組織再編成等による移転資産の損失の額から利益の額を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産　時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産　簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の対象期間における当該関連法人に係る前特定適格組織再編成等による移転資産の損失の額から利益の額を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係る前特定適格組織再編成等による移転資産の譲渡等による利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="YZE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
