etax/19XMLスキーマ/hojin/HOE112-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(五)付表二　みなし特定引継資産又はみなし特定保有資産の特例計算をした場合の特定資産譲渡等損失額の損金不算入に関する明細書
version：1.0
Date：2013年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE112-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE112-1-0group">
<xsd:sequence>
<xsd:element name="HOE112">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00000" type="YZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00000" type="YZB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00000" type="YZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人のみなし特定引継資産又はみなし特定保有資産に係る譲渡等特定事由による損失の額又は利益の額の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00000" type="YZD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし特定引継資産又はみなし特定保有資産に係る譲渡等特定事由による損失の額又は利益の額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YZE00000" type="YZE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE112-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YZA00000-1-0type">
<xsd:sequence>

<xsd:element name="YZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00020" type="YZA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZA00030" type="YZA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZA00050" type="YZA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZB00000-1-0type">
<xsd:sequence>

<xsd:element name="YZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の適用期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定引継資産に係る特定資産譲渡等損失額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定保有資産に係る特定資産譲渡等損失額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の(1)の期間における特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZC00000-1-0type">
<xsd:sequence>

<xsd:element name="YZC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前特定適格組織再編成等に係る被合併法人等である関連法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前特定適格組織再編成等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人支配関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし特定引継資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係るみなし特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係るみなし特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし特定保有資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係るみなし特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における当該関連法人に係るみなし特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YZD00000-1-0type">
<xsd:sequence>

<xsd:element name="YZD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間におけるみなし特定引継資産に係る損失の額から利益の額を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YZD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YZD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間におけるみなし特定保有資産に係る損失の額から利益の額を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YZD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該関連法人に係るみなし特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="YZE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="YZA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="YZA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="YZA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="YZA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="YZA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="YZA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="YZA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="YZA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="YZA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="YZA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="YZA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
