etax/19XMLスキーマ/hojin/HOE110-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(六)　特定資産譲渡等損失額の損金不算入に関する明細書
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE110-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE110-5-0group">
<xsd:sequence>
<xsd:element name="HOE110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAA00000" type="WAA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00000" type="WAB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00000" type="WAC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産又は特定保有資産に係る特定資産譲渡等損失額の損金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00000" type="WAD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産又は特定保有資産に係る特定資産譲渡等損失額の損金不算入額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00000" type="WAE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業を移転しない特定適格組織再編成等が行われた場合の特定保有資産に係る特定資産譲渡等損失額の損金不算入額の特例計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WAF00000" type="WAF00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE110-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WAA00000-5-0type">
<xsd:sequence>

<xsd:element name="WAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAA00020" type="WAA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAA00030" type="WAA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAA00050" type="WAA00050-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WAB00000-5-0type">
<xsd:sequence>

<xsd:element name="WAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の適用期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAB00040" type="WAB00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格組織再編成等の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格組織再編成等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格組織再編成等に係る被合併法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WAC00000-5-0type">
<xsd:sequence>

<xsd:element name="WAC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の期間における特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WAD00000-5-0type">
<xsd:sequence>

<xsd:element name="WAD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引継対象未処理欠損金額の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間における特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額の特例計算において特定資産譲渡等損失相当額から成る欠損金額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間における特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WAE00000-5-0type">
<xsd:sequence>

<xsd:element name="WAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転簿価資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転簿価資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WAE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転時価資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例切捨欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)＜＝(32)の場合　特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)＞(32)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WAE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間における特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WAE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WAB00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WAF00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="WAA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WAA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WAA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="WAA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WAA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WAA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WAA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WAA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="WAA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WAA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WAA00050-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
