etax/19XMLスキーマ/hojin/HOE106-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(七)　公益法人等が普通法人に移行する場合等の累積所得金額又は累積欠損金額の益金又は損金算入等に関する明細書
version：4.0
Date：2013年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE106-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE106-4-0group">
<xsd:sequence>
<xsd:element name="HOE106">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWA00000" type="QWA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00000" type="QWB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　公益認定の取消しにより普通法人に該当することとなった場合等の累積所得金額又は累積欠損金額の益金又は損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00000" type="QWC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　移行法人が普通法人に該当することとなった場合等の累積所得金額又は累積欠損金額の益金又は損金算入等に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QWD00000" type="QWD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE106-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QWA00000-4-0type">
<xsd:sequence>

<xsd:element name="QWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWA00020" type="QWA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWA00030" type="QWA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QWA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWA00050" type="QWA00050-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QWB00000-4-0type">
<xsd:sequence>

<xsd:element name="QWB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移行日又は適格合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的取得財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QWC00000-4-0type">
<xsd:sequence>

<xsd:element name="QWC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移行日又は適格合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的収支差額の収入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QWC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QWC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越調整公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QWC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額又は期首調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における公益目的支出の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度において損金不算入とされた公益目的支出の額のうち当期認容額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当期公益目的支出の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における実施事業収入の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度において益金不算入とされた実施事業収入の額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当期実施事業収入の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QWC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QWD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QWA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QWA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QWA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="QWA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QWA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QWA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QWA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QWA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="QWA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QWA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QWA00050-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
