etax/19XMLスキーマ/hojin/HOE103-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(二)付表　時価純資産価額及び簿価純資産価額に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE103-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE103-1-0group">
<xsd:sequence>
<xsd:element name="HOE103">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFA00000" type="EFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00000" type="EFB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額及び簿価純資産価額に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00000" type="EFC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係事業年度の前事業年度又は前連結事業年度終了の時における時価純資産価額及び簿価純資産価額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOE103-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EFA00000-1-0type">
<xsd:sequence>

<xsd:element name="EFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EFA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EFB00000-1-0type">
<xsd:sequence>

<xsd:element name="EFB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額及び簿価純資産価額の算定の対象となる法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00020" type="EFB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失額の特例に係る特定引継資産又は特定保有資産の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格合併等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の法人の特定資本関係事業年度の前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EFB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（５）の特定資本関係事業年度の前事業年度又は前連結事業年度終了の時における時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（５）の特定資本関係事業年度の前事業年度又は前連結事業年度終了の時における簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EFC00000-1-0type">
<xsd:sequence>

<xsd:element name="EFC00010" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFC00020" type="EFC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EFC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EFC00080" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"負債　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFC00090" type="EFC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EFC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EFC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EFC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EFB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EFC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EFC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
