etax/19XMLスキーマ/hojin/HOE102-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(四)　特定資産譲渡等損失額の損金不算入及び特定資本関係発生日における時価が帳簿価額を下回っていない資産に関する明細書
version：4.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE102-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE102-4-0group">
<xsd:sequence>
<xsd:element name="HOE102">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEA00000" type="EEA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00000" type="EEB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1特定資産譲渡等損失額の損金不算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEC00000" type="EEC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2特定資本関係発生日における時価が帳簿価額を下回っていない資産に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EED00000" type="EED00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE102-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EEA00000-4-0type">
<xsd:sequence>

<xsd:element name="EEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEA00020" type="EEA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEA00030" type="EEA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEA00040" type="EEA00040-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EEB00000-4-0type">
<xsd:sequence>

<xsd:element name="EEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中の適用期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00040" type="EEB00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格合併等の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格合併等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定適格合併等に係る被合併法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資本関係発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の期間における特定引継資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の期間における特定引継資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）のうち引継対象外未処理欠損金額の特例において簿価純資産超過額に係る特定資産譲渡等損失相当額とされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間における特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定引継資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の期間における特定保有資産の譲渡等特定事由による損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の期間における特定保有資産の譲渡又は評価換えによる利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２２）のうち控除未済欠損金額の特例において簿価純資産超過額に係る特定資産譲渡等損失相当額とされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前の適用期間における特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定保有資産に係る特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産譲渡等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EEC00000-4-0type">
<xsd:sequence>

<xsd:element name="EEC00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"特定引継資産関係　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEC00050" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"特定保有資産関係　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEC00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EEB00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EED00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EEA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EEA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EEA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="EEA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EEA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EEA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EEA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EEA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="EEA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EEA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EEA00040-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
