etax/19XMLスキーマ/hojin/HOE105-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(六)　リース譲渡に係る収益及び費用の益金及び損金算入に関する明細書
version：2.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE105-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE105-2-0group">
<xsd:sequence>
<xsd:element name="HOE105">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVA00000" type="QVA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00000" type="QVB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QVC00000" type="QVC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE105-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QVA00000-2-0type">
<xsd:sequence>

<xsd:element name="QVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVA00020" type="QVA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVA00030" type="QVA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVA00050" type="QVA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QVB00000-2-0type">
<xsd:sequence>

<xsd:element name="QVB00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース譲渡を行った事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の前期からの繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる利息相当額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の前期からの繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる元本相当額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価の額の前期からの繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる原価の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価の額の翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース譲渡の原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる利息相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期のリース譲渡に係る元本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる元本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期のリース譲渡に係る原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価の額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の前期からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる利息相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息相当額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期のリース譲渡に係る元本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の前期からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる元本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本相当額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の損益計算書に計上されたリース譲渡に係る収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入不足（超過）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QVB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期のリース譲渡に係る原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価の額の前期からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に帰せられる原価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価の額の翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QVB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の損益計算書に計上されたリース譲渡に係る費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QVB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入不足（超過）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QVC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QVA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QVA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QVA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="QVA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QVA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QVA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QVA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QVA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="QVA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QVA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QVA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
