etax/19XMLスキーマ/hojin/HOE101-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(二)付表　公益社団法人又は公益財団法人の寄附金の公益法人特別限度額の計算に関する明細書
version：1.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE101-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE101-1-0group">
<xsd:sequence>
<xsd:element name="HOE101">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUA00000" type="QUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUB00000" type="QUB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00000" type="QUC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業実施必要額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00000" type="QUD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る特定費用準備資金の明細及び当期増加額のうち当期積立基準額を超えない部分の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00000" type="QUE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益資産取得資金の明細及び当期増加額のうち当期積立基準額を超えない部分の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QUF00000" type="QUF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE101-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QUA00000-1-0type">
<xsd:sequence>

<xsd:element name="QUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QUB00000-1-0type">
<xsd:sequence>

<xsd:element name="QUB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業実施必要額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益法人特別限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QUC00000-1-0type">
<xsd:sequence>

<xsd:element name="QUC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の公益目的事業に係る費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る経常費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち公益目的保有財産の償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る特定費用準備資金増加額のうち当期積立基準額を超えない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益資産取得資金増加額のうち当期積立基準額を超えない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的保有財産取得支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的保有財産とした公益目的保有財産以外の財産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の公益目的事業に係る収入の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る経常収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業に係る特定費用準備資金減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益資産取得資金減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的保有財産処分収入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的保有財産以外の財産とした公益目的保有財産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的事業以外の事業(収益事業を除く。)から公益目的事業へ繰り入れた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QUD00000-1-0type">
<xsd:sequence>

<xsd:element name="QUD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00020" type="QUD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の目的である活動の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに取り崩した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末積立累計額控除後の積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00140" type="QUD00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00150" type="QUD00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00190" type="QUD00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の目的である活動の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに取り崩した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末積立累計額控除後の積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00310" type="QUD00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00320" type="QUD00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(5)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00360" type="QUD00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の目的である活動の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定費用準備資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(3)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに積み立てた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに取り崩した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末積立累計額控除後の積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00480" type="QUD00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00490" type="QUD00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUD00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(1)＋(2)＋(3)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUD00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(4)＋(5)＋(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QUE00000-1-0type">
<xsd:sequence>

<xsd:element name="QUE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00020" type="QUE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の対象となる資産の名称及び資産取得資金の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(7)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における対象資産の取得に要する支出の額の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額控除後の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00130" type="QUE00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00140" type="QUE00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00180" type="QUE00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の対象となる資産の名称及び資産取得資金の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における対象資産の取得に要する支出の額の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額控除後の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00290" type="QUE00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00300" type="QUE00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00340" type="QUE00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の対象となる資産の名称及び資産取得資金の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産取得資金の積立期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における対象資産の取得に要する支出の額の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末公益資産取得資金額控除後の最低額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数／当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00450" type="QUE00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00460" type="QUE00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度開始の日から積立期間の末日までの月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QUE00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QUE00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期減少額(7)＋(8)＋(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QUE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期増加額のうち当期積立基準額を超えない部分の金額(10)＋(11)＋(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QUD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00360-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUD00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUE00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QUF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="QUD00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUD00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUD00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUD00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUD00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUD00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUD00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QUE00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="QUE00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
