etax/19XMLスキーマ/hojin/HOE108-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四(八)　公益法人等が普通法人等に移行する場合等の累積所得金額又は累積欠損金額の益金又は損金算入等に関する明細書
version：3.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE108-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE108-3-0group">
<xsd:sequence>
<xsd:element name="HOE108">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESA00000" type="ESA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00000" type="ESB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　公益認定の取消しにより普通法人に該当することとなった場合等の累積所得金額又は累積欠損金額の益金又は損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00000" type="ESC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　移行法人が普通法人に該当することとなった場合等の累積所得金額又は累積欠損金額の益金又は損金算入等に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00000" type="ESD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　社会医療法人の認定を取り消された医療法人が実施計画に係る認定を受けた場合等の累積所得金額又は累積欠損金額の益金又は損金算入等に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ESE00000" type="ESE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE108-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ESA00000-3-0type">
<xsd:sequence>

<xsd:element name="ESA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESA00020" type="ESA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESA00030" type="ESA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESA00050" type="ESA00050-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ESB00000-3-0type">
<xsd:sequence>

<xsd:element name="ESB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移行日又は適格合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的取得財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ESC00000-3-0type">
<xsd:sequence>

<xsd:element name="ESC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移行日又は適格合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公益目的収支差額の収入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価損の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価評価益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越調整公益目的財産残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初調整公益目的財産残額又は期首調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における公益目的支出の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度において損金不算入とされた公益目的支出の額のうち当期認容額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当期公益目的支出の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における実施事業収入の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度において益金不算入とされた実施事業収入の額のうち当期加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当期実施事業収入の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末調整公益目的財産残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ESD00000-3-0type">
<xsd:sequence>

<xsd:element name="ESD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移行日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初救急医療等確保事業用資産取得未済残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"救急医療等確保事業用資産の取得価額の見積額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初救急医療等確保事業用資産取得未済残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積所得金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積欠損金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越救急医療等確保事業用資産取得未済残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初救急医療等確保事業用資産取得未済残額又は期首救急医療等確保事業用資産取得未済残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期における救急医療等確保事業用資産の取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末救急医療等確保事業用資産取得未済残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ESE00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ESA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ESA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ESA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="ESA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ESA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ESA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ESA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ESA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="ESA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ESA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ESA00050-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
