etax/19XMLスキーマ/hojin/HOE200-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十五　交際費等の損金算入に関する明細書
version：7.0
Date：2010年05月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE200-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE200-7-0group">
<xsd:sequence>
<xsd:element name="HOE200">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGA00000" type="EGA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EGC00000" type="EGC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGD00000" type="EGD00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EGF00000" type="EGF00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGG00000" type="EGG00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE200-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EGA00000-7-0type">
<xsd:sequence>

<xsd:element name="EGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGC00000-7-0type">
<xsd:sequence>

<xsd:element name="EGC00010" type="EGC00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00020" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGD00000-7-0type">
<xsd:sequence>

<xsd:element name="EGD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGF00000-7-0type">
<xsd:sequence>

<xsd:element name="EGF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の額から控除される費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGF00050" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGF00060" type="EGF00060-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の額から控除される費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の額から控除される費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="EGC00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EGF00060-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGG00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
