etax/19XMLスキーマ/hojin/HOE370-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十六(九)　特別償却準備金の損金算入に関する明細書
version：8.0
Date：2018年11月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE370-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE370-8-0group">
<xsd:sequence>
<xsd:element name="HOE370">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOA00000" type="EOA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00030" type="EOB00030-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00080" type="EOB00080-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00100" type="EOB00100-8-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特別償却準備金の損金算入に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00500" type="EOB00500-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EOD00000" type="EOD00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE370-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
<xsd:attribute name="csvFileNM" type="gen:str"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EOA00000-8-0type">
<xsd:sequence>

<xsd:element name="EOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOA00020" type="EOA00020-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOA00030" type="EOA00030-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOA00050" type="EOA00050-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EOB00030-8-0type">
<xsd:sequence>

<xsd:element name="EOB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EOB00080-8-0type">
<xsd:sequence>

<xsd:element name="EOB00090" type="EOB00090-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EOB00100-8-0type">
<xsd:sequence>

<xsd:element name="EOB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却に関する規定の該当条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00130" type="EOB00130-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿条"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00140" type="EOB00140-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00145" type="EOB00145-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00150" type="EOB00150-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00160" type="EOB00160-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造・区分・設備の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00170" type="EOB00170-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00190" type="EOB00190-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐用年数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の特別償却限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した積立不足額又は合併等特別償却準備金積立不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増償却の場合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"初年度特別償却の場合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期に繰り越すべき積立不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において切り捨てる積立不足額又は合併等特別償却準備金積立不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期への繰越額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00375" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併等特別償却準備金積立不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00410" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各積立事業年度の積立額のうち損金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特別償却準備金の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入による場合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別償却準備金の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EOB00500-8-0type">
<xsd:sequence>

<xsd:element name="EOB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の特別償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した積立不足額又は合併等特別償却準備金積立不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増償却の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"初年度特別償却の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期に繰り越すべき積立不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において切り捨てる積立不足額又は合併等特別償却準備金積立不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期への繰越額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00685" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併等特別償却準備金積立不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各積立事業年度の積立額のうち損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首特別償却準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"均等益金算入による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合による益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末特別償却準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EOB00090-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00130-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00140-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00145-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00150-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00160-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00170-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOB00190-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOD00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EOA00020-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EOA00020-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EOA00020-8-0Rtype">
            <xsd:attribute name="IDREF" type="EOA00020-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EOA00020-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EOA00030-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EOA00030-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EOA00030-8-0Rtype">
            <xsd:attribute name="IDREF" type="EOA00030-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EOA00030-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EOA00050-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="EOB00090-8-0type">
<xsd:simpleContent>
<xsd:extension base="EOB00090-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOB00190-8-0type">
<xsd:simpleContent>
<xsd:extension base="EOB00190-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
