etax/19XMLスキーマ/hojin/HOE390-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十六(十一)　非適格合併等に係る調整勘定の計算の明細書
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE390-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE390-5-0group">
<xsd:sequence>
<xsd:element name="HOE390">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYA00000" type="VYA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00000" type="VYB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等に係る調整勘定の計算の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VYC00000" type="VYC00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE390-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VYA00000-5-0type">
<xsd:sequence>

<xsd:element name="VYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYA00020" type="VYA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYA00030" type="VYA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYA00050" type="VYA00050-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VYB00000-5-0type">
<xsd:sequence>

<xsd:element name="VYB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00030" type="VYB00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定の金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首資産調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期首資産調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差額負債調整勘定の金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差額負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首差額負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期首差額負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与負債調整勘定の金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00180" type="VYB00180-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与引受従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首退職給与負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割又は適格現物出資により引継ぎをした退職給与負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期首退職給与負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期重要負債調整勘定の金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期重要負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首短期重要負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割又は適格現物出資により引継ぎをした短期重要負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等の日から3年が経過したことにより益金算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期首短期重要負債調整勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定の金額又は差額負債調整勘定の金額の当初計上額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額がある場合又は令第123条の10第16項各号に該当しない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時価純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額が時価純資産価額を超えるときのその超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産等超過差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差額負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VYB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併等対価額がない場合で令第123条の10第16項第1号に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VYB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転を受けた資産の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"独立取引営業権以外の営業権で移転を受けた事業に係るものの資産評定による価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転を受けた負債の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期重要負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他未確定債務の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VYB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差額負債調整勘定の金額の当初計上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="VYB00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="VYB00180-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VYC00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VYA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VYA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VYA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="VYA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VYA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VYA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VYA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VYA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="VYA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VYA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VYA00050-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="VYB00180-5-0type">
<xsd:simpleContent>
<xsd:extension base="VYB00180-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
