etax/19XMLスキーマ/hojin/HOE352-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十六(六)　繰延資産の償却額の計算に関する明細書
version：3.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE352-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE352-3-0group">
<xsd:sequence>
<xsd:element name="HOE352">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00000" type="EUA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00000" type="EUB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　均等償却を行う繰延資産の償却額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00000" type="EUC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　一時償却が認められる繰延資産の償却額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EUD00000" type="EUD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE352-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EUA00000-3-0type">
<xsd:sequence>

<xsd:element name="EUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EUB00000-3-0type">
<xsd:sequence>

<xsd:element name="EUB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00040" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"均等償却を行う繰延資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00050" type="EUB00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰延資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00060" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00080" type="EUB00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00090" type="EUB00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の期間のうちに含まれる償却期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の償却限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の普通償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法適用条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00130" type="EUB00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00135" type="EUB00135-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枝番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00140" type="EUB00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00150" type="EUB00150-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した特別償却不足額又は合併等特別償却不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期からの繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち当期損金認容額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期に繰り越すべき特別償却不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において切り捨てる特別償却不足額又は合併等特別償却不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期への繰越額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成により引き継ぐべき合併等特別償却不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EUC00000-3-0type">
<xsd:sequence>

<xsd:element name="EUC00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"一時償却が認められる繰延資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUC00020" type="EUC00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰延資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期までに償却した金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUC00043" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EUB00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00080-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00090-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00135-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00140-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00150-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUC00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUD00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EUB00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="EUB00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EUB00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="EUB00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EUB00150-3-0type">
<xsd:simpleContent>
<xsd:extension base="EUB00150-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
