etax/19XMLスキーマ/hojin/HOE340-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十六(五)　取替法による取替資産の償却額の計算に関する明細書
version：8.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE340-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE340-8-0group">
<xsd:sequence>
<xsd:element name="HOE340">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELA00000" type="ELA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELB01000" type="ELB01000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿・＿・＿＿・＿・＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00000" type="ELC00000-8-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"取替法による取替資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ELD00000" type="ELD00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELE00000" type="ELE00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE340-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ELA00000-8-0type">
<xsd:sequence>

<xsd:element name="ELA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELA00020" type="ELA00020-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELA00030" type="ELA00030-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELA00040" type="ELA00040-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ELB01000-8-0type">
<xsd:sequence>

<xsd:element name="ELB02000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELB03000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ELC00000-8-0type">
<xsd:sequence>

<xsd:element name="ELC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00020" type="ELC00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00030" type="ELC00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00040" type="ELC00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00045" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00050" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00055" type="ELC00055-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐用年数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"圧縮記帳による積立金計上額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00103" type="ELC00103-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却額計算の対象となる期末現在の帳簿記載金額　外書文字(外)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00106" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却額計算の対象となる期末現在の帳簿記載金額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却額計算の対象となる期末現在の帳簿記載金額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の積立金の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金の期中取崩額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引帳簿記載金額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引帳簿記載金額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00137" type="ELC00137-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金に計上した当期償却額　外書文字(外)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00138" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金に計上した当期償却額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金に計上した当期償却額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した償却超過額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した償却超過額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した特別償却不足額又は合併等特別償却不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定率法又は定率法の償却額計算の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の普通償却限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年３月31日以前取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC01300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定額法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定額法による償却額計算の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC01500" type="ELC01500-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定額法の償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC01600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定率法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC01700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定率法による償却額計算の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC01800" type="ELC01800-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧定率法の償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC01900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出償却額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC02000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年４月１日以後取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC02100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC02200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額法による償却額計算の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC02300" type="ELC02300-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額法の償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC02400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC02500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率法による償却額計算の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC02600" type="ELC02600-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率法の償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC02700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出償却額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の償却限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC02730" type="ELC02730-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の普通償却限度額　外書文字(外)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC02760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の普通償却限度額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC02800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の普通償却限度額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00270" type="ELC00270-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00293" type="ELC00293-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した特別償却不足額又は合併等特別償却不足額　外書文字(外)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00297" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した特別償却不足額又は合併等特別償却不足額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期から繰り越した特別償却不足額又は合併等特別償却不足額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC02900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引取得価額*50％"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却可能限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の通常償却額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取り替えた新たな資産に係る損金算入額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00353" type="ELC00353-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却限度額　外書文字(外)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00356" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却限度額　外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却限度額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却超過額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期からの繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却不足によるもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金取崩しによるもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却不足額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期に繰り越すべき特別償却不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期において切り捨てる特別償却不足額又は合併等特別償却不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期への繰越額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ELC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_・_・_～_・_・_"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ELC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ELC03000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成により引き継ぐべき合併等特別償却不足額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ELC00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00040-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00055-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00103-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00137-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC01500-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC01800-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC02300-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC02600-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC02730-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00270-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00293-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELC00353-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELD00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ELE00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ELA00020-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ELA00020-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ELA00020-8-0Rtype">
            <xsd:attribute name="IDREF" type="ELA00020-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ELA00020-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ELA00030-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ELA00030-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ELA00030-8-0Rtype">
            <xsd:attribute name="IDREF" type="ELA00030-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ELA00030-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ELA00040-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="ELC00055-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC00055-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ELC01500-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC01500-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ELC01800-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC01800-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ELC02300-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC02300-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ELC02600-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC02600-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ELC00270-8-0type">
<xsd:simpleContent>
<xsd:extension base="ELC00270-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
