etax/19XMLスキーマ/hojin/HOE400-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(一)　国外支配株主等に係る負債の利子等の損金算入に関する明細書
version：7.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE400-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE400-7-0group">
<xsd:sequence>
<xsd:element name="HOE400">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00000" type="EQA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQF00000" type="EQF00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等及び資金供与者等に対する負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00000" type="EQG00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る負債・資本持分比率の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQH00000" type="EQH00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債・自己資本比率の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00000" type="EQI00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総負債・純資産比率の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00000" type="EQC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EQE00000" type="EQE00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE400-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EQA00000-7-0type">
<xsd:sequence>

<xsd:element name="EQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00020" type="EQA00020-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQA00030" type="EQA00030-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00040" type="EQA00040-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQF00000-7-0type">
<xsd:sequence>

<xsd:element name="EQF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に対する負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の資金供与者等に対する負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内の資金供与者等に対する負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等及び資金供与者等に対する負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQG00000-7-0type">
<xsd:sequence>

<xsd:element name="EQG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金等の額又は連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00060" type="EQG00060-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直接及び間接保有の株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等の資本持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQG00080" type="EQG00080-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る負債・資本持分比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQH00000-7-0type">
<xsd:sequence>

<xsd:element name="EQH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQH00020" type="EQH00020-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債・自己資本比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQI00000-7-0type">
<xsd:sequence>

<xsd:element name="EQI00010" type="EQI00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第66条の5第3項又は第68条の89第3項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQI00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総利付負債の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の純資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQI00090" type="EQI00090-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総負債・純資産比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQC00000-7-0type">
<xsd:sequence>

<xsd:element name="EQC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に対する負債に係る負債の利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の資金供与者等に対する負債に係る負債の利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内の資金供与者等に対する負債に係る保証料等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00035" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等及び資金供与者等に対する負債に係る負債の利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均負債残高超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)－(11)*(3又は(21))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)－(9)*(3又は(21))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)が(27)以下である場合(28)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)が(27)以下である場合(29)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)が(27)を超える場合(30)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)が(27)を超える場合(31)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に係る支払利子等の課税の特例との調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表十七(二の二)「18」又は別表十七の二(二)「23」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00130" type="EQC00130-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第66条の5第4項又は第68条の89第4項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EQG00060-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQG00080-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQH00020-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EQI00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EQI00090-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EQC00130-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EQE00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EQA00020-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EQA00020-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EQA00020-7-0Rtype">
            <xsd:attribute name="IDREF" type="EQA00020-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EQA00020-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EQA00030-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EQA00030-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EQA00030-7-0Rtype">
            <xsd:attribute name="IDREF" type="EQA00030-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EQA00030-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EQA00040-7-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="EQG00060-7-0type">
<xsd:simpleContent>
<xsd:extension base="EQG00060-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQG00080-7-0type">
<xsd:simpleContent>
<xsd:extension base="EQG00080-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQH00020-7-0type">
<xsd:simpleContent>
<xsd:extension base="EQH00020-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQI00090-7-0type">
<xsd:simpleContent>
<xsd:extension base="EQI00090-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
