etax/19XMLスキーマ/hojin/HOE400-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(一)　国外支配株主等に係る負債の利子の損金算入に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE400-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE400-2-0group">
<xsd:sequence>
<xsd:element name="HOE400">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00000" type="EQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00000" type="EQB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債・資本比率の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00000" type="EQC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00000" type="EQD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等の名称等　明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOE400-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EQA00000-2-0type">
<xsd:sequence>

<xsd:element name="EQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQB00000-2-0type">
<xsd:sequence>

<xsd:element name="EQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る利付負債・資本持分比率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に対する利付負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等の資本持分の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本等の金額又は連結個別資本等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00090" type="EQB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直接及び間接保有の株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等の資本持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQB00110" type="EQB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る利付負債・資本持分比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総利付負債・自己資本比率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総利付負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00140" type="EQB00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総利付負債・自己資本比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総利付負債・純資産比率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQB00160" type="EQB00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第66条の5第2項又は第68条の89第2項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00170" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00180" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00183" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQB00185" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00187" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総利付負債の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の純資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00210" type="EQB00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似法人の総利付負債・純資産比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQC00000-2-0type">
<xsd:sequence>

<xsd:element name="EQC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に国外支配株主等に支払う負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に対する利付負債に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等の資本持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均負債残高超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)－(21)*(3又は(18)）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)－(6)*(3又は(18)）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQD00000-2-0type">
<xsd:sequence>

<xsd:element name="EQD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQD00040" type="EQD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号該当"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00050" type="EQD00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿％）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利付負債に係る平均負債残高"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00070" type="EQD00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直接及び間接保有の株式等の割合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に支払う負債の利子の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EQB00090-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQB00140-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EQB00160-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EQB00210-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQD00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQD00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EQB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQB00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQB00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQB00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQB00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQD00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQD00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQD00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="EQD00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
