etax/19XMLスキーマ/hojin/HOE432-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の二)付表一　関連者支払利子等の額の合計額の計算に関する明細書
version：1.0
Date：2013年09月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE432-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE432-1-0group">
<xsd:sequence>
<xsd:element name="HOE432">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHA00000" type="XHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00000" type="XHB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者支払利子等の額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00000" type="XHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"除外対象特定債券現先取引等に係る支払利子等の額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="XHD00000" type="XHD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE432-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="XHA00000-1-0type">
<xsd:sequence>

<xsd:element name="XHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XHA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XHB00000-1-0type">
<xsd:sequence>

<xsd:element name="XHB00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00040" type="XHB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住者・非居住者・内国法人・外国法人の区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は本店若しくは主たる事務所の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XHB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に対する支払利子等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち連結完全支配関係がある連結法人に対する支払利子等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に対する支払利子等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち関連者等の課税対象所得に含まれない額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"除外対象特定債券現先取引等に係る支払利子等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者支払利子等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XHB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者支払利子等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XHC00000-1-0type">
<xsd:sequence>

<xsd:element name="XHC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHC00020" type="XHC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の種類・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"除外対象特定債券現先取引等に係る平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対応債券現先取引等に係る平均資産残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後平均負債残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前の除外対象特定債券現先取引等に係る支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)＊(13)／(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対応債券現先取引等に係る受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XHC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XHC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)＊(13)／(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XHC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対応債券現先取引等に係る受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="XHB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="XHC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XHD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
