etax/19XMLスキーマ/hojin/HOE430-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の二)　関連者等に係る支払利子等の損金不算入に関する明細書
version：6.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE430-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE430-6-0group">
<xsd:sequence>
<xsd:element name="HOE430">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGA00000" type="XGA00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00000" type="XGB00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="XGC00000" type="XGC00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE430-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="XGA00000-6-0type">
<xsd:sequence>

<xsd:element name="XGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XGB00000-6-0type">
<xsd:sequence>

<xsd:element name="XGB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者支払利子等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象受取利子等合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社から受ける剰余金の配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物損等の事実が生じた場合の資産の評価損の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産に係る償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れによる損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却準備金に係る益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定子法人の課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整対象超過利子額の損金算入に係る特定子法人の課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は残余財産の全部分配等による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る負債の利子等の課税の特例との調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表十七(一)｢28｣、｢29｣、｢30｣又は｢31｣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)＞(19)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00260" type="XGB00260-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成31年旧措置法第66条の５の２第７項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整対象金額に係る調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00275" type="XGB00275-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額(((20)－(23))又は(21))　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額(((20)－(23))又は(21))　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額に対応する負債利子の損金不算入制度との調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XGB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表十七の三(二)｢12｣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)＞(25)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00320" type="XGB00320-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成31年旧措置法第66条の５の２第10項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XGB00325" type="XGB00325-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額((26)又は(27))　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XGB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額((26)又は(27))　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="XGB00260-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="XGB00275-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="XGB00320-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="XGB00325-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="XGC00000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
