etax/19XMLスキーマ/hojin/HOE530-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の三)　特定外国子会社等に係る課税済間接配当等の額の計算に関する明細書
version：3.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE530-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE530-3-0group">
<xsd:sequence>
<xsd:element name="HOE530">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00000" type="EUA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00000" type="EUB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等に係る課税済間接配当等の額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00000" type="EUC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年以内の控除未済課税済配当等の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EUD00000" type="EUD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE530-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EUA00000-3-0type">
<xsd:sequence>

<xsd:element name="EUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00020" type="EUA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUA00030" type="EUA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUA00040" type="EUA00040-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EUB00000-3-0type">
<xsd:sequence>

<xsd:element name="EUB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00030" type="EUB00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社又は他の特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00100" type="EUB00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国法人が外国関係会社又は他の特定外国子会社等から受けた配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の配当等の額が他の特定外国子会社等から受けたものである場合の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の受領年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年以内の控除未済課税済配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)又は(12)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済間接配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUB00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の課税対象留保金額又は個別課税対象留保金額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUB00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済配当等の額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EUC00000-3-0type">
<xsd:sequence>

<xsd:element name="EUC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受領年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EUC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EUC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期使用額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EUC00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EUB00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUB00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EUD00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EUA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EUA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EUA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="EUA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EUA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EUA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EUA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EUA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="EUA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EUA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EUA00040-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
