etax/19XMLスキーマ/hojin/HOE585-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の八)　間接特定課税対象金額の計算に関する明細書
version：5.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE585-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE585-5-0group">
<xsd:sequence>
<xsd:element name="HOE585">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZA00000" type="WZA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZB00000" type="WZB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00000" type="WZC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WZD00000" type="WZD00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE585-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WZA00000-5-0type">
<xsd:sequence>

<xsd:element name="WZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WZB00000-5-0type">
<xsd:sequence>

<xsd:element name="WZB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZB00030" type="WZB00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人の本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZB00070" type="WZB00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZB00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WZC00000-5-0type">
<xsd:sequence>

<xsd:element name="WZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前二年以内の各事業年度のうち最も古いもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00070" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人が他の外国法人から剰余金の配当等を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人が他の外国法人から受けた剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00100" type="WZC00100-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案直接保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち適用済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(13)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人が他の外国法人から受けた剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち適用済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(13)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00230" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人に係る課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00280" type="WZC00280-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(20)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人に係る課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(20)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00420" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人に係る課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00430" type="WZC00430-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00450" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00460" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(20)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WZC00490" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の外国法人に係る課税対象金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00500" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00510" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち適用済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00520" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00530" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の七)「19の計」+「21の計」)のうち(20)に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WZC00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WZC00550" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WZB00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WZB00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WZC00100-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WZC00280-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WZC00430-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WZD00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="WZC00100-5-0type">
<xsd:simpleContent>
<xsd:extension base="WZC00100-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WZC00280-5-0type">
<xsd:simpleContent>
<xsd:extension base="WZC00280-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WZC00430-5-0type">
<xsd:simpleContent>
<xsd:extension base="WZC00430-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
