etax/19XMLスキーマ/hojin/HOE563-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の四)　特定課税対象金額等又は特定個別課税対象金額等がある場合の外国法人から受ける配当等の益金不算入額等の計算に関する明細書
version：4.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE563-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE563-4-0group">
<xsd:sequence>
<xsd:element name="HOE563">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGA00000" type="WGA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00000" type="WGB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WGC00000" type="WGC00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE563-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WGA00000-4-0type">
<xsd:sequence>

<xsd:element name="WGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGA00020" type="WGA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGA00030" type="WGA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGA00050" type="WGA00050-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WGB00000-4-0type">
<xsd:sequence>

<xsd:element name="WGB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00060" type="WGB00060-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01250" type="WGB01250-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01260" type="WGB01260-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00100" type="WGB00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00110" type="WGB00110-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00120" type="WGB00120-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が損金算入配当に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち外国子会社配当益金不算入の対象とならない損金算入配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社配当益金不算入の対象となる剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(13)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(15)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(15)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当以外の外国子会社配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)+(19)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*5％+(21)*5％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01500" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)及び(25)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01530" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00300" type="WGB00300-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00310" type="WGB00310-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00320" type="WGB00320-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が損金算入配当に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01550" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち外国子会社配当益金不算入の対象とならない損金算入配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01560" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社配当益金不算入の対象となる剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(13)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(15)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01580" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(15)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01590" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当以外の外国子会社配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01640" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)+(19)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01680" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*5％+(21)*5％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01710" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01740" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01770" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)及び(25)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01800" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00490" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00500" type="WGB00500-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00510" type="WGB00510-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00520" type="WGB00520-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00550" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が損金算入配当に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01820" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち外国子会社配当益金不算入の対象とならない損金算入配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01830" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社配当益金不算入の対象となる剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00560" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00580" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(13)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01840" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(15)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01850" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(15)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00590" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01860" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01870" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当以外の外国子会社配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01910" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)+(19)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01950" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*5％+(21)*5％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01980" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)及び(25)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00690" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00700" type="WGB00700-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00710" type="WGB00710-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00720" type="WGB00720-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00740" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00750" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が損金算入配当に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち外国子会社配当益金不算入の対象とならない損金算入配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社配当益金不算入の対象となる剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00760" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00770" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00780" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(13)-(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(15)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(15)-(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00790" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00800" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00810" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(18)-(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(20)-(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当以外の外国子会社配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)+(19)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*5％+(21)*5％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)及び(25)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00900" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00910" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB02350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が損金算入配当に該当する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB02360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち外国子会社配当益金不算入の対象とならない損金算入配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社配当益金不算入の対象となる剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00920" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(13)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(15)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00930" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)又は(11))と(18)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(20)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB02400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の配当に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00960" type="WGB00960-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案直接保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB00980" type="WGB00980-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00990" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01060" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WGB01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WGB01220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB01240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WGB00060-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WGB01250-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="WGB01260-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WGB00100-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00110-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00120-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00300-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00310-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00320-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00500-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00510-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00520-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00700-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00710-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00720-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGB00960-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WGB00980-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WGC00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="WGA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WGA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WGA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="WGA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WGA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WGA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WGA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WGA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="WGA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WGA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WGA00050-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="WGB00110-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00110-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00120-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00120-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00310-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00310-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00320-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00320-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00510-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00510-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00520-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00520-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00710-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00710-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00720-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00720-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WGB00960-4-0type">
<xsd:simpleContent>
<xsd:extension base="WGB00960-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
