etax/19XMLスキーマ/hojin/HOE542-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の十二)　外国関係会社に係る控除対象所得税額等相当額及び個別控除対象所得税額等相当額の控除及び各連結法人の地方法人税の額から控除する個別控除対象所得税額等相当額の個別帰属額の計算に関する明細書
version：1.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE542-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE542-1-0group">
<xsd:sequence>
<xsd:element name="HOE542">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="AEB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　外国関係会社に係る控除対象所得税額等相当額及び個別控除対象所得税額等相当額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00000" type="AEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　各連結法人の地方法人税の額から控除する個別控除対象所得税額等相当額の個別帰属額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AED00000" type="AED00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE542-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-1-0type">
<xsd:sequence>

<xsd:element name="AEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00020" type="AEA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00030" type="AEA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00050" type="AEA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEB00000-1-0type">
<xsd:sequence>

<xsd:element name="AEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内国法人の控除対象所得税額等相当額の控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち法人税の額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人の個別控除対象所得税額等相当額の控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別控除対象所得税額等相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち法人税の額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の法人税の額から控除する個別控除対象所得税額等相当額の個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別控除対象所得税額等相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEC00000-1-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別控除対象所得税額等相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AED00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AEA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AEA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="AEA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="AEA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="AEA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AEA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AEA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="AEA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="AEA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="AEA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AEA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
