etax/19XMLスキーマ/hojin/HOE540-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三)　特定外国子会社等に係る課税対象金額又は個別課税対象金額の計算に関する明細書
version：1.0
Date：2009年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE540-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE540-1-0group">
<xsd:sequence>
<xsd:element name="HOE540">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMA00000" type="IMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00000" type="IMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00000" type="IMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用除外の判定等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00000" type="IMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額又は個別課税対象金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IME00000" type="IME00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE540-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IMA00000-1-0type">
<xsd:sequence>

<xsd:element name="IMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMA00020" type="IMA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMA00030" type="IMA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMA00050" type="IMA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IMB00000-1-0type">
<xsd:sequence>

<xsd:element name="IMB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMB00030" type="IMB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMB00050" type="IMB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00060" type="IMB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得に対する租税の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IMC00000-1-0type">
<xsd:sequence>

<xsd:element name="IMC00010" type="IMC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在する国又は地域における固定施設の有無及びその内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00020" type="IMC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在する国又は地域における事業の管理、支配及び運営の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00030" type="IMC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第66条の６第３項又は第68条の90第３項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の事業に従事する者の人件費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非関連者基準"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMC00070" type="IMC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象取引の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象取引に係る収入金額又は支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち非関連者取引に係る収入金額又は支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00100" type="IMC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非関連者取引割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMC00110" type="IMC00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在する国又は地域における事業活動の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMC00120" type="IMC00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第66条の６第４項又は第68条の90第４項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IMD00000-1-0type">
<xsd:sequence>

<xsd:element name="IMD00010" type="IMD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の利益若しくは欠損の額又は所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00050" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00060" type="IMD00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMD00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金の額に算入した法人所得税の還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00130" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00140" type="IMD00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMD00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越欠損金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に納付することとなる法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に還付を受けることとなる法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の事業従事者の人件費控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00230" type="IMD00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IMD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額又は個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IMD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IMD00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IMB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMB00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IMC00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IMC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMC00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMC00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IMC00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IMD00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IMD00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IMD00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IMD00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IME00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IMA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IMA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IMA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="IMA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IMA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IMA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IMA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IMA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="IMA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IMA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IMA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="IMB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="IMB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IMC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="IMC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
