etax/19XMLスキーマ/hojin/HOE536-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の三)　外国金融子会社等以外の部分対象外国関係会社に係る部分適用対象金額及び特定所得の金額等の計算に関する明細書
version：4.0
Date：2021年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE536-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE536-4-0group">
<xsd:sequence>
<xsd:element name="HOE536">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHA00000" type="NHA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHB00000" type="NHB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00000" type="NHC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象金額及び部分課税対象金額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00000" type="NHD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NHE00000" type="NHE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE536-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NHA00000-4-0type">
<xsd:sequence>

<xsd:element name="NHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHA00020" type="NHA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00030" type="NHA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHA00050" type="NHA00050-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NHB00000-4-0type">
<xsd:sequence>

<xsd:element name="NHB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等以外の部分対象外国関係会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NHC00000-4-0type">
<xsd:sequence>

<xsd:element name="NHC00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)+(30)+(33)+(別表十七(三の三)付表｢11｣+｢21｣+｢39｣)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(40)+(48)+(51)+(54)+(62)+(別表十七(三の三)付表｢31｣)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象損失額の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)-(5)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00060" type="NHC00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権等勘案合算割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分課税対象金額又は個別部分課税対象金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NHD00000-4-0type">
<xsd:sequence>

<xsd:element name="NHD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち持株割合25％以上等の子法人から受ける剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち持株割合10％以上等の資源関連外国子法人から受ける剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)及び(12)のうち支払法人において損金算入される剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)-((11)+(12)-(13))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債利子配賦額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払う負債利子の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち(15)に含まれる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*(19)/(18)-(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)-(15)-(20)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取利子等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取利子等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)のうち業務の通常の過程において生ずる預貯金利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)のうち一定の貸金業者が行う金銭の貸付けに係る利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)のうち一定の割賦販売等に係る利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00195" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)のうち一定の棚卸資産の販売から生ずる利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)のうち一定のグループファイナンスに係る利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)-((23)+(24)+(25)+(26)+(27))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)-(29)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の貸付けに係る収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の貸付けによる対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)-(32)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の譲渡損益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)のうち持株割合25％以上の法人の株式等の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)-(35)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)のうち持株割合25％以上の法人の株式等の譲渡に係る対価の額の合計額に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)-(((37)-(38))+(39))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00360" type="NHD00360-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一単位当たりの帳簿価額の算出の方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"デリバティブ取引に係る損益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"デリバティブ取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)のうちヘッジ取引として行った一定のデリバティブ取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)のうち短期売買商品等損失額を減少させるために行った一定のデリバティブ取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)のうち先物外国為替契約等に相当する契約に基づくデリバティブ取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00420" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)のうち一定の金利スワップ等に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)のうち一定の商品先物取引業者等が行う一定の商品先物取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)-((43)+(44)+(45)+(46)+(47))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国為替差損益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00460" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国為替差損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(49)のうちその行う事業(投機的な取引を行う事業を除く。)に係る業務の通常の過程において生ずる外国為替差損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00480" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(49)-(50)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金融所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00500" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金融所得に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00510" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(52)のうちヘッジ取引として行った一定の取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00520" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(52)-(53)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NHD00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHD00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に収入した、又は収入すべきことの確定した収入保険料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00550" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に収入した、又は収入すべきことの確定した再保険返戻金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00560" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払った、又は支払うべきことの確定した再保険料及び解約返戻金の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(55)+(56)-(57)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00580" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払った、又は支払うべきことの確定した支払保険金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00590" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に収入した、又は収入すべきことの確定した再保険金の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(59)-(60)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHD00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(58)-(61)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="NHC00060-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NHD00360-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NHE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NHA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NHA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NHA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="NHA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NHA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NHA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NHA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NHA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="NHA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NHA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NHA00050-4-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NHC00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="NHC00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
