etax/19XMLスキーマ/hojin/HOE520-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の二)　特定外国子会社等の課税対象留保金額に係る控除対象外国法人税額及び課税済留保金額の損金算入額等の計算に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE520-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE520-2-0group">
<xsd:sequence>
<xsd:element name="HOE520">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETA00000" type="ETA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00000" type="ETB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1特定外国子会社等の課税対象留保金額に係る控除対象外国法人税額又は個別課税対象留保金額に係る個別控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00000" type="ETC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2特定外国子会社等に係る課税済留保金額又は個別課税済留保金額の損金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00000" type="ETD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3前５年以内の課税済留保金額、個別課税済留保金額及び既に外国税額の控除の対象とした外国法人税額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOE520-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ETA00000-2-0type">
<xsd:sequence>

<xsd:element name="ETA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETA00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETA00045" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ETB00000-2-0type">
<xsd:sequence>

<xsd:element name="ETB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00030" type="ETB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00090" type="ETB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(6)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に係る配当等の額及び適用対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の特定外国子会社等から受けた控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額又は個別課税対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*(10)／((8)＋(9))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)と(11)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(12)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)&gt;=(13)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)＜(13)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額に係る控除対象外国法人税額又は個別課税対象留保金額に係る個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00450" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額されたとみなされる控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETB00500" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ETC00000-2-0type">
<xsd:sequence>

<xsd:element name="ETC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETC00040" type="ETC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未処分所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に納付することとなる法人所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に還付を受けることとなる法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の特定外国子会社等から受けた控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)が(24)を超える場合のその超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当等に係る課税済配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済間接配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前５年以内の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETC00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ETD00000-2-0type">
<xsd:sequence>

<xsd:element name="ETD00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00180" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00460" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00490" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00530" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00560" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00630" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額及び当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00680" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00710" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00750" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00780" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ETD00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ETD00830" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ETD00860" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ETB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ETB00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ETC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ETC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="ETC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
