etax/19XMLスキーマ/hojin/HOE539-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の十)付表　外国金融子会社等に係る特定所得の金額の計算等に関する明細書
version：1.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE539-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE539-1-0group">
<xsd:sequence>
<xsd:element name="HOE539">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHA00000" type="GHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00000" type="GHB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00000" type="GHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00000" type="GHD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分適用対象損失額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GHE00000" type="GHE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE539-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GHA00000-1-0type">
<xsd:sequence>

<xsd:element name="GHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHA00020" type="GHA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHA00030" type="GHA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHA00050" type="GHA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GHB00000-1-0type">
<xsd:sequence>

<xsd:element name="GHB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GHC00000-1-0type">
<xsd:sequence>

<xsd:element name="GHC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の使用許諾に係る収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の使用料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち部分対象外国関係会社が使用を許諾されその事業の用に供する無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－((4)＋(5)＋(6))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)に係る直接費用の額の合計額((9)に該当するものを除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)に係る償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)＋(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)－(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00110" type="GHC00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の譲渡損益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の譲渡に係る対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の譲渡に係る対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)－((14)＋(15))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の譲渡に係る対価の額に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の譲渡に係る対価の額に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)－(((17)－(18)－(19))＋(20))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHC00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引後当期利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受ける剰余金の配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取利子等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の貸付けによる対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"デリバティブ取引に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国為替差損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金融所得に係る損益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産(無形資産等を除く。)の貸付けによる対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受ける無形資産等の使用料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)＋(24)＋(25)＋((26)－(27))＋(28)＋(29)＋(30)＋(31)＋(32)＋((33)－(34))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)－(35)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得控除の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHC00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHC00420" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((37)＋(38)＋(39))*50％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHC00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)－(40)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GHD00000-1-0type">
<xsd:sequence>

<xsd:element name="GHD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済金融子会社等部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00070" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細2　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済金融子会社等部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済金融子会社等部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHD00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済金融子会社等部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHD00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHD00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="GHC00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GHE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GHA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GHA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="GHA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="GHA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="GHA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GHA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GHA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="GHA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="GHA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="GHA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GHA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
