etax/19XMLスキーマ/hojin/HOE565-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の四)　特定課税対象金額等又は特定個別課税対象金額等がある場合の外国法人から受ける配当等の益金不算入額等の計算に関する明細書
version：1.0
Date：2010年08月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE565-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE565-1-0group">
<xsd:sequence>
<xsd:element name="HOE565">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXA00000" type="WXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00000" type="WXB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WXC00000" type="WXC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE565-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WXA00000-1-0type">
<xsd:sequence>

<xsd:element name="WXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXA00020" type="WXA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXA00030" type="WXA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXA00050" type="WXA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WXB00000-1-0type">
<xsd:sequence>

<xsd:element name="WXB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00060" type="WXB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00100" type="WXB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00110" type="WXB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00120" type="WXB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(11)の場合は(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(11)-(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(14)の場合は(14))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(14)-(15)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上　(12)*５％+(15)*５％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00300" type="WXB00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00310" type="WXB00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00320" type="WXB00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(11)の場合は(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(11)-(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(14)の場合は(14))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(14)-(15)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上　(12)*５％+(15)*５％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00470" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00490" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00500" type="WXB00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00510" type="WXB00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00520" type="WXB00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00540" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00550" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00560" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00570" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(11)の場合は(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00580" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(11)-(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00590" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(14)の場合は(14))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(14)-(15)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00640" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上　(12)*５％+(15)*５％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00670" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00690" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00700" type="WXB00700-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00710" type="WXB00710-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00720" type="WXB00720-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00740" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00750" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00760" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00770" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(11)の場合は(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00780" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(11)-(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00790" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接特定課税対象金額又は間接特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00800" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(14)の場合は(14))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00810" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(14)-(15)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00840" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上　(12)*５％+(15)*５％"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00870" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00900" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00910" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00920" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(11)の場合は(11))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00930" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額((９)＞(14)の場合は(14))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00935" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00940" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00960" type="WXB00960-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案直接保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB00980" type="WXB00980-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB00990" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01060" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WXB01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WXB01220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WXB01240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WXB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00300-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00310-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00320-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00510-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00520-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00700-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00710-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00720-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WXB00960-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WXB00980-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WXC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="WXA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WXA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WXA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="WXA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WXA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WXA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WXA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WXA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="WXA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WXA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WXA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="WXB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00710-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00710-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00720-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00720-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WXB00960-1-0type">
<xsd:simpleContent>
<xsd:extension base="WXB00960-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
