etax/19XMLスキーマ/hojin/HOE560-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の二)　特定外国子会社等の課税対象金額に係る控除対象外国法人税額等及び特定外国子会社等から受ける配当等の益金不算入額等の計算に関する明細書
version：1.0
Date：2009年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE560-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE560-1-0group">
<xsd:sequence>
<xsd:element name="HOE560">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOA00000" type="IOA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00000" type="IOB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　特定外国子会社等の課税対象金額に係る控除対象外国法人税額又は個別課税対象金額に係る個別控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00000" type="IOC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　特定課税対象金額又は特定個別課税対象金額がある場合の特定外国子会社等から受ける剰余金の配当等の額の益金不算入額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IOD00000" type="IOD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE560-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IOA00000-1-0type">
<xsd:sequence>

<xsd:element name="IOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOA00020" type="IOA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOA00030" type="IOA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOA00050" type="IOA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOB00000-1-0type">
<xsd:sequence>

<xsd:element name="IOB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00030" type="IOB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00090" type="IOB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(6)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額又は個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*(11)/((8)+(9)+(10))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)と(12)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(13)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)＞＝(14)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)＜(14)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額に係る控除対象外国法人税額又は個別課税対象金額に係る個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOC00000-1-0type">
<xsd:sequence>

<xsd:element name="IOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00030" type="IOC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00040" type="IOC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00050" type="IOC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00290" type="IOC00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00300" type="IOC00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00310" type="IOC00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00480" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00510" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00550" type="IOC00550-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00560" type="IOC00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00570" type="IOC00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00590" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00600" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00610" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00620" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00630" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00670" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00700" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00740" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00770" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00800" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00810" type="IOC00810-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払義務確定日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00820" type="IOC00820-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00830" type="IOC00830-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式等の連結保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00850" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00860" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00870" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00880" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00890" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合又は連結保有割合25％以上かつ６月以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00930" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00960" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＜＝(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01000" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)＞(24)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額に係る外国源泉税等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外　益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税対象金額又は特定個別課税対象金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01120" type="IOC01120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案直接保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01200" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC01350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC01360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC01380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IOB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00310-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00550-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00560-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00570-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00810-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00820-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC00830-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOC01120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IOD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IOA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IOA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IOA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="IOA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IOA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IOA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IOA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IOA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="IOA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IOA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IOA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="IOC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00820-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00820-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC00830-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC00830-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IOC01120-1-0type">
<xsd:simpleContent>
<xsd:extension base="IOC01120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
