etax/19XMLスキーマ/hojin/HOE544-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の九)　特殊関係内国法人及び添付対象外国関係法人の状況等に関する明細書
version：2.0
Date：2021年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE544-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE544-2-0group">
<xsd:sequence>
<xsd:element name="HOE544">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCA00000" type="QCA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCB00000" type="QCB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係内国法人の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCC00000" type="QCC00000-2-0type" minOccurs="0" maxOccurs="19">
<xsd:annotation>
<xsd:appinfo>"特殊関係株主等の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCD00000" type="QCD00000-2-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"添付対象外国関係法人の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QCE00000" type="QCE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE544-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QCA00000-2-0type">
<xsd:sequence>

<xsd:element name="QCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCA00020" type="QCA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCA00030" type="QCA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QCA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCA00050" type="QCA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QCB00000-2-0type">
<xsd:sequence>

<xsd:element name="QCB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QCB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定関係が生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QCC00000-2-0type">
<xsd:sequence>

<xsd:element name="QCC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCC00020" type="QCC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住者・非居住者・内国法人・外国法人の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QCD00000-2-0type">
<xsd:sequence>

<xsd:element name="QCD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCD00030" type="QCD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCD00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QCD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QCD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QCD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="QCC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QCD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QCE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QCA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QCA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QCA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="QCA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QCA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QCA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QCA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QCA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="QCA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QCA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QCA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
