etax/19XMLスキーマ/hojin/HOE541-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の五)　外国関係会社の課税対象金額等に係る控除対象外国法人税額の計算に関する明細書
version：3.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE541-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE541-3-0group">
<xsd:sequence>
<xsd:element name="HOE541">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUA00000" type="OUA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00000" type="OUB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00000" type="OUC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00000" type="OUD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00000" type="OUE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国関係会社又は対象外国関係会社に該当するものとした場合の適用対象金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OUF00000" type="OUF00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE541-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="OUA00000-3-0type">
<xsd:sequence>

<xsd:element name="OUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OUB00000-3-0type">
<xsd:sequence>

<xsd:element name="OUB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUB00030" type="OUB00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUB00090" type="OUB00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度の(6)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国関係会社又は対象外国関係会社に係る控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00180" type="OUB00180-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)/(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OUC00000-3-0type">
<xsd:sequence>

<xsd:element name="OUC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等以外の部分対象外国関係会社に係る控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国関係会社又は対象外国関係会社に該当するものとした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00090" type="OUC00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)&lt;=(18)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00100" type="OUC00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)&gt;(18)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*((21)又は(22))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等に係る控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国関係会社又は対象外国関係会社に該当するものとした場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00200" type="OUC00200-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)&lt;=(27)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00210" type="OUC00210-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)&gt;(27)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUC00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*((30)又は(31))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OUD00000-3-0type">
<xsd:sequence>

<xsd:element name="OUD00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)と(14)のうち少ない金額、(20)と(23)のうち少ない金額又は(29)と(32)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUD00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度の(33)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)&gt;=(34)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)&lt;(34)の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額等に係る控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUD00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OUE00000-3-0type">
<xsd:sequence>

<xsd:element name="OUE00010" type="OUE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の利益若しくは欠損の額又は所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUE00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUE00060" type="OUE00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUE00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUE00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金の額に算入した法人所得税の還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社から受ける配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00130" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OUE00140" type="OUE00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUE00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OUE00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越欠損金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に納付することとなる法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期中に還付を受けることとなる法人所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OUE00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="OUB00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUB00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUB00180-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUC00090-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUC00100-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUC00200-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUC00210-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="OUE00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="OUE00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUE00140-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OUF00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="OUB00180-3-0type">
<xsd:simpleContent>
<xsd:extension base="OUB00180-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OUC00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="OUC00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OUC00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="OUC00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OUC00200-3-0type">
<xsd:simpleContent>
<xsd:extension base="OUC00200-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="OUC00210-3-0type">
<xsd:simpleContent>
<xsd:extension base="OUC00210-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
