etax/19XMLスキーマ/hojin/HOE555-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の二)　特定外国子会社等に係る部分課税対象金額又は個別部分課税対象金額の計算に関する明細書
version：1.0
Date：2010年07月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE555-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE555-1-0group">
<xsd:sequence>
<xsd:element name="HOE555">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDA00000" type="WDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDB00000" type="WDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00000" type="WDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00000" type="WDD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分課税対象金額又は個別部分課税対象金額の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WDE00000" type="WDE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE555-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WDA00000-1-0type">
<xsd:sequence>

<xsd:element name="WDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDA00020" type="WDA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDA00030" type="WDA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDA00050" type="WDA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WDB00000-1-0type">
<xsd:sequence>

<xsd:element name="WDB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WDC00000-1-0type">
<xsd:sequence>

<xsd:element name="WDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定所得に係る収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特許権等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶又は航空機の貸付けによる対価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特許権等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶又は航空機の貸付けによる対価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等又は債券の取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人の株式等の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の譲渡による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特許権等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶又は航空機の貸付けによる対価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簡便法による費用の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払う負債利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得に係る株式等又は債券の帳簿価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*(10)/(9)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDC00420" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定法人から受ける剰余金の配当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDC00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の償還差益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WDD00000-1-0type">
<xsd:sequence>

<xsd:element name="WDD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象金額に係る適用除外の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入基準　部分適用対象金額に係る収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前所得の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)*５％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDD00090" type="WDD00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第66条の６第５項又は第68条の90第５項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WDD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分課税対象金額又は個別部分課税対象金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDD00110" type="WDD00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)*(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象金額又は個別課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分課税対象金額又は個別部分課税対象金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WDD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WDD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="WDD00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WDD00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WDE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="WDA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WDA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WDA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="WDA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WDA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WDA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="WDA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="WDA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="WDA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="WDA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WDA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="WDD00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="WDD00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
