etax/19XMLスキーマ/hojin/HOE537-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の九)付表　外国金融子会社等以外の部分対象外国関係会社に係る特定所得の金額の計算等に関する明細書
version：2.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE537-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE537-2-0group">
<xsd:sequence>
<xsd:element name="HOE537">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00000" type="NIA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00000" type="NIB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00000" type="NIC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00000" type="NID00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部分適用対象損失額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NIE00000" type="NIE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE537-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NIA00000-2-0type">
<xsd:sequence>

<xsd:element name="NIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00020" type="NIA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00030" type="NIA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00050" type="NIA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NIB00000-2-0type">
<xsd:sequence>

<xsd:element name="NIB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等以外の部分対象外国関係会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NIC00000-2-0type">
<xsd:sequence>

<xsd:element name="NIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の貸付けに係る収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産(無形資産等を除く。)の貸付けによる対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち主としてその本店所在地国において使用に供される固定資産(不動産及び不動産の上に存する権利を除く。)の貸付けによる対価の額((6)に該当するものを除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうちその本店所在地国にある不動産及び不動産の上に存する権利の貸付けによる対価の額((6)に該当するものを除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち一定の要件を満たす部分対象外国関係会社が行う固定資産の貸付けによる対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－((4)＋(5)＋(6))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)に係る直接費用の額の合計額((9)に該当するものを除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)に係る償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)＋(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)－(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00110" type="NIC00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の使用許諾に係る収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の使用料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち部分対象外国関係会社が使用を許諾されその事業の用に供する無形資産等の使用料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)－((14)＋(15)＋(16))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)に係る直接費用の額の合計額((19)に該当するものを除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)に係る償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)＋(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)－(20)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00220" type="NIC00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の譲渡損益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産等の譲渡に係る対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の譲渡に係る対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の譲渡に係る対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)－((24)＋(25))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち部分対象外国関係会社が自ら行った研究開発の成果に係る無形資産等の譲渡に係る対価の額に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち部分対象外国関係会社が取得をしその事業の用に供する無形資産等の譲渡に係る対価の額に係る原価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)－(((27)－(28)－(29))＋(30))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異常所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引後当期利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(別表十七(三の九)「10」＋「22」＋「30」＋(「33」－「36」)＋「41」＋「48」＋「51」＋「61」)＋(3)＋(13)＋((23)－(27))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)－(33)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得控除の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00380" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00410" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((35)＋(36)＋(37))*50％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIC00420" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)－(38)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NID00000-2-0type">
<xsd:sequence>

<xsd:element name="NID00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00070" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細2　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済部分適用対象損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NID00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="NIC00110-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="NIC00220-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NIE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NIA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NIA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NIA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="NIA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NIA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NIA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NIA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NIA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="NIA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NIA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NIA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
