etax/19XMLスキーマ/hojin/HOE538-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(三の四)　外国金融子会社等に係る金融子会社等部分適用対象金額及び特定所得の金額等の計算に関する明細書
version：4.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE538-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE538-4-0group">
<xsd:sequence>
<xsd:element name="HOE538">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGA00000" type="GGA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGB00000" type="GGB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00000" type="GGC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分適用対象金額及び金融子会社等部分課税対象金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00000" type="GGD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GGE00000" type="GGE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE538-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GGA00000-4-0type">
<xsd:sequence>

<xsd:element name="GGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GGB00000-4-0type">
<xsd:sequence>

<xsd:element name="GGB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGB00050" type="GGB00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GGC00000-4-0type">
<xsd:sequence>

<xsd:element name="GGC00010" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(40)+(別表十七(三の四)付表｢11｣+｢42｣)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表十七(三の四)付表｢21｣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分適用対象損失額の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)-(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)+(7)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分適用対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00070" type="GGC00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権等勘案合算割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融子会社等部分課税対象金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"()書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GGD00000-4-0type">
<xsd:sequence>

<xsd:element name="GGD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融子会社等に係る異常な水準の資本に係る所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親会社等資本持分相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度終了時における貸借対照表に計上されている総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00040" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度終了時における貸借対照表に計上されている総負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)-(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度終了時における貸借対照表に計上されている利益剰余金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度以前の各事業年度において利益剰余金の額を減少して資本金の額等を増加した場合のその増加した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度終了時における貸借対照表に計上されている特定外国金融機関の株式等及び他の外国金融持株会社等の株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融機関である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国金融持株会社等である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGD00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度終了時における貸借対照表に計上されている総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再保険契約に伴い積み立てないこととした責任準備金に相当するものの額及び支払備金に相当するものの額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)又は((20)+(21))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00140" type="GGD00140-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGD00160" type="GGD00160-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)又は(19)/(22)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店所在地国の法令に基づき下回ることのできない資本の額の２倍に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((18)又は(19))-(24)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親会社等の自己資本利益率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親会社等事業年度の税引後当期利益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親会社等事業年度終了の時における貸借対照表に計上されている総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親会社等事業年度終了の時における貸借対照表に計上されている総負債の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)-(28)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00240" type="GGD00240-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)/(29)と10％のうち高い割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGD00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)*(30)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産の貸付けに係る収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産(無形資産等を除く。)の貸付けによる対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00280" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち主としてその本店所在地国において使用に供される固定資産(不動産及び不動産の上に存する権利を除く。)の貸付けによる対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうちその本店所在地国にある不動産及び不動産の上に存する権利の貸付けによる対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち一定の要件を満たす部分対象外国関係会社が行う固定資産の貸付けによる対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00310" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)-((33)+(34)+(35))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)に係る直接費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)に係る償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00340" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)+(38)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00350" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)-(39)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00360" type="GGD00360-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費計算上の適用法令"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="GGB00050-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GGC00070-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GGD00140-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GGD00160-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GGD00240-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GGD00360-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GGE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GGC00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="GGC00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GGD00160-4-0type">
<xsd:simpleContent>
<xsd:extension base="GGD00160-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GGD00240-4-0type">
<xsd:simpleContent>
<xsd:extension base="GGD00240-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
