etax/19XMLスキーマ/hojin/HOE693-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七の三(三)　外国法人の本店等との間の内部取引の状況等に関する明細書
version：2.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE693-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE693-2-0group">
<xsd:sequence>
<xsd:element name="HOE693">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSA00000" type="OSA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00000" type="OSB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の営業収益等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSC00000" type="OSC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の本店等との間の内部取引の状況等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00000" type="OSD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OSE00000" type="OSE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE693-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="OSA00000-2-0type">
<xsd:sequence>

<xsd:element name="OSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OSB00000-2-0type">
<xsd:sequence>

<xsd:element name="OSB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業収益又は売上高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売費及び一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益剰余金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OSC00000-2-0type">
<xsd:sequence>

<xsd:element name="OSC00010" type="OSC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSC00020" type="OSC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OSD00000-2-0type">
<xsd:sequence>

<xsd:element name="OSD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内部取引の相手方である外国法人の本店等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の本店等との間の内部取引の状況等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産の売買の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00080" type="OSD00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務提供の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00120" type="OSD00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有形固定資産の使用料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00160" type="OSD00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形固定資産の使用料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00200" type="OSD00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金の利息又は借入金の利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00240" type="OSD00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00280" type="OSD00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OSD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OSD00320" type="OSD00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OSD00330" type="OSD00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確認の有無"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="OSC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OSD00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="OSD00330-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="OSE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
