etax/19XMLスキーマ/hojin/HOE640-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の二)付表一　適格組織再編成に係る合併法人等の調整後の課税済留保金額及び控除対象外国法人税額等の計算に関する明細書(平成17年5月31日以後終了分)
version：1.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE640-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE640-1-0group">
<xsd:sequence>
<xsd:element name="HOE640">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRA00000" type="NRA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00000" type="NRB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の課税済留保金額及び控除対象外国法人税額等のうち当該法人のものとみなされる金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00000" type="NRC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の調整後の課税済留保金額及び控除対象外国法人税額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NRD00000" type="NRD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE640-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NRA00000-1-0type">
<xsd:sequence>

<xsd:element name="NRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRA00020" type="NRA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRA00030" type="NRA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRA00050" type="NRA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NRB00000-1-0type">
<xsd:sequence>

<xsd:element name="NRB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00030" type="NRB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRB00050" type="NRB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち当該法人の課税済留保金額又は個別課税済留保金額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00090" type="NRB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち当該法人の控除対象外国法人税額又は個別控除対象外国法人税額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00110" type="NRB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRB00120" type="NRB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割等を行った場合の特定外国子会社等に係る請求権勘案保有株式等の移転割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00130" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00180" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち当該法人の課税済留保金額又は個別課税済留保金額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち当該法人の控除対象外国法人税額又は個別控除対象外国法人税額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRB00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち当該法人の課税済留保金額又は個別課税済留保金額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRB00250" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち当該法人の控除対象外国法人税額又は個別控除対象外国法人税額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NRC00000-1-0type">
<xsd:sequence>

<xsd:element name="NRC00010" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の課税済留保金額又は個別課税済留保金額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除対象外国法人税額又は個別控除対象外国法人税額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当該法人の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当該法人の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NRC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NRC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の課税済留保金額又は個別課税済留保金額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人の控除対象外国法人税額又は個別控除対象外国法人税額とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当該法人の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NRC00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整後の当該法人の控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="NRB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NRB00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="NRB00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="NRB00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NRB00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NRD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NRA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NRA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NRA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="NRA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NRA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NRA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NRA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NRA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="NRA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NRA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NRA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NRB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="NRB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
