etax/19XMLスキーマ/hojin/HOE694-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七の三(三)　外国法人の本店等との間の内部取引の状況等に関する明細書
version：2.0
Date：2021年09月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE694-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE694-2-0group">
<xsd:sequence>
<xsd:element name="HOE694">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVA00000" type="SVA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00000" type="SVB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の営業収益等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SVC00000" type="SVC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の本店等との間の内部取引の状況等　区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="SVD00000" type="SVD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SVE00000" type="SVE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE694-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SVA00000-2-0type">
<xsd:sequence>

<xsd:element name="SVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SVB00000-2-0type">
<xsd:sequence>

<xsd:element name="SVB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業収益又は売上高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00030" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売費及び一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前当期利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益剰余金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SVD00000-2-0type">
<xsd:sequence>

<xsd:element name="SVD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内部取引の相手方である外国法人の本店等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人の本店等との間の内部取引の状況等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産の売買の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00080" type="SVD00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務提供の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00120" type="SVD00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有形固定資産の使用料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00160" type="SVD00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産の譲渡の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00200" type="SVD00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形資産の使用料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00240" type="SVD00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金の利息又は借入金の利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00280" type="SVD00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SVD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SVD00320" type="SVD00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SVD00330" type="SVD00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確認の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SVC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SVD00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SVD00330-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SVE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
