etax/19XMLスキーマ/hojin/HOE630-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七(二の二)　特定外国子会社等の課税対象留保金額に係る控除対象外国法人税額及び課税済留保金額の損金算入額等の計算に関する明細書
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE630-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE630-2-0group">
<xsd:sequence>
<xsd:element name="HOE630">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPA00000" type="NPA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00000" type="NPB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 特定外国子会社等の課税対象留保金額に係る控除対象外国法人税額又は個別課税対象留保金額に係る個別控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00000" type="NPC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 特定外国子会社等に係る課税済留保金額又は個別課税済留保金額の損金算入額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00000" type="NPD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 前10年以内の課税済留保金額及び個別課税済留保金額並びに既に外国税額の控除の対象とした外国法人税額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NPE00000" type="NPE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE630-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NPA00000-2-0type">
<xsd:sequence>

<xsd:element name="NPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPA00020" type="NPA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPA00030" type="NPA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPA00050" type="NPA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NPB00000-2-0type">
<xsd:sequence>

<xsd:element name="NPB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00030" type="NPB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00090" type="NPB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(6)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPB00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象留保金額の計算上控除される配当等の額及び適用対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の特定外国子会社等から受けた控除対象配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額又は個別課税対象留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)*(10)／((8)＋(9))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)又は(11)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国法人税が異動した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増額又は減額前の事業年度又は連結事業年度の(12)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)&gt;=(13)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00210" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)＜(13)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額に係る控除対象外国法人税額又は個別課税対象留保金額に係る個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00240" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額されたとみなされる控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPB00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NPC00000-2-0type">
<xsd:sequence>

<xsd:element name="NPC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPC00032" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度又は適用連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPC00034" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00036" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPC00040" type="NPC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求権勘案保有株式等の保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度又は適用連結事業年度の期間内に支払った配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度又は適用連結事業年度終了の日後に支払った配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度又は適用連結事業年度開始の日前に支払った配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00080" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)のうち基準事業年度に係る適用対象留保金額の計算上控除される配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)が(25)を超える場合のその超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00110" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分対応額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00114" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち基準事業年度に係る課税対象留保金額又は個別課税対象留保金額の計算上控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00118" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち既に損金算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00120" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00130" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし配当等に係る課税済配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済間接配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00150" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前10年以内の課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPC00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NPD00000-2-0type">
<xsd:sequence>

<xsd:element name="NPD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00060" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00070" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00090" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00100" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00110" minOccurs="0" maxOccurs="19">
<xsd:annotation>
<xsd:appinfo>"明細2　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00160" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00170" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00190" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00200" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00220" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00230" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00270" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00300" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00320" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00330" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期発生額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00360" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00370" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00390" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00400" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NPD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NPD00430" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額又は個別課税済留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NPD00440" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象外国法人税額又は個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="NPB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NPB00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NPC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NPE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NPA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NPA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NPA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="NPA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NPA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NPA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NPA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NPA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="NPA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NPA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NPA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="NPC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="NPC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
