etax/19XMLスキーマ/hojin/HOE690-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七の三(一)　保険会社の投資資産不足額に係る投資収益の益金算入に関する明細書
version：2.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE690-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE690-2-0group">
<xsd:sequence>
<xsd:element name="HOE690">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROA00000" type="ROA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00000" type="ROB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ROC00000" type="ROC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE690-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ROA00000-2-0type">
<xsd:sequence>

<xsd:element name="ROA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ROB00000-2-0type">
<xsd:sequence>

<xsd:element name="ROB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の投資資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に帰せられるべき投資資産の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任準備金相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払備金相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る責任準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る支払備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00230" type="ROB00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)＋(10)/(7)＋(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に帰せられるべき投資資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資収益率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産から生じた収益の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券から生じた収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産から生じた収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権から生じた収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の投資資産から生じた収益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産の額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00340" type="ROB00340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資収益率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用除外の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00360" type="ROB00360-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資資産不足額の恒久的施設に帰せられるべき投資資産の額に対する割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)*(20)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産基準"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ROB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第187条第３項第１号に掲げる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第187条第３項第２号に掲げる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令第187条第３項第３号に掲げる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ROB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)＋(25)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00430" type="ROB00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第142条の３第２項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ROB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ROB00230-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ROB00340-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ROB00360-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ROB00430-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ROC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ROB00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="ROB00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ROB00340-2-0type">
<xsd:simpleContent>
<xsd:extension base="ROB00340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ROB00360-2-0type">
<xsd:simpleContent>
<xsd:extension base="ROB00360-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
