etax/19XMLスキーマ/hojin/HOE691-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七の三(二)　恒久的施設に帰せられるべき資本に対応する負債の利子の損金不算入額の計算及び外国銀行等の資本に係る負債の利子の損金算入額の計算に関する明細書
version：6.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE691-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE691-6-0group">
<xsd:sequence>
<xsd:element name="HOE691">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTA00000" type="RTA00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00000" type="RTB00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　恒久的施設に帰せられるべき資本に対応する負債の利子の損金不算入額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00000" type="RTC00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　外国銀行等の資本に係る負債の利子の損金算入額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RTD00000" type="RTD00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE691-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RTA00000-6-0type">
<xsd:sequence>

<xsd:element name="RTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RTB00000-6-0type">
<xsd:sequence>

<xsd:element name="RTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設を通じて行う事業に係る負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)のうち恒久的施設から本店等に対する内部支払利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)のうち本店配賦経費に含まれる負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)のうち外国銀行等の資本に係る負債の利子の損金算入制度の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る自己資本の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に係る自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設に帰せられる有利子負債その他資金の調達に係る負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((６)-(９))と(10)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(５)*(11)/(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等に係る課税の特例との調整"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表十七(二の二)｢23｣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)&gt;=(13)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00190" type="RTB00190-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第66条の５の２第10項の適用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00210" type="RTB00210-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RTC00000-6-0type">
<xsd:sequence>

<xsd:element name="RTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額を規制資本配賦法又はリスク資産規制資本比率比準法を用いて計算した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規制上の自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)に係る負債につき外国銀行等が支払う負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)のうち恒久的施設を通じて行う事業に係る損金の額とした額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額を連結規制資本配賦法を用いて計算した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規制上の連結自己資本の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)に係る負債につき外国銀行等が支払う負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属資本相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)のうち恒久的施設を通じて行う事業に係る損金の額とした額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="RTB00190-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RTB00210-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="RTD00000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
