etax/19XMLスキーマ/hojin/HOE780-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八(三)　各通算法人の通算前所得金額等に関する明細書
version：2.0
Date：2023年04月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE780-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE780-2-0group">
<xsd:sequence>
<xsd:element name="HOE780">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKA00000" type="TKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00000" type="TKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00000" type="TKC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00000" type="TKD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00000" type="TKE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00000" type="TKF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00000" type="TKG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TKH00000" type="TKH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE780-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TKA00000-2-0type">
<xsd:sequence>

<xsd:element name="TKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKB00000-2-0type">
<xsd:sequence>

<xsd:element name="TKB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKB00070" type="TKB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00080" type="TKB00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00090" type="TKB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00100" type="TKB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00110" type="TKB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKC00000-2-0type">
<xsd:sequence>

<xsd:element name="TKC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKC00070" type="TKC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00080" type="TKC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00090" type="TKC00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00100" type="TKC00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00110" type="TKC00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKD00000-2-0type">
<xsd:sequence>

<xsd:element name="TKD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKD00070" type="TKD00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00080" type="TKD00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00090" type="TKD00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00100" type="TKD00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00110" type="TKD00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKE00000-2-0type">
<xsd:sequence>

<xsd:element name="TKE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKE00070" type="TKE00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00080" type="TKE00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00090" type="TKE00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00100" type="TKE00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00110" type="TKE00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKF00000-2-0type">
<xsd:sequence>

<xsd:element name="TKF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TKF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TKF00070" type="TKF00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00080" type="TKF00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00090" type="TKF00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00100" type="TKF00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00110" type="TKF00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TKG00000-2-0type">
<xsd:sequence>

<xsd:element name="TKG00010" type="TKG00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00020" type="TKG00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00030" type="TKG00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型特定新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00040" type="TKG00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00050" type="TKG00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定非新規雇用者基礎数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(一)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(一)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(一)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(一)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象内国法人に該当する場合の通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(別表十(二)付表「1」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(別表十(二)付表「3」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象所得金額(別表十(二)付表「6」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業等欠損金額(別表十(二)付表「8」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額((別表四「39の(1)」+「40の(1)」)が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額((別表四「39の(1)」+「40の(1)」)が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0以上の場合のその0以上の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前欠損金額(((別表四「39の(1)」+「40の(1)」-「27の(1)」)-(別表七(四)「10」-「12」)-別表十(三)「43」-(別表十二(十四)「10」+「43の計」)-(別表十二(十一)「15」、別表十二(十二)「10」又は別表十二(十五)「12」))が0を下回る場合のその下回る額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純支払利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TKG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象純受取利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TKB00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKB00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKB00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKB00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKC00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKC00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKC00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKC00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKC00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKD00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKD00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKD00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKD00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKD00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKE00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKE00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKE00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKE00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKE00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKF00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKF00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKF00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKF00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKF00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKG00010-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKG00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKG00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKG00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKG00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TKH00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="TKB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKB00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKB00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKC00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKC00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKC00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKC00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKC00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKC00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKD00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKD00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKD00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKD00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKD00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKD00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKD00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKD00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKD00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKD00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKE00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKE00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKE00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKE00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKE00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKE00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKE00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKE00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKE00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKE00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKF00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKF00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKF00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKF00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKF00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKF00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKF00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKF00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKF00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKF00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKG00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKG00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKG00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKG00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKG00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKG00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKG00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKG00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TKG00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="TKG00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
