etax/19XMLスキーマ/hojin/HOE730-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八の三(二)　特定目的信託の利益の分配の額及び特定投資信託の収益の分配の額の損金算入に関する明細書
version：4.0
Date：2007年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE730-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE730-4-0group">
<xsd:sequence>
<xsd:element name="HOE730">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYA00000" type="EYA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00000" type="EYB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1特定目的信託の利益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00000" type="EYC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2特定投資信託の収益の分配の額の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EYD00000" type="EYD00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE730-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EYA00000-4-0type">
<xsd:sequence>

<xsd:element name="EYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EYA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYA00050" type="EYA00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定信託の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EYB00000-4-0type">
<xsd:sequence>

<xsd:element name="EYB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EYB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)*90／100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)が(5)を超える場合の(3)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益の分配の額のうち当期の損金の額に算入する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権戻入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EYC00000-4-0type">
<xsd:sequence>

<xsd:element name="EYC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総分配額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EYC00050" type="EYC00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)／(25)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)が90／100を超える場合の(16)の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の額のうち当期の損金の額に算入する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EYC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額総計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金又は災害損失金の控除未済欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本取崩額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元本繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EYC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配可能所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EYA00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EYC00050-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EYD00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EYC00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="EYC00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
