etax/19XMLスキーマ/hojin/HOE760-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八(一)付表一　10年内事業年度に係る各通算法人の欠損金額等に関する明細書
version：2.0
Date：2023年04月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE760-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE760-2-0group">
<xsd:sequence>
<xsd:element name="HOE760">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVA00000" type="IVA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00000" type="IVB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00000" type="IVC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00000" type="IVD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00000" type="IVE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00000" type="IVF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算法人４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00000" type="IVG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IVH00000" type="IVH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE760-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IVA00000-2-0type">
<xsd:sequence>

<xsd:element name="IVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVB00000-2-0type">
<xsd:sequence>

<xsd:element name="IVB00005" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00490" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細８"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細９"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00840" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00850" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細10"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVB00930" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00940" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVB00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVC00000-2-0type">
<xsd:sequence>

<xsd:element name="IVC00005" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細11"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細12"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細13"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細14"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細15"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細16"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細17"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細18"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細19"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細20"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVD00000-2-0type">
<xsd:sequence>

<xsd:element name="IVD00005" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細21"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細22"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細23"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細24"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細25"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00490" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細26"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細27"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細28"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細29"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00840" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00850" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細30"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVD00930" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00940" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVD00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVD00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVE00000-2-0type">
<xsd:sequence>

<xsd:element name="IVE00005" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細31"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細32"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細33"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細34"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細35"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細36"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細37"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細38"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細39"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVE00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細40"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVE00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVF00000-2-0type">
<xsd:sequence>

<xsd:element name="IVF00005" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細41"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細42"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細43"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細44"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細45"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00490" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細46"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細47"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細48"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細49"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00840" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00850" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細50"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10年内事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVF00930" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00940" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVF00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVF00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IVG00000-2-0type">
<xsd:sequence>

<xsd:element name="IVG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細51"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細52"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細53"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細54"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細55"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細56"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細57"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細58"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細59"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IVG00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細60"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IVG00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定欠損金額に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定欠損金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除可能特定欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IVG00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既損金算入額等控除後の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IVH00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
