etax/19XMLスキーマ/hojin/HOE750-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八(一)　各通算法人の所得金額等及び地方法人税額等に関する明細書
version：1.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOE750-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOE750-1-0group">
<xsd:sequence>
<xsd:element name="HOE750">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOA00000" type="IOA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00000" type="IOB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00000" type="IOC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00000" type="IOD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00000" type="IOE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00000" type="IOF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00000" type="IOG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IOH00000" type="IOH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOE750-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IOA00000-1-0type">
<xsd:sequence>

<xsd:element name="IOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOB00000-1-0type">
<xsd:sequence>

<xsd:element name="IOB00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOC00000-1-0type">
<xsd:sequence>

<xsd:element name="IOC00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOD00000-1-0type">
<xsd:sequence>

<xsd:element name="IOD00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOE00000-1-0type">
<xsd:sequence>

<xsd:element name="IOE00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOE00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOF00000-1-0type">
<xsd:sequence>

<xsd:element name="IOF00010" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00133" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOF00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IOG00000-1-0type">
<xsd:sequence>

<xsd:element name="IOG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　各通算法人の所得金額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算外配当等流出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純通算内配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00083" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算前国外所得金額のうち０を超えるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（18）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初損金算入不足額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告における発生災害損失欠損金額のうち通算対象外欠損金額以外の部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の部分に係る繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算前所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整通算前欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用関連法人配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払利子合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IOG00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　各通算法人の地方法人税額等に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IOG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）が０を下回る場合のその下回る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IOG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（32）のうち０を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IOH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
