etax/19XMLスキーマ/hojin/HOI040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：仮払金（前渡金）の内訳書／貸付金及び受取利息の内訳書
version：1.1
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOI040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOI040-1-0group">
<xsd:sequence>
<xsd:element name="HOI040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HDB00000" type="HDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮払金（前渡金）の内訳書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC00000" type="HDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金及び受取利息の内訳書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOI040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HDB00000-1-0type">
<xsd:sequence>

<xsd:element name="HDB01000" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"仮払金（前渡金）　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HDB01100" type="HDB01100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDB01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HDB01210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDB01220" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDB01230" type="HDB01230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人・代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HDB01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDB01400" type="HDB01400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HDC00000-1-0type">
<xsd:sequence>

<xsd:element name="HDC01000" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"貸付金及び受取利息　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HDC01100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01300" type="HDC01300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人・代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中の受取利息額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01600" type="HDC01600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01700" type="HDC01700-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC01800" type="HDC01800-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の内容(物件の種類、数量、所在地等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HDC02000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HDC02100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HDC02200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中の受取利息額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="HDB01100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDB01230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDB01400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDC01300-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDC01600-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDC01700-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HDC01800-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="HDC01600-1-0type">
<xsd:simpleContent>
<xsd:extension base="HDC01600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
