etax/19XMLスキーマ/hojin/HOI141-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：役員報酬手当等及び人件費の内訳書
version：2.0
Date：2007年04月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOI141-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOI141-2-0group">
<xsd:sequence>
<xsd:element name="HOI141">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00000" type="ILA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILB00000" type="ILB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOI141-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ILA00000-2-0type">
<xsd:sequence>

<xsd:element name="ILA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等(代表者)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00020" type="ILA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00040" type="ILA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00060" type="ILA00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤・非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期同額給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益連動給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILA00160" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00170" type="ILA00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名担当業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00190" type="ILA00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00210" type="ILA00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤・非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期同額給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益連動給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILA00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人職務分以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期同額給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益連動給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILA00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ILB00000-2-0type">
<xsd:sequence>

<xsd:element name="ILB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員給料手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員賃金手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ILB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ILB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ILB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ILA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ILA00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ILA00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ILA00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ILA00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ILA00210-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
