etax/19XMLスキーマ/hojin/HOI140-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：役員報酬手当等及び人件費の内訳書
version：1.1
Date：2004年4月21日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOI140-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOI140-1-0group">
<xsd:sequence>
<xsd:element name="HOI140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB00000" type="HNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNC00000" type="HNC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOI140-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HNB00000-1-0type">
<xsd:sequence>

<xsd:element name="HNB10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等（代表者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB11000" type="HNB11000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB12000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB13000" type="HNB13000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB14000" type="HNB14000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB15000" type="HNB15000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤・非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB16000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB17000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB17100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB17200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益金処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB18000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB18100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB18200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB20000" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB21000" type="HNB21000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名担当業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB22000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB23000" type="HNB23000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB24000" type="HNB24000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB25000" type="HNB25000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤・非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB26000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB27000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB27100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB27110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB27120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB27200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益金処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB28000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB28100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB28200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB30000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB31000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB32000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB32100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB32110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB32120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB32200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益金処分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNB33000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNB33100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNB33200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HNC00000-1-0type">
<xsd:sequence>

<xsd:element name="HNC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員報酬手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員給料手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員賃金手当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HNC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HNC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HNC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額のうち代表者及びその家族分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="HNB11000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HNB13000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HNB14000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HNB15000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HNB21000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HNB23000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HNB24000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HNB25000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
