etax/19XMLスキーマ/hojin/HOI120-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：土地の売上高等の内訳書
version：2.0
Date：2005年05月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOI120-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOI120-2-0group">
<xsd:sequence>
<xsd:element name="HOI120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HLB00000" type="HLB00000-2-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"土地の売上高等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOI120-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HLB00000-2-0type">
<xsd:sequence>

<xsd:element name="HLB00100" type="HLB00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00300" type="HLB00300-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00400" type="HLB00400-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00500" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上（仲介）年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上（仲介）先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HLB00610" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00620" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HLB00700" type="HLB00700-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上（仲介）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額（仲介手数料）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HLB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分経理していないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HLB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HLB00900" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上商品の取得年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="HLB00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HLB00300-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HLB00400-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HLB00700-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HLB00400-2-0type">
<xsd:simpleContent>
<xsd:extension base="HLB00400-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HLB00700-2-0type">
<xsd:simpleContent>
<xsd:extension base="HLB00700-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
