etax/19XMLスキーマ/hojin/HOI110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：借入金及び支払利子の内訳書
version：1.1
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOI110-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOI110-1-0group">
<xsd:sequence>
<xsd:element name="HOI110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HKB00000" type="HKB00000-1-0type" minOccurs="0" maxOccurs="14">
<xsd:annotation>
<xsd:appinfo>"借入金及び支払利息　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKC00000" type="HKC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOI110-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HKB00000-1-0type">
<xsd:sequence>

<xsd:element name="HKB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00200" type="HKB00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人・代表者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00300" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中の支払利子額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00600" type="HKB00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00700" type="HKB00700-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKB00800" type="HKB00800-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の内容(物件の種類、数量、所在地等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HKC00000-1-0type">
<xsd:sequence>

<xsd:element name="HKC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HKC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中の支払利子額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="HKB00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HKB00600-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HKB00700-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HKB00800-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="HKB00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="HKB00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
