etax/19XMLスキーマ/hojin/HOK060-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(外国法人)
version：2.0
Date：2015年05月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK060-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK060-2-0group">
<xsd:sequence>
<xsd:element name="HOK060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOA00000" type="WOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOB00000" type="WOB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOC00000" type="WOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOD00000" type="WOD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)本店の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00000" type="WOE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)日本国内に所在する支店の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK060-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="WOA00000-2-0type">
<xsd:sequence>

<xsd:element name="WOA00010" type="WOA00010-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOA00020" type="WOA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WOB00000-2-0type">
<xsd:sequence>

<xsd:element name="WOB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOB00020" type="WOB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部･課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOB00030" type="WOB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOB00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WOC00000-2-0type">
<xsd:sequence>

<xsd:element name="WOC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOC00020" type="WOC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部･課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOC00030" type="WOC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOC00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOC00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WOD00000-2-0type">
<xsd:sequence>

<xsd:element name="WOD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOD00020" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOD00030" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"主要株主又は出資者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOD00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOD00060" type="WOD00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WOE00000-2-0type">
<xsd:sequence>

<xsd:element name="WOE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先　１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00040" type="WOE00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WOE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先　２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00320" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00330" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00340" type="WOE00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WOE00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"事業部の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00060" type="WOE00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業部名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00070" type="WOE00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な業務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任部署の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00090" type="WOE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部･課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WOE00120" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"主要役員の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00140" type="WOE00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名及び担当業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00150" type="WOE00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店における役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00160" type="WOE00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外からの給与有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00170" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00180" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WOE00190" type="WOE00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00200" type="WOE00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員のうち国外からの給与がある者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店からの配賦収益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00220" type="WOE00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00240" type="WOE00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財務諸表上の勘定科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00250" type="WOE00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WOE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店からの配賦費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WOE00270" type="WOE00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00290" type="WOE00290-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財務諸表上の勘定科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WOE00300" type="WOE00300-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配賦計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WOB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOD00060-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WOE00160-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WOE00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00200-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WOE00220-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WOE00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WOE00270-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WOE00290-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WOE00300-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="WOA00010-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="WOA00020-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="RENKETSU_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="WOD00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="WOD00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WOE00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="WOE00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WOE00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="WOE00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
