etax/19XMLスキーマ/hojin/HOK070-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(連結子法人)
version：1.0
Date：2015年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK070-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK070-1-0group">
<xsd:sequence>
<xsd:element name="HOK070">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYA00000" type="FYA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FYB00000" type="FYB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　連結グループ内での位置づけ等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FYC00000" type="FYC00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"（2）　主要役員の出向受入の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00000" type="FYD00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"（3）　他の連結法人からの管理等の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00000" type="FYE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　連結親法人との取引状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00000" type="FYF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　他の連結子法人との取引状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYG00000" type="FYG00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"（6）　連結グループ法人以外の法人との取引状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK070-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FYA00000-1-0type">
<xsd:sequence>

<xsd:element name="FYA00010" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00020" type="gen:RENKETSU_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00030" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00060" type="FYA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00070" type="FYA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYA00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYC00000-1-0type">
<xsd:sequence>

<xsd:element name="FYC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出向元法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYD00000-1-0type">
<xsd:sequence>

<xsd:element name="FYD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理部署等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00030" type="FYD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理部署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FYD00040" type="FYD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被管理部署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00050" type="FYD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な管理内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYE00000-1-0type">
<xsd:sequence>

<xsd:element name="FYE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00030" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYE00040" type="FYE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYF00000-1-0type">
<xsd:sequence>

<xsd:element name="FYF00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00060" type="FYF00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FYF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00120" type="FYF00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FYF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FYF00180" type="FYF00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYG00000-1-0type">
<xsd:sequence>

<xsd:element name="FYG00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYG00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FYA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYD00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYE00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYF00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYF00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FYF00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
