etax/19XMLスキーマ/hojin/HOK020-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(1.総括表)
version：6.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK020-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK020-6-0group">
<xsd:sequence>
<xsd:element name="HOK020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRA00000" type="LRA00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LRB00000" type="LRB00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRC00000" type="LRC00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LRD00005" type="LRD00005-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　上場している場合の市場名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LRE00000" type="LRE00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未上場の場合、株主又は株式所有異動の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LRF00000" type="LRF00000-6-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"(2)　関与税理士　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRG00000" type="LRG00000-6-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"(3)　加入組合等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRH00000" type="LRH00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　売上構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00000" type="LRI00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　子会社等及び支店等数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRJ00000" type="LRJ00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00000" type="LRK00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（8）　主要役員の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LRL00000" type="LRL00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（9）　従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LRN00000" type="LRN00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）　申告書確認表等の活用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK020-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LRA00000-6-0type">
<xsd:sequence>

<xsd:element name="LRA00010" type="LRA00010-6-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRA00020" type="LRA00020-6-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRA00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRA00050" type="LRA00050-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRA00060" type="LRA00060-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRD00005-6-0type">
<xsd:sequence>

<xsd:element name="LRD00010" type="LRD00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市場名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRD00020" type="LRD00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市場名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRF00000-6-0type">
<xsd:sequence>

<xsd:element name="LRF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRF00020" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRG00000-6-0type">
<xsd:sequence>

<xsd:element name="LRG00010" type="LRG00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入組合等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRG00020" type="LRG00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRH00000-6-0type">
<xsd:sequence>

<xsd:element name="LRH00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRH00020" type="LRH00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名、事業部等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRH00040" type="LRH00040-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LRH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRH00070" type="LRH00070-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LRH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRI00000-6-0type">
<xsd:sequence>

<xsd:element name="LRI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"子会社等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRI00020" type="LRI00020-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00030" type="LRI00030-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LRI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRI00050" type="LRI00050-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内　工場"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00060" type="LRI00060-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内　店舗"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00070" type="LRI00070-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内　営業所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00080" type="LRI00080-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00095" type="LRI00095-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外　工場"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRI00100" type="LRI00100-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRJ00000-6-0type">
<xsd:sequence>

<xsd:element name="LRJ00250" type="LRJ00250-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（7）　前期と比較して当期の業績(売上・利益等)に著しい変化がある場合の主な理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRK00000-6-0type">
<xsd:sequence>

<xsd:element name="LRK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表取締役"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRK00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就任年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00040" type="LRK00040-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LRK00050" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LRK00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00070" type="LRK00070-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00080" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就任年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRK00090" type="LRK00090-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LRN00000-6-0type">
<xsd:sequence>

<xsd:element name="LRN00030" type="LRN00030-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書確認表の活用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LRN00040" type="LRN00040-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人における税務上の要注意項目確認表の活用の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LRA00050-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRA00060-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LRB00000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LRC00000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRD00010-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRD00020-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LRE00000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LRG00010-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRG00020-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRH00020-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRH00040-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRH00070-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00020-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00030-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00050-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00060-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00070-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00080-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00095-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRI00100-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRJ00250-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="160"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRK00040-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRK00070-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRK00090-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LRL00000-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LRN00030-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LRN00040-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="LRA00010-6-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="LRA00020-6-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="RENKETSU_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="LRL00000-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRL00000-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRH00040-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRH00040-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRH00070-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRH00070-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00020-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00020-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00030-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00030-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00050-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00050-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00060-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00060-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00070-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00070-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00080-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00080-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00095-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00095-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRI00100-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRI00100-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRK00040-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRK00040-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LRK00090-6-0type">
<xsd:simpleContent>
<xsd:extension base="LRK00090-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
