etax/19XMLスキーマ/hojin/HOK050-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(海外取引等の概要)
version：2.0
Date：2015年05月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK050-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK050-2-0group">
<xsd:sequence>
<xsd:element name="HOK050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUA00000" type="LUA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00000" type="LUB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUC00000" type="LUC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　外国子会社数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00000" type="LUD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（2）　貿易取引等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00000" type="LUE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（3）　貿易外取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUF00000" type="LUF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　外国為替取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00000" type="LUG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　オフバランス取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK050-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LUA00000-2-0type">
<xsd:sequence>

<xsd:element name="LUA00010" type="LUA00010-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUA00020" type="LUA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUB00000-2-0type">
<xsd:sequence>

<xsd:element name="LUB00010" type="LUB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00020" type="LUB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUC00000-2-0type">
<xsd:sequence>

<xsd:element name="LUC00010" type="LUC00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社のうち100％子会社数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUC00030" type="LUC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定外国子会社数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUC00050" type="LUC00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外工事現場を保有している事業所数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUD00000-2-0type">
<xsd:sequence>

<xsd:element name="LUD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00030" type="LUD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00040" type="LUD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00070" type="LUD00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00080" type="LUD00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外工事"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00110" type="LUD00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00120" type="LUD00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00150" type="LUD00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00160" type="LUD00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUE00000-2-0type">
<xsd:sequence>

<xsd:element name="LUE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00040" type="LUE00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00070" type="LUE00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロイヤリティー"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00110" type="LUE00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00140" type="LUE00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務の提供"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00180" type="LUE00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00210" type="LUE00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00250" type="LUE00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00280" type="LUE00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券の売買"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00320" type="LUE00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00350" type="LUE00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の売買"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00390" type="LUE00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00420" type="LUE00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00430" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00440" type="LUE00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00460" type="LUE00460-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先、国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUF00000-2-0type">
<xsd:sequence>

<xsd:element name="LUF00010" type="LUF00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"為替予約"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUF00020" type="LUF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象通貨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUG00000-2-0type">
<xsd:sequence>

<xsd:element name="LUG00010" type="LUG00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"スワップ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00020" type="LUG00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"オプション"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00030" type="LUG00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00040" type="LUG00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LUB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00280-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00390-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00440-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00460-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LUF00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LUF00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LUA00010-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="LUA00020-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="RENKETSU_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="LUC00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LUC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LUC00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
