etax/19XMLスキーマ/hojin/HOK040-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(3.ＩＣＴの概要)
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK040-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK040-5-0group">
<xsd:sequence>
<xsd:element name="HOK040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTA00000" type="LTA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00000" type="LTB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTQ00000" type="LTQ00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（2）　申告書作成ソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTD00000" type="LTD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　システムにおける機器の構成状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00000" type="LTE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（3）　適用業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00000" type="LTF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　システム関連部門(委託会社等)の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTR00000" type="LTR00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　電子メールの状況　メールソフト"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTS00000" type="LTS00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　電子メールの状況　監視ツール等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTH00000" type="LTH00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　電子メールの状況　電子メール取扱規定"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTU00000" type="LTU00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　電子メールの状況　メールサーバーの管理"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTI00000" type="LTI00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　電子メールの状況　電子メールの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00000" type="LTK00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　電子決済の利用業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00000" type="LTN00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ネット販売取扱商品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTP00000" type="LTP00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ＥＤＩ取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTV00000" type="LTV00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ネット販売サイト"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTW00000" type="LTW00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（7）　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK040-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LTA00000-5-0type">
<xsd:sequence>

<xsd:element name="LTA00010" type="LTA00010-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTA00020" type="LTA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTB00000-5-0type">
<xsd:sequence>

<xsd:element name="LTB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00020" type="LTB00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00030" type="LTB00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTD00000-5-0type">
<xsd:sequence>

<xsd:element name="LTD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ホスト(サーバー)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00020" type="LTD00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00030" type="LTD00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00040" type="LTD00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00050" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00060" type="LTD00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ／Ｂサーバー"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00080" type="LTD00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00090" type="LTD00090-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00100" type="LTD00100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00110" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00120" type="LTD00120-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パソコン"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00140" type="LTD00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00150" type="LTD00150-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00160" type="LTD00160-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00170" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00180" type="LTD00180-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専用端末機"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00200" type="LTD00200-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00210" type="LTD00210-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00220" type="LTD00220-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00230" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00240" type="LTD00240-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTE00000-5-0type">
<xsd:sequence>

<xsd:element name="LTE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財務会計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00040" type="LTE00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00050" type="LTE00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00060" type="LTE00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステムの導入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00080" type="LTE00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パッケージソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00090" type="LTE00090-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理会計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00130" type="LTE00130-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00140" type="LTE00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00150" type="LTE00150-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステムの導入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00170" type="LTE00170-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パッケージソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00180" type="LTE00180-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購買管理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00220" type="LTE00220-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00230" type="LTE00230-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00240" type="LTE00240-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステムの導入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00260" type="LTE00260-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パッケージソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00270" type="LTE00270-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売管理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00310" type="LTE00310-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00320" type="LTE00320-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00330" type="LTE00330-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステムの導入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00350" type="LTE00350-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パッケージソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00360" type="LTE00360-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00370" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00380" type="LTE00380-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00410" type="LTE00410-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00420" type="LTE00420-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00430" type="LTE00430-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステムの導入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00450" type="LTE00450-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パッケージソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00460" type="LTE00460-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データの保存期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTF00000-5-0type">
<xsd:sequence>

<xsd:element name="LTF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム開発"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00030" type="LTF00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00040" type="LTF00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00050" type="LTF00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"派遣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00060" type="LTF00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00070" type="LTF00070-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム運用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00100" type="LTF00100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00110" type="LTF00110-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00120" type="LTF00120-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"派遣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00130" type="LTF00130-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00140" type="LTF00140-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム監査"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00170" type="LTF00170-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00180" type="LTF00180-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00190" type="LTF00190-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"派遣"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00200" type="LTF00200-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00210" type="LTF00210-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTU00000-5-0type">
<xsd:sequence>

<xsd:element name="LTU00010" type="LTU00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTU00020" type="LTU00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTU00030" type="LTU00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウド"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTI00000-5-0type">
<xsd:sequence>

<xsd:element name="LTI00010" type="LTI00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送信文書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTI00020" type="LTI00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受信文書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTK00000-5-0type">
<xsd:sequence>

<xsd:element name="LTK00030" type="LTK00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00040" type="LTK00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00050" type="LTK00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"材料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00060" type="LTK00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00070" type="LTK00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00020" type="LTK00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTN00000-5-0type">
<xsd:sequence>

<xsd:element name="LTN00030" type="LTN00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"デジタルコンテンツ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00040" type="LTN00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00050" type="LTN00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物品等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00020" type="LTN00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要商品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTW00000-5-0type">
<xsd:sequence>

<xsd:element name="LTW00010" type="LTW00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービスの運営・利用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービスの利用有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTW00030" type="LTW00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メール"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00040" type="LTW00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データ管理"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00050" type="LTW00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00060" type="LTW00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTW00070" type="LTW00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービス名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00080" type="LTW00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウド運営事業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00090" type="LTW00090-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＷＥＢ会議システムの業務への導入有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00100" type="LTW00100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＷＥＢ会議システムの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LTB00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTB00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTQ00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00080-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00090-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00100-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00120-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00150-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00160-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00180-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00200-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00210-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00220-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00240-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00050-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00080-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00090-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00130-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00150-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00170-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00180-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00220-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00230-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00240-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00260-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00270-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00310-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00320-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00330-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00350-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00360-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00380-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00410-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00420-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00430-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00450-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00460-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00050-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00070-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00100-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00110-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00120-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00130-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00140-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00170-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00180-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTF00190-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00200-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00210-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTR00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTS00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTH00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTU00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTU00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTU00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTI00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTI00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTK00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00050-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00060-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00070-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTK00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTN00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTN00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTN00050-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTN00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTP00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTV00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTW00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00050-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00060-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTW00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTW00080-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTW00090-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTW00100-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LTA00010-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="LTA00020-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="RENKETSU_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="LTD00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00090-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00090-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00150-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00150-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00210-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00210-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00070-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00070-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00140-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00140-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00210-5-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00210-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
