etax/19XMLスキーマ/hojin/HOK050-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(海外取引等の概要)
version：5.0
Date：2020年04月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK050-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK050-5-0group">
<xsd:sequence>
<xsd:element name="HOK050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUA00000" type="LUA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00000" type="LUB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUC00000" type="LUC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　外国子会社数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00000" type="LUD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（2）　貿易取引等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00000" type="LUE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（3）　貿易外取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUF00000" type="LUF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　外国為替取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00000" type="LUG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　オフバランス取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK050-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LUA00000-5-0type">
<xsd:sequence>

<xsd:element name="LUA00010" type="LUA00010-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUA00020" type="LUA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUB00000-5-0type">
<xsd:sequence>

<xsd:element name="LUB00010" type="LUB00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00020" type="LUB00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUC00000-5-0type">
<xsd:sequence>

<xsd:element name="LUC00010" type="LUC00010-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社のうち100％子会社数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUC00030" type="LUC00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUC00060" type="LUC00060-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ローカルファイルを作成又は取得する国外関連者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUC00050" type="LUC00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外工事現場を保有している事業所数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUD00000-5-0type">
<xsd:sequence>

<xsd:element name="LUD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00030" type="LUD00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00040" type="LUD00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00045" type="LUD00045-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00070" type="LUD00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00080" type="LUD00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00085" type="LUD00085-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"海外工事"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00110" type="LUD00110-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00120" type="LUD00120-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00125" type="LUD00125-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00150" type="LUD00150-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取扱品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00160" type="LUD00160-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUD00165" type="LUD00165-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUE00000-5-0type">
<xsd:sequence>

<xsd:element name="LUE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00040" type="LUE00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00045" type="LUE00045-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00070" type="LUE00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00075" type="LUE00075-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無形固定資産の使用料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00110" type="LUE00110-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00115" type="LUE00115-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00140" type="LUE00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00145" type="LUE00145-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務提供の対価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00180" type="LUE00180-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00185" type="LUE00185-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00210" type="LUE00210-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00215" type="LUE00215-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金の利息又は貸付金の利息"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00250" type="LUE00250-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00255" type="LUE00255-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00280" type="LUE00280-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00285" type="LUE00285-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券の売買"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00320" type="LUE00320-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00325" type="LUE00325-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00350" type="LUE00350-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00355" type="LUE00355-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産の売買"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00390" type="LUE00390-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00395" type="LUE00395-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00420" type="LUE00420-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00425" type="LUE00425-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LUE00430" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LUE00440" type="LUE00440-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00460" type="LUE00460-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUE00465" type="LUE00465-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUF00000-5-0type">
<xsd:sequence>

<xsd:element name="LUF00020" type="LUF00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"為替予約　個別予約対象通貨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUF00030" type="LUF00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"為替予約　包括予約対象通貨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LUG00000-5-0type">
<xsd:sequence>

<xsd:element name="LUG00010" type="LUG00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"スワップ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00020" type="LUG00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"オプション"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00030" type="LUG00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LUG00040" type="LUG00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LUB00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUB00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00010-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00060-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUC00050-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00045-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00080-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00085-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00110-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00120-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00125-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00150-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00160-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUD00165-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00045-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00075-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00110-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00115-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00145-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00180-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00185-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00210-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00215-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00250-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00255-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00280-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00285-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00320-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00325-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00350-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00355-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00390-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00395-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00420-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00425-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00440-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00460-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUE00465-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUF00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUF00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LUG00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LUA00010-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="LUA00020-5-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="RENKETSU_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="LUC00010-5-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00010-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LUC00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LUC00060-5-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00060-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LUC00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="LUC00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
