etax/19XMLスキーマ/hojin/HOK040-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：会社事業概況書(3.ＩＣＴの概要)
version：8.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOK040-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOK040-8-0group">
<xsd:sequence>
<xsd:element name="HOK040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTA00000" type="LTA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00000" type="LTB00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"応答者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTQ00000" type="LTQ00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（2）　申告書作成ソフト名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTD00000" type="LTD00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）　システムにおける機器の構成状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00000" type="LTE00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（3）　適用業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00000" type="LTF00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（5）　システム関連部門(委託会社等)の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTR00000" type="LTR00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　電子メールの状況　メールソフト"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTS00000" type="LTS00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　電子メールの状況　監視ツール等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTH00000" type="LTH00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　電子メールの状況　電子メール取扱規定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTY00000" type="LTY00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）　電子メールの状況　メールサーバーの管理"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTK00000" type="LTK00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　電子決済の利用業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00000" type="LTN00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ネット販売取扱商品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LTP00000" type="LTP00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ＥＤＩ取引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTV00000" type="LTV00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）　電子商取引の状況　ネット販売サイト"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LTX00000" type="LTX00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（7）　電子帳簿保存の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00000" type="LTZ00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（8）　年末調整関係書類の電子化の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00000" type="LTW00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（9）　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOK040-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LTA00000-8-0type">
<xsd:sequence>

<xsd:element name="LTA00010" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTB00000-8-0type">
<xsd:sequence>

<xsd:element name="LTB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00020" type="LTB00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部・課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00030" type="LTB00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTD00000-8-0type">
<xsd:sequence>

<xsd:element name="LTD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ホスト(サーバー)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00020" type="LTD00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00030" type="LTD00030-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00040" type="LTD00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00050" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00060" type="LTD00060-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ／Ｂサーバー"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00080" type="LTD00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00090" type="LTD00090-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00100" type="LTD00100-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00110" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00120" type="LTD00120-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"パソコン"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00140" type="LTD00140-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00150" type="LTD00150-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00160" type="LTD00160-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00170" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00180" type="LTD00180-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専用端末機"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTD00200" type="LTD00200-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー・機器名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00210" type="LTD00210-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00220" type="LTD00220-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＯＳ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00230" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTD00240" type="LTD00240-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTE00000-8-0type">
<xsd:sequence>

<xsd:element name="LTE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財務会計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00040" type="LTE00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00050" type="LTE00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理会計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00130" type="LTE00130-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00140" type="LTE00140-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購買管理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00220" type="LTE00220-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00230" type="LTE00230-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売管理"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00310" type="LTE00310-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00320" type="LTE00320-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システムの導入(コンピュータ利用)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用プログラム等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTE00500" type="LTE00500-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTE00510" type="LTE00510-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTE00520" type="LTE00520-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＥＲＰシステム"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTF00000-8-0type">
<xsd:sequence>

<xsd:element name="LTF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム開発"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00220" type="LTF00220-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00060" type="LTF00060-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00070" type="LTF00070-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム運用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00230" type="LTF00230-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00130" type="LTF00130-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00140" type="LTF00140-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム監査"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTF00240" type="LTF00240-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00200" type="LTF00200-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部門又は委託会社等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTF00210" type="LTF00210-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTK00000-8-0type">
<xsd:sequence>

<xsd:element name="LTK00090" type="LTK00090-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00100" type="LTK00100-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00110" type="LTK00110-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"材料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00120" type="LTK00120-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00130" type="LTK00130-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTK00020" type="LTK00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTN00000-8-0type">
<xsd:sequence>

<xsd:element name="LTN00070" type="LTN00070-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"デジタルコンテンツ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00080" type="LTN00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00090" type="LTN00090-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物品等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTN00020" type="LTN00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要商品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTX00000-8-0type">
<xsd:sequence>

<xsd:element name="LTX00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00020" type="LTX00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録で保存している帳簿等の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00040" type="LTX00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕訳帳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00050" type="LTX00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総勘定元帳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00060" type="LTX00060-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00070" type="LTX00070-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00080" type="LTX00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助簿　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00090" type="LTX00090-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助簿　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTX00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成に使用するプログラム"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00110" type="LTX00110-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00120" type="LTX00120-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己開発"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTX00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00140" type="LTX00140-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録で保存している帳簿等の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00160" type="LTX00160-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引書類　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00170" type="LTX00170-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引書類　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00180" type="LTX00180-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算書類　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00190" type="LTX00190-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算書類　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTX00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成に使用するプログラム"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00210" type="LTX00210-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00220" type="LTX00220-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己開発"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTX00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"スキャナ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00240" type="LTX00240-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録で保存している帳簿等の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00270" type="LTX00270-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引書類　かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTX00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成に使用するプログラム"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTX00310" type="LTX00310-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"システム名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTX00320" type="LTX00320-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己開発"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTZ00000-8-0type">
<xsd:sequence>

<xsd:element name="LTZ00010" type="LTZ00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整関係申告書の取扱"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00020" type="LTZ00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整関係申告書の電磁的方法での受付の可否"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00030" type="LTZ00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険料等の支払を証する書類の電磁的方法での受付の可否"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00040" type="LTZ00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員による保険料等の支払を証する書類のマイナポータル連携での取得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00050" type="LTZ00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整手続でのシステム利用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整手続で利用するシステム"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTZ00070" type="LTZ00070-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税庁が提供する年末調整控除申告書作成用ソフトウェア"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00080" type="LTZ00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自社製ソフトウェア"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販のソフトウェア"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTZ00100" type="LTZ00100-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTZ00110" type="LTZ00110-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LTW00000-8-0type">
<xsd:sequence>

<xsd:element name="LTW00010" type="LTW00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービスの運営・利用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービスの利用有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LTW00040" type="LTW00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データ管理"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00050" type="LTW00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00060" type="LTW00060-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LTW00070" type="LTW00070-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウドサービス名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00080" type="LTW00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"クラウド運営事業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00090" type="LTW00090-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＷＥＢ会議システムの業務への導入有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LTW00100" type="LTW00100-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＷＥＢ会議システムの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LTB00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTB00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTQ00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00030-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00040-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00060-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00080-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00090-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00100-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00120-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00140-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00150-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00160-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00180-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00200-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00210-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00220-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTD00240-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00050-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00130-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00140-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00220-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00230-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00310-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00320-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTE00500-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTE00510-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTE00520-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00220-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00060-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00070-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00230-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00130-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00140-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTF00240-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTF00200-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTF00210-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTR00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTS00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTH00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTY00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00090-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00100-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00110-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00120-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTK00130-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTK00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTN00070-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTN00080-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTN00090-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTN00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTP00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTV00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00020-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00050-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00060-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTX00070-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00080-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTX00090-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTX00110-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00120-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00140-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00160-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTX00170-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00180-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTX00190-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTX00210-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00220-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTX00240-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTX00270-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTX00310-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTX00320-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00020-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00030-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00050-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00070-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00080-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTZ00100-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTZ00110-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTW00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00050-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LTW00060-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTW00070-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LTW00080-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LTW00090-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LTW00100-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LTD00030-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00030-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00090-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00090-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00150-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00150-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTD00210-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTD00210-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00070-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00070-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00140-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00140-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LTF00210-8-0type">
<xsd:simpleContent>
<xsd:extension base="LTF00210-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
