etax/19XMLスキーマ/hojin/HOL065-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：様式15　特定事業継続力強化設備等の特別償却の償却限度額の計算に関する付表(付表十五)
version：1.0
Date：2019年10月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOL065-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOL065-1-0group">
<xsd:sequence>
<xsd:element name="HOL065">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIA00000" type="VIA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00000" type="VIB00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00000" type="VIC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者又は中小連結法人の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VID00000" type="VID00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOL065-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VIA00000-1-0type">
<xsd:sequence>

<xsd:element name="VIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIA00020" type="VIA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIA00030" type="VIA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIA00050" type="VIA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VIB00000-1-0type">
<xsd:sequence>

<xsd:element name="VIB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業継続力強化設備等の種類等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIB00020" type="VIB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（機械・装置の耐用年数表の番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00030" type="VIB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業継続力強化設備等の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIB00040" type="VIB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業継続力強化設備等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00055" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00060" type="VIB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00090" type="VIB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却・準備金方式の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用要件等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業等経営強化法の事業継続力強化計画又は連携事業継続力強化計画の認定を受けた日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業等経営強化法の事業継続力強化計画又は連携事業継続力強化計画の認定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIB00130" type="VIB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（計画の区分）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIB00140" type="VIB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した特定事業継続力強化設備等の仕様、性能、型式等判定上参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VIC00000-1-0type">
<xsd:sequence>

<xsd:element name="VIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式又は出資の総数又は総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIC00040" type="VIC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常時使用する従業員の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人の株式数等の保有割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１順位の株式数又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00070" type="VIC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合（14）／（12）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人の保有する株式数等の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00090" type="VIC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合（16）／（12）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人の保有する株式数等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順位１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIC00120" type="VIC00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIC00140" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VIC00150" type="VIC00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"順位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00160" type="VIC00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大規模法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VIC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VIC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VIB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VIB00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="VIB00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VIC00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VID00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VIA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VIA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VIA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="VIA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VIA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VIA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VIA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VIA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="VIA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VIA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VIA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="VIC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="VIC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VIC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="VIC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VIC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="VIC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VIC00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="VIC00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
