etax/19XMLスキーマ/hojin/HOL070-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：様式8　特定中核的民間施設等の特別償却の償却限度額の計算に関する付表(付表八)
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOL070-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOL070-1-0group">
<xsd:sequence>
<xsd:element name="HOL070">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGA00000" type="JGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00000" type="JGB00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00000" type="JGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合の判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOL070-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JGA00000-1-0type">
<xsd:sequence>

<xsd:element name="JGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGB00000-1-0type">
<xsd:sequence>

<xsd:element name="JGB00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00008" type="JGB00008-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当条文"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"43条の3第（＿）項（＿）号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00020" type="JGB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00040" type="JGB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"68条の18第（＿）項（＿）号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00053" type="JGB00053-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00056" type="JGB00056-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧43条の3第（＿）項（＿）号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00063" type="JGB00063-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00066" type="JGB00066-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧68条の18第（＿）項（＿）号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00073" type="JGB00073-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00076" type="JGB00076-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）号"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中核的民間施設等の種類等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00100" type="JGB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（機械・装置の耐用年数表の番号）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00110" type="JGB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中核的民間施設等の種類等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00120" type="JGB00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中核的民間施設等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得等年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00150" type="JGB00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購入先"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00170" type="JGB00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00190" type="JGB00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却・準備金方式の区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用要件等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中核的民間施設"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基本構想等の同意（承認）年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中核的民間施設等の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00240" type="JGB00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00250" type="JGB00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中核的民間施設等の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中核的民間施設等の取得等に必要な資金の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物及びその附属設備"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00280" type="JGB00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物の所有床面積"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00290" type="JGB00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中核的民間施設等に含まれる部分の建物の所有床面積"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00300" type="JGB00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床面積割合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保全事業等資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGB00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保全事業等の計画又は事業計画の認定年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00330" type="JGB00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保全事業等資産の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一の建物及びその附属設備の取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGB00350" type="JGB00350-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考となる事項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JGC00000-1-0type">
<xsd:sequence>

<xsd:element name="JGC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式の総数又は出資金額若しくは拠出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方公共団体の保有株式数又は出資金額若しくは拠出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00030" type="JGC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方公共団体の保有する株式数等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGC00045" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JGC00050" type="JGC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方公共団体名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JGC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有株式数又は出資金額若しくは拠出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JGC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="JGB00008-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JGB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00053-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00056-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00063-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00066-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00073-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00076-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JGB00190-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JGB00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00290-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00330-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGB00350-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGC00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JGC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="JGB00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="JGB00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGB00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="JGB00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGB00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="JGB00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGB00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="JGB00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JGC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="JGC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
