etax/19XMLスキーマ/hojin/HOL047-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：様式6　国内の設備投資額が増加した場合の機械等の特別償却の償却限度額の計算に関する付表(付表六)
version：1.0
Date：2013年09月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOL047-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOL047-1-0group">
<xsd:sequence>
<xsd:element name="HOL047">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUA00000" type="XUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00000" type="XUB00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00000" type="XUC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用要件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="XUD00000" type="XUD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOL047-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="XUA00000-1-0type">
<xsd:sequence>

<xsd:element name="XUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUA00020" type="XUA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUA00030" type="XUA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XUA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUA00050" type="XUA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XUB00000-1-0type">
<xsd:sequence>

<xsd:element name="XUB00010" type="XUB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の種類等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUB00030" type="XUB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(耐用年数表の番号)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00040" type="XUB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の種類等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XUB00050" type="XUB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00060" type="XUB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置した工場、事業所等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00070" type="XUB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得等年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00100" type="XUB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購入先"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却限度額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUB00130" type="XUB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却・準備金方式の区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XUC00000-1-0type">
<xsd:sequence>

<xsd:element name="XUC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度において取得等をした生産等資産のうち当該適用対象年度終了の日において有するものの取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費として損金経理をした金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書に計上された減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の処分により特別償却準備金として積み立てた金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の当期償却額のうち当期に取得等をした生産等資産を構成する機械等に係る普通償却限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち特別償却に関する他の規定の適用により損金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費として損金経理をした金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XUC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度において取得等をした生産等資産のうち当該前事業年度又は前連結事業年度終了の日において有するものの取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度の月数／前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XUC00110" type="XUC00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00120" type="XUC00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XUC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XUC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較取得資産総額の110％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XUC00150" type="XUC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="XUB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="XUB00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="XUC00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUC00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XUD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="XUA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="XUA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="XUA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="XUA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="XUA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="XUA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="XUA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="XUA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="XUA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="XUA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="XUA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="XUC00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="XUC00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="XUC00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="XUC00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
