etax/19XMLスキーマ/hojin/HOM080-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：組織再編成に係る主要な事項の明細書
version：3.0
Date：2017年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM080-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM080-3-0group">
<xsd:sequence>
<xsd:element name="HOM080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJA00000" type="LJA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00000" type="LJB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00000" type="LJC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJD00000" type="LJD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る関連法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00000" type="LJE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式保有関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJF00000" type="LJF00000-3-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"主要な事業の種類　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJG00000" type="LJG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJH00000" type="LJH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業規模"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJI00000" type="LJI00000-3-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"役員の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00000" type="LJJ00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の継続保有が見込まれる支配株主等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJK00000" type="LJK00000-3-0type" minOccurs="0" maxOccurs="14">
<xsd:annotation>
<xsd:appinfo>"移転した(又は移転を受けた)資産又は負債の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM080-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LJA00000-3-0type">
<xsd:sequence>

<xsd:element name="LJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJB00000-3-0type">
<xsd:sequence>

<xsd:element name="LJB00010" type="LJB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00020" type="LJB00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00030" type="LJB00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資・現物分配区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00060" type="LJB00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資・現物分配"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJC00000-3-0type">
<xsd:sequence>

<xsd:element name="LJC00010" type="LJC00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00020" type="LJC00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00030" type="LJC00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJD00000-3-0type">
<xsd:sequence>

<xsd:element name="LJD00010" type="LJD00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJE00000-3-0type">
<xsd:sequence>

<xsd:element name="LJE00010" type="LJE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00020" type="LJE00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直接保有の株式の保有割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJE00040" type="LJE00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00050" type="LJE00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接保有の株式の保有割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJE00070" type="LJE00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00080" type="LJE00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJF00000-3-0type">
<xsd:sequence>

<xsd:element name="LJF00010" type="LJF00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要な事業の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJF00020" type="LJF00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業関連性"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJG00000-3-0type">
<xsd:sequence>

<xsd:element name="LJG00010" type="LJG00010-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人の合併直前の従業者の数
分割直前の分割事業に係る従業者の数
現物出資直前の現物出資事業に係る従業者の数
完全子法人の株式分配直前の従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJG00020" type="LJG00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併法人・分割承継法人・被現物出資法人・完全子法人の業務に従事する従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJH00000-3-0type">
<xsd:sequence>

<xsd:element name="LJH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指標"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJH00020" type="LJH00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJH00030" type="LJH00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJH00040" type="LJH00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の指標による規模の比較"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJI00000-3-0type">
<xsd:sequence>

<xsd:element name="LJI00010" type="LJI00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJI00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJI00030" type="LJI00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割・現物出資・株式分配前の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJJ00000-3-0type">
<xsd:sequence>

<xsd:element name="LJJ00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00030" type="LJJ00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJJ00040" type="LJJ00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数(合計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00050" type="LJJ00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数(株)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00060" type="LJJ00060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数(割合)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJK00000-3-0type">
<xsd:sequence>

<xsd:element name="LJK00010" type="LJK00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="LJB00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJB00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJB00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJB00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJC00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJC00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJC00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJD00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00040-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00050-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00070-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00080-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJF00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJF00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJG00010-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJG00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJH00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJH00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJH00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJI00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJI00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00060-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJK00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LJE00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJG00010-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJG00010-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJG00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJG00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00060-3-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00060-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
