etax/19XMLスキーマ/hojin/HOM060-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：権利金等及び受取地代の明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM060-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM060-1-0group">
<xsd:sequence>
<xsd:element name="HOM060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LFB00000" type="LFB00000-1-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"権利金等及び受取地代の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM060-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LFB00000-1-0type">
<xsd:sequence>

<xsd:element name="LFB00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00020" type="LFB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00030" type="LFB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借地人等における用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借地人等の住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借地人等の氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00060" type="LFB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地所有者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LFB00080" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00090" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中の受取地代の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00130" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近の地代改訂年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LFB00140" type="LFB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="LFB00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LFB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LFB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LFB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LFB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="LFB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
