etax/19XMLスキーマ/hojin/HOM080-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：組織再編成に係る主要な事項の明細書
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM080-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM080-5-0group">
<xsd:sequence>
<xsd:element name="HOM080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJA00000" type="LJA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00000" type="LJB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出対象法人の区分、組織再編成の態様及び組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJL00000" type="LJL00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手方の区分、名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJM00000" type="LJM00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転した(又は交付した)資産又は負債の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJN00000" type="LJN00000-5-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"移転を受けた資産又は負債の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00000" type="LJC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00000" type="LJE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式保有関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJG00000" type="LJG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJO00000" type="LJO00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前の主要事業等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LJP00000" type="LJP00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LJH00000" type="LJH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業規模"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJQ00000" type="LJQ00000-5-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特定役員等の役職名及び氏名　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00000" type="LJJ00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配株主の株式の保有状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM080-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LJA00000-5-0type">
<xsd:sequence>

<xsd:element name="LJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJB00000-5-0type">
<xsd:sequence>

<xsd:element name="LJB00017" type="LJB00017-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00034" type="LJB00034-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJL00000-5-0type">
<xsd:sequence>

<xsd:element name="LJL00010" type="LJL00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJL00020" type="LJL00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJL00030" type="LJL00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJM00000-5-0type">
<xsd:sequence>

<xsd:element name="LJM00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJM00020" type="LJM00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJM00040" type="LJM00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式交付にあっては左の算定根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJN00000-5-0type">
<xsd:sequence>

<xsd:element name="LJN00010" type="LJN00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJC00000-5-0type">
<xsd:sequence>

<xsd:element name="LJC00010" type="LJC00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00020" type="LJC00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJC00030" type="LJC00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJE00000-5-0type">
<xsd:sequence>

<xsd:element name="LJE00010" type="LJE00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00020" type="LJE00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の保有割合　直接保有"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJE00040" type="LJE00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00050" type="LJE00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の保有割合　間接保有"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJE00070" type="LJE00070-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJE00080" type="LJE00080-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJG00000-5-0type">
<xsd:sequence>

<xsd:element name="LJG00030" type="LJG00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJG00040" type="LJG00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJO00000-5-0type">
<xsd:sequence>

<xsd:element name="LJO00010" type="LJO00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要事業等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJO00020" type="LJO00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJO00030" type="LJO00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJH00000-5-0type">
<xsd:sequence>

<xsd:element name="LJH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指標"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJH00020" type="LJH00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJH00030" type="LJH00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJH00040" type="LJH00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の指標による規模の比較"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJQ00000-5-0type">
<xsd:sequence>

<xsd:element name="LJQ00010" type="LJQ00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJQ00020" type="LJQ00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJQ00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LJJ00000-5-0type">
<xsd:sequence>

<xsd:element name="LJJ00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LJJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00030" type="LJJ00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00035" type="LJJ00035-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株継続保有見込の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LJJ00040" type="LJJ00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧株数(合計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LJJ00050" type="LJJ00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="LJB00017-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LJB00034-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LJL00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJL00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJL00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJM00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJM00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJN00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJC00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJC00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJC00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00040-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00050-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00070-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJE00080-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJG00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJG00040-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJO00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJO00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LJO00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJP00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJH00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJH00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJH00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJQ00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJQ00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LJJ00035-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LJJ00040-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LJJ00050-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LJE00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00070-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00070-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJE00080-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJE00080-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJG00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJG00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJG00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJG00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LJJ00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="LJJ00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
