etax/19XMLスキーマ/hojin/HOM005-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特殊支配同族会社の役員給与の損金不算入額の特例計算に関する明細書
version：1.0
Date：2007年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM005-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM005-1-0group">
<xsd:sequence>
<xsd:element name="HOM005">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQA00000" type="LQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00000" type="LQB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　合算対象給与額を支給する法人(他の特殊支配同族会社)に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQC00000" type="LQC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="LQD00000" type="LQD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOM005-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LQA00000-1-0type">
<xsd:sequence>

<xsd:element name="LQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQA00020" type="LQA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQA00030" type="LQA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQA00050" type="LQA00050-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LQB00000-1-0type">
<xsd:sequence>

<xsd:element name="LQB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算対象給与額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等、議決権数又は社員数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00070" type="LQB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊支配同族会社の期末現在の発行済株式の総数又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00080" type="LQB00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の株式数又は出資の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00090" type="LQB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00110" type="LQB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊支配同族会社の期末現在の議決権の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00120" type="LQB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の議決権の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00130" type="LQB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00150" type="LQB00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊支配同族会社の期末現在の社員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00160" type="LQB00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び業務主宰役員関連者等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00170" type="LQB00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の数による判定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00180" type="LQB00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数等、議決権数又は社員数による判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員数による判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00200" type="LQB00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊支配同族会社の期末現在の常務に従事する役員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00210" type="LQB00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、業務主宰役員及び常務に従事する業務主宰役員関連者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00220" type="LQB00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員数による判定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員及び業務主宰役員関連者等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00250" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00260" type="LQB00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00270" type="LQB00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00280" type="LQB00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員グループに属する者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00300" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員関連者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00310" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00320" type="LQB00320-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00330" type="LQB00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00340" type="LQB00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00350" type="LQB00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00360" type="LQB00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務従事役員の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00370" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"同上以外の者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00380" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00390" type="LQB00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00400" type="LQB00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00410" type="LQB00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00420" type="LQB00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00440" type="LQB00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00450" type="LQB00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00460" type="LQB00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常務に従事する役員に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00480" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00490" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00500" type="LQB00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00510" type="LQB00510-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00520" type="LQB00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00530" type="LQB00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00550" type="LQB00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00560" type="LQB00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00570" type="LQB00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株主等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00590" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00600" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00610" type="LQB00610-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務主宰役員との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00620" type="LQB00620-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00630" type="LQB00630-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00650" type="LQB00650-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00660" type="LQB00660-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LQB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQB00680" type="LQB00680-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00690" type="LQB00690-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"議決権数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQB00700" type="LQB00700-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LQC00000-1-0type">
<xsd:sequence>

<xsd:element name="LQC00010" type="LQC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合算対象給与額の支給金額を証する書類の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LQC00030" type="LQC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（）書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LQC00040" type="LQC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LQB00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00220-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00270-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00320-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00330-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00340-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00350-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LQB00360-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LQB00390-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00410-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00420-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00440-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00450-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00510-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00520-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00530-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00550-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00560-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00610-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00620-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00630-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00650-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00660-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00680-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00690-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LQB00700-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LQC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LQC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LQC00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="LQD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="LQA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LQA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LQA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="LQA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LQA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LQA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LQA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="LQA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="LQA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="LQA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LQA00050-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="LQB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00620-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00620-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00630-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00630-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00650-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00650-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00660-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00660-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00680-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00680-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00690-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00690-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LQB00700-1-0type">
<xsd:simpleContent>
<xsd:extension base="LQB00700-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
