etax/19XMLスキーマ/hojin/HOM095-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：災害により生じた損失の額に関する明細書
version：2.0
Date：2018年08月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM095-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM095-2-0group">
<xsd:sequence>
<xsd:element name="HOM095">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KKA00000" type="KKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00000" type="KKB00000-2-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKC00000" type="KKC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失特別勘定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKD00000" type="KKD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM095-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KKA00000-2-0type">
<xsd:sequence>

<xsd:element name="KKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KKA00020" type="KKA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKA00030" type="KKA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KKA00050" type="KKA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KKB00000-2-0type">
<xsd:sequence>

<xsd:element name="KKB00010" type="KKB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害前の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害資産の原状回復のための費用等に係る損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害の拡大又は発生の防止のための費用に係る損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KKB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金又は損害賠償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KKC00000-2-0type">
<xsd:sequence>

<xsd:element name="KKC00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害資産の原状回復のための費用等に係る損失の額　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害資産の原状回復のための費用等に係る損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKC00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KKD00000-2-0type">
<xsd:sequence>

<xsd:element name="KKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KKD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害資産の原状回復のための費用等に係る損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害の拡大又は発生の防止のための費用に係る損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KKD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KKD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金又は損害賠償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KKB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="KKA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="KKA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="KKA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="KKA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="KKA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="KKA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="KKA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="KKA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="KKA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="KKA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="KKA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
