etax/19XMLスキーマ/hojin/HOM120-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：災害損失特別勘定の損金算入に関する明細書
version：2.0
Date：2021年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM120-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM120-2-0group">
<xsd:sequence>
<xsd:element name="HOM120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIA00000" type="MIA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00000" type="MIB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00000" type="MIC00000-2-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"被災資産の修繕等のために要する費用の見積額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM120-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MIA00000-2-0type">
<xsd:sequence>

<xsd:element name="MIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIA00020" type="MIA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIA00030" type="MIA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MIA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIA00050" type="MIA00050-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MIB00000-2-0type">
<xsd:sequence>

<xsd:element name="MIB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のあった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用の見積額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MIB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末災害損失特別勘定残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MIC00000-2-0type">
<xsd:sequence>

<xsd:element name="MIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIC00020" type="MIC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称及び種類又は共通費用の費目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00040" type="MIC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造、設備の種類及び細目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MIC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価値の減少額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の帳簿価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価値の減少額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MIC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費用等の見積額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MIC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期以後の修繕費用等の見積額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再取得価額等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引見積額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MIC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費用の見積額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MIC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期以後の保険金等の額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MIC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MIC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="MIA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="MIA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="MIA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="MIA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="MIA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_FROM"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MIA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="MIA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="MIA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="MIA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="MIA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="JIGYO_NENDO_TO"/>
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MIA00050-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

</xsd:schema>
