etax/19XMLスキーマ/hojin/HOM140-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：分割等があった場合の比較試験研究費の額の調整計算の特例に係る明細書
version：2.0
Date：2025年08月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOM140-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOM140-2-0group">
<xsd:sequence>
<xsd:element name="HOM140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVA00000" type="VVA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00000" type="VVB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOM140-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VVA00000-2-0type">
<xsd:sequence>

<xsd:element name="VVA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVA00020" type="gen:JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVA00030" type="gen:JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VVB00000-2-0type">
<xsd:sequence>

<xsd:element name="VVB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付対象法人の区分及び分割、現物出資又は現物分配の態様"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00020" type="VVB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00030" type="VVB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00040" type="VVB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物分配区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00050" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割法人、現物出資法人又は現物分配法人の事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割法人、現物出資法人又は現物分配法人の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割法人、現物出資法人又は現物分配法人の移転試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00130" type="VVB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割、現物出資又は現物分配の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割又は現物出資の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00170" type="VVB00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00180" type="VVB00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転事業に係る試験研究の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00190" type="VVB00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転事業と移転事業に係る試験研究とが関連する理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割承継法人又は被現物出資法人が移転事業に係る試験研究を行うためにその分割又は現物出資により移転する資産及び従業者の明細及び数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VVB00210" type="VVB00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転する資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00220" type="VVB00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転する従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00230" type="VVB00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割法人又は現物出資法人の各事業年度の試験研究費の額を移転事業に係る試験研究費の額とその移転事業以外の事業に係る試験研究費の額とに区分した合理的な方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VVB00240" type="VVB00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物分配の場合　その現物分配に係る移転試験研究用資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VVB00250" type="VVB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その他参考となるべき事項）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="VVB00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="VVB00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="VVB00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="VVB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00220-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VVB00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="VVB00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="VVB00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
