etax/19XMLスキーマ/hojin/HOO110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一　各課税事業年度の復興特別法人税に関する申告書
version：1.0
Date：2012年07月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOO110-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOO110-1-0group">
<xsd:sequence>
<xsd:element name="HOO110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLA00000" type="YLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00000" type="YLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YLC00000" type="YLC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOO110-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YLA00000-1-0type">
<xsd:sequence>

<xsd:element name="YLA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者自署押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者自署押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLA00110" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00120" type="gen:KEIRI_SEKININSHAref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理責任者自署押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地及び旧法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLA00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLA00160" type="YLA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00170" type="YLA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLA00190" type="YLA00190-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00200" type="YLA00200-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLA00210" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残余財産の最後の分配又は引渡しの日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00230" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLA00240" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YLB00000-1-0type">
<xsd:sequence>

<xsd:element name="YLB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引この申告により納付すべき復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告による還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取り消された場合等における既に控除された法人税額の特別控除額の加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00210" type="YLB00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00230" type="YLB00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00240" type="YLB00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YLB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YLB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別所得税の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YLB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった復興特別所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="YLA00160-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="YLA00170-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="YLB00210-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="YLB00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YLB00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YLC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="YLA00190-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_FROM"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="YLA00200-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="YLB00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="YLB00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YLB00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="YLB00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
