etax/19XMLスキーマ/hojin/HOO310-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三　外国税額の控除に関する明細書
version：1.0
Date：2012年07月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOO310-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOO310-1-0group">
<xsd:sequence>
<xsd:element name="HOO310">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOA00000" type="YOA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00000" type="YOB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00000" type="YOC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人の外国税額の控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="YOD00000" type="YOD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOO310-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="YOA00000-1-0type">
<xsd:sequence>

<xsd:element name="YOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOA00020" type="YOA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOA00030" type="YOA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOA00040" type="YOA00040-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YOB00000-1-0type">
<xsd:sequence>

<xsd:element name="YOB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOB00090" type="YOB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00100" type="YOB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="YOC00000-1-0type">
<xsd:sequence>

<xsd:element name="YOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOC00060" type="YOC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00070" type="YOC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="YOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="YOC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="YOC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="YOB00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YOB00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YOC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YOC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="YOD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="YOA00020-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_FROM"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="YOA00030-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NENDO_TO"/>
                <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="YOA00040-1-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="OYA_HOJIN_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="YOB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="YOB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YOB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="YOB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YOC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="YOC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="YOC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="YOC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
