etax/19XMLスキーマ/hojin/HOR125-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表一の二(二)(次葉)　各連結事業年度の連結所得に係る申告書-協同組合等の分(次葉)
version：2.0
Date：2015年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR125-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR125-2-0group">
<xsd:sequence>
<xsd:element name="HOR125">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKA00000" type="ZKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00000" type="ZKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKC00000" type="ZKC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00000" type="ZKD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告が修正申告である場合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZKE00000" type="ZKE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR125-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ZKA00000-2-0type">
<xsd:sequence>

<xsd:element name="ZKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKA00020" type="gen:RENKETSU_JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKA00030" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZKB00000-2-0type">
<xsd:sequence>

<xsd:element name="ZKB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例税率の適用がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち年800万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00030" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち(35)を超え年10億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00060" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち年10億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00090" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の金額又は800万円*＿/12相当額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKB00140" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち年800万円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の16％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(37)の22％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(42)＋(43)＋(44)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(39)の16％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(40)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額(46)＋(47)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZKC00000-2-0type">
<xsd:sequence>

<xsd:element name="ZKC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(49)の4.4％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZKD00000-2-0type">
<xsd:sequence>

<xsd:element name="ZKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額又は連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき法人税額又は減少する還付請求税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す連結欠損金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZKD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZKD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻しによる還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZKD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZKE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
