etax/19XMLスキーマ/hojin/HOR211-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：各連結事業年度の連結法人税の個別帰属額の届出書-連結親法人が普通法人(特定の医療法人を除く。)である連結法人の分
version：2.0
Date：2015年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR211-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR211-2-0group">
<xsd:sequence>
<xsd:element name="HOR211">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00000" type="ZOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00000" type="ZOB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOC00000" type="ZOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出連結法人税個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOD00000" type="ZOD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡税額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOE00000" type="ZOE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZOE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金・利益の配当(剰余金の分配)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結地方法人税個別帰属額　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結地方法人税個別帰属額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結復興特別法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOH00000" type="ZOH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR211-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ZOA00000-2-0type">
<xsd:sequence>

<xsd:element name="ZOA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00030" type="gen:RENKETSU_HOJIN_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00040" type="gen:RENKETSU_HOJIN_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)連結法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00060" type="gen:RENKETSU_HOJIN_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00070" type="gen:RENKETSU_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者自署押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00090" type="gen:RENKETSU_DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00100" type="gen:RENKETSU_DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者自署押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="RENKETSU_DAIHYO_ADR"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人名及び納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00130" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00140" type="gen:OYA_HOJIN_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="RENKETSU_JIGYO_NAIYO"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00160" type="gen:RENKETSU_SHIHON_KINref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の資本金の額又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00170" type="ZOA00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同非区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理責任者自署押印"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="RENKETSU_KEIRI_SEKININSHA"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧所在地及び旧法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00230" type="ZOA00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00240" type="ZOA00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00250" type="ZOA00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株主（社員）資本等変動計算書又は損益金処分表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00260" type="ZOA00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定科目内訳明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00270" type="ZOA00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業概況書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00280" type="ZOA00280-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る契約書等の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00290" type="ZOA00290-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る移転資産等の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00310" type="ZOA00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOA00330" type="gen:RENKETSU_JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00340" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOA00350" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00360" type="ZOA00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出書の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算確定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOA00380" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZOB00000-2-0type">
<xsd:sequence>

<xsd:element name="ZOB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)連結欠損金個別帰属発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税額の特別控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取り消された場合等における既に控除された連結法人税額の特別控除額の加算額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡利益金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税個別土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準個別留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税個別帰属額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻しによる還付金の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この届出が修正申告等によるものである場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この届出前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税個別土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準個別留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この届出の基因となった申告等により増加又は減少する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の当期減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この届出が修正申告等によるものである場合のこの届出前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の当期減少額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZOC00000-2-0type">
<xsd:sequence>

<xsd:element name="ZOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が中小法人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の法人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得に対する法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出連結法人税個別帰属額((25)*(27)/(24))又は((25)の15％相当額)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOC00080" type="ZOC00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出連結法人税個別帰属額((26)の25.5％又は23.9％相当額)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZOC00105" type="ZOC00105-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZOD00000-2-0type">
<xsd:sequence>

<xsd:element name="ZOD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地譲渡税額(別表三(二)「27」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上(別表三(二の二)「28」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別土地譲渡税額(別表三(三)「23」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZOE00000-2-0type">
<xsd:sequence>

<xsd:element name="ZOE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税の額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZOE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="ZOA00170-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00230-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00240-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00250-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00260-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00270-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00280-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00290-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00310-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOA00360-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOC00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZOC00105-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ZOH00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
