etax/19XMLスキーマ/hojin/HOR320-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三の二　連結特定同族会社の連結留保金額に対する税額の計算に関する明細書
version：4.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR320-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR320-4-0group">
<xsd:sequence>
<xsd:element name="HOR320">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHA00000" type="RHA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHK00000" type="RHK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00000" type="RHH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保金額に対する税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RHI00000" type="RHI00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR320-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RHA00000-4-0type">
<xsd:sequence>

<xsd:element name="RHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHA00020" type="RHA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHA00030" type="RHA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RHK00000-4-0type">
<xsd:sequence>

<xsd:element name="RHB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期連結留保金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHB00003" type="RHB00003-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00006" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保所得金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保所得金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00012" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間配当等の当期支払額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00014" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間配当等の当期受取額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00018" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末配当等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の住民税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期連結留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の期末資本金の額又は出資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の25％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期中増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併等により増加した連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格分割型分割等により減少した連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立金基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHC00110" type="RHC00110-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2,000万円*＿/12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割前事業年度等の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の還付金等(過誤納及び中間納付額に係る還付金を除く。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の連結所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用等の場合等の連結所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肉用牛の売却に係る連結所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税済留保金額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税対象留保金額の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税連結留保金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RHH00000-4-0type">
<xsd:sequence>

<xsd:element name="RHH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税連結留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHH00030" type="RHH00030-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額を超え年1億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHH00060" type="RHH00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年1億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RHH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RHH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RHB00003-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RHC00110-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RHH00030-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RHH00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RHI00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RHA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RHA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RHA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="RHA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RHA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RHA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RHA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RHA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="RHA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RHA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RHC00110-4-0type">
<xsd:simpleContent>
<xsd:extension base="RHC00110-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RHH00030-4-0type">
<xsd:simpleContent>
<xsd:extension base="RHH00030-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RHH00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="RHH00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
