etax/19XMLスキーマ/hojin/HOR328-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表三の二付表二　連結特定同族会社の連結留保金額に対する税額の個別帰属額の計算に関する明細書
version：4.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR328-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR328-4-0group">
<xsd:sequence>
<xsd:element name="HOR328">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXA00000" type="EXA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00000" type="EXB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EXC00000" type="EXC00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR328-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EXA00000-4-0type">
<xsd:sequence>

<xsd:element name="EXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXA00020" type="EXA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXA00030" type="EXA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EXB00000-4-0type">
<xsd:sequence>

<xsd:element name="EXB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別留保所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00030" type="EXB00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間配当等の当期支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間配当等の当期受取額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保税額の個別帰属額がないものとした場合に法人税及び地方法人税の減少額として帰せられる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保税額の個別帰属額がないものとした場合に法人税及び地方法人税の負担額として帰せられる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00113" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00115" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る個別控除対象所得税額等相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00117" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税及び地方法人税の負担額等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別表一の二「5」＋「7」及び「10の外書」のうち帰せられる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額に係る連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が中小連結親法人以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が中小連結親法人の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00165" type="EXB00165-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額((24)又は((26)又は(27))のいずれか多い金額)*(16.3％又は10.4％)　区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00168" type="EXB00168-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額((24)又は((26)又は(27))のいずれか多い金額)*(16.3％又は10.4％)　区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額((24)又は((26)又は(27))のいずれか多い金額)*(16.3％又は10.4％)　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金を支出した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定寄附金の額の合計額に係る控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((26)又は(27))＋(別表一の二「12」のうち帰せられる金額)＋(別表六の二(二)付表「18」)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00205" type="EXB00205-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整個別帰属地方税額に係る控除額　区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00208" type="EXB00208-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整個別帰属地方税額に係る控除額　区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整個別帰属地方税額に係る控除額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税額(28)－(32)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期留保金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00615" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保控除個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準個別留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結個別留保税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00670" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年3,000万円相当額を超え年1億円相当額以下の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00700" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年1億円相当額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)の15％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)の20％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EXB00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保税額の個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EXB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結個別留保税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の連結個別留保税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EXB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保税額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EXB00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EXB00165-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EXB00168-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EXB00205-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EXB00208-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EXC00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EXA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EXA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EXA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="EXA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EXA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EXA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EXA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="EXA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="EXA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="EXA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
