etax/19XMLスキーマ/hojin/HOR422-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表四の二付表　個別所得の金額の計算に関する明細書
version：6.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR422-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR422-6-0group">
<xsd:sequence>
<xsd:element name="HOR422">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOR422-1" type="HOR422-1-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOR422-2" type="HOR422-2-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOR422-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOR422-1-6-0type">
<xsd:sequence>

<xsd:element name="XZA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却の償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00080" type="XZC00080-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00120" type="XZC00120-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00130" type="XZC00130-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00210" type="XZC00210-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却超過額の当期認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の最終の事業年度の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国子会社から受ける剰余金の配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈益の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格現物分配に係る益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00170" type="XZD00170-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00210" type="XZD00210-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00220" type="XZD00220-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(13)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした法人税及び地方法人税（附帯税を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした連結法人税個別帰属額及び連結地方法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした附帯税（利子税を除く。）の負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした道府県民税及び市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金経理をした附帯税（利子税を除く。）、加算金、延滞金（延納分を除く。）及び過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益として経理した連結法人税個別帰属額及び連結地方法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益として経理した附帯税（利子税を除く。）の受取額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金から支出した事業税等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税等の中間納付額及び過誤納に係る還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等及び連結欠損金の繰戻しによる還付金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(27)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(30)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZK00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連者等に係る支払利子等の損金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額の損金算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(33)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZN00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZN00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZN00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZN00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZO00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の損金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZO00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZO00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZP00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の連結所得の特別控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZP00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZP00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国家戦略特別区域における指定法人の連結所得の特別控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZQ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZS00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額から控除される所得税額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZT00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除の対象となる個別外国法人税の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZT00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZT00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結組合等損失額の損金不算入額又は連結組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZU00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZV00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(41)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZV00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZV00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZV00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZW00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZW00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZW00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZX00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対外船舶運航事業者の日本船舶による収入金額に係る連結所得の金額の損金算入額又は益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZX00010" type="XZX00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZX00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZX00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZY00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(45)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZY00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZY00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZY00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZY00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZY00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZZ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の益金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZZ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZZ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZZ10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結中間申告における繰戻しによる還付に係る災害損失欠損金額の益金算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZZ10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZZ10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZA10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は残余財産の全部分配等による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZA10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZA10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZB10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(47)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZB10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZB10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZB10030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZB10040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZB10050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZC10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金等の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZC10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZC10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZD10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業経営基盤強化準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZD10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZD10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZE10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農用地等を取得した場合の圧縮額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZE10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZE10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZF10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関西国際空港用地整備準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZF10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZF10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZG10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中部国際空港整備準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZG10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZG10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZH10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再投資等準備金積立額の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZH10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZH10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZI10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残余財産の確定の日の属する連結事業年度に係る事業税の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZI10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZI10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZJ10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額又は個別欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZJ10010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZJ10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZJ10030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZJ10040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZJ10050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZK10000" type="XZK10000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOR422-2-6-0type">
<xsd:sequence>

<xsd:element name="XZL10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZL10010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZL10020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZL10030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZL10040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZL10050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZL10060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10010" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"加算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10020" type="XZM10020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10030" type="XZM10030-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10070" type="XZM10070-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10080" type="XZM10080-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10160" type="XZM10160-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10200" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"減算　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10210" type="XZM10210-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10220" type="XZM10220-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10260" type="XZM10260-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10270" type="XZM10270-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出　金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XZM10310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XZM10350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XZM10360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="XZC00080-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZC00120-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZC00130-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZC00210-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZD00170-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZD00210-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZD00220-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="XZX00010-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="XZK10000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10020-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10030-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10070-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10080-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10160-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10210-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10220-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10260-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="XZM10270-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
