etax/19XMLスキーマ/hojin/HOR420-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表四の二　連結所得の金額の計算に関する明細書
version：4.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR420-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR420-4-0group">
<xsd:sequence>
<xsd:element name="HOR420">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJA00000" type="RJA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJB00000" type="RJB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期利益又は当期欠損の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00000" type="RJC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00000" type="RJD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJE00000" type="RJE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(1)＋(6)－(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00000" type="RJF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00000" type="RJG00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJH00000" type="RJH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(13)＋(21)－(27)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJI00000" type="RJI00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJJ00000" type="RJJ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間取引の損益の減算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJK00000" type="RJK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間取引の損益の加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJL00000" type="RJL00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJM00000" type="RJM00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計((28)から(32)までの計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJN00000" type="RJN00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJO00000" type="RJO00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の認定法人の連結所得の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJP00000" type="RJP00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額から控除される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJQ00000" type="RJQ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除の対象となる外国法人税の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJY00000" type="RJY00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結組合等損失額の損金不算入額又は連結組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJR00000" type="RJR00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計((33)から(38)までの計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJS00000" type="RJS00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新鉱床探鉱費又は海外新鉱床探鉱費の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJT00000" type="RJT00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計(39)＋(40)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJU00000" type="RJU00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約者配当の益金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJV00000" type="RJV00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併又は非適格分割型分割による移転資産等の譲渡利益額又は譲渡損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJW00000" type="RJW00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計((41)から(43)までの計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJX00000" type="RJX00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金等の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJZ00000" type="RJZ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額又は連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RJA00050" type="RJA00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR420-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RJA00000-4-0type">
<xsd:sequence>

<xsd:element name="RJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJB00000-4-0type">
<xsd:sequence>

<xsd:element name="RJB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJC00000-4-0type">
<xsd:sequence>

<xsd:element name="RJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却の償却超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJC00032" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員給与の損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00034" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00036" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJC00040" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"加算追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00050" type="RJC00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00090" type="RJC00090-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00100" type="RJC00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00180" type="RJC00180-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJD00000-4-0type">
<xsd:sequence>

<xsd:element name="RJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却超過額の当期認容額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割前事業年度等の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJD00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"減算追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00080" type="RJD00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出区分名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00120" type="RJD00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00130" type="RJD00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJE00000-4-0type">
<xsd:sequence>

<xsd:element name="RJE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJF00000-4-0type">
<xsd:sequence>

<xsd:element name="RJF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した法人税（附帯税を除く。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した附帯税（利子税を除く。）の負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した道府県民税（利子割額を除く。）及び市町村民税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した道府県民税利子割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金の額に算入した附帯税（利子税を除く。）、加算金、延滞金（延納分を除く。）及び過怠税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJG00000-4-0type">
<xsd:sequence>

<xsd:element name="RJG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金の額に算入した連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金の額に算入した附帯税（利子税を除く。）の受取額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金から支出した事業税等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税等の中間納付額及び過誤納に係る還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJG00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額等及び連結欠損金の繰戻しによる還付金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RJG00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJH00000-4-0type">
<xsd:sequence>

<xsd:element name="RJH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJI00000-4-0type">
<xsd:sequence>

<xsd:element name="RJI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJJ00000-4-0type">
<xsd:sequence>

<xsd:element name="RJJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJK00000-4-0type">
<xsd:sequence>

<xsd:element name="RJK00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJL00000-4-0type">
<xsd:sequence>

<xsd:element name="RJL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJM00000-4-0type">
<xsd:sequence>

<xsd:element name="RJM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJM00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJM00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJN00000-4-0type">
<xsd:sequence>

<xsd:element name="RJN00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJO00000-4-0type">
<xsd:sequence>

<xsd:element name="RJO00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJO00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJP00000-4-0type">
<xsd:sequence>

<xsd:element name="RJP00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJP00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJQ00000-4-0type">
<xsd:sequence>

<xsd:element name="RJQ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJY00000-4-0type">
<xsd:sequence>

<xsd:element name="RJY00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJY00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJR00000-4-0type">
<xsd:sequence>

<xsd:element name="RJR00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJR00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJR00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJR00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJR00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJS00000-4-0type">
<xsd:sequence>

<xsd:element name="RJS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJT00000-4-0type">
<xsd:sequence>

<xsd:element name="RJT00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJT00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJT00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJT00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJT00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJU00000-4-0type">
<xsd:sequence>

<xsd:element name="RJU00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJV00000-4-0type">
<xsd:sequence>

<xsd:element name="RJV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJW00000-4-0type">
<xsd:sequence>

<xsd:element name="RJW00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJW00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJW00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJW00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJW00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJX00000-4-0type">
<xsd:sequence>

<xsd:element name="RJX00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJX00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RJZ00000-4-0type">
<xsd:sequence>

<xsd:element name="RJZ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJZ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJZ00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社外流出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RJZ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RJZ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RJC00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJC00090-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJC00100-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJC00180-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJD00080-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJD00120-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJD00130-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RJA00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
