etax/19XMLスキーマ/hojin/HOR510-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表五の二(一)　連結利益積立金額の計算に関する明細書
version：5.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR510-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR510-5-0group">
<xsd:sequence>
<xsd:element name="HOR510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBA00000" type="VBA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00000" type="VBB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VBC00000" type="VBC00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR510-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VBA00000-5-0type">
<xsd:sequence>

<xsd:element name="VBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VBB00000-5-0type">
<xsd:sequence>

<xsd:element name="VBB00010" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"各連結法人の連結個別利益積立金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00020" type="VBB00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納法人税等(退職年金等積立金に対するものを除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納連結法人税、未納連結地方法人税及び未納連結復興特別法人税(附帯税を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納法人税、未納地方法人税及び未納復興特別法人税(附帯税を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納道府県民税(均等割額及び利子割額を含む。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納市町村民税(均等割額を含む。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VBB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VBB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VBB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VBB00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VBC00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
