etax/19XMLスキーマ/hojin/HOR517-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表五の二(一)付表一　連結個別利益積立金額及び連結個別資本金等の額の計算に関する明細書
version：1.0
Date：2014年01月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR517-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR517-1-0group">
<xsd:sequence>
<xsd:element name="HOR517">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOR517-1" type="HOR517-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOR517-2" type="HOR517-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOR517-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOR517-1-1-0type">
<xsd:sequence>

<xsd:element name="ZAA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1連結個別利益積立金額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利益準備金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＸＸ積立金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00080" type="ZAB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00140" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00150" type="ZAB00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減　外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越損益金(損は赤)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00260" type="ZAB00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00290" type="ZAB00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税充当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払連結法人税個別帰属額等(退職年金等積立金に対するものを除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払連結法人税個別帰属額及び未払連結復興特別法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納法人税及び未納復興特別法人税(附帯税を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納道府県民税(均等割額及び利子割額を含む。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納市町村民税(均等割額を含む。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2連結個別資本金等の額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金又は出資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本準備金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00130" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00140" type="ZAC00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAD00000" type="ZAD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOR517-2-1-0type">
<xsd:sequence>

<xsd:element name="ZAE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAE00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAE00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAF00000" minOccurs="0" maxOccurs="39">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAF00010" type="ZAF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAF00020" type="ZAF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZAG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZAG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZAG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引翌期首現在連結個別利益積立金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="ZAB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAB00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAB00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAB00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAC00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZAF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
