etax/19XMLスキーマ/hojin/HOR645-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(四)付表一　各連結法人の当期控除額の個別帰属額等に関する明細書(平成18年4月1日以後開始分)
version：1.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR645-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR645-1-0group">
<xsd:sequence>
<xsd:element name="HOR645">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPA00000" type="VPA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00000" type="VPB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1各連結法人の当期控除額の個別帰属額に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPC00000" type="VPC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2比較試験研究費の額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPD00000" type="VPD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3前期超過要件に係る試験研究費の額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VPE00000" type="VPE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR645-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VPA00000-1-0type">
<xsd:sequence>

<xsd:element name="VPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPA00020" type="VPA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPA00030" type="VPA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VPB00000-1-0type">
<xsd:sequence>

<xsd:element name="VPB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の試験研究費の総額に係る税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の個別増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の試験研究費の個別増加額に係る税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の中小連結法人税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前累積控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)－(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の最初の超過連結事業年度の中小連結法人税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度の中小連結法人税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)*(14)/(15)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度開始の日前の各連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の各連結事業年度の中小連結法人税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結事業年度の中小連結法人税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)*(18)/(19)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の繰越中小連結法人税額控除限度超過個別帰属額に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除未済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における中小連結法人税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)のうち各連結法人の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VPC00000-1-0type">
<xsd:sequence>

<xsd:element name="VPC00010" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該連結事業年度の月数/(26)の連結事業年度の月数又は事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPC00070" type="VPC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該連結事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPC00080" type="VPC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)の連結事業年度の月数又は事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VPD00000-1-0type">
<xsd:sequence>

<xsd:element name="VPD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該連結事業年度の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)のうち特別償却実施額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VPD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開発研究用設備の償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VPD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VPD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VPC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VPC00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VPE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VPA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VPA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VPA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="VPA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VPA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VPA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VPA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VPA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="VPA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VPA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VPC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="VPC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VPC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="VPC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
