etax/19XMLスキーマ/hojin/HOR617-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(三)付表　各連結法人の当期控除額の個別帰属額に関する明細書
version：2.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR617-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR617-2-0group">
<xsd:sequence>
<xsd:element name="HOR617">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FRA00000" type="FRA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00000" type="FRB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る当期控除額又は中小連結法人の試験研究費に係る当期控除額の個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00000" type="FRD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る当期控除額の個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRE00000" type="FRE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FRC00000" type="FRC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR617-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FRA00000-2-0type">
<xsd:sequence>

<xsd:element name="FRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FRA00020" type="FRA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRA00030" type="FRA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FRA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FRA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FRB00000-2-0type">
<xsd:sequence>

<xsd:element name="FRB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00040" type="FRB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費対象割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における特別試験研究費対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における差引試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の差引試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る当期控除額又は中小連結法人の試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FRD00000-2-0type">
<xsd:sequence>

<xsd:element name="FRD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の特別試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の税額控除割合が30％である試験研究に係る特別試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち税額控除割合が30％である試験研究に係る当期税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除割合が30％である試験研究に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の試験研究に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FRE00000-2-0type">
<xsd:sequence>

<xsd:element name="FRE00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FRE00020" type="FRE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第68条の９第３項各号の該当号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRE00030" type="FRE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FRE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FRE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち(17)が第１号である特別試験研究に係る特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FRB00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FRE00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FRE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FRC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FRA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FRA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="FRA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="FRA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="FRA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FRA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FRA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="FRA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="FRA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="FRA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FRB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FRB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
