etax/19XMLスキーマ/hojin/HOR610-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(一)　連結事業年度における所得税額の控除に関する明細書
version：4.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR610-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR610-4-0group">
<xsd:sequence>
<xsd:element name="HOR610">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQA00000" type="RQA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00000" type="RQB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00000" type="RQC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公社債の利子等、剰余金の配当、利益の配当及び剰余金の分配又は集団投資信託(合同運用信託を除く。)の収益の分配に係る控除を受ける所得税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00000" type="RQD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他に係る控除を受ける所得税額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQE00000" type="RQE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RQF00000" type="RQF00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR610-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RQA00000-4-0type">
<xsd:sequence>

<xsd:element name="RQA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQA00020" type="RQA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQA00030" type="RQA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RQB00000-4-0type">
<xsd:sequence>

<xsd:element name="RQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金の利子及び合同運用信託の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公社債の利子等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当、利益の配当及び剰余金の分配(みなし配当等を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託(合同運用信託を除く。)の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RQC00000-4-0type">
<xsd:sequence>

<xsd:element name="RQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQC00020" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQC00030" type="RQC00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00060" type="RQC00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等の計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00070" type="RQC00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち元本所有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00080" type="RQC00080-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQC00110" type="RQC00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)－(16)/2又は12　(負数の場合は零とする。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00120" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQC00130" type="RQC00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の所得税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00160" type="RQC00160-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の利子配当等の計算期末の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00170" type="RQC00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の利子配当等の計算期首の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00180" type="RQC00180-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)－(16)/2又は12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00190" type="RQC00190-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有元本割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RQD00000-4-0type">
<xsd:sequence>

<xsd:element name="RQD00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00070" type="RQD00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RQE00000-4-0type">
<xsd:sequence>

<xsd:element name="RQE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQE00030" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00040" type="RQE00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等に係る控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RQE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)*(19)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等以外に係る控除を受ける所得税額のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等に係る控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RQE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)*(19)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RQE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子配当等以外に係る控除を受ける所得税額のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RQC00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00070-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00080-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RQC00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="RQC00130-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00160-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00180-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQC00190-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQD00070-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQE00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RQF00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RQA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RQA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RQA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="RQA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RQA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RQA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RQA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RQA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="RQA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RQA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RQC00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00080-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00080-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00160-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00160-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00180-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00180-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RQC00190-4-0type">
<xsd:simpleContent>
<xsd:extension base="RQC00190-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
