etax/19XMLスキーマ/hojin/HOR611-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二の二)　連結事業年度における分配時調整外国税相当額の控除及び各連結法人の地方法人税の額から控除する分配時調整外国税相当額の個別帰属額の計算に関する明細書
version：2.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR611-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR611-2-0group">
<xsd:sequence>
<xsd:element name="HOR611">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGA00000" type="IGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00000" type="IGB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　連結事業年度における分配時調整外国税相当額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGC00000" type="IGC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　各連結法人の地方法人税の額から控除する分配時調整外国税相当額の個別帰属額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IGD00000" type="IGD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR611-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IGA00000-2-0type">
<xsd:sequence>

<xsd:element name="IGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGA00020" type="IGA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGA00030" type="IGA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IGB00000-2-0type">
<xsd:sequence>

<xsd:element name="IGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合同運用信託、公社債投資信託及び公社債等運用投資信託(特定公社債等運用投資信託を除く。)の収益の分配並びに特定公社債等運用投資信託の受益権及び特定目的信託の社債的受益権に係る剰余金の配当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託(合同運用信託、公社債投資信託及び公社債等運用投資信託(特定公社債等運用投資信託を除く。)を除く。)の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定目的会社の利益の配当、投資法人の投資口の配当等、特定目的信託の受益権の剰余金の配当(社債的受益権の剰余金の配当を除く。)及び特定投資信託の受益権の剰余金の配当(特定公社債等運用投資信託の受益権の剰余金の配当を除く。)(みなし配当を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]に係る分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5の[3])のうち法人税の額を超える金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託(合同運用信託、公社債投資信託及び公社債等運用投資信託(特定公社債等運用投資信託を除く。)を除く。)の収益の分配又は特定目的会社の利益の配当、投資法人の投資口の配当等、特定目的信託の受益権の剰余金の配当(社債的受益権の剰余金の配当を除く。)及び特定投資信託の受益権の剰余金の配当(特定公社債等運用投資信託の受益権の剰余金の配当を除く。)(みなし配当を除く。)に係る控除を受ける分配時調整外国税相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00260" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00270" type="IGB00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00300" type="IGB00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配等の計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00310" type="IGB00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち元本所有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00320" type="IGB00320-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00350" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00360" type="IGB00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の分配時調整外国税相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00390" type="IGB00390-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の収益の分配等の計算期末の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00400" type="IGB00400-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の収益の分配等の計算期首の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00410" type="IGB00410-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)-(18)/2又は12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00420" type="IGB00420-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有元本割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他に係る控除を受ける分配時調整外国税相当額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00450" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00460" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00470" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00510" type="IGB00510-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00560" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5の[2])のうち当該連結法人の分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別分配時調整外国税相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人税額から控除する分配時調整外国税相当額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00620" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00630" type="IGB00630-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)及び(3)に係る控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合　(14)のうち当該連結法人に帰せられる控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち当該連結法人に帰せられる分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)*(21)/(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)及び(4)に係る控除を受ける分配時調整外国税相当額のうち当該連結法人に帰せられる控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)及び(3)に係る控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IGB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合　(14)のうち当該連結法人に帰せられる控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合　(29)*(21)/(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IGB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)及び(4)に係る控除を受ける分配時調整外国税相当額のうち当該連結法人に帰せられる控除を受ける分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IGC00000-2-0type">
<xsd:sequence>

<xsd:element name="IGC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別分配時調整外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別分配時調整外国税相当額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の額から控除する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IGC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IGB00270-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00320-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00360-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00390-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00400-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00410-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00420-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00510-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGB00630-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IGD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IGA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IGA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IGA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="IGA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IGA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IGA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IGA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IGA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="IGA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IGA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IGB00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00320-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00320-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00390-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00390-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00400-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00400-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00410-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00410-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IGB00420-2-0type">
<xsd:simpleContent>
<xsd:extension base="IGB00420-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
