etax/19XMLスキーマ/hojin/HOR656-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：旧別表六の二(五)付表　各連結法人の当期控除額の個別帰属額に関する明細書
version：2.1
Date：2010年01月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR656-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR656-2-1group">
<xsd:sequence>
<xsd:element name="HOR656">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QPA00000" type="QPA00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00000" type="QPB00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QPC00000" type="QPC00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR656-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QPA00000-2-1type">
<xsd:sequence>

<xsd:element name="QPA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QPA00020" type="QPA00020-2-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPA00030" type="QPA00030-2-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QPA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QPA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QPB00000-2-1type">
<xsd:sequence>

<xsd:element name="QPB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QPB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における比較試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の個別増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の個別増加額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QPB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QPB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QPB00125" type="QPB00125-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額の個別帰属額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QPB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額の個別帰属額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="QPB00125-2-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="QPC00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QPA00020-2-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QPA00020-2-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QPA00020-2-1Rtype">
            <xsd:attribute name="IDREF" type="QPA00020-2-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QPA00020-2-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QPA00030-2-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QPA00030-2-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QPA00030-2-1Rtype">
            <xsd:attribute name="IDREF" type="QPA00030-2-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QPA00030-2-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
