etax/19XMLスキーマ/hojin/HOR675-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(十八)　生産性向上設備等を取得した場合の法人税額の特別控除に関する明細書
version：1.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR675-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR675-1-0group">
<xsd:sequence>
<xsd:element name="HOR675">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZYA00000" type="ZYA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00000" type="ZYB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00000" type="ZYC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の合計額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZYD00000" type="ZYD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR675-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ZYA00000-1-0type">
<xsd:sequence>

<xsd:element name="ZYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZYA00020" type="ZYA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYA00030" type="ZYA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZYA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZYB00000-1-0type">
<xsd:sequence>

<xsd:element name="ZYB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち建物及び構築物に係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち別表六の二(十八)付表「6」が特定期間内であるものに係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち建物及び構築物に係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定期間以外の期間分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定期間分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZYB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZYC00000-1-0type">
<xsd:sequence>

<xsd:element name="ZYC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定生産性向上設備等の取得をした各連結法人の個別所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZYC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZYD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ZYA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ZYA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ZYA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="ZYA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ZYA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZYA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ZYA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="ZYA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="ZYA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ZYA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
