etax/19XMLスキーマ/hojin/HOR620-015.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二)　連結事業年度における外国税額の控除に関する明細書
version：15.0
Date：2018年06月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR620-15-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="15.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR620-15-0group">
<xsd:sequence>
<xsd:element name="HOR620">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RRA00000" type="RRA00000-15-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00000" type="RRB00000-15-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RRC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="RRG00000" type="RRG00000-15-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RRE00000" type="RRE00000-15-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"余白"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRF00000" type="RRF00000-15-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR620-15-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RRA00000-15-0type">
<xsd:sequence>

<xsd:element name="RRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RRA00020" type="RRA00020-15-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRA00030" type="RRA00030-15-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RRA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RRB00000-15-0type">
<xsd:sequence>

<xsd:element name="RRB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RRB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額又は連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の最終の事業年度の欠損金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00053" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結組合等損失額の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00056" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結組合等損失超過合計額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RRB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の調整連結国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RRB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属所得に係る連結所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国外源泉所得に係る連結所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)+(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)-(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RRB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)*90％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RRB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整連結国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RRB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RRG00000-15-0type">
<xsd:sequence>

<xsd:element name="RRG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RRG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RRE00000-15-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RRF00000-15-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RRA00020-15-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RRA00020-15-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RRA00020-15-0Rtype">
            <xsd:attribute name="IDREF" type="RRA00020-15-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RRA00020-15-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RRA00030-15-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RRA00030-15-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RRA00030-15-0Rtype">
            <xsd:attribute name="IDREF" type="RRA00030-15-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RRA00030-15-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
