etax/19XMLスキーマ/hojin/HOR678-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(三)付表　前期繰越分に係る当期税額控除可能額及び調整前連結税額超過構成額に関する明細書
version：8.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR678-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR678-8-0group">
<xsd:sequence>
<xsd:element name="HOR678">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00000" type="IKA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00000" type="IKE00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人が機械等を取得した場合の法人税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00000" type="IKF00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の特定地域において工業用機械等を取得した場合の法人税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00000" type="IKG00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中小連結法人が経営改善設備を取得した場合の法人税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00000" type="IKH00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人が特定経営力向上設備等を取得した場合の法人税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00000" type="IKL00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定復興産業集積区域等において機械等を取得した場合の法人税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IKM00000" type="IKM00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR678-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IKA00000-8-0type">
<xsd:sequence>

<xsd:element name="IKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00020" type="IKA00020-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00030" type="IKA00030-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IKE00000-8-0type">
<xsd:sequence>

<xsd:element name="IKE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IKF00000-8-0type">
<xsd:sequence>

<xsd:element name="IKF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IKG00000-8-0type">
<xsd:sequence>

<xsd:element name="IKG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKG00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKG00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IKH00000-8-0type">
<xsd:sequence>

<xsd:element name="IKH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKH00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKH00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IKL00000-8-0type">
<xsd:sequence>

<xsd:element name="IKL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKL00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKL00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKL00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IKM00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="IKA00020-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IKA00020-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IKA00020-8-0Rtype">
            <xsd:attribute name="IDREF" type="IKA00020-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IKA00020-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IKA00030-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IKA00030-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="IKA00030-8-0Rtype">
            <xsd:attribute name="IDREF" type="IKA00030-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="IKA00030-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
