etax/19XMLスキーマ/hojin/HOR699-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(五)付表　各連結法人の当期控除額の個別帰属額に関する明細書
version：3.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR699-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR699-3-0group">
<xsd:sequence>
<xsd:element name="HOR699">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYA00000" type="HYA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00000" type="HYB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HYC00000" type="HYC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR699-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HYA00000-3-0type">
<xsd:sequence>

<xsd:element name="HYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYA00020" type="HYA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYA00030" type="HYA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名（連結子法人）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HYB00000-3-0type">
<xsd:sequence>

<xsd:element name="HYB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における比較試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の個別増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の個別増加額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HYB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額の10％相当額を超える試験研究費の額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HYB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HYB00140" type="HYB00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="HYB00140-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HYC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="HYA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="HYA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="HYA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="HYA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="HYA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HYA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="HYA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="HYA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="HYA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="HYA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
