etax/19XMLスキーマ/hojin/HOR639-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二の二)付表　各連結法人の外国税額の控除に関する明細書
version：1.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR639-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR639-1-0group">
<xsd:sequence>
<xsd:element name="HOR639">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXA00000" type="CXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00000" type="CXB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXC00000" type="CXC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　地方法人税に係る外国税額の控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CXD00000" type="CXD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR639-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CXA00000-1-0type">
<xsd:sequence>

<xsd:element name="CXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXA00020" type="CXA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXA00030" type="CXA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CXB00000-1-0type">
<xsd:sequence>

<xsd:element name="CXB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結控除限度個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)*(3)/(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別国外所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第１項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第２項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第３項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別国外所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00320" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00330" type="CXB00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00430" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00440" type="CXB00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CXC00000-1-0type">
<xsd:sequence>

<xsd:element name="CXC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の控除限度個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CXC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CXC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CXC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CXB00330-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CXB00440-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CXD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CXA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CXA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CXA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="CXA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CXA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CXA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CXA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="CXA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="CXA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="CXA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
