etax/19XMLスキーマ/hojin/HOR616-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(一)　連結事業年度における所得税額の控除に関する明細書
version：3.0
Date：2017年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR616-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR616-3-0group">
<xsd:sequence>
<xsd:element name="HOR616">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTA00000" type="VTA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00000" type="VTC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00000" type="VTF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当、利益の配当、剰余金の分配及び金銭の分配(みなし配当等を除く。)、集団投資信託(合同運用信託、公社債投資信託及び公社債等運用投資信託を除く。)の収益の分配又は割引債の償還差益に係る控除を受ける所得税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00000" type="VTG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他に係る控除を受ける所得税額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTH00000" type="VTH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTI00000" type="VTI00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VTE00000" type="VTE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR616-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VTA00000-3-0type">
<xsd:sequence>

<xsd:element name="VTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTA00020" type="VTA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTA00030" type="VTA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTA00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTC00000-3-0type">
<xsd:sequence>

<xsd:element name="VTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公社債及び預貯金の利子、合同運用信託、公社債投資信託及び公社債等運用投資信託の収益の分配並びに特定目的信託の社債的受益権の金銭の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当、利益の配当、剰余金の分配及び金銭の分配(みなし配当等を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"集団投資信託(合同運用信託、公社債投資信託及び公社債等運用投資信託を除く。)の収益の分配"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00110" type="VTC00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00150" type="VTC00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00190" type="VTC00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割引債の償還差益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)について課される所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00323" type="VTC00323-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00327" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち控除を受ける所得税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTF00000-3-0type">
<xsd:sequence>

<xsd:element name="VTF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTF00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTF00030" type="VTF00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00060" type="VTF00060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の計算期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00070" type="VTF00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち元本所有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00080" type="VTF00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTF00110" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTF00120" type="VTF00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の所得税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00150" type="VTF00150-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の配当等の計算期末の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00160" type="VTF00160-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の配当等の計算期首の所有元本数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00170" type="VTF00170-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)-(16)/2又は12"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00180" type="VTF00180-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有元本割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTG00000-3-0type">
<xsd:sequence>

<xsd:element name="VTG00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00070" type="VTG00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTH00000-3-0type">
<xsd:sequence>

<xsd:element name="VTH00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTH00030" type="VTH00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTI00000-3-0type">
<xsd:sequence>

<xsd:element name="VTI00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTI00020" type="VTI00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等に係る控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合　(12)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)*(19)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等以外に係る控除を受ける所得税額のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTI00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTI00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等に係る控除を受ける所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別法による場合　(12)のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄別簡便法による場合　(24)*(19)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等以外に係る控除を受ける所得税額のうち当該連結法人に帰せられる所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VTC00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTC00150-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTC00190-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTC00323-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00060-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00070-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00080-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00150-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00160-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00170-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTF00180-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTG00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTH00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTI00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VTE00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VTA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VTA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VTA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="VTA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VTA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VTA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VTA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VTA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="VTA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VTA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VTF00060-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00060-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00150-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00150-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00160-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00160-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00170-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00170-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VTF00180-3-0type">
<xsd:simpleContent>
<xsd:extension base="VTF00180-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
