etax/19XMLスキーマ/hojin/HOR670-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：旧別表六の二(八)　中小連結法人が機械等を取得した場合の法人税額の特別控除に関する明細書
version：4.1
Date：2010年01月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR670-4-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/><xsd:enumeration value="4.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR670-4-1group">
<xsd:sequence>
<xsd:element name="HOR670">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRA00000" type="SRA00000-4-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00000" type="SRB00000-4-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00000" type="SRC00000-4-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の合計額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00000" type="SRD00000-4-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における翌期繰越税額控除限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SRE00000" type="SRE00000-4-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR670-4-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SRA00000-4-1type">
<xsd:sequence>

<xsd:element name="SRA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRA00020" type="SRA00020-4-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRA00030" type="SRA00030-4-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SRB00000-4-1type">
<xsd:sequence>

<xsd:element name="SRB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額基準額の残額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRB00280" type="SRB00280-4-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SRC00000-4-1type">
<xsd:sequence>

<xsd:element name="SRC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械等の取得をした各連結法人の個別所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額を有する各連結法人の個別所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総調整前連結税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総調整前連結税額基準額の残額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRC00180" type="SRC00180-4-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SRD00000-4-1type">
<xsd:sequence>

<xsd:element name="SRD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得に係るもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リースに係るもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00340" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00550" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00600" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00610" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SRD00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SRD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越額又は当期税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SRD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="SRB00280-4-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SRC00180-4-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SRE00000-4-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SRA00020-4-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SRA00020-4-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SRA00020-4-1Rtype">
            <xsd:attribute name="IDREF" type="SRA00020-4-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SRA00020-4-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SRA00030-4-1Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SRA00030-4-1IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SRA00030-4-1Rtype">
            <xsd:attribute name="IDREF" type="SRA00030-4-1-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SRA00030-4-1-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
