etax/19XMLスキーマ/hojin/HOR651-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(五)付表一　各連結法人の当期控除額の個別帰属額等に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR651-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR651-1-0group">
<xsd:sequence>
<xsd:element name="HOR651">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNA00000" type="SNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00000" type="SNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1各連結法人の当期控除額の個別帰属額に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNC00000" type="SNC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2前期繰越分に係る税額控除の判定基準となる試験研究費の額の計算に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SND00000" type="SND00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR651-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SNA00000-1-0type">
<xsd:sequence>

<xsd:element name="SNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNA00020" type="SNA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNA00030" type="SNA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SNB00000-1-0type">
<xsd:sequence>

<xsd:element name="SNB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全額控除の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部控除の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前累積控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)－(7)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の最初の超過連結事業年度の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度の試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)*(9)/(10)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の超過連結事業年度開始の日前の各連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の各連結事業年度の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結事業年度の試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)*(13)/(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越中小連結法人税額控除限度超過額に係る当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の繰越中小連結法人税額控除限度超過個別帰属額に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち各連結法人の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除未済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SNC00000-1-0type">
<xsd:sequence>

<xsd:element name="SNC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該連結事業年度の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)のうち特別償却実施額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SNC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開発研究用設備の償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SNC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SNC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基準試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="SND00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SNA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SNA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SNA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="SNA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SNA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SNA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SNA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SNA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="SNA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SNA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
