etax/19XMLスキーマ/hojin/HOR621-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二)付表　各連結法人の外国税額の控除に関する明細書
version：7.0
Date：2015年07月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR621-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR621-7-0group">
<xsd:sequence>
<xsd:element name="HOR621">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSA00000" type="RSA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RSB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="RSC00000" type="RSC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結控除限度個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSD00000" type="RSD00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に控除できる金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RSE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="RSF00000" type="RSF00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別国外所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSH00000" type="RSH00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象外国法人税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSI00000" type="RSI00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の控除限度個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RSJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSG00000" type="RSG00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR621-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RSA00000-7-0type">
<xsd:sequence>

<xsd:element name="RSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSA00020" type="RSA00020-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSA00030" type="RSA00030-7-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RSC00000-7-0type">
<xsd:sequence>

<xsd:element name="RSC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別国外所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)*(3)/(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別国外所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RSD00000-7-0type">
<xsd:sequence>

<xsd:element name="RSD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第1項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第2項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法第81条の15第3項により控除できる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RSF00000-7-0type">
<xsd:sequence>

<xsd:element name="RSF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外の当期利益又は当期欠損の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付した個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金不算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の戻入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00170" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"加算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00180" type="RSF00180-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金の繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00310" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"減算余白　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00320" type="RSF00320-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外所得対応分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち非課税所得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSF00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税国外所得の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSF00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別国外所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RSH00000-7-0type">
<xsd:sequence>

<xsd:element name="RSH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RSH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RSH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引個別控除対象外国法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RSI00000-7-0type">
<xsd:sequence>

<xsd:element name="RSI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RSI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税の控除限度個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RSF00180-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RSF00320-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RSG00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RSA00020-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RSA00020-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RSA00020-7-0Rtype">
            <xsd:attribute name="IDREF" type="RSA00020-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RSA00020-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RSA00030-7-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RSA00030-7-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="RSA00030-7-0Rtype">
            <xsd:attribute name="IDREF" type="RSA00030-7-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="RSA00030-7-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
