etax/19XMLスキーマ/hojin/HOR741-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表六　認定事業適応連結法人の連結欠損金の損金算入の特例に関する明細書
version：1.0
Date：2021年10月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR741-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR741-1-0group">
<xsd:sequence>
<xsd:element name="HOR741">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00000" type="BDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BDB00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損控除前連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDD00000" type="BDD00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細１　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00000" type="BDE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00000" type="BDF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別超過控除対象額及び超過控除対象額のうち投資の額に対応する部分の金額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BDG00000" type="BDG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR741-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDA00000-1-0type">
<xsd:sequence>

<xsd:element name="BDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00020" type="BDA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDA00030" type="BDA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDD00000-1-0type">
<xsd:sequence>

<xsd:element name="BDD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)＋(４)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDE00000-1-0type">
<xsd:sequence>

<xsd:element name="BDE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)＋(４)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDF00000-1-0type">
<xsd:sequence>

<xsd:element name="BDF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資の額の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期以前に特例の適用を受けた金額のうち当該連結法人の投資の額に対応する部分の金額の累計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に特例の適用を受けた金額のうち当該連結法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額及び超過控除対象額のうち投資の額に対応する部分の金額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00080" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例対象特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用がない場合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１０)のうち超過控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00190" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細３　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別超過控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額控除限度超過額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00290" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細４　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用がない場合の非特定連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２０)のうち超過控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の投資額残額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00390" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細５　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00410" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDF00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"超過控除対象額のうち当該連結法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDF00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受けた金額のうち当該連結法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDF00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　特例の適用を受けた金額のうち当該連結法人の投資の額に対応する部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BDG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BDA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BDA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BDA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="BDA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BDA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BDA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BDA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="BDA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="BDA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BDA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
