etax/19XMLスキーマ/hojin/HOR725-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表五　民事再生等評価換えが行われる場合以外の再生等欠損金の損金算入及び解散の場合の欠損金の損金算入に関する明細書
version：8.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR725-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR725-8-0group">
<xsd:sequence>
<xsd:element name="HOR725">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYA00000" type="UYA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYB00000" type="UYB00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務免除等による利益の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYC00000" type="UYC00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UYL00000" type="UYL00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UYE00000" type="UYE00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UYF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UYH00000" type="UYH00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額の調整"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UYI00000" type="UYI00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR725-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UYA00000-8-0type">
<xsd:sequence>

<xsd:element name="UYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYA00020" type="UYA00020-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYA00030" type="UYA00030-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UYB00000-8-0type">
<xsd:sequence>

<xsd:element name="UYB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の免除を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭以外の資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UYC00000-8-0type">
<xsd:sequence>

<xsd:element name="UYC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度終了の時における前期以前の事業年度又は連結事業年度から繰り越された欠損金額及び個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度終了の時における連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引欠損金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UYE00000-8-0type">
<xsd:sequence>

<xsd:element name="UYE00010" type="UYE00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UYH00000-8-0type">
<xsd:sequence>

<xsd:element name="UYH00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前の連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち特定連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち非特定連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前の連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち特定連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UYH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち非特定連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UYH00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UYH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額からないものとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="UYL00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UYE00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UYI00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="UYA00020-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UYA00020-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UYA00020-8-0Rtype">
            <xsd:attribute name="IDREF" type="UYA00020-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UYA00020-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UYA00030-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UYA00030-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="UYA00030-8-0Rtype">
            <xsd:attribute name="IDREF" type="UYA00030-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="UYA00030-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
