etax/19XMLスキーマ/hojin/HOR723-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表三　会社更生等による債務免除等があった場合の欠損金の損金算入に関する明細書
version：3.0
Date：2009年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR723-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR723-3-0group">
<xsd:sequence>
<xsd:element name="HOR723">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJA00000" type="NJA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00000" type="NJB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 更生欠損金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00000" type="NJC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 民事再生等評価換えが行われる場合の再生等欠損金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00000" type="NJD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 民事再生等評価換えが行われる場合以外の場合の再生等欠損金の損金算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="NJE00000" type="NJE00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR723-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NJA00000-3-0type">
<xsd:sequence>

<xsd:element name="NJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJA00020" type="NJA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJA00030" type="NJA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NJB00000-3-0type">
<xsd:sequence>

<xsd:element name="NJB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務免除等による利益の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の免除を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭以外の資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の評価益の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の評価損の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純評価益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度終了の時における前期以前の事業年度又は連結事業年度から繰り越された欠損金額及び個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NJC00000-3-0type">
<xsd:sequence>

<xsd:element name="NJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務免除等による利益の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の免除を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭以外の資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の評価益の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の評価損の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度終了の時における前期以前の事業年度又は連結事業年度から繰り越された欠損金額及び個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NJD00000-3-0type">
<xsd:sequence>

<xsd:element name="NJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務免除等による利益の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の免除を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"私財提供を受けた金銭以外の資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NJD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度終了の時における前期以前の事業年度又は連結事業年度から繰り越された欠損金額及び個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NJD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="NJE00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NJA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NJA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NJA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="NJA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NJA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NJA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NJA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="NJA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="NJA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="NJA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
