etax/19XMLスキーマ/hojin/HOR746-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二十一)付表　各連結法人の当期控除額の個別帰属額に関する明細書
version：2.0
Date：2022年06月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR746-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR746-2-0group">
<xsd:sequence>
<xsd:element name="HOR746">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJA00000" type="VJA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00000" type="VJB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJC00000" type="VJC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内新規雇用者に対する給与等の支給額及び調整雇用者給与等支給額の明細並びに新規雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00000" type="VJD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整比較雇用者給与等支給額及び新規雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="VJE00000" type="VJE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR746-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VJA00000-2-0type">
<xsd:sequence>

<xsd:element name="VJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJA00020" type="VJA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJA00030" type="VJA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VJB00000-2-0type">
<xsd:sequence>

<xsd:element name="VJB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内新規雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象新規雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引控除対象新規雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の差引控除対象新規雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VJC00000-2-0type">
<xsd:sequence>

<xsd:element name="VJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち国内新規雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち雇用安定助成金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VJD00000-2-0type">
<xsd:sequence>

<xsd:element name="VJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度又は前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(13)の前連結事業年度又は前事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00050" type="VJD00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00060" type="VJD00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)の前連結事業年度又は前事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00090" type="VJD00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00130" type="VJD00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち国内新規雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00180" type="VJD00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00220" type="VJD00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00270" type="VJD00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[1]の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00310" type="VJD00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[2]のうち雇用安定助成金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VJD00350" type="VJD00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VJD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VJD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VJD00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00270-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJD00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VJE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VJA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VJA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VJA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="VJA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VJA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="VJA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="VJA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="VJA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="VJA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="VJA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="VJD00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="VJD00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="VJD00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="VJD00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
