etax/19XMLスキーマ/hojin/HOR727-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二十二)　中小連結法人が給与等の引上げを行った場合の法人税額の特別控除に関する明細書
version：3.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR727-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR727-3-0group">
<xsd:sequence>
<xsd:element name="HOR727">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJA00000" type="SJA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00000" type="SJB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00000" type="SJC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00000" type="SJD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の継続雇用者給与等支給額及び継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00000" type="SJE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の中小連結法人比較教育訓練費の額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SJF00000" type="SJF00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR727-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SJA00000-3-0type">
<xsd:sequence>

<xsd:element name="SJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJA00020" type="SJA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJA00030" type="SJA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJB00000-3-0type">
<xsd:sequence>

<xsd:element name="SJB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00080" type="SJB00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人比較教育訓練費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00130" type="SJB00130-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別給与控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人税額控除限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)&gt;=2.5％の場合において、(11)&gt;=10％若しくは(8)=(10)&gt;0のとき又は経営力向上要件を満たすとき"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前連結税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJC00000-3-0type">
<xsd:sequence>

<xsd:element name="SJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度又は前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJC00050" type="SJC00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き文字(外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(22)の前連結事業年度又は前事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJC00090" type="SJC00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00100" type="SJC00100-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)の前連結事業年度又は前事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJD00000-3-0type">
<xsd:sequence>

<xsd:element name="SJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等又は事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(26の[3])の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00220" type="SJD00220-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00230" type="SJD00230-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26の[3])の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　適用年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJE00000-3-0type">
<xsd:sequence>

<xsd:element name="SJE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00020" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"調整対象年度　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度又は事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数/(32)の連結事業年度又は事業年度の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJE00080" type="SJE00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00090" type="SJE00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)の連結事業年度又は事業年度の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SJE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人比較教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SJB00080-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJB00130-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJC00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJC00090-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJC00100-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJD00220-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJD00230-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJE00080-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJE00090-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJF00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SJA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SJA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SJA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="SJA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SJA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SJA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SJA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SJA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="SJA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SJA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SJB00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJB00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJB00130-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJB00130-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJC00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJC00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJC00100-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJC00100-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJD00220-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJD00220-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJD00230-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJD00230-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJE00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJE00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJE00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="SJE00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
