etax/19XMLスキーマ/hojin/HOR784-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(十八)付表　調整前個別帰属法人税額の計算に関する明細書
version：5.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR784-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR784-5-0group">
<xsd:sequence>
<xsd:element name="HOR784">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNA00000" type="DNA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00000" type="DNB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DNC00000" type="DNC00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR784-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DNA00000-5-0type">
<xsd:sequence>

<xsd:element name="DNA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNA00020" type="DNA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNA00030" type="DNA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DNB00000-5-0type">
<xsd:sequence>

<xsd:element name="DNB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額に係る連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人の試験研究費に係る法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"エネルギー環境負荷低減推進設備等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00055" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高度省エネルギー増進設備等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人が機械等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"沖縄の特定地域において工業用機械等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00085" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地域経済牽引事業の促進区域内において特定事業用機械等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方活力向上地域等において特定建物等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数に係る法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数に係る法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定中小連結法人が経営改善設備を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00135" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人が特定経営力向上設備等を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の引上げ及び設備投資を行った場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00145" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人が給与等の引上げを行った場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00147" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定特定高度情報通信技術活用設備を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"革新的情報産業活用設備を取得した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興産業集積区域等において機械等を取得した場合等の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興産業集積区域等において被災雇用者等を雇用した場合の法人税額の特別控除に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が中小連結親法人以外の場合の調整前個別帰属法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が中小連結親法人の場合の調整前個別帰属法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DNC00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DNA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DNA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DNA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="DNA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DNA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DNA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DNA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="DNA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="DNA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="DNA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
