etax/19XMLスキーマ/hojin/HOR722-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表二　連結欠損金個別帰属額に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR722-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR722-1-0group">
<xsd:sequence>
<xsd:element name="HOR722">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDA00000" type="TDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00000" type="TDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00000" type="TDC00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00000" type="TDD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TDE00000" type="TDE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR722-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TDA00000-1-0type">
<xsd:sequence>

<xsd:element name="TDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDA00020" type="TDA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDA00030" type="TDA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TDB00000-1-0type">
<xsd:sequence>

<xsd:element name="TDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度6"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度7"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDB00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TDC00000-1-0type">
<xsd:sequence>

<xsd:element name="TDC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度6"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度7"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDC00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻し還付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TDD00000-1-0type">
<xsd:sequence>

<xsd:element name="TDD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度6"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度7"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属発生額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻し還付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TDD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TDD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TDD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="TDE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TDA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TDA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TDA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="TDA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TDA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TDA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TDA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TDA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="TDA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TDA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
