etax/19XMLスキーマ/hojin/HOR731-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表一　連結欠損金当期控除額及び連結欠損金個別帰属額の計算に関する明細書
version：10.0
Date：2020年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR731-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR731-10-0group">
<xsd:sequence>
<xsd:element name="HOR731">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZA00000" type="TZA00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00000" type="TZB00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00000" type="TZC00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00000" type="TZD00000-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期発生額に係る個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TZE00000" type="TZE00000-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR731-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TZA00000-10-0type">
<xsd:sequence>

<xsd:element name="TZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZA00020" type="TZA00020-10-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZA00030" type="TZA00030-10-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TZB00000-10-0type">
<xsd:sequence>

<xsd:element name="TZB00002" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除前連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00004" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00007" type="TZB00007-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00008" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細5"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00510" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00520" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細6"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00640" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細7"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細8"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00870" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00880" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細9"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB00990" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細10"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金当期控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZB01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち非特定連結欠損金に係る控除未済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZB01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TZC00000-10-0type">
<xsd:sequence>

<xsd:element name="TZC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細5(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細6(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00590" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細7(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00690" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00700" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細8(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01680" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01690" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細9(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01790" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01800" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細10(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前当期控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の調整前当期控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計(上段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除未済連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00860" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00870" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00950" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00960" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細5(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細6(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01390" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細7(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01500" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01510" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細8(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01900" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01910" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細9(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細10(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC02260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の非特定連結欠損金に係る控除未済額の個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC02300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC02310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計(下段)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZC01610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)のうち非特定連結欠損金に係る控除未済額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金の当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZC01640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZC01650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TZD00000-10-0type">
<xsd:sequence>

<xsd:element name="TZD00003" type="TZD00003-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金額　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00006" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00033" type="TZD00033-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期発生額に係る個別帰属額　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00036" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期発生額に係る個別帰属額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期発生額に係る個別帰属額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻し還付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TZD00053" type="TZD00053-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し額　内書文字(内)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00056" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の連結欠損金当期発生額に係る個別帰属額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TZD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TZD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期発生額に係る個別帰属額の翌期繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="TZB00007-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TZD00003-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TZD00033-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TZD00053-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TZE00000-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TZA00020-10-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TZA00020-10-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TZA00020-10-0Rtype">
            <xsd:attribute name="IDREF" type="TZA00020-10-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TZA00020-10-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TZA00030-10-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TZA00030-10-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TZA00030-10-0Rtype">
            <xsd:attribute name="IDREF" type="TZA00030-10-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TZA00030-10-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
