etax/19XMLスキーマ/hojin/HOR728-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二十三)付表　各連結法人の当期控除額の個別帰属額に関する明細書
version：2.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR728-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR728-2-0group">
<xsd:sequence>
<xsd:element name="HOR728">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKA00000" type="SKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00000" type="SKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00000" type="SKC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別給与控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SKD00000" type="SKD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR728-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SKA00000-2-0type">
<xsd:sequence>

<xsd:element name="SKA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKA00020" type="SKA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKA00030" type="SKA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SKB00000-2-0type">
<xsd:sequence>

<xsd:element name="SKB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前個別雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別雇用者給与等支給増加額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期控除額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SKC00000-2-0type">
<xsd:sequence>

<xsd:element name="SKC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00020" type="SKC00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における各連結法人の雇用者の数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00030" type="SKC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKC00050" type="SKC00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型地方事業所基準雇用者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00060" type="SKC00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00070" type="SKC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SKC00080" type="SKC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00090" type="SKC00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象調整数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKC00110" type="SKC00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00120" type="SKC00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別移転型特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00130" type="SKC00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象調整数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SKC00140" type="SKC00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00150" type="SKC00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SKC00180" type="SKC00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SKC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SKC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別給与控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SKC00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SKC00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SKC00180-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SKD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SKA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SKA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SKA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="SKA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SKA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SKA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SKA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SKA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="SKA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SKA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SKC00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SKC00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="SKC00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
