etax/19XMLスキーマ/hojin/HOR721-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表一　連結欠損金当期控除前の連結欠損金個別帰属額の調整計算に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR721-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR721-1-0group">
<xsd:sequence>
<xsd:element name="HOR721">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCA00000" type="TCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00000" type="TCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額の調整計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TCC00000" type="TCC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR721-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TCA00000-1-0type">
<xsd:sequence>

<xsd:element name="TCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCA00020" type="TCA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCA00030" type="TCA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TCB00000-1-0type">
<xsd:sequence>

<xsd:element name="TCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金発生年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00040" type="TCB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)又は(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は法第81条の9第2項第2号に規定する連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間の適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等となる連結子法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最後事業年度等において欠損金額とみなされて繰越控除された金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱等をした連結子法人の連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し還付の特例の基礎となった連結欠損金額の個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割前事業年度において欠損金額とみなされて繰越控除された金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業を営むための適格合併等に該当しないことによりないものとされた連結欠損金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は法第81条の9第2項第2号に規定する連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人間の適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最後事業年度等において欠損金額とみなされて繰越控除された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱等をした連結子法人の連結欠損金個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し還付の特例の基礎となった連結欠損金額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割前事業年度において欠損金額とみなされて繰越控除された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業を営むための適格合併等に該当しないことによりないものとされた連結欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TCB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TCC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TCA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TCA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TCA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="TCA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TCA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TCA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TCA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TCA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="TCA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TCA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
