etax/19XMLスキーマ/hojin/HOR735-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(二十三)　給与等の引上げ及び設備投資を行った場合等の法人税額の特別控除における各連結法人の個別給与控除額の計算に関する明細書
version：2.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR735-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR735-2-0group">
<xsd:sequence>
<xsd:element name="HOR735">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOA00000" type="QOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00000" type="QOB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="QOC00000" type="QOC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR735-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="QOA00000-2-0type">
<xsd:sequence>

<xsd:element name="QOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOA00020" type="QOA00020-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOA00030" type="QOA00030-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QOA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="QOB00000-2-0type">
<xsd:sequence>

<xsd:element name="QOB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00020" type="QOB00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の終了の日における各連結法人の雇用者の数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00030" type="QOB00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者基礎数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOB00050" type="QOB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型地方事業所基準雇用者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00060" type="QOB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象移転型特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00070" type="QOB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象調整数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QOB00080" type="QOB00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00090" type="QOB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象調整数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOB00110" type="QOB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00120" type="QOB00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別移転型特定新規雇用者数等の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00130" type="QOB00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象調整数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QOB00140" type="QOB00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00150" type="QOB00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別控除対象者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="QOB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="QOB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="QOB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別給与控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="QOB00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOB00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="QOC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QOA00020-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QOA00020-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QOA00020-2-0Rtype">
            <xsd:attribute name="IDREF" type="QOA00020-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QOA00020-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="QOA00030-2-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="QOA00030-2-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="QOA00030-2-0Rtype">
            <xsd:attribute name="IDREF" type="QOA00030-2-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="QOA00030-2-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="QOB00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="QOB00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="QOB00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
