etax/19XMLスキーマ/hojin/HOR721-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表二　連結欠損金当期控除前の連結欠損金個別帰属額の調整計算に関する明細書
version：5.0
Date：2012年07月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR721-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR721-5-0group">
<xsd:sequence>
<xsd:element name="HOR721">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCA00000" type="TCA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00000" type="TCB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額の調整計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TCC00000" type="TCC00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR721-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TCA00000-5-0type">
<xsd:sequence>

<xsd:element name="TCA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCA00020" type="TCA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCA00030" type="TCA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TCB00000-5-0type">
<xsd:sequence>

<xsd:element name="TCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金発生年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結初年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の開始"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は特定連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税への加入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00115" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00135" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等となる連結子法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00165" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00175" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において欠損金額とみなされて繰越控除された金額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において欠損金額とみなされて繰越控除された金額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00185" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00195" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00215" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し還付の特例の基礎となった連結欠損金額の個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00245" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業要件に該当する場合又は５年継続支配関係がある場合のいずれにも該当しないことによりないものとされる連結欠損金額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業要件に該当する場合又は５年継続支配関係がある場合のいずれにも該当しないことによりないものとされる連結欠損金額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00253" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損等連結法人の適用連結事業年度前の連結欠損金額のうち当該欠損等連結法人に帰せられる金額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00255" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損等連結法人の適用連結事業年度前の連結欠損金額のうち当該欠損等連結法人に帰せられる金額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00258" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00275" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額　内書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額　本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結初年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の開始"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は特定連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税への加入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定連結子法人の欠損金額等で連結欠損金額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の適格合併等による未処理欠損金額等の引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00345" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00365" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による未処理欠損金額等の引継額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00385" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において欠損金額とみなされて繰越控除された金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において欠損金額とみなされて繰越控除された金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00405" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00415" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の加算額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCB00435" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の前期の連結欠損金個別帰属額の翌期繰越額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金の繰戻し還付の特例の基礎となった連結欠損金額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00465" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業要件に該当する場合又は５年継続支配関係がある場合のいずれにも該当しないことによりないものとされる連結欠損金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同事業要件に該当する場合又は５年継続支配関係がある場合のいずれにも該当しないことによりないものとされる連結欠損金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00473" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損等連結法人の適用連結事業年度前の連結欠損金額のうち当該欠損等連結法人に帰せられる金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00475" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損等連結法人の適用連結事業年度前の連結欠損金額のうち当該欠損等連結法人に帰せられる金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00478" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金個別帰属額の減算額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00485" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の連結欠損金個別帰属額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TCB00495" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TCB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結欠損金当期控除前の調整後の連結欠損金個別帰属額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TCC00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TCA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TCA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TCA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="TCA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TCA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TCA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TCA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TCA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="TCA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TCA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
