etax/19XMLスキーマ/hojin/HOR724-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表七の二付表二の二　連結法人の東日本大震災により生じた損失の額等の計算に関する明細書
version：1.0
Date：2011年05月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR724-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR724-1-0group">
<xsd:sequence>
<xsd:element name="HOR724">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDA00000" type="MDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00000" type="MDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の個別震災損失金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDC00000" type="MDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結中間申告において震災損失金額の繰戻しをした場合の益金算入額の個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MDD00000" type="MDD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR724-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MDA00000-1-0type">
<xsd:sequence>

<xsd:element name="MDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDA00020" type="MDA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDA00030" type="MDA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MDA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MDB00000-1-0type">
<xsd:sequence>

<xsd:element name="MDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の滅失等により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MDB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害資産の原状回復のための費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MDB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MDB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金又は損害賠償金等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MDB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引震災により生じた損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MDB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MDC00000-1-0type">
<xsd:sequence>

<xsd:element name="MDC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮決算の連結中間申告による還付を受けるべき金額の計算の基礎となった繰戻対象震災損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮決算の連結中間申告の個別震災損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の仮決算の連結中間申告の個別震災損失金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金算入額の個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MDD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="MDA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="MDA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="MDA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="MDA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="MDA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MDA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="MDA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="MDA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="MDA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="MDA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
