etax/19XMLスキーマ/hojin/HOR729-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(四)　特定税額控除規定の適用可否の判定に関する明細書
version：4.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR729-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR729-4-0group">
<xsd:sequence>
<xsd:element name="HOR729">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMA00000" type="SMA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00000" type="SMB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00000" type="SMC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の継続雇用者給与等支給額及び継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMD00000" type="SMD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の当期償却費総額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SME00000" type="SME00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR729-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SMA00000-4-0type">
<xsd:sequence>

<xsd:element name="SMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMA00020" type="SMA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMA00030" type="SMA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SMB00000-4-0type">
<xsd:sequence>

<xsd:element name="SMB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00040" type="SMB00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((1)&gt;(2))又は((1)=(2)=0)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内設備投資額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内設備投資額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額の合計額の30％相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00090" type="SMB00090-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)&gt;(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額に係る要件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定対象年度の基準連結所得等金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等の基準連結所得等金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMB00130" type="SMB00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)&lt;=(9)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SMC00000-4-0type">
<xsd:sequence>

<xsd:element name="SMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度等又は事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の給与等に充てるため他の者から支払を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち雇用安定助成金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00400" type="SMC00400-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の月数/(11の[3])の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00220" type="SMC00220-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00230" type="SMC00230-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11の[3])の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SMC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額及び継続雇用者比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額の計算　当期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者比較給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SMC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前一年連結事業年度等特定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SMD00000-4-0type">
<xsd:sequence>

<xsd:element name="SMD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内設備投資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書に計上された減価償却費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の処分の方法により特別償却準備金として積み立てた金額その他(19)以外の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期償却費総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="SMB00040-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SMB00090-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SMB00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SMC00400-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SMC00220-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SMC00230-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SME00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SMA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SMA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SMA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="SMA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SMA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SMA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SMA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SMA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="SMA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SMA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SMC00220-4-0type">
<xsd:simpleContent>
<xsd:extension base="SMC00220-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SMC00230-4-0type">
<xsd:simpleContent>
<xsd:extension base="SMC00230-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
