etax/19XMLスキーマ/hojin/HOR774-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十七の二(三)付表二　連結超過利子額当期損金算入前の連結超過利子個別帰属額の調整計算に関する明細書
version：3.0
Date：2020年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR774-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR774-3-0group">
<xsd:sequence>
<xsd:element name="HOR774">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTA00000" type="XTA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00000" type="XTB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="XTC00000" type="XTC00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR774-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="XTA00000-3-0type">
<xsd:sequence>

<xsd:element name="XTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTA00020" type="XTA00020-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTA00030" type="XTA00030-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="XTB00000-3-0type">
<xsd:sequence>

<xsd:element name="XTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額発生連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00040" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結初年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の開始"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の超過利子額等で連結超過利子額とみなされるもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税への加入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の超過利子額等で連結超過利子額とみなされるもの"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00190" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人となる連結子法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度に生じた超過利子額のうち連結超過利子額とみなされた金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において超過利子額とみなされて損金算入された金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内非適格合併による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00250" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人となる連結子法人名"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度に生じた超過利子額のうち連結超過利子額とみなされた金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の調整後の連結超過利子個別帰属額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結初年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の開始"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の超過利子額等で連結超過利子額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税への加入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の超過利子額等で連結超過利子額とみなされるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の連結事業年度における調整計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人又は連結子法人の適格合併等による引継対象超過利子額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内適格合併等による引継額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="XTB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度に生じた超過利子額のうち連結超過利子額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の連結子法人の最終の事業年度において超過利子額とみなされて損金算入された金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結内非適格合併による引継額　同上の連結子法人の最終の事業年度に生じた超過利子額のうち連結超過利子額とみなされた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"離脱をした連結子法人の連結超過利子個別帰属額の前期末の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="XTB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の連結超過利子個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="XTB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額当期損金算入前の調整後の連結超過利子個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="XTC00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="XTA00020-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="XTA00020-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="XTA00020-3-0Rtype">
            <xsd:attribute name="IDREF" type="XTA00020-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="XTA00020-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="XTA00030-3-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="XTA00030-3-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="XTA00030-3-0Rtype">
            <xsd:attribute name="IDREF" type="XTA00030-3-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="XTA00030-3-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
