etax/19XMLスキーマ/hojin/HOR701-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表六の二(十)付表　経営革新設備等の取得価額等に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR701-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR701-1-0group">
<xsd:sequence>
<xsd:element name="HOR701">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYA00000" type="SYA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00000" type="SYB00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SYC00000" type="SYC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYD00000" type="SYD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR701-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SYA00000-1-0type">
<xsd:sequence>

<xsd:element name="SYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYA00020" type="SYA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYA00030" type="SYA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SYB00000-1-0type">
<xsd:sequence>

<xsd:element name="SYB00010" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYB00030" type="SYB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00040" type="SYB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造、用途又は設備の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は賃借の年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SYB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法上の圧縮記帳による引当金又は積立金計上額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引改定取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SYB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SYB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料(月額)"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00130" type="SYB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SYB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="SYB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SYB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SYB00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SYC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SYD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SYA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SYA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SYA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="SYA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SYA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SYA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SYA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="SYA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="SYA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="SYA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SYB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="SYB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
