etax/19XMLスキーマ/hojin/HOR830-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十五の二　交際費等の損金算入に関する明細書
version：9.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR830-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR830-9-0group">
<xsd:sequence>
<xsd:element name="HOR830">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00000" type="TIA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00000" type="TIB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の損金算入に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TIC00000" type="TIC00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR830-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TIA00000-9-0type">
<xsd:sequence>

<xsd:element name="TIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIA00020" type="TIA00020-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIA00030" type="TIA00030-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TIB00000-9-0type">
<xsd:sequence>

<xsd:element name="TIB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出交際費等の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出接待飲食費損金算入基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小連結法人の定額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00460" type="TIB00460-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00030" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00045" type="TIB00045-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金算入限度額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00090" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00170" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"空白部　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00180" type="TIB00180-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交際費等の額から控除される費用の額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引交際費等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち接待飲食費の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属損金不算入額　支出接待飲食費損金算入基準の適用がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TIB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属損金不算入額　同上以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TIB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TIB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="TIB00460-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TIB00045-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TIB00180-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TIC00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TIA00020-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TIA00020-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TIA00020-9-0Rtype">
            <xsd:attribute name="IDREF" type="TIA00020-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TIA00020-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TIA00030-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TIA00030-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TIA00030-9-0Rtype">
            <xsd:attribute name="IDREF" type="TIA00030-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TIA00030-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
