etax/19XMLスキーマ/hojin/HOR848-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八の二付表三(次葉)　合併及び残余財産確定の場合の調整額の計算に関する明細書(次葉)
version：1.0
Date：2015年11月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR848-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR848-1-0group">
<xsd:sequence>
<xsd:element name="HOR848">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEA00000" type="SEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の適格合併のうち連結内合併及び新設合併に該当しないものによる加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00000" type="SEB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結内合併又は残余財産確定による加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00000" type="SEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格合併のうち連結内合併及び新設合併に該当しないものによる加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00000" type="SED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結内合併又は残余財産確定による加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEE00000" type="SEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設適格合併による加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SEF00000" type="SEF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR848-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SEA00000-1-0type">
<xsd:sequence>

<xsd:element name="SEA00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEA00070" type="SEA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の適格合併のうち連結内合併及び新設合併に該当しないものによる加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SEB00000-1-0type">
<xsd:sequence>

<xsd:element name="SEB00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併の日又は残余財産確定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00070" type="SEB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結内合併又は残余財産確定による加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SEC00000-1-0type">
<xsd:sequence>

<xsd:element name="SEC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEC00070" type="SEC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の適格合併のうち連結内合併及び新設合併に該当しないものによる加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SED00000-1-0type">
<xsd:sequence>

<xsd:element name="SED00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SED00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併の日又は残余財産確定の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最終課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SED00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SED00070" type="SED00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SED00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結内合併又は残余財産確定による加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SEE00000-1-0type">
<xsd:sequence>

<xsd:element name="SEE00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEE00060" type="SEE00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設適格合併による加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SEA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SED00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEE00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="SEA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SEA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SEB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SEB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SEC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SEC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SED00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SED00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SEE00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="SEE00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
