etax/19XMLスキーマ/hojin/HOR841-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八の二付表一　連結中間納付額の調整計算に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR841-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR841-1-0group">
<xsd:sequence>
<xsd:element name="HOR841">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TLA00000" type="TLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLB00000" type="TLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前連結事業年度の法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLC00000" type="TLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期実績基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLD00000" type="TLD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に係る調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TLE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="TLF00000" type="TLF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人以外の法人に係る調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TLG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLH00000" type="TLH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR841-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TLA00000-1-0type">
<xsd:sequence>

<xsd:element name="TLA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TLA00020" type="gen:RENKETSU_JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLA00030" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TLA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TLB00000-1-0type">
<xsd:sequence>

<xsd:element name="TLB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち土地譲渡税額及びリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TLC00000-1-0type">
<xsd:sequence>

<xsd:element name="TLC00010" type="TLC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLC00020" type="TLC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TLD00000-1-0type">
<xsd:sequence>

<xsd:element name="TLD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TLD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人間合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結法人間合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の分割型分割による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TLD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TLD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる減算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の分割型分割による減算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TLD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に係る調整額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TLF00000-1-0type">
<xsd:sequence>

<xsd:element name="TLF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人を設立した適格合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結加入法人に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結加入法人に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結子法人以外の法人を被合併法人とする適格合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結子法人以外の法人を被合併法人とする適格合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TLF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人以外の法人に係る調整額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TLC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TLC00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TLH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="TLC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="TLC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
