etax/19XMLスキーマ/hojin/HOR847-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八の二付表二(次葉)　最初の連結事業年度の前期実績基準相当額並びに連結納税の承認の取消し及び連結納税への加入の場合の調整額等の計算に関する明細書(次葉)
version：1.0
Date：2015年11月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR847-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR847-1-0group">
<xsd:sequence>
<xsd:element name="HOR847">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDA00000" type="SDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の前期実績基準相当額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00000" type="SDB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00000" type="SDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期に連結完全支配関係を有することとなった連結加入法人に係る加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00000" type="SDD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に連結完全支配関係を有することとなった連結加入法人に係る加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SDE00000" type="SDE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR847-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SDA00000-1-0type">
<xsd:sequence>

<xsd:element name="SDA00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDA00060" type="SDA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単体地方法人税額又は連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の前期実績基準相当額　左の月数換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SDB00000-1-0type">
<xsd:sequence>

<xsd:element name="SDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を取り消された法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前課税事業年度の連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を取り消された法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前課税事業年度の連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDB00090" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を取り消された法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前課税事業年度の連結地方法人税個別帰属受取額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前課税事業年度の連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる加算調整額　前課税事業年度の連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる減算調整額　前課税事業年度の連結地方法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SDC00000-1-0type">
<xsd:sequence>

<xsd:element name="SDC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDC00070" type="SDC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結加入法人に係る加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SDD00000-1-0type">
<xsd:sequence>

<xsd:element name="SDD00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の課税事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SDD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDD00070" type="SDD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人確定地方法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SDD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SDD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結加入法人に係る加算調整額　調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SDA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SDC00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SDD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SDE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="SDA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="SDA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SDC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SDC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SDD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SDD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
