etax/19XMLスキーマ/hojin/HOR800-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八の二　連結事業年度における受取配当等の益金不算入に関する明細書
version：4.0
Date：2008年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR800-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR800-4-0group">
<xsd:sequence>
<xsd:element name="HOR800">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00000" type="TEA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00000" type="TEB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度における受取配当等の益金不算入に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00000" type="TEC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00000" type="TED00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00000" type="TEE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TEF00000" type="TEF00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR800-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TEA00000-4-0type">
<xsd:sequence>

<xsd:element name="TEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00020" type="TEA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEA00030" type="TEA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TEB00000-4-0type">
<xsd:sequence>

<xsd:element name="TEB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等に係る受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債利子等の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払う負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額から控除する負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債利子等の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額から控除する負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TEC00000-4-0type">
<xsd:sequence>

<xsd:element name="TEC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末現在額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式及び出資等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の帳簿価額の1/2又は1/4相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末現在額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式及び出資等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の帳簿価額の1/2又は1/4相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式及び出資等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益権の帳簿価額の1/2又は1/4相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TED00000-4-0type">
<xsd:sequence>

<xsd:element name="TED00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等を保有する連結法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00040" type="TED00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の発行法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額の計算対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00130" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等を保有する連結法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00150" type="TED00150-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の発行法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00170" type="TED00170-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"効力発生日までの保有期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00180" type="TED00180-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00270" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00280" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等を保有する連結法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00290" type="TED00290-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の発行法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00300" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TEE00000-4-0type">
<xsd:sequence>

<xsd:element name="TEE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)*(19)のうち当該連結法人分/(19の計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額から控除する負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)*(20)のうち当該連結法人分/(20の計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人株式等及び関係法人株式等に該当しない株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の金額から控除する負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)*(23)のうち当該連結法人分/(23の計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TED00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00150-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00170-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00180-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00290-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TEF00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TEA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TEA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TEA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="TEA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TEA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TEA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TEA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TEA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="TEA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TEA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
