etax/19XMLスキーマ/hojin/HOR810-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十の二(二)　収用換地等及び特定事業の用地買収等の場合の連結所得の特別控除等並びに資産の譲渡に係る特別控除額の損金不算入に関する明細書
version：4.0
Date：2014年07月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR810-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR810-4-0group">
<xsd:sequence>
<xsd:element name="HOR810">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFA00000" type="TFA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00000" type="TFB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1収用換地等の場合の連結所得の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00000" type="TFC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2特定事業の用地買収等の場合の連結所得の特別控除等に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00000" type="TFD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3資産の譲渡に係る特別控除額の損金不算入に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TFE00000" type="TFE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR810-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TFA00000-4-0type">
<xsd:sequence>

<xsd:element name="TFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFA00020" type="TFA00020-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFA00030" type="TFA00030-4-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名(連結子法人)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TFB00000-4-0type">
<xsd:sequence>

<xsd:element name="TFB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公共事業者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公共事業者から買取り等の申出を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収用換地等による譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00050" type="TFB00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した補償金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除に係る交換取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の交換取得資産につき支払った交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち補償金等の額に対応する部分の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費に充てるため交付を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち補償金等の額に係る譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期前において設けた特別勘定の金額で、当期において益金の額に算入して特別控除の規定の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした連結法人が当該譲渡の日の属する年において譲渡した他の資産につき、5,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TFC00000-4-0type">
<xsd:sequence>

<xsd:element name="TFC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業施行者等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00015" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の長期所有土地等の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業の用地買収等により譲渡した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交換取得資産につき支払った交換差金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定事業の用地買収等により譲渡した部分の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡経費に充てるため交付を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引譲渡経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡益の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定土地区画整理事業等のために土地等を譲渡した場合の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした連結法人が当該譲渡の日の属する年において譲渡した他の資産につき、2,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定住宅地造成事業等のために土地等を譲渡した場合の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした連結法人が当該譲渡の日の属する年において譲渡した他の資産につき、1,500万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地保有の合理化のために農地等を譲渡した場合の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした連結法人が当該譲渡の日の属する年において譲渡した他の資産につき、800万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の長期所有土地等を譲渡した場合の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした連結法人が当該譲渡の日の属する年において譲渡した他の資産につき、1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TFD00000-4-0type">
<xsd:sequence>

<xsd:element name="TFD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人における計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年における資産の譲渡につき、当期において5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別連結法人帰属損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の個別帰属損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TFD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各連結法人の合計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TFD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年における各連結法人の資産の譲渡につき、当期において5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該資産の譲渡をした日の属する年における資産の譲渡につき、当期前の連結事業年度において5,000万円、2,000万円、1,500万円及び800万円特別控除の規定並びに1,000万円特別控除の規定の適用を受けた金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TFD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TFB00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TFE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TFA00020-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TFA00020-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TFA00020-4-0Rtype">
            <xsd:attribute name="IDREF" type="TFA00020-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TFA00020-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TFA00030-4-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TFA00030-4-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TFA00030-4-0Rtype">
            <xsd:attribute name="IDREF" type="TFA00030-4-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TFA00030-4-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
