etax/19XMLスキーマ/hojin/HOR842-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十八の二付表二　最初の連結事業年度の前期実績基準相当額等並びに連結納税への加入及びその承認の取消しの場合の調整額の計算に関する明細書
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR842-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR842-1-0group">
<xsd:sequence>
<xsd:element name="HOR842">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMA00000" type="TMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMB00000" type="TMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の前期実績基準相当額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMC00000" type="TMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の連結親法人を設立した適格合併による加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00000" type="TMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期に連結完全支配関係を有することとなった連結加入法人に係る加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00000" type="TME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に連結完全支配関係を有することとなった連結加入法人に係る加算調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00000" type="TMF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる調整額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TMG00000" type="TMG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR842-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TMA00000-1-0type">
<xsd:sequence>

<xsd:element name="TMA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMA00020" type="gen:RENKETSU_JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMA00030" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TMB00000-1-0type">
<xsd:sequence>

<xsd:element name="TMB00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度又は前連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMB00060" type="TMB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定法人税額又は連結法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の前期実績基準相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数換算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TMC00000-1-0type">
<xsd:sequence>

<xsd:element name="TMC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMC00060" type="TMC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人の確定法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最初の連結事業年度の連結親法人を設立した適格合併による加算調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TMD00000-1-0type">
<xsd:sequence>

<xsd:element name="TMD00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMD00070" type="TMD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人の確定法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結加入法人に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TME00000-1-0type">
<xsd:sequence>

<xsd:element name="TME00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TME00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の事業年度又は連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TME00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TME00070" type="TME00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結加入法人の確定法人税額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TME00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TME00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期の連結加入法人に係る加算調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TME00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TMF00000-1-0type">
<xsd:sequence>

<xsd:element name="TMF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を取り消された法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMF00050" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMF00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を取り消された法人の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の事由の生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人税個別帰属受取額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TMF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる加算調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TMF00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認の取消しによる減算調整額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TMF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期の連結法人税個別帰属支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="TMB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TMC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TMD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TME00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TMG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="TMB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="TMB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TMC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="TMC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TMD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="TMD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TME00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="TME00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
