etax/19XMLスキーマ/hojin/HOR800-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表八の二　連結事業年度における受取配当等の益金不算入に関する明細書
version：9.0
Date：2016年06月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR800-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR800-9-0group">
<xsd:sequence>
<xsd:element name="HOR800">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00000" type="TEA00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00000" type="TEB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度における受取配当等の益金不算入に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00000" type="TEC00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00000" type="TED00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TEF00000" type="TEF00000-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR800-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TEA00000-9-0type">
<xsd:sequence>

<xsd:element name="TEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00020" type="TEA00020-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEA00030" type="TEA00030-9-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TEB00000-9-0type">
<xsd:sequence>

<xsd:element name="TEB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全子法人株式等に係る受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債利子等の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期に支払う負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00067" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外支配株主等に係る負債の利子等の損金不算入額又は関連者等に係る支払利子等の損金不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00068" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結超過利子額の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末関連法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額から控除する負債利子等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他株式等に係る受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEB00153" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非支配目的株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00155" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEB00157" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の株式等に係る受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の益金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TEC00000-9-0type">
<xsd:sequence>

<xsd:element name="TEC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期末現在額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末関連法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末現在額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末関連法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TEC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人に支払う負債利子等の元本の負債の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末関連法人株式等の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TED00000-9-0type">
<xsd:sequence>

<xsd:element name="TED00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全子法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00040" type="TED00040-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額の計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連法人株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00130" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00150" type="TED00150-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00163" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額の計算期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00165" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00167" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00180" type="TED00180-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00270" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00290" type="TED00290-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00300" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非支配目的株式等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00390" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00400" type="TED00400-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の発行法人名又は銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00410" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00430" type="TED00430-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取配当等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち益金の額に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TED00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"益金不算入の対象となる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TED00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例非支配目的株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TED00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記以外の株式等に係る配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="TED00040-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00150-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00180-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00290-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00400-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TED00430-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TEF00000-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TEA00020-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TEA00020-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TEA00020-9-0Rtype">
            <xsd:attribute name="IDREF" type="TEA00020-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TEA00020-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TEA00030-9-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TEA00030-9-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TEA00030-9-0Rtype">
            <xsd:attribute name="IDREF" type="TEA00030-9-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TEA00030-9-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
