etax/19XMLスキーマ/hojin/HOR820-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表十四の二　連結事業年度における寄附金の損金算入に関する明細書
version：8.0
Date：2013年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR820-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR820-8-0group">
<xsd:sequence>
<xsd:element name="HOR820">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THA00000" type="THA00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00000" type="THB00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度における寄附金の損金算入に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THC00000" type="THC00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定寄附金等に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THD00000" type="THD00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人若しくは認定特定非営利活動法人等に対する寄附金又は認定特定公益信託に対する支出金の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THE00000" type="THE00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の寄附金のうち特定公益信託(認定特定公益信託を除く。)に対する支出金の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00000" type="THF00000-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="THG00000" type="THG00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR820-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="THA00000-8-0type">
<xsd:sequence>

<xsd:element name="THA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THA00020" type="THA00020-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THA00030" type="THA00030-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THA00050" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="THB00000-8-0type">
<xsd:sequence>

<xsd:element name="THB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般寄附金の損金算入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した寄附金の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定寄附金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人等に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全支配関係がある法人に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額仮計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金支出前連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00105" type="THB00105-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の2.5又は1.25/100相当額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の2.5又は1.25/100相当額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の期末の連結個別資本金等の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般寄附金の損金算入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の月数換算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00180" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の2.5/1,000相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般寄附金の損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THB00212" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人等に対する寄附金の特別損金算入限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00214" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金支出前連結所得金額の6.25/100相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の期末の連結個別資本金等の額の月数換算額の3.75/1,000相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00218" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人等に対する寄附金の特別損金算入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人等に対する寄附金の損金算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定寄附金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)の寄附金額のうち同上の寄附金以外の寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち損金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全支配関係がある法人に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="THC00000-8-0type">
<xsd:sequence>

<xsd:element name="THC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THC00030" type="THC00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THC00040" type="THC00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THC00050" type="THC00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の使途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="THD00000-8-0type">
<xsd:sequence>

<xsd:element name="THD00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附した日又は支出した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THD00030" type="THD00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附先又は受託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THD00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THD00050" type="THD00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の使途又は認定特定公益信託の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金額又は支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金額又は支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="THE00000-8-0type">
<xsd:sequence>

<xsd:element name="THE00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THE00030" type="THE00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THE00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THE00050" type="THE00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益信託の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="THF00000-8-0type">
<xsd:sequence>

<xsd:element name="THF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該連結法人が支出した寄附金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="THF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定寄附金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公益増進法人等に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)の寄附金額のうち同上の寄附金以外の寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"完全支配関係がある法人に対する寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="THF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち当該連結法人が支出した特定公益増進法人等に対する寄附金額に係る部分に相当する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損金不算入額(21)のうち当該連結法人に帰せられる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="THF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="THB00105-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="THC00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THC00040-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THC00050-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THD00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THD00050-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THE00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THE00050-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="THG00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="THA00020-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="THA00020-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="THA00020-8-0Rtype">
            <xsd:attribute name="IDREF" type="THA00020-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="THA00020-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="THA00030-8-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="THA00030-8-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="THA00030-8-0Rtype">
            <xsd:attribute name="IDREF" type="THA00030-8-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="THA00030-8-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
