etax/19XMLスキーマ/hojin/HOR900-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：連結親法人である中小企業者等に対する同族会社の特別税率の不適用制度に関する明細書
version：1.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR900-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR900-1-0group">
<xsd:sequence>
<xsd:element name="HOR900">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOA00000" type="TOA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00000" type="TOB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人である中小企業者等に対する同族会社の特別税率の不適用制度に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TOC00000" type="TOC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOR900-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TOA00000-1-0type">
<xsd:sequence>

<xsd:element name="TOA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOA00020" type="gen:RENKETSU_JIGYO_NENDO_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOA00030" type="gen:RENKETSU_JIGYO_NENDO_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TOB00000-1-0type">
<xsd:sequence>

<xsd:element name="TOB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用該当号の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00015" type="TOB00015-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当条文"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00017" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第68条の109第1項第(＿)号該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00019" type="TOB00019-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第(＿)号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧措置法第68条の109第(＿)項第(＿)号該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00030" type="TOB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第(＿)項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00040" type="TOB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第(＿)号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一項一号(旧一項一号)該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立の日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00080" type="TOB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(措置法令第39条の128第1項(＿)号)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(平＿・＿・＿)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の中小企業者の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00102" type="TOB00102-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当条文"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00105" type="TOB00105-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業の新たな事業活動の促進に関する法律第2条第1項第(＿)号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00110" type="TOB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧新事業創出促進法第2条第3項第(＿)号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00120" type="TOB00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の資本の額又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00140" type="TOB00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が常時使用する従業員の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00142" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一項二号該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00144" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の経営革新計画の承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00146" type="TOB00146-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の経営革新のための事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00148" type="TOB00148-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における連結親法人の事業の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧一項二号該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の実施計画の認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00170" type="TOB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が実施する新事業分野開拓のための事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00180" type="TOB00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期末における連結親法人の事業の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧二項該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の中小企業者の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00210" type="TOB00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧中小企業の創造的事業活動の促進に関する臨時措置法第2条第1項第(＿)号該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00220" type="TOB00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人の資本の額又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00240" type="TOB00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人が常時使用する従業員の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当期前1年以内に開始した各連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の試験研究費の額及び開発費の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の各連結事業年度の総収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00300" type="TOB00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費等の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第68条の109第1項第1号
旧措置法第68条の109第1項第1号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00400" type="TOB00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登記簿謄本又はその写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00402" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第68条の109第1項第2号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00404" type="TOB00404-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　行政庁が中小企業の新たな事業活動の促進に関する法律第9条第1項に規定する承認(同法第10条第1項の承認を含む。)をした旨を証する書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00406" type="TOB00406-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　該当する承認経営革新計画の計画書の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧措置法第68条の109第1項第2号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00420" type="TOB00420-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　主務大臣が旧新事業創出促進法第11条の2第1項に規定する認定(同法第11条の3第1項の認定を含む。)をした旨を証する書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TOB00430" type="TOB00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　該当する認定計画の計画書の写し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TOB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧措置法第68条の109第2項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TOB00450" type="TOB00450-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧措置法施行令第39条の128第4項各号に規定する総収入金額及び試験研究費等の額の合計額の明細書(同項の規定の適用がある連結事業年度に限る。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="TOB00015-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TOB00019-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TOB00102-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TOB00105-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00146-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00148-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TOB00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TOB00400-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TOB00404-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TOB00406-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TOB00420-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TOB00430-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TOB00450-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TOC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="TOB00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="TOB00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TOB00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="TOB00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TOB00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="TOB00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
