etax/19XMLスキーマ/hojin/HOR940-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：組織再編成に係る主要な事項の明細書
version：5.0
Date：2021年06月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR940-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR940-5-0group">
<xsd:sequence>
<xsd:element name="HOR940">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSA00000" type="TSA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00000" type="TSB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出対象法人の区分、組織再編成の態様及び組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSL00000" type="TSL00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手方の区分、名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSM00000" type="TSM00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転した(又は交付した)資産又は負債の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSN00000" type="TSN00000-5-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"移転を受けた資産又は負債の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00000" type="TSC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00000" type="TSE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式保有関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSG00000" type="TSG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSO00000" type="TSO00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前の主要事業等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="TSP00000" type="TSP00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="TSH00000" type="TSH00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業規模"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSQ00000" type="TSQ00000-5-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特定役員等の役職名及び氏名　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00000" type="TSJ00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支配株主の株式の保有状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOR940-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TSA00000-5-0type">
<xsd:sequence>

<xsd:element name="TSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSA00020" type="TSA00020-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSA00030" type="TSA00030-5-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSB00000-5-0type">
<xsd:sequence>

<xsd:element name="TSB00017" type="TSB00017-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00034" type="TSB00034-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSL00000-5-0type">
<xsd:sequence>

<xsd:element name="TSL00010" type="TSL00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSL00020" type="TSL00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSL00030" type="TSL00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSM00000-5-0type">
<xsd:sequence>

<xsd:element name="TSM00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSM00020" type="TSM00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSM00040" type="TSM00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式交付にあっては左の算定根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSN00000-5-0type">
<xsd:sequence>

<xsd:element name="TSN00010" type="TSN00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSC00000-5-0type">
<xsd:sequence>

<xsd:element name="TSC00010" type="TSC00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00020" type="TSC00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00030" type="TSC00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSE00000-5-0type">
<xsd:sequence>

<xsd:element name="TSE00010" type="TSE00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00020" type="TSE00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の保有割合　直接保有"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSE00040" type="TSE00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00050" type="TSE00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の保有割合　間接保有"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSE00070" type="TSE00070-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00080" type="TSE00080-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSG00000-5-0type">
<xsd:sequence>

<xsd:element name="TSG00030" type="TSG00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSG00040" type="TSG00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSO00000-5-0type">
<xsd:sequence>

<xsd:element name="TSO00010" type="TSO00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要事業等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSO00020" type="TSO00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSO00030" type="TSO00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関連"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSH00000-5-0type">
<xsd:sequence>

<xsd:element name="TSH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指標"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSH00020" type="TSH00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSH00030" type="TSH00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSH00040" type="TSH00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の指標による規模の比較"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSQ00000-5-0type">
<xsd:sequence>

<xsd:element name="TSQ00010" type="TSQ00010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成前の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSQ00020" type="TSQ00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成後の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSQ00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSJ00000-5-0type">
<xsd:sequence>

<xsd:element name="TSJ00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00030" type="TSJ00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00035" type="TSJ00035-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株継続保有見込の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSJ00040" type="TSJ00040-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧株数(合計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00050" type="TSJ00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="TSB00017-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TSB00034-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TSL00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSL00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSL00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSM00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSM00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSN00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSC00010-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSC00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSC00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00040-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00050-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00070-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00080-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSG00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSG00040-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSO00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSO00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TSO00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSP00000-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSH00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSH00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSH00040-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSQ00010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSQ00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00030-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSJ00035-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSJ00040-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00050-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TSA00020-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TSA00020-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TSA00020-5-0Rtype">
            <xsd:attribute name="IDREF" type="TSA00020-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TSA00020-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSA00030-5-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TSA00030-5-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TSA00030-5-0Rtype">
            <xsd:attribute name="IDREF" type="TSA00030-5-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TSA00030-5-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TSE00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00070-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00070-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00080-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00080-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSG00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSG00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSG00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSG00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00040-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00040-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
