etax/19XMLスキーマ/hojin/HOR940-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：組織再編成に係る主要な事項の明細書
version：1.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOR940-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOR940-1-0group">
<xsd:sequence>
<xsd:element name="HOR940">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSA00000" type="TSA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00000" type="TSB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00000" type="TSC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSD00000" type="TSD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成に係る関連法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00000" type="TSE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式保有関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSF00000" type="TSF00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"主要な事業の種類　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSG00000" type="TSG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSH00000" type="TSH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業規模"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSI00000" type="TSI00000-1-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"役員の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00000" type="TSJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式の継続保有が見込まれる株主等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSK00000" type="TSK00000-1-0type" minOccurs="0" maxOccurs="14">
<xsd:annotation>
<xsd:appinfo>"移転した(又は移転を受けた)資産及び負債の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOR940-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TSA00000-1-0type">
<xsd:sequence>

<xsd:element name="TSA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSA00020" type="TSA00020-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSA00030" type="TSA00030-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSA00040" type="gen:OYA_HOJIN_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSB00000-1-0type">
<xsd:sequence>

<xsd:element name="TSB00010" type="TSB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00020" type="TSB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00030" type="TSB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資・事後設立区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物出資・事後設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織再編成の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSC00000-1-0type">
<xsd:sequence>

<xsd:element name="TSC00010" type="TSC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00020" type="TSC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSC00030" type="TSC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSD00000-1-0type">
<xsd:sequence>

<xsd:element name="TSD00010" type="TSD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSE00000-1-0type">
<xsd:sequence>

<xsd:element name="TSE00010" type="TSE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00020" type="TSE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直接保有の株式の保有割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSE00040" type="TSE00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00050" type="TSE00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"間接保有の株式の保有割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSE00070" type="TSE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSE00080" type="TSE00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(組織再編成後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSF00000-1-0type">
<xsd:sequence>

<xsd:element name="TSF00010" type="TSF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主要な事業の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSF00020" type="TSF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業関連性"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSG00000-1-0type">
<xsd:sequence>

<xsd:element name="TSG00010" type="TSG00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人の合併直前の従業者の数
分割直前の分割事業に係る従業者の数
現物出資直前の現物出資事業に係る従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSG00020" type="TSG00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併法人・分割承継法人・被現物出資法人の業務に従事する従業者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSH00000-1-0type">
<xsd:sequence>

<xsd:element name="TSH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指標"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSH00020" type="TSH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSH00030" type="TSH00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSH00040" type="TSH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の指標による規模の比較"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSI00000-1-0type">
<xsd:sequence>

<xsd:element name="TSI00010" type="TSI00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSI00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSI00030" type="TSI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併・分割・現物出資前の役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSJ00000-1-0type">
<xsd:sequence>

<xsd:element name="TSJ00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TSJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00030" type="TSJ00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TSJ00040" type="TSJ00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数(合計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00050" type="TSJ00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数(株)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSJ00060" type="TSJ00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被合併法人等の発行済株式等の数(割合)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="TSK00000-1-0type">
<xsd:sequence>

<xsd:element name="TSK00010" type="TSK00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産・負債の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TSK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="TSB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSB00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TSC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSE00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSF00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSG00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSG00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSH00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TSH00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSI00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSI00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSJ00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSK00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TSA00020-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TSA00020-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TSA00020-1-0Rtype">
            <xsd:attribute name="IDREF" type="TSA00020-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TSA00020-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_FROM"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TSA00030-1-0Rtype">
    <xsd:sequence minOccurs="0">
        <xsd:group ref="gen:yyGroup"/>
        <xsd:group ref="gen:mmGroup"/>
        <xsd:group ref="gen:ddGroup"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TSA00030-1-0IDREFtype">
    <xsd:complexContent>
        <xsd:extension base="TSA00030-1-0Rtype">
            <xsd:attribute name="IDREF" type="TSA00030-1-0-0IDREFtype" use="optional"/>
        </xsd:extension>
    </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="TSA00030-1-0-0IDREFtype">
    <xsd:restriction base="xsd:IDREF">
        <xsd:enumeration value="RENKETSU_JIGYO_NENDO_TO"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TSE00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSE00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSE00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSG00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSG00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSG00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSG00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TSJ00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="TSJ00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
