etax/19XMLスキーマ/hojin/HOS020-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表1(連結親法人となる法人の主要株主等の状況)
version：2.0
Date：2007年12月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOS020-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOS020-2-0group">
<xsd:sequence>
<xsd:element name="HOS020">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="UDA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人となる法人の法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDB00000" type="UDB00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人となる法人の発行済株式の総数又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UDC00000" type="UDC00000-2-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"連結親法人となる法人の主要株主等の株式数等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOS020-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UDC00000-2-0type">
<xsd:sequence>

<xsd:element name="UDC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDC00030" type="UDC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UDC00040" type="UDC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式の総数又は出資の総額に対する保有株式数又は出資金額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UDB00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UDC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UDC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UDC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="UDC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
