etax/19XMLスキーマ/hojin/HOS030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2(発行済株式等の状況)
version：1.0
Date：2005年01月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOS030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOS030-1-0group">
<xsd:sequence>
<xsd:element name="HOS030">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="UEA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人となる法人の法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEB00000" type="UEB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人となる法人の発行済株式総数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UEC00000" type="UEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法施行令第14条の3第1項第1号に規定する株式又は出資の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UED00000" type="UED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法施行令第14条の3第1項第2号に規定する株式の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UEE00000" type="UEE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UEF00000" type="UEF00000-1-0type" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"連結子法人となる法人の株式又は出資を保有する法人の名称等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOS030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UEC00000-1-0type">
<xsd:sequence>

<xsd:element name="UEC00010" type="UEC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人となる法人が有する自己の株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEC00020" type="UEC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)－(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UED00000-1-0type">
<xsd:sequence>

<xsd:element name="UED00010" type="UED00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員持株会が有する株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UED00020" type="UED00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の役員又は使用人が、ストックオプションによって取得した連結子法人となる法人の株式を有する場合の当該株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UED00030" type="UED00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(5)の株式数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UED00040" type="UED00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式総数(自己が有する自己の株式数を除く)のうちに占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UEF00000-1-0type">
<xsd:sequence>

<xsd:element name="UEF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEF00020" type="UEF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEF00030" type="UEF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEF00040" type="UEF00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式総数又は出資金額に対する保有株式数又は出資金額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UEF00050" type="UEF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資関係図における一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="UEB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UED00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UED00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UED00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UED00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEF00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEF00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UEF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UED00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="UED00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UEF00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="UEF00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
