etax/19XMLスキーマ/hojin/HOS100-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：連結納税の開始等に伴う時価評価資産に関する届出書付表(時価評価資産の状況)
version：2.0
Date：2008年12月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOS100-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOS100-2-0group">
<xsd:sequence>
<xsd:element name="HOS100">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="URA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="URB00000" type="URB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始直前事業年度等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="URC00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式交換の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="URD00000" type="URD00000-2-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"時価評価資産　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOS100-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="URB00000-2-0type">
<xsd:sequence>

<xsd:element name="URB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="URD00000-2-0type">
<xsd:sequence>

<xsd:element name="URD00010" type="URD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URD00020" type="URD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在する場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="URD00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URD00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
