etax/19XMLスキーマ/hojin/HOS310-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2(発行済株式等の状況)(通算用)
version：1.0
Date：2021年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOS310-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOS310-1-0group">
<xsd:sequence>
<xsd:element name="HOS310">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="MEA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算子法人となる法人の法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEB00000" type="MEB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算子法人となる法人の発行済株式の総数又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEC00000" type="MEC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算子法人となる法人が有する自己の株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MED00000" type="MED00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)－(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MEE00000" type="MEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法施行令第131条の11第２項により読み替えられた同令第４条の２第２項に規定する株式の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MEF00000" type="MEF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MEG00000" type="MEG00000-1-0type" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"通算子法人となる法人の株式又は出資を保有する法人の名称等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOS310-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MEE00000-1-0type">
<xsd:sequence>

<xsd:element name="MEE00010" type="MEE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員持株会が有する株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEE00020" type="MEE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の役員又は使用人が、ストックオプションによって取得した通算子法人となる法人の株式を有する場合の当該株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEE00030" type="MEE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)及び(5)の株式数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEE00040" type="MEE00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式の総数(自己が有する自己の株式数を除く)のうちに占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MEG00000-1-0type">
<xsd:sequence>

<xsd:element name="MEG00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEG00020" type="MEG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEG00030" type="MEG00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保有株式数又は出資金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEG00040" type="MEG00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行済株式の総数又は出資の総額に対する保有株式数又は出資金額の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MEG00050" type="MEG00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資関係図における一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MEB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MED00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEE00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEG00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEG00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MEG00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="MEE00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="MEE00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MEG00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="MEG00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
