etax/19XMLスキーマ/hojin/HOY442-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：受け入れた寄附金の明細表(第1表付表(次葉))
version：1.0
Date：2004年01月29日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY442-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY442-1-0group">
<xsd:sequence>
<xsd:element name="HOY442">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00000" type="VTD00000-1-0type" minOccurs="0" maxOccurs="25">
<xsd:annotation>
<xsd:appinfo>"受け入れた寄附金の明細表(第1表付表(次葉))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY442-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VTD00000-1-0type">
<xsd:sequence>

<xsd:element name="VTD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)寄附金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)左のうち基準限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


</xsd:schema>
