etax/19XMLスキーマ/hojin/HOY460-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定要件チェック表(第2表)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY460-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY460-1-0group">
<xsd:sequence>
<xsd:element name="HOY460">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="RYA00000" type="RYA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　直前2事業年度等における事業活動のうち次の活動の占める割合が50％未満であることの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="RYB00000" type="RYB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全ての事業活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYC00000" type="RYC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうちイ～ニの活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00000" type="RYD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業活動の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYE00000" type="RYE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準となる割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY460-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RYB00000-1-0type">
<xsd:sequence>

<xsd:element name="RYB00010" type="RYB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度　指標"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYB00015" type="RYB00015-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度　金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYB00020" type="RYB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度　指標"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYB00025" type="RYB00025-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度　金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RYC00000-1-0type">
<xsd:sequence>

<xsd:element name="RYC00010" type="RYC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYC00020" type="RYC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RYD00000-1-0type">
<xsd:sequence>

<xsd:element name="RYD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　会員等に対する資産の譲渡等の活動(対価を得ないで行われるもの等を除く)に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00020" type="RYD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00030" type="RYD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RYD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　会員等相互の交流、連絡又は意見交換その他その対象が会員等である活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00050" type="RYD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00060" type="RYD00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RYD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　便益が及ぶ者が特定の範囲の者である活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00080" type="RYD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00090" type="RYD00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RYD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ　特定の著作物又は特定の者に関する活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00110" type="RYD00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00120" type="RYD00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RYD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ニ　特定の者に対し、その者の意に反した作為又は不作為を求める活動に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00140" type="RYD00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00150" type="RYD00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RYD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RYD00170" type="RYD00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYD00180" type="RYD00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RYE00000-1-0type">
<xsd:sequence>

<xsd:element name="RYE00010" type="RYE00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RYE00020" type="RYE00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="RYA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYB00015-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYB00025-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYD00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYE00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RYE00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="RYE00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="RYE00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RYE00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="RYE00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
