etax/19XMLスキーマ/hojin/HOY442-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：受け入れた寄附金の明細表(第1表付表1(次葉))
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY442-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY442-2-0group">
<xsd:sequence>
<xsd:element name="HOY442">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00000" type="VTD00000-2-0type" minOccurs="0" maxOccurs="25">
<xsd:annotation>
<xsd:appinfo>"役員、社員等の同一の者からの寄附金の額が20万円以上のものの合計額  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTE00000" type="VTE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計(又は小計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY442-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="VTD00000-2-0type">
<xsd:sequence>

<xsd:element name="VTD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00020" type="VTD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員・社員の別、役員・社員との親族関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)寄附金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)欄と(B)(特定公益増進法人、認定NPO法人にあっては(C))欄のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)(1)のうち基準限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="VTE00000-2-0type">
<xsd:sequence>

<xsd:element name="VTE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)寄附金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)欄と(B)(特定公益増進法人、認定NPO法人にあっては(C))欄のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VTE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)(1)のうち基準限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="VTE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="VTE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="VTD00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
