etax/19XMLスキーマ/hojin/HOY470-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定要件チェック表(第3表)
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY470-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY470-2-0group">
<xsd:sequence>
<xsd:element name="HOY470">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="RZZ00000" type="RZZ00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併前の法人名及び対象となる事業年度又は年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZA00000" type="RZA00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　運営組織及び経理に関して次の要件を満たしていることの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="RZB00000" type="RZB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　役員又は社員の数のうち次の者の数の占める割合がそれぞれ3分の1以下であること"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00000" type="RZC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　会計について公認会計士又は監査法人の監査を受けていること、又は帳簿書類の備付け、取引の記録及び帳簿書類の保存について青色申告法人に準じて行われていること"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZD00000" type="RZD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ　支出した金銭の費途が明らかでないものがある等の不適正な経理が行われていないこと"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY470-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RZB00000-2-0type">
<xsd:sequence>

<xsd:element name="RZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役員)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00030" type="RZB00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)役員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00040" type="RZB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00050" type="RZB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00060" type="RZB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00070" type="RZB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00085" type="RZB00085-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00090" type="RZB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)役員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00100" type="RZB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00110" type="RZB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00120" type="RZB00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00130" type="RZB00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00145" type="RZB00145-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00150" type="RZB00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)役員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00160" type="RZB00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00170" type="RZB00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00180" type="RZB00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00190" type="RZB00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(社員)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00220" type="RZB00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)社員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00230" type="RZB00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00240" type="RZB00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00250" type="RZB00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人並びに当該法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00260" type="RZB00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00275" type="RZB00275-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00280" type="RZB00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)社員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00290" type="RZB00290-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00300" type="RZB00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00310" type="RZB00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人並びに当該法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00320" type="RZB00320-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZB00335" type="RZB00335-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00340" type="RZB00340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)社員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00350" type="RZB00350-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00360" type="RZB00360-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00370" type="RZB00370-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)最も人数が多い「特定の法人並びに当該法人の役員又は使用人である者及びこれらの者の親族等」グループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZB00380" type="RZB00380-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RZC00000-2-0type">
<xsd:sequence>

<xsd:element name="RZC00001" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZC00002" type="RZC00002-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00003" type="RZC00003-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会計について公認会計士又は監査法人の監査を受けている"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZC00020" type="RZC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00030" type="RZC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00040" type="RZC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿書類の備付け、取引の記録及び帳簿書類の保存を青色申告法人に準じて行っている"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZC00060" type="RZC00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00070" type="RZC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZC00080" type="RZC00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RZD00000-2-0type">
<xsd:sequence>

<xsd:element name="RZD00001" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZD00002" type="RZD00002-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZD00003" type="RZD00003-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RZD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"費途が明らかでない支出がある、帳簿に虚偽の記載がある等の不適正な経理の有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RZD00020" type="RZD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZD00030" type="RZD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RZD00040" type="RZD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RZZ00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZA00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00085-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00145-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00220-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00230-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00250-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00260-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00275-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00280-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00290-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00300-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00320-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00335-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00340-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00350-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00360-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00370-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZB00380-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZC00002-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZC00003-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RZC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZC00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZC00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZC00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZC00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZC00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="RZD00002-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RZD00003-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="RZD00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZD00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="RZD00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="RZB00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00290-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00290-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00320-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00320-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00340-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00350-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00350-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00360-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00360-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00370-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00370-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RZB00380-2-0type">
<xsd:simpleContent>
<xsd:extension base="RZB00380-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
