etax/19XMLスキーマ/hojin/HOY481-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：財産の運用及び事業運営の状況等(第4表付表)
version：4.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY481-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY481-4-0group">
<xsd:sequence>
<xsd:element name="HOY481">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOY481-1" type="HOY481-1-4-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY481-2" type="HOY481-2-4-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY481-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOY481-1-4-0type">
<xsd:sequence>

<xsd:element name="SEZ00000" type="SEZ00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併前の法人名及び対象となる事業年度又は年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　財産の運用及び事業運営の状況等の注意事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00020" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"イ　資産の譲渡(棚卸資産を含む)　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00040" type="SEB00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00050" type="SEB00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00080" type="SEB00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の取引条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00090" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"ロ　資産の貸付(金銭の貸付を含む)　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00110" type="SEB00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00120" type="SEB00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付資産の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00150" type="SEB00150-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の取引条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY481-2-4-0type">
<xsd:sequence>

<xsd:element name="SEB00153" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　財産の運用及び事業運営の状況等の注意事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00156" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00160" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"ハ　役務の提供(施設の利用等を含む)　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00170" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00180" type="SEB00180-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00190" type="SEB00190-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務の提供の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務の提供年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00220" type="SEB00220-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の取引条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00223" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)  給与を得た従業員の総数及び総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00226" type="SEB00226-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与を得た従業員の総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00229" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の従業員に対する給与総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00230" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"(3)　役員報酬及び従業員給与の支給　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEB00240" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00250" type="SEB00250-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00260" type="SEB00260-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給期間等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEB00300" type="SEB00300-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)　役員の選任その他財産の運用及び事業の運営に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SEC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　支出した寄附金(申請書の提出日を含む事業年度開始の日前2年間及び同事業年度開始の日から申請書の提出の日までに支出した寄附金)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEC00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"支出した寄附金の内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SEC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出先の名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SEC00060" type="SEC00060-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附の目的等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="SEZ00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00050-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00080-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00110-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00120-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00150-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00180-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00190-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00220-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00226-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00250-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00260-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEB00300-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SEC00060-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="SEB00226-4-0type">
<xsd:simpleContent>
<xsd:extension base="SEB00226-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
