etax/19XMLスキーマ/hojin/HOY472-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：社員の状況(第3表付表2)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY472-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY472-1-0group">
<xsd:sequence>
<xsd:element name="HOY472">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="SBA00000" type="SBA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併前の法人名及び対象となる事業年度又は年"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="SBA00010" type="SBA00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="SBA00030" type="SBA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00040" type="SBA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="SBA00050" type="SBA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00000" type="SBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY472-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SBA00010-1-0type">
<xsd:sequence>

<xsd:element name="SBA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SBA00050-1-0type">
<xsd:sequence>

<xsd:element name="SBA00060" type="SBA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00070" type="SBA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00080" type="SBA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数が多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SBA00100" type="SBA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00110" type="SBA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00120" type="SBA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SBA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数が多い「特定の法人並びに当該法人の役員若しくは使用人である者及びこれらの者の親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SBA00140" type="SBA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00150" type="SBA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBA00160" type="SBA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SBB00000-1-0type">
<xsd:sequence>

<xsd:element name="SBB00010" type="SBB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00020" type="SBB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00030" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"社員の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SBB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00060" type="SBB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00070" type="SBB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入社等の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SBB00090" type="SBB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00100" type="SBB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00110" type="SBB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入社年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SBB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退社年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="SBA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SBB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SBA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SBA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="SBA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
