etax/19XMLスキーマ/hojin/HOY440-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定要件チェック表(第1表)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY440-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY440-1-0group">
<xsd:sequence>
<xsd:element name="HOY440">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAA00000" type="GAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GAB00000" type="GAB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　総収入金額から補助金等を控除した金額のうちに受入寄附金総額から基準限度超過額等を控除した金額の占める割合が3分の1以上であることの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GAC00000" type="GAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額から補助金等を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAD00000" type="GAD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00000" type="GAE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAF00000" type="GAF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAG00000" type="GAG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受入寄附金総額から基準限度超過額等を控除した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAH00000" type="GAH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受入寄附金総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAI00000" type="GAI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAJ00000" type="GAJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAK00000" type="GAK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準となる割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY440-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GAA00000-1-0type">
<xsd:sequence>

<xsd:element name="GAA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAC00000-1-0type">
<xsd:sequence>

<xsd:element name="GAC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAD00000-1-0type">
<xsd:sequence>

<xsd:element name="GAD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAE00000-1-0type">
<xsd:sequence>

<xsd:element name="GAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国、地方公共団体又は我が国が加盟している国際機関（以下「国等」という。）の補助金その他国等が反対給付を受けないで交付するものの金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託の対価としての収入で国等から支払われるものの金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法律等の規定に基づく事業で、その対価を国等が負担することとされている場合の負担金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の売却収入で臨時的なものの金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺贈により受け入れた寄附金等のうち基準限度超過額に相当する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者の氏名又は名称が明らかなもののうち、同一の者からの寄附金で事業年度中（又は年間）の合計額が1千円未満のものの額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者の氏名又は名称が明らかでない寄附金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAF00000-1-0type">
<xsd:sequence>

<xsd:element name="GAF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAG00000-1-0type">
<xsd:sequence>

<xsd:element name="GAG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAH00000-1-0type">
<xsd:sequence>

<xsd:element name="GAH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAI00000-1-0type">
<xsd:sequence>

<xsd:element name="GAI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一者当たり基準限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者の氏名又は名称が明らかなもののうち、同一の者からの寄附金で事業年度中（又は年間）の合計額が1千円未満のものの額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者の氏名又は名称が明らかでない寄附金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAJ00000-1-0type">
<xsd:sequence>

<xsd:element name="GAJ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GAK00000-1-0type">
<xsd:sequence>

<xsd:element name="GAK00010" type="GAK00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAK00020" type="GAK00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="GAB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAK00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAK00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GAK00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAK00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAK00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAK00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
