etax/19XMLスキーマ/hojin/HOY500-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定要件チェック表(第6表)(第7表)(第8表)
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY500-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY500-2-0group">
<xsd:sequence>
<xsd:element name="HOY500">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SGA00000" type="SGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定要件チェック表(第6表)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGB00000" type="SGB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定要件チェック表(第7表)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGC00000" type="SGC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定要件チェック表(第8表)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY500-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SGA00000-2-0type">
<xsd:sequence>

<xsd:element name="SGA00005" type="SGA00005-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併前の法人名及び対象となる事業年度又は年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00010" type="SGA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6　法令に違反する事実、偽りその他不正の行為により何らかの利益を得、又は得ようとした事実その他公益に反する事実がないことの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法令に違反する事実、偽りその他不正の行為により何らかの利益を得、又は得ようとした事実その他公益に反する事実の有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SGA00030" type="SGA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00035" type="SGA00035-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00040" type="SGA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前事業年度　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00045" type="SGA00045-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGA00050" type="SGA00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SGB00000-2-0type">
<xsd:sequence>

<xsd:element name="SGB00010" type="SGB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7　申請書を提出した日を含む事業年度開始の日(事業年度の定めがない場合には、申請書を提出した日を含む年の1月1日)において、その設立の日以後1年を超える期間(現在、認定を受けている法人の場合には、当該認定に係る直前2事業年度等の最後の事業年度の翌事業年度開始の日又は最後の年の翌年の1月1日以後2年以上の期間)が経過していることの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度の定めの有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SGB00030" type="SGB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGB00040" type="SGB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( )月決算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SGB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の認定に係る直前2事業年度等の最後の事業年度の翌事業年度開始の日(事業年度の定めがない場合には最後の年の翌年の１月１日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SGC00000-2-0type">
<xsd:sequence>

<xsd:element name="SGC00010" type="SGC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8　認定申請の際、所轄庁からの法令、法令に基づく行政庁の処分又は定款に違反する疑いがあると認められる相当の理由がない旨の証明書の交付を受けていることの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SGC00020" type="SGC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄庁(都道府県知事又は内閣総理大臣)の証明書の交付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="SGA00005-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SGA00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SGA00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SGA00035-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SGA00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SGA00045-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SGA00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SGB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SGB00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="SGB00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SGC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SGC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="SGB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="SGB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
