etax/19XMLスキーマ/hojin/HOY550-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：租税特別措置法施行令第39条の22の2第1項第5号ニに定める事項を記載した書類
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY550-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY550-1-0group">
<xsd:sequence>
<xsd:element name="HOY550">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOY550-1" type="HOY550-1-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-2" type="HOY550-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-3" type="HOY550-3-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"3面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-4" type="HOY550-4-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"4面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-5" type="HOY550-5-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"5面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-6" type="HOY550-6-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"6面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-7" type="HOY550-7-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"7面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY550-8" type="HOY550-8-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"8面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY550-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOY550-1-1-0type">
<xsd:sequence>

<xsd:element name="SLA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　資金に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLB00010" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"(1)　収入金額の源泉別の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLB00020" type="SLB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入源泉の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLB00060" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"(2)　借入金の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLB00070" type="SLB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLB00110" type="SLB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-2-1-0type">
<xsd:sequence>

<xsd:element name="SLC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　資産の譲渡等の内容に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLC00010" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"(1)　資産の譲渡に係る料金及び条件等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLC00020" type="SLC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00040" type="SLC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLC00050" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"(2)　資産の貸付けに係る料金及び条件等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLC00060" type="SLC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付資産の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00080" type="SLC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLC00090" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"(3)　役務の提供に係る料金及び条件等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLC00100" type="SLC00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務の提供の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLC00120" type="SLC00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条件等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-3-1-0type">
<xsd:sequence>

<xsd:element name="SLD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　取引の内容に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLD00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"(1)　収入の生じる取引の上位5者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00050" type="SLD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLD00060" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"(2)　支出の生じる取引の上位5者　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLD00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00100" type="SLD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLD00110" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"(3)　役員、社員、従業員若しくは寄附者又はこれらの者の親族等との取引　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLD00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00130" type="SLD00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLD00160" type="SLD00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-4-1-0type">
<xsd:sequence>

<xsd:element name="SLE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)　会員制度に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLE00010" type="SLE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　会員の資格要件"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLE00020" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"(2)　会員の住所又は事務所の所在地の属する市区町村別の数　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLE00030" type="SLE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市区町村名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLE00040" type="SLE00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLE00060" type="SLE00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLE00070" type="SLE00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　会費制度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLE00080" type="SLE00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)　会員制度の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-5-1-0type">
<xsd:sequence>

<xsd:element name="SLF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)　受入寄附金に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLF00010" type="SLF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　寄附金の募集に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLF00020" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"(2)　受け入れた寄附金の使途の実績に関する事項　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLF00030" type="SLF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-6-1-0type">
<xsd:sequence>

<xsd:element name="SLG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)　寄附者に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLG00010" minOccurs="0" maxOccurs="30">
<xsd:annotation>
<xsd:appinfo>"寄附者に関する内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLG00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受領年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-7-1-0type">
<xsd:sequence>

<xsd:element name="SLH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)　役員報酬及び従業員給与に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLH00010" minOccurs="0" maxOccurs="17">
<xsd:annotation>
<xsd:appinfo>"(1)　報酬を受けた役員の氏名及びその金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLH00060" minOccurs="0" maxOccurs="31">
<xsd:annotation>
<xsd:appinfo>"(2)　給与を得た従業員の氏名及びその金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLH00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY550-8-1-0type">
<xsd:sequence>

<xsd:element name="SLI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)　支出した寄附金に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLI00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"支出した寄附金に関する内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLI00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLI00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出先の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLI00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLI00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SLJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)　海外への送金等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLJ00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"海外への送金等に関する内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SLJ00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLJ00030" type="SLJ00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SLJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="SLB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLC00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLD00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLD00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLE00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1000"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLF00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SLJ00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SLE00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="SLE00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SLE00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="SLE00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
