etax/19XMLスキーマ/hojin/HOY530-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：寄附金を充当する予定の事業内容等(租税特別措置法施行令第39条の23第3項第4号に規定する書類)
version：2.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY530-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY530-2-0group">
<xsd:sequence>
<xsd:element name="HOY530">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SJA00000" type="SJA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00000" type="SJB00000-2-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"事業内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJC00000" type="SJC00000-2-0type" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"寄附金の受入及び支出に利用する銀行口座名　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY530-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SJA00000-2-0type">
<xsd:sequence>

<xsd:element name="SJA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJB00000-2-0type">
<xsd:sequence>

<xsd:element name="SJB00010" type="SJB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00020" type="SJB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的な事業内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施予定年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施予定場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00050" type="SJB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事者の予定人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00060" type="SJB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受益対象者の範囲及び予定人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金充当予定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="SJC00000-2-0type">
<xsd:sequence>

<xsd:element name="SJC00010" type="SJC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行口座名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="SJB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SJC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="SJB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="SJB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SJB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="SJB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
