etax/19XMLスキーマ/hojin/HOY762-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年金特定(金銭)信託契約の変更の状況　第2号様式付表
version：1.0
Date：2004年02月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY762-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY762-1-0group">
<xsd:sequence>
<xsd:element name="HOY762">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UIB00000" type="UIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金特定（金銭）信託契約等に係る定型的な契約書の認定事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UIE00000" type="UIE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記の適格退職年金契約について次の理由により＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UIC00000" type="UIC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="UID00000" type="UID00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY762-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UIB00000-1-0type">
<xsd:sequence>

<xsd:element name="UIB00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UIB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UIB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UIB00040" type="UIB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UIB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UIB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UIB00070" type="UIB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UID00000-1-0type">
<xsd:sequence>

<xsd:element name="UID00010" type="UID00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00015" type="UID00015-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UID00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00050" type="UID00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UID00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UID00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00080" type="UID00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UID00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の契約変更日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UID00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00120" type="UID00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UID00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UID00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00150" type="UID00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UID00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UID00162" type="UID00162-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00165" type="UID00165-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UID00170" type="UID00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UID00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約変更日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="UIB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UIB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UIE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UIC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00015-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00162-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00165-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UID00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
