etax/19XMLスキーマ/hojin/HOY760-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：適格退職年金契約の承認申請書(届出書)　第1号様式
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY760-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY760-1-0group">
<xsd:sequence>
<xsd:element name="HOY760">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOY760-1" type="HOY760-1-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOY760-2" type="HOY760-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY760-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOY760-1-1-0type">
<xsd:sequence>

<xsd:element name="TGA00000" type="TGA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例区分(表題)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGA00005" type="TGA00005-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認申請書又は届出書の区分(表題)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定型的な契約書の認定事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00030" type="TGB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00040" type="TGB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00045" type="TGB00045-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00070" type="TGB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00080" type="TGB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGB00085" type="TGB00085-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託機関等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受託機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00040" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当部長の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGC00060" type="TGC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引受割合等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00070" type="TGC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00080" type="TGC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約形態"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業主"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は本店等の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGC00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は本店等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGC00125" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名(  )"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本又は出資の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00150" type="TGC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00160" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00170" type="TGC00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"厚生年金基金加入有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00180" type="TGC00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGC00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGE00000" type="TGE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の退職年金契約について法人税法施行令附則第17条＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認申請書（届出書）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規程施行日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00012" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00015" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(　)書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入資格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00050" type="TGD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入資格区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00060" type="TGD00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤続＿年以上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00065" type="TGD00065-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容ａ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00070" type="TGD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢＿歳以上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00080" type="TGD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容ｂ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00100" type="TGD00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00105" type="TGD00105-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人総数  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00110" type="TGD00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入資格者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00120" type="TGD00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"掛金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常掛金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立方式"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立方式区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00162" type="TGD00162-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 到達年齢方式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00164" type="TGD00164-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 加入年齢方式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00170" type="TGD00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿歳）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00172" type="TGD00172-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 一時払積増方式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00174" type="TGD00174-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4 ＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00180" type="TGD00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4 ＿(内容)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"掛金等の形態"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"形態区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00202" type="TGD00202-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00204" type="TGD00204-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 給与に対する一定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00206" type="TGD00206-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 ＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00210" type="TGD00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 ＿(内容)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00215" type="TGD00215-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"余白"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去勤務債務の掛金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00230" type="TGD00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理方式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"掛金等の形態"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00242" type="TGD00242-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00244" type="TGD00244-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00246" type="TGD00246-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与に対する一定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00248" type="TGD00248-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去勤務債務等の現在額に対する一定割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00249" type="TGD00249-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"余白"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00270" type="TGD00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年＿％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"初期総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人掛金等の負担"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00300" type="TGD00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00310" type="TGD00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（負担割合＿％）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00315" type="TGD00315-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去勤務債務等の額に係る掛金等についても負担することとしている場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標準者１人当たり月額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常掛金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去勤務債務等の掛金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給付水準の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常掛金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均標準報酬月額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記の３５／１０００(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00400" type="TGD00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常掛金額等／(1)の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOY760-2-1-0type">
<xsd:sequence>

<xsd:element name="TGD00405" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認申請書（届出書）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選択一時金支給の有無"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00430" type="TGD00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00440" type="TGD00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（年金現価の＿％・保証期間）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00445" type="TGD00445-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給資格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00470" type="TGD00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00475" type="TGD00475-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00480" type="TGD00480-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00485" type="TGD00485-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中途脱退"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00500" type="TGD00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00505" type="TGD00505-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00510" type="TGD00510-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00515" type="TGD00515-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺族"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00530" type="TGD00530-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00535" type="TGD00535-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00540" type="TGD00540-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00545" type="TGD00545-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時金　下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金の受給資格の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00560" type="TGD00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給資格充足割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00570" type="TGD00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"判定基礎年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標準者の定年退職年金月額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00600" type="TGD00600-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終身"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00605" type="TGD00605-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00610" type="TGD00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金現価総額の＿％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00620" type="TGD00620-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00630" type="TGD00630-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証＿年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00650" type="TGD00650-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定昇給率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00670" type="TGD00670-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00680" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 平成＿年＿月＿日現在の給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00690" type="TGD00690-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 ＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定脱退率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00710" type="TGD00710-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00720" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 平成＿年＿月＿日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00730" type="TGD00730-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前＿年間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00740" type="TGD00740-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実績の＿％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00750" type="TGD00750-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 ＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定死亡率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00770" type="TGD00770-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿回生命表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00780" type="TGD00780-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿回簡速表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00790" type="TGD00790-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00800" type="TGD00800-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00810" type="TGD00810-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（予定残存率）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再計算の時期"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00830" type="TGD00830-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１回＿年目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00840" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（平成＿年＿月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00850" type="TGD00850-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２回以降＿年ごと"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定年の定め"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00870" type="TGD00870-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有無区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00880" type="TGD00880-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00890" type="TGD00890-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 労働協約　第＿条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00900" type="TGD00900-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 就業規則　第＿条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00910" type="TGD00910-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿歳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準給与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定め"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00940" type="TGD00940-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記入欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00950" type="TGD00950-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00960" type="TGD00960-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職年金規程の性格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD00980" type="TGD00980-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD00990" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 労働協約（平成＿・＿・＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 就業規則（平成＿・＿・＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職年金規程と退職金規程との関係"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD01012" type="TGD01012-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金単給"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01014" type="TGD01014-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職金の外枠支給"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01016" type="TGD01016-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職金の内枠支給"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD01020" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"共同委託（結合）契約の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TGD01030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会社名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01050" type="TGD01050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持株割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01060" type="TGD01060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加入者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01070" type="TGD01070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"厚生年金基金加入の有・無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="TGD01080" type="TGD01080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"複数契約の場合の引受割合等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TGD01090" type="TGD01090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の特記事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="TGA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGA00005-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGB00045-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGB00085-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGC00170-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGC00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGE00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00065-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00105-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00162-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00164-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00172-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00174-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00202-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00204-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00206-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00215-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00242-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00244-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00246-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00248-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00249-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00270-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00300-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00310-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00315-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00400-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00430-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00440-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00445-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00470-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00475-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00480-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00485-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00505-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00510-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00515-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00530-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00535-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00540-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00545-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00560-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00600-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00605-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00610-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00620-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00630-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00650-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00670-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00690-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00710-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00730-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00740-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00750-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00770-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00780-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00790-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00800-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00810-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00830-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00850-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00870-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD00880-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD00890-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00900-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00910-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00940-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00950-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD00960-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="TGD00980-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD01012-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD01014-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="TGD01016-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="TGD01050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD01060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD01070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD01080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TGD01090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="TGD00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00105-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00105-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00630-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00630-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00650-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00650-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00730-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00730-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00740-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00740-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00770-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00770-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00780-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00780-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00800-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00800-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00810-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00810-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00830-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00830-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00850-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00850-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD00910-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD00910-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD01050-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD01050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="TGD01060-1-0type">
<xsd:simpleContent>
<xsd:extension base="TGD01060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
