etax/19XMLスキーマ/hojin/HOY765-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年金特定(金銭)信託契約の変更の状況　第2号の2様式付表2
version：1.0
Date：2004年02月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY765-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY765-1-0group">
<xsd:sequence>
<xsd:element name="HOY765">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00000" type="ULB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金特定（金銭）信託契約に係る定型的な契約書の認定事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ULE00000" type="ULE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記の＿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULC00000" type="ULC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ULD00000" type="ULD00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY765-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ULB00000-1-0type">
<xsd:sequence>

<xsd:element name="ULB00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00040" type="ULB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULB00070" type="ULB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ULD00000-1-0type">
<xsd:sequence>

<xsd:element name="ULD00010" type="ULD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00015" type="ULD00015-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00050" type="ULD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00080" type="ULD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULD00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直前の契約変更日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULD00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00120" type="ULD00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00150" type="ULD00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ULD00162" type="ULD00162-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"かっこ書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00164" type="ULD00164-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ULD00170" type="ULD00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ULD00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約変更日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ULB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00015-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00162-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00164-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ULD00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
