etax/19XMLスキーマ/hojin/HOY764-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年金特定(金銭)信託契約の新規契約の状況　第2号の2様式付表1
version：1.0
Date：2004年02月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY764-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY764-1-0group">
<xsd:sequence>
<xsd:element name="HOY764">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UKA00000" type="UKA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金特定（金銭）信託契約に係る定型的な契約書の認定事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKB00000" type="UKB00000-1-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY764-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UKA00000-1-0type">
<xsd:sequence>

<xsd:element name="UKA00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UKA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UKA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKA00040" type="UKA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UKA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UKA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKA00070" type="UKA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UKA00080" type="UKA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の退職年金契約について法人税法施行令附則第17条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UKB00000-1-0type">
<xsd:sequence>

<xsd:element name="UKB00010" type="UKB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKB00015" type="UKB00015-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号(後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKB00020" type="UKB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKB00030" type="UKB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UKB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="UKA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UKA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UKA00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UKB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UKB00015-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UKB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UKB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
