etax/19XMLスキーマ/hojin/HOY741-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年金特定(金銭)信託契約の状況　第1号様式付表
version：1.0
Date：2004年05月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY741-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY741-1-0group">
<xsd:sequence>
<xsd:element name="HOY741">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00000" type="UAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年金特定（金銭）信託契約に係る定型的な契約書の認定事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00000" type="UAB00000-1-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY741-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UAA00000-1-0type">
<xsd:sequence>

<xsd:element name="UAA00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00040" type="UAA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00070" type="UAA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00080" type="UAA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の退職年金契約について法人税法施行令附則第17条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UAB00000-1-0type">
<xsd:sequence>

<xsd:element name="UAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00020" type="UAB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00030" type="UAB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00040" type="UAB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00050" type="UAB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資顧問業者の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約締結日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="UAA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UAA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UAA00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UAB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UAB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UAB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UAB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
