etax/19XMLスキーマ/hojin/HOY831-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表1(事前確定届出給与等の状況(金銭交付用))
version：5.0
Date：2021年11月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY831-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY831-5-0group">
<xsd:sequence>
<xsd:element name="HOY831">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HSA00000" type="HSA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No."</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HSB00000" type="HSB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者の氏名(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSC00000" type="HSC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与に係る職務の執行の開始の日(職務執行期間)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSD00000" type="HSD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSE00000" type="HSE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務執行期間開始の日の属する会計期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSF00000" type="HSF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSG00000" type="HSG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与以外の給与に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY831-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HSB00000-5-0type">
<xsd:sequence>

<xsd:element name="HSB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSB00020" type="HSB00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HSC00000-5-0type">
<xsd:sequence>

<xsd:element name="HSC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(職務執行期間)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HSD00000-5-0type">
<xsd:sequence>

<xsd:element name="HSD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HSE00000-5-0type">
<xsd:sequence>

<xsd:element name="HSE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HSF00000-5-0type">
<xsd:sequence>

<xsd:element name="HSF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務執行期間開始の日の属する会計期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HSF00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HSF00150" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"今回の届出額  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HSF00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌会計期間以後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00190" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"今回の届出額  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSF00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HSG00000-5-0type">
<xsd:sequence>

<xsd:element name="HSG00040" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"金銭による給与(業績連動給与を除く)　職務執行期間開始の日の属する会計期間  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HSG00070" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"金銭による給与(業績連動給与を除く)　翌会計期間以後  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HSG00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HSG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HSG00100" type="HSG00100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業績連動給与又は金銭以外の資産による給与の支給時期及び概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HSA00000-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HSB00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HSG00100-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HSA00000-5-0type">
<xsd:simpleContent>
<xsd:extension base="HSA00000-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
