etax/19XMLスキーマ/hojin/HOY833-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2(事前確定届出給与等の状況(株式等交付用))
version：1.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY833-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY833-1-0group">
<xsd:sequence>
<xsd:element name="HOY833">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="LCA00000" type="LCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No."</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="LCB00000" type="LCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者の氏名(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCC00000" type="LCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与に係る職務の執行の開始の日(職務執行期間)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCD00000" type="LCD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該(連結)事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCE00000" type="LCE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務執行期間開始の日の属する会計期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00000" type="LCF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　事前確定届出給与に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCG00000" type="LCG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　事前確定届出給与以外の給与に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY833-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="LCB00000-1-0type">
<xsd:sequence>

<xsd:element name="LCB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCB00020" type="LCB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LCC00000-1-0type">
<xsd:sequence>

<xsd:element name="LCC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与に係る職務の執行の開始の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(職務執行期間)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LCD00000-1-0type">
<xsd:sequence>

<xsd:element name="LCD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LCE00000-1-0type">
<xsd:sequence>

<xsd:element name="LCE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LCF00000-1-0type">
<xsd:sequence>

<xsd:element name="LCF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務執行期間開始の日の属する会計期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00040" type="LCF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付する株式又は新株予約権の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00050" type="LCF00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付決議時価額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権の額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00100" type="LCF00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付する株式又は新株予約権の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00110" type="LCF00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付決議時価額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権の額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCF00140" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"今回の届出内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00160" type="LCF00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付する株式又は新株予約権の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00170" type="LCF00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付決議時価額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権の額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌会計期間以後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00210" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"今回の届出内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCF00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00230" type="LCF00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付する株式又は新株予約権の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00240" type="LCF00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付決議時価額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭債権の額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCF00270" type="LCF00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条件その他の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="LCG00000-1-0type">
<xsd:sequence>

<xsd:element name="LCG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭による給与(業績連動給与を除く。)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCG00020" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"職務執行期間開始の日の属する会計期間  繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCG00050" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"翌会計期間以後　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="LCG00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LCG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LCG00080" type="LCG00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業績連動給与又は金銭以外の資産による給与の支給時期及び概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="LCA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCF00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LCG00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="LCA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="LCA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LCF00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="LCF00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LCF00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="LCF00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LCF00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="LCF00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LCF00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="LCF00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
