etax/19XMLスキーマ/hojin/HOY832-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2(事前確定届出給与対象者以外の役員に対する給与の状況)
version：1.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOY832-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOY832-1-0group">
<xsd:sequence>
<xsd:element name="HOY832">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HTA00000" type="HTA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No."</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HTB00000" type="HTB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者以外の役員の氏名(役職名)　左上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTC00000" type="HTC00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し　左上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTD00000" type="HTD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者以外の役員の氏名(役職名)　右上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTE00000" type="HTE00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し　右上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTF00000" type="HTF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者以外の役員の氏名(役職名)　左下"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTG00000" type="HTG00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し　左下"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTH00000" type="HTH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確定届出給与対象者以外の役員の氏名(役職名)　右下"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTI00000" type="HTI00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し　右下"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOY832-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HTB00000-1-0type">
<xsd:sequence>

<xsd:element name="HTB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTB00020" type="HTB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTC00000-1-0type">
<xsd:sequence>

<xsd:element name="HTC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTD00000-1-0type">
<xsd:sequence>

<xsd:element name="HTD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTD00020" type="HTD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTE00000-1-0type">
<xsd:sequence>

<xsd:element name="HTE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTF00000-1-0type">
<xsd:sequence>

<xsd:element name="HTF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTF00020" type="HTF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTG00000-1-0type">
<xsd:sequence>

<xsd:element name="HTG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTH00000-1-0type">
<xsd:sequence>

<xsd:element name="HTH00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTH00020" type="HTH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HTI00000-1-0type">
<xsd:sequence>

<xsd:element name="HTI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給時期(年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HTI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給金額(円)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HTA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HTB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HTD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HTF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HTH00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HTA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="HTA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
