etax/19XMLスキーマ/hojin/HOZ060-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：外国普通法人となった旨の届出書
version：6.0
Date：2019年10月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ060-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ060-6-0group">
<xsd:sequence>
<xsd:element name="HOZ060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00000" type="MFA00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFB00000" type="MFB00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第141条各号に定める国内源泉所得に係る事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFC00000" type="MFC00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第141条各号に定める国内源泉所得に係る資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFD00000" type="MFD00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第141条各号に定める国内源泉所得に係る資産　事業年度１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFE00000" type="MFE00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第141条各号に定める国内源泉所得に係る資産　事業年度２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFF00000" type="MFF00000-6-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"法人税法第141条各号に定める国内源泉所得に係る資産　資産の種類及び所在地　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MFG00000" type="MFG00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(備考)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFH00000" type="MFH00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「給与支払事務所等の開設届出書」の提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MFI00000" type="MFI00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ060-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MFA00000-6-0type">
<xsd:sequence>

<xsd:element name="MFA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00066" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFA00170" type="MFA00170-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在国"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00075" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFA00180" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFA00135" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFA00150" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFB00000-6-0type">
<xsd:sequence>

<xsd:element name="MFB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業を開始した日又はその開始予定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFB00030" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFB00040" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MFB00060" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFB00070" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MFB00120" type="MFB00120-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の目的及び種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFC00000-6-0type">
<xsd:sequence>

<xsd:element name="MFC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産を有することとなった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFD00000-6-0type">
<xsd:sequence>

<xsd:element name="MFD00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFD00020" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFE00000-6-0type">
<xsd:sequence>

<xsd:element name="MFE00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFE00020" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFF00000-6-0type">
<xsd:sequence>

<xsd:element name="MFF00010" type="MFF00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MFI00000-6-0type">
<xsd:sequence>

<xsd:element name="MFI00010" type="MFI00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　定款等の和訳文"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFI00050" type="MFI00050-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MFI00060" type="MFI00060-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MFA00170-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MFB00120-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="180"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MFF00010-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MFG00000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MFH00000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MFI00010-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MFI00050-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MFI00060-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
