etax/19XMLスキーマ/hojin/HOZ091-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：欠損金の繰戻しによる還付請求書(平成30年4月1日以後終了事業年度分)
version：1.0
Date：2018年10月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ091-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ091-1-0group">
<xsd:sequence>
<xsd:element name="HOZ091">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00000" type="BQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00000" type="BQB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ091-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BQA00000-1-0type">
<xsd:sequence>

<xsd:element name="BQA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQA00100" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00150" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQA00170" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00180" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00190" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BQB00000-1-0type">
<xsd:sequence>

<xsd:element name="BQB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損事業年度の欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち還付所得事業年度に繰り戻す欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付の確定した法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国関係会社等に係る控除対象所得税額等相当額の控除額及び仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金の繰戻しにより還付を受けた法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BQB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQB00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定申告書提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
