etax/19XMLスキーマ/hojin/HOZ170-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：異動届出書
version：7.0
Date：2017年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ170-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ170-7-0group">
<xsd:sequence>
<xsd:element name="HOZ170">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00000" type="MQA00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MQX00000" type="MQX00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQZ00000" type="MQZ00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動のあった連結子法人、連結子法人となる法人、異動のあった法人に係る連結親法人、連結親法人となる法人 区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MQY00000" type="MQY00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動のあった連結子法人、連結子法人となる法人、異動のあった法人に係る連結親法人、連結親法人となる法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQB00000" type="MQB00000-7-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MQA10000" type="MQA10000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地を変更した場合　給与支払事務所等の移転の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MQP00000" type="MQP00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度を変更した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00000" type="MQQ00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併、分割の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MQR00000" type="MQR00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQT00000" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ170-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MQA00000-7-0type">
<xsd:sequence>

<xsd:element name="MQA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人等の名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00061" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00063" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00066" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00081" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00083" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00086" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQA00088" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQA00121" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00123" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQA00126" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MQY00000-7-0type">
<xsd:sequence>

<xsd:element name="MQY00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQY00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQY00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地(本店又は主たる事務所の所在地)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQY00050" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局＿署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQY00070" type="MQY00070-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00080" type="MQY00080-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQY00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00100" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQY00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQY00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQY00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQY00150" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQY00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MQB00000-7-0type">
<xsd:sequence>

<xsd:element name="MQB00100" type="MQB00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等の該当する法人の親・子の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地の異動"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQC00100" type="MQC00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQC00210" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00220" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧納税地住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00230" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00240" type="MQC00240-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQC00310" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00320" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新納税地住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00330" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQC00340" type="MQC00340-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQC00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度の変更"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00100" type="MQD00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期的な決算の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00220" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧決算月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQD00230" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧決算日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"それ以外の決算の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00250" type="MQD00250-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期的な決算の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00320" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新決算月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQD00330" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新決算日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"それ以外の決算の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQD00350" type="MQD00350-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQD00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更後の事業年度開始日（異動年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商号の変更"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQE00100" type="MQE00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQE00220" type="MQE00220-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織区分（前・後）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00240" type="MQE00240-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織区分（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00260" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名称（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00280" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧法人名称（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQE00320" type="MQE00320-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織区分（前・後）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00340" type="MQE00340-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"組織区分（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00360" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新法人名称（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQE00380" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新法人名称（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQE00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の変更"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQF00100" type="MQF00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQF00210" type="MQF00210-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧代表者氏名（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00230" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧代表者氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00240" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧代表者住所（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00260" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQF00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQF00310" type="MQF00310-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00320" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新代表者氏名（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00330" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新代表者氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00340" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新代表者住所（漢字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQF00360" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQF00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金額等の異動（増資及び減資）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQG00100" type="MQG00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQG00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧資本金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQG00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新資本金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQG00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業目的の変更"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQH00100" type="MQH00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQH00200" type="MQH00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQH00300" type="MQH00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQH00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店・工場等の異動"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQI00100" type="MQI00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQI00200" type="MQI00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQI00300" type="MQI00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQI00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収合併（適格）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQJ00100" type="MQJ00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQJ00200" type="MQJ00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQJ00300" type="MQJ00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQJ00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収合併（その他）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQK00100" type="MQK00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQK00200" type="MQK00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQK00300" type="MQK00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQK00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割(適格・分割型)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQL00100" type="MQL00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQL00200" type="MQL00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQL00300" type="MQL00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQL00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割（適格・分社型）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQM00100" type="MQM00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQM00200" type="MQM00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQM00300" type="MQM00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQM00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割(適格・その他)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQN00100" type="MQN00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQN00200" type="MQN00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQN00300" type="MQN00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQN00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割（その他・分割型）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQU00100" type="MQU00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQU00200" type="MQU00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQU00300" type="MQU00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQU00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQV00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割（その他・分社型）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQV00100" type="MQV00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQV00200" type="MQV00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQV00300" type="MQV00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQV00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQW00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"吸収分割（その他・その他）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQW00100" type="MQW00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQW00200" type="MQW00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQW00300" type="MQW00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQW00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQO00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQO00100" type="MQO00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQO00200" type="MQO00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQO00300" type="MQO00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQO00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQS00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人区分の変更"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQS00100" type="MQS00100-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQS00200" type="MQS00200-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQS00300" type="MQS00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQS00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動年月日（登記年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MQP00000-7-0type">
<xsd:sequence>

<xsd:element name="MQP00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更後最初の事業年度（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQP00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更後最初の事業年度（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MQQ00000-7-0type">
<xsd:sequence>

<xsd:element name="MQQ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQQ00020" type="MQQ00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格合併"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00030" type="MQQ00030-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非適格合併"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MQQ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MQQ00050" type="MQQ00050-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割型分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00053" type="MQQ00053-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割型分割　適格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00056" type="MQQ00056-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割型分割　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00060" type="MQQ00060-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分社型分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00063" type="MQQ00063-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分社型分割　適格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MQQ00066" type="MQQ00066-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分社型分割　その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="MQX00000-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQZ00000-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQY00070-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQY00080-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQB00100-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQC00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQC00240-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQC00340-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQD00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="02"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQD00250-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQD00350-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQE00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="03"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQE00220-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQE00240-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="28"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="19"/><xsd:enumeration value="20"/><xsd:enumeration value="21"/><xsd:enumeration value="22"/><xsd:enumeration value="23"/><xsd:enumeration value="30"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="27"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQE00320-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQE00340-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="28"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="19"/><xsd:enumeration value="20"/><xsd:enumeration value="21"/><xsd:enumeration value="22"/><xsd:enumeration value="23"/><xsd:enumeration value="30"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="27"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQF00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="04"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQF00210-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQF00310-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQG00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="05"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQH00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="06"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQH00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQH00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQI00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="07"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQI00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQI00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQJ00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="08"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQJ00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQJ00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQK00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="09"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQK00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQK00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQL00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="10"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQL00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQL00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQM00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQM00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQM00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQN00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="12"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQN00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQN00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQU00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="13"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQU00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQU00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQV00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="14"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQV00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQV00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQW00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQW00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQW00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQO00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="16"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQO00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQO00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQS00100-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="17"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQS00200-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MQS00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="MQA10000-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00030-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00050-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00053-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00056-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00060-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00063-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="MQQ00066-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="MQR00000-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
