etax/19XMLスキーマ/hojin/HOZ120-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：減価償却資産の償却方法の変更承認申請書
version：4.0
Date：2021年11月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ120-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ120-4-0group">
<xsd:sequence>
<xsd:element name="HOZ120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTA00000" type="OTA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00000" type="OTB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTC00000" type="OTC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTD00000" type="OTD00000-4-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="OTE00000" type="OTE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更しようとする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ120-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="OTA00000-4-0type">
<xsd:sequence>

<xsd:element name="OTA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTA00100" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTA00150" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTA00170" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTA00180" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OTB00000-4-0type">
<xsd:sequence>

<xsd:element name="OTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTB00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTB00050" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局＿署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTB00070" type="OTB00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00080" type="OTB00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTB00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00100" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTB00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="OTB00150" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OTB00170" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OTC00000-4-0type">
<xsd:sequence>

<xsd:element name="OTC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="OTD00000-4-0type">
<xsd:sequence>

<xsd:element name="OTD00010" type="OTD00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産、設備の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTD00020" type="OTD00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現によっている償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現によっている償却方法を採用した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OTD00040" type="OTD00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"採用しようとする新たな償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="OTB00070-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OTB00080-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OTD00010-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OTD00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OTD00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="OTE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
