etax/19XMLスキーマ/hojin/HOZ314-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：申請者の経理等に関する明細表(書類付表2)
version：1.0
Date：2004年02月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ314-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ314-1-0group">
<xsd:sequence>
<xsd:element name="HOZ314">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOZ314-1" type="HOZ314-1-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOZ314-2" type="HOZ314-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOZ314-3" type="HOZ314-3-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"3面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ314-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOZ314-1-1-0type">
<xsd:sequence>

<xsd:element name="NIA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　法人の特殊関係者の施設の利用明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"施設の貸与　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00030" type="NIA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00040" type="NIA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIA00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"病院の利用　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00090" type="NIA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00100" type="NIA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIA00130" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIA00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00150" type="NIA00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00160" type="NIA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用料金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　法人の特殊関係者に対する貸付金の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIB00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付当初の元本"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付当初の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00060" type="NIB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間の受取利息額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00080" type="NIB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類及び数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIB00090" type="NIB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　法人の特殊関係者に対する譲渡資産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00030" type="NIC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00040" type="NIC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目、構造、規格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00050" type="NIC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00080" type="NIC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIC00090" type="NIC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOZ314-2-1-0type">
<xsd:sequence>

<xsd:element name="NID00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　法人の業務に従事している特殊関係者である従業員の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NID00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00030" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00060" type="NID00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤又は非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与月額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与支給総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NID00090" type="NID00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIE00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"(1)　法人の特殊関係者からの借用物件の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸主の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00030" type="NIE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物件名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00040" type="NIE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目、構造、規格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00050" type="NIE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00060" type="NIE00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借用年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00080" type="NIE00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借用期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00100" type="NIE00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00110" type="NIE00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIE00120" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"(2)　法人の特殊関係者からの借入金の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIE00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入当初の元本"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入当初の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00170" type="NIE00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間の支払利息額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00190" type="NIE00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類及び数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIE00200" type="NIE00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOZ314-3-1-0type">
<xsd:sequence>

<xsd:element name="NIF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIF00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"(3)　法人の特殊関係者からの譲受資産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00030" type="NIF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00040" type="NIF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目、構造、規格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00050" type="NIF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00080" type="NIF00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00090" type="NIF00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIF00100" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"(4)　法人の特殊関係者が役員等となっている他の法人の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIF00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00120" type="NIF00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者が役員等となっている他の法人の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIF00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00170" type="NIF00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00180" type="NIF00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与支給総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NIF00200" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"(5)　その他財産の運用及び事業の運営　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NIF00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊関係者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NIF00220" type="NIF00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的な内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="NIA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIA00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIA00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NID00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NID00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIE00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NIF00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
