etax/19XMLスキーマ/hojin/HOZ313-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：申請者の理事、監事及び評議員等に関する明細表(書類付表1)
version：1.0
Date：2004年02月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ313-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ313-1-0group">
<xsd:sequence>
<xsd:element name="HOZ313">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NHA00000" type="NHA00000-1-0type" minOccurs="0" maxOccurs="35">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ313-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NHA00000-1-0type">
<xsd:sequence>

<xsd:element name="NHA00010" type="NHA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00030" type="NHA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"親族等の関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00040" type="NHA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00050" type="NHA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社員との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与月額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与支給総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NHA00080" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="NHA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NHA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NHA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NHA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
