etax/19XMLスキーマ/hojin/HOZ311-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：申請者の医療施設等の明細表(申請書付表)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ311-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ311-1-0group">
<xsd:sequence>
<xsd:element name="HOZ311">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HOZ311-1" type="HOZ311-1-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HOZ311-2" type="HOZ311-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ311-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HOZ311-1-1-0type">
<xsd:sequence>

<xsd:element name="NFA00000" type="NFA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"病院（診療所）名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00020" type="NFA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管轄保健所名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00030" minOccurs="0" maxOccurs="18">
<xsd:annotation>
<xsd:appinfo>"1　診療科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00040" type="NFA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　敷地の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00060" type="NFA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00070" type="NFA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内　借地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00080" type="NFA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内　自地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00090" type="NFA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内　現物出資の土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00100" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"3　建物の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00110" type="NFA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00120" type="NFA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00130" type="NFA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00140" type="NFA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自家・借家"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00150" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00160" type="NFA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00170" type="NFA00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途別の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00180" type="NFA00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　患者収容定員の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00210" type="NFA00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00220" type="NFA00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"結核"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00240" type="NFA00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00250" type="NFA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"精神"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00270" type="NFA00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00280" type="NFA00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"感染"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00300" type="NFA00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00310" type="NFA00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFA00330" type="NFA00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFA00340" type="NFA00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"床"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="HOZ311-2-1-0type">
<xsd:sequence>

<xsd:element name="NFB00000" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"5　主要医療機械器具の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00010" type="NFB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00020" type="NFB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00030" type="NFB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00040" type="NFB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00050" type="NFB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00060" type="NFB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自用・借用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00070" type="NFB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"購入・寄附"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6  職種別従業員数の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00100" type="NFB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00110" type="NFB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00120" type="NFB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"薬剤師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00130" type="NFB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療放射線技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00140" type="NFB00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科技工士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00150" type="NFB00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床検査技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00160" type="NFB00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科衛生士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00170" type="NFB00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"看護師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00180" type="NFB00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助産師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00190" type="NFB00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"栄養士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00200" type="NFB00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理学療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00210" type="NFB00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作業療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00220" type="NFB00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床工学技士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00230" type="NFB00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務職員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00240" type="NFB00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調理師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00250" type="NFB00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00260" type="NFB00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実人員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00280" type="NFB00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00290" type="NFB00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00300" type="NFB00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"薬剤師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00310" type="NFB00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療放射線技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00320" type="NFB00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科技工士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00330" type="NFB00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床検査技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00340" type="NFB00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科衛生士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00350" type="NFB00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"看護師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00360" type="NFB00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助産師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00370" type="NFB00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"栄養士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00380" type="NFB00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理学療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00390" type="NFB00390-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作業療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00400" type="NFB00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床工学技士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00410" type="NFB00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務職員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00420" type="NFB00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調理師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00430" type="NFB00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00440" type="NFB00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内特殊関係者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00460" type="NFB00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00470" type="NFB00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科医師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00480" type="NFB00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"薬剤師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00490" type="NFB00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療放射線技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00500" type="NFB00500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科技工士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00510" type="NFB00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床検査技師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00520" type="NFB00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"歯科衛生士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00530" type="NFB00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"看護師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00540" type="NFB00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助産師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00550" type="NFB00550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"栄養士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00560" type="NFB00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理学療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00570" type="NFB00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作業療法士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00580" type="NFB00580-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"臨床工学技士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00590" type="NFB00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務職員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00600" type="NFB00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調理師"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00610" type="NFB00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00620" type="NFB00620-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFB00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7　附属事業の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00640" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"附属事業の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00650" type="NFB00650-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間経費額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引利益(損失)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NFB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NFB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間経費額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NFB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引利益(損失)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="NFA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFA00340-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00340-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00390-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00400-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00520-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00530-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00540-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00550-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00580-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00610-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00620-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NFB00650-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="NFA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFA00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFA00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00390-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00390-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00500-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00550-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00580-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00580-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NFB00620-1-0type">
<xsd:simpleContent>
<xsd:extension base="NFB00620-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
