etax/19XMLスキーマ/hojin/HOZ350-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：承認を受けようとする使用可能期間及び未経過使用可能期間の算定の明細書
version：2.0
Date：2021年11月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ350-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ350-2-0group">
<xsd:sequence>
<xsd:element name="HOZ350">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFA00000" type="GFA00000-2-0type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00000" type="GFB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ350-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GFA00000-2-0type">
<xsd:sequence>

<xsd:element name="GFA00010" type="GFA00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号(ａ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00020" type="GFA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類（設備の種類を含む。）（ｂ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00030" type="GFA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途（c）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00040" type="GFA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目（個々の資産の名称）（ｄ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00050" type="GFA00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量（ｅ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00060" type="GFA00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定耐用年数(ｆ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額（ｇ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間の算定の基礎"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFA00090" type="GFA00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（ｈ）　年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00100" type="GFA00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（ｈ）　月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00110" type="GFA00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（ｉ）　年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00120" type="GFA00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（ｉ）　月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00130" type="GFA00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計（ｊ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額（ｋ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00143" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過期間に係る償却費相当額（ｌ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00146" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未経過期間対応償却基礎価額（ｍ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00150" type="GFA00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出使用可能期間（ｎ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00160" type="GFA00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間（ｏ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00163" type="GFA00163-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出未経過使用可能期間（ｐ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00166" type="GFA00166-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする未経過使用可能期間（ｑ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00170" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月（ｒ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額（ｓ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFA00190" type="GFA00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地（ｔ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFB00000-2-0type">
<xsd:sequence>

<xsd:element name="GFB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額（ｇ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額（ｋ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過期間に係る償却費相当額（ｌ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未経過期間対応償却基礎価額（ｍ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00050" type="GFB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出使用可能期間（ｎ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00060" type="GFB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間（ｏ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00070" type="GFB00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出未経過使用可能期間（ｐ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00080" type="GFB00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする未経過使用可能期間（ｑ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額（ｓ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GFA00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00163-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00166-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFA00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFB00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFB00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GFA00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00163-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00163-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFA00166-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFA00166-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFB00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFB00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFB00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="GFB00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
