etax/19XMLスキーマ/hojin/HOZ340-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：耐用年数の短縮の承認申請書
version：4.0
Date：2024年11月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ340-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ340-4-0group">
<xsd:sequence>
<xsd:element name="HOZ340">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEB00000" type="GEB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GED00000" type="GED00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00000" type="GEE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類及び名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GEF00000" type="GEF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の資産の"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GEG00000" type="GEG00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用可能期間が法定耐用年数に比して著しく短い事由及びその事実の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00000" type="GEH00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ340-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GEB00000-4-0type">
<xsd:sequence>

<xsd:element name="GEB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先国税局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEB00090" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00100" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00110" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEB00115" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEB00130" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00140" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEB00160" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00170" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEB00220" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00230" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GEF00000-4-0type">
<xsd:sequence>

<xsd:element name="GEF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在する場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEF00020" type="GEF00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEF00025" type="GEF00025-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする未経過使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEF00030" type="GEF00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定耐用年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GED00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="104"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="104"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEF00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEF00025-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEF00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEG00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="130"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEH00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="130"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
