etax/19XMLスキーマ/hojin/HOZ312-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：承認要件を満たす旨を説明する書類
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ312-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ312-1-0group">
<xsd:sequence>
<xsd:element name="HOZ312">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGA00000" type="NGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　運営組織"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00000" type="NGB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　経理内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGC00000" type="NGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　法令違反"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ312-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="NGA00000-1-0type">
<xsd:sequence>

<xsd:element name="NGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"理事"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGA00020" type="NGA00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00030" type="NGA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00040" type="NGA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"監事"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGA00060" type="NGA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00070" type="NGA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00080" type="NGA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評議員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGA00100" type="NGA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00110" type="NGA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00120" type="NGA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGA00140" type="NGA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他(＿)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00150" type="NGA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00160" type="NGA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最も人数の多い「親族等」のグループの人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGA00170" type="NGA00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NGB00000-1-0type">
<xsd:sequence>

<xsd:element name="NGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"施設の利用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00020" type="NGB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00030" type="NGB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金銭の貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00050" type="NGB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00060" type="NGB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の譲渡"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00080" type="NGB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00090" type="NGB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与の支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00110" type="NGB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00120" type="NGB00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役員等の選任"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00140" type="NGB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00150" type="NGB00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他財産の運用及び事業の運営"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGB00170" type="NGB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の特殊関係者に対する内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGB00180" type="NGB00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別の利益の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="NGC00000-1-0type">
<xsd:sequence>

<xsd:element name="NGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法令違反"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGC00020" type="NGC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的な内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGC00030" type="NGC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事実の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務調査結果"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGC00050" type="NGC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的な内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGC00060" type="NGC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事実の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NGC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他公益に反する事実"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NGC00080" type="NGC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的な内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NGC00090" type="NGC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事実の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="NGA00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGA00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NGB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00150-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGB00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGB00180-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGC00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGC00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="NGC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NGC00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="NGA00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="NGA00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="NGA00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
