etax/19XMLスキーマ/hojin/HOZ450-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定の資産の買換えの場合における特別勘定の設定期間延長承認申請書
version：4.0
Date：2021年11月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ450-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ450-4-0group">
<xsd:sequence>
<xsd:element name="HOZ450">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRA00000" type="MRA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00000" type="MRB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MRC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請時の措置法第65条の８第４項第１号に規定する特別勘定の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="MRD00000" type="MRD00000-4-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"申請内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="MRE00000" type="MRE00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(設定期間の延長を必要とする理由)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRF00000" type="MRF00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(その他参考となるべき事項)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ450-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MRA00000-4-0type">
<xsd:sequence>

<xsd:element name="MRA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRA00100" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRA00150" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRA00170" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRA00180" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MRB00000-4-0type">
<xsd:sequence>

<xsd:element name="MRB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRB00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRB00050" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局＿署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRB00070" type="MRB00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00080" type="MRB00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRB00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00100" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRB00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRB00150" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRB00170" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MRD00000-4-0type">
<xsd:sequence>

<xsd:element name="MRD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得しようとする買換資産の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MRD00020" type="MRD00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRD00030" type="MRD00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRD00040" type="MRD00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規模"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRD00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MRD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買換資産の取得予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MRD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="MRB00070-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRB00080-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRD00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRD00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRD00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRE00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="250"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MRF00000-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
