etax/19XMLスキーマ/hojin/HOZ440-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：承認を受けようとする使用可能期間の算定の明細書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ440-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ440-1-0group">
<xsd:sequence>
<xsd:element name="HOZ440">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GHA00000" type="GHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GHB00000" type="GHB00000-1-0type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間の算定の明細書  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ440-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GHB00000-1-0type">
<xsd:sequence>

<xsd:element name="GHB00010" type="GHB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号(a)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00020" type="GHB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類(設備の種類を含む。)(b)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00030" type="GHB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途(c)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00040" type="GHB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(個々の資産の名称)(d)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00050" type="GHB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(e)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00060" type="GHB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現に適用している耐用年数(f)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額(g)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間の算定の基礎"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GHB00090" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00100" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00110" type="GHB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計(h)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GHB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額　(i)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00130" type="GHB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出使用可能期間 (j)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00140" type="GHB00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間(k)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00150" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月(Ｌ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額(m)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GHB00170" type="GHB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地(n)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="GHA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GHB00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GHA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GHB00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="GHB00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
