etax/19XMLスキーマ/hojin/HOZ540-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特別修繕費の金額等の認定申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ540-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ540-1-0group">
<xsd:sequence>
<xsd:element name="HOZ540">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00000" type="GIA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00000" type="GIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00000" type="GIC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする特別修繕費の金額又は月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ540-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GIA00000-1-0type">
<xsd:sequence>

<xsd:element name="GIA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00030" type="GIA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00080" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00090" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00100" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00150" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申請に応答する係及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIA00180" type="GIA00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00190" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00200" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIA00210" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告書提出の承認申請をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の承認を受けた日又は受けたとみなされた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIA00240" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GIB00000-1-0type">
<xsd:sequence>

<xsd:element name="GIB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIB00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIB00050" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局＿署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIB00070" type="GIB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00080" type="GIB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIB00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00100" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIB00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIB00150" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIB00170" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GIC00000-1-0type">
<xsd:sequence>

<xsd:element name="GIC00010" type="GIC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別修繕費の算定の基礎とした類似資産等の名称及び所有者名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIC00030" type="GIC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別修繕費の算定の基礎とした類似資産等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別修繕費の算定の基礎とした類似資産等の所有者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2の資産について最近において行われた特別修繕完了の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3の特別修繕のために要した特別修繕費の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする特別修繕費の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3の特別修繕の直前の特別修繕完了の日及びその日の翌日から３の日までの期間の月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GIC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3の特別修繕の直前の特別修繕完了の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GIC00100" type="GIC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その日の翌日から3の日までの期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GIC00110" type="GIC00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GIA00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GIA00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GIB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GIB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GIC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GIC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GIC00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GIC00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GIC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="GIC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
