etax/19XMLスキーマ/hojin/HOZ800-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：震災損失の繰戻しによる還付請求書
version：2.0
Date：2014年11月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ800-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ800-2-0group">
<xsd:sequence>
<xsd:element name="HOZ800">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKA00000" type="MKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00000" type="MKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ800-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="MKA00000-2-0type">
<xsd:sequence>

<xsd:element name="MKA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKA00110" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKA00140" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00160" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の資本金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00180" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKA00190" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="MKB00000-2-0type">
<xsd:sequence>

<xsd:element name="MKB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災欠損事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00040" type="MKB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災欠損事業年度の繰戻対象震災損失金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻対象震災損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち還付所得事業年度に繰り戻す繰戻対象震災損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に震災損失又は欠損金の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付の確定した法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に震災損失又は欠損金の繰戻しにより還付を受けた法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="MKB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="MKB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定申告書等提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="MKB00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
