etax/19XMLスキーマ/hojin/HOZ946-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：適格分社型分割等を行う場合の認定事業用地適正化計画の事業用地の区域内にある土地等を譲渡した場合における期中特別勘定の設定に関する承認申請書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/TEK000-002.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ946-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ946-2-0group">
<xsd:sequence>
<xsd:element name="HOZ946">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="TEK000-2-0type">
<xsd:attribute name="VR"
type="HOZ946-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>


</xsd:schema>
