etax/19XMLスキーマ/hojin/HOZ990-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：令和2年改正法附則第35条第2項の適用を受ける場合の還付所得事業年度の所得金額とされる金額及び法人税額とされる金額に関する明細書
version：1.0
Date：2022年11月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ990-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ990-1-0group">
<xsd:sequence>
<xsd:element name="HOZ990">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYA00000" type="JYA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYB00000" type="JYB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度(還付所得連結事業年度)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00000" type="JYC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額及び所得金額とされる金額(令２法律第８号改正法附則第35条第２項)の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ990-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JYA00000-1-0type">
<xsd:sequence>

<xsd:element name="JYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JYB00000-1-0type">
<xsd:sequence>

<xsd:element name="JYB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JYC00000-1-0type">
<xsd:sequence>

<xsd:element name="JYC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00340" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00500" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00660" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得連結事業年度の連結所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に災害損失又は連結欠損金の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別所得金額　還付所得連結事業年度の個別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の所得金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得連結事業年度の法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付の確定した法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取り消された場合等における既に控除された法人税額の特別控除額の加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に災害損失又は連結欠損金の繰戻しにより還付を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額に係る個別帰属額のうち負担額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JYC01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する連結法人税個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JYC01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に係る個別帰属額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JYC01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度の法人税額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
