etax/19XMLスキーマ/hojin/HOZ980-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：通算法人の繰戻しの対象となる欠損金額とされる金額に関する明細書
version：1.0
Date：2022年11月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ980-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ980-1-0group">
<xsd:sequence>
<xsd:element name="HOZ980">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTA00000" type="JTA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00000" type="JTB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額(法人税法第80条第７項)の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00000" type="JTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額(法人税法第80条第12項)とされるため、欠損金の繰越控除の対象とならない金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ980-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JTA00000-1-0type">
<xsd:sequence>

<xsd:element name="JTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JTB00000-1-0type">
<xsd:sequence>

<xsd:element name="JTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00400" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00590" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00780" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)を超える欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)を超える差引前１年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JTC00000-1-0type">
<xsd:sequence>

<xsd:element name="JTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00420" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00620" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00820" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(d)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生欠損金額のうち通算対象外欠損金額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTC01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(j)のうち災害損失の繰戻還付の基礎とする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度へ繰り戻す金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母　通算対象外欠損金額又は災害損失の繰戻還付の基礎とする金額を超える欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTC01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欠損金の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
