etax/19XMLスキーマ/hojin/HOZ985-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：通算法人の繰戻しの対象となる災害損失欠損金額とされる金額に関する明細書
version：1.0
Date：2022年11月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="HOZ985-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="HOZ985-1-0group">
<xsd:sequence>
<xsd:element name="HOZ985">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUA00000" type="JUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="JUB00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のあった法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUC00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のあった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUD00000" type="JUD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JUE00000" type="JUE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額(法人税法第80条第８項)の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00000" type="JUF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額(法人税法第80条第13項)とされるため、欠損金の繰越控除及び欠損金の繰戻還付の対象とならない金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="HOZ985-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JUA00000-1-0type">
<xsd:sequence>

<xsd:element name="JUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JUE00000-1-0type">
<xsd:sequence>

<xsd:element name="JUE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(12)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00280" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(12)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00540" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(12)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00800" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(12)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の通算法人の(12)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち災害損失の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年内事業年度の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に欠損金又は災害損失の繰戻しを行った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)を超える差引前２年内事業年度の所得合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害欠損金額分に係る欠損金の繰戻しの対象とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUE01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻しの対象となる欠損事業年度の災害損失欠損金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額の明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度別明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUE01530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUE01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の事業年度に繰り戻す災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JUF00000-1-0type">
<xsd:sequence>

<xsd:element name="JUF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算親法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00340" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00500" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00660" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)と(b)のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超える災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JUF00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち前２年以内に開始した還付所得事業年度に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通算対象外欠損金額を超えない災害損失欠損金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付所得事業年度に繰り戻す金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母　通算対象外欠損金額を超える災害損失欠損金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JUF00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額のうち通算対象外欠損金額以外の災害損失欠損金額分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JUF00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害損失の繰戻還付の基礎となった金額とされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JUD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="140"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
