etax/19XMLスキーマ/hojin/PHO1340-060.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
認定特定非営利活動法人の認定申請
version:6.0.1 Date: 2006年08月03日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOY430-003.xsd"/>
<xsd:include schemaLocation="HOY590-002.xsd"/>
<xsd:include schemaLocation="HOY440-003.xsd"/>
<xsd:include schemaLocation="HOY451-001.xsd"/>
<xsd:include schemaLocation="HOY441-003.xsd"/>
<xsd:include schemaLocation="HOY452-001.xsd"/>
<xsd:include schemaLocation="HOY442-002.xsd"/>
<xsd:include schemaLocation="HOY453-001.xsd"/>
<xsd:include schemaLocation="HOY460-003.xsd"/>
<xsd:include schemaLocation="HOY470-002.xsd"/>
<xsd:include schemaLocation="HOY471-002.xsd"/>
<xsd:include schemaLocation="HOY472-002.xsd"/>
<xsd:include schemaLocation="HOY473-001.xsd"/>
<xsd:include schemaLocation="HOY480-003.xsd"/>
<xsd:include schemaLocation="HOY481-004.xsd"/>
<xsd:include schemaLocation="HOY490-003.xsd"/>
<xsd:include schemaLocation="HOY500-002.xsd"/>
<xsd:include schemaLocation="HOY530-004.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="PHO1340-60-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0.0"/><xsd:enumeration value="6.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PHO1340"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PHO1340" type="PHO1340-60-1type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PHO1340-60-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PHO1340-60-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PHO1340-60-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PHO1340-60-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOY430-3-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY590-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY440-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY451-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY441-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY452-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY442-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY453-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY470-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY471-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY472-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY473-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY480-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY481-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOY490-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY500-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY530-4-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
