etax/19XMLスキーマ/hojin/PHO1340-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
認定特定非営利活動法人の認定申請
version:2.0 Date: 2004年09月27日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOY430-001.xsd"/>
<xsd:include schemaLocation="HOY440-001.xsd"/>
<xsd:include schemaLocation="HOY441-001.xsd"/>
<xsd:include schemaLocation="HOY442-001.xsd"/>
<xsd:include schemaLocation="HOY460-001.xsd"/>
<xsd:include schemaLocation="HOY470-001.xsd"/>
<xsd:include schemaLocation="HOY471-001.xsd"/>
<xsd:include schemaLocation="HOY472-001.xsd"/>
<xsd:include schemaLocation="HOY473-001.xsd"/>
<xsd:include schemaLocation="HOY480-001.xsd"/>
<xsd:include schemaLocation="HOY481-002.xsd"/>
<xsd:include schemaLocation="HOY490-001.xsd"/>
<xsd:include schemaLocation="HOY500-001.xsd"/>
<xsd:include schemaLocation="HOY530-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="PHO1340-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PHO1340"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PHO1340" type="PHO1340-2-0type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PHO1340-2-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PHO1340-2-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PHO1340-2-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PHO1340-2-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref ="HOY430-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY440-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY441-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY442-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY460-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY470-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY471-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY472-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY473-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY480-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY481-2-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref ="HOY490-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY500-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="HOY530-2-0group" minOccurs="1" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-1-0group" minOccurs="0"/>

</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>

</xsd:complexType>
</xsd:schema>
