etax/19XMLスキーマ/hojin/PHO1340-050.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
認定特定非営利活動法人の認定申請
version:5.0.0 Date: 2005年11月14日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOY430-002.xsd"/>
<xsd:include schemaLocation="HOY590-001.xsd"/>
<xsd:include schemaLocation="HOY440-002.xsd"/>
<xsd:include schemaLocation="HOY441-002.xsd"/>
<xsd:include schemaLocation="HOY442-001.xsd"/>
<xsd:include schemaLocation="HOY460-002.xsd"/>
<xsd:include schemaLocation="HOY470-001.xsd"/>
<xsd:include schemaLocation="HOY471-001.xsd"/>
<xsd:include schemaLocation="HOY472-001.xsd"/>
<xsd:include schemaLocation="HOY473-001.xsd"/>
<xsd:include schemaLocation="HOY480-002.xsd"/>
<xsd:include schemaLocation="HOY481-003.xsd"/>
<xsd:include schemaLocation="HOY490-002.xsd"/>
<xsd:include schemaLocation="HOY500-001.xsd"/>
<xsd:include schemaLocation="HOY530-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="PHO1340-50-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PHO1340"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PHO1340" type="PHO1340-50-0type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PHO1340-50-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PHO1340-50-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PHO1340-50-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PHO1340-50-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOY430-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY590-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY440-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY441-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY442-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY460-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY470-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY471-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY472-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY473-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY480-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY481-3-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOY490-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY500-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOY530-3-0group" minOccurs="1" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
