etax/19XMLスキーマ/hojin/PHO1690-060.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
特例適格退職年金契約の変更の届出(第2号の2様式)
version:6.0.1 Date: 2006年08月03日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOY763-002.xsd"/>
<xsd:include schemaLocation="HOY764-001.xsd"/>
<xsd:include schemaLocation="HOY765-001.xsd"/>
<xsd:include schemaLocation="HOY800-002.xsd"/>
<xsd:include schemaLocation="HOY766-002.xsd"/>
<xsd:include schemaLocation="HOY743-003.xsd"/>
<xsd:include schemaLocation="HOY744-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="PHO1690-60-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0.0"/><xsd:enumeration value="6.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PHO1690"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PHO1690" type="PHO1690-60-1type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PHO1690-60-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PHO1690-60-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PHO1690-60-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PHO1690-60-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOY763-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOY764-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY765-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY800-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY766-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY743-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOY744-2-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
