etax/19XMLスキーマ/hojin/RHO0095-210.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
清算事業年度予納申告(白色)
version:21.0.2 Date: 2021年12月14日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL190.xsd"/>
<xsd:include schemaLocation="HOA320-005.xsd"/>
<xsd:include schemaLocation="HOA322-005.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-004.xsd"/>
<xsd:include schemaLocation="HOA330-005.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOA410-020.xsd"/>
<xsd:include schemaLocation="HOA420-020.xsd"/>
<xsd:include schemaLocation="HOA430-020.xsd"/>
<xsd:include schemaLocation="HOA511-013.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA522-007.xsd"/>
<xsd:include schemaLocation="HOB016-006.xsd"/>
<xsd:include schemaLocation="HOB021-015.xsd"/>
<xsd:include schemaLocation="HOB024-002.xsd"/>
<xsd:include schemaLocation="HOB025-003.xsd"/>
<xsd:include schemaLocation="HOB026-002.xsd"/>
<xsd:include schemaLocation="HOB027-003.xsd"/>
<xsd:include schemaLocation="HOB022-009.xsd"/>
<xsd:include schemaLocation="HOB035-003.xsd"/>
<xsd:include schemaLocation="HOB031-007.xsd"/>
<xsd:include schemaLocation="HOB032-006.xsd"/>
<xsd:include schemaLocation="HOB033-005.xsd"/>
<xsd:include schemaLocation="HOB040-006.xsd"/>
<xsd:include schemaLocation="HOB043-003.xsd"/>
<xsd:include schemaLocation="HOB042-013.xsd"/>
<xsd:include schemaLocation="HOB045-002.xsd"/>
<xsd:include schemaLocation="HOB710-011.xsd"/>
<xsd:include schemaLocation="HOB701-007.xsd"/>
<xsd:include schemaLocation="HOB705-002.xsd"/>
<xsd:include schemaLocation="HOB711-002.xsd"/>
<xsd:include schemaLocation="HOB703-004.xsd"/>
<xsd:include schemaLocation="HOB704-001.xsd"/>
<xsd:include schemaLocation="HOB725-008.xsd"/>
<xsd:include schemaLocation="HOB730-007.xsd"/>
<xsd:include schemaLocation="HOB800-016.xsd"/>
<xsd:include schemaLocation="HOB810-006.xsd"/>
<xsd:include schemaLocation="HOB820-002.xsd"/>
<xsd:include schemaLocation="HOB900-013.xsd"/>
<xsd:include schemaLocation="HOB930-006.xsd"/>
<xsd:include schemaLocation="HOC060-014.xsd"/>
<xsd:include schemaLocation="HOC061-001.xsd"/>
<xsd:include schemaLocation="HOC065-010.xsd"/>
<xsd:include schemaLocation="HOC085-005.xsd"/>
<xsd:include schemaLocation="HOC086-004.xsd"/>
<xsd:include schemaLocation="HOC072-008.xsd"/>
<xsd:include schemaLocation="HOC080-011.xsd"/>
<xsd:include schemaLocation="HOC110-009.xsd"/>
<xsd:include schemaLocation="HOC112-015.xsd"/>
<xsd:include schemaLocation="HOC120-004.xsd"/>
<xsd:include schemaLocation="HOD440-006.xsd"/>
<xsd:include schemaLocation="HOE099-010.xsd"/>
<xsd:include schemaLocation="HOE101-003.xsd"/>
<xsd:include schemaLocation="HOE109-003.xsd"/>
<xsd:include schemaLocation="HOB911-003.xsd"/>
<xsd:include schemaLocation="HOE105-005.xsd"/>
<xsd:include schemaLocation="HOE108-004.xsd"/>
<xsd:include schemaLocation="HOE315-004.xsd"/>
<xsd:include schemaLocation="HOE325-004.xsd"/>
<xsd:include schemaLocation="HOE330-009.xsd"/>
<xsd:include schemaLocation="HOE341-004.xsd"/>
<xsd:include schemaLocation="HOE340-009.xsd"/>
<xsd:include schemaLocation="HOE350-005.xsd"/>
<xsd:include schemaLocation="HOE352-001.xsd"/>
<xsd:include schemaLocation="HOE351-004.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-005.xsd"/>
<xsd:include schemaLocation="HOE400-009.xsd"/>
<xsd:include schemaLocation="HOE410-003.xsd"/>
<xsd:include schemaLocation="HOE450-002.xsd"/>
<xsd:include schemaLocation="HOE455-002.xsd"/>
<xsd:include schemaLocation="HOE460-002.xsd"/>
<xsd:include schemaLocation="HOE434-006.xsd"/>
<xsd:include schemaLocation="HOE436-007.xsd"/>
<xsd:include schemaLocation="HOE440-008.xsd"/>
<xsd:include schemaLocation="HOE445-002.xsd"/>
<xsd:include schemaLocation="HOE532-003.xsd"/>
<xsd:include schemaLocation="HOE533-002.xsd"/>
<xsd:include schemaLocation="HOE534-003.xsd"/>
<xsd:include schemaLocation="HOE535-002.xsd"/>
<xsd:include schemaLocation="HOE536-004.xsd"/>
<xsd:include schemaLocation="HOE537-004.xsd"/>
<xsd:include schemaLocation="HOE538-003.xsd"/>
<xsd:include schemaLocation="HOE539-003.xsd"/>
<xsd:include schemaLocation="HOE541-002.xsd"/>
<xsd:include schemaLocation="HOE548-003.xsd"/>
<xsd:include schemaLocation="HOE543-002.xsd"/>
<xsd:include schemaLocation="HOE563-006.xsd"/>
<xsd:include schemaLocation="HOE570-005.xsd"/>
<xsd:include schemaLocation="HOE580-005.xsd"/>
<xsd:include schemaLocation="HOE585-004.xsd"/>
<xsd:include schemaLocation="HOE544-002.xsd"/>
<xsd:include schemaLocation="HOE605-002.xsd"/>
<xsd:include schemaLocation="HOE910-008.xsd"/>
<xsd:include schemaLocation="HOE930-008.xsd"/>
<xsd:include schemaLocation="HOI010-004.xsd"/>
<xsd:include schemaLocation="HOI020-003.xsd"/>
<xsd:include schemaLocation="HOI030-003.xsd"/>
<xsd:include schemaLocation="HOI040-003.xsd"/>
<xsd:include schemaLocation="HOI050-004.xsd"/>
<xsd:include schemaLocation="HOI060-004.xsd"/>
<xsd:include schemaLocation="HOI070-004.xsd"/>
<xsd:include schemaLocation="HOI080-003.xsd"/>
<xsd:include schemaLocation="HOI090-004.xsd"/>
<xsd:include schemaLocation="HOI100-005.xsd"/>
<xsd:include schemaLocation="HOI110-003.xsd"/>
<xsd:include schemaLocation="HOI120-004.xsd"/>
<xsd:include schemaLocation="HOI130-005.xsd"/>
<xsd:include schemaLocation="HOI141-005.xsd"/>
<xsd:include schemaLocation="HOI150-003.xsd"/>
<xsd:include schemaLocation="HOI160-003.xsd"/>
<xsd:include schemaLocation="HOL266-004.xsd"/>
<xsd:include schemaLocation="HOL040-018.xsd"/>
<xsd:include schemaLocation="HOL042-006.xsd"/>
<xsd:include schemaLocation="HOL046-007.xsd"/>
<xsd:include schemaLocation="HOL051-005.xsd"/>
<xsd:include schemaLocation="HOL048-007.xsd"/>
<xsd:include schemaLocation="HOL049-010.xsd"/>
<xsd:include schemaLocation="HOL055-003.xsd"/>
<xsd:include schemaLocation="HOL056-001.xsd"/>
<xsd:include schemaLocation="HOL057-002.xsd"/>
<xsd:include schemaLocation="HOL058-001.xsd"/>
<xsd:include schemaLocation="HOL052-007.xsd"/>
<xsd:include schemaLocation="HOL059-001.xsd"/>
<xsd:include schemaLocation="HOL050-018.xsd"/>
<xsd:include schemaLocation="HOL054-008.xsd"/>
<xsd:include schemaLocation="HOL092-005.xsd"/>
<xsd:include schemaLocation="HOL060-017.xsd"/>
<xsd:include schemaLocation="HOL065-003.xsd"/>
<xsd:include schemaLocation="HOL130-017.xsd"/>
<xsd:include schemaLocation="HOL170-018.xsd"/>
<xsd:include schemaLocation="HOL175-008.xsd"/>
<xsd:include schemaLocation="HOL190-018.xsd"/>
<xsd:include schemaLocation="HOL240-017.xsd"/>
<xsd:include schemaLocation="HOL286-008.xsd"/>
<xsd:include schemaLocation="HOL262-004.xsd"/>
<xsd:include schemaLocation="HOL261-010.xsd"/>
<xsd:include schemaLocation="HOL290-018.xsd"/>
<xsd:include schemaLocation="HOL300-016.xsd"/>
<xsd:include schemaLocation="HOL330-016.xsd"/>
<xsd:include schemaLocation="HOL360-008.xsd"/>
<xsd:include schemaLocation="HOL363-007.xsd"/>
<xsd:include schemaLocation="HOL365-008.xsd"/>
<xsd:include schemaLocation="HOL370-007.xsd"/>
<xsd:include schemaLocation="HOL380-008.xsd"/>
<xsd:include schemaLocation="HOL385-001.xsd"/>
<xsd:include schemaLocation="HOL355-009.xsd"/>
<xsd:include schemaLocation="HOL390-008.xsd"/>
<xsd:include schemaLocation="HOL391-002.xsd"/>
<xsd:include schemaLocation="HOL392-002.xsd"/>
<xsd:include schemaLocation="HOM080-005.xsd"/>
<xsd:include schemaLocation="HOM020-005.xsd"/>
<xsd:include schemaLocation="HOM010-006.xsd"/>
<xsd:include schemaLocation="HOM060-005.xsd"/>
<xsd:include schemaLocation="HOM095-003.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-002.xsd"/>
<xsd:include schemaLocation="HOM130-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RHO0095a-210.xsd"/>
<xsd:include schemaLocation="HOV999-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0095-210-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="21.0.0"/><xsd:enumeration value="21.0.1"/><xsd:enumeration value="21.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0095"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0095" type="RHO0095-210-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0095-210-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0095-210-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0095-210-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0095-210-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA320-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA410-20-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA420-20-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA430-20-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB016-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB021-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB035-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB045-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB710-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB705-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB711-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB703-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB704-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB725-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB730-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB820-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOC060-14-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOC061-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOC065-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC085-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC086-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC072-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE099-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE101-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE109-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB911-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE108-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE350-5-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE352-1-1group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE351-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE450-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE455-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE460-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE434-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE436-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE440-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE445-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE532-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE533-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE534-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE535-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE536-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE537-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE538-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE539-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE541-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE548-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE543-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE544-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE605-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE910-8-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOE930-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL266-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL051-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL055-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL056-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL057-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL058-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL052-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL059-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL092-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL065-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL262-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL385-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM080-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM095-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-2-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEI010" minOccurs="0" maxOccurs="1"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>

<!-- CSV -->
<xsd:element name="CSV" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="HOV999" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
