etax/19XMLスキーマ/hojin/RHO0105-230.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
残余財産分配等予納及び清算確定申告(白色)
version:23.0.0 Date: 2023年04月11日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL190.xsd"/>
<xsd:include schemaLocation="HOE920-009.xsd"/>
<xsd:include schemaLocation="HOE930-008.xsd"/>
<xsd:include schemaLocation="HOE940-008.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RHO0105a-230.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0105-230-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="23.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0105"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0105" type="RHO0105-230-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0105-230-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0105-230-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0105-230-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0105-230-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOE920-9-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOE930-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE940-8-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEI010" minOccurs="0" maxOccurs="1"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
