etax/19XMLスキーマ/hojin/RHO0010-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
普通法人の確定申告(青色)
version:2.2 Date: 2004年07月28日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL.xsd"/>
<xsd:include schemaLocation="HOA110-002.xsd"/>
<xsd:include schemaLocation="HOA200-002.xsd"/>
<xsd:include schemaLocation="HOA310-002.xsd"/>
<xsd:include schemaLocation="HOA320-002.xsd"/>
<xsd:include schemaLocation="HOA322-002.xsd"/>
<xsd:include schemaLocation="HOA323-002.xsd"/>
<xsd:include schemaLocation="HOA324-002.xsd"/>
<xsd:include schemaLocation="HOA330-002.xsd"/>
<xsd:include schemaLocation="HOA340-002.xsd"/>
<xsd:include schemaLocation="HOA341-002.xsd"/>
<xsd:include schemaLocation="HOA350-002.xsd"/>
<xsd:include schemaLocation="HOA360-002.xsd"/>
<xsd:include schemaLocation="HOA370-002.xsd"/>
<xsd:include schemaLocation="HOA380-002.xsd"/>
<xsd:include schemaLocation="HOA410-002.xsd"/>
<xsd:include schemaLocation="HOA420-002.xsd"/>
<xsd:include schemaLocation="HOA430-002.xsd"/>
<xsd:include schemaLocation="HOA510-002.xsd"/>
<xsd:include schemaLocation="HOA520-002.xsd"/>
<xsd:include schemaLocation="HOB010-002.xsd"/>
<xsd:include schemaLocation="HOB020-002.xsd"/>
<xsd:include schemaLocation="HOB022-002.xsd"/>
<xsd:include schemaLocation="HOB030-002.xsd"/>
<xsd:include schemaLocation="HOB031-002.xsd"/>
<xsd:include schemaLocation="HOB032-002.xsd"/>
<xsd:include schemaLocation="HOB033-002.xsd"/>
<xsd:include schemaLocation="HOB040-002.xsd"/>
<xsd:include schemaLocation="HOB042-002.xsd"/>
<xsd:include schemaLocation="HOB050-002.xsd"/>
<xsd:include schemaLocation="HOB052-002.xsd"/>
<xsd:include schemaLocation="HOB053-002.xsd"/>
<xsd:include schemaLocation="HOB060-002.xsd"/>
<xsd:include schemaLocation="HOB340-002.xsd"/>
<xsd:include schemaLocation="HOB350-002.xsd"/>
<xsd:include schemaLocation="HOB070-002.xsd"/>
<xsd:include schemaLocation="HOB210-002.xsd"/>
<xsd:include schemaLocation="HOB220-002.xsd"/>
<xsd:include schemaLocation="HOB230-002.xsd"/>
<xsd:include schemaLocation="HOB100-002.xsd"/>
<xsd:include schemaLocation="HOB110-002.xsd"/>
<xsd:include schemaLocation="HOB120-002.xsd"/>
<xsd:include schemaLocation="HOB160-002.xsd"/>
<xsd:include schemaLocation="HOB170-002.xsd"/>
<xsd:include schemaLocation="HOB180-002.xsd"/>
<xsd:include schemaLocation="HOB190-002.xsd"/>
<xsd:include schemaLocation="HOB200-002.xsd"/>
<xsd:include schemaLocation="HOB320-002.xsd"/>
<xsd:include schemaLocation="HOB330-002.xsd"/>
<xsd:include schemaLocation="HOB080-002.xsd"/>
<xsd:include schemaLocation="HOB090-002.xsd"/>
<xsd:include schemaLocation="HOB700-002.xsd"/>
<xsd:include schemaLocation="HOB701-002.xsd"/>
<xsd:include schemaLocation="HOB702-002.xsd"/>
<xsd:include schemaLocation="HOB800-002.xsd"/>
<xsd:include schemaLocation="HOB900-002.xsd"/>
<xsd:include schemaLocation="HOB920-002.xsd"/>
<xsd:include schemaLocation="HOC010-002.xsd"/>
<xsd:include schemaLocation="HOC020-002.xsd"/>
<xsd:include schemaLocation="HOC030-002.xsd"/>
<xsd:include schemaLocation="HOC040-002.xsd"/>
<xsd:include schemaLocation="HOC050-002.xsd"/>
<xsd:include schemaLocation="HOC060-002.xsd"/>
<xsd:include schemaLocation="HOC070-002.xsd"/>
<xsd:include schemaLocation="HOC080-002.xsd"/>
<xsd:include schemaLocation="HOC110-002.xsd"/>
<xsd:include schemaLocation="HOC112-002.xsd"/>
<xsd:include schemaLocation="HOC120-002.xsd"/>
<xsd:include schemaLocation="HOC130-002.xsd"/>
<xsd:include schemaLocation="HOC140-002.xsd"/>
<xsd:include schemaLocation="HOD010-002.xsd"/>
<xsd:include schemaLocation="HOD040-002.xsd"/>
<xsd:include schemaLocation="HOD050-002.xsd"/>
<xsd:include schemaLocation="HOD060-002.xsd"/>
<xsd:include schemaLocation="HOD070-002.xsd"/>
<xsd:include schemaLocation="HOD080-002.xsd"/>
<xsd:include schemaLocation="HOD090-002.xsd"/>
<xsd:include schemaLocation="HOD110-002.xsd"/>
<xsd:include schemaLocation="HOD120-002.xsd"/>
<xsd:include schemaLocation="HOD140-002.xsd"/>
<xsd:include schemaLocation="HOD160-002.xsd"/>
<xsd:include schemaLocation="HOD170-002.xsd"/>
<xsd:include schemaLocation="HOD180-002.xsd"/>
<xsd:include schemaLocation="HOD190-002.xsd"/>
<xsd:include schemaLocation="HOD200-002.xsd"/>
<xsd:include schemaLocation="HOD030-002.xsd"/>
<xsd:include schemaLocation="HOD220-002.xsd"/>
<xsd:include schemaLocation="HOD240-002.xsd"/>
<xsd:include schemaLocation="HOD100-002.xsd"/>
<xsd:include schemaLocation="HOD230-002.xsd"/>
<xsd:include schemaLocation="HOD130-002.xsd"/>
<xsd:include schemaLocation="HOD150-002.xsd"/>
<xsd:include schemaLocation="HOD410-002.xsd"/>
<xsd:include schemaLocation="HOD420-002.xsd"/>
<xsd:include schemaLocation="HOD430-002.xsd"/>
<xsd:include schemaLocation="HOD440-002.xsd"/>
<xsd:include schemaLocation="HOD450-002.xsd"/>
<xsd:include schemaLocation="HOD460-002.xsd"/>
<xsd:include schemaLocation="HOD470-002.xsd"/>
<xsd:include schemaLocation="HOD480-002.xsd"/>
<xsd:include schemaLocation="HOD485-001.xsd"/>
<xsd:include schemaLocation="HOD490-002.xsd"/>
<xsd:include schemaLocation="HOD500-002.xsd"/>
<xsd:include schemaLocation="HOD510-002.xsd"/>
<xsd:include schemaLocation="HOE100-002.xsd"/>
<xsd:include schemaLocation="HOE102-002.xsd"/>
<xsd:include schemaLocation="HOE103-002.xsd"/>
<xsd:include schemaLocation="HOE200-002.xsd"/>
<xsd:include schemaLocation="HOE310-002.xsd"/>
<xsd:include schemaLocation="HOE320-002.xsd"/>
<xsd:include schemaLocation="HOE330-002.xsd"/>
<xsd:include schemaLocation="HOE340-002.xsd"/>
<xsd:include schemaLocation="HOE350-002.xsd"/>
<xsd:include schemaLocation="HOE360-002.xsd"/>
<xsd:include schemaLocation="HOE370-002.xsd"/>
<xsd:include schemaLocation="HOE380-002.xsd"/>
<xsd:include schemaLocation="HOE400-002.xsd"/>
<xsd:include schemaLocation="HOE510-002.xsd"/>
<xsd:include schemaLocation="HOE511-002.xsd"/>
<xsd:include schemaLocation="HOE520-002.xsd"/>
<xsd:include schemaLocation="HOE731-002.xsd"/>
<xsd:include schemaLocation="HOE522-002.xsd"/>
<xsd:include schemaLocation="HOE530-002.xsd"/>
<xsd:include schemaLocation="HOE600-002.xsd"/>
<xsd:include schemaLocation="HOI010-001.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-001.xsd"/>
<xsd:include schemaLocation="HOI060-001.xsd"/>
<xsd:include schemaLocation="HOI070-001.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-001.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-001.xsd"/>
<xsd:include schemaLocation="HOI130-001.xsd"/>
<xsd:include schemaLocation="HOI140-001.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-001.xsd"/>
<xsd:include schemaLocation="HOL010-002.xsd"/>
<xsd:include schemaLocation="HOL040-002.xsd"/>
<xsd:include schemaLocation="HOL020-002.xsd"/>
<xsd:include schemaLocation="HOL035-002.xsd"/>
<xsd:include schemaLocation="HOL045-002.xsd"/>
<xsd:include schemaLocation="HOL050-002.xsd"/>
<xsd:include schemaLocation="HOL060-002.xsd"/>
<xsd:include schemaLocation="HOL070-002.xsd"/>
<xsd:include schemaLocation="HOL080-002.xsd"/>
<xsd:include schemaLocation="HOL090-002.xsd"/>
<xsd:include schemaLocation="HOL095-002.xsd"/>
<xsd:include schemaLocation="HOL100-002.xsd"/>
<xsd:include schemaLocation="HOL110-002.xsd"/>
<xsd:include schemaLocation="HOL120-002.xsd"/>
<xsd:include schemaLocation="HOL130-002.xsd"/>
<xsd:include schemaLocation="HOL145-002.xsd"/>
<xsd:include schemaLocation="HOL150-002.xsd"/>
<xsd:include schemaLocation="HOL160-002.xsd"/>
<xsd:include schemaLocation="HOL170-002.xsd"/>
<xsd:include schemaLocation="HOL190-002.xsd"/>
<xsd:include schemaLocation="HOL200-002.xsd"/>
<xsd:include schemaLocation="HOL210-002.xsd"/>
<xsd:include schemaLocation="HOL230-002.xsd"/>
<xsd:include schemaLocation="HOL240-002.xsd"/>
<xsd:include schemaLocation="HOL250-002.xsd"/>
<xsd:include schemaLocation="HOL260-002.xsd"/>
<xsd:include schemaLocation="HOL265-002.xsd"/>
<xsd:include schemaLocation="HOL270-002.xsd"/>
<xsd:include schemaLocation="HOL280-002.xsd"/>
<xsd:include schemaLocation="HOL285-002.xsd"/>
<xsd:include schemaLocation="HOL290-002.xsd"/>
<xsd:include schemaLocation="HOL300-002.xsd"/>
<xsd:include schemaLocation="HOL330-001.xsd"/>
<xsd:include schemaLocation="HOL310-001.xsd"/>
<xsd:include schemaLocation="HOL320-001.xsd"/>
<xsd:include schemaLocation="HOM010-002.xsd"/>
<xsd:include schemaLocation="HOM020-002.xsd"/>
<xsd:include schemaLocation="HOM030-001.xsd"/>
<xsd:include schemaLocation="HOM040-002.xsd"/>
<xsd:include schemaLocation="HOM060-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0010-2-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/><xsd:enumeration value="2.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0010" type="RHO0010-2-2type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0010-2-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0010-2-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0010-2-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0010-2-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA110-2-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA200-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA310-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA340-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:group ref="HOA410-2-0group" maxOccurs="1"/>
<xsd:group ref="HOA420-2-0group" maxOccurs="1"/>
</xsd:choice>
<xsd:group ref="HOA430-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA510-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA520-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB020-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB340-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB350-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB210-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB160-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB200-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB320-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB330-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB700-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC030-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC140-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD140-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD200-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD030-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD220-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD240-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD230-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD150-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD490-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE200-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE510-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE511-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE520-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE731-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE522-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK010-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOL010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL045-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL095-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL145-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL160-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL285-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL310-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-2-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-1-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
