etax/19XMLスキーマ/hojin/RHO0121-161.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
電子データの追加送信(法人税)
version:16.1.2 Date: 2016年10月13日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL120.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RHO0121a-161.xsd"/>
<xsd:include schemaLocation="HOA115-003.xsd"/>
<xsd:include schemaLocation="HOA125-003.xsd"/>
<xsd:include schemaLocation="HOA135-003.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA317-002.xsd"/>
<xsd:include schemaLocation="HOA319-001.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOA410-015.xsd"/>
<xsd:include schemaLocation="HOA420-015.xsd"/>
<xsd:include schemaLocation="HOA430-015.xsd"/>
<xsd:include schemaLocation="HOA511-009.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA522-005.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOB016-002.xsd"/>
<xsd:include schemaLocation="HOB018-002.xsd"/>
<xsd:include schemaLocation="HOB021-010.xsd"/>
<xsd:include schemaLocation="HOB024-001.xsd"/>
<xsd:include schemaLocation="HOB025-001.xsd"/>
<xsd:include schemaLocation="HOB026-001.xsd"/>
<xsd:include schemaLocation="HOB027-001.xsd"/>
<xsd:include schemaLocation="HOB022-007.xsd"/>
<xsd:include schemaLocation="HOB030-008.xsd"/>
<xsd:include schemaLocation="HOB031-006.xsd"/>
<xsd:include schemaLocation="HOB032-005.xsd"/>
<xsd:include schemaLocation="HOB033-004.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB043-001.xsd"/>
<xsd:include schemaLocation="HOB042-009.xsd"/>
<xsd:include schemaLocation="HOB054-001.xsd"/>
<xsd:include schemaLocation="HOB063-008.xsd"/>
<xsd:include schemaLocation="HOB066-008.xsd"/>
<xsd:include schemaLocation="HOB067-004.xsd"/>
<xsd:include schemaLocation="HOB205-006.xsd"/>
<xsd:include schemaLocation="HOB211-008.xsd"/>
<xsd:include schemaLocation="HOB161-008.xsd"/>
<xsd:include schemaLocation="HOB171-008.xsd"/>
<xsd:include schemaLocation="HOB172-003.xsd"/>
<xsd:include schemaLocation="HOB627-006.xsd"/>
<xsd:include schemaLocation="HOB655-002.xsd"/>
<xsd:include schemaLocation="HOB665-002.xsd"/>
<xsd:include schemaLocation="HOB675-002.xsd"/>
<xsd:include schemaLocation="HOB680-001.xsd"/>
<xsd:include schemaLocation="HOB634-004.xsd"/>
<xsd:include schemaLocation="HOB636-004.xsd"/>
<xsd:include schemaLocation="HOB637-003.xsd"/>
<xsd:include schemaLocation="HOB630-006.xsd"/>
<xsd:include schemaLocation="HOB640-006.xsd"/>
<xsd:include schemaLocation="HOB645-003.xsd"/>
<xsd:include schemaLocation="HOB646-003.xsd"/>
<xsd:include schemaLocation="HOB660-005.xsd"/>
<xsd:include schemaLocation="HOB670-005.xsd"/>
<xsd:include schemaLocation="HOB710-007.xsd"/>
<xsd:include schemaLocation="HOB701-006.xsd"/>
<xsd:include schemaLocation="HOB705-001.xsd"/>
<xsd:include schemaLocation="HOB702-006.xsd"/>
<xsd:include schemaLocation="HOB703-003.xsd"/>
<xsd:include schemaLocation="HOB725-005.xsd"/>
<xsd:include schemaLocation="HOB730-004.xsd"/>
<xsd:include schemaLocation="HOB800-012.xsd"/>
<xsd:include schemaLocation="HOB810-004.xsd"/>
<xsd:include schemaLocation="HOB900-010.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC010-008.xsd"/>
<xsd:include schemaLocation="HOC012-002.xsd"/>
<xsd:include schemaLocation="HOC020-010.xsd"/>
<xsd:include schemaLocation="HOC022-004.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC050-007.xsd"/>
<xsd:include schemaLocation="HOC060-011.xsd"/>
<xsd:include schemaLocation="HOC065-007.xsd"/>
<xsd:include schemaLocation="HOC068-004.xsd"/>
<xsd:include schemaLocation="HOC085-001.xsd"/>
<xsd:include schemaLocation="HOC086-001.xsd"/>
<xsd:include schemaLocation="HOC072-005.xsd"/>
<xsd:include schemaLocation="HOC080-009.xsd"/>
<xsd:include schemaLocation="HOC110-008.xsd"/>
<xsd:include schemaLocation="HOC112-009.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOD010-008.xsd"/>
<xsd:include schemaLocation="HOD025-001.xsd"/>
<xsd:include schemaLocation="HOD035-001.xsd"/>
<xsd:include schemaLocation="HOD040-005.xsd"/>
<xsd:include schemaLocation="HOD065-004.xsd"/>
<xsd:include schemaLocation="HOD070-005.xsd"/>
<xsd:include schemaLocation="HOD090-006.xsd"/>
<xsd:include schemaLocation="HOD160-009.xsd"/>
<xsd:include schemaLocation="HOD165-002.xsd"/>
<xsd:include schemaLocation="HOD180-008.xsd"/>
<xsd:include schemaLocation="HOD185-004.xsd"/>
<xsd:include schemaLocation="HOD188-003.xsd"/>
<xsd:include schemaLocation="HOD190-010.xsd"/>
<xsd:include schemaLocation="HOD201-007.xsd"/>
<xsd:include schemaLocation="HOD205-006.xsd"/>
<xsd:include schemaLocation="HOD215-002.xsd"/>
<xsd:include schemaLocation="HOD225-002.xsd"/>
<xsd:include schemaLocation="HOD236-002.xsd"/>
<xsd:include schemaLocation="HOD251-002.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD451-002.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD491-004.xsd"/>
<xsd:include schemaLocation="HOD495-004.xsd"/>
<xsd:include schemaLocation="HOD500-007.xsd"/>
<xsd:include schemaLocation="HOD510-008.xsd"/>
<xsd:include schemaLocation="HOE104-004.xsd"/>
<xsd:include schemaLocation="HOE099-007.xsd"/>
<xsd:include schemaLocation="HOE101-002.xsd"/>
<xsd:include schemaLocation="HOE107-001.xsd"/>
<xsd:include schemaLocation="HOB910-004.xsd"/>
<xsd:include schemaLocation="HOB920-006.xsd"/>
<xsd:include schemaLocation="HOE110-004.xsd"/>
<xsd:include schemaLocation="HOE111-003.xsd"/>
<xsd:include schemaLocation="HOE112-002.xsd"/>
<xsd:include schemaLocation="HOE113-002.xsd"/>
<xsd:include schemaLocation="HOE105-004.xsd"/>
<xsd:include schemaLocation="HOE106-005.xsd"/>
<xsd:include schemaLocation="HOE108-001.xsd"/>
<xsd:include schemaLocation="HOE200-013.xsd"/>
<xsd:include schemaLocation="HOE315-002.xsd"/>
<xsd:include schemaLocation="HOE325-002.xsd"/>
<xsd:include schemaLocation="HOE330-006.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-006.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-003.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE420-002.xsd"/>
<xsd:include schemaLocation="HOE430-003.xsd"/>
<xsd:include schemaLocation="HOE432-003.xsd"/>
<xsd:include schemaLocation="HOE434-003.xsd"/>
<xsd:include schemaLocation="HOE436-003.xsd"/>
<xsd:include schemaLocation="HOE440-003.xsd"/>
<xsd:include schemaLocation="HOE445-002.xsd"/>
<xsd:include schemaLocation="HOE545-003.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-003.xsd"/>
<xsd:include schemaLocation="HOE561-003.xsd"/>
<xsd:include schemaLocation="HOE562-004.xsd"/>
<xsd:include schemaLocation="HOE563-004.xsd"/>
<xsd:include schemaLocation="HOE570-004.xsd"/>
<xsd:include schemaLocation="HOE580-004.xsd"/>
<xsd:include schemaLocation="HOE585-003.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-008.xsd"/>
<xsd:include schemaLocation="HOE930-007.xsd"/>
<xsd:include schemaLocation="HOE940-007.xsd"/>
<xsd:include schemaLocation="HOE990-003.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-003.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-003.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-004.xsd"/>
<xsd:include schemaLocation="HOK020-004.xsd"/>
<xsd:include schemaLocation="HOK030-003.xsd"/>
<xsd:include schemaLocation="HOK040-004.xsd"/>
<xsd:include schemaLocation="HOK050-003.xsd"/>
<xsd:include schemaLocation="HOK060-003.xsd"/>
<xsd:include schemaLocation="HOL025-006.xsd"/>
<xsd:include schemaLocation="HOL040-012.xsd"/>
<xsd:include schemaLocation="HOL042-003.xsd"/>
<xsd:include schemaLocation="HOL046-004.xsd"/>
<xsd:include schemaLocation="HOL048-002.xsd"/>
<xsd:include schemaLocation="HOL049-004.xsd"/>
<xsd:include schemaLocation="HOL052-003.xsd"/>
<xsd:include schemaLocation="HOL050-013.xsd"/>
<xsd:include schemaLocation="HOL054-003.xsd"/>
<xsd:include schemaLocation="HOL060-013.xsd"/>
<xsd:include schemaLocation="HOL130-012.xsd"/>
<xsd:include schemaLocation="HOL165-008.xsd"/>
<xsd:include schemaLocation="HOL169-004.xsd"/>
<xsd:include schemaLocation="HOL171-001.xsd"/>
<xsd:include schemaLocation="HOL170-013.xsd"/>
<xsd:include schemaLocation="HOL175-003.xsd"/>
<xsd:include schemaLocation="HOL190-013.xsd"/>
<xsd:include schemaLocation="HOL230-011.xsd"/>
<xsd:include schemaLocation="HOL240-013.xsd"/>
<xsd:include schemaLocation="HOL260-012.xsd"/>
<xsd:include schemaLocation="HOL261-006.xsd"/>
<xsd:include schemaLocation="HOL263-005.xsd"/>
<xsd:include schemaLocation="HOL280-012.xsd"/>
<xsd:include schemaLocation="HOL286-004.xsd"/>
<xsd:include schemaLocation="HOL290-013.xsd"/>
<xsd:include schemaLocation="HOL300-012.xsd"/>
<xsd:include schemaLocation="HOL330-011.xsd"/>
<xsd:include schemaLocation="HOL360-004.xsd"/>
<xsd:include schemaLocation="HOL363-004.xsd"/>
<xsd:include schemaLocation="HOL365-005.xsd"/>
<xsd:include schemaLocation="HOL370-004.xsd"/>
<xsd:include schemaLocation="HOL380-004.xsd"/>
<xsd:include schemaLocation="HOL355-005.xsd"/>
<xsd:include schemaLocation="HOL390-004.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOM010-005.xsd"/>
<xsd:include schemaLocation="HOM020-004.xsd"/>
<xsd:include schemaLocation="HOM080-002.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0121-161-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="16.1.0"/><xsd:enumeration value="16.1.1"/><xsd:enumeration value="16.1.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0121"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0121" type="RHO0121-161-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0121-161-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0121-161-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0121-161-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0121-161-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="kyo:TEA080-3-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA115-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA125-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA135-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA317-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA319-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA410-15-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA420-15-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA430-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB016-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB018-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOB021-10-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-9-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOB024-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB054-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOB063-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB066-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB067-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB205-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB211-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB161-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB171-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB172-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB627-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB655-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB665-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB675-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB680-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB634-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB636-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB637-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB630-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB640-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB645-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB646-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB710-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB705-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB703-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB725-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB730-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC065-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOC068-4-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOC085-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC086-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOC072-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD225-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD236-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD251-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD451-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE099-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE101-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE107-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE106-5-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE108-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE200-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE420-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE430-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE432-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE434-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE436-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE440-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE445-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE930-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE940-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE990-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-4-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL025-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL052-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL171-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
