etax/19XMLスキーマ/hojin/RHO0075-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
特定信託の各計算期間の所得に係る申告(白色)
version:1.2 Date: 2004年07月07日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL.xsd"/>
<xsd:include schemaLocation="HOA200-001.xsd"/>
<xsd:include schemaLocation="HOA310-001.xsd"/>
<xsd:include schemaLocation="HOA320-001.xsd"/>
<xsd:include schemaLocation="HOA322-001.xsd"/>
<xsd:include schemaLocation="HOA323-001.xsd"/>
<xsd:include schemaLocation="HOA324-001.xsd"/>
<xsd:include schemaLocation="HOA330-001.xsd"/>
<xsd:include schemaLocation="HOA340-001.xsd"/>
<xsd:include schemaLocation="HOA341-001.xsd"/>
<xsd:include schemaLocation="HOA350-001.xsd"/>
<xsd:include schemaLocation="HOA360-001.xsd"/>
<xsd:include schemaLocation="HOA370-001.xsd"/>
<xsd:include schemaLocation="HOA380-001.xsd"/>
<xsd:include schemaLocation="HOA410-001.xsd"/>
<xsd:include schemaLocation="HOA420-001.xsd"/>
<xsd:include schemaLocation="HOA430-001.xsd"/>
<xsd:include schemaLocation="HOA510-001.xsd"/>
<xsd:include schemaLocation="HOA520-001.xsd"/>
<xsd:include schemaLocation="HOB010-001.xsd"/>
<xsd:include schemaLocation="HOB020-001.xsd"/>
<xsd:include schemaLocation="HOB022-001.xsd"/>
<xsd:include schemaLocation="HOB030-001.xsd"/>
<xsd:include schemaLocation="HOB031-001.xsd"/>
<xsd:include schemaLocation="HOB032-001.xsd"/>
<xsd:include schemaLocation="HOB033-001.xsd"/>
<xsd:include schemaLocation="HOB040-001.xsd"/>
<xsd:include schemaLocation="HOB042-001.xsd"/>
<xsd:include schemaLocation="HOB050-001.xsd"/>
<xsd:include schemaLocation="HOB052-001.xsd"/>
<xsd:include schemaLocation="HOB053-001.xsd"/>
<xsd:include schemaLocation="HOB059-001.xsd"/>
<xsd:include schemaLocation="HOB060-001.xsd"/>
<xsd:include schemaLocation="HOB340-001.xsd"/>
<xsd:include schemaLocation="HOB350-001.xsd"/>
<xsd:include schemaLocation="HOB070-001.xsd"/>
<xsd:include schemaLocation="HOB210-001.xsd"/>
<xsd:include schemaLocation="HOB220-001.xsd"/>
<xsd:include schemaLocation="HOB230-001.xsd"/>
<xsd:include schemaLocation="HOB100-001.xsd"/>
<xsd:include schemaLocation="HOB110-001.xsd"/>
<xsd:include schemaLocation="HOB120-001.xsd"/>
<xsd:include schemaLocation="HOB160-001.xsd"/>
<xsd:include schemaLocation="HOB170-001.xsd"/>
<xsd:include schemaLocation="HOB180-001.xsd"/>
<xsd:include schemaLocation="HOB190-001.xsd"/>
<xsd:include schemaLocation="HOB200-001.xsd"/>
<xsd:include schemaLocation="HOB320-001.xsd"/>
<xsd:include schemaLocation="HOB330-001.xsd"/>
<xsd:include schemaLocation="HOB080-001.xsd"/>
<xsd:include schemaLocation="HOB090-001.xsd"/>
<xsd:include schemaLocation="HOB700-001.xsd"/>
<xsd:include schemaLocation="HOB701-001.xsd"/>
<xsd:include schemaLocation="HOB702-001.xsd"/>
<xsd:include schemaLocation="HOB800-001.xsd"/>
<xsd:include schemaLocation="HOB900-001.xsd"/>
<xsd:include schemaLocation="HOB920-001.xsd"/>
<xsd:include schemaLocation="HOC010-001.xsd"/>
<xsd:include schemaLocation="HOC020-001.xsd"/>
<xsd:include schemaLocation="HOC030-001.xsd"/>
<xsd:include schemaLocation="HOC040-001.xsd"/>
<xsd:include schemaLocation="HOC050-001.xsd"/>
<xsd:include schemaLocation="HOC060-001.xsd"/>
<xsd:include schemaLocation="HOC070-001.xsd"/>
<xsd:include schemaLocation="HOC080-001.xsd"/>
<xsd:include schemaLocation="HOC110-001.xsd"/>
<xsd:include schemaLocation="HOC112-001.xsd"/>
<xsd:include schemaLocation="HOC120-001.xsd"/>
<xsd:include schemaLocation="HOC130-001.xsd"/>
<xsd:include schemaLocation="HOC140-001.xsd"/>
<xsd:include schemaLocation="HOD010-001.xsd"/>
<xsd:include schemaLocation="HOD040-001.xsd"/>
<xsd:include schemaLocation="HOD050-001.xsd"/>
<xsd:include schemaLocation="HOD060-001.xsd"/>
<xsd:include schemaLocation="HOD070-001.xsd"/>
<xsd:include schemaLocation="HOD080-001.xsd"/>
<xsd:include schemaLocation="HOD090-001.xsd"/>
<xsd:include schemaLocation="HOD100-001.xsd"/>
<xsd:include schemaLocation="HOD110-001.xsd"/>
<xsd:include schemaLocation="HOD120-001.xsd"/>
<xsd:include schemaLocation="HOD130-001.xsd"/>
<xsd:include schemaLocation="HOD140-001.xsd"/>
<xsd:include schemaLocation="HOD160-001.xsd"/>
<xsd:include schemaLocation="HOD170-001.xsd"/>
<xsd:include schemaLocation="HOD180-001.xsd"/>
<xsd:include schemaLocation="HOD190-001.xsd"/>
<xsd:include schemaLocation="HOD200-001.xsd"/>
<xsd:include schemaLocation="HOD030-001.xsd"/>
<xsd:include schemaLocation="HOD220-001.xsd"/>
<xsd:include schemaLocation="HOD240-001.xsd"/>
<xsd:include schemaLocation="HOD230-001.xsd"/>
<xsd:include schemaLocation="HOD150-001.xsd"/>
<xsd:include schemaLocation="HOD410-001.xsd"/>
<xsd:include schemaLocation="HOD420-001.xsd"/>
<xsd:include schemaLocation="HOD430-001.xsd"/>
<xsd:include schemaLocation="HOD440-001.xsd"/>
<xsd:include schemaLocation="HOD450-001.xsd"/>
<xsd:include schemaLocation="HOD460-001.xsd"/>
<xsd:include schemaLocation="HOD470-001.xsd"/>
<xsd:include schemaLocation="HOD480-001.xsd"/>
<xsd:include schemaLocation="HOD490-001.xsd"/>
<xsd:include schemaLocation="HOD500-001.xsd"/>
<xsd:include schemaLocation="HOD510-001.xsd"/>
<xsd:include schemaLocation="HOE100-001.xsd"/>
<xsd:include schemaLocation="HOE102-001.xsd"/>
<xsd:include schemaLocation="HOE103-001.xsd"/>
<xsd:include schemaLocation="HOE200-001.xsd"/>
<xsd:include schemaLocation="HOE310-001.xsd"/>
<xsd:include schemaLocation="HOE320-001.xsd"/>
<xsd:include schemaLocation="HOE330-001.xsd"/>
<xsd:include schemaLocation="HOE340-001.xsd"/>
<xsd:include schemaLocation="HOE350-001.xsd"/>
<xsd:include schemaLocation="HOE360-001.xsd"/>
<xsd:include schemaLocation="HOE370-001.xsd"/>
<xsd:include schemaLocation="HOE380-001.xsd"/>
<xsd:include schemaLocation="HOE400-001.xsd"/>
<xsd:include schemaLocation="HOE510-001.xsd"/>
<xsd:include schemaLocation="HOE511-001.xsd"/>
<xsd:include schemaLocation="HOE520-001.xsd"/>
<xsd:include schemaLocation="HOE731-001.xsd"/>
<xsd:include schemaLocation="HOE522-001.xsd"/>
<xsd:include schemaLocation="HOE530-001.xsd"/>
<xsd:include schemaLocation="HOE600-001.xsd"/>
<xsd:include schemaLocation="HOE720-001.xsd"/>
<xsd:include schemaLocation="HOE730-001.xsd"/>
<xsd:include schemaLocation="HOI010-001.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-001.xsd"/>
<xsd:include schemaLocation="HOI060-001.xsd"/>
<xsd:include schemaLocation="HOI070-001.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-001.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-001.xsd"/>
<xsd:include schemaLocation="HOI130-001.xsd"/>
<xsd:include schemaLocation="HOI140-001.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOL010-001.xsd"/>
<xsd:include schemaLocation="HOL040-001.xsd"/>
<xsd:include schemaLocation="HOL020-001.xsd"/>
<xsd:include schemaLocation="HOL035-001.xsd"/>
<xsd:include schemaLocation="HOL045-001.xsd"/>
<xsd:include schemaLocation="HOL050-001.xsd"/>
<xsd:include schemaLocation="HOL060-001.xsd"/>
<xsd:include schemaLocation="HOL070-001.xsd"/>
<xsd:include schemaLocation="HOL080-001.xsd"/>
<xsd:include schemaLocation="HOL090-001.xsd"/>
<xsd:include schemaLocation="HOL095-001.xsd"/>
<xsd:include schemaLocation="HOL100-001.xsd"/>
<xsd:include schemaLocation="HOL110-001.xsd"/>
<xsd:include schemaLocation="HOL120-001.xsd"/>
<xsd:include schemaLocation="HOL130-001.xsd"/>
<xsd:include schemaLocation="HOL145-001.xsd"/>
<xsd:include schemaLocation="HOL150-001.xsd"/>
<xsd:include schemaLocation="HOL160-001.xsd"/>
<xsd:include schemaLocation="HOL170-001.xsd"/>
<xsd:include schemaLocation="HOL180-001.xsd"/>
<xsd:include schemaLocation="HOL190-001.xsd"/>
<xsd:include schemaLocation="HOL200-001.xsd"/>
<xsd:include schemaLocation="HOL210-001.xsd"/>
<xsd:include schemaLocation="HOL230-001.xsd"/>
<xsd:include schemaLocation="HOL240-001.xsd"/>
<xsd:include schemaLocation="HOL250-001.xsd"/>
<xsd:include schemaLocation="HOL260-001.xsd"/>
<xsd:include schemaLocation="HOL265-001.xsd"/>
<xsd:include schemaLocation="HOL270-001.xsd"/>
<xsd:include schemaLocation="HOL280-001.xsd"/>
<xsd:include schemaLocation="HOL285-001.xsd"/>
<xsd:include schemaLocation="HOL290-001.xsd"/>
<xsd:include schemaLocation="HOL300-001.xsd"/>
<xsd:include schemaLocation="HOL310-001.xsd"/>
<xsd:include schemaLocation="HOL320-001.xsd"/>
<xsd:include schemaLocation="HOM010-001.xsd"/>
<xsd:include schemaLocation="HOM020-001.xsd"/>
<xsd:include schemaLocation="HOM030-001.xsd"/>
<xsd:include schemaLocation="HOM040-001.xsd"/>
<xsd:include schemaLocation="HOM060-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0075-1-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/><xsd:enumeration value="1.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0075"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0075" type="RHO0075-1-2type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0075-1-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0075-1-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0075-1-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0075-1-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA310-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA340-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA341-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA410-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA420-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA430-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA510-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA520-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB059-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB340-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB350-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB170-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB330-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB700-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD220-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD240-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD230-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD490-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE510-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE511-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE520-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE731-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE522-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE720-1-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOE730-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL045-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL095-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL145-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL180-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL285-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL310-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-1-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
