etax/19XMLスキーマ/hojin/RHO0095-110.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
清算事業年度予納申告(白色)
version:11.0.2 Date: 2011年10月21日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL070.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA340-006.xsd"/>
<xsd:include schemaLocation="HOA341-003.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOA410-008.xsd"/>
<xsd:include schemaLocation="HOA420-008.xsd"/>
<xsd:include schemaLocation="HOA430-008.xsd"/>
<xsd:include schemaLocation="HOA511-005.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA522-003.xsd"/>
<xsd:include schemaLocation="HOB010-007.xsd"/>
<xsd:include schemaLocation="HOB015-001.xsd"/>
<xsd:include schemaLocation="HOB021-003.xsd"/>
<xsd:include schemaLocation="HOB022-005.xsd"/>
<xsd:include schemaLocation="HOB030-004.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-004.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-005.xsd"/>
<xsd:include schemaLocation="HOB050-005.xsd"/>
<xsd:include schemaLocation="HOB052-005.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB710-001.xsd"/>
<xsd:include schemaLocation="HOB701-004.xsd"/>
<xsd:include schemaLocation="HOB702-004.xsd"/>
<xsd:include schemaLocation="HOB703-001.xsd"/>
<xsd:include schemaLocation="HOB720-004.xsd"/>
<xsd:include schemaLocation="HOB725-001.xsd"/>
<xsd:include schemaLocation="HOB800-008.xsd"/>
<xsd:include schemaLocation="HOB810-002.xsd"/>
<xsd:include schemaLocation="HOB900-005.xsd"/>
<xsd:include schemaLocation="HOB930-004.xsd"/>
<xsd:include schemaLocation="HOC060-006.xsd"/>
<xsd:include schemaLocation="HOC065-002.xsd"/>
<xsd:include schemaLocation="HOC071-004.xsd"/>
<xsd:include schemaLocation="HOC080-005.xsd"/>
<xsd:include schemaLocation="HOC110-004.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOE099-003.xsd"/>
<xsd:include schemaLocation="HOE101-002.xsd"/>
<xsd:include schemaLocation="HOB910-003.xsd"/>
<xsd:include schemaLocation="HOE105-002.xsd"/>
<xsd:include schemaLocation="HOE106-003.xsd"/>
<xsd:include schemaLocation="HOE310-006.xsd"/>
<xsd:include schemaLocation="HOE315-001.xsd"/>
<xsd:include schemaLocation="HOE320-006.xsd"/>
<xsd:include schemaLocation="HOE325-001.xsd"/>
<xsd:include schemaLocation="HOE330-005.xsd"/>
<xsd:include schemaLocation="HOE341-001.xsd"/>
<xsd:include schemaLocation="HOE340-005.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE390-002.xsd"/>
<xsd:include schemaLocation="HOE400-005.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-003.xsd"/>
<xsd:include schemaLocation="HOE620-003.xsd"/>
<xsd:include schemaLocation="HOE630-003.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE540-002.xsd"/>
<xsd:include schemaLocation="HOE545-001.xsd"/>
<xsd:include schemaLocation="HOE550-002.xsd"/>
<xsd:include schemaLocation="HOE546-001.xsd"/>
<xsd:include schemaLocation="HOE551-001.xsd"/>
<xsd:include schemaLocation="HOE547-001.xsd"/>
<xsd:include schemaLocation="HOE555-001.xsd"/>
<xsd:include schemaLocation="HOE561-001.xsd"/>
<xsd:include schemaLocation="HOE560-002.xsd"/>
<xsd:include schemaLocation="HOE562-001.xsd"/>
<xsd:include schemaLocation="HOE565-001.xsd"/>
<xsd:include schemaLocation="HOE563-001.xsd"/>
<xsd:include schemaLocation="HOE570-002.xsd"/>
<xsd:include schemaLocation="HOE580-002.xsd"/>
<xsd:include schemaLocation="HOE585-001.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-007.xsd"/>
<xsd:include schemaLocation="HOE910-008.xsd"/>
<xsd:include schemaLocation="HOE930-007.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-002.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-002.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOL010-007.xsd"/>
<xsd:include schemaLocation="HOL040-006.xsd"/>
<xsd:include schemaLocation="HOL020-008.xsd"/>
<xsd:include schemaLocation="HOL035-004.xsd"/>
<xsd:include schemaLocation="HOL340-005.xsd"/>
<xsd:include schemaLocation="HOL050-007.xsd"/>
<xsd:include schemaLocation="HOL060-008.xsd"/>
<xsd:include schemaLocation="HOL070-007.xsd"/>
<xsd:include schemaLocation="HOL080-007.xsd"/>
<xsd:include schemaLocation="HOL091-004.xsd"/>
<xsd:include schemaLocation="HOL100-007.xsd"/>
<xsd:include schemaLocation="HOL110-006.xsd"/>
<xsd:include schemaLocation="HOL120-008.xsd"/>
<xsd:include schemaLocation="HOL130-007.xsd"/>
<xsd:include schemaLocation="HOL150-008.xsd"/>
<xsd:include schemaLocation="HOL165-002.xsd"/>
<xsd:include schemaLocation="HOL170-008.xsd"/>
<xsd:include schemaLocation="HOL190-008.xsd"/>
<xsd:include schemaLocation="HOL200-007.xsd"/>
<xsd:include schemaLocation="HOL201-003.xsd"/>
<xsd:include schemaLocation="HOL210-007.xsd"/>
<xsd:include schemaLocation="HOL230-007.xsd"/>
<xsd:include schemaLocation="HOL240-007.xsd"/>
<xsd:include schemaLocation="HOL250-006.xsd"/>
<xsd:include schemaLocation="HOL260-008.xsd"/>
<xsd:include schemaLocation="HOL259-002.xsd"/>
<xsd:include schemaLocation="HOL261-003.xsd"/>
<xsd:include schemaLocation="HOL265-007.xsd"/>
<xsd:include schemaLocation="HOL270-008.xsd"/>
<xsd:include schemaLocation="HOL280-008.xsd"/>
<xsd:include schemaLocation="HOL290-007.xsd"/>
<xsd:include schemaLocation="HOL300-008.xsd"/>
<xsd:include schemaLocation="HOL330-007.xsd"/>
<xsd:include schemaLocation="HOL350-001.xsd"/>
<xsd:include schemaLocation="HOM010-004.xsd"/>
<xsd:include schemaLocation="HOM020-004.xsd"/>
<xsd:include schemaLocation="HOM080-002.xsd"/>
<xsd:include schemaLocation="HOM070-003.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM110-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0095-110-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="11.0.0"/><xsd:enumeration value="11.0.1"/><xsd:enumeration value="11.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0095"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0095" type="RHO0095-110-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0095-110-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0095-110-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0095-110-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0095-110-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA341-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA410-8-1group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA420-8-1group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA430-8-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOB010-7-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOB015-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOB021-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB710-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB703-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOB720-4-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOB725-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOB800-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC065-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC071-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE099-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE101-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE310-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE315-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE320-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE325-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE330-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE540-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE545-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE550-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE546-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE551-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE547-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE555-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE561-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE560-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE562-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE565-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE563-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE570-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE910-8-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOE930-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL010-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL340-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL201-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL350-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM110-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
