etax/19XMLスキーマ/hojin/RHO0031-180.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
公益法人の確定申告(青色)
version:18.0.3 Date: 2021年09月09日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL120.xsd"/>
<xsd:include schemaLocation="HOA121-007.xsd"/>
<xsd:include schemaLocation="HOA125-004.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA319-003.xsd"/>
<xsd:include schemaLocation="HOA318-001.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOA410-017.xsd"/>
<xsd:include schemaLocation="HOA420-017.xsd"/>
<xsd:include schemaLocation="HOA430-017.xsd"/>
<xsd:include schemaLocation="HOA511-011.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA522-006.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOB016-003.xsd"/>
<xsd:include schemaLocation="HOB021-012.xsd"/>
<xsd:include schemaLocation="HOB024-002.xsd"/>
<xsd:include schemaLocation="HOB025-002.xsd"/>
<xsd:include schemaLocation="HOB026-002.xsd"/>
<xsd:include schemaLocation="HOB027-002.xsd"/>
<xsd:include schemaLocation="HOB022-008.xsd"/>
<xsd:include schemaLocation="HOB030-009.xsd"/>
<xsd:include schemaLocation="HOB031-007.xsd"/>
<xsd:include schemaLocation="HOB032-006.xsd"/>
<xsd:include schemaLocation="HOB033-005.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB043-002.xsd"/>
<xsd:include schemaLocation="HOB042-010.xsd"/>
<xsd:include schemaLocation="HOB069-002.xsd"/>
<xsd:include schemaLocation="HOB344-002.xsd"/>
<xsd:include schemaLocation="HOB068-003.xsd"/>
<xsd:include schemaLocation="HOB066-010.xsd"/>
<xsd:include schemaLocation="HOB067-006.xsd"/>
<xsd:include schemaLocation="HOB205-008.xsd"/>
<xsd:include schemaLocation="HOB208-001.xsd"/>
<xsd:include schemaLocation="HOB211-010.xsd"/>
<xsd:include schemaLocation="HOB161-010.xsd"/>
<xsd:include schemaLocation="HOB681-002.xsd"/>
<xsd:include schemaLocation="HOB666-002.xsd"/>
<xsd:include schemaLocation="HOB682-002.xsd"/>
<xsd:include schemaLocation="HOB655-004.xsd"/>
<xsd:include schemaLocation="HOB665-004.xsd"/>
<xsd:include schemaLocation="HOB675-004.xsd"/>
<xsd:include schemaLocation="HOB680-003.xsd"/>
<xsd:include schemaLocation="HOB634-006.xsd"/>
<xsd:include schemaLocation="HOB647-002.xsd"/>
<xsd:include schemaLocation="HOB636-006.xsd"/>
<xsd:include schemaLocation="HOB635-001.xsd"/>
<xsd:include schemaLocation="HOB715-003.xsd"/>
<xsd:include schemaLocation="HOB638-001.xsd"/>
<xsd:include schemaLocation="HOB639-001.xsd"/>
<xsd:include schemaLocation="HOB637-005.xsd"/>
<xsd:include schemaLocation="HOB630-008.xsd"/>
<xsd:include schemaLocation="HOB640-008.xsd"/>
<xsd:include schemaLocation="HOB645-005.xsd"/>
<xsd:include schemaLocation="HOB646-005.xsd"/>
<xsd:include schemaLocation="HOB648-001.xsd"/>
<xsd:include schemaLocation="HOB660-007.xsd"/>
<xsd:include schemaLocation="HOB670-007.xsd"/>
<xsd:include schemaLocation="HOB710-009.xsd"/>
<xsd:include schemaLocation="HOM095-002.xsd"/>
<xsd:include schemaLocation="HOB701-007.xsd"/>
<xsd:include schemaLocation="HOB705-001.xsd"/>
<xsd:include schemaLocation="HOB711-002.xsd"/>
<xsd:include schemaLocation="HOB703-004.xsd"/>
<xsd:include schemaLocation="HOB725-007.xsd"/>
<xsd:include schemaLocation="HOB730-006.xsd"/>
<xsd:include schemaLocation="HOB800-012.xsd"/>
<xsd:include schemaLocation="HOB810-004.xsd"/>
<xsd:include schemaLocation="HOB900-012.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC010-008.xsd"/>
<xsd:include schemaLocation="HOC012-003.xsd"/>
<xsd:include schemaLocation="HOC020-012.xsd"/>
<xsd:include schemaLocation="HOC022-004.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC050-008.xsd"/>
<xsd:include schemaLocation="HOC060-011.xsd"/>
<xsd:include schemaLocation="HOC065-008.xsd"/>
<xsd:include schemaLocation="HOC085-003.xsd"/>
<xsd:include schemaLocation="HOC086-002.xsd"/>
<xsd:include schemaLocation="HOC072-006.xsd"/>
<xsd:include schemaLocation="HOC080-009.xsd"/>
<xsd:include schemaLocation="HOC110-008.xsd"/>
<xsd:include schemaLocation="HOC112-011.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOD010-010.xsd"/>
<xsd:include schemaLocation="HOD025-002.xsd"/>
<xsd:include schemaLocation="HOD035-001.xsd"/>
<xsd:include schemaLocation="HOD040-006.xsd"/>
<xsd:include schemaLocation="HOD065-004.xsd"/>
<xsd:include schemaLocation="HOD070-005.xsd"/>
<xsd:include schemaLocation="HOD090-006.xsd"/>
<xsd:include schemaLocation="HOD165-003.xsd"/>
<xsd:include schemaLocation="HOD175-002.xsd"/>
<xsd:include schemaLocation="HOD180-008.xsd"/>
<xsd:include schemaLocation="HOD185-006.xsd"/>
<xsd:include schemaLocation="HOD188-005.xsd"/>
<xsd:include schemaLocation="HOD190-011.xsd"/>
<xsd:include schemaLocation="HOD201-009.xsd"/>
<xsd:include schemaLocation="HOD205-008.xsd"/>
<xsd:include schemaLocation="HOD215-002.xsd"/>
<xsd:include schemaLocation="HOD225-002.xsd"/>
<xsd:include schemaLocation="HOD236-002.xsd"/>
<xsd:include schemaLocation="HOD251-003.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-005.xsd"/>
<xsd:include schemaLocation="HOD451-003.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD491-005.xsd"/>
<xsd:include schemaLocation="HOD495-005.xsd"/>
<xsd:include schemaLocation="HOD500-008.xsd"/>
<xsd:include schemaLocation="HOD510-009.xsd"/>
<xsd:include schemaLocation="HOE104-005.xsd"/>
<xsd:include schemaLocation="HOE099-007.xsd"/>
<xsd:include schemaLocation="HOE101-002.xsd"/>
<xsd:include schemaLocation="HOE109-002.xsd"/>
<xsd:include schemaLocation="HOB911-002.xsd"/>
<xsd:include schemaLocation="HOB920-007.xsd"/>
<xsd:include schemaLocation="HOE110-004.xsd"/>
<xsd:include schemaLocation="HOE111-004.xsd"/>
<xsd:include schemaLocation="HOE112-002.xsd"/>
<xsd:include schemaLocation="HOE113-003.xsd"/>
<xsd:include schemaLocation="HOE105-004.xsd"/>
<xsd:include schemaLocation="HOE108-002.xsd"/>
<xsd:include schemaLocation="HOE200-013.xsd"/>
<xsd:include schemaLocation="HOE315-003.xsd"/>
<xsd:include schemaLocation="HOE325-003.xsd"/>
<xsd:include schemaLocation="HOE330-007.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-007.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-004.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE420-002.xsd"/>
<xsd:include schemaLocation="HOE430-004.xsd"/>
<xsd:include schemaLocation="HOE432-003.xsd"/>
<xsd:include schemaLocation="HOE434-003.xsd"/>
<xsd:include schemaLocation="HOE436-004.xsd"/>
<xsd:include schemaLocation="HOE440-004.xsd"/>
<xsd:include schemaLocation="HOE445-002.xsd"/>
<xsd:include schemaLocation="HOE545-004.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-003.xsd"/>
<xsd:include schemaLocation="HOE561-004.xsd"/>
<xsd:include schemaLocation="HOE562-005.xsd"/>
<xsd:include schemaLocation="HOE563-005.xsd"/>
<xsd:include schemaLocation="HOE570-004.xsd"/>
<xsd:include schemaLocation="HOE580-004.xsd"/>
<xsd:include schemaLocation="HOE585-003.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE532-001.xsd"/>
<xsd:include schemaLocation="HOE533-001.xsd"/>
<xsd:include schemaLocation="HOE534-001.xsd"/>
<xsd:include schemaLocation="HOE535-001.xsd"/>
<xsd:include schemaLocation="HOE536-001.xsd"/>
<xsd:include schemaLocation="HOE537-001.xsd"/>
<xsd:include schemaLocation="HOE538-001.xsd"/>
<xsd:include schemaLocation="HOE539-001.xsd"/>
<xsd:include schemaLocation="HOE541-001.xsd"/>
<xsd:include schemaLocation="HOE542-001.xsd"/>
<xsd:include schemaLocation="HOE543-001.xsd"/>
<xsd:include schemaLocation="HOE544-001.xsd"/>
<xsd:include schemaLocation="HOE600-009.xsd"/>
<xsd:include schemaLocation="HOE990-005.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-003.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-003.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-005.xsd"/>
<xsd:include schemaLocation="HOK020-004.xsd"/>
<xsd:include schemaLocation="HOK030-003.xsd"/>
<xsd:include schemaLocation="HOK040-004.xsd"/>
<xsd:include schemaLocation="HOK050-003.xsd"/>
<xsd:include schemaLocation="HOK060-003.xsd"/>
<xsd:include schemaLocation="HOL025-008.xsd"/>
<xsd:include schemaLocation="HOL264-001.xsd"/>
<xsd:include schemaLocation="HOL266-001.xsd"/>
<xsd:include schemaLocation="HOL040-014.xsd"/>
<xsd:include schemaLocation="HOL042-005.xsd"/>
<xsd:include schemaLocation="HOL046-006.xsd"/>
<xsd:include schemaLocation="HOL051-002.xsd"/>
<xsd:include schemaLocation="HOL048-004.xsd"/>
<xsd:include schemaLocation="HOL049-006.xsd"/>
<xsd:include schemaLocation="HOL053-002.xsd"/>
<xsd:include schemaLocation="HOL052-005.xsd"/>
<xsd:include schemaLocation="HOL050-015.xsd"/>
<xsd:include schemaLocation="HOL054-005.xsd"/>
<xsd:include schemaLocation="HOL092-002.xsd"/>
<xsd:include schemaLocation="HOL060-015.xsd"/>
<xsd:include schemaLocation="HOL130-014.xsd"/>
<xsd:include schemaLocation="HOL171-003.xsd"/>
<xsd:include schemaLocation="HOL169-006.xsd"/>
<xsd:include schemaLocation="HOL170-015.xsd"/>
<xsd:include schemaLocation="HOL175-005.xsd"/>
<xsd:include schemaLocation="HOL190-015.xsd"/>
<xsd:include schemaLocation="HOL240-015.xsd"/>
<xsd:include schemaLocation="HOL263-007.xsd"/>
<xsd:include schemaLocation="HOL286-006.xsd"/>
<xsd:include schemaLocation="HOL262-002.xsd"/>
<xsd:include schemaLocation="HOL261-008.xsd"/>
<xsd:include schemaLocation="HOL290-015.xsd"/>
<xsd:include schemaLocation="HOL300-014.xsd"/>
<xsd:include schemaLocation="HOL330-013.xsd"/>
<xsd:include schemaLocation="HOL360-005.xsd"/>
<xsd:include schemaLocation="HOL363-005.xsd"/>
<xsd:include schemaLocation="HOL365-006.xsd"/>
<xsd:include schemaLocation="HOL370-005.xsd"/>
<xsd:include schemaLocation="HOL380-005.xsd"/>
<xsd:include schemaLocation="HOL355-006.xsd"/>
<xsd:include schemaLocation="HOL390-005.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOM010-005.xsd"/>
<xsd:include schemaLocation="HOM020-004.xsd"/>
<xsd:include schemaLocation="HOM080-003.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0031-180-3VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="18.0.0"/><xsd:enumeration value="18.0.1"/><xsd:enumeration value="18.0.2"/><xsd:enumeration value="18.0.3"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0031"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0031" type="RHO0031-180-3type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0031-180-3type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0031-180-3contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0031-180-3VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0031-180-3contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA121-7-1group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA125-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA319-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA318-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA410-17-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA420-17-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA430-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB016-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB021-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB069-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB344-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB068-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB066-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB067-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB205-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB208-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB211-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB161-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB681-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB666-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB682-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB655-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB665-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB675-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB680-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB634-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB647-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB636-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB635-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB715-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB638-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB639-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB637-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB630-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB640-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB645-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB646-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB648-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB710-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM095-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB705-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB711-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB703-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB725-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB730-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC065-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC085-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC086-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC072-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD175-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD225-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD236-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD251-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD451-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE099-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE101-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE109-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB911-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE108-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE200-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE420-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE432-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE434-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE436-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE445-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE532-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE533-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE534-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE535-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE536-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE537-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE538-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE539-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE541-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE542-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE543-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE544-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE990-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-5-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL025-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL264-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL266-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL040-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL051-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL053-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL052-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL092-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL171-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL262-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
