etax/19XMLスキーマ/hojin/RHO0010-060.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
普通法人の確定申告(青色)
version:6.0.3 Date: 2006年12月25日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="HOA110-004.xsd"/>
<xsd:include schemaLocation="HOA200-004.xsd"/>
<xsd:include schemaLocation="HOA201-001.xsd"/>
<xsd:include schemaLocation="HOA310-004.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-003.xsd"/>
<xsd:include schemaLocation="HOA323-003.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA340-003.xsd"/>
<xsd:include schemaLocation="HOA341-003.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOA410-004.xsd"/>
<xsd:include schemaLocation="HOA420-004.xsd"/>
<xsd:include schemaLocation="HOA430-004.xsd"/>
<xsd:include schemaLocation="HOA510-003.xsd"/>
<xsd:include schemaLocation="HOA511-001.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA520-003.xsd"/>
<xsd:include schemaLocation="HOA522-001.xsd"/>
<xsd:include schemaLocation="HOA521-002.xsd"/>
<xsd:include schemaLocation="HOB010-004.xsd"/>
<xsd:include schemaLocation="HOB020-004.xsd"/>
<xsd:include schemaLocation="HOB022-003.xsd"/>
<xsd:include schemaLocation="HOB030-003.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-003.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-003.xsd"/>
<xsd:include schemaLocation="HOB050-004.xsd"/>
<xsd:include schemaLocation="HOB052-004.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB060-004.xsd"/>
<xsd:include schemaLocation="HOB061-001.xsd"/>
<xsd:include schemaLocation="HOB340-004.xsd"/>
<xsd:include schemaLocation="HOB341-001.xsd"/>
<xsd:include schemaLocation="HOB350-004.xsd"/>
<xsd:include schemaLocation="HOB070-004.xsd"/>
<xsd:include schemaLocation="HOB210-004.xsd"/>
<xsd:include schemaLocation="HOB220-004.xsd"/>
<xsd:include schemaLocation="HOB230-004.xsd"/>
<xsd:include schemaLocation="HOB100-004.xsd"/>
<xsd:include schemaLocation="HOB110-004.xsd"/>
<xsd:include schemaLocation="HOB120-004.xsd"/>
<xsd:include schemaLocation="HOB160-004.xsd"/>
<xsd:include schemaLocation="HOB170-004.xsd"/>
<xsd:include schemaLocation="HOB180-004.xsd"/>
<xsd:include schemaLocation="HOB190-004.xsd"/>
<xsd:include schemaLocation="HOB200-004.xsd"/>
<xsd:include schemaLocation="HOB320-004.xsd"/>
<xsd:include schemaLocation="HOB330-004.xsd"/>
<xsd:include schemaLocation="HOB620-001.xsd"/>
<xsd:include schemaLocation="HOB621-001.xsd"/>
<xsd:include schemaLocation="HOB622-001.xsd"/>
<xsd:include schemaLocation="HOB623-002.xsd"/>
<xsd:include schemaLocation="HOB624-002.xsd"/>
<xsd:include schemaLocation="HOB080-004.xsd"/>
<xsd:include schemaLocation="HOB090-004.xsd"/>
<xsd:include schemaLocation="HOB700-003.xsd"/>
<xsd:include schemaLocation="HOB701-003.xsd"/>
<xsd:include schemaLocation="HOB702-003.xsd"/>
<xsd:include schemaLocation="HOB720-002.xsd"/>
<xsd:include schemaLocation="HOB800-004.xsd"/>
<xsd:include schemaLocation="HOB900-003.xsd"/>
<xsd:include schemaLocation="HOB910-001.xsd"/>
<xsd:include schemaLocation="HOB920-004.xsd"/>
<xsd:include schemaLocation="HOB930-002.xsd"/>
<xsd:include schemaLocation="HOC010-003.xsd"/>
<xsd:include schemaLocation="HOC020-003.xsd"/>
<xsd:include schemaLocation="HOC030-004.xsd"/>
<xsd:include schemaLocation="HOC040-004.xsd"/>
<xsd:include schemaLocation="HOC050-003.xsd"/>
<xsd:include schemaLocation="HOC060-003.xsd"/>
<xsd:include schemaLocation="HOC070-003.xsd"/>
<xsd:include schemaLocation="HOC080-003.xsd"/>
<xsd:include schemaLocation="HOC110-003.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-003.xsd"/>
<xsd:include schemaLocation="HOC140-003.xsd"/>
<xsd:include schemaLocation="HOD010-004.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD060-004.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD110-004.xsd"/>
<xsd:include schemaLocation="HOD120-004.xsd"/>
<xsd:include schemaLocation="HOD140-004.xsd"/>
<xsd:include schemaLocation="HOD160-004.xsd"/>
<xsd:include schemaLocation="HOD170-004.xsd"/>
<xsd:include schemaLocation="HOD180-004.xsd"/>
<xsd:include schemaLocation="HOD190-004.xsd"/>
<xsd:include schemaLocation="HOD195-001.xsd"/>
<xsd:include schemaLocation="HOD200-004.xsd"/>
<xsd:include schemaLocation="HOD030-003.xsd"/>
<xsd:include schemaLocation="HOD095-001.xsd"/>
<xsd:include schemaLocation="HOD100-004.xsd"/>
<xsd:include schemaLocation="HOD130-004.xsd"/>
<xsd:include schemaLocation="HOD150-004.xsd"/>
<xsd:include schemaLocation="HOD250-002.xsd"/>
<xsd:include schemaLocation="HOD410-004.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-004.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-004.xsd"/>
<xsd:include schemaLocation="HOD485-003.xsd"/>
<xsd:include schemaLocation="HOD491-001.xsd"/>
<xsd:include schemaLocation="HOD500-004.xsd"/>
<xsd:include schemaLocation="HOD510-004.xsd"/>
<xsd:include schemaLocation="HOE090-001.xsd"/>
<xsd:include schemaLocation="HOE091-001.xsd"/>
<xsd:include schemaLocation="HOE100-004.xsd"/>
<xsd:include schemaLocation="HOE104-002.xsd"/>
<xsd:include schemaLocation="HOE102-004.xsd"/>
<xsd:include schemaLocation="HOE103-004.xsd"/>
<xsd:include schemaLocation="HOE200-004.xsd"/>
<xsd:include schemaLocation="HOE310-004.xsd"/>
<xsd:include schemaLocation="HOE320-004.xsd"/>
<xsd:include schemaLocation="HOE330-004.xsd"/>
<xsd:include schemaLocation="HOE340-004.xsd"/>
<xsd:include schemaLocation="HOE350-003.xsd"/>
<xsd:include schemaLocation="HOE351-001.xsd"/>
<xsd:include schemaLocation="HOE360-004.xsd"/>
<xsd:include schemaLocation="HOE370-004.xsd"/>
<xsd:include schemaLocation="HOE380-004.xsd"/>
<xsd:include schemaLocation="HOE390-001.xsd"/>
<xsd:include schemaLocation="HOE400-004.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-002.xsd"/>
<xsd:include schemaLocation="HOE620-002.xsd"/>
<xsd:include schemaLocation="HOE630-002.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE600-004.xsd"/>
<xsd:include schemaLocation="HOI010-001.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-002.xsd"/>
<xsd:include schemaLocation="HOI140-001.xsd"/>
<xsd:include schemaLocation="HOI141-001.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-002.xsd"/>
<xsd:include schemaLocation="HOL010-004.xsd"/>
<xsd:include schemaLocation="HOL040-004.xsd"/>
<xsd:include schemaLocation="HOL020-004.xsd"/>
<xsd:include schemaLocation="HOL035-004.xsd"/>
<xsd:include schemaLocation="HOL045-004.xsd"/>
<xsd:include schemaLocation="HOL340-001.xsd"/>
<xsd:include schemaLocation="HOL050-004.xsd"/>
<xsd:include schemaLocation="HOL060-004.xsd"/>
<xsd:include schemaLocation="HOL070-004.xsd"/>
<xsd:include schemaLocation="HOL080-004.xsd"/>
<xsd:include schemaLocation="HOL090-004.xsd"/>
<xsd:include schemaLocation="HOL095-004.xsd"/>
<xsd:include schemaLocation="HOL100-004.xsd"/>
<xsd:include schemaLocation="HOL110-004.xsd"/>
<xsd:include schemaLocation="HOL120-004.xsd"/>
<xsd:include schemaLocation="HOL130-004.xsd"/>
<xsd:include schemaLocation="HOL145-004.xsd"/>
<xsd:include schemaLocation="HOL150-004.xsd"/>
<xsd:include schemaLocation="HOL170-004.xsd"/>
<xsd:include schemaLocation="HOL190-004.xsd"/>
<xsd:include schemaLocation="HOL200-004.xsd"/>
<xsd:include schemaLocation="HOL210-004.xsd"/>
<xsd:include schemaLocation="HOL230-004.xsd"/>
<xsd:include schemaLocation="HOL240-004.xsd"/>
<xsd:include schemaLocation="HOL250-004.xsd"/>
<xsd:include schemaLocation="HOL260-004.xsd"/>
<xsd:include schemaLocation="HOL265-004.xsd"/>
<xsd:include schemaLocation="HOL270-004.xsd"/>
<xsd:include schemaLocation="HOL280-004.xsd"/>
<xsd:include schemaLocation="HOL285-004.xsd"/>
<xsd:include schemaLocation="HOL290-004.xsd"/>
<xsd:include schemaLocation="HOL300-004.xsd"/>
<xsd:include schemaLocation="HOL330-003.xsd"/>
<xsd:include schemaLocation="HOM010-004.xsd"/>
<xsd:include schemaLocation="HOM020-003.xsd"/>
<xsd:include schemaLocation="HOM040-004.xsd"/>
<xsd:include schemaLocation="HOM070-001.xsd"/>
<xsd:include schemaLocation="HOM060-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0010-60-3VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0.0"/><xsd:enumeration value="6.0.1"/><xsd:enumeration value="6.0.2"/><xsd:enumeration value="6.0.3"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0010" type="RHO0010-60-3type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0010-60-3type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0010-60-3contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0010-60-3VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0010-60-3contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA110-4-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA200-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA201-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA310-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA340-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA341-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:group ref="HOA410-4-0group" maxOccurs="1"/>
<xsd:group ref="HOA420-4-0group" maxOccurs="1"/>
</xsd:choice>
<xsd:group ref="HOA430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA510-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA520-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA521-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB061-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB340-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB341-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB210-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB100-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB160-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB170-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB200-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB620-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB622-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB623-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB624-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB700-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB720-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC030-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC140-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD140-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD195-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD200-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD095-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD100-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD150-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE090-1-2group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE091-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE100-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE200-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK010-2-1group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOL010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL045-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL340-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL095-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL145-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL285-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-3-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
