etax/19XMLスキーマ/hojin/RHO0021-140.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
普通法人の確定申告(白色)
version:14.0.2 Date: 2014年11月04日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL120.xsd"/>
<xsd:include schemaLocation="HOA111-001.xsd"/>
<xsd:include schemaLocation="HOA115-001.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA316-005.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOA410-013.xsd"/>
<xsd:include schemaLocation="HOA420-013.xsd"/>
<xsd:include schemaLocation="HOA430-013.xsd"/>
<xsd:include schemaLocation="HOA511-008.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOA522-005.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOB015-004.xsd"/>
<xsd:include schemaLocation="HOB021-008.xsd"/>
<xsd:include schemaLocation="HOB022-006.xsd"/>
<xsd:include schemaLocation="HOB030-007.xsd"/>
<xsd:include schemaLocation="HOB031-005.xsd"/>
<xsd:include schemaLocation="HOB032-005.xsd"/>
<xsd:include schemaLocation="HOB033-004.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB042-007.xsd"/>
<xsd:include schemaLocation="HOB063-006.xsd"/>
<xsd:include schemaLocation="HOB343-006.xsd"/>
<xsd:include schemaLocation="HOB066-006.xsd"/>
<xsd:include schemaLocation="HOB067-002.xsd"/>
<xsd:include schemaLocation="HOB071-007.xsd"/>
<xsd:include schemaLocation="HOB205-004.xsd"/>
<xsd:include schemaLocation="HOB211-006.xsd"/>
<xsd:include schemaLocation="HOB161-006.xsd"/>
<xsd:include schemaLocation="HOB171-006.xsd"/>
<xsd:include schemaLocation="HOB172-001.xsd"/>
<xsd:include schemaLocation="HOB627-004.xsd"/>
<xsd:include schemaLocation="HOB628-004.xsd"/>
<xsd:include schemaLocation="HOB632-002.xsd"/>
<xsd:include schemaLocation="HOB634-002.xsd"/>
<xsd:include schemaLocation="HOB636-002.xsd"/>
<xsd:include schemaLocation="HOB637-001.xsd"/>
<xsd:include schemaLocation="HOB630-004.xsd"/>
<xsd:include schemaLocation="HOB640-004.xsd"/>
<xsd:include schemaLocation="HOB645-001.xsd"/>
<xsd:include schemaLocation="HOB646-001.xsd"/>
<xsd:include schemaLocation="HOB660-003.xsd"/>
<xsd:include schemaLocation="HOB670-003.xsd"/>
<xsd:include schemaLocation="HOB710-005.xsd"/>
<xsd:include schemaLocation="HOB701-006.xsd"/>
<xsd:include schemaLocation="HOB705-001.xsd"/>
<xsd:include schemaLocation="HOB702-006.xsd"/>
<xsd:include schemaLocation="HOB703-003.xsd"/>
<xsd:include schemaLocation="HOB725-004.xsd"/>
<xsd:include schemaLocation="HOB730-002.xsd"/>
<xsd:include schemaLocation="HOB800-010.xsd"/>
<xsd:include schemaLocation="HOB810-003.xsd"/>
<xsd:include schemaLocation="HOB900-008.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC010-007.xsd"/>
<xsd:include schemaLocation="HOC012-002.xsd"/>
<xsd:include schemaLocation="HOC013-002.xsd"/>
<xsd:include schemaLocation="HOC020-008.xsd"/>
<xsd:include schemaLocation="HOC022-003.xsd"/>
<xsd:include schemaLocation="HOC024-003.xsd"/>
<xsd:include schemaLocation="HOC026-002.xsd"/>
<xsd:include schemaLocation="HOC050-006.xsd"/>
<xsd:include schemaLocation="HOC060-009.xsd"/>
<xsd:include schemaLocation="HOC065-005.xsd"/>
<xsd:include schemaLocation="HOC068-002.xsd"/>
<xsd:include schemaLocation="HOC072-003.xsd"/>
<xsd:include schemaLocation="HOC080-008.xsd"/>
<xsd:include schemaLocation="HOC110-006.xsd"/>
<xsd:include schemaLocation="HOC112-007.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOD010-007.xsd"/>
<xsd:include schemaLocation="HOD025-001.xsd"/>
<xsd:include schemaLocation="HOD035-001.xsd"/>
<xsd:include schemaLocation="HOD040-004.xsd"/>
<xsd:include schemaLocation="HOD065-004.xsd"/>
<xsd:include schemaLocation="HOD070-005.xsd"/>
<xsd:include schemaLocation="HOD080-005.xsd"/>
<xsd:include schemaLocation="HOD090-005.xsd"/>
<xsd:include schemaLocation="HOD160-008.xsd"/>
<xsd:include schemaLocation="HOD165-001.xsd"/>
<xsd:include schemaLocation="HOD180-007.xsd"/>
<xsd:include schemaLocation="HOD185-003.xsd"/>
<xsd:include schemaLocation="HOD188-002.xsd"/>
<xsd:include schemaLocation="HOD190-009.xsd"/>
<xsd:include schemaLocation="HOD201-006.xsd"/>
<xsd:include schemaLocation="HOD205-004.xsd"/>
<xsd:include schemaLocation="HOD208-002.xsd"/>
<xsd:include schemaLocation="HOD135-004.xsd"/>
<xsd:include schemaLocation="HOD250-007.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-005.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-005.xsd"/>
<xsd:include schemaLocation="HOD491-003.xsd"/>
<xsd:include schemaLocation="HOD495-003.xsd"/>
<xsd:include schemaLocation="HOD500-006.xsd"/>
<xsd:include schemaLocation="HOD510-007.xsd"/>
<xsd:include schemaLocation="HOE104-004.xsd"/>
<xsd:include schemaLocation="HOE099-006.xsd"/>
<xsd:include schemaLocation="HOE101-002.xsd"/>
<xsd:include schemaLocation="HOB910-003.xsd"/>
<xsd:include schemaLocation="HOB920-005.xsd"/>
<xsd:include schemaLocation="HOE110-003.xsd"/>
<xsd:include schemaLocation="HOE111-002.xsd"/>
<xsd:include schemaLocation="HOE112-001.xsd"/>
<xsd:include schemaLocation="HOE113-001.xsd"/>
<xsd:include schemaLocation="HOE105-003.xsd"/>
<xsd:include schemaLocation="HOE106-004.xsd"/>
<xsd:include schemaLocation="HOE200-011.xsd"/>
<xsd:include schemaLocation="HOE315-002.xsd"/>
<xsd:include schemaLocation="HOE325-002.xsd"/>
<xsd:include schemaLocation="HOE330-006.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-006.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE390-003.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE420-002.xsd"/>
<xsd:include schemaLocation="HOE430-002.xsd"/>
<xsd:include schemaLocation="HOE432-002.xsd"/>
<xsd:include schemaLocation="HOE434-002.xsd"/>
<xsd:include schemaLocation="HOE436-002.xsd"/>
<xsd:include schemaLocation="HOE440-002.xsd"/>
<xsd:include schemaLocation="HOE445-002.xsd"/>
<xsd:include schemaLocation="HOE545-003.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-002.xsd"/>
<xsd:include schemaLocation="HOE561-003.xsd"/>
<xsd:include schemaLocation="HOE562-003.xsd"/>
<xsd:include schemaLocation="HOE563-003.xsd"/>
<xsd:include schemaLocation="HOE570-003.xsd"/>
<xsd:include schemaLocation="HOE580-003.xsd"/>
<xsd:include schemaLocation="HOE585-002.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-007.xsd"/>
<xsd:include schemaLocation="HOE990-003.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-003.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-003.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-004.xsd"/>
<xsd:include schemaLocation="HOK020-002.xsd"/>
<xsd:include schemaLocation="HOK030-001.xsd"/>
<xsd:include schemaLocation="HOK040-002.xsd"/>
<xsd:include schemaLocation="HOK050-001.xsd"/>
<xsd:include schemaLocation="HOK060-001.xsd"/>
<xsd:include schemaLocation="HOL025-004.xsd"/>
<xsd:include schemaLocation="HOL040-010.xsd"/>
<xsd:include schemaLocation="HOL042-001.xsd"/>
<xsd:include schemaLocation="HOL046-003.xsd"/>
<xsd:include schemaLocation="HOL047-002.xsd"/>
<xsd:include schemaLocation="HOL049-002.xsd"/>
<xsd:include schemaLocation="HOL052-001.xsd"/>
<xsd:include schemaLocation="HOL050-011.xsd"/>
<xsd:include schemaLocation="HOL054-001.xsd"/>
<xsd:include schemaLocation="HOL060-011.xsd"/>
<xsd:include schemaLocation="HOL091-008.xsd"/>
<xsd:include schemaLocation="HOL130-010.xsd"/>
<xsd:include schemaLocation="HOL165-006.xsd"/>
<xsd:include schemaLocation="HOL169-002.xsd"/>
<xsd:include schemaLocation="HOL170-012.xsd"/>
<xsd:include schemaLocation="HOL175-002.xsd"/>
<xsd:include schemaLocation="HOL190-011.xsd"/>
<xsd:include schemaLocation="HOL230-010.xsd"/>
<xsd:include schemaLocation="HOL240-011.xsd"/>
<xsd:include schemaLocation="HOL260-011.xsd"/>
<xsd:include schemaLocation="HOL259-005.xsd"/>
<xsd:include schemaLocation="HOL261-005.xsd"/>
<xsd:include schemaLocation="HOL263-003.xsd"/>
<xsd:include schemaLocation="HOL270-011.xsd"/>
<xsd:include schemaLocation="HOL280-011.xsd"/>
<xsd:include schemaLocation="HOL286-003.xsd"/>
<xsd:include schemaLocation="HOL290-011.xsd"/>
<xsd:include schemaLocation="HOL300-011.xsd"/>
<xsd:include schemaLocation="HOL330-010.xsd"/>
<xsd:include schemaLocation="HOL360-002.xsd"/>
<xsd:include schemaLocation="HOL363-002.xsd"/>
<xsd:include schemaLocation="HOL365-003.xsd"/>
<xsd:include schemaLocation="HOL370-002.xsd"/>
<xsd:include schemaLocation="HOL380-002.xsd"/>
<xsd:include schemaLocation="HOL355-003.xsd"/>
<xsd:include schemaLocation="HOL390-002.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOM010-005.xsd"/>
<xsd:include schemaLocation="HOM020-004.xsd"/>
<xsd:include schemaLocation="HOM080-002.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO0021-140-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="14.0.0"/><xsd:enumeration value="14.0.1"/><xsd:enumeration value="14.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO0021"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO0021" type="RHO0021-140-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO0021-140-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO0021-140-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO0021-140-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO0021-140-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOA111-1-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA115-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA316-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOA410-13-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOA420-13-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOA430-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA511-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA522-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB015-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB021-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB063-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB343-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB066-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB067-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB071-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB205-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB211-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB161-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB171-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB172-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB627-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB628-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB632-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB634-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB636-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB637-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB630-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB640-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB645-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB646-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB710-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB701-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB705-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB702-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB703-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB725-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB730-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB800-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC013-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC050-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC065-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC068-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC072-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC080-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD208-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD135-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE099-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE101-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE200-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE420-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE430-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE432-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE434-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE436-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE440-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE445-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE990-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-4-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL025-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL047-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL052-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM080-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ071" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
