etax/19XMLスキーマ/hojin/RHO7060-080.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
仮決算をした場合の特定の医療法人の連結中間申告
version:8.0.2 Date: 2008年12月04日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOR130-004.xsd"/>
<xsd:include schemaLocation="HOA201-002.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOR320-004.xsd"/>
<xsd:include schemaLocation="HOR321-004.xsd"/>
<xsd:include schemaLocation="HOR420-004.xsd"/>
<xsd:include schemaLocation="HOR421-004.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR510-003.xsd"/>
<xsd:include schemaLocation="HOR512-003.xsd"/>
<xsd:include schemaLocation="HOA521-002.xsd"/>
<xsd:include schemaLocation="HOR514-003.xsd"/>
<xsd:include schemaLocation="HOR516-003.xsd"/>
<xsd:include schemaLocation="HOR524-001.xsd"/>
<xsd:include schemaLocation="HOB022-003.xsd"/>
<xsd:include schemaLocation="HOB030-003.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-003.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-003.xsd"/>
<xsd:include schemaLocation="HOB050-004.xsd"/>
<xsd:include schemaLocation="HOB052-004.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB220-005.xsd"/>
<xsd:include schemaLocation="HOB230-005.xsd"/>
<xsd:include schemaLocation="HOB110-005.xsd"/>
<xsd:include schemaLocation="HOB135-001.xsd"/>
<xsd:include schemaLocation="HOB120-005.xsd"/>
<xsd:include schemaLocation="HOB145-001.xsd"/>
<xsd:include schemaLocation="HOB180-005.xsd"/>
<xsd:include schemaLocation="HOB190-005.xsd"/>
<xsd:include schemaLocation="HOB621-002.xsd"/>
<xsd:include schemaLocation="HOB622-002.xsd"/>
<xsd:include schemaLocation="HOB093-001.xsd"/>
<xsd:include schemaLocation="HOB096-001.xsd"/>
<xsd:include schemaLocation="HOR610-004.xsd"/>
<xsd:include schemaLocation="HOR620-004.xsd"/>
<xsd:include schemaLocation="HOR621-001.xsd"/>
<xsd:include schemaLocation="HOR631-003.xsd"/>
<xsd:include schemaLocation="HOR636-001.xsd"/>
<xsd:include schemaLocation="HOR632-003.xsd"/>
<xsd:include schemaLocation="HOR633-003.xsd"/>
<xsd:include schemaLocation="HOR637-001.xsd"/>
<xsd:include schemaLocation="HOR634-003.xsd"/>
<xsd:include schemaLocation="HOR638-001.xsd"/>
<xsd:include schemaLocation="HOR644-003.xsd"/>
<xsd:include schemaLocation="HOR647-001.xsd"/>
<xsd:include schemaLocation="HOR645-003.xsd"/>
<xsd:include schemaLocation="HOR648-001.xsd"/>
<xsd:include schemaLocation="HOR646-003.xsd"/>
<xsd:include schemaLocation="HOR649-001.xsd"/>
<xsd:include schemaLocation="HOR655-001.xsd"/>
<xsd:include schemaLocation="HOR656-001.xsd"/>
<xsd:include schemaLocation="HOR657-001.xsd"/>
<xsd:include schemaLocation="HOR660-003.xsd"/>
<xsd:include schemaLocation="HOR661-003.xsd"/>
<xsd:include schemaLocation="HOR670-003.xsd"/>
<xsd:include schemaLocation="HOR671-004.xsd"/>
<xsd:include schemaLocation="HOR680-003.xsd"/>
<xsd:include schemaLocation="HOR681-004.xsd"/>
<xsd:include schemaLocation="HOR685-001.xsd"/>
<xsd:include schemaLocation="HOR686-001.xsd"/>
<xsd:include schemaLocation="HOR690-003.xsd"/>
<xsd:include schemaLocation="HOR691-003.xsd"/>
<xsd:include schemaLocation="HOR700-003.xsd"/>
<xsd:include schemaLocation="HOR701-003.xsd"/>
<xsd:include schemaLocation="HOR712-002.xsd"/>
<xsd:include schemaLocation="HOR713-002.xsd"/>
<xsd:include schemaLocation="HOR612-002.xsd"/>
<xsd:include schemaLocation="HOR613-002.xsd"/>
<xsd:include schemaLocation="HOR720-002.xsd"/>
<xsd:include schemaLocation="HOR721-002.xsd"/>
<xsd:include schemaLocation="HOR722-002.xsd"/>
<xsd:include schemaLocation="HOR723-002.xsd"/>
<xsd:include schemaLocation="HOR800-004.xsd"/>
<xsd:include schemaLocation="HOB900-003.xsd"/>
<xsd:include schemaLocation="HOB910-002.xsd"/>
<xsd:include schemaLocation="HOB920-004.xsd"/>
<xsd:include schemaLocation="HOB930-003.xsd"/>
<xsd:include schemaLocation="HOC010-003.xsd"/>
<xsd:include schemaLocation="HOC020-003.xsd"/>
<xsd:include schemaLocation="HOC060-004.xsd"/>
<xsd:include schemaLocation="HOR810-001.xsd"/>
<xsd:include schemaLocation="HOC110-004.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOD010-004.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD060-004.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD110-004.xsd"/>
<xsd:include schemaLocation="HOD120-004.xsd"/>
<xsd:include schemaLocation="HOD160-005.xsd"/>
<xsd:include schemaLocation="HOD170-005.xsd"/>
<xsd:include schemaLocation="HOD180-005.xsd"/>
<xsd:include schemaLocation="HOD190-005.xsd"/>
<xsd:include schemaLocation="HOD195-002.xsd"/>
<xsd:include schemaLocation="HOD201-002.xsd"/>
<xsd:include schemaLocation="HOD130-006.xsd"/>
<xsd:include schemaLocation="HOD250-004.xsd"/>
<xsd:include schemaLocation="HOD260-001.xsd"/>
<xsd:include schemaLocation="HOD410-004.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-004.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-004.xsd"/>
<xsd:include schemaLocation="HOD485-003.xsd"/>
<xsd:include schemaLocation="HOD491-002.xsd"/>
<xsd:include schemaLocation="HOD500-004.xsd"/>
<xsd:include schemaLocation="HOD510-004.xsd"/>
<xsd:include schemaLocation="HOE090-002.xsd"/>
<xsd:include schemaLocation="HOE091-002.xsd"/>
<xsd:include schemaLocation="HOE104-002.xsd"/>
<xsd:include schemaLocation="HOE102-004.xsd"/>
<xsd:include schemaLocation="HOE103-004.xsd"/>
<xsd:include schemaLocation="HOE105-001.xsd"/>
<xsd:include schemaLocation="HOE106-001.xsd"/>
<xsd:include schemaLocation="HOR820-004.xsd"/>
<xsd:include schemaLocation="HOR830-003.xsd"/>
<xsd:include schemaLocation="HOE310-006.xsd"/>
<xsd:include schemaLocation="HOE320-006.xsd"/>
<xsd:include schemaLocation="HOE330-005.xsd"/>
<xsd:include schemaLocation="HOE341-001.xsd"/>
<xsd:include schemaLocation="HOE340-005.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-005.xsd"/>
<xsd:include schemaLocation="HOE370-005.xsd"/>
<xsd:include schemaLocation="HOE380-005.xsd"/>
<xsd:include schemaLocation="HOE390-002.xsd"/>
<xsd:include schemaLocation="HOE400-005.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-002.xsd"/>
<xsd:include schemaLocation="HOE620-003.xsd"/>
<xsd:include schemaLocation="HOE630-002.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE531-002.xsd"/>
<xsd:include schemaLocation="HOE600-005.xsd"/>
<xsd:include schemaLocation="HOL010-005.xsd"/>
<xsd:include schemaLocation="HOL040-005.xsd"/>
<xsd:include schemaLocation="HOL020-006.xsd"/>
<xsd:include schemaLocation="HOL035-004.xsd"/>
<xsd:include schemaLocation="HOL340-003.xsd"/>
<xsd:include schemaLocation="HOL050-005.xsd"/>
<xsd:include schemaLocation="HOL060-006.xsd"/>
<xsd:include schemaLocation="HOL070-006.xsd"/>
<xsd:include schemaLocation="HOL080-005.xsd"/>
<xsd:include schemaLocation="HOL091-002.xsd"/>
<xsd:include schemaLocation="HOL100-006.xsd"/>
<xsd:include schemaLocation="HOL110-006.xsd"/>
<xsd:include schemaLocation="HOL120-006.xsd"/>
<xsd:include schemaLocation="HOL130-006.xsd"/>
<xsd:include schemaLocation="HOL150-006.xsd"/>
<xsd:include schemaLocation="HOL170-006.xsd"/>
<xsd:include schemaLocation="HOL190-006.xsd"/>
<xsd:include schemaLocation="HOL200-006.xsd"/>
<xsd:include schemaLocation="HOL201-002.xsd"/>
<xsd:include schemaLocation="HOL210-006.xsd"/>
<xsd:include schemaLocation="HOL230-006.xsd"/>
<xsd:include schemaLocation="HOL240-005.xsd"/>
<xsd:include schemaLocation="HOL250-005.xsd"/>
<xsd:include schemaLocation="HOL260-006.xsd"/>
<xsd:include schemaLocation="HOL259-001.xsd"/>
<xsd:include schemaLocation="HOL261-002.xsd"/>
<xsd:include schemaLocation="HOL265-006.xsd"/>
<xsd:include schemaLocation="HOL270-006.xsd"/>
<xsd:include schemaLocation="HOL280-006.xsd"/>
<xsd:include schemaLocation="HOL290-006.xsd"/>
<xsd:include schemaLocation="HOL300-006.xsd"/>
<xsd:include schemaLocation="HOL330-005.xsd"/>
<xsd:include schemaLocation="HOM005-001.xsd"/>
<xsd:include schemaLocation="HOR920-002.xsd"/>
<xsd:include schemaLocation="HOR940-001.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOR930-003.xsd"/>
<xsd:include schemaLocation="HOM060-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO7060-80-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0.0"/><xsd:enumeration value="8.0.1"/><xsd:enumeration value="8.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO7060"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO7060" type="RHO7060-80-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO7060-80-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO7060-80-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO7060-80-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO7060-80-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR130-4-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA201-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR321-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR510-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA521-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR514-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR524-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB135-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB145-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB621-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB622-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB093-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB096-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR610-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR631-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR636-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR632-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR633-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR637-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR634-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR638-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR644-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR647-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR645-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR648-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR646-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR649-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR655-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR656-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR660-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR670-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR680-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR681-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR685-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR686-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR690-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR700-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR712-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR713-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR612-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR613-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR722-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD195-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE091-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL340-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL201-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM005-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-3-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
