etax/19XMLスキーマ/hojin/RHO7060-131.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
仮決算をした場合の特定の医療法人の連結中間申告
version:13.1.0 Date: 2013年09月12日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOR130-010.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOR320-009.xsd"/>
<xsd:include schemaLocation="HOR323-003.xsd"/>
<xsd:include schemaLocation="HOR420-009.xsd"/>
<xsd:include schemaLocation="HOR425-009.xsd"/>
<xsd:include schemaLocation="HOR421-009.xsd"/>
<xsd:include schemaLocation="HOR426-009.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR510-004.xsd"/>
<xsd:include schemaLocation="HOR511-004.xsd"/>
<xsd:include schemaLocation="HOR512-004.xsd"/>
<xsd:include schemaLocation="HOR513-004.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOR514-004.xsd"/>
<xsd:include schemaLocation="HOR516-004.xsd"/>
<xsd:include schemaLocation="HOB022-006.xsd"/>
<xsd:include schemaLocation="HOB030-006.xsd"/>
<xsd:include schemaLocation="HOB031-004.xsd"/>
<xsd:include schemaLocation="HOB032-005.xsd"/>
<xsd:include schemaLocation="HOB033-004.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB042-007.xsd"/>
<xsd:include schemaLocation="HOB660-002.xsd"/>
<xsd:include schemaLocation="HOB670-002.xsd"/>
<xsd:include schemaLocation="HOR615-003.xsd"/>
<xsd:include schemaLocation="HOR620-009.xsd"/>
<xsd:include schemaLocation="HOR621-004.xsd"/>
<xsd:include schemaLocation="HOR622-003.xsd"/>
<xsd:include schemaLocation="HOR693-003.xsd"/>
<xsd:include schemaLocation="HOR623-002.xsd"/>
<xsd:include schemaLocation="HOR665-003.xsd"/>
<xsd:include schemaLocation="HOR694-003.xsd"/>
<xsd:include schemaLocation="HOR667-002.xsd"/>
<xsd:include schemaLocation="HOR624-003.xsd"/>
<xsd:include schemaLocation="HOR625-002.xsd"/>
<xsd:include schemaLocation="HOR666-003.xsd"/>
<xsd:include schemaLocation="HOR697-003.xsd"/>
<xsd:include schemaLocation="HOR668-002.xsd"/>
<xsd:include schemaLocation="HOR698-005.xsd"/>
<xsd:include schemaLocation="HOR699-002.xsd"/>
<xsd:include schemaLocation="HOR657-002.xsd"/>
<xsd:include schemaLocation="HOR658-005.xsd"/>
<xsd:include schemaLocation="HOR661-004.xsd"/>
<xsd:include schemaLocation="HOR653-003.xsd"/>
<xsd:include schemaLocation="HOR654-002.xsd"/>
<xsd:include schemaLocation="HOR659-005.xsd"/>
<xsd:include schemaLocation="HOR671-006.xsd"/>
<xsd:include schemaLocation="HOR662-005.xsd"/>
<xsd:include schemaLocation="HOR686-005.xsd"/>
<xsd:include schemaLocation="HOR663-005.xsd"/>
<xsd:include schemaLocation="HOR691-005.xsd"/>
<xsd:include schemaLocation="HOR702-005.xsd"/>
<xsd:include schemaLocation="HOR701-005.xsd"/>
<xsd:include schemaLocation="HOR716-003.xsd"/>
<xsd:include schemaLocation="HOR717-003.xsd"/>
<xsd:include schemaLocation="HOR718-003.xsd"/>
<xsd:include schemaLocation="HOR703-001.xsd"/>
<xsd:include schemaLocation="HOR704-001.xsd"/>
<xsd:include schemaLocation="HOR705-001.xsd"/>
<xsd:include schemaLocation="HOR706-001.xsd"/>
<xsd:include schemaLocation="HOR707-001.xsd"/>
<xsd:include schemaLocation="HOR626-003.xsd"/>
<xsd:include schemaLocation="HOR627-003.xsd"/>
<xsd:include schemaLocation="HOR628-003.xsd"/>
<xsd:include schemaLocation="HOR708-001.xsd"/>
<xsd:include schemaLocation="HOR709-001.xsd"/>
<xsd:include schemaLocation="HOR720-007.xsd"/>
<xsd:include schemaLocation="HOR731-004.xsd"/>
<xsd:include schemaLocation="HOR721-006.xsd"/>
<xsd:include schemaLocation="HOR723-007.xsd"/>
<xsd:include schemaLocation="HOR725-003.xsd"/>
<xsd:include schemaLocation="HOB810-003.xsd"/>
<xsd:include schemaLocation="HOR800-007.xsd"/>
<xsd:include schemaLocation="HOB900-008.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC010-006.xsd"/>
<xsd:include schemaLocation="HOC012-002.xsd"/>
<xsd:include schemaLocation="HOC013-002.xsd"/>
<xsd:include schemaLocation="HOC020-008.xsd"/>
<xsd:include schemaLocation="HOC022-003.xsd"/>
<xsd:include schemaLocation="HOC024-003.xsd"/>
<xsd:include schemaLocation="HOC026-002.xsd"/>
<xsd:include schemaLocation="HOC060-009.xsd"/>
<xsd:include schemaLocation="HOR810-003.xsd"/>
<xsd:include schemaLocation="HOC110-005.xsd"/>
<xsd:include schemaLocation="HOC112-006.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOD010-006.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD065-003.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD160-007.xsd"/>
<xsd:include schemaLocation="HOD170-006.xsd"/>
<xsd:include schemaLocation="HOD180-006.xsd"/>
<xsd:include schemaLocation="HOD185-002.xsd"/>
<xsd:include schemaLocation="HOD188-001.xsd"/>
<xsd:include schemaLocation="HOD190-008.xsd"/>
<xsd:include schemaLocation="HOD201-005.xsd"/>
<xsd:include schemaLocation="HOD205-003.xsd"/>
<xsd:include schemaLocation="HOD208-001.xsd"/>
<xsd:include schemaLocation="HOD110-007.xsd"/>
<xsd:include schemaLocation="HOD135-003.xsd"/>
<xsd:include schemaLocation="HOD250-006.xsd"/>
<xsd:include schemaLocation="HOD260-003.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-005.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-005.xsd"/>
<xsd:include schemaLocation="HOD491-003.xsd"/>
<xsd:include schemaLocation="HOD495-003.xsd"/>
<xsd:include schemaLocation="HOD500-006.xsd"/>
<xsd:include schemaLocation="HOD510-007.xsd"/>
<xsd:include schemaLocation="HOE104-004.xsd"/>
<xsd:include schemaLocation="HOB910-003.xsd"/>
<xsd:include schemaLocation="HOB920-005.xsd"/>
<xsd:include schemaLocation="HOE110-003.xsd"/>
<xsd:include schemaLocation="HOE111-002.xsd"/>
<xsd:include schemaLocation="HOE112-001.xsd"/>
<xsd:include schemaLocation="HOE113-001.xsd"/>
<xsd:include schemaLocation="HOE105-003.xsd"/>
<xsd:include schemaLocation="HOE106-004.xsd"/>
<xsd:include schemaLocation="HOR820-008.xsd"/>
<xsd:include schemaLocation="HOR830-008.xsd"/>
<xsd:include schemaLocation="HOE315-002.xsd"/>
<xsd:include schemaLocation="HOE325-002.xsd"/>
<xsd:include schemaLocation="HOE330-006.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-006.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE390-003.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE545-003.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-002.xsd"/>
<xsd:include schemaLocation="HOE561-003.xsd"/>
<xsd:include schemaLocation="HOE562-003.xsd"/>
<xsd:include schemaLocation="HOE563-003.xsd"/>
<xsd:include schemaLocation="HOE570-003.xsd"/>
<xsd:include schemaLocation="HOE580-003.xsd"/>
<xsd:include schemaLocation="HOE585-002.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-007.xsd"/>
<xsd:include schemaLocation="HOR750-001.xsd"/>
<xsd:include schemaLocation="HOR760-001.xsd"/>
<xsd:include schemaLocation="HOR762-001.xsd"/>
<xsd:include schemaLocation="HOR764-001.xsd"/>
<xsd:include schemaLocation="HOR766-001.xsd"/>
<xsd:include schemaLocation="HOR770-001.xsd"/>
<xsd:include schemaLocation="HOR772-001.xsd"/>
<xsd:include schemaLocation="HOR774-001.xsd"/>
<xsd:include schemaLocation="HOL010-010.xsd"/>
<xsd:include schemaLocation="HOL025-003.xsd"/>
<xsd:include schemaLocation="HOL040-009.xsd"/>
<xsd:include schemaLocation="HOL035-007.xsd"/>
<xsd:include schemaLocation="HOL046-002.xsd"/>
<xsd:include schemaLocation="HOL047-001.xsd"/>
<xsd:include schemaLocation="HOL049-001.xsd"/>
<xsd:include schemaLocation="HOL050-010.xsd"/>
<xsd:include schemaLocation="HOL060-010.xsd"/>
<xsd:include schemaLocation="HOL091-007.xsd"/>
<xsd:include schemaLocation="HOL130-009.xsd"/>
<xsd:include schemaLocation="HOL165-005.xsd"/>
<xsd:include schemaLocation="HOL168-002.xsd"/>
<xsd:include schemaLocation="HOL169-001.xsd"/>
<xsd:include schemaLocation="HOL170-011.xsd"/>
<xsd:include schemaLocation="HOL175-001.xsd"/>
<xsd:include schemaLocation="HOL190-010.xsd"/>
<xsd:include schemaLocation="HOL230-010.xsd"/>
<xsd:include schemaLocation="HOL240-010.xsd"/>
<xsd:include schemaLocation="HOL260-011.xsd"/>
<xsd:include schemaLocation="HOL259-005.xsd"/>
<xsd:include schemaLocation="HOL261-005.xsd"/>
<xsd:include schemaLocation="HOL263-003.xsd"/>
<xsd:include schemaLocation="HOL270-011.xsd"/>
<xsd:include schemaLocation="HOL280-011.xsd"/>
<xsd:include schemaLocation="HOL286-003.xsd"/>
<xsd:include schemaLocation="HOL290-010.xsd"/>
<xsd:include schemaLocation="HOL300-011.xsd"/>
<xsd:include schemaLocation="HOL330-010.xsd"/>
<xsd:include schemaLocation="HOL360-001.xsd"/>
<xsd:include schemaLocation="HOL363-001.xsd"/>
<xsd:include schemaLocation="HOL365-002.xsd"/>
<xsd:include schemaLocation="HOL370-001.xsd"/>
<xsd:include schemaLocation="HOL380-001.xsd"/>
<xsd:include schemaLocation="HOL355-002.xsd"/>
<xsd:include schemaLocation="HOL390-001.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOR920-003.xsd"/>
<xsd:include schemaLocation="HOR940-002.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOR930-003.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO7060-131-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="13.1.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO7060"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO7060" type="RHO7060-131-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO7060-131-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO7060-131-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO7060-131-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO7060-131-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR130-10-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR323-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR420-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR425-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR426-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR510-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR511-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR513-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR514-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR615-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR622-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR693-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR623-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR665-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR694-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR667-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR624-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR625-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR666-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR697-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR668-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR698-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR699-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR658-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR653-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR654-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR662-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR686-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR702-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR718-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR703-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR704-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR705-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR706-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR707-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR628-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR708-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR709-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC013-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD208-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD135-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD260-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR750-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR760-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR762-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR764-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR766-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR770-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR772-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR774-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL010-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL047-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL168-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
