etax/19XMLスキーマ/hojin/RHO7031-180.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
特定の医療法人の連結確定申告
version:18.0.2 Date: 2021年09月09日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOR131-007.xsd"/>
<xsd:include schemaLocation="HOR135-004.xsd"/>
<xsd:include schemaLocation="HOR201-002.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOR327-003.xsd"/>
<xsd:include schemaLocation="HOR326-001.xsd"/>
<xsd:include schemaLocation="HOR328-003.xsd"/>
<xsd:include schemaLocation="HOR329-001.xsd"/>
<xsd:include schemaLocation="HOR420-015.xsd"/>
<xsd:include schemaLocation="HOR425-015.xsd"/>
<xsd:include schemaLocation="HOR422-007.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR510-007.xsd"/>
<xsd:include schemaLocation="HOR511-007.xsd"/>
<xsd:include schemaLocation="HOR517-004.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOR514-006.xsd"/>
<xsd:include schemaLocation="HOR516-006.xsd"/>
<xsd:include schemaLocation="HOB024-002.xsd"/>
<xsd:include schemaLocation="HOB025-002.xsd"/>
<xsd:include schemaLocation="HOB026-002.xsd"/>
<xsd:include schemaLocation="HOB027-002.xsd"/>
<xsd:include schemaLocation="HOB022-008.xsd"/>
<xsd:include schemaLocation="HOB030-009.xsd"/>
<xsd:include schemaLocation="HOB031-007.xsd"/>
<xsd:include schemaLocation="HOB032-006.xsd"/>
<xsd:include schemaLocation="HOB033-005.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB043-002.xsd"/>
<xsd:include schemaLocation="HOB042-010.xsd"/>
<xsd:include schemaLocation="HOB660-007.xsd"/>
<xsd:include schemaLocation="HOB670-007.xsd"/>
<xsd:include schemaLocation="HOR616-003.xsd"/>
<xsd:include schemaLocation="HOR620-015.xsd"/>
<xsd:include schemaLocation="HOR621-009.xsd"/>
<xsd:include schemaLocation="HOR622-008.xsd"/>
<xsd:include schemaLocation="HOR617-004.xsd"/>
<xsd:include schemaLocation="HOR669-002.xsd"/>
<xsd:include schemaLocation="HOR679-002.xsd"/>
<xsd:include schemaLocation="HOR740-003.xsd"/>
<xsd:include schemaLocation="HOR742-002.xsd"/>
<xsd:include schemaLocation="HOR698-010.xsd"/>
<xsd:include schemaLocation="HOR699-007.xsd"/>
<xsd:include schemaLocation="HOR657-006.xsd"/>
<xsd:include schemaLocation="HOR653-008.xsd"/>
<xsd:include schemaLocation="HOR654-005.xsd"/>
<xsd:include schemaLocation="HOR687-001.xsd"/>
<xsd:include schemaLocation="HOR688-001.xsd"/>
<xsd:include schemaLocation="HOR659-010.xsd"/>
<xsd:include schemaLocation="HOR671-010.xsd"/>
<xsd:include schemaLocation="HOR663-010.xsd"/>
<xsd:include schemaLocation="HOR691-009.xsd"/>
<xsd:include schemaLocation="HOR672-005.xsd"/>
<xsd:include schemaLocation="HOR673-004.xsd"/>
<xsd:include schemaLocation="HOR716-008.xsd"/>
<xsd:include schemaLocation="HOR717-006.xsd"/>
<xsd:include schemaLocation="HOR785-002.xsd"/>
<xsd:include schemaLocation="HOR786-002.xsd"/>
<xsd:include schemaLocation="HOR780-004.xsd"/>
<xsd:include schemaLocation="HOR782-003.xsd"/>
<xsd:include schemaLocation="HOR730-002.xsd"/>
<xsd:include schemaLocation="HOR792-004.xsd"/>
<xsd:include schemaLocation="HOR794-004.xsd"/>
<xsd:include schemaLocation="HOR732-002.xsd"/>
<xsd:include schemaLocation="HOR734-001.xsd"/>
<xsd:include schemaLocation="HOR783-003.xsd"/>
<xsd:include schemaLocation="HOR784-003.xsd"/>
<xsd:include schemaLocation="HOR705-006.xsd"/>
<xsd:include schemaLocation="HOR706-004.xsd"/>
<xsd:include schemaLocation="HOR682-002.xsd"/>
<xsd:include schemaLocation="HOR683-001.xsd"/>
<xsd:include schemaLocation="HOR707-006.xsd"/>
<xsd:include schemaLocation="HOR726-001.xsd"/>
<xsd:include schemaLocation="HOR719-003.xsd"/>
<xsd:include schemaLocation="HOR727-001.xsd"/>
<xsd:include schemaLocation="HOR728-001.xsd"/>
<xsd:include schemaLocation="HOR675-005.xsd"/>
<xsd:include schemaLocation="HOR676-005.xsd"/>
<xsd:include schemaLocation="HOR626-008.xsd"/>
<xsd:include schemaLocation="HOR627-008.xsd"/>
<xsd:include schemaLocation="HOR628-008.xsd"/>
<xsd:include schemaLocation="HOR677-005.xsd"/>
<xsd:include schemaLocation="HOR678-005.xsd"/>
<xsd:include schemaLocation="HOR729-001.xsd"/>
<xsd:include schemaLocation="HOR720-010.xsd"/>
<xsd:include schemaLocation="HOR731-008.xsd"/>
<xsd:include schemaLocation="HOR721-006.xsd"/>
<xsd:include schemaLocation="HOR733-002.xsd"/>
<xsd:include schemaLocation="HOM095-002.xsd"/>
<xsd:include schemaLocation="HOR723-010.xsd"/>
<xsd:include schemaLocation="HOR725-007.xsd"/>
<xsd:include schemaLocation="HOB810-004.xsd"/>
<xsd:include schemaLocation="HOR800-009.xsd"/>
<xsd:include schemaLocation="HOR802-002.xsd"/>
<xsd:include schemaLocation="HOB900-012.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC012-003.xsd"/>
<xsd:include schemaLocation="HOC020-012.xsd"/>
<xsd:include schemaLocation="HOC022-004.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC060-011.xsd"/>
<xsd:include schemaLocation="HOR805-003.xsd"/>
<xsd:include schemaLocation="HOR810-005.xsd"/>
<xsd:include schemaLocation="HOC110-008.xsd"/>
<xsd:include schemaLocation="HOC112-011.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOD010-010.xsd"/>
<xsd:include schemaLocation="HOD025-002.xsd"/>
<xsd:include schemaLocation="HOD035-001.xsd"/>
<xsd:include schemaLocation="HOD040-006.xsd"/>
<xsd:include schemaLocation="HOD065-004.xsd"/>
<xsd:include schemaLocation="HOD070-005.xsd"/>
<xsd:include schemaLocation="HOD090-006.xsd"/>
<xsd:include schemaLocation="HOD165-003.xsd"/>
<xsd:include schemaLocation="HOD175-002.xsd"/>
<xsd:include schemaLocation="HOD180-008.xsd"/>
<xsd:include schemaLocation="HOD185-006.xsd"/>
<xsd:include schemaLocation="HOD188-005.xsd"/>
<xsd:include schemaLocation="HOD190-011.xsd"/>
<xsd:include schemaLocation="HOD201-009.xsd"/>
<xsd:include schemaLocation="HOD205-008.xsd"/>
<xsd:include schemaLocation="HOD215-002.xsd"/>
<xsd:include schemaLocation="HOD225-002.xsd"/>
<xsd:include schemaLocation="HOD236-002.xsd"/>
<xsd:include schemaLocation="HOD251-003.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-005.xsd"/>
<xsd:include schemaLocation="HOD451-003.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD491-005.xsd"/>
<xsd:include schemaLocation="HOD495-005.xsd"/>
<xsd:include schemaLocation="HOD500-008.xsd"/>
<xsd:include schemaLocation="HOD510-009.xsd"/>
<xsd:include schemaLocation="HOE104-005.xsd"/>
<xsd:include schemaLocation="HOE109-002.xsd"/>
<xsd:include schemaLocation="HOB911-002.xsd"/>
<xsd:include schemaLocation="HOB920-007.xsd"/>
<xsd:include schemaLocation="HOE110-004.xsd"/>
<xsd:include schemaLocation="HOE111-004.xsd"/>
<xsd:include schemaLocation="HOE112-002.xsd"/>
<xsd:include schemaLocation="HOE113-003.xsd"/>
<xsd:include schemaLocation="HOE105-004.xsd"/>
<xsd:include schemaLocation="HOE108-002.xsd"/>
<xsd:include schemaLocation="HOR820-009.xsd"/>
<xsd:include schemaLocation="HOR830-011.xsd"/>
<xsd:include schemaLocation="HOE315-003.xsd"/>
<xsd:include schemaLocation="HOE325-003.xsd"/>
<xsd:include schemaLocation="HOE330-007.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-007.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-004.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE545-004.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-003.xsd"/>
<xsd:include schemaLocation="HOE561-004.xsd"/>
<xsd:include schemaLocation="HOE562-005.xsd"/>
<xsd:include schemaLocation="HOE563-005.xsd"/>
<xsd:include schemaLocation="HOE570-004.xsd"/>
<xsd:include schemaLocation="HOE580-004.xsd"/>
<xsd:include schemaLocation="HOE585-003.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE532-001.xsd"/>
<xsd:include schemaLocation="HOE533-001.xsd"/>
<xsd:include schemaLocation="HOE534-001.xsd"/>
<xsd:include schemaLocation="HOE535-001.xsd"/>
<xsd:include schemaLocation="HOE536-001.xsd"/>
<xsd:include schemaLocation="HOE537-001.xsd"/>
<xsd:include schemaLocation="HOE538-001.xsd"/>
<xsd:include schemaLocation="HOE539-001.xsd"/>
<xsd:include schemaLocation="HOE541-001.xsd"/>
<xsd:include schemaLocation="HOE542-001.xsd"/>
<xsd:include schemaLocation="HOE543-001.xsd"/>
<xsd:include schemaLocation="HOE544-001.xsd"/>
<xsd:include schemaLocation="HOE600-009.xsd"/>
<xsd:include schemaLocation="HOR750-002.xsd"/>
<xsd:include schemaLocation="HOR760-004.xsd"/>
<xsd:include schemaLocation="HOR762-002.xsd"/>
<xsd:include schemaLocation="HOR764-003.xsd"/>
<xsd:include schemaLocation="HOR766-003.xsd"/>
<xsd:include schemaLocation="HOR770-002.xsd"/>
<xsd:include schemaLocation="HOR772-003.xsd"/>
<xsd:include schemaLocation="HOR774-002.xsd"/>
<xsd:include schemaLocation="HOR990-006.xsd"/>
<xsd:include schemaLocation="HOL025-008.xsd"/>
<xsd:include schemaLocation="HOL264-001.xsd"/>
<xsd:include schemaLocation="HOL266-001.xsd"/>
<xsd:include schemaLocation="HOL040-014.xsd"/>
<xsd:include schemaLocation="HOL042-005.xsd"/>
<xsd:include schemaLocation="HOL046-006.xsd"/>
<xsd:include schemaLocation="HOL051-002.xsd"/>
<xsd:include schemaLocation="HOL048-004.xsd"/>
<xsd:include schemaLocation="HOL049-006.xsd"/>
<xsd:include schemaLocation="HOL053-002.xsd"/>
<xsd:include schemaLocation="HOL052-005.xsd"/>
<xsd:include schemaLocation="HOL050-015.xsd"/>
<xsd:include schemaLocation="HOL054-005.xsd"/>
<xsd:include schemaLocation="HOL092-002.xsd"/>
<xsd:include schemaLocation="HOL060-015.xsd"/>
<xsd:include schemaLocation="HOL130-014.xsd"/>
<xsd:include schemaLocation="HOL171-003.xsd"/>
<xsd:include schemaLocation="HOL169-006.xsd"/>
<xsd:include schemaLocation="HOL170-015.xsd"/>
<xsd:include schemaLocation="HOL175-005.xsd"/>
<xsd:include schemaLocation="HOL190-015.xsd"/>
<xsd:include schemaLocation="HOL240-015.xsd"/>
<xsd:include schemaLocation="HOL263-007.xsd"/>
<xsd:include schemaLocation="HOL286-006.xsd"/>
<xsd:include schemaLocation="HOL262-002.xsd"/>
<xsd:include schemaLocation="HOL261-008.xsd"/>
<xsd:include schemaLocation="HOL290-015.xsd"/>
<xsd:include schemaLocation="HOL300-014.xsd"/>
<xsd:include schemaLocation="HOL330-013.xsd"/>
<xsd:include schemaLocation="HOL360-005.xsd"/>
<xsd:include schemaLocation="HOL363-005.xsd"/>
<xsd:include schemaLocation="HOL365-006.xsd"/>
<xsd:include schemaLocation="HOL370-005.xsd"/>
<xsd:include schemaLocation="HOL380-005.xsd"/>
<xsd:include schemaLocation="HOL355-006.xsd"/>
<xsd:include schemaLocation="HOL390-005.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOR920-004.xsd"/>
<xsd:include schemaLocation="HOR940-003.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO7031-180-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="18.0.0"/><xsd:enumeration value="18.0.1"/><xsd:enumeration value="18.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO7031"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO7031" type="RHO7031-180-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO7031-180-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO7031-180-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO7031-180-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO7031-180-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR131-7-1group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOR135-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR201-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR327-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR326-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR328-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR329-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR420-15-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR425-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR422-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR510-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR511-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR517-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR514-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR616-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR622-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR617-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR669-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR679-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR740-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR742-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR698-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR699-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR653-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR654-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR687-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR688-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR672-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR673-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR785-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR786-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR780-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR782-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR730-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR792-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR794-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR732-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR734-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR783-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR784-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR705-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR706-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR682-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR683-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR707-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR726-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR719-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR727-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR728-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR675-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR676-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR628-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR677-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR678-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR729-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR733-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM095-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR802-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR805-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD175-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD225-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD236-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD251-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD451-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE109-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB911-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE108-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE532-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE533-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE534-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE535-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE536-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE537-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE538-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE539-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE541-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE542-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE543-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE544-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR750-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR760-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR762-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR764-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR766-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR770-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR772-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR774-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR990-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL025-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL264-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL266-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL040-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL051-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL053-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL052-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL092-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL171-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL262-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
