etax/19XMLスキーマ/hojin/RHO7012-231.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結法人の連結確定申告
version:23.1.0 Date: 2023年10月05日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="HOR112-003.xsd"/>
<xsd:include schemaLocation="HOR116-002.xsd"/>
<xsd:include schemaLocation="HOR201-002.xsd"/>
<xsd:include schemaLocation="HOA201-004.xsd"/>
<xsd:include schemaLocation="HOA320-006.xsd"/>
<xsd:include schemaLocation="HOA322-006.xsd"/>
<xsd:include schemaLocation="HOA323-005.xsd"/>
<xsd:include schemaLocation="HOA324-004.xsd"/>
<xsd:include schemaLocation="HOA330-006.xsd"/>
<xsd:include schemaLocation="HOA350-005.xsd"/>
<xsd:include schemaLocation="HOA360-005.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOR327-005.xsd"/>
<xsd:include schemaLocation="HOR326-004.xsd"/>
<xsd:include schemaLocation="HOR330-004.xsd"/>
<xsd:include schemaLocation="HOR329-005.xsd"/>
<xsd:include schemaLocation="HOR420-018.xsd"/>
<xsd:include schemaLocation="HOR425-018.xsd"/>
<xsd:include schemaLocation="HOR422-011.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR510-007.xsd"/>
<xsd:include schemaLocation="HOR511-007.xsd"/>
<xsd:include schemaLocation="HOR517-004.xsd"/>
<xsd:include schemaLocation="HOA531-003.xsd"/>
<xsd:include schemaLocation="HOR514-007.xsd"/>
<xsd:include schemaLocation="HOR516-007.xsd"/>
<xsd:include schemaLocation="HOB024-002.xsd"/>
<xsd:include schemaLocation="HOB025-003.xsd"/>
<xsd:include schemaLocation="HOB026-002.xsd"/>
<xsd:include schemaLocation="HOB027-003.xsd"/>
<xsd:include schemaLocation="HOB022-009.xsd"/>
<xsd:include schemaLocation="HOB035-004.xsd"/>
<xsd:include schemaLocation="HOB031-008.xsd"/>
<xsd:include schemaLocation="HOB032-006.xsd"/>
<xsd:include schemaLocation="HOB033-005.xsd"/>
<xsd:include schemaLocation="HOB040-006.xsd"/>
<xsd:include schemaLocation="HOB043-004.xsd"/>
<xsd:include schemaLocation="HOB042-014.xsd"/>
<xsd:include schemaLocation="HOB660-010.xsd"/>
<xsd:include schemaLocation="HOB670-011.xsd"/>
<xsd:include schemaLocation="HOR616-006.xsd"/>
<xsd:include schemaLocation="HOR620-018.xsd"/>
<xsd:include schemaLocation="HOR621-010.xsd"/>
<xsd:include schemaLocation="HOR611-002.xsd"/>
<xsd:include schemaLocation="HOR677-009.xsd"/>
<xsd:include schemaLocation="HOR678-009.xsd"/>
<xsd:include schemaLocation="HOR729-005.xsd"/>
<xsd:include schemaLocation="HOR622-012.xsd"/>
<xsd:include schemaLocation="HOR617-008.xsd"/>
<xsd:include schemaLocation="HOR669-006.xsd"/>
<xsd:include schemaLocation="HOR679-006.xsd"/>
<xsd:include schemaLocation="HOR657-008.xsd"/>
<xsd:include schemaLocation="HOR684-002.xsd"/>
<xsd:include schemaLocation="HOR740-006.xsd"/>
<xsd:include schemaLocation="HOR742-007.xsd"/>
<xsd:include schemaLocation="HOR687-004.xsd"/>
<xsd:include schemaLocation="HOR688-004.xsd"/>
<xsd:include schemaLocation="HOR659-014.xsd"/>
<xsd:include schemaLocation="HOR671-014.xsd"/>
<xsd:include schemaLocation="HOR663-013.xsd"/>
<xsd:include schemaLocation="HOR691-013.xsd"/>
<xsd:include schemaLocation="HOR672-008.xsd"/>
<xsd:include schemaLocation="HOR673-007.xsd"/>
<xsd:include schemaLocation="HOR716-011.xsd"/>
<xsd:include schemaLocation="HOR717-009.xsd"/>
<xsd:include schemaLocation="HOR785-005.xsd"/>
<xsd:include schemaLocation="HOR786-006.xsd"/>
<xsd:include schemaLocation="HOR780-007.xsd"/>
<xsd:include schemaLocation="HOR782-006.xsd"/>
<xsd:include schemaLocation="HOR730-005.xsd"/>
<xsd:include schemaLocation="HOR792-007.xsd"/>
<xsd:include schemaLocation="HOR794-006.xsd"/>
<xsd:include schemaLocation="HOR734-004.xsd"/>
<xsd:include schemaLocation="HOR783-008.xsd"/>
<xsd:include schemaLocation="HOR784-007.xsd"/>
<xsd:include schemaLocation="HOR705-010.xsd"/>
<xsd:include schemaLocation="HOR682-006.xsd"/>
<xsd:include schemaLocation="HOR683-004.xsd"/>
<xsd:include schemaLocation="HOR745-002.xsd"/>
<xsd:include schemaLocation="HOR746-002.xsd"/>
<xsd:include schemaLocation="HOR747-002.xsd"/>
<xsd:include schemaLocation="HOR748-002.xsd"/>
<xsd:include schemaLocation="HOR749-002.xsd"/>
<xsd:include schemaLocation="HOR736-003.xsd"/>
<xsd:include schemaLocation="HOR737-003.xsd"/>
<xsd:include schemaLocation="HOR738-002.xsd"/>
<xsd:include schemaLocation="HOR739-002.xsd"/>
<xsd:include schemaLocation="HOR626-012.xsd"/>
<xsd:include schemaLocation="HOR627-013.xsd"/>
<xsd:include schemaLocation="HOR614-002.xsd"/>
<xsd:include schemaLocation="HOR720-012.xsd"/>
<xsd:include schemaLocation="HOR731-010.xsd"/>
<xsd:include schemaLocation="HOR721-008.xsd"/>
<xsd:include schemaLocation="HOR733-004.xsd"/>
<xsd:include schemaLocation="HOR723-010.xsd"/>
<xsd:include schemaLocation="HOR725-008.xsd"/>
<xsd:include schemaLocation="HOR741-001.xsd"/>
<xsd:include schemaLocation="HOB810-007.xsd"/>
<xsd:include schemaLocation="HOB820-003.xsd"/>
<xsd:include schemaLocation="HOB825-001.xsd"/>
<xsd:include schemaLocation="HOR800-012.xsd"/>
<xsd:include schemaLocation="HOR802-003.xsd"/>
<xsd:include schemaLocation="HOB900-013.xsd"/>
<xsd:include schemaLocation="HOB930-006.xsd"/>
<xsd:include schemaLocation="HOC012-005.xsd"/>
<xsd:include schemaLocation="HOC020-014.xsd"/>
<xsd:include schemaLocation="HOC022-005.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC061-001.xsd"/>
<xsd:include schemaLocation="HOR805-004.xsd"/>
<xsd:include schemaLocation="HOR810-005.xsd"/>
<xsd:include schemaLocation="HOR815-002.xsd"/>
<xsd:include schemaLocation="HOR817-002.xsd"/>
<xsd:include schemaLocation="HOC110-009.xsd"/>
<xsd:include schemaLocation="HOC112-016.xsd"/>
<xsd:include schemaLocation="HOC120-005.xsd"/>
<xsd:include schemaLocation="HOD010-012.xsd"/>
<xsd:include schemaLocation="HOD015-002.xsd"/>
<xsd:include schemaLocation="HOD025-003.xsd"/>
<xsd:include schemaLocation="HOD040-009.xsd"/>
<xsd:include schemaLocation="HOD065-006.xsd"/>
<xsd:include schemaLocation="HOD070-009.xsd"/>
<xsd:include schemaLocation="HOD090-008.xsd"/>
<xsd:include schemaLocation="HOD165-005.xsd"/>
<xsd:include schemaLocation="HOD175-004.xsd"/>
<xsd:include schemaLocation="HOD180-010.xsd"/>
<xsd:include schemaLocation="HOD185-009.xsd"/>
<xsd:include schemaLocation="HOD188-008.xsd"/>
<xsd:include schemaLocation="HOD190-014.xsd"/>
<xsd:include schemaLocation="HOD201-013.xsd"/>
<xsd:include schemaLocation="HOD205-011.xsd"/>
<xsd:include schemaLocation="HOD215-004.xsd"/>
<xsd:include schemaLocation="HOD035-003.xsd"/>
<xsd:include schemaLocation="HOD225-003.xsd"/>
<xsd:include schemaLocation="HOD236-003.xsd"/>
<xsd:include schemaLocation="HOD410-008.xsd"/>
<xsd:include schemaLocation="HOD420-006.xsd"/>
<xsd:include schemaLocation="HOD430-004.xsd"/>
<xsd:include schemaLocation="HOD440-007.xsd"/>
<xsd:include schemaLocation="HOD451-006.xsd"/>
<xsd:include schemaLocation="HOD460-004.xsd"/>
<xsd:include schemaLocation="HOD491-006.xsd"/>
<xsd:include schemaLocation="HOD495-007.xsd"/>
<xsd:include schemaLocation="HOD500-009.xsd"/>
<xsd:include schemaLocation="HOD510-010.xsd"/>
<xsd:include schemaLocation="HOE104-006.xsd"/>
<xsd:include schemaLocation="HOE109-004.xsd"/>
<xsd:include schemaLocation="HOB911-003.xsd"/>
<xsd:include schemaLocation="HOB920-009.xsd"/>
<xsd:include schemaLocation="HOE110-006.xsd"/>
<xsd:include schemaLocation="HOE111-005.xsd"/>
<xsd:include schemaLocation="HOE112-003.xsd"/>
<xsd:include schemaLocation="HOE113-004.xsd"/>
<xsd:include schemaLocation="HOE105-006.xsd"/>
<xsd:include schemaLocation="HOE108-005.xsd"/>
<xsd:include schemaLocation="HOR820-011.xsd"/>
<xsd:include schemaLocation="HOR830-013.xsd"/>
<xsd:include schemaLocation="HOE315-005.xsd"/>
<xsd:include schemaLocation="HOE325-005.xsd"/>
<xsd:include schemaLocation="HOE330-010.xsd"/>
<xsd:include schemaLocation="HOE341-005.xsd"/>
<xsd:include schemaLocation="HOE340-010.xsd"/>
<xsd:include schemaLocation="HOE352-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE371-002.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-005.xsd"/>
<xsd:include schemaLocation="HOE400-010.xsd"/>
<xsd:include schemaLocation="HOE410-003.xsd"/>
<xsd:include schemaLocation="HOE450-003.xsd"/>
<xsd:include schemaLocation="HOE532-003.xsd"/>
<xsd:include schemaLocation="HOE533-002.xsd"/>
<xsd:include schemaLocation="HOE534-003.xsd"/>
<xsd:include schemaLocation="HOE535-002.xsd"/>
<xsd:include schemaLocation="HOE536-004.xsd"/>
<xsd:include schemaLocation="HOE537-004.xsd"/>
<xsd:include schemaLocation="HOE538-003.xsd"/>
<xsd:include schemaLocation="HOE539-003.xsd"/>
<xsd:include schemaLocation="HOE541-002.xsd"/>
<xsd:include schemaLocation="HOE548-004.xsd"/>
<xsd:include schemaLocation="HOE543-002.xsd"/>
<xsd:include schemaLocation="HOE563-007.xsd"/>
<xsd:include schemaLocation="HOE570-005.xsd"/>
<xsd:include schemaLocation="HOE580-005.xsd"/>
<xsd:include schemaLocation="HOE585-004.xsd"/>
<xsd:include schemaLocation="HOE544-002.xsd"/>
<xsd:include schemaLocation="HOE605-002.xsd"/>
<xsd:include schemaLocation="HOR755-002.xsd"/>
<xsd:include schemaLocation="HOR778-002.xsd"/>
<xsd:include schemaLocation="HOR764-005.xsd"/>
<xsd:include schemaLocation="HOR766-005.xsd"/>
<xsd:include schemaLocation="HOR770-004.xsd"/>
<xsd:include schemaLocation="HOR772-005.xsd"/>
<xsd:include schemaLocation="HOR774-004.xsd"/>
<xsd:include schemaLocation="HOR990-007.xsd"/>
<xsd:include schemaLocation="HOL335-001.xsd"/>
<xsd:include schemaLocation="HOL391-003.xsd"/>
<xsd:include schemaLocation="HOL392-003.xsd"/>
<xsd:include schemaLocation="HOR940-005.xsd"/>
<xsd:include schemaLocation="HOR910-004.xsd"/>
<xsd:include schemaLocation="HOR920-006.xsd"/>
<xsd:include schemaLocation="HOM060-005.xsd"/>
<xsd:include schemaLocation="HOM095-003.xsd"/>
<xsd:include schemaLocation="HOM090-002.xsd"/>
<xsd:include schemaLocation="HOM120-002.xsd"/>
<xsd:include schemaLocation="HOM130-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RHO7012a-231.xsd"/>
<xsd:include schemaLocation="HOV999-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO7012-231-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="23.1.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO7012"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO7012" type="RHO7012-231-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO7012-231-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO7012-231-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO7012-231-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO7012-231-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR112-3-2group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOR116-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR201-2-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref="HOA201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR327-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR326-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR329-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR420-18-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR425-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR422-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR510-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR511-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR517-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR514-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR616-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR611-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR677-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR678-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR729-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR622-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR617-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR669-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR679-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR684-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR740-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR742-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR687-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR688-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR672-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR673-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR785-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR786-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR780-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR782-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR730-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR792-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR794-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR734-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR783-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR784-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR705-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR682-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR683-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR745-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR746-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR747-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR748-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR749-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR736-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR737-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR738-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR739-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR614-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR733-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR741-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB820-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB825-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR802-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC061-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR805-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR815-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR817-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD015-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD175-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD225-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD236-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD451-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE109-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB911-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE108-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE352-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE371-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE450-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE532-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE533-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE534-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE535-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE536-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE537-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE538-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE539-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE541-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE548-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE543-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE544-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE605-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR755-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR778-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR764-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR766-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR770-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR772-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR774-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR990-7-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL335-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM095-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-2-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ042" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ052" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEI010" minOccurs="0" maxOccurs="1"/>
<xsd:element ref="som:SOZ074" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>

<!-- CSV -->
<xsd:element name="CSV" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="HOV999" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
