etax/19XMLスキーマ/hojin/RHO8050-050.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-親法人分(連結親法人が特定の医療法人である連結法人の分)」
version:5.0.1 Date: 2005年09月09日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL.xsd"/>
<xsd:include schemaLocation="HOR230-001.xsd"/>
<xsd:include schemaLocation="HOA320-003.xsd"/>
<xsd:include schemaLocation="HOA322-003.xsd"/>
<xsd:include schemaLocation="HOA323-003.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-003.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOR320-001.xsd"/>
<xsd:include schemaLocation="HOR321-001.xsd"/>
<xsd:include schemaLocation="HOR421-001.xsd"/>
<xsd:include schemaLocation="HOR521-001.xsd"/>
<xsd:include schemaLocation="HOA521-001.xsd"/>
<xsd:include schemaLocation="HOR523-001.xsd"/>
<xsd:include schemaLocation="HOR524-001.xsd"/>
<xsd:include schemaLocation="HOB022-003.xsd"/>
<xsd:include schemaLocation="HOB030-003.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-003.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-003.xsd"/>
<xsd:include schemaLocation="HOB050-003.xsd"/>
<xsd:include schemaLocation="HOB052-003.xsd"/>
<xsd:include schemaLocation="HOB053-003.xsd"/>
<xsd:include schemaLocation="HOB220-003.xsd"/>
<xsd:include schemaLocation="HOB230-003.xsd"/>
<xsd:include schemaLocation="HOB110-003.xsd"/>
<xsd:include schemaLocation="HOB120-003.xsd"/>
<xsd:include schemaLocation="HOB180-003.xsd"/>
<xsd:include schemaLocation="HOB190-003.xsd"/>
<xsd:include schemaLocation="HOB320-003.xsd"/>
<xsd:include schemaLocation="HOB330-003.xsd"/>
<xsd:include schemaLocation="HOR610-001.xsd"/>
<xsd:include schemaLocation="HOR620-001.xsd"/>
<xsd:include schemaLocation="HOR621-001.xsd"/>
<xsd:include schemaLocation="HOR630-001.xsd"/>
<xsd:include schemaLocation="HOR640-001.xsd"/>
<xsd:include schemaLocation="HOR641-001.xsd"/>
<xsd:include schemaLocation="HOR642-001.xsd"/>
<xsd:include schemaLocation="HOR643-001.xsd"/>
<xsd:include schemaLocation="HOR650-001.xsd"/>
<xsd:include schemaLocation="HOR651-001.xsd"/>
<xsd:include schemaLocation="HOR652-001.xsd"/>
<xsd:include schemaLocation="HOR660-001.xsd"/>
<xsd:include schemaLocation="HOR661-001.xsd"/>
<xsd:include schemaLocation="HOR670-001.xsd"/>
<xsd:include schemaLocation="HOR671-001.xsd"/>
<xsd:include schemaLocation="HOR680-001.xsd"/>
<xsd:include schemaLocation="HOR681-001.xsd"/>
<xsd:include schemaLocation="HOR690-001.xsd"/>
<xsd:include schemaLocation="HOR691-001.xsd"/>
<xsd:include schemaLocation="HOR700-001.xsd"/>
<xsd:include schemaLocation="HOR701-001.xsd"/>
<xsd:include schemaLocation="HOR710-001.xsd"/>
<xsd:include schemaLocation="HOR711-001.xsd"/>
<xsd:include schemaLocation="HOR612-001.xsd"/>
<xsd:include schemaLocation="HOR613-001.xsd"/>
<xsd:include schemaLocation="HOR720-001.xsd"/>
<xsd:include schemaLocation="HOR721-001.xsd"/>
<xsd:include schemaLocation="HOR722-001.xsd"/>
<xsd:include schemaLocation="HOR723-001.xsd"/>
<xsd:include schemaLocation="HOR800-001.xsd"/>
<xsd:include schemaLocation="HOB900-003.xsd"/>
<xsd:include schemaLocation="HOB920-003.xsd"/>
<xsd:include schemaLocation="HOB930-001.xsd"/>
<xsd:include schemaLocation="HOC010-003.xsd"/>
<xsd:include schemaLocation="HOC020-003.xsd"/>
<xsd:include schemaLocation="HOC060-003.xsd"/>
<xsd:include schemaLocation="HOR810-001.xsd"/>
<xsd:include schemaLocation="HOC110-003.xsd"/>
<xsd:include schemaLocation="HOC112-003.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-003.xsd"/>
<xsd:include schemaLocation="HOC140-003.xsd"/>
<xsd:include schemaLocation="HOD010-003.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD060-003.xsd"/>
<xsd:include schemaLocation="HOD070-003.xsd"/>
<xsd:include schemaLocation="HOD080-003.xsd"/>
<xsd:include schemaLocation="HOD090-003.xsd"/>
<xsd:include schemaLocation="HOD110-003.xsd"/>
<xsd:include schemaLocation="HOD120-003.xsd"/>
<xsd:include schemaLocation="HOD140-003.xsd"/>
<xsd:include schemaLocation="HOD160-003.xsd"/>
<xsd:include schemaLocation="HOD170-003.xsd"/>
<xsd:include schemaLocation="HOD180-003.xsd"/>
<xsd:include schemaLocation="HOD190-003.xsd"/>
<xsd:include schemaLocation="HOD200-003.xsd"/>
<xsd:include schemaLocation="HOD030-003.xsd"/>
<xsd:include schemaLocation="HOD130-003.xsd"/>
<xsd:include schemaLocation="HOD250-001.xsd"/>
<xsd:include schemaLocation="HOD410-003.xsd"/>
<xsd:include schemaLocation="HOD420-003.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-003.xsd"/>
<xsd:include schemaLocation="HOD450-003.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-003.xsd"/>
<xsd:include schemaLocation="HOD480-003.xsd"/>
<xsd:include schemaLocation="HOD485-002.xsd"/>
<xsd:include schemaLocation="HOD490-003.xsd"/>
<xsd:include schemaLocation="HOD500-003.xsd"/>
<xsd:include schemaLocation="HOD510-003.xsd"/>
<xsd:include schemaLocation="HOE104-001.xsd"/>
<xsd:include schemaLocation="HOE102-003.xsd"/>
<xsd:include schemaLocation="HOE103-003.xsd"/>
<xsd:include schemaLocation="HOR820-001.xsd"/>
<xsd:include schemaLocation="HOR830-001.xsd"/>
<xsd:include schemaLocation="HOE310-003.xsd"/>
<xsd:include schemaLocation="HOE320-003.xsd"/>
<xsd:include schemaLocation="HOE330-003.xsd"/>
<xsd:include schemaLocation="HOE340-003.xsd"/>
<xsd:include schemaLocation="HOE350-003.xsd"/>
<xsd:include schemaLocation="HOE360-003.xsd"/>
<xsd:include schemaLocation="HOE370-003.xsd"/>
<xsd:include schemaLocation="HOE380-003.xsd"/>
<xsd:include schemaLocation="HOE400-003.xsd"/>
<xsd:include schemaLocation="HOE510-003.xsd"/>
<xsd:include schemaLocation="HOE610-001.xsd"/>
<xsd:include schemaLocation="HOE511-003.xsd"/>
<xsd:include schemaLocation="HOE620-001.xsd"/>
<xsd:include schemaLocation="HOE520-003.xsd"/>
<xsd:include schemaLocation="HOE630-001.xsd"/>
<xsd:include schemaLocation="HOE731-003.xsd"/>
<xsd:include schemaLocation="HOE640-001.xsd"/>
<xsd:include schemaLocation="HOE522-003.xsd"/>
<xsd:include schemaLocation="HOE650-001.xsd"/>
<xsd:include schemaLocation="HOE530-003.xsd"/>
<xsd:include schemaLocation="HOE600-003.xsd"/>
<xsd:include schemaLocation="HOI010-001.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-001.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-002.xsd"/>
<xsd:include schemaLocation="HOI140-001.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-002.xsd"/>
<xsd:include schemaLocation="HOL010-003.xsd"/>
<xsd:include schemaLocation="HOL040-003.xsd"/>
<xsd:include schemaLocation="HOL020-003.xsd"/>
<xsd:include schemaLocation="HOL035-003.xsd"/>
<xsd:include schemaLocation="HOL045-003.xsd"/>
<xsd:include schemaLocation="HOL050-003.xsd"/>
<xsd:include schemaLocation="HOL060-003.xsd"/>
<xsd:include schemaLocation="HOL070-003.xsd"/>
<xsd:include schemaLocation="HOL080-003.xsd"/>
<xsd:include schemaLocation="HOL090-003.xsd"/>
<xsd:include schemaLocation="HOL095-003.xsd"/>
<xsd:include schemaLocation="HOL100-003.xsd"/>
<xsd:include schemaLocation="HOL110-003.xsd"/>
<xsd:include schemaLocation="HOL120-003.xsd"/>
<xsd:include schemaLocation="HOL130-003.xsd"/>
<xsd:include schemaLocation="HOL145-003.xsd"/>
<xsd:include schemaLocation="HOL150-003.xsd"/>
<xsd:include schemaLocation="HOL170-003.xsd"/>
<xsd:include schemaLocation="HOL190-003.xsd"/>
<xsd:include schemaLocation="HOL200-003.xsd"/>
<xsd:include schemaLocation="HOL210-003.xsd"/>
<xsd:include schemaLocation="HOL230-003.xsd"/>
<xsd:include schemaLocation="HOL240-003.xsd"/>
<xsd:include schemaLocation="HOL250-003.xsd"/>
<xsd:include schemaLocation="HOL260-003.xsd"/>
<xsd:include schemaLocation="HOL265-003.xsd"/>
<xsd:include schemaLocation="HOL270-003.xsd"/>
<xsd:include schemaLocation="HOL280-003.xsd"/>
<xsd:include schemaLocation="HOL285-003.xsd"/>
<xsd:include schemaLocation="HOL290-003.xsd"/>
<xsd:include schemaLocation="HOL300-003.xsd"/>
<xsd:include schemaLocation="HOL330-002.xsd"/>
<xsd:include schemaLocation="HOL310-002.xsd"/>
<xsd:include schemaLocation="HOL320-002.xsd"/>
<xsd:include schemaLocation="HOM030-002.xsd"/>
<xsd:include schemaLocation="HOM060-003.xsd"/>
<xsd:include schemaLocation="HOR900-001.xsd"/>
<xsd:include schemaLocation="HOR910-001.xsd"/>
<xsd:include schemaLocation="HOR920-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8050-50-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0.0"/><xsd:enumeration value="5.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8050"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8050" type="RHO8050-50-1type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8050-50-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8050-50-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8050-50-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8050-50-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR230-1-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA320-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR321-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR521-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA521-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR523-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR524-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB320-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB330-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR610-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR630-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR640-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR641-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR642-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR643-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR650-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR651-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR652-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR660-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR670-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR680-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR681-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR690-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR700-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR710-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR711-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR612-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR613-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR722-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC140-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD140-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD200-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD490-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE510-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE511-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE520-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE731-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE522-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK010-2-1group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOL010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL045-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL090-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL095-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL145-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL285-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL310-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL320-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM030-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR900-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-1-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
