etax/19XMLスキーマ/hojin/RHO8010-150.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-親法人分(連結親法人が普通法人である連結法人の分)」
version:15.0.1 Date: 2015年09月10日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL120.xsd"/>
<xsd:include schemaLocation="HOR210-011.xsd"/>
<xsd:include schemaLocation="HOR205-002.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOR320-012.xsd"/>
<xsd:include schemaLocation="HOR323-006.xsd"/>
<xsd:include schemaLocation="HOR324-001.xsd"/>
<xsd:include schemaLocation="HOR421-012.xsd"/>
<xsd:include schemaLocation="HOR426-012.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR512-005.xsd"/>
<xsd:include schemaLocation="HOR513-005.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOR516-005.xsd"/>
<xsd:include schemaLocation="HOB022-006.xsd"/>
<xsd:include schemaLocation="HOB030-007.xsd"/>
<xsd:include schemaLocation="HOB031-005.xsd"/>
<xsd:include schemaLocation="HOB032-005.xsd"/>
<xsd:include schemaLocation="HOB033-004.xsd"/>
<xsd:include schemaLocation="HOB040-005.xsd"/>
<xsd:include schemaLocation="HOB042-008.xsd"/>
<xsd:include schemaLocation="HOB660-004.xsd"/>
<xsd:include schemaLocation="HOB670-004.xsd"/>
<xsd:include schemaLocation="HOR615-005.xsd"/>
<xsd:include schemaLocation="HOR620-012.xsd"/>
<xsd:include schemaLocation="HOR621-007.xsd"/>
<xsd:include schemaLocation="HOR622-005.xsd"/>
<xsd:include schemaLocation="HOR617-001.xsd"/>
<xsd:include schemaLocation="HOR623-004.xsd"/>
<xsd:include schemaLocation="HOR665-005.xsd"/>
<xsd:include schemaLocation="HOR624-005.xsd"/>
<xsd:include schemaLocation="HOR619-001.xsd"/>
<xsd:include schemaLocation="HOR625-004.xsd"/>
<xsd:include schemaLocation="HOR666-004.xsd"/>
<xsd:include schemaLocation="HOR740-001.xsd"/>
<xsd:include schemaLocation="HOR742-001.xsd"/>
<xsd:include schemaLocation="HOR698-007.xsd"/>
<xsd:include schemaLocation="HOR699-004.xsd"/>
<xsd:include schemaLocation="HOR657-003.xsd"/>
<xsd:include schemaLocation="HOR653-005.xsd"/>
<xsd:include schemaLocation="HOR654-002.xsd"/>
<xsd:include schemaLocation="HOR659-007.xsd"/>
<xsd:include schemaLocation="HOR671-007.xsd"/>
<xsd:include schemaLocation="HOR663-007.xsd"/>
<xsd:include schemaLocation="HOR691-006.xsd"/>
<xsd:include schemaLocation="HOR702-007.xsd"/>
<xsd:include schemaLocation="HOR701-006.xsd"/>
<xsd:include schemaLocation="HOR672-002.xsd"/>
<xsd:include schemaLocation="HOR673-001.xsd"/>
<xsd:include schemaLocation="HOR716-005.xsd"/>
<xsd:include schemaLocation="HOR717-003.xsd"/>
<xsd:include schemaLocation="HOR780-001.xsd"/>
<xsd:include schemaLocation="HOR782-001.xsd"/>
<xsd:include schemaLocation="HOR718-005.xsd"/>
<xsd:include schemaLocation="HOR790-001.xsd"/>
<xsd:include schemaLocation="HOR792-001.xsd"/>
<xsd:include schemaLocation="HOR794-001.xsd"/>
<xsd:include schemaLocation="HOR703-003.xsd"/>
<xsd:include schemaLocation="HOR704-002.xsd"/>
<xsd:include schemaLocation="HOR705-003.xsd"/>
<xsd:include schemaLocation="HOR706-002.xsd"/>
<xsd:include schemaLocation="HOR707-003.xsd"/>
<xsd:include schemaLocation="HOR675-002.xsd"/>
<xsd:include schemaLocation="HOR676-002.xsd"/>
<xsd:include schemaLocation="HOR626-005.xsd"/>
<xsd:include schemaLocation="HOR627-005.xsd"/>
<xsd:include schemaLocation="HOR628-005.xsd"/>
<xsd:include schemaLocation="HOR677-002.xsd"/>
<xsd:include schemaLocation="HOR678-002.xsd"/>
<xsd:include schemaLocation="HOR720-008.xsd"/>
<xsd:include schemaLocation="HOR731-005.xsd"/>
<xsd:include schemaLocation="HOR721-006.xsd"/>
<xsd:include schemaLocation="HOR723-008.xsd"/>
<xsd:include schemaLocation="HOR725-004.xsd"/>
<xsd:include schemaLocation="HOB810-003.xsd"/>
<xsd:include schemaLocation="HOR800-008.xsd"/>
<xsd:include schemaLocation="HOR802-001.xsd"/>
<xsd:include schemaLocation="HOB900-009.xsd"/>
<xsd:include schemaLocation="HOB930-005.xsd"/>
<xsd:include schemaLocation="HOC012-002.xsd"/>
<xsd:include schemaLocation="HOC020-009.xsd"/>
<xsd:include schemaLocation="HOC022-004.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC060-010.xsd"/>
<xsd:include schemaLocation="HOR805-002.xsd"/>
<xsd:include schemaLocation="HOR810-004.xsd"/>
<xsd:include schemaLocation="HOC110-007.xsd"/>
<xsd:include schemaLocation="HOC112-008.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOD010-007.xsd"/>
<xsd:include schemaLocation="HOD025-001.xsd"/>
<xsd:include schemaLocation="HOD035-001.xsd"/>
<xsd:include schemaLocation="HOD040-004.xsd"/>
<xsd:include schemaLocation="HOD065-004.xsd"/>
<xsd:include schemaLocation="HOD070-005.xsd"/>
<xsd:include schemaLocation="HOD090-006.xsd"/>
<xsd:include schemaLocation="HOD160-009.xsd"/>
<xsd:include schemaLocation="HOD165-002.xsd"/>
<xsd:include schemaLocation="HOD180-008.xsd"/>
<xsd:include schemaLocation="HOD185-004.xsd"/>
<xsd:include schemaLocation="HOD188-003.xsd"/>
<xsd:include schemaLocation="HOD190-010.xsd"/>
<xsd:include schemaLocation="HOD201-007.xsd"/>
<xsd:include schemaLocation="HOD205-005.xsd"/>
<xsd:include schemaLocation="HOD215-001.xsd"/>
<xsd:include schemaLocation="HOD208-003.xsd"/>
<xsd:include schemaLocation="HOD225-001.xsd"/>
<xsd:include schemaLocation="HOD235-001.xsd"/>
<xsd:include schemaLocation="HOD236-001.xsd"/>
<xsd:include schemaLocation="HOD135-004.xsd"/>
<xsd:include schemaLocation="HOD136-001.xsd"/>
<xsd:include schemaLocation="HOD250-007.xsd"/>
<xsd:include schemaLocation="HOD251-001.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-005.xsd"/>
<xsd:include schemaLocation="HOD451-001.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-005.xsd"/>
<xsd:include schemaLocation="HOD491-003.xsd"/>
<xsd:include schemaLocation="HOD495-003.xsd"/>
<xsd:include schemaLocation="HOD500-006.xsd"/>
<xsd:include schemaLocation="HOD510-007.xsd"/>
<xsd:include schemaLocation="HOE104-004.xsd"/>
<xsd:include schemaLocation="HOB910-003.xsd"/>
<xsd:include schemaLocation="HOB920-005.xsd"/>
<xsd:include schemaLocation="HOE110-003.xsd"/>
<xsd:include schemaLocation="HOE111-002.xsd"/>
<xsd:include schemaLocation="HOE112-001.xsd"/>
<xsd:include schemaLocation="HOE113-001.xsd"/>
<xsd:include schemaLocation="HOE105-003.xsd"/>
<xsd:include schemaLocation="HOE106-004.xsd"/>
<xsd:include schemaLocation="HOR820-008.xsd"/>
<xsd:include schemaLocation="HOR830-010.xsd"/>
<xsd:include schemaLocation="HOE315-002.xsd"/>
<xsd:include schemaLocation="HOE325-002.xsd"/>
<xsd:include schemaLocation="HOE330-006.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-006.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE381-001.xsd"/>
<xsd:include schemaLocation="HOE390-003.xsd"/>
<xsd:include schemaLocation="HOE400-006.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE545-003.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-003.xsd"/>
<xsd:include schemaLocation="HOE561-003.xsd"/>
<xsd:include schemaLocation="HOE562-003.xsd"/>
<xsd:include schemaLocation="HOE563-003.xsd"/>
<xsd:include schemaLocation="HOE570-003.xsd"/>
<xsd:include schemaLocation="HOE580-003.xsd"/>
<xsd:include schemaLocation="HOE585-002.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-007.xsd"/>
<xsd:include schemaLocation="HOR750-002.xsd"/>
<xsd:include schemaLocation="HOR760-002.xsd"/>
<xsd:include schemaLocation="HOR762-002.xsd"/>
<xsd:include schemaLocation="HOR764-002.xsd"/>
<xsd:include schemaLocation="HOR766-002.xsd"/>
<xsd:include schemaLocation="HOR770-002.xsd"/>
<xsd:include schemaLocation="HOR772-002.xsd"/>
<xsd:include schemaLocation="HOR774-002.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-003.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-003.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-004.xsd"/>
<xsd:include schemaLocation="HOK020-003.xsd"/>
<xsd:include schemaLocation="HOK030-002.xsd"/>
<xsd:include schemaLocation="HOK040-003.xsd"/>
<xsd:include schemaLocation="HOK050-002.xsd"/>
<xsd:include schemaLocation="HOK060-002.xsd"/>
<xsd:include schemaLocation="HOK070-001.xsd"/>
<xsd:include schemaLocation="HOL025-005.xsd"/>
<xsd:include schemaLocation="HOL040-011.xsd"/>
<xsd:include schemaLocation="HOL042-002.xsd"/>
<xsd:include schemaLocation="HOL046-003.xsd"/>
<xsd:include schemaLocation="HOL048-001.xsd"/>
<xsd:include schemaLocation="HOL047-003.xsd"/>
<xsd:include schemaLocation="HOL049-003.xsd"/>
<xsd:include schemaLocation="HOL052-002.xsd"/>
<xsd:include schemaLocation="HOL050-012.xsd"/>
<xsd:include schemaLocation="HOL054-002.xsd"/>
<xsd:include schemaLocation="HOL060-012.xsd"/>
<xsd:include schemaLocation="HOL130-011.xsd"/>
<xsd:include schemaLocation="HOL165-007.xsd"/>
<xsd:include schemaLocation="HOL169-003.xsd"/>
<xsd:include schemaLocation="HOL170-012.xsd"/>
<xsd:include schemaLocation="HOL175-003.xsd"/>
<xsd:include schemaLocation="HOL190-012.xsd"/>
<xsd:include schemaLocation="HOL230-010.xsd"/>
<xsd:include schemaLocation="HOL240-012.xsd"/>
<xsd:include schemaLocation="HOL260-011.xsd"/>
<xsd:include schemaLocation="HOL259-006.xsd"/>
<xsd:include schemaLocation="HOL261-005.xsd"/>
<xsd:include schemaLocation="HOL263-004.xsd"/>
<xsd:include schemaLocation="HOL270-011.xsd"/>
<xsd:include schemaLocation="HOL280-011.xsd"/>
<xsd:include schemaLocation="HOL286-003.xsd"/>
<xsd:include schemaLocation="HOL290-012.xsd"/>
<xsd:include schemaLocation="HOL300-011.xsd"/>
<xsd:include schemaLocation="HOL330-010.xsd"/>
<xsd:include schemaLocation="HOL360-003.xsd"/>
<xsd:include schemaLocation="HOL363-003.xsd"/>
<xsd:include schemaLocation="HOL365-004.xsd"/>
<xsd:include schemaLocation="HOL370-003.xsd"/>
<xsd:include schemaLocation="HOL380-003.xsd"/>
<xsd:include schemaLocation="HOL355-004.xsd"/>
<xsd:include schemaLocation="HOL390-003.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOR920-003.xsd"/>
<xsd:include schemaLocation="HOR940-002.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8010-150-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="15.0.0"/><xsd:enumeration value="15.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8010" type="RHO8010-150-1type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8010-150-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8010-150-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8010-150-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8010-150-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR210-11-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOR205-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR323-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR324-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR421-12-1group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR426-12-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR513-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-8-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR615-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR622-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR617-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR623-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR665-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR624-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR619-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR625-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR666-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR740-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR742-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR698-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR699-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR653-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR654-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR702-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR672-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR673-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR780-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR782-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR718-5-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR790-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR792-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR794-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR703-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR704-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR705-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR706-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR707-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR675-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR676-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR628-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR677-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR678-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR802-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR805-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOD208-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOD225-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOD235-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOD236-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOD135-4-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOD136-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOD250-7-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOD251-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOD450-5-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOD451-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE381-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE390-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR750-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR760-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR762-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR764-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR766-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR770-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR772-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR774-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-4-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL025-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL047-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL052-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL169-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
