etax/19XMLスキーマ/hojin/RHO8020-111.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-子法人分(連結親法人が普通法人である連結法人の分)」
version:11.1.4 Date: 2012年07月02日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL070.xsd"/>
<xsd:include schemaLocation="HOR210-007.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOR320-007.xsd"/>
<xsd:include schemaLocation="HOR322-003.xsd"/>
<xsd:include schemaLocation="HOR323-001.xsd"/>
<xsd:include schemaLocation="HOR421-007.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR512-003.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOR516-003.xsd"/>
<xsd:include schemaLocation="HOR524-001.xsd"/>
<xsd:include schemaLocation="HOB022-005.xsd"/>
<xsd:include schemaLocation="HOB030-004.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-004.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-005.xsd"/>
<xsd:include schemaLocation="HOB050-005.xsd"/>
<xsd:include schemaLocation="HOB052-005.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB221-003.xsd"/>
<xsd:include schemaLocation="HOB230-007.xsd"/>
<xsd:include schemaLocation="HOB136-003.xsd"/>
<xsd:include schemaLocation="HOB145-003.xsd"/>
<xsd:include schemaLocation="HOB181-003.xsd"/>
<xsd:include schemaLocation="HOB190-007.xsd"/>
<xsd:include schemaLocation="HOB626-003.xsd"/>
<xsd:include schemaLocation="HOB622-004.xsd"/>
<xsd:include schemaLocation="HOB097-003.xsd"/>
<xsd:include schemaLocation="HOB098-003.xsd"/>
<xsd:include schemaLocation="HOR615-002.xsd"/>
<xsd:include schemaLocation="HOR620-007.xsd"/>
<xsd:include schemaLocation="HOR621-002.xsd"/>
<xsd:include schemaLocation="HOR692-003.xsd"/>
<xsd:include schemaLocation="HOR622-001.xsd"/>
<xsd:include schemaLocation="HOR693-003.xsd"/>
<xsd:include schemaLocation="HOR664-002.xsd"/>
<xsd:include schemaLocation="HOR623-001.xsd"/>
<xsd:include schemaLocation="HOR665-002.xsd"/>
<xsd:include schemaLocation="HOR694-002.xsd"/>
<xsd:include schemaLocation="HOR667-001.xsd"/>
<xsd:include schemaLocation="HOR695-003.xsd"/>
<xsd:include schemaLocation="HOR624-001.xsd"/>
<xsd:include schemaLocation="HOR696-002.xsd"/>
<xsd:include schemaLocation="HOR625-001.xsd"/>
<xsd:include schemaLocation="HOR666-002.xsd"/>
<xsd:include schemaLocation="HOR697-002.xsd"/>
<xsd:include schemaLocation="HOR668-001.xsd"/>
<xsd:include schemaLocation="HOR698-003.xsd"/>
<xsd:include schemaLocation="HOR699-002.xsd"/>
<xsd:include schemaLocation="HOR657-002.xsd"/>
<xsd:include schemaLocation="HOR658-003.xsd"/>
<xsd:include schemaLocation="HOR661-003.xsd"/>
<xsd:include schemaLocation="HOR653-001.xsd"/>
<xsd:include schemaLocation="HOR654-001.xsd"/>
<xsd:include schemaLocation="HOR659-003.xsd"/>
<xsd:include schemaLocation="HOR671-006.xsd"/>
<xsd:include schemaLocation="HOR662-003.xsd"/>
<xsd:include schemaLocation="HOR686-004.xsd"/>
<xsd:include schemaLocation="HOR663-003.xsd"/>
<xsd:include schemaLocation="HOR691-004.xsd"/>
<xsd:include schemaLocation="HOR702-003.xsd"/>
<xsd:include schemaLocation="HOR701-005.xsd"/>
<xsd:include schemaLocation="HOR714-003.xsd"/>
<xsd:include schemaLocation="HOR713-004.xsd"/>
<xsd:include schemaLocation="HOR716-001.xsd"/>
<xsd:include schemaLocation="HOR717-001.xsd"/>
<xsd:include schemaLocation="HOR718-001.xsd"/>
<xsd:include schemaLocation="HOR626-001.xsd"/>
<xsd:include schemaLocation="HOR627-001.xsd"/>
<xsd:include schemaLocation="HOR628-001.xsd"/>
<xsd:include schemaLocation="HOR715-003.xsd"/>
<xsd:include schemaLocation="HOR629-001.xsd"/>
<xsd:include schemaLocation="HOR720-005.xsd"/>
<xsd:include schemaLocation="HOR731-002.xsd"/>
<xsd:include schemaLocation="HOR721-004.xsd"/>
<xsd:include schemaLocation="HOR724-001.xsd"/>
<xsd:include schemaLocation="HOR723-005.xsd"/>
<xsd:include schemaLocation="HOR725-001.xsd"/>
<xsd:include schemaLocation="HOB810-002.xsd"/>
<xsd:include schemaLocation="HOR800-006.xsd"/>
<xsd:include schemaLocation="HOB900-006.xsd"/>
<xsd:include schemaLocation="HOB930-004.xsd"/>
<xsd:include schemaLocation="HOC010-004.xsd"/>
<xsd:include schemaLocation="HOC012-001.xsd"/>
<xsd:include schemaLocation="HOC020-006.xsd"/>
<xsd:include schemaLocation="HOC022-002.xsd"/>
<xsd:include schemaLocation="HOC024-002.xsd"/>
<xsd:include schemaLocation="HOC026-002.xsd"/>
<xsd:include schemaLocation="HOC060-007.xsd"/>
<xsd:include schemaLocation="HOR810-002.xsd"/>
<xsd:include schemaLocation="HOC110-004.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOD010-006.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD065-002.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD160-006.xsd"/>
<xsd:include schemaLocation="HOD170-006.xsd"/>
<xsd:include schemaLocation="HOD180-006.xsd"/>
<xsd:include schemaLocation="HOD190-006.xsd"/>
<xsd:include schemaLocation="HOD195-003.xsd"/>
<xsd:include schemaLocation="HOD201-003.xsd"/>
<xsd:include schemaLocation="HOD205-001.xsd"/>
<xsd:include schemaLocation="HOD110-005.xsd"/>
<xsd:include schemaLocation="HOD130-007.xsd"/>
<xsd:include schemaLocation="HOD135-001.xsd"/>
<xsd:include schemaLocation="HOD250-004.xsd"/>
<xsd:include schemaLocation="HOD260-001.xsd"/>
<xsd:include schemaLocation="HOD410-005.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-005.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-005.xsd"/>
<xsd:include schemaLocation="HOD491-003.xsd"/>
<xsd:include schemaLocation="HOD495-002.xsd"/>
<xsd:include schemaLocation="HOD500-006.xsd"/>
<xsd:include schemaLocation="HOD510-007.xsd"/>
<xsd:include schemaLocation="HOE104-004.xsd"/>
<xsd:include schemaLocation="HOB910-003.xsd"/>
<xsd:include schemaLocation="HOB920-005.xsd"/>
<xsd:include schemaLocation="HOE110-001.xsd"/>
<xsd:include schemaLocation="HOE111-001.xsd"/>
<xsd:include schemaLocation="HOE105-002.xsd"/>
<xsd:include schemaLocation="HOE106-003.xsd"/>
<xsd:include schemaLocation="HOR820-006.xsd"/>
<xsd:include schemaLocation="HOR830-006.xsd"/>
<xsd:include schemaLocation="HOE310-006.xsd"/>
<xsd:include schemaLocation="HOE315-001.xsd"/>
<xsd:include schemaLocation="HOE320-006.xsd"/>
<xsd:include schemaLocation="HOE325-001.xsd"/>
<xsd:include schemaLocation="HOE330-006.xsd"/>
<xsd:include schemaLocation="HOE341-002.xsd"/>
<xsd:include schemaLocation="HOE340-006.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-007.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE390-002.xsd"/>
<xsd:include schemaLocation="HOE400-005.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-003.xsd"/>
<xsd:include schemaLocation="HOE620-003.xsd"/>
<xsd:include schemaLocation="HOE630-003.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE545-002.xsd"/>
<xsd:include schemaLocation="HOE546-002.xsd"/>
<xsd:include schemaLocation="HOE547-002.xsd"/>
<xsd:include schemaLocation="HOE561-002.xsd"/>
<xsd:include schemaLocation="HOE562-002.xsd"/>
<xsd:include schemaLocation="HOE563-002.xsd"/>
<xsd:include schemaLocation="HOE570-002.xsd"/>
<xsd:include schemaLocation="HOE580-002.xsd"/>
<xsd:include schemaLocation="HOE585-001.xsd"/>
<xsd:include schemaLocation="HOE531-004.xsd"/>
<xsd:include schemaLocation="HOE600-007.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-002.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-003.xsd"/>
<xsd:include schemaLocation="HOI141-002.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-004.xsd"/>
<xsd:include schemaLocation="HOK020-001.xsd"/>
<xsd:include schemaLocation="HOK030-001.xsd"/>
<xsd:include schemaLocation="HOK040-002.xsd"/>
<xsd:include schemaLocation="HOK050-001.xsd"/>
<xsd:include schemaLocation="HOL010-008.xsd"/>
<xsd:include schemaLocation="HOL025-001.xsd"/>
<xsd:include schemaLocation="HOL040-007.xsd"/>
<xsd:include schemaLocation="HOL020-009.xsd"/>
<xsd:include schemaLocation="HOL035-005.xsd"/>
<xsd:include schemaLocation="HOL046-001.xsd"/>
<xsd:include schemaLocation="HOL050-008.xsd"/>
<xsd:include schemaLocation="HOL060-009.xsd"/>
<xsd:include schemaLocation="HOL070-008.xsd"/>
<xsd:include schemaLocation="HOL080-008.xsd"/>
<xsd:include schemaLocation="HOL091-005.xsd"/>
<xsd:include schemaLocation="HOL100-008.xsd"/>
<xsd:include schemaLocation="HOL110-007.xsd"/>
<xsd:include schemaLocation="HOL130-008.xsd"/>
<xsd:include schemaLocation="HOL165-003.xsd"/>
<xsd:include schemaLocation="HOL168-001.xsd"/>
<xsd:include schemaLocation="HOL170-009.xsd"/>
<xsd:include schemaLocation="HOL190-009.xsd"/>
<xsd:include schemaLocation="HOL200-008.xsd"/>
<xsd:include schemaLocation="HOL201-004.xsd"/>
<xsd:include schemaLocation="HOL210-008.xsd"/>
<xsd:include schemaLocation="HOL230-008.xsd"/>
<xsd:include schemaLocation="HOL240-008.xsd"/>
<xsd:include schemaLocation="HOL250-007.xsd"/>
<xsd:include schemaLocation="HOL260-009.xsd"/>
<xsd:include schemaLocation="HOL259-003.xsd"/>
<xsd:include schemaLocation="HOL261-004.xsd"/>
<xsd:include schemaLocation="HOL263-001.xsd"/>
<xsd:include schemaLocation="HOL265-008.xsd"/>
<xsd:include schemaLocation="HOL270-009.xsd"/>
<xsd:include schemaLocation="HOL280-009.xsd"/>
<xsd:include schemaLocation="HOL286-001.xsd"/>
<xsd:include schemaLocation="HOL290-008.xsd"/>
<xsd:include schemaLocation="HOL300-009.xsd"/>
<xsd:include schemaLocation="HOL330-008.xsd"/>
<xsd:include schemaLocation="HOL360-001.xsd"/>
<xsd:include schemaLocation="HOL370-001.xsd"/>
<xsd:include schemaLocation="HOL380-001.xsd"/>
<xsd:include schemaLocation="HOL350-001.xsd"/>
<xsd:include schemaLocation="HOL355-001.xsd"/>
<xsd:include schemaLocation="HOL390-001.xsd"/>
<xsd:include schemaLocation="HOL391-001.xsd"/>
<xsd:include schemaLocation="HOL392-001.xsd"/>
<xsd:include schemaLocation="HOR920-003.xsd"/>
<xsd:include schemaLocation="HOR940-002.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOR930-003.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM110-001.xsd"/>
<xsd:include schemaLocation="HOM120-001.xsd"/>
<xsd:include schemaLocation="HOM130-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8020-111-4VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="11.1.0"/><xsd:enumeration value="11.1.1"/><xsd:enumeration value="11.1.2"/><xsd:enumeration value="11.1.3"/><xsd:enumeration value="11.1.4"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8020"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8020" type="RHO8020-111-4type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8020-111-4type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8020-111-4contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8020-111-4VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8020-111-4contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR210-7-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR322-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR323-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR421-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR524-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB221-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB136-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB145-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB181-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB626-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB622-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB097-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB098-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR615-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR692-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR622-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR693-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR664-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR623-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR665-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR694-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR667-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR695-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR624-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR696-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR625-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR666-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR697-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR668-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR698-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR699-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR658-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR653-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR654-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR662-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR686-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR702-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR714-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR713-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR718-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR628-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOR715-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOR629-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR720-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR724-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD195-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD135-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE310-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE315-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE320-6-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE325-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE330-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE545-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE546-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE547-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE561-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE562-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-4-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL025-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL168-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL201-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL263-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL350-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL355-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL390-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM110-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
