etax/19XMLスキーマ/hojin/RHO8020-091.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-子法人分(連結親法人が普通法人である連結法人の分)」
version:9.1.0 Date: 2010年03月12日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL070.xsd"/>
<xsd:include schemaLocation="HOR210-005.xsd"/>
<xsd:include schemaLocation="HOD060-005.xsd"/>
<xsd:include schemaLocation="HOR321-005.xsd"/>
<xsd:include schemaLocation="HOB220-006.xsd"/>
<xsd:include schemaLocation="HOB135-002.xsd"/>
<xsd:include schemaLocation="HOB180-006.xsd"/>
<xsd:include schemaLocation="HOB621-003.xsd"/>
<xsd:include schemaLocation="HOB093-002.xsd"/>
<xsd:include schemaLocation="HOB096-002.xsd"/>
<xsd:include schemaLocation="HOR636-002.xsd"/>
<xsd:include schemaLocation="HOR637-002.xsd"/>
<xsd:include schemaLocation="HOR638-002.xsd"/>
<xsd:include schemaLocation="HOR647-002.xsd"/>
<xsd:include schemaLocation="HOR648-002.xsd"/>
<xsd:include schemaLocation="HOR649-002.xsd"/>
<xsd:include schemaLocation="HOR655-002.xsd"/>
<xsd:include schemaLocation="HOR656-002.xsd"/>
<xsd:include schemaLocation="HOR660-004.xsd"/>
<xsd:include schemaLocation="HOR670-004.xsd"/>
<xsd:include schemaLocation="HOR685-002.xsd"/>
<xsd:include schemaLocation="HOR690-004.xsd"/>
<xsd:include schemaLocation="HOR700-004.xsd"/>
<xsd:include schemaLocation="HOR712-003.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOR320-005.xsd"/>
<xsd:include schemaLocation="HOR322-001.xsd"/>
<xsd:include schemaLocation="HOR421-005.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR512-003.xsd"/>
<xsd:include schemaLocation="HOA521-002.xsd"/>
<xsd:include schemaLocation="HOR516-003.xsd"/>
<xsd:include schemaLocation="HOR524-001.xsd"/>
<xsd:include schemaLocation="HOB022-004.xsd"/>
<xsd:include schemaLocation="HOB030-003.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-003.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-004.xsd"/>
<xsd:include schemaLocation="HOB050-004.xsd"/>
<xsd:include schemaLocation="HOB052-004.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB221-001.xsd"/>
<xsd:include schemaLocation="HOB230-006.xsd"/>
<xsd:include schemaLocation="HOB136-001.xsd"/>
<xsd:include schemaLocation="HOB145-002.xsd"/>
<xsd:include schemaLocation="HOB181-001.xsd"/>
<xsd:include schemaLocation="HOB190-006.xsd"/>
<xsd:include schemaLocation="HOB626-001.xsd"/>
<xsd:include schemaLocation="HOB622-003.xsd"/>
<xsd:include schemaLocation="HOB097-001.xsd"/>
<xsd:include schemaLocation="HOB098-001.xsd"/>
<xsd:include schemaLocation="HOR610-005.xsd"/>
<xsd:include schemaLocation="HOR620-005.xsd"/>
<xsd:include schemaLocation="HOR621-001.xsd"/>
<xsd:include schemaLocation="HOR692-001.xsd"/>
<xsd:include schemaLocation="HOR693-001.xsd"/>
<xsd:include schemaLocation="HOR664-001.xsd"/>
<xsd:include schemaLocation="HOR665-001.xsd"/>
<xsd:include schemaLocation="HOR694-001.xsd"/>
<xsd:include schemaLocation="HOR695-001.xsd"/>
<xsd:include schemaLocation="HOR696-001.xsd"/>
<xsd:include schemaLocation="HOR666-001.xsd"/>
<xsd:include schemaLocation="HOR697-001.xsd"/>
<xsd:include schemaLocation="HOR698-001.xsd"/>
<xsd:include schemaLocation="HOR699-001.xsd"/>
<xsd:include schemaLocation="HOR657-002.xsd"/>
<xsd:include schemaLocation="HOR658-001.xsd"/>
<xsd:include schemaLocation="HOR661-003.xsd"/>
<xsd:include schemaLocation="HOR659-001.xsd"/>
<xsd:include schemaLocation="HOR671-005.xsd"/>
<xsd:include schemaLocation="HOR662-001.xsd"/>
<xsd:include schemaLocation="HOR686-002.xsd"/>
<xsd:include schemaLocation="HOR663-001.xsd"/>
<xsd:include schemaLocation="HOR691-003.xsd"/>
<xsd:include schemaLocation="HOR702-001.xsd"/>
<xsd:include schemaLocation="HOR701-004.xsd"/>
<xsd:include schemaLocation="HOR714-001.xsd"/>
<xsd:include schemaLocation="HOR713-003.xsd"/>
<xsd:include schemaLocation="HOR715-001.xsd"/>
<xsd:include schemaLocation="HOR720-003.xsd"/>
<xsd:include schemaLocation="HOR721-002.xsd"/>
<xsd:include schemaLocation="HOR722-003.xsd"/>
<xsd:include schemaLocation="HOR723-003.xsd"/>
<xsd:include schemaLocation="HOB810-001.xsd"/>
<xsd:include schemaLocation="HOR800-004.xsd"/>
<xsd:include schemaLocation="HOB900-004.xsd"/>
<xsd:include schemaLocation="HOB910-002.xsd"/>
<xsd:include schemaLocation="HOB920-004.xsd"/>
<xsd:include schemaLocation="HOB930-003.xsd"/>
<xsd:include schemaLocation="HOC010-003.xsd"/>
<xsd:include schemaLocation="HOC020-004.xsd"/>
<xsd:include schemaLocation="HOC022-001.xsd"/>
<xsd:include schemaLocation="HOC024-001.xsd"/>
<xsd:include schemaLocation="HOC026-001.xsd"/>
<xsd:include schemaLocation="HOC060-005.xsd"/>
<xsd:include schemaLocation="HOR810-002.xsd"/>
<xsd:include schemaLocation="HOC110-004.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOD010-004.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD065-001.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD110-004.xsd"/>
<xsd:include schemaLocation="HOD120-005.xsd"/>
<xsd:include schemaLocation="HOD160-005.xsd"/>
<xsd:include schemaLocation="HOD170-005.xsd"/>
<xsd:include schemaLocation="HOD180-005.xsd"/>
<xsd:include schemaLocation="HOD190-005.xsd"/>
<xsd:include schemaLocation="HOD195-002.xsd"/>
<xsd:include schemaLocation="HOD201-002.xsd"/>
<xsd:include schemaLocation="HOD130-006.xsd"/>
<xsd:include schemaLocation="HOD250-004.xsd"/>
<xsd:include schemaLocation="HOD260-001.xsd"/>
<xsd:include schemaLocation="HOD410-004.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-004.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-004.xsd"/>
<xsd:include schemaLocation="HOD485-003.xsd"/>
<xsd:include schemaLocation="HOD491-002.xsd"/>
<xsd:include schemaLocation="HOD495-001.xsd"/>
<xsd:include schemaLocation="HOD500-005.xsd"/>
<xsd:include schemaLocation="HOD510-005.xsd"/>
<xsd:include schemaLocation="HOE090-002.xsd"/>
<xsd:include schemaLocation="HOE091-002.xsd"/>
<xsd:include schemaLocation="HOE104-003.xsd"/>
<xsd:include schemaLocation="HOE102-004.xsd"/>
<xsd:include schemaLocation="HOE103-004.xsd"/>
<xsd:include schemaLocation="HOE105-001.xsd"/>
<xsd:include schemaLocation="HOE106-002.xsd"/>
<xsd:include schemaLocation="HOR820-005.xsd"/>
<xsd:include schemaLocation="HOR830-004.xsd"/>
<xsd:include schemaLocation="HOE310-006.xsd"/>
<xsd:include schemaLocation="HOE320-006.xsd"/>
<xsd:include schemaLocation="HOE330-005.xsd"/>
<xsd:include schemaLocation="HOE341-001.xsd"/>
<xsd:include schemaLocation="HOE340-005.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-005.xsd"/>
<xsd:include schemaLocation="HOE380-006.xsd"/>
<xsd:include schemaLocation="HOE390-002.xsd"/>
<xsd:include schemaLocation="HOE400-005.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-003.xsd"/>
<xsd:include schemaLocation="HOE620-003.xsd"/>
<xsd:include schemaLocation="HOE630-003.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE540-001.xsd"/>
<xsd:include schemaLocation="HOE550-001.xsd"/>
<xsd:include schemaLocation="HOE560-001.xsd"/>
<xsd:include schemaLocation="HOE570-001.xsd"/>
<xsd:include schemaLocation="HOE580-001.xsd"/>
<xsd:include schemaLocation="HOE531-003.xsd"/>
<xsd:include schemaLocation="HOE600-006.xsd"/>
<xsd:include schemaLocation="HOI010-002.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-002.xsd"/>
<xsd:include schemaLocation="HOI141-002.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-004.xsd"/>
<xsd:include schemaLocation="HOK020-001.xsd"/>
<xsd:include schemaLocation="HOK030-001.xsd"/>
<xsd:include schemaLocation="HOK040-002.xsd"/>
<xsd:include schemaLocation="HOK050-001.xsd"/>
<xsd:include schemaLocation="HOL010-006.xsd"/>
<xsd:include schemaLocation="HOL040-005.xsd"/>
<xsd:include schemaLocation="HOL020-007.xsd"/>
<xsd:include schemaLocation="HOL035-004.xsd"/>
<xsd:include schemaLocation="HOL340-004.xsd"/>
<xsd:include schemaLocation="HOL050-006.xsd"/>
<xsd:include schemaLocation="HOL060-007.xsd"/>
<xsd:include schemaLocation="HOL070-007.xsd"/>
<xsd:include schemaLocation="HOL080-006.xsd"/>
<xsd:include schemaLocation="HOL091-003.xsd"/>
<xsd:include schemaLocation="HOL100-007.xsd"/>
<xsd:include schemaLocation="HOL110-006.xsd"/>
<xsd:include schemaLocation="HOL120-007.xsd"/>
<xsd:include schemaLocation="HOL130-006.xsd"/>
<xsd:include schemaLocation="HOL150-007.xsd"/>
<xsd:include schemaLocation="HOL165-001.xsd"/>
<xsd:include schemaLocation="HOL170-007.xsd"/>
<xsd:include schemaLocation="HOL190-007.xsd"/>
<xsd:include schemaLocation="HOL200-007.xsd"/>
<xsd:include schemaLocation="HOL201-003.xsd"/>
<xsd:include schemaLocation="HOL210-007.xsd"/>
<xsd:include schemaLocation="HOL230-007.xsd"/>
<xsd:include schemaLocation="HOL240-006.xsd"/>
<xsd:include schemaLocation="HOL250-006.xsd"/>
<xsd:include schemaLocation="HOL260-007.xsd"/>
<xsd:include schemaLocation="HOL259-002.xsd"/>
<xsd:include schemaLocation="HOL261-003.xsd"/>
<xsd:include schemaLocation="HOL265-007.xsd"/>
<xsd:include schemaLocation="HOL270-007.xsd"/>
<xsd:include schemaLocation="HOL280-007.xsd"/>
<xsd:include schemaLocation="HOL290-007.xsd"/>
<xsd:include schemaLocation="HOL300-007.xsd"/>
<xsd:include schemaLocation="HOL330-006.xsd"/>
<xsd:include schemaLocation="HOM005-001.xsd"/>
<xsd:include schemaLocation="HOR920-002.xsd"/>
<xsd:include schemaLocation="HOR940-001.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOR930-003.xsd"/>
<xsd:include schemaLocation="HOM060-004.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8020-91-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.1.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8020"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8020" type="RHO8020-91-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8020-91-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8020-91-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8020-91-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8020-91-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR210-5-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOD060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR321-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-6-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB135-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-6-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB621-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB093-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB096-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR636-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR637-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR638-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR647-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR648-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR649-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR655-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR656-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR660-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR670-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR685-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR690-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR700-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR712-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR322-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA521-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR524-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB221-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB136-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB145-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB181-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB626-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB622-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB097-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB098-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR610-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR692-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR693-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR664-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR665-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR694-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR695-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR696-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR666-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR697-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR698-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR699-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR658-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR662-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR686-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR702-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR714-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR713-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR715-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR722-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD195-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE091-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE106-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE540-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE550-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE560-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-4-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL340-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL165-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL201-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL259-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-6-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM005-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-4-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
