etax/19XMLスキーマ/hojin/RHO8012-210.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-親法人分」
version:21.0.3 Date: 2021年12月14日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="../general/XBRL190.xsd"/>
<xsd:include schemaLocation="HOR212-003.xsd"/>
<xsd:include schemaLocation="HOR206-007.xsd"/>
<xsd:include schemaLocation="HOA320-005.xsd"/>
<xsd:include schemaLocation="HOA322-005.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-004.xsd"/>
<xsd:include schemaLocation="HOA330-005.xsd"/>
<xsd:include schemaLocation="HOA350-004.xsd"/>
<xsd:include schemaLocation="HOA360-004.xsd"/>
<xsd:include schemaLocation="HOA370-004.xsd"/>
<xsd:include schemaLocation="HOA380-004.xsd"/>
<xsd:include schemaLocation="HOR327-005.xsd"/>
<xsd:include schemaLocation="HOR326-004.xsd"/>
<xsd:include schemaLocation="HOR330-003.xsd"/>
<xsd:include schemaLocation="HOR329-004.xsd"/>
<xsd:include schemaLocation="HOR421-018.xsd"/>
<xsd:include schemaLocation="HOR426-018.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR512-007.xsd"/>
<xsd:include schemaLocation="HOR513-007.xsd"/>
<xsd:include schemaLocation="HOA531-002.xsd"/>
<xsd:include schemaLocation="HOR516-007.xsd"/>
<xsd:include schemaLocation="HOB024-002.xsd"/>
<xsd:include schemaLocation="HOB025-003.xsd"/>
<xsd:include schemaLocation="HOB026-002.xsd"/>
<xsd:include schemaLocation="HOB027-003.xsd"/>
<xsd:include schemaLocation="HOB022-009.xsd"/>
<xsd:include schemaLocation="HOB035-003.xsd"/>
<xsd:include schemaLocation="HOB031-007.xsd"/>
<xsd:include schemaLocation="HOB032-006.xsd"/>
<xsd:include schemaLocation="HOB033-005.xsd"/>
<xsd:include schemaLocation="HOB040-006.xsd"/>
<xsd:include schemaLocation="HOB043-003.xsd"/>
<xsd:include schemaLocation="HOB042-013.xsd"/>
<xsd:include schemaLocation="HOB660-009.xsd"/>
<xsd:include schemaLocation="HOB670-010.xsd"/>
<xsd:include schemaLocation="HOR616-006.xsd"/>
<xsd:include schemaLocation="HOR620-018.xsd"/>
<xsd:include schemaLocation="HOR621-009.xsd"/>
<xsd:include schemaLocation="HOR611-002.xsd"/>
<xsd:include schemaLocation="HOR677-008.xsd"/>
<xsd:include schemaLocation="HOR678-008.xsd"/>
<xsd:include schemaLocation="HOR729-004.xsd"/>
<xsd:include schemaLocation="HOR622-011.xsd"/>
<xsd:include schemaLocation="HOR617-007.xsd"/>
<xsd:include schemaLocation="HOR669-005.xsd"/>
<xsd:include schemaLocation="HOR679-005.xsd"/>
<xsd:include schemaLocation="HOR657-008.xsd"/>
<xsd:include schemaLocation="HOR684-001.xsd"/>
<xsd:include schemaLocation="HOR740-006.xsd"/>
<xsd:include schemaLocation="HOR742-006.xsd"/>
<xsd:include schemaLocation="HOR687-004.xsd"/>
<xsd:include schemaLocation="HOR688-004.xsd"/>
<xsd:include schemaLocation="HOR659-013.xsd"/>
<xsd:include schemaLocation="HOR671-014.xsd"/>
<xsd:include schemaLocation="HOR663-013.xsd"/>
<xsd:include schemaLocation="HOR691-012.xsd"/>
<xsd:include schemaLocation="HOR672-008.xsd"/>
<xsd:include schemaLocation="HOR673-007.xsd"/>
<xsd:include schemaLocation="HOR716-011.xsd"/>
<xsd:include schemaLocation="HOR717-009.xsd"/>
<xsd:include schemaLocation="HOR785-005.xsd"/>
<xsd:include schemaLocation="HOR786-006.xsd"/>
<xsd:include schemaLocation="HOR780-007.xsd"/>
<xsd:include schemaLocation="HOR782-006.xsd"/>
<xsd:include schemaLocation="HOR730-005.xsd"/>
<xsd:include schemaLocation="HOR792-007.xsd"/>
<xsd:include schemaLocation="HOR794-006.xsd"/>
<xsd:include schemaLocation="HOR734-004.xsd"/>
<xsd:include schemaLocation="HOR783-007.xsd"/>
<xsd:include schemaLocation="HOR784-006.xsd"/>
<xsd:include schemaLocation="HOR705-009.xsd"/>
<xsd:include schemaLocation="HOR706-007.xsd"/>
<xsd:include schemaLocation="HOR682-005.xsd"/>
<xsd:include schemaLocation="HOR683-004.xsd"/>
<xsd:include schemaLocation="HOR707-009.xsd"/>
<xsd:include schemaLocation="HOR719-005.xsd"/>
<xsd:include schemaLocation="HOR727-004.xsd"/>
<xsd:include schemaLocation="HOR728-003.xsd"/>
<xsd:include schemaLocation="HOR735-002.xsd"/>
<xsd:include schemaLocation="HOR745-001.xsd"/>
<xsd:include schemaLocation="HOR746-001.xsd"/>
<xsd:include schemaLocation="HOR747-001.xsd"/>
<xsd:include schemaLocation="HOR748-001.xsd"/>
<xsd:include schemaLocation="HOR749-001.xsd"/>
<xsd:include schemaLocation="HOR736-002.xsd"/>
<xsd:include schemaLocation="HOR737-002.xsd"/>
<xsd:include schemaLocation="HOR675-008.xsd"/>
<xsd:include schemaLocation="HOR676-008.xsd"/>
<xsd:include schemaLocation="HOR738-001.xsd"/>
<xsd:include schemaLocation="HOR739-001.xsd"/>
<xsd:include schemaLocation="HOR626-011.xsd"/>
<xsd:include schemaLocation="HOR627-012.xsd"/>
<xsd:include schemaLocation="HOR614-001.xsd"/>
<xsd:include schemaLocation="HOR720-012.xsd"/>
<xsd:include schemaLocation="HOR731-010.xsd"/>
<xsd:include schemaLocation="HOR721-007.xsd"/>
<xsd:include schemaLocation="HOR733-004.xsd"/>
<xsd:include schemaLocation="HOR723-010.xsd"/>
<xsd:include schemaLocation="HOR725-008.xsd"/>
<xsd:include schemaLocation="HOR741-001.xsd"/>
<xsd:include schemaLocation="HOB810-006.xsd"/>
<xsd:include schemaLocation="HOB820-002.xsd"/>
<xsd:include schemaLocation="HOR800-012.xsd"/>
<xsd:include schemaLocation="HOR802-003.xsd"/>
<xsd:include schemaLocation="HOB900-013.xsd"/>
<xsd:include schemaLocation="HOB930-006.xsd"/>
<xsd:include schemaLocation="HOC012-004.xsd"/>
<xsd:include schemaLocation="HOC020-013.xsd"/>
<xsd:include schemaLocation="HOC022-005.xsd"/>
<xsd:include schemaLocation="HOC024-004.xsd"/>
<xsd:include schemaLocation="HOC026-003.xsd"/>
<xsd:include schemaLocation="HOC060-014.xsd"/>
<xsd:include schemaLocation="HOC061-001.xsd"/>
<xsd:include schemaLocation="HOR805-003.xsd"/>
<xsd:include schemaLocation="HOR810-005.xsd"/>
<xsd:include schemaLocation="HOR815-002.xsd"/>
<xsd:include schemaLocation="HOR817-001.xsd"/>
<xsd:include schemaLocation="HOC110-009.xsd"/>
<xsd:include schemaLocation="HOC112-015.xsd"/>
<xsd:include schemaLocation="HOC120-004.xsd"/>
<xsd:include schemaLocation="HOD010-012.xsd"/>
<xsd:include schemaLocation="HOD015-001.xsd"/>
<xsd:include schemaLocation="HOD025-003.xsd"/>
<xsd:include schemaLocation="HOD040-009.xsd"/>
<xsd:include schemaLocation="HOD065-006.xsd"/>
<xsd:include schemaLocation="HOD070-008.xsd"/>
<xsd:include schemaLocation="HOD090-008.xsd"/>
<xsd:include schemaLocation="HOD165-005.xsd"/>
<xsd:include schemaLocation="HOD175-004.xsd"/>
<xsd:include schemaLocation="HOD180-010.xsd"/>
<xsd:include schemaLocation="HOD185-008.xsd"/>
<xsd:include schemaLocation="HOD188-007.xsd"/>
<xsd:include schemaLocation="HOD190-014.xsd"/>
<xsd:include schemaLocation="HOD201-012.xsd"/>
<xsd:include schemaLocation="HOD205-010.xsd"/>
<xsd:include schemaLocation="HOD215-004.xsd"/>
<xsd:include schemaLocation="HOD035-003.xsd"/>
<xsd:include schemaLocation="HOD225-003.xsd"/>
<xsd:include schemaLocation="HOD236-003.xsd"/>
<xsd:include schemaLocation="HOD410-007.xsd"/>
<xsd:include schemaLocation="HOD420-005.xsd"/>
<xsd:include schemaLocation="HOD430-004.xsd"/>
<xsd:include schemaLocation="HOD440-006.xsd"/>
<xsd:include schemaLocation="HOD451-005.xsd"/>
<xsd:include schemaLocation="HOD460-004.xsd"/>
<xsd:include schemaLocation="HOD491-006.xsd"/>
<xsd:include schemaLocation="HOD495-007.xsd"/>
<xsd:include schemaLocation="HOD500-009.xsd"/>
<xsd:include schemaLocation="HOD510-010.xsd"/>
<xsd:include schemaLocation="HOE104-006.xsd"/>
<xsd:include schemaLocation="HOE109-003.xsd"/>
<xsd:include schemaLocation="HOB911-003.xsd"/>
<xsd:include schemaLocation="HOB920-008.xsd"/>
<xsd:include schemaLocation="HOE110-005.xsd"/>
<xsd:include schemaLocation="HOE111-004.xsd"/>
<xsd:include schemaLocation="HOE112-002.xsd"/>
<xsd:include schemaLocation="HOE113-003.xsd"/>
<xsd:include schemaLocation="HOE105-005.xsd"/>
<xsd:include schemaLocation="HOE108-004.xsd"/>
<xsd:include schemaLocation="HOR820-011.xsd"/>
<xsd:include schemaLocation="HOR830-012.xsd"/>
<xsd:include schemaLocation="HOE315-004.xsd"/>
<xsd:include schemaLocation="HOE325-004.xsd"/>
<xsd:include schemaLocation="HOE330-009.xsd"/>
<xsd:include schemaLocation="HOE341-004.xsd"/>
<xsd:include schemaLocation="HOE340-009.xsd"/>
<xsd:include schemaLocation="HOE350-005.xsd"/>
<xsd:include schemaLocation="HOE352-001.xsd"/>
<xsd:include schemaLocation="HOE360-006.xsd"/>
<xsd:include schemaLocation="HOE370-009.xsd"/>
<xsd:include schemaLocation="HOE371-001.xsd"/>
<xsd:include schemaLocation="HOE381-002.xsd"/>
<xsd:include schemaLocation="HOE390-005.xsd"/>
<xsd:include schemaLocation="HOE400-009.xsd"/>
<xsd:include schemaLocation="HOE410-003.xsd"/>
<xsd:include schemaLocation="HOE450-002.xsd"/>
<xsd:include schemaLocation="HOE532-003.xsd"/>
<xsd:include schemaLocation="HOE533-002.xsd"/>
<xsd:include schemaLocation="HOE534-003.xsd"/>
<xsd:include schemaLocation="HOE535-002.xsd"/>
<xsd:include schemaLocation="HOE536-004.xsd"/>
<xsd:include schemaLocation="HOE537-004.xsd"/>
<xsd:include schemaLocation="HOE538-003.xsd"/>
<xsd:include schemaLocation="HOE539-003.xsd"/>
<xsd:include schemaLocation="HOE541-002.xsd"/>
<xsd:include schemaLocation="HOE548-003.xsd"/>
<xsd:include schemaLocation="HOE543-002.xsd"/>
<xsd:include schemaLocation="HOE563-006.xsd"/>
<xsd:include schemaLocation="HOE570-005.xsd"/>
<xsd:include schemaLocation="HOE580-005.xsd"/>
<xsd:include schemaLocation="HOE585-004.xsd"/>
<xsd:include schemaLocation="HOE544-002.xsd"/>
<xsd:include schemaLocation="HOE605-002.xsd"/>
<xsd:include schemaLocation="HOR755-001.xsd"/>
<xsd:include schemaLocation="HOR778-002.xsd"/>
<xsd:include schemaLocation="HOR764-005.xsd"/>
<xsd:include schemaLocation="HOR766-005.xsd"/>
<xsd:include schemaLocation="HOR770-004.xsd"/>
<xsd:include schemaLocation="HOR772-005.xsd"/>
<xsd:include schemaLocation="HOR774-004.xsd"/>
<xsd:include schemaLocation="HOI010-004.xsd"/>
<xsd:include schemaLocation="HOI020-003.xsd"/>
<xsd:include schemaLocation="HOI030-003.xsd"/>
<xsd:include schemaLocation="HOI040-003.xsd"/>
<xsd:include schemaLocation="HOI050-004.xsd"/>
<xsd:include schemaLocation="HOI060-004.xsd"/>
<xsd:include schemaLocation="HOI070-004.xsd"/>
<xsd:include schemaLocation="HOI080-003.xsd"/>
<xsd:include schemaLocation="HOI090-004.xsd"/>
<xsd:include schemaLocation="HOI100-005.xsd"/>
<xsd:include schemaLocation="HOI110-003.xsd"/>
<xsd:include schemaLocation="HOI120-004.xsd"/>
<xsd:include schemaLocation="HOI130-005.xsd"/>
<xsd:include schemaLocation="HOI141-005.xsd"/>
<xsd:include schemaLocation="HOI150-003.xsd"/>
<xsd:include schemaLocation="HOI160-003.xsd"/>
<xsd:include schemaLocation="HOK010-006.xsd"/>
<xsd:include schemaLocation="HOK020-006.xsd"/>
<xsd:include schemaLocation="HOK030-006.xsd"/>
<xsd:include schemaLocation="HOK040-005.xsd"/>
<xsd:include schemaLocation="HOK050-006.xsd"/>
<xsd:include schemaLocation="HOK060-004.xsd"/>
<xsd:include schemaLocation="HOK070-003.xsd"/>
<xsd:include schemaLocation="HOL266-004.xsd"/>
<xsd:include schemaLocation="HOL040-018.xsd"/>
<xsd:include schemaLocation="HOL042-006.xsd"/>
<xsd:include schemaLocation="HOL046-007.xsd"/>
<xsd:include schemaLocation="HOL051-005.xsd"/>
<xsd:include schemaLocation="HOL048-007.xsd"/>
<xsd:include schemaLocation="HOL049-010.xsd"/>
<xsd:include schemaLocation="HOL055-003.xsd"/>
<xsd:include schemaLocation="HOL056-001.xsd"/>
<xsd:include schemaLocation="HOL057-002.xsd"/>
<xsd:include schemaLocation="HOL058-001.xsd"/>
<xsd:include schemaLocation="HOL052-007.xsd"/>
<xsd:include schemaLocation="HOL059-001.xsd"/>
<xsd:include schemaLocation="HOL050-018.xsd"/>
<xsd:include schemaLocation="HOL054-008.xsd"/>
<xsd:include schemaLocation="HOL092-005.xsd"/>
<xsd:include schemaLocation="HOL060-017.xsd"/>
<xsd:include schemaLocation="HOL065-003.xsd"/>
<xsd:include schemaLocation="HOL130-017.xsd"/>
<xsd:include schemaLocation="HOL170-018.xsd"/>
<xsd:include schemaLocation="HOL175-008.xsd"/>
<xsd:include schemaLocation="HOL190-018.xsd"/>
<xsd:include schemaLocation="HOL240-017.xsd"/>
<xsd:include schemaLocation="HOL286-008.xsd"/>
<xsd:include schemaLocation="HOL262-004.xsd"/>
<xsd:include schemaLocation="HOL261-010.xsd"/>
<xsd:include schemaLocation="HOL290-018.xsd"/>
<xsd:include schemaLocation="HOL300-016.xsd"/>
<xsd:include schemaLocation="HOL330-016.xsd"/>
<xsd:include schemaLocation="HOL360-008.xsd"/>
<xsd:include schemaLocation="HOL363-007.xsd"/>
<xsd:include schemaLocation="HOL365-008.xsd"/>
<xsd:include schemaLocation="HOL370-007.xsd"/>
<xsd:include schemaLocation="HOL380-008.xsd"/>
<xsd:include schemaLocation="HOL385-001.xsd"/>
<xsd:include schemaLocation="HOL355-009.xsd"/>
<xsd:include schemaLocation="HOL390-008.xsd"/>
<xsd:include schemaLocation="HOL391-002.xsd"/>
<xsd:include schemaLocation="HOL392-002.xsd"/>
<xsd:include schemaLocation="HOR940-005.xsd"/>
<xsd:include schemaLocation="HOR910-003.xsd"/>
<xsd:include schemaLocation="HOR920-005.xsd"/>
<xsd:include schemaLocation="HOM060-005.xsd"/>
<xsd:include schemaLocation="HOM095-003.xsd"/>
<xsd:include schemaLocation="HOM090-001.xsd"/>
<xsd:include schemaLocation="HOM120-002.xsd"/>
<xsd:include schemaLocation="HOM130-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RHO8012a-210.xsd"/>
<xsd:include schemaLocation="HOV999-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8012-210-3VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="21.0.0"/><xsd:enumeration value="21.0.1"/><xsd:enumeration value="21.0.2"/><xsd:enumeration value="21.0.3"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8012"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8012" type="RHO8012-210-3type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8012-210-3type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8012-210-3contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8012-210-3VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8012-210-3contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR212-3-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOR206-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOA320-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR327-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR326-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR330-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR329-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-18-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR426-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="HOR513-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA531-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB024-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB026-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB027-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB035-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB043-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB660-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB670-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR616-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR611-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR677-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR678-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR729-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR622-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR617-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR669-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR679-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR657-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR684-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR740-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR742-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR687-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR688-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR659-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR663-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR672-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR673-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR716-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR717-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR785-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR786-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR780-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR782-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR730-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR792-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR794-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR734-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR783-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR784-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR705-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR706-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR682-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR683-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR707-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR719-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR727-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR728-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR735-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR745-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR746-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR747-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR748-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR749-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR736-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR737-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR675-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR676-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR738-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR739-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR626-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR627-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR614-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR731-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR733-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR725-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR741-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB810-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB820-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR802-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC012-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC022-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC024-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC026-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOC060-14-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOC061-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOR805-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR815-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR817-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-15-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD015-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD025-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD065-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD165-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD175-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD185-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD188-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD205-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD215-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD035-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD225-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD236-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD451-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD495-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE109-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB911-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE111-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE112-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE113-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE105-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE108-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-12-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE315-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE325-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE350-5-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE352-1-1group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOE370-9-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOE371-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOE381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE450-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE532-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE533-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE534-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE535-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE536-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE537-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE538-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE539-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE541-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE548-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE543-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE563-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE570-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE580-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE585-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE544-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE605-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR755-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR778-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR764-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR766-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR770-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR772-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR774-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-6-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL266-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL042-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL046-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL051-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL048-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL049-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL055-3-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL056-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOL057-2-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOL058-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL052-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL059-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL054-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL092-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL065-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL175-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-17-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL286-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL262-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-16-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL360-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL363-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL365-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL370-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL380-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL385-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL355-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL390-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL391-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL392-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM095-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM130-2-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="kyo:TEI010" minOccurs="0" maxOccurs="1"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:choice minOccurs="0">
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="XBRL2_1" type="XBRL2_1type" minOccurs="0"/>
</xsd:choice>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>

<!-- CSV -->
<xsd:element name="CSV" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="HOV999" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
