etax/19XMLスキーマ/hojin/RHO8060-070.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns="http://xml.e-tax.nta.go.jp/XSD/hojin"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
連結確定申告添付書類「個別帰属額等の届出-子法人分(連結親法人が特定の医療法人である連結法人の分)」
version:7.0.2 Date: 2007年12月19日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="../general/XBRL060.xsd"/>
<xsd:include schemaLocation="HOR230-003.xsd"/>
<xsd:include schemaLocation="HOA320-004.xsd"/>
<xsd:include schemaLocation="HOA322-004.xsd"/>
<xsd:include schemaLocation="HOA323-004.xsd"/>
<xsd:include schemaLocation="HOA324-003.xsd"/>
<xsd:include schemaLocation="HOA330-004.xsd"/>
<xsd:include schemaLocation="HOA350-003.xsd"/>
<xsd:include schemaLocation="HOA360-003.xsd"/>
<xsd:include schemaLocation="HOA370-003.xsd"/>
<xsd:include schemaLocation="HOA380-003.xsd"/>
<xsd:include schemaLocation="HOR320-003.xsd"/>
<xsd:include schemaLocation="HOR321-003.xsd"/>
<xsd:include schemaLocation="HOR421-003.xsd"/>
<xsd:include schemaLocation="HOA512-001.xsd"/>
<xsd:include schemaLocation="HOR512-002.xsd"/>
<xsd:include schemaLocation="HOA521-002.xsd"/>
<xsd:include schemaLocation="HOR516-002.xsd"/>
<xsd:include schemaLocation="HOR524-001.xsd"/>
<xsd:include schemaLocation="HOB022-003.xsd"/>
<xsd:include schemaLocation="HOB030-003.xsd"/>
<xsd:include schemaLocation="HOB031-003.xsd"/>
<xsd:include schemaLocation="HOB032-003.xsd"/>
<xsd:include schemaLocation="HOB033-003.xsd"/>
<xsd:include schemaLocation="HOB040-003.xsd"/>
<xsd:include schemaLocation="HOB042-003.xsd"/>
<xsd:include schemaLocation="HOB050-004.xsd"/>
<xsd:include schemaLocation="HOB052-004.xsd"/>
<xsd:include schemaLocation="HOB053-004.xsd"/>
<xsd:include schemaLocation="HOB220-004.xsd"/>
<xsd:include schemaLocation="HOB230-004.xsd"/>
<xsd:include schemaLocation="HOB110-004.xsd"/>
<xsd:include schemaLocation="HOB120-004.xsd"/>
<xsd:include schemaLocation="HOB180-004.xsd"/>
<xsd:include schemaLocation="HOB190-004.xsd"/>
<xsd:include schemaLocation="HOB320-004.xsd"/>
<xsd:include schemaLocation="HOB330-004.xsd"/>
<xsd:include schemaLocation="HOB621-001.xsd"/>
<xsd:include schemaLocation="HOB622-001.xsd"/>
<xsd:include schemaLocation="HOR610-003.xsd"/>
<xsd:include schemaLocation="HOR620-003.xsd"/>
<xsd:include schemaLocation="HOR621-001.xsd"/>
<xsd:include schemaLocation="HOR631-002.xsd"/>
<xsd:include schemaLocation="HOR632-002.xsd"/>
<xsd:include schemaLocation="HOR633-002.xsd"/>
<xsd:include schemaLocation="HOR634-002.xsd"/>
<xsd:include schemaLocation="HOR644-002.xsd"/>
<xsd:include schemaLocation="HOR645-002.xsd"/>
<xsd:include schemaLocation="HOR646-002.xsd"/>
<xsd:include schemaLocation="HOR660-002.xsd"/>
<xsd:include schemaLocation="HOR661-002.xsd"/>
<xsd:include schemaLocation="HOR670-002.xsd"/>
<xsd:include schemaLocation="HOR671-003.xsd"/>
<xsd:include schemaLocation="HOR680-002.xsd"/>
<xsd:include schemaLocation="HOR681-003.xsd"/>
<xsd:include schemaLocation="HOR690-002.xsd"/>
<xsd:include schemaLocation="HOR691-002.xsd"/>
<xsd:include schemaLocation="HOR700-002.xsd"/>
<xsd:include schemaLocation="HOR701-002.xsd"/>
<xsd:include schemaLocation="HOR710-002.xsd"/>
<xsd:include schemaLocation="HOR711-002.xsd"/>
<xsd:include schemaLocation="HOR712-001.xsd"/>
<xsd:include schemaLocation="HOR713-001.xsd"/>
<xsd:include schemaLocation="HOR612-001.xsd"/>
<xsd:include schemaLocation="HOR613-001.xsd"/>
<xsd:include schemaLocation="HOR720-002.xsd"/>
<xsd:include schemaLocation="HOR721-002.xsd"/>
<xsd:include schemaLocation="HOR722-002.xsd"/>
<xsd:include schemaLocation="HOR723-002.xsd"/>
<xsd:include schemaLocation="HOR800-003.xsd"/>
<xsd:include schemaLocation="HOB900-003.xsd"/>
<xsd:include schemaLocation="HOB910-002.xsd"/>
<xsd:include schemaLocation="HOB920-004.xsd"/>
<xsd:include schemaLocation="HOB930-003.xsd"/>
<xsd:include schemaLocation="HOC010-003.xsd"/>
<xsd:include schemaLocation="HOC020-003.xsd"/>
<xsd:include schemaLocation="HOC060-003.xsd"/>
<xsd:include schemaLocation="HOR810-001.xsd"/>
<xsd:include schemaLocation="HOC110-003.xsd"/>
<xsd:include schemaLocation="HOC112-004.xsd"/>
<xsd:include schemaLocation="HOC120-003.xsd"/>
<xsd:include schemaLocation="HOC130-004.xsd"/>
<xsd:include schemaLocation="HOC140-003.xsd"/>
<xsd:include schemaLocation="HOD010-004.xsd"/>
<xsd:include schemaLocation="HOD040-003.xsd"/>
<xsd:include schemaLocation="HOD060-004.xsd"/>
<xsd:include schemaLocation="HOD070-004.xsd"/>
<xsd:include schemaLocation="HOD080-004.xsd"/>
<xsd:include schemaLocation="HOD090-004.xsd"/>
<xsd:include schemaLocation="HOD110-004.xsd"/>
<xsd:include schemaLocation="HOD120-004.xsd"/>
<xsd:include schemaLocation="HOD160-005.xsd"/>
<xsd:include schemaLocation="HOD170-005.xsd"/>
<xsd:include schemaLocation="HOD180-005.xsd"/>
<xsd:include schemaLocation="HOD190-005.xsd"/>
<xsd:include schemaLocation="HOD195-002.xsd"/>
<xsd:include schemaLocation="HOD200-005.xsd"/>
<xsd:include schemaLocation="HOD201-001.xsd"/>
<xsd:include schemaLocation="HOD130-005.xsd"/>
<xsd:include schemaLocation="HOD250-003.xsd"/>
<xsd:include schemaLocation="HOD410-004.xsd"/>
<xsd:include schemaLocation="HOD420-004.xsd"/>
<xsd:include schemaLocation="HOD430-003.xsd"/>
<xsd:include schemaLocation="HOD440-004.xsd"/>
<xsd:include schemaLocation="HOD450-004.xsd"/>
<xsd:include schemaLocation="HOD460-003.xsd"/>
<xsd:include schemaLocation="HOD470-004.xsd"/>
<xsd:include schemaLocation="HOD480-004.xsd"/>
<xsd:include schemaLocation="HOD485-003.xsd"/>
<xsd:include schemaLocation="HOD491-002.xsd"/>
<xsd:include schemaLocation="HOD500-004.xsd"/>
<xsd:include schemaLocation="HOD510-004.xsd"/>
<xsd:include schemaLocation="HOE090-002.xsd"/>
<xsd:include schemaLocation="HOE091-002.xsd"/>
<xsd:include schemaLocation="HOE104-002.xsd"/>
<xsd:include schemaLocation="HOE102-004.xsd"/>
<xsd:include schemaLocation="HOE103-004.xsd"/>
<xsd:include schemaLocation="HOR820-003.xsd"/>
<xsd:include schemaLocation="HOR830-003.xsd"/>
<xsd:include schemaLocation="HOE310-005.xsd"/>
<xsd:include schemaLocation="HOE320-005.xsd"/>
<xsd:include schemaLocation="HOE330-005.xsd"/>
<xsd:include schemaLocation="HOE341-001.xsd"/>
<xsd:include schemaLocation="HOE340-005.xsd"/>
<xsd:include schemaLocation="HOE350-004.xsd"/>
<xsd:include schemaLocation="HOE351-002.xsd"/>
<xsd:include schemaLocation="HOE360-005.xsd"/>
<xsd:include schemaLocation="HOE370-005.xsd"/>
<xsd:include schemaLocation="HOE380-005.xsd"/>
<xsd:include schemaLocation="HOE390-002.xsd"/>
<xsd:include schemaLocation="HOE400-005.xsd"/>
<xsd:include schemaLocation="HOE410-001.xsd"/>
<xsd:include schemaLocation="HOE610-002.xsd"/>
<xsd:include schemaLocation="HOE620-003.xsd"/>
<xsd:include schemaLocation="HOE630-002.xsd"/>
<xsd:include schemaLocation="HOE640-002.xsd"/>
<xsd:include schemaLocation="HOE650-002.xsd"/>
<xsd:include schemaLocation="HOE530-004.xsd"/>
<xsd:include schemaLocation="HOE531-001.xsd"/>
<xsd:include schemaLocation="HOE600-004.xsd"/>
<xsd:include schemaLocation="HOI010-001.xsd"/>
<xsd:include schemaLocation="HOI020-001.xsd"/>
<xsd:include schemaLocation="HOI030-001.xsd"/>
<xsd:include schemaLocation="HOI040-001.xsd"/>
<xsd:include schemaLocation="HOI050-002.xsd"/>
<xsd:include schemaLocation="HOI060-002.xsd"/>
<xsd:include schemaLocation="HOI070-002.xsd"/>
<xsd:include schemaLocation="HOI080-001.xsd"/>
<xsd:include schemaLocation="HOI090-002.xsd"/>
<xsd:include schemaLocation="HOI100-001.xsd"/>
<xsd:include schemaLocation="HOI110-001.xsd"/>
<xsd:include schemaLocation="HOI120-002.xsd"/>
<xsd:include schemaLocation="HOI130-002.xsd"/>
<xsd:include schemaLocation="HOI141-002.xsd"/>
<xsd:include schemaLocation="HOI150-001.xsd"/>
<xsd:include schemaLocation="HOI160-001.xsd"/>
<xsd:include schemaLocation="HOK010-003.xsd"/>
<xsd:include schemaLocation="HOK020-001.xsd"/>
<xsd:include schemaLocation="HOK030-001.xsd"/>
<xsd:include schemaLocation="HOK040-001.xsd"/>
<xsd:include schemaLocation="HOK050-001.xsd"/>
<xsd:include schemaLocation="HOL010-004.xsd"/>
<xsd:include schemaLocation="HOL040-005.xsd"/>
<xsd:include schemaLocation="HOL020-005.xsd"/>
<xsd:include schemaLocation="HOL035-004.xsd"/>
<xsd:include schemaLocation="HOL340-002.xsd"/>
<xsd:include schemaLocation="HOL050-005.xsd"/>
<xsd:include schemaLocation="HOL060-005.xsd"/>
<xsd:include schemaLocation="HOL070-005.xsd"/>
<xsd:include schemaLocation="HOL080-005.xsd"/>
<xsd:include schemaLocation="HOL090-005.xsd"/>
<xsd:include schemaLocation="HOL091-001.xsd"/>
<xsd:include schemaLocation="HOL100-005.xsd"/>
<xsd:include schemaLocation="HOL110-005.xsd"/>
<xsd:include schemaLocation="HOL120-005.xsd"/>
<xsd:include schemaLocation="HOL130-005.xsd"/>
<xsd:include schemaLocation="HOL145-005.xsd"/>
<xsd:include schemaLocation="HOL150-005.xsd"/>
<xsd:include schemaLocation="HOL170-005.xsd"/>
<xsd:include schemaLocation="HOL190-005.xsd"/>
<xsd:include schemaLocation="HOL200-005.xsd"/>
<xsd:include schemaLocation="HOL201-001.xsd"/>
<xsd:include schemaLocation="HOL210-005.xsd"/>
<xsd:include schemaLocation="HOL230-005.xsd"/>
<xsd:include schemaLocation="HOL240-004.xsd"/>
<xsd:include schemaLocation="HOL250-004.xsd"/>
<xsd:include schemaLocation="HOL260-005.xsd"/>
<xsd:include schemaLocation="HOL261-001.xsd"/>
<xsd:include schemaLocation="HOL265-005.xsd"/>
<xsd:include schemaLocation="HOL270-005.xsd"/>
<xsd:include schemaLocation="HOL280-005.xsd"/>
<xsd:include schemaLocation="HOL285-005.xsd"/>
<xsd:include schemaLocation="HOL290-005.xsd"/>
<xsd:include schemaLocation="HOL300-005.xsd"/>
<xsd:include schemaLocation="HOL330-004.xsd"/>
<xsd:include schemaLocation="HOM005-001.xsd"/>
<xsd:include schemaLocation="HOR920-002.xsd"/>
<xsd:include schemaLocation="HOR940-001.xsd"/>
<xsd:include schemaLocation="HOR910-002.xsd"/>
<xsd:include schemaLocation="HOR930-002.xsd"/>
<xsd:include schemaLocation="HOM060-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA050-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RHO8060-70-2VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0.0"/><xsd:enumeration value="7.0.1"/><xsd:enumeration value="7.0.2"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RHO8060"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RHO8060" type="RHO8060-70-2type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RHO8060-70-2type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RHO8060-70-2contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RHO8060-70-2VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RHO8060-70-2contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="HOR230-3-0group" minOccurs="1" maxOccurs="1"/>
<xsd:group ref="HOA320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA322-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA323-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA324-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA350-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA360-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA370-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA380-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR320-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR321-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR421-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA512-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR512-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOA521-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR516-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR524-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB022-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB031-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB032-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB033-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB042-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB052-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB053-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB220-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB230-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB180-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB190-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB320-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB330-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB622-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR610-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR621-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR631-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR632-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR633-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR634-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR644-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR645-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR646-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR660-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR661-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR670-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR671-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR680-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR681-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR690-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR691-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR700-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR701-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR710-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR711-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR712-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR713-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR612-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR613-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR720-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR721-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR722-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR723-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR800-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB900-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB920-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOB930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC060-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR810-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC110-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC112-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC120-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC130-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOC140-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD080-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD090-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD110-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD120-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD160-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD170-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD180-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD190-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD195-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD200-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD201-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD250-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD410-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD420-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD430-3-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD450-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD460-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD470-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD480-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD485-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD491-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD500-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOD510-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE091-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE104-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE102-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE103-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR820-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR830-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE310-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE320-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE330-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE341-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE340-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE350-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE351-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE370-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE380-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE400-5-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE620-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE650-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE530-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE531-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOE600-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI050-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI070-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI141-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI150-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOI160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:choice minOccurs="0">
<xsd:sequence>
<xsd:group ref="HOK010-3-0group" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
<xsd:sequence>
<xsd:group ref="HOK020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOK050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:choice>
<xsd:group ref="HOL010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL020-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL035-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL340-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL050-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL080-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL090-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL091-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL100-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL145-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL150-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL170-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL190-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL200-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL201-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL210-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL230-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL240-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL250-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL260-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL261-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL265-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL270-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL280-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL285-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL290-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL300-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOL330-4-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM005-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR920-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR940-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOR930-2-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="HOM060-3-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- XBRL -->
<xsd:element name="XBRL" type="XBRLtype" minOccurs="0" maxOccurs="unbounded"/>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA050-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
