etax/19XMLスキーマ/shuzei/LIA020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒税納税申告書(差額課税用)
version：1.0
Date：2004年09月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIA020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIA020-1-0group">
<xsd:sequence>
<xsd:element name="LIA020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGA00000" type="EGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGB00000" type="EGB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EGC00000" type="EGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき税額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EGD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積込年月日（用途変更又は譲渡の年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGE00000" type="EGE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕向先の所在地及び名称（譲渡先の住所及び氏名又は名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGF00000" type="EGF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"船舶又は航空機への積込場所の所在地（用途変更又は譲渡の理由）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGG00000" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EGH00000" type="EGH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法上の書面提出の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGI00000" type="EGI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIA020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EGA00000-1-0type">
<xsd:sequence>

<xsd:element name="EGA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00030" type="gen:SEIZOJO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場等の郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00040" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00050" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00060" type="gen:SEIZOJO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場等の電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGA00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGC00000-1-0type">
<xsd:sequence>

<xsd:element name="EGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)端数切捨額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)還付を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の修正申告前の確定額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EGC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)端数切捨額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)還付を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EGC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)差引納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGH00000-1-0type">
<xsd:sequence>

<xsd:element name="EGH00010" type="EGH00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGH00020" type="EGH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EGI00000-1-0type">
<xsd:sequence>

<xsd:element name="EGI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EGI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="EGB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EGE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="290"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EGF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="210"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EGH00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EGH00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
