etax/19XMLスキーマ/shuzei/LIA130-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：軽減税額算出表
version：1.0
Date：2023年11月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIA130-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIA130-1-0group">
<xsd:sequence>
<xsd:element name="LIA130">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQA00000" type="EQA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00000" type="EQB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00000" type="EQC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EQD00000" type="EQD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減割合の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EQE00000" type="EQE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIA130-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EQA00000-1-0type">
<xsd:sequence>

<xsd:element name="EQA00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQB00000-1-0type">
<xsd:sequence>

<xsd:element name="EQB00010" type="EQB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00020" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQC00000-1-0type">
<xsd:sequence>

<xsd:element name="EQC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前月までの当年度酒税累計額　全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当月の当年度酒税累計額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象酒類の移出に係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象酒類の移出に係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"０円～5,000万円以下"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5,000万円超～8,000万円以下"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8,000万円超～１億円以下"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１億円超"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額計算前の当年度酒税累計額　全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れ酒類の控除税額の合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引酒税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告対象製造場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当年度酒税累計額　全製造場の本則税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EQE00000-1-0type">
<xsd:sequence>

<xsd:element name="EQE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象外酒類の移出に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入酒類の再移出等控除税額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災酒類に対する酒税の控除税額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計酒税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EQB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
