etax/19XMLスキーマ/shuzei/LIA240-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：被災酒類に対する酒税の控除(還付)明細書
version：1.0
Date：2004年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIA240-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIA240-1-0group">
<xsd:sequence>
<xsd:element name="LIA240">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EMA00000" type="EMA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMB00000" type="EMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"頁数及び総頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMC00000" type="EMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00000" type="EMD00000-1-0type" minOccurs="0" maxOccurs="18">
<xsd:annotation>
<xsd:appinfo>"明細  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIA240-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EMA00000-1-0type">
<xsd:sequence>

<xsd:element name="EMA00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EMB00000-1-0type">
<xsd:sequence>

<xsd:element name="EMB00010" type="EMB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMB00020" type="EMB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EMC00000-1-0type">
<xsd:sequence>

<xsd:element name="EMC00010" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EMD00000-1-0type">
<xsd:sequence>

<xsd:element name="EMD00010" type="EMD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00020" type="EMD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00030" type="EMD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の種類・品目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00040" type="EMD00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00050" type="EMD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の形態"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00060" type="EMD00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)容器の容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00070" type="EMD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)容器の総個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00080" type="EMD00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)軽減後税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災酒類の損失補償額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EMD00130" type="EMD00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EMB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EMD00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="7"/><xsd:enumeration value="8"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EMD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMD00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EMB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EMB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EMD00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMD00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EMD00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMD00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EMD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EMD00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="EMD00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
