etax/19XMLスキーマ/shuzei/LIA250-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：未納税移出免税明細書
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIA250-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIA250-2-0group">
<xsd:sequence>
<xsd:element name="LIA250">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA00000" type="ENA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00000" type="ENB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"頁数及び総頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00000" type="ENC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00000" type="END00000-2-0type" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ENE00000" type="ENE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="LIA250-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ENA00000-2-0type">
<xsd:sequence>

<xsd:element name="ENA00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ENB00000-2-0type">
<xsd:sequence>

<xsd:element name="ENB00010" type="ENB00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00020" type="ENB00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総頁数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ENC00000-2-0type">
<xsd:sequence>

<xsd:element name="ENC00010" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="END00000-2-0type">
<xsd:sequence>

<xsd:element name="END00010" type="END00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00020" type="END00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00030" type="END00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の品目別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00070" type="END00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品温(移出時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00080" type="END00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分別(移出時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00100" type="END00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)移出数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00120" type="END00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品温(移入時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00130" type="END00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分別(移入時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00150" type="END00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)移入数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00160" type="END00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減アルコール度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00170" type="END00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00180" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00190" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入場所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入場所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="END00220" type="END00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入の目的又は理由その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ENB00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="END00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="END00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00120-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00160-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="END00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="28"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="230"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ENB00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="END00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="END00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
