etax/19XMLスキーマ/shuzei/LIW040-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：未納税引取酒類の移入時の容器別明細書(未納税引取証明申請書の付属書)
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIW040-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIW040-2-0group">
<xsd:sequence>
<xsd:element name="LIW040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BDA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引取者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDB00000" type="BDB00000-2-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIW040-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDB00000-2-0type">
<xsd:sequence>

<xsd:element name="BDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00030" type="BDB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品目別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00040" type="BDB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00050" type="BDB00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入事積"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量測定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00080" type="BDB00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"皆掛"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00090" type="BDB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"風袋"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00100" type="BDB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正味"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00110" type="BDB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量測定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00130" type="BDB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00140" type="BDB00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00150" type="BDB00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00160" type="BDB00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品温"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00170" type="BDB00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"換算数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"成分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00190" type="BDB00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00200" type="BDB00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増減"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00220" type="BDB00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00230" type="BDB00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00240" type="BDB00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BDB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00090-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00140-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00150-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00160-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00220-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00230-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BDB00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
