etax/19XMLスキーマ/shuzei/LIX490-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表1　経営革新計画
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX490-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX490-1-0group">
<xsd:sequence>
<xsd:element name="LIX490">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWA00000" type="BWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00000" type="BWB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営の向上の程度を示す指標"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00000" type="BWC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助的指標"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX490-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BWA00000-1-0type">
<xsd:sequence>

<xsd:element name="BWA00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00011" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00012" type="BWA00012-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00020" type="BWA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実地体制"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00021" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営革新計画の基本類型"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWA00022" type="BWA00022-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新商品の開発又は生産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00024" type="BWA00024-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新役務の開発又は提供"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00026" type="BWA00026-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品の新たな生産又は販売の方式の導入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00028" type="BWA00028-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役務の新たな提供の方式の導入その他の新たな事業活動"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BWA00030" type="BWA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営革新の目標"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00031" type="BWA00031-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営革新計画のテーマ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWA00040" type="BWA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営革新の内容及び既存事業との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWB00000-1-0type">
<xsd:sequence>

<xsd:element name="BWB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現状"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00040" type="BWB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画終了時の目標伸び率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWB00060" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00070" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00080" type="BWB00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BWB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一人あたりの付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現状"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00120" type="BWB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画終了時の目標伸び率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWC00000-1-0type">
<xsd:sequence>

<xsd:element name="BWC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWC00020" type="BWC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00030" type="BWC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00040" type="BWC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現状"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00050" type="BWC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画終了時の目標伸び率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BWC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BWC00070" type="BWC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00080" type="BWC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00090" type="BWC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現状"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00100" type="BWC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画終了時の目標伸び率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BWA00012-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="130"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BWA00022-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BWA00024-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BWA00026-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BWA00028-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BWA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="440"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWA00031-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="640"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWB00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWB00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWC00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BWB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BWB00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWB00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BWB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BWC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BWC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
