etax/19XMLスキーマ/shuzei/LIX500-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表2　実施計画と実績
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX500-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX500-1-0group">
<xsd:sequence>
<xsd:element name="LIX500">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00000" type="ATA00000-1-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"計画の内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX500-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ATA00000-1-0type">
<xsd:sequence>

<xsd:element name="ATA00010" type="ATA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00030" type="ATA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00040" type="ATA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00050" type="ATA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価頻度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00060" type="ATA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ATA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
