etax/19XMLスキーマ/shuzei/LIX530-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表5　組合等が研究開発等事業に係る試験研究費に充てるためその構成員に対して賦課しようとする負担金の賦課の基準
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX530-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX530-1-0group">
<xsd:sequence>
<xsd:element name="LIX530">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AYA00000" type="AYA00000-1-0type" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"負担金の賦課基準の内容 繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX530-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AYA00000-1-0type">
<xsd:sequence>

<xsd:element name="AYA00010" type="AYA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AYA00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AYA00030" type="AYA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AYA00040" type="AYA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担金の合計及びその積算根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AYA00050" type="AYA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成員別の賦課金額及びその積算根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AYA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AYA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="25"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AYA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AYA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
