etax/19XMLスキーマ/shuzei/LIX510-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表3　経営計画及び資金計画
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX510-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX510-1-0group">
<xsd:sequence>
<xsd:element name="LIX510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00000" type="AUA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00000" type="AUB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付加価値額等の算出方式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX510-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AUA00000-1-0type">
<xsd:sequence>

<xsd:element name="AUA00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加中小企業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一人あたりの付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上原価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00660" type="AUA00660-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00670" type="AUA00670-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00680" type="AUA00680-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00690" type="AUA00690-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00700" type="AUA00700-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00710" type="AUA00710-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00720" type="AUA00720-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00730" type="AUA00730-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち新たに雇い入れられる従業員数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00750" type="AUA00750-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00760" type="AUA00760-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00770" type="AUA00770-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00780" type="AUA00780-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00790" type="AUA00790-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備投資額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資金調達額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政府系金融機関借入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"民間金融機関借入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUB00000-1-0type">
<xsd:sequence>

<xsd:element name="AUB00010" type="AUB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数、人件費の算出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00020" type="AUB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の算出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00030" type="AUB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数の調整区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AUA00660-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00670-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00680-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00690-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00700-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00710-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00720-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00730-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00750-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00760-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00770-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00780-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00790-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AUB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUB00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="AUA00660-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00660-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00670-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00670-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00680-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00680-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00690-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00690-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00700-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00700-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00710-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00710-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00720-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00720-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00730-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00730-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00750-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00750-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00760-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00760-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00770-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00770-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00780-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00780-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00790-1-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00790-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
