etax/19XMLスキーマ/shuzei/LIX580-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表2　特定組合等の経営基盤強化事業に参加する者の概要
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX580-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX580-1-0group">
<xsd:sequence>
<xsd:element name="LIX580">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BSA00000" type="BSA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　当該地区における特定業種に属する事業を行う中小企業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00000" type="BSB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　（A）のうち、当該特定組合等の構成員たる中小企業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00000" type="BSC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　（B）のうち、経営基盤強化事業に参加する中小企業者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSD00000" type="BSD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B/A*100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSE00000" type="BSE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C/B*100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="LIX580-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>



<xsd:simpleType name="BSA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSB00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSC00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSD00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSE00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BSA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BSA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSB00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BSB00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BSC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSD00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BSD00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSE00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BSE00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
