etax/19XMLスキーマ/shuzei/LIX510-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表3　経営計画及び資金計画
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX510-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX510-2-0group">
<xsd:sequence>
<xsd:element name="LIX510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00000" type="AUA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00000" type="AUB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付加価値額等の算出方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX510-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AUA00000-2-0type">
<xsd:sequence>

<xsd:element name="AUA00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加中小企業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(_年_月期)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01300" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01310" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01320" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01330" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01340" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01350" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01360" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01370" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上原価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上総利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売費及び一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業外費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経常利益"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人件費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備投資額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA02020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA02030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA02100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00810" type="AUA00810-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00820" type="AUA00820-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00830" type="AUA00830-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00840" type="AUA00840-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00850" type="AUA00850-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00860" type="AUA00860-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00870" type="AUA00870-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00880" type="AUA00880-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一人当たりの付加価値額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"直近期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資金調達額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政府系金融機関借入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"民間金融機関借入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AUB00000-2-0type">
<xsd:sequence>

<xsd:element name="AUB00010" type="AUB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数、人件費の算入区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00020" type="AUB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の算入区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00030" type="AUB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数の調整区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AUA00810-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00820-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00830-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00840-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00850-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00860-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00870-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00880-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AUB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUB00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AUB00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="AUA00810-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00810-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00820-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00820-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00830-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00830-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00840-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00840-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00850-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00850-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00860-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00860-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00870-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00870-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00880-2-0type">
<xsd:simpleContent>
<xsd:extension base="AUA00880-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
