etax/19XMLスキーマ/shuzei/LIX520-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表4　設備投資計画及び運転資金計画
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX520-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX520-2-0group">
<xsd:sequence>
<xsd:element name="LIX520">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00000" type="AWA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWB00000" type="AWB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金計画(経営革新計画に係るもの)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX520-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AWA00000-2-0type">
<xsd:sequence>

<xsd:element name="AWA00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参加中小企業者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00030" type="AWA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00040" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00060" type="AWA00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00090" type="AWA00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00120" type="AWA00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00150" type="AWA00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00160" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00180" type="AWA00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00210" type="AWA00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00220" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00240" type="AWA00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00270" type="AWA00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00280" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00300" type="AWA00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00330" type="AWA00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00340" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00360" type="AWA00360-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00390" type="AWA00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00400" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00420" type="AWA00420-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00450" type="AWA00450-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00460" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00480" type="AWA00480-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00510" type="AWA00510-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00520" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00540" type="AWA00540-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１０"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00570" type="AWA00570-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械装置名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00580" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"導入年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00600" type="AWA00600-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AWB00000-2-0type">
<xsd:sequence>

<xsd:element name="AWB00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWB00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AWA00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00240-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00270-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00360-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00390-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00420-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00450-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00480-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00510-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00540-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00570-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="46"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00600-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AWA00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00360-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00360-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00420-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00420-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00480-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00480-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00540-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00540-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00600-2-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00600-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
