etax/19XMLスキーマ/shuzei/LIX560-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：経営基盤強化計画に係る承認申請書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX560-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX560-2-0group">
<xsd:sequence>
<xsd:element name="LIX560">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00000" type="BQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX560-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BQA00000-2-0type">
<xsd:sequence>

<xsd:element name="BQA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00020" type="BQA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00030" type="BQA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称及び代表者の氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BQA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BQA00070" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BQA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BQA00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
