etax/19XMLスキーマ/shuzei/LIX610-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表5　経営基盤強化事業の内容
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX610-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX610-1-0group">
<xsd:sequence>
<xsd:element name="LIX610">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BVA00000" type="BVA00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"事業の概要等　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BVB00000" type="BVB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業に必要な資金の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="LIX610-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BVA00000-1-0type">
<xsd:sequence>

<xsd:element name="BVA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00020" type="BVA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00030" type="BVA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00040" type="BVA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"具体的事業内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00050" type="BVA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00060" type="BVA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00070" type="BVA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該事業に必要な設備等の内容及びその資金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BVA00080" type="BVA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の効果"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BVA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVA00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BVB00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
