etax/19XMLスキーマ/shuzei/LIX620-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表6　経営基盤強化事業の実施に必要な資金の額及びその調達方法
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX620-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX620-1-0group">
<xsd:sequence>
<xsd:element name="LIX620">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00000" type="BXA00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"資金の額及びその調達方法　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00000" type="BXB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX620-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BXA00000-1-0type">
<xsd:sequence>

<xsd:element name="BXA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00020" type="BXA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00030" type="BXA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高度化資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政府系金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業金融公庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国民生活金融公庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商工組合中央金庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"民間金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BXB00000-1-0type">
<xsd:sequence>

<xsd:element name="BXB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高度化資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政府系金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業金融公庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国民生活金融公庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商工組合中央金庫"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"民間金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BXB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BXB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運転資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BXB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BXA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BXA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
