etax/19XMLスキーマ/shuzei/LIX630-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別表7　経営基盤強化事業に必要な試験研究に充てるための負担金の賦課の基準
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX630-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX630-1-0group">
<xsd:sequence>
<xsd:element name="LIX630">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00000" type="BYA00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"負担金の賦課基準の内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX630-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BYA00000-1-0type">
<xsd:sequence>

<xsd:element name="BYA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00020" type="BYA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00030" type="BYA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実施者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00040" type="BYA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賦課の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00050" type="BYA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担金の合計額及びその積算根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00060" type="BYA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成員別の賦課金額及びその積算根拠"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BYA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="140"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="140"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
