etax/19XMLスキーマ/shuzei/LIX970-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX970-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX970-1-0group">
<xsd:sequence>
<xsd:element name="LIX970">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DSB00000" type="DSB00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"移出年月日・移出するもろみの数量　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSC00000" type="DSC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出先製造場"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX970-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DSB00000-1-0type">
<xsd:sequence>

<xsd:element name="DSB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSB00020" type="DSB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出するもろみの数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DSC00000-1-0type">
<xsd:sequence>

<xsd:element name="DSC00010" type="DSC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所または所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSC00020" type="DSC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名または名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DSC00030" type="DSC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DSB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="930"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="710"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DSC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="440"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DSB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DSB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
