etax/19XMLスキーマ/shuzei/LIX990-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：【酒母・もろみ】製造免許申請書
version：1.0
Date：2004年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIX990-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIX990-1-0group">
<xsd:sequence>
<xsd:element name="LIX990">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BZA00000" type="BZA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BZB00000" type="BZB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00000" type="BZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIX990-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BZB00000-1-0type">
<xsd:sequence>

<xsd:element name="BZB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZB00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZB00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZC00000-1-0type">
<xsd:sequence>

<xsd:element name="BZC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BZC00040" type="BZC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00050" type="BZC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免許を受けた後１年間の製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00060" type="BZC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BZA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BZC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="310"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="660"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
