etax/19XMLスキーマ/shuzei/LIY040-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：【酒類・酒母・もろみ】【亡失・腐敗】届出書
version：5.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY040-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY040-5-0group">
<xsd:sequence>
<xsd:element name="LIY040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CKA00000" type="CKA00000-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKB00000" type="CKB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00000" type="CKC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY040-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CKB00000-5-0type">
<xsd:sequence>

<xsd:element name="CKB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKB00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKB00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKB00120" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKC00000-5-0type">
<xsd:sequence>

<xsd:element name="CKC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)の日時"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKC00023" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00027" type="gen:dd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00030" type="CKC00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時間(午前又は午後)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00040" type="gen:hh" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時間(時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00050" type="CKC00050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時間(分)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKC00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)の場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00070" type="CKC00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)の酒類(酒母、もろみ)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKC00090" type="CKC00090-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品目別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00100" type="CKC00100-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00110" type="CKC00110-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"エキス分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00120" type="CKC00120-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00130" type="CKC00130-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00140" type="CKC00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器番号又は容器個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00150" type="CKC00150-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKC00160" type="CKC00160-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)後の管理及び今後の処理見込み"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00170" type="CKC00170-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失(腐敗)の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CKA00000-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CKC00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CKC00050-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="59"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00090-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00100-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00110-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00120-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00130-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00150-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00160-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKC00170-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CKC00050-5-0type">
<xsd:simpleContent>
<xsd:extension base="CKC00050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKC00100-5-0type">
<xsd:simpleContent>
<xsd:extension base="CKC00100-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKC00110-5-0type">
<xsd:simpleContent>
<xsd:extension base="CKC00110-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKC00150-5-0type">
<xsd:simpleContent>
<xsd:extension base="CKC00150-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
