etax/19XMLスキーマ/shuzei/LIY020-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：【酒類・酒母・もろみ】製造設備(異動)申告書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY020-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY020-2-0group">
<xsd:sequence>
<xsd:element name="LIY020">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CAA00000" type="CAA00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CAB00000" type="CAB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00000" type="CAC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY020-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CAB00000-2-0type">
<xsd:sequence>

<xsd:element name="CAB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAB00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAC00000-2-0type">
<xsd:sequence>

<xsd:element name="CAC00010" type="CAC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用条文"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00020" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00030" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00040" type="CAC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"敷地面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00050" type="CAC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"拡張・縮小の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00060" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"建物　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00070" type="CAC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00080" type="CAC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00090" type="CAC00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増築・取り壊しの区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAC00100" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"機械・器具　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00110" type="CAC00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00120" type="CAC00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"型式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00130" type="CAC00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"能力"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00140" type="CAC00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00150" type="CAC00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設・売却等の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAC00160" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"容器　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAC00170" type="CAC00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00180" type="CAC00180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00190" type="CAC00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAC00200" type="CAC00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設・売却等の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAC00210" type="CAC00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CAA00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CAC00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CAC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAC00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="250"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CAC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="CAC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="CAC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAC00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="CAC00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAC00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="CAC00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
