etax/19XMLスキーマ/shuzei/LIY022-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：【酒類・酒母・もろみ】製造設備(異動)申告書付表(容器の容量の測定事績の明細)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY022-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY022-1-0group">
<xsd:sequence>
<xsd:element name="LIY022">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYA00000" type="DYA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00000" type="DYB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"測定年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYC00000" type="DYC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DYD00000" type="DYD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊容器の構造等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DYE00000" type="DYE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"径（縦又は横）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYF00000" type="DYF00000-1-0type" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"測定区分ごとの深又は容量　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00000" type="DYG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY022-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DYA00000-1-0type">
<xsd:sequence>

<xsd:element name="DYA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYA00020" type="DYA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYA00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYB00000-1-0type">
<xsd:sequence>

<xsd:element name="DYB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"測定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"測定者の住所及び氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYB00050" type="DYB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器番号又は符号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00060" type="DYB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00070" type="DYB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYB00080" type="DYB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"測定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYC00000-1-0type">
<xsd:sequence>

<xsd:element name="DYC00010" type="DYC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深さの測定点"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYC00020" type="DYC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深さ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYC00030" type="DYC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全深又は中心深"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYE00000-1-0type">
<xsd:sequence>

<xsd:element name="DYE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"底径"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"縦"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00030" type="DYE00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00040" type="DYE00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00050" type="DYE00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00060" type="DYE00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"横"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00080" type="DYE00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00090" type="DYE00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00100" type="DYE00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00110" type="DYE00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00120" type="DYE00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00130" type="DYE00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"隣接径との平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間径（胴径）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00150" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"縦"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00170" type="DYE00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00180" type="DYE00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00190" type="DYE00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00200" type="DYE00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"横"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00220" type="DYE00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00230" type="DYE00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00240" type="DYE00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00250" type="DYE00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00260" type="DYE00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00270" type="DYE00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"隣接径との平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00290" type="DYE00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"縦"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00300" type="DYE00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"横"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00310" type="DYE00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00320" type="DYE00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"隣接径との平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口径"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"縦"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00350" type="DYE00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00360" type="DYE00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00370" type="DYE00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00380" type="DYE00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"横"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00400" type="DYE00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"右"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00410" type="DYE00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00420" type="DYE00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00430" type="DYE00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00440" type="DYE00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00450" type="DYE00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"隣接径との平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYE00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYE00470" type="DYE00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"縦"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00480" type="DYE00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"横"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00490" type="DYE00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYE00500" type="DYE00500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"隣接径との平均"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYF00000-1-0type">
<xsd:sequence>

<xsd:element name="DYF00010" type="DYF00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深さ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYF00020" type="DYF00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DYF00040" type="DYF00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深さ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYF00050" type="DYF00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DYF00060" type="DYF00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"深さ1mm当たりの容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DYG00000-1-0type">
<xsd:sequence>

<xsd:element name="DYG00010" type="DYG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"流量計の型式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00020" type="DYG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"流量計の器物番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DYG00030" type="DYG00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"余白"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DYA00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DYB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYB00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYC00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYC00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="230"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00400-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYE00500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYF00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYG00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DYG00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DYB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYE00500-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYE00500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYF00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYF00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYF00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYF00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYF00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYF00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYF00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYF00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DYF00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="DYF00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
