etax/19XMLスキーマ/shuzei/LIY140-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒類販売【代理業・媒介業】免許申請書
version：1.0
Date：2018年11月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY140-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY140-1-0group">
<xsd:sequence>
<xsd:element name="LIY140">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CIA00000" type="CIA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CIB00000" type="CIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00000" type="CIC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY140-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CIB00000-1-0type">
<xsd:sequence>

<xsd:element name="CIB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CIC00000-1-0type">
<xsd:sequence>

<xsd:element name="CIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場(事務所)の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住居表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業態"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00080" type="CIC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00090" type="CIC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00100" type="CIC00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に有している主たる酒類の販売場の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00140" type="CIC00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CIA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CIC00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/><xsd:enumeration value="8"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CIC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
