etax/19XMLスキーマ/shuzei/LIY150-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒類の販売数量等報告書
version：4.0
Date：2014年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY150-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY150-4-0group">
<xsd:sequence>
<xsd:element name="LIY150">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOA00000" type="GOA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00000" type="GOB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00000" type="GOC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY150-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GOA00000-4-0type">
<xsd:sequence>

<xsd:element name="GOA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOA00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GOB00000-4-0type">
<xsd:sequence>

<xsd:element name="GOB00005" type="GOB00005-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類免許場整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOB00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOB00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOB00105" type="gen:SEIZOJO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00110" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00120" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOB00130" type="gen:SEIZOJO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GOC00000-4-0type">
<xsd:sequence>

<xsd:element name="GOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"清酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00040" type="GOC00040-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00050" type="GOC00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00060" type="GOC00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00070" type="GOC00070-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合成清酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00110" type="GOC00110-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00120" type="GOC00120-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00130" type="GOC00130-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00140" type="GOC00140-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連続式蒸留しようちゆう"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00180" type="GOC00180-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00190" type="GOC00190-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00200" type="GOC00200-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00210" type="GOC00210-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単式蒸留しようちゆう"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00250" type="GOC00250-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00260" type="GOC00260-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00270" type="GOC00270-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00280" type="GOC00280-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みりん"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00320" type="GOC00320-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00330" type="GOC00330-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00340" type="GOC00340-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00350" type="GOC00350-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ビール"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00390" type="GOC00390-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00400" type="GOC00400-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00410" type="GOC00410-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00420" type="GOC00420-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00460" type="GOC00460-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00470" type="GOC00470-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00480" type="GOC00480-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00490" type="GOC00490-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"甘味果実酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00530" type="GOC00530-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00540" type="GOC00540-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00550" type="GOC00550-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00560" type="GOC00560-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ウイスキー"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00600" type="GOC00600-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00610" type="GOC00610-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00620" type="GOC00620-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00630" type="GOC00630-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ブランデー"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00670" type="GOC00670-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00680" type="GOC00680-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00690" type="GOC00690-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00700" type="GOC00700-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料用アルコール"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00740" type="GOC00740-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00750" type="GOC00750-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00760" type="GOC00760-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00770" type="GOC00770-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発泡酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00810" type="GOC00810-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00820" type="GOC00820-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00830" type="GOC00830-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00840" type="GOC00840-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の醸造酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00880" type="GOC00880-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00890" type="GOC00890-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00900" type="GOC00900-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00910" type="GOC00910-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"スピリッツ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC00950" type="GOC00950-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC00960" type="GOC00960-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00970" type="GOC00970-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00980" type="GOC00980-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リキュール"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01020" type="GOC01020-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC01030" type="GOC01030-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01040" type="GOC01040-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01050" type="GOC01050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01090" type="GOC01090-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC01100" type="GOC01100-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01110" type="GOC01110-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01120" type="GOC01120-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01160" type="GOC01160-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC01170" type="GOC01170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01180" type="GOC01180-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01190" type="GOC01190-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"粉末酒"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01230" type="GOC01230-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"卸売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC01240" type="GOC01240-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売業者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01250" type="GOC01250-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01260" type="GOC01260-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3月末在庫数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GOC01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GOC01280" type="GOC01280-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業態区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GOC01290" type="GOC01290-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GOB00005-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00040-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00070-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00110-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00120-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00130-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00140-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00180-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00190-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00200-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00210-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00250-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00260-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00270-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00280-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00320-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00330-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00340-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00350-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00390-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00400-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00410-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00420-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00460-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00470-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00480-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00490-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00530-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00540-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00550-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00560-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00600-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00610-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00620-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00630-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00670-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00680-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00690-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00700-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00740-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00750-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00760-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00770-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00810-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00820-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00830-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00840-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00880-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00890-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00900-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00910-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00950-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00960-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00970-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC00980-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01020-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01030-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01040-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01090-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01100-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01110-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01120-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01160-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01180-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01190-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01230-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01240-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01250-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GOC01260-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GOC01280-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/><xsd:enumeration value="8"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GOC01290-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GOC00040-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00040-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00070-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00070-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00110-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00110-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00120-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00120-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00130-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00130-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00140-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00140-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00180-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00180-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00190-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00190-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00200-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00200-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00210-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00210-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00250-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00250-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00260-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00260-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00270-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00270-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00280-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00280-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00320-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00320-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00330-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00330-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00340-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00340-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00350-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00350-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00390-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00390-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00400-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00400-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00410-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00410-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00420-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00420-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00460-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00460-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00470-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00470-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00480-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00480-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00490-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00490-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00530-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00530-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00540-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00540-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00550-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00550-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00560-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00560-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00600-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00600-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00610-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00610-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00620-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00620-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00630-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00630-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00670-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00670-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00680-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00680-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00690-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00690-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00700-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00700-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00740-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00740-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00750-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00750-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00760-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00760-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00770-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00770-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00810-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00810-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00820-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00820-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00830-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00830-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00840-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00840-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00880-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00880-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00890-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00890-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00900-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00900-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00910-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00910-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00950-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00950-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00960-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00960-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00970-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00970-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC00980-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC00980-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01020-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01020-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01030-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01030-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01040-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01040-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01050-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01090-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01090-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01100-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01100-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01110-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01110-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01120-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01120-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01160-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01160-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01170-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01180-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01180-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01190-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01190-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01230-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01230-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01240-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01240-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01250-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01250-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GOC01260-4-0type">
<xsd:simpleContent>
<xsd:extension base="GOC01260-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
