etax/19XMLスキーマ/shuzei/LIY380-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：異動申告書
version：5.0
Date：2015年04月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY380-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY380-5-0group">
<xsd:sequence>
<xsd:element name="LIY380">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHA00000" type="CHA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00000" type="CHB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY380-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CHA00000-5-0type">
<xsd:sequence>

<xsd:element name="CHA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00100" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00110" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CHB00000-5-0type">
<xsd:sequence>

<xsd:element name="CHB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00090" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00100" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場又は販売場"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00170" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定代理人、役員及び販売場の支配人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00190" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00200" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00210" type="CHB00210-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要(異動年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00230" type="CHB00230-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要(販売場の有無)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00240" type="CHB00240-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CHB00210-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="220"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CHB00230-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CHB00240-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="180"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
