etax/19XMLスキーマ/shuzei/LIY330-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：__のもろみ1仕込製造方法
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY330-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY330-1-0group">
<xsd:sequence>
<xsd:element name="LIY330">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00000" type="FFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみ１仕込製造方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY330-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FFA00000-1-0type">
<xsd:sequence>

<xsd:element name="FFA00010" type="FFA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"蒸留酒もろみ名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00020" type="FFA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00030" type="FFA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法記号1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00050" type="FFA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00070" type="FFA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00080" type="FFA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00100" type="FFA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00110" type="FFA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00120" type="FFA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00130" type="FFA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00140" type="FFA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00150" type="FFA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00160" type="FFA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00180" type="FFA00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00190" type="FFA00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00210" type="FFA00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00220" type="FFA00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00230" type="FFA00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00240" type="FFA00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00250" type="FFA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00260" type="FFA00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00270" type="FFA00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00290" type="FFA00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00300" type="FFA00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00320" type="FFA00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00330" type="FFA00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00340" type="FFA00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00350" type="FFA00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00360" type="FFA00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00370" type="FFA00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00380" type="FFA00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00400" type="FFA00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00410" type="FFA00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00430" type="FFA00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00440" type="FFA00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00450" type="FFA00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00460" type="FFA00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00470" type="FFA00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00480" type="FFA00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00490" type="FFA00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法個数1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00510" type="FFA00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00530" type="FFA00530-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00540" type="FFA00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00560" type="FFA00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00570" type="FFA00570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00580" type="FFA00580-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00590" type="FFA00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00600" type="FFA00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00610" type="FFA00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00620" type="FFA00620-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00640" type="FFA00640-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00650" type="FFA00650-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00670" type="FFA00670-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00680" type="FFA00680-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00690" type="FFA00690-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00700" type="FFA00700-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00710" type="FFA00710-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00720" type="FFA00720-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00730" type="FFA00730-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00750" type="FFA00750-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00760" type="FFA00760-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00780" type="FFA00780-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00790" type="FFA00790-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00800" type="FFA00800-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00810" type="FFA00810-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00820" type="FFA00820-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00830" type="FFA00830-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00840" type="FFA00840-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00860" type="FFA00860-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00870" type="FFA00870-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00880" type="FFA00880-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00890" type="FFA00890-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00900" type="FFA00900-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00910" type="FFA00910-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00920" type="FFA00920-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用酒母の記号個数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA00940" type="FFA00940-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00950" type="FFA00950-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA00960" type="FFA00960-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料中にアルコール含有物があるときその純アルコール数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00970" type="FFA00970-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00980" type="FFA00980-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA00990" type="FFA00990-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込純アルコール数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01000" type="FFA01000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"見込数量、アルコール分の算出根基"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01010" type="FFA01010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01020" type="FFA01020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法記号2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01040" type="FFA01040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01060" type="FFA01060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01070" type="FFA01070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01090" type="FFA01090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01100" type="FFA01100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01110" type="FFA01110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01120" type="FFA01120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01130" type="FFA01130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01140" type="FFA01140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01150" type="FFA01150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01170" type="FFA01170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01180" type="FFA01180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01200" type="FFA01200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01210" type="FFA01210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01220" type="FFA01220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01230" type="FFA01230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01240" type="FFA01240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01250" type="FFA01250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01260" type="FFA01260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01280" type="FFA01280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01290" type="FFA01290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01310" type="FFA01310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01320" type="FFA01320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01330" type="FFA01330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01340" type="FFA01340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01350" type="FFA01350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01360" type="FFA01360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01370" type="FFA01370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01390" type="FFA01390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01400" type="FFA01400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01420" type="FFA01420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01430" type="FFA01430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01440" type="FFA01440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01450" type="FFA01450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01460" type="FFA01460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01470" type="FFA01470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01480" type="FFA01480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法個数2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01500" type="FFA01500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01520" type="FFA01520-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01530" type="FFA01530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01550" type="FFA01550-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01560" type="FFA01560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01570" type="FFA01570-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01580" type="FFA01580-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01590" type="FFA01590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01600" type="FFA01600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01610" type="FFA01610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01630" type="FFA01630-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01640" type="FFA01640-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01660" type="FFA01660-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01670" type="FFA01670-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01680" type="FFA01680-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01690" type="FFA01690-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01700" type="FFA01700-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01710" type="FFA01710-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01720" type="FFA01720-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01740" type="FFA01740-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01750" type="FFA01750-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん価又は糖分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01770" type="FFA01770-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01780" type="FFA01780-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01790" type="FFA01790-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01800" type="FFA01800-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01810" type="FFA01810-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01820" type="FFA01820-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01830" type="FFA01830-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01850" type="FFA01850-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01860" type="FFA01860-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01870" type="FFA01870-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01880" type="FFA01880-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第3次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01890" type="FFA01890-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01900" type="FFA01900-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01910" type="FFA01910-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用酒母の記号個数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFA01930" type="FFA01930-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01940" type="FFA01940-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFA01950" type="FFA01950-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料中にアルコール含有物があるときその純アルコール数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01960" type="FFA01960-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01970" type="FFA01970-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01980" type="FFA01980-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込純アルコール数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFA01990" type="FFA01990-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"見込数量、アルコール分算出根基"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="FFA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00190-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00340-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00410-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00530-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00540-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00580-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00610-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00620-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00640-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00650-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00670-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00680-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00690-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00700-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00710-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00720-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00730-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00750-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00760-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00780-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00790-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00800-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00810-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00820-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00830-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00840-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00860-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00870-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00880-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00890-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00900-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00910-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00920-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00940-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00950-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00960-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00970-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00980-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA00990-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01290-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01340-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01390-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01400-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01430-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01480-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01520-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01530-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01550-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01570-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01580-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01610-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01630-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01640-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01660-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01670-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01680-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01690-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01700-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01710-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01720-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01740-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01750-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01770-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01780-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01790-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01800-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01810-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01820-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01830-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01850-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01860-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01870-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01880-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01890-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01900-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01910-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01930-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01940-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01950-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01960-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01970-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01980-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFA01990-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FFA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00570-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00580-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00580-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00620-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00620-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00650-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00650-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00670-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00670-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00680-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00680-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00690-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00690-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00700-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00700-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00710-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00710-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00720-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00720-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00730-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00730-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00760-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00760-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00780-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00780-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00790-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00790-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00800-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00800-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00810-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00810-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00820-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00820-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00830-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00830-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00840-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00840-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00860-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00860-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00870-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00870-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00880-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00880-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00890-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00890-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00900-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00900-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00910-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00910-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00920-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00920-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00950-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00950-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00960-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00960-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00970-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00970-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00980-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00980-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA00990-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA00990-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01070-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01090-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01100-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01110-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01120-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01130-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01140-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01150-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01180-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01200-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01210-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01220-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01230-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01240-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01250-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01260-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01290-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01310-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01320-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01330-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01340-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01350-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01360-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01370-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01400-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01420-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01430-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01440-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01450-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01460-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01470-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01480-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01500-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01530-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01550-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01550-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01560-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01570-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01570-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01580-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01580-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01590-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01600-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01610-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01640-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01640-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01660-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01660-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01670-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01670-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01680-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01680-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01690-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01690-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01700-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01700-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01710-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01710-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01720-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01720-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01750-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01750-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01770-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01770-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01780-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01780-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01790-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01790-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01800-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01800-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01810-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01810-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01820-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01820-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01830-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01830-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01850-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01850-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01860-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01860-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01870-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01870-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01880-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01880-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01890-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01890-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01900-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01900-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01910-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01910-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01940-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01940-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01950-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01950-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01960-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01960-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01970-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01970-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FFA01980-1-0type">
<xsd:simpleContent>
<xsd:extension base="FFA01980-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
