etax/19XMLスキーマ/shuzei/LIY340-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：果実酒・甘味果実酒の1仕込製造方法
version：2.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY340-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY340-2-0group">
<xsd:sequence>
<xsd:element name="LIY340">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00000" type="FGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１仕込製造方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY340-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FGA00000-2-0type">
<xsd:sequence>

<xsd:element name="FGA00010" type="FGA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00020" type="FGA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法記号1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00040" type="FGA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00060" type="FGA00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00070" type="FGA00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"グラム数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00080" type="FGA00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00090" type="FGA00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00100" type="FGA00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00110" type="FGA00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00120" type="FGA00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00140" type="FGA00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00150" type="FGA00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実見込取得リットル数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00170" type="FGA00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00180" type="FGA00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00190" type="FGA00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00200" type="FGA00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00210" type="FGA00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00220" type="FGA00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00230" type="FGA00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00250" type="FGA00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00260" type="FGA00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類溶解リットル数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール又はしょうちゅう"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00280" type="FGA00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"度数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00290" type="FGA00290-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00300" type="FGA00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00310" type="FGA00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00320" type="FGA00320-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00330" type="FGA00330-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00340" type="FGA00340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00360" type="FGA00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00370" type="FGA00370-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00380" type="FGA00380-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00390" type="FGA00390-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00400" type="FGA00400-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00410" type="FGA00410-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00420" type="FGA00420-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法個数1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00440" type="FGA00440-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00460" type="FGA00460-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00470" type="FGA00470-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00480" type="FGA00480-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00490" type="FGA00490-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00500" type="FGA00500-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00510" type="FGA00510-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00520" type="FGA00520-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00540" type="FGA00540-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00550" type="FGA00550-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00560" type="FGA00560-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00570" type="FGA00570-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00580" type="FGA00580-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00590" type="FGA00590-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00600" type="FGA00600-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00620" type="FGA00620-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00630" type="FGA00630-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00640" type="FGA00640-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00650" type="FGA00650-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00660" type="FGA00660-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00670" type="FGA00670-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00680" type="FGA00680-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00700" type="FGA00700-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00710" type="FGA00710-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00720" type="FGA00720-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00730" type="FGA00730-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00740" type="FGA00740-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00750" type="FGA00750-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00760" type="FGA00760-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00770" type="FGA00770-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00780" type="FGA00780-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一仕込記号の製造見込数量計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00790" type="FGA00790-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量の算出根基"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00800" type="FGA00800-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00810" type="FGA00810-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込区分名4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法記号2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00830" type="FGA00830-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00850" type="FGA00850-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00860" type="FGA00860-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"グラム数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00870" type="FGA00870-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00880" type="FGA00880-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00890" type="FGA00890-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00900" type="FGA00900-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00910" type="FGA00910-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00930" type="FGA00930-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00940" type="FGA00940-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果実見込取得リットル数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA00960" type="FGA00960-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00970" type="FGA00970-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00980" type="FGA00980-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA00990" type="FGA00990-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01000" type="FGA01000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01010" type="FGA01010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01020" type="FGA01020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01040" type="FGA01040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01050" type="FGA01050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"糖類溶解リットル数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール又はしょうちゅう"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01070" type="FGA01070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"度数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01080" type="FGA01080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01090" type="FGA01090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01100" type="FGA01100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01110" type="FGA01110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01120" type="FGA01120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01130" type="FGA01130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01150" type="FGA01150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01160" type="FGA01160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01170" type="FGA01170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01180" type="FGA01180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01190" type="FGA01190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01200" type="FGA01200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01210" type="FGA01210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造方法個数2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01230" type="FGA01230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01250" type="FGA01250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01260" type="FGA01260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01270" type="FGA01270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01280" type="FGA01280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01290" type="FGA01290-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01300" type="FGA01300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01310" type="FGA01310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01330" type="FGA01330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01340" type="FGA01340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01350" type="FGA01350-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01360" type="FGA01360-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01370" type="FGA01370-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01380" type="FGA01380-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01390" type="FGA01390-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01410" type="FGA01410-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01420" type="FGA01420-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01430" type="FGA01430-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01440" type="FGA01440-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01450" type="FGA01450-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01460" type="FGA01460-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01470" type="FGA01470-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGA01490" type="FGA01490-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01500" type="FGA01500-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第1次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01510" type="FGA01510-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第2次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01520" type="FGA01520-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01530" type="FGA01530-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01540" type="FGA01540-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGA01550" type="FGA01550-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01560" type="FGA01560-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01570" type="FGA01570-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一仕込記号の製造見込数量計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGA01580" type="FGA01580-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量の算出根基"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FGA00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00150-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00180-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00200-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00220-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00230-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00250-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00260-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00280-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00290-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00320-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00330-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00340-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00360-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00370-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00380-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00390-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00400-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00410-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00420-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00440-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00460-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00470-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00480-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00490-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00500-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00510-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00520-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00540-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00550-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00560-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00570-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00580-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00590-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00600-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00620-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00630-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00640-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00650-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00660-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00670-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00680-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00700-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00710-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00720-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00730-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00740-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00750-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00760-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00770-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00780-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00790-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00800-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00810-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00830-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00850-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00860-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00870-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00880-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00890-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00900-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00910-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00930-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00940-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00960-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00970-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00980-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA00990-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01000-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01170-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01200-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01230-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01270-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01280-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01290-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01340-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01350-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01360-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01370-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01380-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01390-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01410-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01420-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01430-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01440-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01450-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01460-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01470-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01490-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01500-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01510-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01520-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01530-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01540-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01550-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01560-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01570-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGA01580-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FGA00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00290-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00290-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00320-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00320-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00330-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00330-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00340-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00370-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00370-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00380-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00380-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00390-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00390-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00400-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00400-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00410-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00410-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00420-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00420-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00440-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00440-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00470-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00470-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00480-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00480-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00490-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00490-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00500-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00500-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00510-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00510-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00520-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00520-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00550-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00550-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00560-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00560-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00570-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00570-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00580-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00580-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00590-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00590-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00600-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00600-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00630-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00630-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00640-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00640-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00650-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00650-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00660-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00660-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00670-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00670-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00680-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00680-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00700-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00700-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00710-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00710-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00720-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00720-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00730-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00730-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00740-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00740-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00750-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00750-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00760-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00760-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00770-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00770-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00780-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00780-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00860-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00860-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00870-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00870-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00880-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00880-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00890-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00890-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00900-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00900-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00910-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00910-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00930-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00930-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00940-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00940-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00970-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00970-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00980-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00980-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA00990-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA00990-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01000-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01010-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01020-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01070-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01080-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01090-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01100-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01110-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01120-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01130-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01160-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01170-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01180-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01190-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01200-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01210-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01230-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01260-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01270-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01280-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01290-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01290-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01300-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01310-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01340-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01350-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01350-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01360-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01360-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01370-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01370-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01380-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01380-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01390-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01390-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01420-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01420-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01430-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01430-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01440-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01440-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01450-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01450-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01460-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01460-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01470-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01470-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01490-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01490-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01500-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01500-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01510-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01510-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01520-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01520-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01530-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01530-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01540-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01540-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01550-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01550-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01560-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01560-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGA01570-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGA01570-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
