etax/19XMLスキーマ/shuzei/LIY360-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：__の1仕込製造方法(その他の酒類)
version：2.0
Date：2005年11月29日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY360-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY360-2-0group">
<xsd:sequence>
<xsd:element name="LIY360">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00000" type="IYA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１仕込製造方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY360-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IYA00000-2-0type">
<xsd:sequence>

<xsd:element name="IYA00010" type="IYA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"混成酒等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00020" type="IYA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00030" type="IYA00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込操作順"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00050" type="IYA00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00060" type="IYA00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00070" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"仕込製造方法　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00080" type="IYA00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込操作順ごとの使用数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00100" type="IYA00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00110" type="IYA00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00120" type="IYA00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２次"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00130" type="IYA00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00140" type="IYA00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00160" type="IYA00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00170" type="IYA00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重量単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00200" type="IYA00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00210" type="IYA00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00230" type="IYA00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00240" type="IYA00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容量単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込み"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IYA00270" type="IYA00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00280" type="IYA00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00290" type="IYA00290-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00300" type="IYA00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"エキス分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00310" type="IYA00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IYA00320" type="IYA00320-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一仕込方法によるものの製造見込数量計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IYA00330" type="IYA00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込操作の詳細及び製造見込数量の算出根基等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IYA00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="26"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00200-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00230-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00270-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00280-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00290-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00300-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00310-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00320-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IYA00330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="860"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IYA00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00290-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00290-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IYA00320-2-0type">
<xsd:simpleContent>
<xsd:extension base="IYA00320-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
