etax/19XMLスキーマ/shuzei/LIY310-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒母の1仕込製造方法
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY310-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY310-1-0group">
<xsd:sequence>
<xsd:element name="LIY310">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00000" type="FDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒母の製造方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY310-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FDA00000-1-0type">
<xsd:sequence>

<xsd:element name="FDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１仕込製造方法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿もろみの酒母）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00030" type="FDA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"もろみの種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDA00035" type="FDA00035-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00040" type="FDA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00045" type="FDA00045-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00050" type="FDA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00055" type="FDA00055-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料名５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00060" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"仕込製造明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00070" type="FDA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00080" type="FDA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00085" type="FDA00085-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00090" type="FDA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00095" type="FDA00095-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00100" type="FDA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00105" type="FDA00105-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00110" type="FDA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00120" type="FDA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量の算出根基"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00130" type="FDA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDA00140" type="FDA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="FDA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00035-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00045-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00055-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00085-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00095-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00105-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="420"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FDA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00085-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00085-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00095-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00095-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00105-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00105-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="FDA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
