etax/19XMLスキーマ/shuzei/LIY350-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：ビール・発泡酒の1仕込製造方法
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY350-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY350-1-0group">
<xsd:sequence>
<xsd:element name="LIY350">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHA00000" type="FHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00000" type="FHB00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"１仕込製造方法　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY350-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FHA00000-1-0type">
<xsd:sequence>

<xsd:element name="FHA00005" type="FHA00005-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料品名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHA00010" type="FHA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料品名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FHB00000-1-0type">
<xsd:sequence>

<xsd:element name="FHB00010" type="FHB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00020" type="FHB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHB00040" type="FHB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"麦芽"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00050" type="FHB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"米"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00060" type="FHB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"でんぷん"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00065" type="FHB00065-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00070" type="FHB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原料2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00080" type="FHB00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ホップ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00090" type="FHB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00100" type="FHB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酵母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHB00110" type="FHB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕込即時見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00120" type="FHB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"見込糖度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00130" type="FHB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00140" type="FHB00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同一仕込方法による製造見込数量計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00150" type="FHB00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造見込数量の算出根基等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="FHA00005-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="27"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00065-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHB00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="FHB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHB00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="FHB00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
