etax/19XMLスキーマ/shuzei/LIY880-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：保存酒類変換承認申請書
version：2.0
Date：2006年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY880-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY880-2-0group">
<xsd:sequence>
<xsd:element name="LIY880">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIA00000" type="HIA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00000" type="HIB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY880-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HIA00000-2-0type">
<xsd:sequence>

<xsd:element name="HIA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIA00075" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00085" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIA00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HIB00000-2-0type">
<xsd:sequence>

<xsd:element name="HIB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請文"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00025" type="HIB00025-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00030" type="HIB00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HIB00040" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"変換しようとする酒類　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIB00050" type="HIB00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の品目別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00080" type="HIB00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00090" type="HIB00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入味深又は空積深"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00100" type="HIB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00110" type="HIB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00120" type="HIB00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00130" type="HIB00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販酒規格換算数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00140" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１Ｌ当りの価格（又は原価）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HIB00160" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"変換により保存する酒類　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIB00170" type="HIB00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の品目別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00200" type="HIB00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00210" type="HIB00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入味深又は空積深"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00220" type="HIB00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00230" type="HIB00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00240" type="HIB00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比重"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00250" type="HIB00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販酒規格換算数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00260" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１Ｌ当りの価格（又は原価）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HIB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HIB00290" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00300" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HIB00310" type="HIB00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保存場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00320" type="HIB00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保存方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00330" type="HIB00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HIB00340" type="HIB00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HIB00025-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00120-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00130-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00220-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00230-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00250-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HIB00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HIB00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HIB00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="HIB00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
