etax/19XMLスキーマ/shuzei/LIY860-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：被災酒類の確認書交付申請書
version：3.0
Date：2017年11月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIY860-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIY860-3-0group">
<xsd:sequence>
<xsd:element name="LIY860">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00000" type="CEA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00000" type="CEB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIY860-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CEA00000-3-0type">
<xsd:sequence>

<xsd:element name="CEA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災場所の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00090" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00100" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00110" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEA00125" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00130" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00135" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEA00140" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEB00000-3-0type">
<xsd:sequence>

<xsd:element name="CEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税義務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場（保税地域）の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場（保税地域）の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者（引取者）の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造者（引取者）の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00090" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"被災酒類の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00100" type="CEB00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00110" type="CEB00110-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00120" type="CEB00120-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の容量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00130" type="CEB00130-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の総個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00140" type="CEB00140-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00150" type="CEB00150-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00180" type="CEB00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災酒類の明細合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEB00200" type="CEB00200-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器の総個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00210" type="CEB00210-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00240" type="CEB00240-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A　税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B　保険金、損害賠償金により補てんされた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C　補てんされない額（A－B）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D　仕入先からの損失補償額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害のやんだ日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CEB00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00110-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00120-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00130-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00140-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00150-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00180-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00200-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00210-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEB00240-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CEB00110-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00110-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00120-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00120-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00130-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00130-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00140-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00140-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00150-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00150-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00200-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00200-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEB00210-3-0type">
<xsd:simpleContent>
<xsd:extension base="CEB00210-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
