etax/19XMLスキーマ/shuzei/LIZ070-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：未納税移出・未納税引取・輸出免税酒類亡失証明書交付申請書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ070-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ070-2-0group">
<xsd:sequence>
<xsd:element name="LIZ070">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAA00000" type="IAA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAC00000" type="IAC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失日時等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00000" type="IAD00000-2-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"亡失酒類の内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAE00000" type="IAE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失酒類の移出（引取）先等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ070-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IAA00000-2-0type">
<xsd:sequence>

<xsd:element name="IAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAA00020" type="IAA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IAA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00040" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAA00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IAC00000-2-0type">
<xsd:sequence>

<xsd:element name="IAC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失の日時"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAC00025" type="IAC00025-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"午前又は午後"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAC00030" type="gen:hh" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAC00040" type="IAC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IAC00050" type="IAC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失の場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAC00060" type="IAC00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"亡失の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IAD00000-2-0type">
<xsd:sequence>

<xsd:element name="IAD00010" type="IAD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00020" type="IAD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"品目別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00030" type="IAD00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00040" type="IAD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00050" type="IAD00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00060" type="IAD00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00070" type="IAD00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"容器個数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出（引取）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IAE00000-2-0type">
<xsd:sequence>

<xsd:element name="IAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出（引取）の目的又は理由"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAE00020" type="IAE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"目的（理由）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IAE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出（引取）先の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAE00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAE00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IAE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出（引取）をした製造場（保税地域）の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAE00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAE00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IAE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移出（引取）承認年月日及び番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAE00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAE00090" type="IAE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAE00120" type="IAE00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="IAA00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IAC00025-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IAC00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="59"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAC00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAC00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00030-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAD00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAE00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAE00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IAC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="IAC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IAD00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="IAD00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IAD00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="IAD00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IAD00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="IAD00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
