etax/19XMLスキーマ/shuzei/LIZ142-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「ニ十歳未満の者の飲酒防止に関する表示基準」の実施状況等報告書　3面
version：7.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ142-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ142-7-0group">
<xsd:sequence>
<xsd:element name="LIZ142">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IJC00000" type="IJC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ニ十歳未満の者の飲酒防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00000" type="IJD00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飲酒運転防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00000" type="IJE00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類容器リサイクル関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IJF00000" type="IJF00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適正飲酒を啓発するための店内放送、店頭・売場等への表示、ポスターの掲示等を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IJG00000" type="IJG00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者に代わる責任者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ142-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IJC00000-7-0type">
<xsd:sequence>

<xsd:element name="IJC00010" type="IJC00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　20歳未満と思われる者に対して、年齢確認を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00020" type="IJC00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　20歳未満の者の飲酒防止を啓発するための店内放送、店頭・売場等への表示、ポスターの掲示等を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IJD00000-7-0type">
<xsd:sequence>

<xsd:element name="IJD00010" type="IJD00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　酒類の陳列場所、店頭、レジ等に「飲酒運転は禁止されている」旨の表示又は飲酒運転の防止に関するポスターの掲示を行っている等、飲酒運転防止のための取組を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00020" type="IJD00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　自動車等で来店したと思われる者に対して「飲酒運転をしないように」といった一声運動を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IJE00000-7-0type">
<xsd:sequence>

<xsd:element name="IJE00010" type="IJE00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　リターナブルびん(ビールびんや清酒の一升びんなどの繰り返し使用されるびん)を使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00020" type="IJE00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　リターナブルびんの回収を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00030" type="IJE00030-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　消費者が販売場に容器を持参した場合の回収マニュアルを定めており、これに基づき酒類容器のリサイクルに積極的に取り組んでいる。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00040" type="IJE00040-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　酒類の陳列場所、店頭、レジ等に「リターナブルびんの回収を行っている」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IJG00000-7-0type">
<xsd:sequence>

<xsd:element name="IJG00010" type="IJG00010-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者に代わる責任者の人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJG00020" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者に代わる責任者の氏名・指名の基準　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IJG00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJG00040" type="IJG00040-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJG00050" type="IJG00050-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指名の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="IJC00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJC00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJD00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJD00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJE00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJE00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJE00030-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJE00040-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IJF00000-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IJG00010-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IJG00040-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IJG00050-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="7"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IJG00010-7-0type">
<xsd:simpleContent>
<xsd:extension base="IJG00010-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IJG00040-7-0type">
<xsd:simpleContent>
<xsd:extension base="IJG00040-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IJG00050-7-0type">
<xsd:simpleContent>
<xsd:extension base="IJG00050-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
