etax/19XMLスキーマ/shuzei/LIZ143-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「未成年者の飲酒防止に関する表示基準」の実施状況等報告書　4面
version：3.0
Date：2013年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ143-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ143-3-0group">
<xsd:sequence>
<xsd:element name="LIZ143">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00000" type="IKB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益項目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ143-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IKB00000-3-0type">
<xsd:sequence>

<xsd:element name="IKB00005" type="IKB00005-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内酒類小売による売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上総利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内酒類小売による売上総利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前純利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類に係る受取リベート"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IKB00005-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IKB00005-3-0type">
<xsd:simpleContent>
<xsd:extension base="IKB00005-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
