etax/19XMLスキーマ/shuzei/LIZ141-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒類の適正な販売管理の確保のための取組状況
version：1.0
Date：2004年11月08日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ141-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ141-1-0group">
<xsd:sequence>
<xsd:element name="LIZ141">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIA00000" type="IIA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者の飲酒防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00000" type="IIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飲酒運転の防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00000" type="IIC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類容器のリサイクル関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IID00000" type="IID00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適正飲酒関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIE00000" type="IIE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ141-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IIA00000-1-0type">
<xsd:sequence>

<xsd:element name="IIA00010" type="IIA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　未成年と思われる者に対して、年齢確認を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00020" type="IIA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　夜間(23時から翌日5時)において指名し、配置している「酒類販売管理者に代わる責任者」は成年者である。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00030" type="IIA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　直近1年以内に未成年者の飲酒防止に関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00040" type="IIA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIB00000-1-0type">
<xsd:sequence>

<xsd:element name="IIB00010" type="IIB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　酒類の陳列場所、店頭、レジ等に「飲酒運転は禁止されている」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00020" type="IIB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　自動車等で来店したと思われる者に対して「飲酒運転をしないように」といった一声運動を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00030" type="IIB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　直近1年以内に飲酒運転の防止に関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00040" type="IIB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIC00000-1-0type">
<xsd:sequence>

<xsd:element name="IIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　リターナブルびんを使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIC00020" type="IIC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リターナブルびんを使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00030" type="IIC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リターナブルびんの回収を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00040" type="IIC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の陳列場所、店頭、レジ等に「リターナブルびんの回収を行っている」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IIC00050" type="IIC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　直近1年以内に酒類容器のリサイクルに関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00060" type="IIC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IID00000-1-0type">
<xsd:sequence>

<xsd:element name="IID00010" type="IID00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　直近1年以内に適正飲酒に関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IID00020" type="IID00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIE00000-1-0type">
<xsd:sequence>

<xsd:element name="IIE00010" type="IIE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　販売場の見やすい場所に酒類販売管理者の氏名を掲示している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIE00020" type="IIE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　販売場の見やすい場所に酒類販売管理研修の受講事績を掲示している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="IIA00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIB00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IID00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IID00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIE00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIE00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
