etax/19XMLスキーマ/shuzei/LIZ143-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「未成年者の飲酒防止に関する表示基準」の実施状況等報告書　4面
version：1.0
Date：2007年12月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ143-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ143-1-0group">
<xsd:sequence>
<xsd:element name="LIZ143">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00000" type="IKA00000-1-0type" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者に代わる責任者の氏名・指名の基準　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ143-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IKA00000-1-0type">
<xsd:sequence>

<xsd:element name="IKA00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00020" type="IKA00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00030" type="IKA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指名の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IKA00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="7"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IKA00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="IKA00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IKA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="IKA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
