etax/19XMLスキーマ/shuzei/LIZ141-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「ニ十歳未満の者の飲酒防止に関する表示基準」の実施状況等報告書　2面
version：9.0
Date：2020年01月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ141-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ141-9-0group">
<xsd:sequence>
<xsd:element name="LIZ141">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIG00000" type="IIG00000-9-0type">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00000" type="IIK00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益項目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ141-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IIG00000-9-0type">
<xsd:sequence>

<xsd:element name="IIG00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00040" type="IIG00040-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者の年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理研修の受講年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00060" type="IIG00060-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　過去3年以内に酒類販売管理研修を受講した者のうちから酒類販売管理者を選任している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00070" type="IIG00070-9-0Rtype">
<xsd:annotation>
<xsd:appinfo>"2　酒類販売管理者選任届出書を提出している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00080" type="IIG00080-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　販売場の見やすい場所に酒類販売管理者の氏名や酒類販売管理研修の受講事績等を記載した標識を掲示している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00010" type="IIG00010-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　酒類販売管理者は、酒類小売業者に対し、酒類の販売業務を行うに当たって遵守すべき法令(表示基準の遵守、20歳未満の者の飲酒防止等)に基づいた適正な販売管理の確保を図るための措置及び酒類の販売業務に従事する従業員等に対する指導が徹底されるための体制の整備に関する事項を助言している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00020" type="IIG00020-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　酒類販売管理者は、酒類の販売業務に従事する従業員等に対し、酒類の販売業務を行うに当たって遵守すべき法令(表示基準の遵守、20歳未満の者の飲酒防止等)に関する事項について指導を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIK00000-9-0type">
<xsd:sequence>

<xsd:element name="IIK00010" type="IIK00010-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従業員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内酒類小売による売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上総利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内酒類小売による売上総利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内酒類小売による営業利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税引前純利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類に係る受取リベート"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IIG00040-9-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIG00060-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00070-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00080-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00010-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00020-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIK00010-9-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IIG00040-9-0type">
<xsd:simpleContent>
<xsd:extension base="IIG00040-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IIK00010-9-0type">
<xsd:simpleContent>
<xsd:extension base="IIK00010-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
