etax/19XMLスキーマ/shuzei/LIZ141-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「未成年者の飲酒防止に関する表示基準」の実施状況等報告書　２面
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ141-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ141-2-0group">
<xsd:sequence>
<xsd:element name="LIZ141">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIF00000" type="IIF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表示基準の実施状況等(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00000" type="IIG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助言等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00000" type="IIA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者の飲酒防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00000" type="IIB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飲酒運転の防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00000" type="IIC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類容器のリサイクル関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ141-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IIF00000-2-0type">
<xsd:sequence>

<xsd:element name="IIF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 酒類の通信販売(インターネットを含む)を行っている。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIF00020" type="IIF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の通信販売(インターネットを含む)を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 表示基準に則って「未成年者に対しては酒類を販売しない」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIF00040" type="IIF00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表示基準に則って「未成年者に対しては酒類を販売しない」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00050" type="IIF00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の購入申込書等に年齢記載欄を設けている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IIF00060" type="IIF00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 酒類の配達を行う旨のチラシに「未成年者に対しては酒類を販売しない」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IIF00070" type="IIF00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 酒類の自動販売機を設置している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIG00000-2-0type">
<xsd:sequence>

<xsd:element name="IIG00010" type="IIG00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 酒類販売管理者は、酒類販売場において酒類の販売業務に関する法令を遵守した業務(表示基準の遵守、未成年者飲酒防止等)が行われるよう小売業者に助言し、酒類の販売業務に従事する従業員等に対して指導を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00020" type="IIG00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 酒類の販売業務に従事する従業員等に対して、法令の知識習得等を目的とした研修等を実施している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIA00000-2-0type">
<xsd:sequence>

<xsd:element name="IIA00010" type="IIA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　未成年と思われる者に対して、年齢確認を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00030" type="IIA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　直近1年以内に未成年者の飲酒防止に関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00040" type="IIA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIB00000-2-0type">
<xsd:sequence>

<xsd:element name="IIB00010" type="IIB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　酒類の陳列場所、店頭、レジ等に「飲酒運転は禁止されている」旨の表示又は飲酒運転の防止に関するポスターの掲示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00020" type="IIB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　自動車等で来店したと思われる者に対して「飲酒運転をしないように」といった一声運動を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00040" type="IIB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIC00000-2-0type">
<xsd:sequence>

<xsd:element name="IIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　リターナブルびんを使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIC00020" type="IIC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リターナブルびんを使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00030" type="IIC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リターナブルびんの回収を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00040" type="IIC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の陳列場所、店頭、レジ等に「リターナブルびんの回収を行っている」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IIC00050" type="IIC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　直近1年以内に酒類容器のリサイクルに関するポスターを掲示したことがある。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00060" type="IIC00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　「その他の取組」の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="IIF00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIF00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIF00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIF00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIF00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIA00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIB00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IIC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IIC00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
