etax/19XMLスキーマ/shuzei/LIZ141-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「未成年者の飲酒防止に関する表示基準」の実施状況等報告書　2面
version：4.0
Date：2011年12月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ141-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ141-4-0group">
<xsd:sequence>
<xsd:element name="LIZ141">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IIG00000" type="IIG00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助言等の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00000" type="IIA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者の飲酒防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00000" type="IIB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飲酒運転防止関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00000" type="IIC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類容器リサイクル関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="IIH00000" type="IIH00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適正飲酒を啓発するための店内放送、店頭・売場等への表示、ポスターの掲示等を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="III00000" type="III00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ141-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IIG00000-4-0type">
<xsd:sequence>

<xsd:element name="IIG00010" type="IIG00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　酒類販売管理者は、酒類小売業者に対し、酒類の販売業務を行うに当たって遵守すべき法令 (表示基準の遵守、未成年者飲酒防止等) に基づいた適正な販売管理の確保を図るための措置及び酒類の販売業務に従事する従業員等に対する指導が徹底されるための体制の整備に関する事項を助言している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00020" type="IIG00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　酒類販売管理者は、酒類の販売業務に従事する従業員等に対し、酒類の販売業務を行うに当たって遵守すべき法令 (表示基準の遵守、未成年者飲酒防止等) に関する事項について指導を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIA00000-4-0type">
<xsd:sequence>

<xsd:element name="IIA00010" type="IIA00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　未成年と思われる者に対して、年齢確認を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIA00030" type="IIA00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　未成年者の飲酒防止を啓発するための店内放送、店頭・売場等への表示、ポスターの掲示等を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIB00000-4-0type">
<xsd:sequence>

<xsd:element name="IIB00010" type="IIB00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　酒類の陳列場所、店頭、レジ等に「飲酒運転は禁止されている」旨の表示又は飲酒運転の防止に関するポスターの掲示を行っている等、飲酒運転防止のための取組を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00020" type="IIB00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　自動車等で来店したと思われる者に対して「飲酒運転をしないように」といった一声運動を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIC00000-4-0type">
<xsd:sequence>

<xsd:element name="IIC00070" type="IIC00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　リターナブルびんを使った酒類を販売している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00080" type="IIC00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　リターナブルびんの回収を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00090" type="IIC00090-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　消費者が販売場に容器を持参した場合の回収マニュアルを定めており、これに基づき酒類容器のリサイクルに積極的に取り組んでいる。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00100" type="IIC00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　酒類の陳列場所、店頭、レジ等に「リターナブルびんの回収を行っている」旨の表示を行っている。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="III00000-4-0type">
<xsd:sequence>

<xsd:element name="III00005" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理研修の受講年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00010" type="III00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理研修を受講している。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00030" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"酒類販売管理者に代わる責任者の氏名・指名の基準　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="III00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00050" type="III00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00060" type="III00060-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指名の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="IIG00010-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIG00020-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00010-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIA00030-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIB00010-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIB00020-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00070-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00080-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00090-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIC00100-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IIH00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="III00010-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="III00050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="III00060-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="7"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="III00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="III00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="III00060-4-0type">
<xsd:simpleContent>
<xsd:extension base="III00060-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
