etax/19XMLスキーマ/shuzei/LIZ360-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shuzei"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：輸出酒類販売場許可申請書
version：1.0
Date：2017年05月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="LIZ360-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="LIZ360-1-0group">
<xsd:sequence>
<xsd:element name="LIZ360">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JCA00000" type="JCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00000" type="JCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="LIZ360-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JCA00000-1-0type">
<xsd:sequence>

<xsd:element name="JCA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JCA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00070" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JCA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JCA00120" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCA00130" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JCB00000-1-0type">
<xsd:sequence>

<xsd:element name="JCB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場（製造場）の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JCB00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住居表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00050" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JCB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税法施行令第18条の２第２項第１号又は第２号に規定する輸出物品販売場の許可（申請）を受けた（した）日及び消費税の納税地を所轄する税務署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JCB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"許可日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JCB00100" type="JCB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JCB00110" type="JCB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JCB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JCB00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
