etax/19XMLスキーマ/shisan/KSA030-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：令和元年分贈与税の修正申告書(別表)(第三表)(令和元年分用)
version：8.0
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSA030-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSA030-8-0group">
<xsd:sequence>
<xsd:element name="KSA030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSA030-1" type="KSA030-1-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第三表(別表)(令和元年分用)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSA030-2" type="KSA030-2-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第三表(別表の付表)(令和元年分用)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSA030-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KSA030-1-8-0type">
<xsd:sequence>

<xsd:element name="ECA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額(第一表)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　暦年課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例贈与財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00035" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般贈与財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与を受けた居住用不動産の価額及び贈与を受けた金銭のうち居住用不動産の取得に充てた部分の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00095" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　相続時精算課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の差引税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00183" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00185" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00187" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用資産納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額(第二表)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00390" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定贈与者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去の年分の申告において控除した特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以降に繰り越される特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告によって異動した事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECB00520" type="ECB00520-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECB00530" type="ECB00530-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"異動の理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KSA030-2-8-0type">
<xsd:sequence>

<xsd:element name="ECC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECC00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の非課税額(第一表の二)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の非課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の氏名(32)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額(32)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00230" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の氏名(33)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額(33)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成27年分から30年分までの贈与税の申告で非課税の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金非課税限度額の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00285" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別住宅資金非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者別の非課税の適用を受ける金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税の適用を受ける金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税の課税価格に算入される金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(33)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の非課税額(第一表の三)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災に係る住宅取得等資金の非課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の氏名(45)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額(45)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の氏名(46)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額(46)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成27年分から30年分までの贈与税の申告で震災非課税の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金非課税限度額の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別住宅資金非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者別の非課税の適用を受ける金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(45)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(46)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税の適用を受ける金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ECD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税の課税価格に算入される金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(45)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ECD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(46)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="ECB00520-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ECB00530-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
