etax/19XMLスキーマ/shisan/KSA010-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成　年分贈与税の申告書(第一表)
version：2.0
Date：2014年09月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSA010-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSA010-2-0group">
<xsd:sequence>
<xsd:element name="KSA010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSA010-1" type="KSA010-1-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第一表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSA010-2" type="KSA010-2-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の明細(贈与される財産が4件以上ある場合の明細)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSA010-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KSA010-1-2-0type">
<xsd:sequence>

<xsd:element name="EAA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00015" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の区分"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:complexContent>
<xsd:extension base="EAA00015-2-0Rtype">
<xsd:attribute name="ID" type="xsd:ID" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAA00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAA00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　暦年課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産１件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00050" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00070" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00100" type="EAB00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00110" type="EAB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00120" type="EAB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00130" type="EAB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00150" type="EAB00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00160" type="EAB00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00170" type="EAB00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00175" type="EAB00175-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00190" type="EAB00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00195" type="EAB00195-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産２件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00240" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00250" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00260" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00270" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00300" type="EAB00300-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00310" type="EAB00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00320" type="EAB00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00330" type="EAB00330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00340" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00350" type="EAB00350-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00360" type="EAB00360-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00370" type="EAB00370-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00375" type="EAB00375-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00390" type="EAB00390-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00395" type="EAB00395-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産３件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00440" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00450" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00460" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00470" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00500" type="EAB00500-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00510" type="EAB00510-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00520" type="EAB00520-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00530" type="EAB00530-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00540" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00550" type="EAB00550-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00560" type="EAB00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00570" type="EAB00570-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00575" type="EAB00575-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00590" type="EAB00590-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00595" type="EAB00595-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00600" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00640" type="EAB00640-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除適用　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与を受けた居住用不動産の価額及び贈与を受けた金銭のうち居住用不動産の取得に充てた部分の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)及び(3)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00695" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　相続時精算課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定贈与者ごとの課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定贈与者ごとの差引税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00785" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告書である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額の合計額(納付すべき税額)の増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額の増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00005" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00030" type="EAC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00040" type="EAC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の2の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KSA010-2-2-0type">
<xsd:sequence>

<xsd:element name="EAD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAD00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00015" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の区分"</xsd:appinfo>
</xsd:annotation><xsd:complexType>
<xsd:attribute name="IDREF" type="xsd:IDREF" use="required" fixed="EAA00015"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAD00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAD00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAD00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAE00000" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"申告内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00050" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAE00080" type="EAE00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00090" type="EAE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00100" type="EAE00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00110" type="EAE00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00130" type="EAE00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00140" type="EAE00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00150" type="EAE00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00155" type="EAE00155-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00170" type="EAE00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00175" type="EAE00175-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAE00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="EAA00015-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EAB00100-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EAB00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00150-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00175-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00195-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EAB00300-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EAB00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00350-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00360-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00370-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00375-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00390-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00395-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EAB00500-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EAB00510-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00520-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00530-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00550-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00560-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00570-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00575-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00590-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAB00595-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EAB00640-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EAC00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EAC00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EAE00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EAE00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00150-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00155-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00175-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EAB00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00350-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00350-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00370-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00370-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00390-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00390-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00550-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00550-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00570-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00570-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAB00590-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAB00590-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAE00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAE00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAE00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAE00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EAE00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="EAE00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
