etax/19XMLスキーマ/shisan/KSA020-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分贈与税の申告書(相続時精算課税の計算明細書)(第二表)(令和2年分以降用)
version：6.0
Date：2020年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSA020-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSA020-6-0group">
<xsd:sequence>
<xsd:element name="KSA020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSA020-1" type="KSA020-1-6-0type">
<xsd:annotation>
<xsd:appinfo>"申告書第二表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSA020-2" type="KSA020-2-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の明細(贈与される財産が4件以上ある場合の明細)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSA020-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KSA020-1-6-0type">
<xsd:sequence>

<xsd:element name="EBA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBA00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBA00015" type="EBA00015-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00000">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00010">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00020" type="EBB00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税選択の特例　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00030">
<xsd:annotation>
<xsd:appinfo>"特定贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00050" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00060" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00065" type="EBB00065-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00070" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄(上記以外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00090" type="gen:yymmdd">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産１件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の特定贈与者から取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00120" type="EBB00120-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00130" type="EBB00130-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00140" type="EBB00140-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00150" type="EBB00150-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00155" type="EBB00155-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00170" type="EBB00170-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00180" type="EBB00180-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00190" type="EBB00190-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00195" type="EBB00195-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00210" type="EBB00210-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00215" type="EBB00215-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産２件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の特定贈与者から取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00260" type="EBB00260-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00270" type="EBB00270-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00280" type="EBB00280-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00290" type="EBB00290-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00295" type="EBB00295-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00300" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00310" type="EBB00310-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00320" type="EBB00320-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00330" type="EBB00330-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00335" type="EBB00335-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00350" type="EBB00350-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00355" type="EBB00355-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産３件目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の特定贈与者から取得した財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00400" type="EBB00400-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00410" type="EBB00410-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00420" type="EBB00420-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00430" type="EBB00430-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00425" type="EBB00425-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00440" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00450" type="EBB00450-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00460" type="EBB00460-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00470" type="EBB00470-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00475" type="EBB00475-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00490" type="EBB00490-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00495" type="EBB00495-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00500" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去の年分の申告において控除した特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以降に繰り越される特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBB00630" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"上記の特定贈与者からの贈与により取得した財産に係る過去の相続時精算課税分の贈与税の申告状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00640" type="EBB00640-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告した税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00650" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受けた年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBB00670" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBB00680" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KSA020-2-6-0type">
<xsd:sequence>

<xsd:element name="EBC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBC00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBC00015" type="EBC00015-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定贈与者の住所・氏名(フリガナ)　申告者との続柄・生年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00045" type="EBD00045-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00050" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄(上記以外)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBD00080" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"左の特定贈与者から取得した財産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBD00090" type="EBD00090-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00100" type="EBD00100-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00110" type="EBD00110-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00120" type="EBD00120-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分・銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00125" type="EBD00125-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外財産該当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00140" type="EBD00140-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00150" type="EBD00150-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00160" type="EBD00160-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00165" type="EBD00165-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(数量・単価)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00180" type="EBD00180-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00185" type="EBD00185-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分(固定資産税評価額・倍数)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EBD00210" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"上記の特定贈与者からの贈与により取得した財産に係る過去の相続時精算課税分の贈与税の申告状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBD00220" type="EBD00220-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告した税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00230" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除を受けた年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EBD00250" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EBD00260" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="EBA00015-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EBB00020-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EBB00065-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EBB00120-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00130-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00140-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00150-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBB00155-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00170-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00180-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00190-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00195-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00210-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00215-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBB00260-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00270-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00280-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00290-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBB00295-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00310-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00320-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00330-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00335-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00350-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00355-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBB00400-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00410-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00420-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00430-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBB00425-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBB00450-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00460-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00470-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00475-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00490-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00495-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBB00640-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBC00015-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EBD00045-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="EBD00090-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="43"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="51"/><xsd:enumeration value="53"/><xsd:enumeration value="54"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBD00100-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00110-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00120-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EBD00125-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EBD00140-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00150-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00160-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00165-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00180-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00185-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EBD00220-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EBB00170-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00170-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00190-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00190-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00210-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00210-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00310-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00310-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00330-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00330-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00350-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00350-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00450-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00450-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00470-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00470-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBB00490-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBB00490-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBD00140-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBD00140-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBD00160-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBD00160-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EBD00180-6-0type">
<xsd:simpleContent>
<xsd:extension base="EBD00180-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
