etax/19XMLスキーマ/shisan/KSB040-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：居住用の区分所有財産の評価に係る区分所有補正率の計算明細書(令和六年一月一日以降用)
version：2.0
Date：2025年06月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSB040-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSB040-2-0group">
<xsd:sequence>
<xsd:element name="KSB040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOA00000" type="EOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住居表示）所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EOB00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EOC00000" type="EOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSB040-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EOA00000-2-0type">
<xsd:sequence>

<xsd:element name="EOA00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（住居表示）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOA00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EOC00000-2-0type">
<xsd:sequence>

<xsd:element name="EOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分所有補正率の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00030" type="EOC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"築年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00040" type="EOC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)＊－0.033"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00060" type="EOC00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総階数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00070" type="EOC00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総階数指数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00080" type="EOC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)＊0.239"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00100" type="EOC00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在階"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00110" type="EOC00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)＊0.018"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00130" type="EOC00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専有部分の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00140" type="EOC00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"敷地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"敷地権の割合（共有持分の割合）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00160" type="EOC00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00170" type="EOC00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00180" type="EOC00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"敷地利用権の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00190" type="EOC00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"敷地持分狭小度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00200" type="EOC00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)＊－1.195"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00210" type="EOC00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価乖離率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00220" type="EOC00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価水準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分所有補正率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EOC00240" type="EOC00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分所有補正率（数値）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOC00250" type="EOC00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分所有補正率（文字列）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EOC00260" type="EOC00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EOC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00110-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00140-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00170-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00180-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00210-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00220-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EOC00260-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EOC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EOC00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="EOC00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
