etax/19XMLスキーマ/shisan/KSE088-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：税額控除額及び納税猶予税額の内訳書(第8の8表)(令和5年1月分以降用)
version：1.0
Date：2023年05月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE088-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE088-1-0group">
<xsd:sequence>
<xsd:element name="KSE088">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FYA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FYB00000" type="FYB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　税額控除額（左列）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00000" type="FYC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　税額控除額（右列）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00000" type="FYD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　納税猶予税額（左列）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00000" type="FYE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　納税猶予税額（右列）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE088-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FYB00000-1-0type">
<xsd:sequence>

<xsd:element name="FYB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYC00000-1-0type">
<xsd:sequence>

<xsd:element name="FYC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYD00000-1-0type">
<xsd:sequence>

<xsd:element name="FYD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用資産納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FYE00000-1-0type">
<xsd:sequence>

<xsd:element name="FYE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業用資産納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FYE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
