etax/19XMLスキーマ/shisan/KSE080-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：外国税額控除額・農地等納税猶予税額の計算書(第8表)(平成31年1月分以降用)
version：1.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE080-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE080-1-0group">
<xsd:sequence>
<xsd:element name="KSE080">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FSA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FSB00000" type="FSB00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"１　外国税額控除　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00000" type="FSC00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"２　農地等納税猶予税額　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE080-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FSB00000-1-0type">
<xsd:sequence>

<xsd:element name="FSB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国で相続税に相当する税を課せられた人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国の法令により課せられた税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSB00030" type="FSB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名及び税の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSB00060" type="FSB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)の日現在における邦貨換算率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"邦貨換算税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"邦貨換算在外純財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00090" type="FSB00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((5)の金額／取得財産の価額)の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除後の税額*(6)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FSC00000-1-0type">
<xsd:sequence>

<xsd:element name="FSC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予の基となる税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額の計算上の税額控除の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FSC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除額の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３表(9)の各農業相続人の算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FSC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((3)－((4)＋(5)))の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FSC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FSB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FSB00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FSB00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FSB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="FSB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FSB00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="FSB00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
