etax/19XMLスキーマ/shisan/KSE090-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：生命保険金などの明細書(第9表)(平成21年4月分以降用)
version：1.0
Date：2019年02月08日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE090-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE090-1-0group">
<xsd:sequence>
<xsd:element name="KSE090">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FTA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FTB00000" type="FTB00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"１　相続や遺贈によって取得したものとみなされる保険金など　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00000" type="FTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　課税される金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE090-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FTB00000-1-0type">
<xsd:sequence>

<xsd:element name="FTB00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険会社等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FTC00000-1-0type">
<xsd:sequence>

<xsd:element name="FTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金の非課税限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FTC00020" type="FTC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２表の(A)の法定相続人の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金の非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FTC00040" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FTC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などを受け取った相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受け取った保険金などの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FTC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FTC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受け取った保険金などの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FTC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FTC00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FTC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="FTC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
