etax/19XMLスキーマ/shisan/KSE011-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税の申告書(続)(第1表(続))(令和5年1月分以降用)
version：2.0
Date：2023年05月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE011-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE011-2-0group">
<xsd:sequence>
<xsd:element name="KSE011">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FBC00000" type="FBC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告の場合の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FBA00000" type="FBA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人(左列)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00000" type="FBB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人(右列)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE011-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FBA00000-2-0type">
<xsd:sequence>

<xsd:element name="FBA00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00050" type="FBA00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00090" type="FBA00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00100" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得原因"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00470" type="FBA00470-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00480" type="FBA00480-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺贈"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00490" type="FBA00490-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税に係る贈与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の算出税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00210" type="FBA00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あん分割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予の適用を受ける場合　算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の納付・還付税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00285" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)・(13)以外の税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告書である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この修正前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計の増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき税額又は還付される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBA00510" type="FBA00510-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(加算税)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00520" type="FBA00520-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(還付金振込)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBA00460" type="gen:nozeisha-id" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用者識別番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FBB00000-2-0type">
<xsd:sequence>

<xsd:element name="FBB00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00050" type="FBB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00090" type="FBB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00100" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得原因"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00470" type="FBB00470-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00480" type="FBB00480-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺贈"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00490" type="FBB00490-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税に係る贈与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の算出税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00210" type="FBB00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あん分割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予の適用を受ける場合　算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の納付・還付税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00285" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)・(13)以外の税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告書である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この修正前の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FBB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計の増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告により納付すべき税額又は還付される税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FBB00510" type="FBB00510-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(加算税)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00520" type="FBB00520-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(還付金振込)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FBB00460" type="gen:nozeisha-id" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用者識別番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FBC00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FBA00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FBA00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="11"/><xsd:enumeration value="21"/><xsd:enumeration value="12"/><xsd:enumeration value="22"/><xsd:enumeration value="13"/><xsd:enumeration value="23"/><xsd:enumeration value="14"/><xsd:enumeration value="24"/><xsd:enumeration value="15"/><xsd:enumeration value="25"/><xsd:enumeration value="16"/><xsd:enumeration value="26"/><xsd:enumeration value="17"/><xsd:enumeration value="27"/><xsd:enumeration value="18"/><xsd:enumeration value="28"/><xsd:enumeration value="19"/><xsd:enumeration value="29"/><xsd:enumeration value="90"/><xsd:enumeration value="30"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="51"/><xsd:enumeration value="52"/><xsd:enumeration value="61"/><xsd:enumeration value="63"/><xsd:enumeration value="62"/><xsd:enumeration value="64"/><xsd:enumeration value="10"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBA00470-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBA00480-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBA00490-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FBA00210-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FBA00510-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBA00520-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FBB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FBB00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="11"/><xsd:enumeration value="21"/><xsd:enumeration value="12"/><xsd:enumeration value="22"/><xsd:enumeration value="13"/><xsd:enumeration value="23"/><xsd:enumeration value="14"/><xsd:enumeration value="24"/><xsd:enumeration value="15"/><xsd:enumeration value="25"/><xsd:enumeration value="16"/><xsd:enumeration value="26"/><xsd:enumeration value="17"/><xsd:enumeration value="27"/><xsd:enumeration value="18"/><xsd:enumeration value="28"/><xsd:enumeration value="19"/><xsd:enumeration value="29"/><xsd:enumeration value="90"/><xsd:enumeration value="30"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="51"/><xsd:enumeration value="52"/><xsd:enumeration value="61"/><xsd:enumeration value="63"/><xsd:enumeration value="62"/><xsd:enumeration value="64"/><xsd:enumeration value="10"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBB00470-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBB00480-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBB00490-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FBB00210-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FBB00510-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FBB00520-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="FBA00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FBA00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FBA00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="FBA00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FBB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FBB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FBB00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="FBB00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
