etax/19XMLスキーマ/shisan/KSE040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税額の加算金額の計算書(第4表)(平成31年1月分以降用)
version：1.0
Date：2019年06月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE040-1-0group">
<xsd:sequence>
<xsd:element name="KSE040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FEA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FEB00000" type="FEB00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FEB00000-1-0type">
<xsd:sequence>

<xsd:element name="FEB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算の対象となる人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の税額控除前の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税に係る贈与を受けている人で、かつ、相続開始の時までに被相続人との続柄に変更（養子縁組の解消等）があった場合に入力します。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人の一親等の血族であった期間内にその被相続人から相続時精算課税に係る贈与によって取得した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人から相続、遺贈や相続時精算課税に係る贈与によって取得した財産などで相続税の課税価格に算入された財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算の対象とならない相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第70条の２の２第10項第２号に規定する管理残額がある場合の加算の対象とならない相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第70条の２の３第10項第２号に規定する管理残額がある場合の加算の対象とならない相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
