etax/19XMLスキーマ/shisan/KSE043-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税額の加算金額の計算書付表(第4表の付表)(令和6年4月分以降用)
version：4.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE043-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE043-4-0group">
<xsd:sequence>
<xsd:element name="KSE043">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FWA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FWC00000" type="FWC00000-4-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"措置法第70条の２の３第12項第２号((直系尊属から結婚・子育て資金の一括贈与を受けた場合の贈与税の非課税))に規定する管理残額がある場合　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE043-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FWC00000-4-0type">
<xsd:sequence>

<xsd:element name="FWC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算の対象となる人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の税額控除前の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人から相続や遺贈により取得したものとみなされる管理残額のうち、加算の対象とならない部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人から相続、遺贈や相続時精算課税に係る贈与によって取得した財産で相続税の課税価格に算入された財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)－(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FWC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算の対象とならない相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
