etax/19XMLスキーマ/shisan/KSE050-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：配偶者の税額軽減額の計算書(第5表)(令和6年1月分以降用)
version：2.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE050-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE050-2-0group">
<xsd:sequence>
<xsd:element name="KSE050">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FGA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FGB00000" type="FGB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　一般の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00000" type="FGC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　配偶者以外の人が農業相続人である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE050-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FGB00000-2-0type">
<xsd:sequence>

<xsd:element name="FGB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額のうち配偶者の法定相続分相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の(A)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGB00040" type="FGB00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00050" type="FGB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分相当額　(イ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額を計算する場合の課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額から控除する債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)未分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（(2)－(3)）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（(1)－(4)＋(5)）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)の金額と(6)の金額のうちいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の基となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の(9)又は(10)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の(12)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の限度額　(ロ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額　(ハ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FGC00000-2-0type">
<xsd:sequence>

<xsd:element name="FGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額のうち配偶者の法定相続分相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３表の(A)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGC00040" type="FGC00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00050" type="FGC00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の法定相続分相当額　(ニ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額を計算する場合の課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額から控除する債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)未分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（(12)－(13)）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（(11)－(14)＋(15)）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)の金額と(16)の金額のうちいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の基となる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FGC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の(10)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の(12)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FGC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減の限度額　(ホ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FGC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額　(へ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FGB00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGC00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FGC00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FGB00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGB00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGC00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGC00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FGC00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="FGC00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
