etax/19XMLスキーマ/shisan/KSE110-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税がかかる財産の明細書(相続時精算課税適用財産を除きます。)(第11表)(令和2年4月分以降用)
version：4.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE110-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE110-4-0group">
<xsd:sequence>
<xsd:element name="KSE110">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FHA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FHB00000" type="FHB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺産の分割状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00000" type="FHC00000-4-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00000" type="FHD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE110-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FHB00000-4-0type">
<xsd:sequence>

<xsd:element name="FHB00005" type="FHB00005-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　全部分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　一部分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FHC00000-4-0type">
<xsd:sequence>

<xsd:element name="FHC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00030" type="FHC00030-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00040" type="FHC00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00055" type="FHC00055-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00060" type="FHC00060-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00070" type="FHC00070-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計文字（小計）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分、銘柄等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00085" type="FHC00085-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用区分、銘柄等名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00090" type="FHC00090-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00100" type="FHC00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他利用区分、銘柄等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00120" type="FHC00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00130" type="FHC00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00140" type="FHC00140-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00150" type="FHC00150-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00160" type="FHC00160-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00170" type="FHC00170-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00180" type="FHC00180-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00190" type="FHC00190-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00210" type="FHC00210-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00220" type="FHC00220-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00250" type="FHC00250-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00260" type="FHC00260-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分（数量・単価）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00280" type="FHC00280-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"倍数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00290" type="FHC00290-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00320" type="FHC00320-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00340" type="FHC00340-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHC00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割が確定した財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00360" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHC00380" type="FHC00380-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FHD00000-4-0type">
<xsd:sequence>

<xsd:element name="FHD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（各人の合計）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の取得財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FHD00050" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FHD00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FHD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の取得財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FHB00005-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00030-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00040-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00055-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHC00060-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="21"/><xsd:enumeration value="31"/><xsd:enumeration value="32"/><xsd:enumeration value="33"/><xsd:enumeration value="34"/><xsd:enumeration value="44"/><xsd:enumeration value="45"/><xsd:enumeration value="46"/><xsd:enumeration value="47"/><xsd:enumeration value="48"/><xsd:enumeration value="51"/><xsd:enumeration value="61"/><xsd:enumeration value="71"/><xsd:enumeration value="72"/><xsd:enumeration value="73"/><xsd:enumeration value="74"/><xsd:enumeration value="75"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00070-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00085-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHC00090-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/><xsd:enumeration value="17"/><xsd:enumeration value="18"/><xsd:enumeration value="19"/><xsd:enumeration value="20"/><xsd:enumeration value="21"/><xsd:enumeration value="22"/><xsd:enumeration value="23"/><xsd:enumeration value="24"/><xsd:enumeration value="25"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00100-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00120-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00130-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHC00140-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00150-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00160-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FHC00170-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FHC00180-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00190-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00210-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00220-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00250-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00260-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00280-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00290-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00320-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00340-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FHC00380-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FHC00210-4-0type">
<xsd:simpleContent>
<xsd:extension base="FHC00210-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHC00250-4-0type">
<xsd:simpleContent>
<xsd:extension base="FHC00250-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FHC00280-4-0type">
<xsd:simpleContent>
<xsd:extension base="FHC00280-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
