etax/19XMLスキーマ/shisan/KSE100-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：退職手当金などの明細書(第10表)(令和6年1月分以降用)
version：2.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE100-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE100-2-0group">
<xsd:sequence>
<xsd:element name="KSE100">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FUA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FUB00000" type="FUB00000-2-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"１　相続や遺贈によって取得したものとみなされる退職手当金など　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00000" type="FUC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　課税される金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE100-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FUB00000-2-0type">
<xsd:sequence>

<xsd:element name="FUB00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤務先会社等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤務先会社等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00040" type="FUB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金などの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FUC00000-2-0type">
<xsd:sequence>

<xsd:element name="FUC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金などの非課税限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FUC00020" type="FUC00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２表の(A)の法定相続人の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金などの非課税限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FUC00040" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FUC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金などを受け取った相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受け取った退職手当金などの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FUC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FUC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受け取った退職手当金などの金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FUC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FUB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FUC00020-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FUC00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="FUC00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
