etax/19XMLスキーマ/shisan/KSE130-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：債務及び葬式費用の明細書(第13表)(令和2年4月分以降用)
version：2.0
Date：2020年07月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE130-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE130-2-0group">
<xsd:sequence>
<xsd:element name="KSE130">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FMA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FMB00000" type="FMB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　債務の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMC00000" type="FMC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　葬式費用の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00000" type="FMD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　債務及び葬式費用の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE130-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FMB00000-2-0type">
<xsd:sequence>

<xsd:element name="FMB00010" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMB00030" type="FMB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00040" type="FMB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMB00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"弁済期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した債務"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担する人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FMC00000-2-0type">
<xsd:sequence>

<xsd:element name="FMC00010" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"葬式費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMC00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した葬式費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMC00090" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担する人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FMD00000-2-0type">
<xsd:sequence>

<xsd:element name="FMD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（各人の合計）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定していない債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"葬式費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定していない葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMD00110" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務などを承継した人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定していない債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"葬式費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FMD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定した葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負担することが確定していない葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FMD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FMD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="FMB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FMB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
