etax/19XMLスキーマ/shisan/KSE151-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続財産の種類別価額表(続)(第15表(続))(平成30年分以降用)
version：1.0
Date：2019年02月08日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE151-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE151-1-0group">
<xsd:sequence>
<xsd:element name="KSE151">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FPA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FPB00000" type="FPB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE151-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FPB00000-1-0type">
<xsd:sequence>

<xsd:element name="FPB00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人（左列）　氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人（左列）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地（土地の上に存する権利を含みます。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"田"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"畑"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"宅地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち特例農地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格による価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋、構築物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業（農業）用財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械、器具、農耕具、その他の減価償却資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品、製品、半製品、原材料、農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定同族会社の株式及び出資"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当還元方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)及び(16)以外の株式及び出資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公債及び社債"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券投資信託、貸付信託の受益証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金、預貯金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家庭用財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち株式等納税猶予対象の株式等の価額の80％の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち株式等納税猶予対象の株式等の価額の80％の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち特例株式等納税猶予対象の株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち特例株式等納税猶予対象の株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00520" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人（右列）　氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人（右列）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地（土地の上に存する権利を含みます。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"田"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"畑"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"宅地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)のうち特例農地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格による価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋、構築物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業（農業）用財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械、器具、農耕具、その他の減価償却資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品、製品、半製品、原材料、農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定同族会社の株式及び出資"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当還元方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)及び(16)以外の株式及び出資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公債及び社債"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証券投資信託、貸付信託の受益証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金、預貯金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家庭用財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職手当金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち株式等納税猶予対象の株式等の価額の80％の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち株式等納税猶予対象の株式等の価額の80％の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち特例株式等納税猶予対象の株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち特例株式等納税猶予対象の株式等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FPB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"葬式費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FPB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引純資産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FPB01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
