etax/19XMLスキーマ/shisan/KSE160-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税がかかる財産の合計表(第11表)(令和6年1月分以降用)
version：1.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE160-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE160-1-0group">
<xsd:sequence>
<xsd:element name="KSE160">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EJA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EJB00000" type="EJB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　遺産の分割状況及び財産取得者の一覧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJC00000" type="EJC00000-1-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"２　取得財産の価額の合計表　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE160-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EJB00000-1-0type">
<xsd:sequence>

<xsd:element name="EJB00010" type="EJB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺産の分割状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割の日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全部分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一部分割"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJB00050" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"財産取得者の一覧　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJB00060" type="EJB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EJC00000-1-0type">
<xsd:sequence>

<xsd:element name="EJC00010" type="EJC00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人の番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未分割財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EJB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJC00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EJB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="EJB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="EJB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJC00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="EJC00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
