etax/19XMLスキーマ/shisan/KSE311-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税の修正申告書(続)(第1表(続))(平成31年1月分以降用)
version：1.1
Date：2021年09月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE311-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE311-1-1group">
<xsd:sequence>
<xsd:element name="KSE311">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00000" type="GBA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人(左列)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00000" type="GBB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産を取得した人(右列)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE311-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GBA00000-1-1type">
<xsd:sequence>

<xsd:element name="GBA00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00050" type="GBA00050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00090" type="GBA00090-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00100" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得原因"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00120" type="GBA00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00130" type="GBA00130-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺贈"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00140" type="GBA00140-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税に係る贈与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の算出税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あん分割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00430" type="GBA00430-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00440" type="GBA00440-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00450" type="GBA00450-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の納付・還付税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBA01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBA01175" type="GBA01175-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(加算税)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBA01180" type="gen:nozeisha-id" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用者識別番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GBB00000-1-1type">
<xsd:sequence>

<xsd:element name="GBB00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00050" type="GBB00050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00060" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00080" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00090" type="GBB00090-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00100" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得原因"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00120" type="GBB00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00130" type="GBB00130-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"遺贈"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00140" type="GBB00140-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税に係る贈与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税適用財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の算出税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あん分割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00430" type="GBB00430-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00440" type="GBB00440-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00450" type="GBB00450-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等納税猶予の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各人の納付・還付税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正前の課税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正する額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBB01175" type="GBB01175-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(加算税)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB01180" type="gen:nozeisha-id" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用者識別番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GBA00050-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GBA00090-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="11"/><xsd:enumeration value="21"/><xsd:enumeration value="12"/><xsd:enumeration value="22"/><xsd:enumeration value="13"/><xsd:enumeration value="23"/><xsd:enumeration value="14"/><xsd:enumeration value="24"/><xsd:enumeration value="15"/><xsd:enumeration value="25"/><xsd:enumeration value="16"/><xsd:enumeration value="26"/><xsd:enumeration value="17"/><xsd:enumeration value="27"/><xsd:enumeration value="18"/><xsd:enumeration value="28"/><xsd:enumeration value="19"/><xsd:enumeration value="29"/><xsd:enumeration value="90"/><xsd:enumeration value="30"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="51"/><xsd:enumeration value="52"/><xsd:enumeration value="61"/><xsd:enumeration value="63"/><xsd:enumeration value="62"/><xsd:enumeration value="64"/><xsd:enumeration value="10"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBA00120-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBA00130-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBA00140-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GBA00430-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBA00440-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBA00450-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GBA01175-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GBB00050-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GBB00090-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="11"/><xsd:enumeration value="21"/><xsd:enumeration value="12"/><xsd:enumeration value="22"/><xsd:enumeration value="13"/><xsd:enumeration value="23"/><xsd:enumeration value="14"/><xsd:enumeration value="24"/><xsd:enumeration value="15"/><xsd:enumeration value="25"/><xsd:enumeration value="16"/><xsd:enumeration value="26"/><xsd:enumeration value="17"/><xsd:enumeration value="27"/><xsd:enumeration value="18"/><xsd:enumeration value="28"/><xsd:enumeration value="19"/><xsd:enumeration value="29"/><xsd:enumeration value="90"/><xsd:enumeration value="30"/><xsd:enumeration value="41"/><xsd:enumeration value="42"/><xsd:enumeration value="51"/><xsd:enumeration value="52"/><xsd:enumeration value="61"/><xsd:enumeration value="63"/><xsd:enumeration value="62"/><xsd:enumeration value="64"/><xsd:enumeration value="10"/><xsd:enumeration value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBB00120-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBB00130-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GBB00140-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GBB00430-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBB00440-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="1"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBB00450-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GBB01175-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="GBA00050-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBA00050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBA00430-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBA00430-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBA00440-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBA00440-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBA00450-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBA00450-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBB00050-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBB00050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBB00430-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBB00430-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBB00440-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBB00440-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBB00450-1-1type">
<xsd:simpleContent>
<xsd:extension base="GBB00450-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
