etax/19XMLスキーマ/shisan/KSE350-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：配偶者の税額軽減額の計算書(付表)(第5表の付表)(令和6年1月分以降用)
version：3.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSE350-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSE350-3-0group">
<xsd:sequence>
<xsd:element name="KSE350">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GDA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GDB00000" type="GDB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第５表各欄の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSE350-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GDB00000-3-0type">
<xsd:sequence>

<xsd:element name="GDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　相続税法第19条の２第５項の規定により読み替えられた同条第１項第２号に規定する「相続税の総額」及び「課税価格の合計額」の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の「各人の合計」の[4]の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の「各人の合計」の[5]の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([1]＋[2])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の「各人の合計」の([1]＋[2])の金額のうち配偶者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の「各人の合計」の[3]の金額のうち配偶者が仮装した債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([4]＋[5])の金額と第１表の「各人の合計」の[4]の金額のうちいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の「各人の合計」の[5]の金額のうち配偶者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([6]＋[7])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([3]－[8])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[9]の金額に相当する相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　相続税法第19条の２第５項の規定により読み替えられた同条第１項第２号イに規定する「課税価格の合計額」の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の[1]の金額のうち納税義務者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の[3]の金額のうち納税義務者が仮装した債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([11]＋[12])の金額と第１表の配偶者の[4]の金額のうちいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の[5]の金額のうち納税義務者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([13]＋[14])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([3]－[15])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　相続税法第19条の２第５項により読み替えられた同条第１項第２号ロの「配偶者に係る相続税の課税価格」の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第11表２の配偶者の[1]の金額(分割財産の金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分割財産の価額から控除する債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GDB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の[3]の金額(債務及び葬式費用の金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第11表２の配偶者の[2]の金額(未分割財産の金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([18]－[19])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GDB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([17]－[20])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１表の配偶者の[5]の金額(純資産価額に加算される暦年課税分の贈与財産価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[17]の金額のうち納税義務者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[18]の金額のうち納税義務者が仮装した債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([23]＋[24])の金額と[21]の金額のうちいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[22]の金額のうち納税義務者が隠蔽又は仮装した財産の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([25]＋[26])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GDB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"([21]＋[22]－[27])の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
