etax/19XMLスキーマ/shisan/KSZ040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：使用貸借による権利の全部を引き継いだ合併法人又は分割承継法人が特定農業生産法人に該当する旨の届出書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ040-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ040-1-1group">
<xsd:sequence>
<xsd:element name="KSZ040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BGA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BGC00000" type="BGC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BGD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用貸借による権利の設定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BGE00000" type="BGE00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併により消滅した特定農業生産法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00000" type="BGF00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BGG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　合併した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGH00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　権利を引き継いだ日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BGI00000" type="BGI00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGJ00000" type="BGJ00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ040-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BGC00000-1-1type">
<xsd:sequence>

<xsd:element name="BGC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGE00000-1-1type">
<xsd:sequence>

<xsd:element name="BGE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGF00000-1-1type">
<xsd:sequence>

<xsd:element name="BGF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGI00000-1-1type">
<xsd:sequence>

<xsd:element name="BGI00010" type="BGI00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就任区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGI00020" type="BGI00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常時従事者区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGI00030" type="BGI00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事日数1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGI00040" type="BGI00040-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事日数2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGJ00000-1-1type">
<xsd:sequence>

<xsd:element name="BGJ00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGJ00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BGI00010-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BGI00020-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BGI00030-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="366"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGI00040-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="366"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BGI00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="BGI00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGI00040-1-1type">
<xsd:simpleContent>
<xsd:extension base="BGI00040-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
