etax/19XMLスキーマ/shisan/KSZ041-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙　使用貸借による権利を引き継いだ農地等の明細書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ041-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ041-1-1group">
<xsd:sequence>
<xsd:element name="KSZ041">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BHA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BHB00000" type="BHB00000-1-1type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ041-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BHB00000-1-1type">
<xsd:sequence>

<xsd:element name="BHB00010" type="BHB00010-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00030" type="BHB00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00040" type="BHB00040-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用貸借による権利の設定許可日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BHB00010-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHB00030-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHB00040-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BHB00010-1-1type">
<xsd:simpleContent>
<xsd:extension base="BHB00010-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BHB00040-1-1type">
<xsd:simpleContent>
<xsd:extension base="BHB00040-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
