etax/19XMLスキーマ/shisan/KSZ163-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第14表(医療事業を行う法人/社会福祉事業を行う法人用)
version：2.0
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ163-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ163-2-0group">
<xsd:sequence>
<xsd:element name="KSZ163">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00000" type="BCA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10-4法人の事業の規模等－社会福祉事業を行う法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00000" type="BCB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10-5法人の事業の規模等－医療事業を行う法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ163-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BCA00000-2-0type">
<xsd:sequence>

<xsd:element name="BCA00090" type="BCA00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"法人明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00030" type="BCA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の設置する施設の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00040" type="BCA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"施設の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00050" type="BCA00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収容定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00060" type="BCA00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)実際の収容人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCA00070" type="BCA00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)のうち措置委託又は保育の実施による人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCA00080" type="BCA00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置委託又は保育の実施によらない者から徴収する利用料金及びその決定方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCB00000-2-0type">
<xsd:sequence>

<xsd:element name="BCB00670" type="BCB00670-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)入院患者の収容人員等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00030" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"収容人員明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00040" type="BCB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00050" type="BCB00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収容定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00060" type="BCB00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実際の収容人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"救急病院又は救急診療所の告示"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00080" type="BCB00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"告示年月日・告示なし"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00100" type="BCB00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入院患者用ベッド総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00110" type="BCB00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち差額ベッドの数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差額ベッド１台当り差額料金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最低金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療時間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00180" type="BCB00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00190" type="BCB00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"救急診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00210" type="BCB00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00220" type="BCB00220-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日曜祭日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00260" type="BCB00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00270" type="BCB00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00250" type="BCB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療時間・休診区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"救急診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00300" type="BCB00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00310" type="BCB00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了時間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00290" type="BCB00290-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療時間・休診区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療計画への掲載又は公示"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00690" type="BCB00690-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"掲載又は公示されている都道府県"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00700" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公示・掲載年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00710" type="BCB00710-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)診療収入の明細（寄附をした日の属する年の前年１年間（個人で開業していた期間を含む。））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00340" type="BCB00340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00380" type="BCB00380-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00390" type="BCB00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬が社会保険診療報酬と異なる基準の場合はその基準（１点単価等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"介護保険給付"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00730" type="BCB00730-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00770" type="BCB00770-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00780" type="BCB00780-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬が社会保険診療報酬と異なる基準の場合はその基準（１点単価等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00400" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"診療収入の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00410" type="BCB00410-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療収入の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00420" type="BCB00420-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00460" type="BCB00460-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00470" type="BCB00470-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬が社会保険診療報酬と異なる基準の場合はその基準（１点単価等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00490" type="BCB00490-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00530" type="BCB00530-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00540" type="BCB00540-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬が社会保険診療報酬と異なる基準の場合はその基準（１点単価等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療外収入"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00560" type="BCB00560-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00600" type="BCB00600-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構成比"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00610" type="BCB00610-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬が社会保険診療報酬と異なる基準の場合はその基準（１点単価等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCB00630" type="BCB00630-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"患者から受けた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BCA00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCA00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00670-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCB00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCB00100-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00220-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00270-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCB00250-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCB00300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCB00290-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCB00690-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCB00710-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCB00340-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00380-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00390-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00730-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00770-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00780-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00410-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00420-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00460-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00470-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00490-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00530-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00540-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00560-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00600-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00610-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCB00630-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BCA00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCA00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCA00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCA00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCA00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCA00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00220-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00220-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00340-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00380-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00380-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00730-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00730-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00770-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00770-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00420-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00420-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00460-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00460-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00490-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00490-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00530-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00530-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00560-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00560-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00600-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00600-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCB00630-2-0type">
<xsd:simpleContent>
<xsd:extension base="BCB00630-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
