etax/19XMLスキーマ/shisan/KSZ158-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第9表
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ158-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ158-1-0group">
<xsd:sequence>
<xsd:element name="KSZ158">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00000" type="AXA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8借入金等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ158-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AXA00000-1-0type">
<xsd:sequence>

<xsd:element name="AXA00420" type="AXA00420-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)借入金の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00030" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"借入金の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元金の返済額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00110" type="AXA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00120" type="AXA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保の種類及び担保物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00130" type="AXA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金の使途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)借入金の返済資金の調達計画"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年度目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元利合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年度目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元利合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年度目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元利合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年度目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元利合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年度目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の元利合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己資金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)寄附を受けた法人以外の者が債務者である債務の担保となっている土地又は建物"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00210" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"土地又は建物明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保となっている土地又は建物"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00230" type="AXA00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00240" type="AXA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00250" type="AXA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00270" type="AXA00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00280" type="AXA00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00290" type="AXA00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務者と寄附者、役員等又はこれらの者の親族等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担保権設定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)寄附を受けた法人が保証人となっている債務の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00340" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"債務の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AXA00360" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00370" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AXA00380" type="AXA00380-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる債務者と寄附者、役員等又はこれらの者の親族等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証した債務額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証した債務の弁済期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AXA00410" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証人となった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AXA00420-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="39"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="39"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00250-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AXA00380-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="27"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AXA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="AXA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AXA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="AXA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
