etax/19XMLスキーマ/shisan/KSZ151-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第3表
version：2.0
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ151-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ151-2-0group">
<xsd:sequence>
<xsd:element name="KSZ151">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00000" type="AQA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 寄附財産の明細及び使用目的等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ151-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AQA00000-2-0type">
<xsd:sequence>

<xsd:element name="AQA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00190" type="AQA00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00200" type="AQA00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(地目・構造等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00210" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00220" type="AQA00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(面積等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費によらない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額・設備費・改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の代表者の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00360" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00370" type="AQA00370-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00390" type="AQA00390-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始予定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始(予定)年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00410" type="AQA00410-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00430" type="AQA00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00440" type="AQA00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(地目・構造等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00450" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00460" type="AQA00460-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(面積等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費によらない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額・設備費・改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の代表者の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00600" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00610" type="AQA00610-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00630" type="AQA00630-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始予定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00640" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始(予定)年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00650" type="AQA00650-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号３"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00670" type="AQA00670-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00680" type="AQA00680-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(地目・構造等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00690" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00700" type="AQA00700-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(面積等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00720" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費によらない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額・設備費・改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の代表者の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00840" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00850" type="AQA00850-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00870" type="AQA00870-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始予定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00880" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始(予定)年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00890" type="AQA00890-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号４"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00910" type="AQA00910-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00920" type="AQA00920-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(地目・構造等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00930" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00940" type="AQA00940-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(面積等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00960" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費によらない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額・設備費・改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の代表者の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01090" type="AQA01090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01110" type="AQA01110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始予定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始(予定)年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01130" type="AQA01130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号５"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01150" type="AQA01150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01160" type="AQA01160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目(地目・構造等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01170" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01180" type="AQA01180-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量(面積等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与又は遺贈した財産の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費によらない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額・設備費・改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"概算取得費による場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡に要した費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請の代表者の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01320" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01330" type="AQA01330-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者以外の申請者の持分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AQA01340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AQA01350" type="AQA01350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始予定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始(予定)年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AQA01370" type="AQA01370-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AQA00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00370-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQA00390-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQA00410-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00430-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00440-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00460-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00610-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQA00630-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQA00650-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00670-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00680-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00700-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00850-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQA00870-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQA00890-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00910-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00920-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA00940-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA01090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQA01110-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQA01130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA01150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA01160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA01180-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AQA01330-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AQA01350-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AQA01370-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
