etax/19XMLスキーマ/shisan/KSZ192-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙　特例農地等に係る農業経営に関する明細書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ192-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ192-1-0group">
<xsd:sequence>
<xsd:element name="KSZ192">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BOA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者・相続人（受遺者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BOB00000" type="BOB00000-1-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"継続届出書の提出期限の属する年の前１年目における特例農地等に係る農業経営に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00000" type="BOC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ192-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BOB00000-1-0type">
<xsd:sequence>

<xsd:element name="BOB00010" type="BOB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00030" type="BOB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00040" type="BOB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00050" type="BOB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOB00070" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00080" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOB00090" type="BOB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00100" type="BOB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産量・飼育頭羽数kg（頭羽）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00110" type="BOB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出荷量kg（頭羽）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な出荷先（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BOC00000-1-0type">
<xsd:sequence>

<xsd:element name="BOC00010" type="BOC00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00020" type="BOC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BOB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOB00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOC00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOC00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BOB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOC00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOC00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="BOC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
