etax/19XMLスキーマ/shisan/KSZ161-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第12表(育英事業を行う法人用)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ161-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ161-1-0group">
<xsd:sequence>
<xsd:element name="KSZ161">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00000" type="BAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10-2法人の事業の規模等-育英事業を行う法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ161-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BAA00000-1-0type">
<xsd:sequence>

<xsd:element name="BAA00690" type="BAA00690-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00020" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"(1)育英資金を得るための基金の運用の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00030" type="BAA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金となっている財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00040" type="BAA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の運用利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育英資金に充てている金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)奨学金の貸付け・支給の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00090" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"状況明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00100" type="BAA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象者の在学する学校の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00110" type="BAA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け・支給の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00120" type="BAA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1人当たりの月額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最低金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け又は支給の期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00173" type="BAA00173-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00176" type="BAA00176-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00180" type="BAA00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00190" type="BAA00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"奨学金を希望する者の応募資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00200" type="BAA00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出願手続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00210" type="BAA00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00700" type="BAA00700-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考委員会等の設置の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)奨学金の貸付け・支給の実績"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年前の年度(寄附した日の属する年度の前年度)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00250" type="BAA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00280" type="BAA00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00320" type="BAA00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00350" type="BAA00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00390" type="BAA00390-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00420" type="BAA00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00460" type="BAA00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00490" type="BAA00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00530" type="BAA00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00560" type="BAA00560-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の貸付け又は支給の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00580" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"(4)寄宿舎の設置の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00590" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00600" type="BAA00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"室数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00610" type="BAA00610-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00620" type="BAA00620-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入寮者の在学する学校の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00630" type="BAA00630-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収容定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00640" type="BAA00640-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実際の収容人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入寮者の負担金(月額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00660" type="BAA00660-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入寮希望者の応募資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00670" type="BAA00670-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出願手続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00680" type="BAA00680-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00710" type="BAA00710-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考委員会等の設置の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BAA00690-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="27"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BAA00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BAA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00173-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00176-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BAA00700-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BAA00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00390-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00530-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00560-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00610-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00620-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00630-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00640-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00660-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00670-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAA00680-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BAA00710-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="BAA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00173-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00173-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00176-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00176-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00390-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00390-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00560-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00560-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00610-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00610-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00630-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00630-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BAA00640-1-0type">
<xsd:simpleContent>
<xsd:extension base="BAA00640-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
