etax/19XMLスキーマ/shisan/KSZ195-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙　特例農地等に係る農業経営に関する明細書(相続税用)
version：1.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ195-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ195-1-0group">
<xsd:sequence>
<xsd:element name="KSZ195">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DEA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続人(受遺者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DEB00000" type="DEB00000-1-0type" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"１　継続届出書の提出期限の属する年の前１年目における特例農地等に係る農業経営に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00000" type="DEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ195-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DEB00000-1-0type">
<xsd:sequence>

<xsd:element name="DEB00010" type="DEB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00030" type="DEB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00040" type="DEB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00050" type="DEB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEB00070" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00080" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEB00090" type="DEB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00100" type="DEB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産量・飼育頭羽数kg(頭羽)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00110" type="DEB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出荷量kg(頭羽)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な出荷先(氏名・名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DEC00000-1-0type">
<xsd:sequence>

<xsd:element name="DEC00010" type="DEC00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00020" type="DEC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DEB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEB00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DEB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DEC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
