etax/19XMLスキーマ/shisan/KSZ157-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第8表
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ157-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ157-1-0group">
<xsd:sequence>
<xsd:element name="KSZ157">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00000" type="AWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7第7表の内訳明細表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ157-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AWA00000-1-0type">
<xsd:sequence>

<xsd:element name="AWA00400" type="AWA00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 法人が借り受けている土地及び建物の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00030" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"借受明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00040" type="AWA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地又は建物の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第7表の(1)欄又は(2)欄の番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00060" type="AWA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"カッコ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00070" type="AWA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00080" type="AWA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額(寄附時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の賃借料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受ける期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00140" type="AWA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利金の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸主"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00170" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00180" type="AWA00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00190" type="AWA00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸主と寄附者、役員等又はこれらの者の親族等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 法人が貸し付けている土地及び建物の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00220" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"貸付明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00230" type="AWA00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地又は建物の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第7表の(1)欄又は(2)欄の番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00250" type="AWA00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"カッコ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00260" type="AWA00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00270" type="AWA00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産税評価額(寄附時)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の賃貸料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸し付ける期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00330" type="AWA00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利金の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借主"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AWA00360" type="AWA00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00370" type="AWA00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AWA00380" type="AWA00380-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借主と寄附者、役員等又はこれらの者の親族等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AWA00390" type="AWA00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借主の用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AWA00400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWA00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWA00140-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWA00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWA00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWA00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00270-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWA00330-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AWA00360-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="36"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AWA00380-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AWA00390-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="AWA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AWA00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="AWA00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
