etax/19XMLスキーマ/shisan/KSZ130-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：租税特別措置法第40条の規定による承認申請書　第1表(遺贈者/死亡した贈与者用)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ130-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ130-1-0group">
<xsd:sequence>
<xsd:element name="KSZ130">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BKA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経由先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKC00000" type="BKC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00000" type="BKD00000-1-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"申請者（上記の者の相続人及び包括受遺者）　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BKE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKF00000" type="BKF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附の態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00000" type="BKG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の寄附を受けた法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BKH00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税庁長官の発する国税に関する書類を受領する代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BKI00000" type="BKI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ130-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BKC00000-1-0type">
<xsd:sequence>

<xsd:element name="BKC00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKC00050" type="BKC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKD00000-1-0type">
<xsd:sequence>

<xsd:element name="BKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・電話番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKD00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（生年月日）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKD00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKD00090" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKD00100" type="BKD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記の者との続柄又は関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKF00000-1-0type">
<xsd:sequence>

<xsd:element name="BKF00010" type="BKF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附の態様区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKF00020" type="BKF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附の態様区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKG00000-1-0type">
<xsd:sequence>

<xsd:element name="BKG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地電話番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKG00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKG00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00070" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BKG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BKG00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKG00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BKI00000-1-0type">
<xsd:sequence>

<xsd:element name="BKI00010" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BKI00030" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BKC00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BKD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BKF00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BKF00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="BKC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BKC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
