etax/19XMLスキーマ/shisan/KSZ154-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第5表
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ154-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ154-1-0group">
<xsd:sequence>
<xsd:element name="KSZ154">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00000" type="ATA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5 法人の機関の構成"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ154-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ATA00000-1-0type">
<xsd:sequence>

<xsd:element name="ATA00010" type="ATA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00015" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 理事又は責任役員"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00030" type="ATA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00040" type="ATA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00050" minOccurs="0" maxOccurs="15">
<xsd:annotation>
<xsd:appinfo>"理事又は責任役員明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00070" type="ATA00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00090" type="ATA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者との親族その他特殊関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00100" type="ATA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の理事又は監事との親族その他特殊関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人から受ける給料・報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00120" type="ATA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人における理事・責任役員以外の地位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00130" type="ATA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この法人以外の勤務先等関係する法人・団体の名称及びそこでの役職等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 監事"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00150" type="ATA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00160" type="ATA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00170" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"監事明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00190" type="ATA00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00210" type="ATA00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者との親族その他特殊関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00220" type="ATA00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"他の監事、理事又は評議員との親族その他特殊関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人から受ける給料・報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00240" type="ATA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人における監事以外の地位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00250" type="ATA00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この法人以外の勤務先等関係する法人・団体の名称及びそこでの役職等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ATA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ATA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
