etax/19XMLスキーマ/shisan/KSZ196-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特例農地等の異動の明細書(相続税用)
version：1.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ196-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ196-1-0group">
<xsd:sequence>
<xsd:element name="KSZ196">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DGA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続人(受遺者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DGB00000" type="DGB00000-1-0type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ196-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DGB00000-1-0type">
<xsd:sequence>

<xsd:element name="DGB00010" type="DGB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00030" type="DGB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00040" type="DGB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGB00070" type="DGB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DGB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGB00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DGB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="DGB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DGB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="DGB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
