etax/19XMLスキーマ/shisan/KSZ168-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第3表-付2
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ168-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ168-1-0group">
<xsd:sequence>
<xsd:element name="KSZ168">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00000" type="ASA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附財産がやむを得ない理由により譲渡された場合の明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ168-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ASA00000-1-0type">
<xsd:sequence>

<xsd:element name="ASA00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"(2) 譲渡財産の明細等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00030" type="ASA00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附財産番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲受者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00090" type="ASA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者と譲受者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡代金の預入銀行等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00130" type="ASA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00140" type="ASA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00150" type="ASA00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座名義"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00160" type="ASA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計　譲渡価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00180" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"(3) 代替取得資産の明細等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登記年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00210" type="ASA00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00220" type="ASA00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00230" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00240" type="ASA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得の相手方"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00270" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00280" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00290" type="ASA00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附者と取得の相手方との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA00310" type="ASA00310-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計　価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ASA00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA00310-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ASA00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ASA00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
