etax/19XMLスキーマ/shisan/KSZ181-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：別紙　貸付特例適用農地等及び借受代替農地等の明細書等
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ181-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ181-1-0group">
<xsd:sequence>
<xsd:element name="KSZ181">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BJA00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BJB00000" type="BJB00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BJC00000" type="BJC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等の合計面積上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJD00000" type="BJD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等の合計面積下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BJE00000" type="BJE00000-1-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"借受代替農地等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BJF00000" type="BJF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受代替農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ181-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BJB00000-1-0type">
<xsd:sequence>

<xsd:element name="BJB00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00020" type="BJB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00030" type="BJB00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00040" type="BJB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受者の氏名下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00060" type="BJB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受者の氏名上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受者の住所下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJB00080" type="BJB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受者の住所上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BJE00000-1-0type">
<xsd:sequence>

<xsd:element name="BJE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00020" type="BJE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00030" type="BJE00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00040" type="BJE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公告年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の存続期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BJE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"始期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BJE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BJB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJB00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BJB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BJB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="34"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJC00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJD00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BJE00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BJE00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BJF00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BJC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BJC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BJD00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BJD00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BJF00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="BJF00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BJB00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BJB00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BJE00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BJE00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
