etax/19XMLスキーマ/shisan/KSZ162-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第13表(助成事業を行う法人用)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ162-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ162-1-0group">
<xsd:sequence>
<xsd:element name="KSZ162">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00000" type="BBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10-3法人の事業の規模等－助成事業を行う法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ162-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BBA00000-1-0type">
<xsd:sequence>

<xsd:element name="BBA00540" type="BBA00540-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00020" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"(1)助成資金を得るための基金の運用の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00030" type="BBA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金となっている財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00040" type="BBA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１年間の運用利益"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成資金に充てている金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)助成を希望する者の応募資格等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00090" type="BBA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成を希望する者の応募資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00100" type="BBA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出願手続"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00110" type="BBA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00550" type="BBA00550-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"選考委員会等の設置の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00120" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"(3)寄附した日の属する年度における助成（予定）状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00130" type="BBA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成先の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00140" type="BBA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成の対象とした研究・事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00150" type="BBA00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成先と寄附者、役員等又はこれらの者の親族等との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00160" type="BBA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"研究成果の報告の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)助成金の支給の実績"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年前の年度（寄附した日の属する年度の前年度）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00210" type="BBA00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00240" type="BBA00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00280" type="BBA00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00310" type="BBA00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00350" type="BBA00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00380" type="BBA00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00420" type="BBA00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00450" type="BBA00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5年前の年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00490" type="BBA00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00520" type="BBA00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一年間の助成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BBA00540-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBA00550-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="18"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBA00160-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBA00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00380-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00420-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00490-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBA00520-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BBA00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBA00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="BBA00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
