etax/19XMLスキーマ/shisan/KSZ160-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：第11表(学校法人等用)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ160-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ160-1-0group">
<xsd:sequence>
<xsd:element name="KSZ160">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00000" type="AZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10-1法人の事業の規模等－学校法人等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ160-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AZA00000-1-0type">
<xsd:sequence>

<xsd:element name="AZA00570" type="AZA00570-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別添の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)学校の規模"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"幼稚園"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00040" type="AZA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00050" type="AZA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00060" type="AZA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学級数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小学校"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00080" type="AZA00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00090" type="AZA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00100" type="AZA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学級数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中学校"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00120" type="AZA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00130" type="AZA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00140" type="AZA00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学級数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高等学校"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00160" type="AZA00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00170" type="AZA00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00180" type="AZA00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学級数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期大学"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00200" type="AZA00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00210" type="AZA00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"大学"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00230" type="AZA00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00240" type="AZA00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の学校"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00260" type="AZA00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00270" type="AZA00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00280" type="AZA00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00290" type="AZA00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学級数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00310" type="AZA00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00320" type="AZA00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)専修学校及び各種学校の規模"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00340" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00350" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課程"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00370" type="AZA00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00380" type="AZA00380-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00390" type="AZA00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"昼間／夜間の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00400" type="AZA00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00410" type="AZA00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在籍者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修業年限"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00421" type="AZA00421-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00422" type="AZA00422-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00430" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入学時期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00440" type="AZA00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1年間の授業時間数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZA00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)1人当たりの授業料等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00460" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日現在"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00470" type="AZA00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00480" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZA00490" type="AZA00490-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校・課程"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"授業料又は保育料(月額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教材費(月額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"施設拡充費(月額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実習費等(月額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1月当たり納入額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入学金又は入園金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZA00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AZA00570-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="21"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00380-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AZA00390-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AZA00400-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00410-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00421-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00422-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00470-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AZA00490-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AZA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00421-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00421-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00422-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00422-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AZA00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="AZA00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
