etax/19XMLスキーマ/shisan/KSZ230-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税の特例適用農地等について農用地利用集積計画の定めるところによる賃借権等の設定に基づき貸し付けた旨の届出書
version：2.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ230-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ230-2-0group">
<xsd:sequence>
<xsd:element name="KSZ230">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BSA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BSC00000" type="BSC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSD00000" type="BSD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BSE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者が贈与者から農地等を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BSF00000" type="BSF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等に係る農用地利用集積計画の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSG00000" type="BSG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等に対する借受代替農地等の面積の割合（計算の明細）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSH00000" type="BSH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ230-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BSC00000-2-0type">
<xsd:sequence>

<xsd:element name="BSC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSD00000-2-0type">
<xsd:sequence>

<xsd:element name="BSD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSF00000-2-0type">
<xsd:sequence>

<xsd:element name="BSF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公告年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00020" type="BSF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公告番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の存続期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BSF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"始期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSG00000-2-0type">
<xsd:sequence>

<xsd:element name="BSG00010" type="BSG00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受代替農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSG00020" type="BSG00020-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSG00030" type="BSG00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BSH00000-2-0type">
<xsd:sequence>

<xsd:element name="BSH00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BSH00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BSF00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="33"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSG00010-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSG00020-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BSG00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BSG00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSG00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSG00020-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSG00020-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BSG00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="BSG00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
