etax/19XMLスキーマ/shisan/KSZ210-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税・相続税の免除届出書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ210-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ210-1-1group">
<xsd:sequence>
<xsd:element name="KSZ210">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BRA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除事由発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00000" type="BRD00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除事由等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BRE00000" type="BRE00000-1-1type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"届出者　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BRF00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除を受ける贈与税・相続税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BRH00000" type="BRH00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の一部免除の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00000" type="BRI00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ210-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BRE00000-1-1type">
<xsd:sequence>

<xsd:element name="BRE00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00040" type="BRE00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当者区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRE00050" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRH00000-1-1type">
<xsd:sequence>

<xsd:element name="BRH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予分の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与分の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続（遺贈）による取得分の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BRI00000-1-1type">
<xsd:sequence>

<xsd:element name="BRI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BRD00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BRE00040-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
