etax/19XMLスキーマ/shisan/KSZ220-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税の免除届出書
version：1.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ220-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ220-1-0group">
<xsd:sequence>
<xsd:element name="KSZ220">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CQA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQC00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除事由発生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQD00000" type="CQD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除事由等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CQE00000" type="CQE00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"届出者　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CQF00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除を受ける相続税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CQH00000" type="CQH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の一部免除の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQI00000" type="CQI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ220-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CQE00000-1-0type">
<xsd:sequence>

<xsd:element name="CQE00010" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQE00040" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CQH00000-1-0type">
<xsd:sequence>

<xsd:element name="CQH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ 特例農地等の一部につき農地等を贈与した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CQH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予分の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与分の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続（遺贈）による取得分の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CQH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ 相続税の申告書の提出期限の翌日から20年を経過した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CQH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予分の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市街化区域内農地等(都市営農農地等を除く)である特例農地等の取得の時における農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続（遺贈）による取得分の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市街化区域内農地等(都市営農農地等を除く)である特例農地等について既に措置法第70条の6第7項又は第8項の規定により確定した相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CQI00000-1-0type">
<xsd:sequence>

<xsd:element name="CQI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CQI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CQD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
