etax/19XMLスキーマ/shisan/KSZ260-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税の納税猶予の継続届出書(租税特別措置法の一部を改正する法律(平成7年法律第55号)附則第36条第3項適用分)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ260-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ260-1-0group">
<xsd:sequence>
<xsd:element name="KSZ260">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BWA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BWC00000" type="BWC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BWD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の贈与を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BWE00000" type="BWE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BWF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1. 納税の猶予の適用を受けた贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2. 1のうちこの届出書の提出までに特例農地等を譲渡したため、既に納税の猶予が確定し納付した贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3. 1のうち届出日現在において納税の猶予を受けている贈与税額(1-2の金額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BWI00000" type="BWI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWJ00000" type="BWJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWK00000" type="BWK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ260-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BWC00000-1-0type">
<xsd:sequence>

<xsd:element name="BWC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWE00000-1-0type">
<xsd:sequence>

<xsd:element name="BWE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWI00000-1-0type">
<xsd:sequence>

<xsd:element name="BWI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用貸借による権利の設定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWI00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWI00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWJ00000-1-0type">
<xsd:sequence>

<xsd:element name="BWJ00010" type="BWJ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就任区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWJ00020" type="BWJ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常時従事者区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWJ00030" type="BWJ00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWJ00040" type="BWJ00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農作業従事日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BWK00000-1-0type">
<xsd:sequence>

<xsd:element name="BWK00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BWK00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BWJ00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BWJ00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BWJ00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="366"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BWJ00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="366"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BWJ00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWJ00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BWJ00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BWJ00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
