etax/19XMLスキーマ/shisan/KSZ240-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税の納期限延長事案に係る継続届出書
version：1.0
Date：2004年06月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ240-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ240-1-0group">
<xsd:sequence>
<xsd:element name="KSZ240">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BTA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BTC00000" type="BTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BTD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の贈与を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BTE00000" type="BTE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の贈与をした者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BTF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)農地等の贈与を受けた日の属する年分の贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)のうち農地等の贈与に係るものとして納期限の延長の特例を受けた贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)(2)のうちこの届出書の提出期限までに農地等の譲渡をしたために、既に納期限が確定し納付した贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)(1)のうち届出日現在において納期限の延長の特例を受けている贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BTJ00000" type="BTJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ240-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BTC00000-1-0type">
<xsd:sequence>

<xsd:element name="BTC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTE00000-1-0type">
<xsd:sequence>

<xsd:element name="BTE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTJ00000-1-0type">
<xsd:sequence>

<xsd:element name="BTJ00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTJ00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


</xsd:schema>
