etax/19XMLスキーマ/shisan/KSZ263-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2　届出書の提出期限を含む事業年度開始の前々々期の事業年度における特例農地等に係る農業経営に関する明細
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ263-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ263-1-0group">
<xsd:sequence>
<xsd:element name="KSZ263">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00000" type="CAA00000-1-0type" minOccurs="0" maxOccurs="18">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00000" type="CAB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ263-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CAA00000-1-0type">
<xsd:sequence>

<xsd:element name="CAA00010" type="CAA00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00020" type="CAA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00030" type="CAA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00040" type="CAA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00050" type="CAA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CAA00070" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00080" type="gen:mm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CAA00090" type="CAA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00100" type="CAA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産量・飼育頭羽数kg（頭羽）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00110" type="CAA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出荷量kg（頭羽）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な出荷先（氏名・名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CAB00000-1-0type">
<xsd:sequence>

<xsd:element name="CAB00010" type="CAB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00020" type="CAB00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CAA00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAA00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAB00010-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CAB00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CAA00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CAB00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="CAB00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
