etax/19XMLスキーマ/shisan/KSZ360-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代替農地等の取得又は都市営農農地等該当に関する承認申請書(納税猶予事案用)
version：2.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ360-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ360-2-0group">
<xsd:sequence>
<xsd:element name="KSZ360">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CEA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CEC00000" type="CEC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CED00000" type="CED00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認申請区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CEE00000" type="CEE00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細部　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00000" type="CEF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEG00000" type="CEG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ360-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CEC00000-2-0type">
<xsd:sequence>

<xsd:element name="CEC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEE00000-2-0type">
<xsd:sequence>

<xsd:element name="CEE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等に係る農地又は採草放牧地の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00030" type="CEE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00040" type="CEE00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与を受けた・相続（遺贈）のあった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続（遺贈）の時の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00090" type="CEE00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等及び取得見込みの農地又は採草放牧地の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEE00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の対価の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得する農地又は採草放牧地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00150" type="CEE00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00160" type="CEE00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CEE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"都市営農農地等該当の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CEE00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"都市営農農地等該当予定日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00210" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"都市営農農地等該当見込の農地又は採草放牧地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00220" type="CEE00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEE00230" type="CEE00230-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEF00000-2-0type">
<xsd:sequence>

<xsd:element name="CEF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続（遺贈）の時の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の対価の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CEG00000-2-0type">
<xsd:sequence>

<xsd:element name="CEG00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CEG00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CED00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CEE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="36"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00160-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00220-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CEE00230-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CEE00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="CEE00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEE00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="CEE00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CEE00230-2-0type">
<xsd:simpleContent>
<xsd:extension base="CEE00230-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
