etax/19XMLスキーマ/shisan/KSZ390-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定転用の継続届出書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ390-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ390-1-0group">
<xsd:sequence>
<xsd:element name="KSZ390">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CGA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CGC00000" type="CGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CGD00000" type="CGD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条文（号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CGE00000" type="CGE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 相続又は遺贈により特例農地等を取得した年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00000" type="CGF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 特例農地等及び承認を受けて転用した特例市街化区域農地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGG00000" type="CGG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 納税猶予分の相続税額等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CGH00000" type="CGH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4 条文（号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CGI00000" type="CGI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ390-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CGC00000-1-0type">
<xsd:sequence>

<xsd:element name="CGC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CGE00000-1-0type">
<xsd:sequence>

<xsd:element name="CGE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CGF00000-1-0type">
<xsd:sequence>

<xsd:element name="CGF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転用に関する承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00020" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"農地明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)相続又は遺贈により取得した特例農地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGF00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00050" type="CGF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00060" type="CGF00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続（遺贈）時の相続税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)のうち承認による転用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGF00110" type="CGF00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定転用の承認を受けた特定市街化区域農地等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00120" type="CGF00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転用分の実測面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGF00140" type="CGF00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続（遺贈）時の相続税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)のうち特定転用分の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CGG00000-1-0type">
<xsd:sequence>

<xsd:element name="CGG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　相続又は遺贈により取得した特例農地等の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　イのうち、承認を受けた特定市街化区域農地等の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税猶予分の相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　納付すべき税額のうち、納税の猶予を受けた相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　イのうち、この届出書の提出時までに特例農地等を譲渡等したため、既に納税の猶予が確定し納付した相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ　イのうち、届出日現在において納税の猶予を受けている特定市街化区域農地等に係る相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CGI00000-1-0type">
<xsd:sequence>

<xsd:element name="CGI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CGD00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGF00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CGF00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CGF00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGF00140-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGH00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CGD00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CGD00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CGH00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CGH00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CGF00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="CGF00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CGF00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="CGF00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CGF00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="CGF00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
