etax/19XMLスキーマ/shisan/KSZ310-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：貸付特例適用農地等の変更届出書(再借受代替農地等を借り受けた場合)
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ310-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ310-1-1group">
<xsd:sequence>
<xsd:element name="KSZ310">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CKA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKC00000" type="CKC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付特例適用農地等届出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の贈与を受けた・相続(遺贈)があった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKF00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者・被相続人住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKG00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者・被相続人氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKH00000" type="CKH00000-1-1type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"(1)農業の用に供されていない借受代替農地等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKI00000" type="CKI00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業の用に供されていない借受代替農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKJ00000" type="CKJ00000-1-1type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"(2)再借受代替農地等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CKK00000" type="CKK00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再借受代替農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CKL00000" type="CKL00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)借受代替農地等のすべてに係る土地の合計面積の貸付特例適用農地等に係る土地の面積に対する割合に関する計算明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKM00000" type="CKM00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ310-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CKC00000-1-1type">
<xsd:sequence>

<xsd:element name="CKC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKH00000-1-1type">
<xsd:sequence>

<xsd:element name="CKH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借受代替農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKH00020" type="CKH00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKH00030" type="CKH00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業の用に供さなくなった事由及びその事実が生じた年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKH00050" type="CKH00050-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供さなくなった事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKH00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事実が生じた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKJ00000-1-1type">
<xsd:sequence>

<xsd:element name="CKJ00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再借受代替農地等の所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00020" type="CKJ00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00030" type="CKJ00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00040" type="CKJ00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公告年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借権等の存続期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKJ00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"始期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKJ00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKL00000-1-1type">
<xsd:sequence>

<xsd:element name="CKL00010" type="CKL00010-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　当該変更届出書の直近に届け出ている借受代替農地等の合計面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKL00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)変更届出後の借受代替農地等の合計面積(a)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKL00040" type="CKL00040-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(C)の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00050" type="CKL00050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(A)の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00060" type="CKL00060-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(B)の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00070" type="CKL00070-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CKL00080" type="CKL00080-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)貸付特例適用農地等に係る土地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CKL00100" type="CKL00100-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(a)の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00110" type="CKL00110-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(b)の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKL00120" type="CKL00120-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CKM00000-1-1type">
<xsd:sequence>

<xsd:element name="CKM00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CKM00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CKH00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKH00030-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKH00050-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKI00000-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKJ00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKJ00030-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CKJ00040-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CKK00000-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00010-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00040-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00050-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00060-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00070-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00080-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00100-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00110-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CKL00120-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CKI00000-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKI00000-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKK00000-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKK00000-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKH00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKH00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKJ00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKJ00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00010-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00010-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00040-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00040-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00050-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00060-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00060-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00070-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00070-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00080-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00080-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00100-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00100-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00110-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00110-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CKL00120-1-1type">
<xsd:simpleContent>
<xsd:extension base="CKL00120-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
