etax/19XMLスキーマ/shisan/KSZ340-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：代替農地等の取得に関する承認申請書(納税猶予事案用)
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ340-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ340-1-1group">
<xsd:sequence>
<xsd:element name="KSZ340">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CCA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CCC00000" type="CCC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00000" type="CCD00000-1-1type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"譲渡等をした特例農地等、取得見込の農地又は採草放牧地　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00000" type="CCE00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCF00000" type="CCF00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ340-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CCC00000-1-1type">
<xsd:sequence>

<xsd:element name="CCC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCD00000-1-1type">
<xsd:sequence>

<xsd:element name="CCD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00020" type="CCD00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00030" type="CCD00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与を受けた・相続（遺贈）のあった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続（遺贈）の時の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00090" type="CCD00090-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地又は採草放牧地の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00120" type="CCD00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地又は採草放牧地の地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00130" type="CCD00130-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地又は採草放牧地の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得予定の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCE00000-1-1type">
<xsd:sequence>

<xsd:element name="CCE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続（遺贈）の時の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CCF00000-1-1type">
<xsd:sequence>

<xsd:element name="CCF00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCF00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CCD00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCD00030-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCD00090-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCD00120-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CCD00130-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CCD00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="CCD00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CCD00130-1-1type">
<xsd:simpleContent>
<xsd:extension base="CCD00130-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
