etax/19XMLスキーマ/shisan/KSZ420-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：納税猶予の適用を受けている農地等について収用交換等による譲渡を行った場合の利子税の軽減の特例の適用を受けるための届出書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ420-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ420-1-1group">
<xsd:sequence>
<xsd:element name="KSZ420">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CJA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CJC00000" type="CJC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CJD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の贈与・相続（遺贈）を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CJE00000" type="CJE00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者・被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJF00000" type="CJF00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 収用交換等により譲渡した農地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CJG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 農地等の譲渡をした日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CJH00000" type="CJH00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 農地等の譲渡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CJI00000" type="CJI00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4 その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CJJ00000" type="CJJ00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJK00000" type="CJK00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ420-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CJC00000-1-1type">
<xsd:sequence>

<xsd:element name="CJC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJE00000-1-1type">
<xsd:sequence>

<xsd:element name="CJE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJF00000-1-1type">
<xsd:sequence>

<xsd:element name="CJF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJF00020" type="CJF00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJF00030" type="CJF00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJH00000-1-1type">
<xsd:sequence>

<xsd:element name="CJH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJJ00000-1-1type">
<xsd:sequence>

<xsd:element name="CJJ00010" type="CJJ00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJJ00020" type="CJJ00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJJ00030" type="CJJ00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CJK00000-1-1type">
<xsd:sequence>

<xsd:element name="CJK00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJK00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CJF00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJF00030-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJI00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="240"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJJ00010-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJJ00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJJ00030-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CJF00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="CJF00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
