etax/19XMLスキーマ/shisan/KSZ480-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：一時的道路用地等としての貸付けに係る地上権等が消滅した旨の届出書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ480-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ480-1-1group">
<xsd:sequence>
<xsd:element name="KSZ480">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CNA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CNC00000" type="CNC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CND00000" type="CND00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消滅理由区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消滅年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続又は遺贈により特例農地等を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CNG00000" type="CNG00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者・被相続人の住所・氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNH00000" type="CNH00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時的道路用地等の用に供するために地上権等の設定に基づき貸し付けていた貸付先等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00000" type="CNI00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時的道路用地等としての貸付け終了後の特例農地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNJ00000" type="CNJ00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ480-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CNC00000-1-1type">
<xsd:sequence>

<xsd:element name="CNC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNG00000-1-1type">
<xsd:sequence>

<xsd:element name="CNG00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNH00000-1-1type">
<xsd:sequence>

<xsd:element name="CNH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 貸付先(事業施行者)の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNH00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 貸付期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNH00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付けを行った日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNH00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3) 一時的道路用地等に係る事業等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNH00080" type="CNH00080-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNH00090" type="CNH00090-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNI00000-1-1type">
<xsd:sequence>

<xsd:element name="CNI00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 一時的道路用地等として貸し付けていた特例農地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNI00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00040" type="CNI00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00050" type="CNI00050-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け直前の利用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00060" type="CNI00060-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00070" type="CNI00070-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00080" type="CNI00080-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地上権等の登記の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNI00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) (1)のうち貸付け終了後の土地利用状況等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNI00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己等の農業の用に供した日（予定日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00110" type="CNI00110-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己等の農業の用に供した（供する）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00120" type="CNI00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在（今後）の利用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNI00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNI00140" type="CNI00140-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00150" type="CNI00150-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNI00160" type="CNI00160-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己等の農業の用に供した（供する）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNJ00000-1-1type">
<xsd:sequence>

<xsd:element name="CNJ00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNJ00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CND00000-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CNH00080-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNH00090-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00040-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00050-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00060-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00070-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CNI00080-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CNI00110-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00120-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00140-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00150-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNI00160-1-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CNI00060-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00060-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNI00070-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00070-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNI00110-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00110-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNI00140-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00140-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNI00150-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00150-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNI00160-1-1type">
<xsd:simpleContent>
<xsd:extension base="CNI00160-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
