etax/19XMLスキーマ/shisan/KSZ470-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：一時的道路用地等としての貸付けに係る継続貸付届出書
version：2.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ470-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ470-2-0group">
<xsd:sequence>
<xsd:element name="KSZ470">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CMA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CMC00000" type="CMC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CMD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与・相続又は遺贈により特例農地等を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CME00000" type="CME00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者・被相続人の住所・氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMF00000" type="CMF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時的道路用地等としての貸付けに関する承認等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMG00000" type="CMG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時的道路用地等の用に供するために地上権等の設定に基づき貸付けを行った貸付先等に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00000" type="CMH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時的道路用地等の用に供するために地上権等の設定に
基づき貸し付けている特例農地等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMI00000" type="CMI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ470-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CMC00000-2-0type">
<xsd:sequence>

<xsd:element name="CMC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CME00000-2-0type">
<xsd:sequence>

<xsd:element name="CME00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CME00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CMF00000-2-0type">
<xsd:sequence>

<xsd:element name="CMF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 承認申請書の提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMF00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) (1)の承認申請に対する承認年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CMG00000-2-0type">
<xsd:sequence>

<xsd:element name="CMG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)貸付先（事業施行者）の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMG00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMG00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 貸付期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付けを行った日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMG00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3) 一時的道路用地等に係る事業等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMG00080" type="CMG00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMG00090" type="CMG00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CMH00000-2-0type">
<xsd:sequence>

<xsd:element name="CMH00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMH00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00030" type="CMH00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00040" type="CMH00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付け直前の利用状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00050" type="CMH00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00060" type="CMH00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00070" type="CMH00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地上権等の登記の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMH00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMH00090" type="CMH00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMH00100" type="CMH00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CMI00000-2-0type">
<xsd:sequence>

<xsd:element name="CMI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CMG00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMG00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="70"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMH00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMH00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMH00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMH00060-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CMH00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CMH00090-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMH00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CMH00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="CMH00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CMH00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="CMH00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CMH00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="CMH00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CMH00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="CMH00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
