etax/19XMLスキーマ/shisan/KSZ440-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：買取りの申出等に伴う代替農地等の取得価額等に関する明細書
version：2.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ440-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ440-2-0group">
<xsd:sequence>
<xsd:element name="KSZ440">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CLA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CLC00000" type="CLC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00000" type="CLD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLE00000" type="CLE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ440-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CLC00000-2-0type">
<xsd:sequence>

<xsd:element name="CLC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLD00000-2-0type">
<xsd:sequence>

<xsd:element name="CLD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等をした特例農地等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00030" type="CLD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00040" type="CLD00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00050" type="CLD00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00080" type="CLD00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡等の態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与価額・農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した農地又は採草放牧地の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00130" type="CLD00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00140" type="CLD00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農地法の規定による許可又は届出の受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00160" type="CLD00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"許可届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00170" type="CLD00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得の態様"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買入先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00210" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等があったとされる部分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00240" type="CLD00240-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)*((2)-(5))/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)*((2)-(5))/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取りの申出等がなかったとされる部分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00270" type="CLD00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)*(5)/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)*(5)/(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLE00000-2-0type">
<xsd:sequence>

<xsd:element name="CLE00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLE00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CLD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00140-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CLD00160-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLD00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00240-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00270-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CLD00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00240-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00240-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
