etax/19XMLスキーマ/shisan/KSZ510-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税法施行規則附則第8項・第12項の規定による家事充当金額の限度額の認定(変更)申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ510-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ510-1-0group">
<xsd:sequence>
<xsd:element name="KSZ510">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KSZ510-1" type="KSZ510-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KSZ510-2" type="KSZ510-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"別紙"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ510-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KSZ510-1-1-0type">
<xsd:sequence>

<xsd:element name="AAA00000" type="AAA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第8項・第12項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用開始年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受ける家事充当金額の限度額(年額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(現に認定を受けている家事充当金額の限度額(年額))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00130" type="AAA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校経営事業における申請者の職務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営する学校の名称、所在地及びその概要"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00170" type="AAA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"幼児、児童等の現在数、学級数等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00190" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00200" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KSZ510-2-1-0type">
<xsd:sequence>

<xsd:element name="AAB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．学校事業に従事している教職員1人別の給与の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00020" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与月額(平成　年　月分)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00030" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00050" type="AAB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00060" type="AAB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業主との親族関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00070" type="AAB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職務内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00080" type="AAB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"常勤・非常勤の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00090" type="AAB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教員・教諭に関する資格の有無(種類)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00110" type="AAB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経験年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与月額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年中の給与支給総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00140" type="AAB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．家事充当金の限度額の算定根基"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受ける家事充当金の限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00170" type="AAB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(算定根基)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:complexType name="AAA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAA00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAB00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAB00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1000"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AAB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
