etax/19XMLスキーマ/shisan/KSZ540-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：災害により被害を受けた場合の相続時精算課税に係る土地又は建物の価額の特例に関する承認申請書
version：1.0
Date：2024年06月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ540-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ540-1-0group">
<xsd:sequence>
<xsd:element name="KSZ540">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CWA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CWC00000" type="CWC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CWD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWE00000" type="CWE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CWF00000" type="CWF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　特定贈与者に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00000" type="CWG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　被害を受けた土地又は建物に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00000" type="CWH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　被災価額及び被災割合の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWI00000" type="CWI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ540-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CWC00000-1-0type">
<xsd:sequence>

<xsd:element name="CWC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWC00040" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWC00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CWF00000-1-0type">
<xsd:sequence>

<xsd:element name="CWF00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWF00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWF00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CWG00000-1-0type">
<xsd:sequence>

<xsd:element name="CWG00010" type="CWG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00020" type="CWG00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在及び地番又は家屋番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00030" type="CWG00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00040" type="CWG00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00050" type="CWG00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積（床面積）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税の申告状況等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWG00070" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（取得した年分）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWG00080" type="CWG00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（申告した税務署名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CWH00000-1-0type">
<xsd:sequence>

<xsd:element name="CWH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地又は建物の贈与の時における価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"想定価額の計算（建物の場合）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物の想定使用可能期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00040" type="CWH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（贈与時の建物の構造）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00050" type="CWH00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築日から贈与日までの年数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（新築日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（贈与日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00090" type="CWH00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00100" type="CWH00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築日から贈与日までの年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与日における未経過年数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［Ａ　贈与日において想定使用可能期間の年数の全部を経過している建物］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00130" type="CWH00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ａ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00140" type="CWH00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［Ｂ　Ａ以外の建物］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00160" type="CWH00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ａ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00170" type="CWH00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｂ）の年数）１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00180" type="CWH00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｂ）の年数）２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00190" type="CWH00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与日から災害発生日までの年数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（贈与日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（災害発生日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00230" type="CWH00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00240" type="CWH00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与日から災害発生日までの年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害発生日における未経過年数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00260" type="CWH00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｃ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00270" type="CWH00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｄ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00280" type="CWH00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"想定価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（１）の価額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｅ）の年数）／（（Ｃ）の年数）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00320" type="CWH00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｅ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00330" type="CWH00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（Ｃ）の年数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"想定価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害を受けた部分の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金等により補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災価額*持分割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"持分割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CWH00390" type="CWH00390-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00400" type="CWH00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CWH00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「土地の（１）の価額」又は「建物の（２）の想定価額」と（５）のいずれか少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWH00430" type="CWH00430-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災割合*100"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CWI00000-1-0type">
<xsd:sequence>

<xsd:element name="CWI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CWI00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CWE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CWG00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CWG00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWG00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWG00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWG00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWG00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00390-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00400-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CWH00430-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CWG00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWG00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00390-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00390-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CWH00430-1-0type">
<xsd:simpleContent>
<xsd:extension base="CWH00430-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
