etax/19XMLスキーマ/shisan/KSZ711-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定(贈与・相続)承継会社に関する明細書(免除届出用)
version：1.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ711-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ711-1-0group">
<xsd:sequence>
<xsd:element name="KSZ711">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DJA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受贈者、相続人(受遺者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定(贈与・相続)承継会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定(贈与・相続)承継会社の名称(変更前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の所在地(変更前)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日の属する事業年度の直前の事業年度における総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJG00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事実発生日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJH00000" type="DJH00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJI00000" type="DJI00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日の直前の事業年度末における資本金の額又は出資の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日の直前の事業年度末における準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJL00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日の直前の事業年度末における資産の帳簿価額の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DJM00000" type="DJM00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日の直前の事業年度（末）における特定資産の帳簿価額及び運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJN00000" type="DJN00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"剰余金の配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DJO00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(４)及び(５)の帳簿価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJP00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(４)の特定資産の運用収入の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJQ00000" type="DJQ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産の帳簿価額の合計額が資産の帳簿価額の総額に占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJR00000" type="DJR00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定資産の運用収入の合計額が総収入金額に占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJS00000" type="DJS00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡等の日における常時使用従業員の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ711-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DJM00000-1-0type">
<xsd:sequence>

<xsd:element name="DJM00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産保有型子会社又は資産運用型子会社に該当する特別子会社の株式又は持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別子会社の株式又は持分以外のもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現に自ら使用しているもの以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ゴルフ場その他の施設の利用に関する権利"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供することを目的として有するもの以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"絵画、彫刻、工芸品その他の有形の文化的所産である動産、貴金属及び宝石"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供することを目的として有するもの以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金、預貯金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金及び預貯金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJM00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営承継者及び当該経営承継者と特別の関係がある者に対する貸付金及び未収金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJM00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJM00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJN00000-1-0type">
<xsd:sequence>

<xsd:element name="DJN00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営承継者及び当該経営承継者と特別の関係がある者が会社から受けた剰余金の配当又は利益の配当の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会社から支給された給与の額のうち、法人税法第34条又は第36条の規定により損金の額に算入されない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DJH00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="26"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DJI00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DJQ00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJR00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJS00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DJQ00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DJQ00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DJR00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DJR00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DJS00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="DJS00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
