etax/19XMLスキーマ/shisan/KSZ720-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非上場株式等についての相続税の納税猶予の免除届出書(特例免除)
version：1.0
Date：2009年11月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KSZ720-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KSZ720-1-0group">
<xsd:sequence>
<xsd:element name="KSZ720">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CUA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CUC00000" type="CUC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CUD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　特例非上場株式等の贈与をした年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CUE00000" type="CUE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　非上場株式等の贈与を受けた人の住所・氏名・続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUF00000" type="CUF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　贈与の直前において経営承継相続人等(届出者)が有する非上場株式等の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUG00000" type="CUG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　贈与をした非上場株式等の数又は金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CUH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　贈与の直前における猶予中相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　免除を受ける相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUJ00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　経営承継相続人等(届出者)が非上場株式等の相続（遺贈)をした年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CUK00000" type="CUK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８　被相続人の住所・氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUL00000" type="CUL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KSZ720-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CUC00000-1-0type">
<xsd:sequence>

<xsd:element name="CUC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定承継会社の商号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUE00000-1-0type">
<xsd:sequence>

<xsd:element name="CUE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUE00030" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUF00000-1-0type">
<xsd:sequence>

<xsd:element name="CUF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUF00020" type="CUF00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUG00000-1-0type">
<xsd:sequence>

<xsd:element name="CUG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUG00020" type="CUG00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUK00000-1-0type">
<xsd:sequence>

<xsd:element name="CUK00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUK00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUL00000-1-0type">
<xsd:sequence>

<xsd:element name="CUL00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUL00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CUF00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CUG00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CUF00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="CUF00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CUG00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="CUG00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
