etax/19XMLスキーマ/shisan/PKS0070-090.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shisan"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
租税特別措置法第40条の規定による承認申請
version:9.0.0 Date: 2009年08月27日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KSZ120-002.xsd"/>
<xsd:include schemaLocation="KSZ130-002.xsd"/>
<xsd:include schemaLocation="KSZ140-002.xsd"/>
<xsd:include schemaLocation="KSZ150-002.xsd"/>
<xsd:include schemaLocation="KSZ151-002.xsd"/>
<xsd:include schemaLocation="KSZ152-001.xsd"/>
<xsd:include schemaLocation="KSZ153-002.xsd"/>
<xsd:include schemaLocation="KSZ154-001.xsd"/>
<xsd:include schemaLocation="KSZ155-002.xsd"/>
<xsd:include schemaLocation="KSZ156-001.xsd"/>
<xsd:include schemaLocation="KSZ157-001.xsd"/>
<xsd:include schemaLocation="KSZ158-001.xsd"/>
<xsd:include schemaLocation="KSZ159-002.xsd"/>
<xsd:include schemaLocation="KSZ160-001.xsd"/>
<xsd:include schemaLocation="KSZ161-001.xsd"/>
<xsd:include schemaLocation="KSZ162-001.xsd"/>
<xsd:include schemaLocation="KSZ163-002.xsd"/>
<xsd:include schemaLocation="KSZ164-001.xsd"/>
<xsd:include schemaLocation="KSZ165-001.xsd"/>
<xsd:include schemaLocation="KSZ166-002.xsd"/>
<xsd:include schemaLocation="KSZ167-002.xsd"/>
<xsd:include schemaLocation="KSZ168-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="PKS0070-90-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PKS0070"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PKS0070" type="PKS0070-90-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PKS0070-90-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PKS0070-90-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PKS0070-90-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PKS0070-90-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="1">
<xsd:group ref="KSZ120-2-0group" maxOccurs="unbounded"/>
<xsd:group ref="KSZ130-2-0group" maxOccurs="1"/>
<xsd:group ref="KSZ140-2-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KSZ150-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ151-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ152-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ153-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ154-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ155-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ156-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ157-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ158-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ159-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ161-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ162-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ163-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ164-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ165-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ166-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ167-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KSZ168-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
