etax/19XMLスキーマ/general/ITdefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
elementFormDefault="qualified" attributeFormDefault="unqualified"
version="1.0">
<xsd:annotation>
<xsd:documentation>
IT部定義
version:1.0/1.1/1.2/1.3/1.4/1.5
Date:2021年08月24日
</xsd:documentation>
</xsd:annotation>

<!-- Import -->
	<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="General.xsd"/>
	
	<xsd:complexType name="ITkubunType">
		<xsd:complexContent>
			<xsd:restriction base="gen:kubun">
				<xsd:sequence>
					<xsd:element name="kubun_CD">
						<xsd:simpleType>
							<xsd:restriction base="xsd:nonNegativeInteger">
								<xsd:maxInclusive value="9"/>
								<xsd:minInclusive value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="kubun_NM" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="gen:str">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SEIBETSUkubunType">
		<xsd:complexContent>
			<xsd:restriction base="gen:kubun">
				<xsd:sequence>
					<xsd:element name="kubun_CD">
						<xsd:simpleType>
							<xsd:restriction base="xsd:nonNegativeInteger">
								<xsd:maxInclusive value="9"/>
								<xsd:minInclusive value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="kubun_NM" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="gen:str">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="RENKETSU_ITIREN_NOtype">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:pattern value="\d?\d?\d?\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="nametype">
		<xsd:restriction base="gen:name">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="n-kanatype">
		<xsd:restriction base="gen:n-kana">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="addresstype">
		<xsd:restriction base="gen:address">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="a-kanatype">
		<xsd:restriction base="gen:a-kana">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="yagotype">
		<xsd:restriction base="gen:yago">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="y-kanatype">
		<xsd:restriction base="gen:y-kana">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="zokugaratype">
		<xsd:restriction base="gen:zokugara">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="shokugyotype">
		<xsd:restriction base="gen:shokugyo">
			<xsd:pattern value="[^\n\r\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>


<!--version-->
	<xsd:simpleType name="IT-1-0VRtype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/><xsd:enumeration value="1.2"/><xsd:enumeration value="1.3"/><xsd:enumeration value="1.4"/><xsd:enumeration value="1.5"/>
		</xsd:restriction>
	</xsd:simpleType>

<!-- FormDefinition -->
	<xsd:complexType name="ITtype">
		<xsd:sequence>
			<xsd:element name="ZEIMUSHO">
				<xsd:annotation>
					<xsd:appinfo>税務署名</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zeimusho">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TEISYUTSU_DAY" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>提出年月日</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
						<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_ID">
				<xsd:annotation>
					<xsd:appinfo>利用者識別番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:nozeisha-id">
							<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_BANGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>個人番号又は法人番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:bango">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIRIBANGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>整理番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:seiribango">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>氏名・名称読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_NM">
				<xsd:annotation>
					<xsd:appinfo>氏名・名称</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_ZIP" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税者所在地郵便番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zipcode">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_ADR_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税者所在地読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="a-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_ADR">
				<xsd:annotation>
					<xsd:appinfo>納税者所在地</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_ADR_CODE" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税地の地方自治体コード</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:address-code">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ICHIGATSUIPPI_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>１月１日住所</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ICHIGATSUIPPI_ADR_CODE" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>１月１日住所の地方自治体コード</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:address-code">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_YAGO_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税者所在地屋号読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="y-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_YAGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税者所在地屋号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="yagotype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NOZEISHA_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>納税者電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIBETSU" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>性別</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="SEIBETSUkubunType">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BIRTHDAY" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>生年月日</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SETSURITSU_DAY" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>設立年月日</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KESSAN_DAY" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>決算日</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:mmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KESSAN_TIMES" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>決算回数</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ITkubunType">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SHIHON_KIN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>資本金又は出資金額</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:kingaku">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SETAINUSHI_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>世帯主氏名</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SETAINUSHI_ZOKU" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>世帯主との続柄</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="zokugaratype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYO_NAIYO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業内容</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="shokugyotype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>      			 
			<xsd:element name="SHOKUGYO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>職業</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="shokugyotype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>      
			<xsd:element name="KANPU_KINYUKIKAN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>還付先金融機関</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:account">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所名称</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_ZIP" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所郵便番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zipcode">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所住所</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_YAGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所屋号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="yagotype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYOSHO_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業所電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIHYO_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者氏名読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIHYO_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者氏名</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIHYO_ZIP" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者郵便番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zipcode">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIHYO_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者住所</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIHYO_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIZOJO_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>製造場等名読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIZOJO_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>製造場等名称</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIZOJO_ZIP" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>製造場等郵便番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zipcode">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIZOJO_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>製造場等所在地</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SEIZOJO_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>製造場等電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_ID" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>利用者識別番号（代理人等）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:nozeisha-id">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代理人等氏名読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代理人等氏名</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_ZIP" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代理人等郵便番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zipcode">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代理人等住所</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DAIRI_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代理人等電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="GROUP_OYA_HOJIN_ID" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>利用者識別番号(通算親法人)</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:nozeisha-id">
							<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="TETSUZUKI">
				<xsd:annotation>
					<xsd:appinfo>手続き</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="TETSUZUKItype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="NENBUN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>年分</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yy">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NENGETSUBUN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>年分</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymm">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYO_NENDO_FROM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業年度（自）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="JIGYO_NENDO_TO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業年度（至）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KAZEI_KIKAN_FROM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>課税期間（自）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KAZEI_KIKAN_TO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>課税期間（至）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KEIRI_SEKININSHA" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>経理責任者名</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SHINKOKU_KBN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>申告の種類</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="SHINKOKU_KBNtype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>		
			<xsd:element name="KEISANSHO_KBN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>計算書の種類</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="KEISANSHO_KBNtype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OYA_HOJIN_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>親法人名称</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OYA_HOJIN_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>親法人所在地</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_ITIREN_NO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人一連番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="RENKETSU_ITIREN_NOtype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_JIGYO_NENDO_FROM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結事業年度（自）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_JIGYO_NENDO_TO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結事業年度（至）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:yymmdd">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_HOJIN_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人名称読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_HOJIN_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人名称</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_HOJIN_ADR_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人所在地読み</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="a-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_HOJIN_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人所在地</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_HOJIN_TEL" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>連結法人電話番号</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:tel-number">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_SHIHON_KIN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>資本金又は出資金額（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:kingaku">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_DAIHYO_NM_KN" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者氏名読み（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="n-kanatype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_DAIHYO_NM" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者氏名（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_DAIHYO_ADR" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>代表者住所（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="addresstype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_KEIRI_SEKININSHA" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>経理責任者名（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="nametype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSU_JIGYO_NAIYO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>事業内容（連結法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="shokugyotype">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSUKO_NOZEISHA_ID" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>利用者識別番号（連結子法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:nozeisha-id">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSUKO_ZEIMUSHO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>税務署名（連結子法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:zeimusho">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSUKO_NOZEISHA_BANGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>法人番号（連結子法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="gen:bango">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSUKO_SEIRIBANGO" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>整理番号（連結子法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:seiribango">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SONOTA_ID" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>利用者識別番号（その他）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:nozeisha-id">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ELTAX_ID" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>eLTAXの利用者ID</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:eltax-id">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RENKETSUKO_ELTAX_ID" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>eLTAXの利用者ID（連結子法人）</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="gen:eltax-id">
								<xsd:attribute name="ID" type="xsd:ID" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>  
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
		<xsd:attribute name="VR" type="IT-1-0VRtype" use="required"/>
	</xsd:complexType>
</xsd:schema>
