etax/19XMLスキーマ/general/TEK000-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：汎用申請書
version：2.0
Date：2005年11月4日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<xsd:complexType name="TEK000-2-0type">
<xsd:sequence>
<xsd:element name="ZZA00000" type="ZZA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>納税者等部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZZB00000" type="ZZB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>申請内容</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ZZA00000-2-0type">
<xsd:sequence>
<xsd:element name="ZZA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者所在地郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00060" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者所在地読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00080" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者所在地屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者電話番号　"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00100" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00110" type="gen:SETSURITSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00125" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00130" type="gen:JIGYOSHO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00140" type="gen:JIGYOSHO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00150" type="gen:JIGYOSHO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00160" type="gen:JIGYOSHO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00170" type="gen:JIGYOSHO_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00180" type="gen:JIGYOSHO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00190" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00200" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00210" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00220" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00230" type="gen:DAIHYO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00240" type="gen:SEIZOJO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等名読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00250" type="gen:SEIZOJO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00260" type="gen:SEIZOJO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00270" type="gen:SEIZOJO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00280" type="gen:SEIZOJO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製造場等電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00290" type="gen:DAIRI_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人等氏名読み"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00300" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人等氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00310" type="gen:DAIRI_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人等郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00320" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00330" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代理人等電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZZA00400" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付先金融機関"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ZZB00000-2-0type">

<xsd:sequence>
<xsd:element name="ZZB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ZZB00020" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"記載項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="NO" type="xsd:integer" use="required"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="ZZB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZZB00040" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"行"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZZB00050" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"記載項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="NO" type="xsd:integer" use="required"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>

</xsd:complexType>

</xsd:schema>
