etax/19XMLスキーマ/shohi/SHA020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税及び地方消費税の申告書(簡易課税用)
version：1.0
Date：2004年11月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHA020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHA020-1-0group">
<xsd:sequence>
<xsd:element name="SHA020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00000" type="ABA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00000" type="ABB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00000" type="ABC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による地方消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00000" type="ABD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付記事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00000" type="ABE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00000" type="ABF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)・(2)の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHA020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABA00060-1-0IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM_KN"/>
				<xsd:enumeration value="NOZEISHA_YAGO_KN"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABA00070-1-0IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM"/>
				<xsd:enumeration value="NOZEISHA_YAGO"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABA00090-1-0IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM_KN"/>
				<xsd:enumeration value="DAIHYO_NM_KN"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABA00100-1-0IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM"/>
				<xsd:enumeration value="DAIHYO_NM"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="ABA00000-1-0type">
<xsd:sequence>

<xsd:element name="ABA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00060" type="ABA00060-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00070" type="ABA00070-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00090" type="ABA00090-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00100" type="ABA00100-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00110" type="gen:KEIRI_SEKININSHAref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理担当者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00130" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00140" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00150" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告の場合の対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00190" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00210" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00220" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00230" type="ABA00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00240" type="ABA00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の2の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABB00000-1-0type">
<xsd:sequence>

<xsd:element name="ABB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この課税期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABC00000-1-0type">
<xsd:sequence>

<xsd:element name="ABC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税及び地方消費税の合計（納付又は還付）税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABD00000-1-0type">
<xsd:sequence>

<xsd:element name="ABD00020" type="ABD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割賦基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00040" type="ABD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延払基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00060" type="ABD00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"工事進行基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABD00080" type="ABD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金主義会計の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABE00000-1-0type">
<xsd:sequence>

<xsd:element name="ABE00020" type="ABE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"規則２２条１項の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00070" type="ABE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00090" type="ABE00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00110" type="ABE00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第４種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00130" type="ABE00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第５種"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00150" type="ABE00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高（免税売上高を除く）計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABE00180" type="ABE00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算適用（令５７（３））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABF00000-1-0type">
<xsd:sequence>

<xsd:element name="ABF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00060" type="ABF00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00130" type="ABF00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ABA00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABA00240-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABD00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABD00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABD00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABD00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABE00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABE00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABE00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABE00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABE00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABE00150-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ABE00180-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABF00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABF00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ABE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABE00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABE00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABE00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABE00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABE00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABE00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABE00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="ABE00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
