etax/19XMLスキーマ/shohi/SHA010-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税及び地方消費税の申告書(一般用)
version：3.0
Date：2008年08月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHA010-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHA010-3-0group">
<xsd:sequence>
<xsd:element name="SHA010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00000" type="AAA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00000" type="AAB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="AAC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による地方消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00000" type="AAD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付記事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00000" type="AAE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00000" type="AAF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)・(2)の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AAG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="SHA010-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAA00000-3-0type">
<xsd:sequence>

<xsd:element name="AAA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00060" type="AAA00060-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00070" type="AAA00070-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00090" type="AAA00090-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00100" type="AAA00100-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00110" type="gen:KEIRI_SEKININSHAref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理担当者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00130" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00140" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00150" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告の場合の対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00190" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00210" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00220" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00230" type="AAA00230-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00240" type="AAA00240-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の2の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAB00000-3-0type">
<xsd:sequence>

<xsd:element name="AAB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除過大調整税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAC00000-3-0type">
<xsd:sequence>

<xsd:element name="AAC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税及び地方消費税の合計（納付又は還付）税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAD00000-3-0type">
<xsd:sequence>

<xsd:element name="AAD00020" type="AAD00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割賦基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00040" type="AAD00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延払基準等の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00060" type="AAD00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"工事進行基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00080" type="AAD00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金主義会計の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAE00000-3-0type">
<xsd:sequence>

<xsd:element name="AAE00020" type="AAE00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額に対する消費税額の計算の特例の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00100" type="AAE00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAF00000-3-0type">
<xsd:sequence>

<xsd:element name="AAF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00060" type="AAF00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00130" type="AAF00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AAA00060-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="AAA00070-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="AAA00090-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="AAA00100-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="AAA00230-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAA00240-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAD00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAD00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAD00060-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAD00080-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAE00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAE00100-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAF00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAF00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
