etax/19XMLスキーマ/shohi/SHA020-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税及び地方消費税の申告書(簡易課税用)
version：8.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHA020-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHA020-8-0group">
<xsd:sequence>
<xsd:element name="SHA020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SHA020-1" type="SHA020-1-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SHA020-2" type="SHA020-2-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHA020-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SHA020-1-8-0type">
<xsd:sequence>

<xsd:element name="ABH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部（第一表）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00060" type="ABH00060-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00070" type="ABH00070-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABH00080" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00100" type="ABH00100-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00110" type="ABH00110-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABH00115" type="ABH00115-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"振替継続希望区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00130" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00140" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABH00150" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告の場合の対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABH00190" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00250" type="ABH00250-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座情報利用同意区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABH00210" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00220" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABH00230" type="ABH00230-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第30条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABH00240" type="ABH00240-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第33条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABI00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABI00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この課税期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書による地方消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABJ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告書が修正申告である場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABJ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既確定譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABJ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABJ00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税及び地方消費税の合計（納付又は還付）税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"付記事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABK00010" type="ABK00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割賦基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABK00020" type="ABK00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延払基準等の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABK00030" type="ABK00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"工事進行基準の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABK00040" type="ABK00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金主義会計の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00010" type="ABL00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額に対する消費税額の計算の特例の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00050" type="ABL00050-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00080" type="ABL00080-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00110" type="ABL00110-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第４種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00140" type="ABL00140-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第５種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00170" type="ABL00170-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第６種"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABL00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABL00200" type="ABL00200-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABL00210" type="ABL00210-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算適用（令５７（３））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABW00000" type="ABW00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分（加算税）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABX00000" type="ABX00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分（還付金振込）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SHA020-2-8-0type">
<xsd:sequence>

<xsd:element name="ABM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部（第二表）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABM00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00020" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABM00040" type="ABM00040-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00050" type="ABM00050-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABM00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABM00070" type="ABM00070-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00080" type="ABM00080-8-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABM00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABM00100" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00110" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABM00120" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告の場合の対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABM00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABM00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改正法附則による税額の特例計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABN00010" type="ABN00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減売上割合（10営業日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABN00020" type="ABN00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小売等軽減仕入割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABO00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABP00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABP00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税仕入れに係る支払対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABQ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABQ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税仕入れに係る支払対価の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABR00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABS00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABS00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABS00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABS00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABS00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABT00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABU00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上げの返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定課税仕入れの返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABV00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABV00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABV00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABV00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6.24％及び7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:complexType name="ABH00060-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABH00070-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABH00100-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABH00110-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABM00040-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABM00050-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABM00070-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ABM00080-8-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="ABH00115-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABH00250-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABH00230-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABH00240-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABK00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABK00020-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABK00030-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABK00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABL00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ABL00050-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABL00080-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABL00110-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABL00140-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABL00170-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABL00200-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ABL00210-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABW00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABX00000-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABN00010-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ABN00020-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="ABL00050-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00050-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABL00080-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00080-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABL00110-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00110-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABL00140-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00140-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABL00170-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00170-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABL00200-8-0type">
<xsd:simpleContent>
<xsd:extension base="ABL00200-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
