etax/19XMLスキーマ/shohi/SHB040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表4　旧・新税率別、消費税額計算表兼地方消費税の課税標準となる消費税額計算表【経過措置対象課税資産の譲渡等を含む課税期間用】
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB040-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB040-1-1group">
<xsd:sequence>
<xsd:element name="SHB040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFA00000" type="AFA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00000" type="AFB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00000" type="AFC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00000" type="AFD00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00000" type="AFE00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00000" type="AFF00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00000" type="AFG00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFH00000" type="AFH00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHB040-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AFA00000-1-1type">
<xsd:sequence>

<xsd:element name="AFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFB00000-1-1type">
<xsd:sequence>

<xsd:element name="AFB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFC00000-1-1type">
<xsd:sequence>

<xsd:element name="AFC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFD00000-1-1type">
<xsd:sequence>

<xsd:element name="AFD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFE00000-1-1type">
<xsd:sequence>

<xsd:element name="AFE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFF00000-1-1type">
<xsd:sequence>

<xsd:element name="AFF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFG00000-1-1type">
<xsd:sequence>

<xsd:element name="AFG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分（地方消費税の課税標準となる消費税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFH00000-1-1type">
<xsd:sequence>

<xsd:element name="AFH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（消費税の税額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
