etax/19XMLスキーマ/shohi/SHB030-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表2-(2)　課税売上割合・控除対象仕入税額等の計算表【経過措置対象課税資産の譲渡等を含む課税期間用】
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB030-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB030-1-0group">
<xsd:sequence>
<xsd:element name="SHB030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="AEB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00000" type="AEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れ等の税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合が９５％以上の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00000" type="AEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合が９５％未満の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00000" type="AEF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額の調整"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00000" type="AEG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00000" type="AEH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHB030-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-1-0type">
<xsd:sequence>

<xsd:element name="AEA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEB00000-1-0type">
<xsd:sequence>

<xsd:element name="AEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上額（税抜き）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免税売上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税資産の輸出等の金額、海外支店等へ移送した資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税売上額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の譲渡等の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00130" type="AEB00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEC00000-1-0type">
<xsd:sequence>

<xsd:element name="AEC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れに係る支払対価の額（税込み）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れに係る消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税貨物に係る消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税義務の免除を受けない（受ける）こととなった場合における消費税額の調整（加算又は減算）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れ等の税額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AED00000-1-0type">
<xsd:sequence>

<xsd:element name="AED00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-1-0type">
<xsd:sequence>

<xsd:element name="AEE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別対応方式"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）のうち、課税売上げにのみ要するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）のうち、課税売上げと非課税売上げに共通して要するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別対応方式により控除する課税仕入れ等の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一括比例配分方式により控除する課税仕入れ等の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEF00000-1-0type">
<xsd:sequence>

<xsd:element name="AEF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上割合変動時の調整対象固定資産に係る消費税額の調整（加算又は減算）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整対象固定資産を課税業務用（非課税業務用）に転用した場合の調整（加算又は減算）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEG00000-1-0type">
<xsd:sequence>

<xsd:element name="AEG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除過大調整税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEH00000-1-0type">
<xsd:sequence>

<xsd:element name="AEH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AEB00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.00"/><xsd:maxInclusive value="100.00"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AEB00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
