etax/19XMLスキーマ/shohi/SHB055-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表5-1　控除対象仕入税額等の計算表【経過措置対象課税資産の譲渡等を含む課税期間用】
version：2.0
Date：2020年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB055-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB055-2-0group">
<xsd:sequence>
<xsd:element name="SHB055">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SHB055-1" type="SHB055-1-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SHB055-2" type="SHB055-2-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHB055-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SHB055-1-2-0type">
<xsd:sequence>

<xsd:element name="CTA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　控除対象仕入税額の計算の基礎となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額に対する消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上対価の返還等に係る消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額の計算の基礎となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　１種類の事業の専業者の場合の控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTC00010" type="CTC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　２種類以上の事業を営む事業者の場合の控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）　事業区分別の課税売上高（税抜き）の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分別の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00130" type="CTD00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00200" type="CTD00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00270" type="CTD00270-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00340" type="CTD00340-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00410" type="CTD00410-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00480" type="CTD00480-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）　（１）の事業区分別の課税売上高に係る消費税額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分別の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTD00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTD00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SHB055-2-2-0type">
<xsd:sequence>

<xsd:element name="CTE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）　控除対象仕入税額の計算式区分の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　原則計算を適用する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　特例計算を適用する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）　１種類の事業で75％以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00080" type="CTE00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）　２種類の事業で75％以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業及び第二種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業及び第三種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業及び第四種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業及び第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業及び第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業及び第三種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業及び第四種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業及び第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業及び第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業及び第四種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業及び第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業及び第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業及び第五種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業及び第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第五種事業及び第六種事業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTE00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ　上記の計算式区分から選択した控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧税率分小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="CTC00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CTD00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTD00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTD00270-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTD00340-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTD00410-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTD00480-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CTE00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="CTD00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTD00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTD00270-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00270-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTD00340-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00340-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTD00410-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00410-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTD00480-2-0type">
<xsd:simpleContent>
<xsd:extension base="CTD00480-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
