etax/19XMLスキーマ/shohi/SHB060-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表5-(2)　控除対象仕入税額の計算表【経過措置対象課税資産の譲渡等を含む課税期間用】
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB060-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB060-1-0group">
<xsd:sequence>
<xsd:element name="SHB060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00000" type="AHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00000" type="AHB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額に対する消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00000" type="AHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00000" type="AHD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上対価の返還等に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00000" type="AHE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額計算の基礎となる消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHF00000" type="AHF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１種類の事業の専業者の場合［控除対象仕入税額］
(4)*みなし仕入率(90%・80%・70%・60%・50%)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00000" type="AHG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２種類以上の事業を営む事業者の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHB060-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHA00000-1-0type">
<xsd:sequence>

<xsd:element name="AHA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHB00000-1-0type">
<xsd:sequence>

<xsd:element name="AHB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHC00000-1-0type">
<xsd:sequence>

<xsd:element name="AHC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHD00000-1-0type">
<xsd:sequence>

<xsd:element name="AHD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHE00000-1-0type">
<xsd:sequence>

<xsd:element name="AHE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHF00000-1-0type">
<xsd:sequence>

<xsd:element name="AHF00010" type="AHF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし仕入率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHG00000-1-0type">
<xsd:sequence>

<xsd:element name="AHG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高に係る消費税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分別の課税売上高（税抜き）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分別の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業（卸売業）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00080" type="AHG00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00100" type="AHG00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業（小売業）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00130" type="AHG00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00150" type="AHG00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業（製造業等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00180" type="AHG00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00200" type="AHG00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業（その他）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00230" type="AHG00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00250" type="AHG00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第五種事業（サービス業等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00280" type="AHG00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00300" type="AHG00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の課税売上高に係る消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分別の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第一種事業（卸売業）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第二種事業（小売業）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第三種事業（製造業等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第四種事業（その他）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第五種事業（サービス業等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額の計算式区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原則計算を適用する場合
（４）*みなし仕入率［｛(13)*90%＋(14)*80%＋(15)*70%＋(16)*60%＋(17)*50%｝/(12)］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例計算を適用する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１種類の事業で75%以上
｛（7)/(6)・(8)/(6)・(9)/(6)・(10)/(6)・(11)/(6)｝&gt;=75%
(4)*みなし仕入率（90%・80%・70%・60%・50%）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２種類の事業で75%以上"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(7)+(8)}/(6)&gt;=75%
(4)*[(13)*90%+{(12)-(13)}*80%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(7)+(9)}/(6)&gt;=75%
(4)*[(13)*90%+{(12)-(13)}*70%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(7)+(10)}/(6)&gt;=75%
(4)*[(13)*90%+{(12)-(13)}*60%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(7)+(11)}/(6)&gt;=75%
(4)*[(13)*90%+{(12)-(13)}*50%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(8)+(9)}/(6)&gt;=75%
(4)*[(14)*80%+{(12)-(14)}*70%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(8)+(10)}/(6)&gt;=75%
(4)*[(14)*80%+{(12)-(14)}*60%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(8)+(11)}/(6)&gt;=75%
(4)*[(14)*80%+{(12)-(14)}*50%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(9)+(10)}/(6)&gt;=75%
(4)*[(15)*70%+{(12)-(15)}*60%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(9)+(11)}/(6)&gt;=75%
(4)*[(15)*70%+{(12)-(15)}*50%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"{(10)+(11)}/(6)&gt;=75%
(4)*[(16)*60%+{(12)-(16)}*50%]/(12)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHG00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"【控除対象仕入税額】（選択可能な計算方式による(18)～(29)の内から選択した金額）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHG00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHG00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち税率４％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AHF00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AHG00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00150-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00200-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00230-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00250-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AHG00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0.0"/><xsd:maxInclusive value="100.0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AHG00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AHG00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="AHG00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
