etax/19XMLスキーマ/shohi/SHB045-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：付表4　旧・新税率別、消費税額計算表兼地方消費税の課税標準となる消費税額計算表【経過措置対象課税資産の譲渡等を含む課税期間用】
version：1.0
Date：2013年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB045-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB045-1-0group">
<xsd:sequence>
<xsd:element name="SHB045">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00000" type="BBA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00000" type="BBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00000" type="BBC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00000" type="BBD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒回収に係る消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00000" type="BBE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00000" type="BBF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00000" type="BBG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BBH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計差引税額　合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BBI00000" type="BBI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBJ00000" type="BBJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BBK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計差引譲渡割額　合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="SHB045-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BBA00000-1-0type">
<xsd:sequence>

<xsd:element name="BBA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBB00000-1-0type">
<xsd:sequence>

<xsd:element name="BBB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBC00000-1-0type">
<xsd:sequence>

<xsd:element name="BBC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBD00000-1-0type">
<xsd:sequence>

<xsd:element name="BBD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBE00000-1-0type">
<xsd:sequence>

<xsd:element name="BBE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBF00000-1-0type">
<xsd:sequence>

<xsd:element name="BBF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBG00000-1-0type">
<xsd:sequence>

<xsd:element name="BBG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBI00000-1-0type">
<xsd:sequence>

<xsd:element name="BBI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計差引税額　合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BBJ00000-1-0type">
<xsd:sequence>

<xsd:element name="BBJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBJ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBJ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
