etax/19XMLスキーマ/shohi/SHB100-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税資産の譲渡等の対価の額の計算表【軽減売上割合(10営業日)を使用する課税期間用】
version：1.1
Date：2019年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHB100-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHB100-1-1group">
<xsd:sequence>
<xsd:element name="SHB100">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUA00000" type="CUA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00000" type="CUB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率ごとの区分が困難な事業における課税資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUC00000" type="CUC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率ごとの区分が可能な事業における課税資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUD00000" type="CUD00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全事業における課税資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHB100-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CUA00000-1-1type">
<xsd:sequence>

<xsd:element name="CUA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CUA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CUA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUB00000-1-1type">
<xsd:sequence>

<xsd:element name="CUB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の区分ごとの計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUB00020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUB00030" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税資産の譲渡等の税込価額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常の事業を行う連続する10営業日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CUB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)の期間中に行った課税資産の譲渡等の税込価額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)のうち、軽減対象資産の譲渡等（税率6.24％適用分）に係る部分の金額（税込み）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00100" type="CUB00100-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減売上割合"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等（税率6.24％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等以外の課税資産の譲渡等（税率7.8％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CUB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CUB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等（税率6.24％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等以外の課税資産の譲渡等（税率7.8％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUC00000-1-1type">
<xsd:sequence>

<xsd:element name="CUC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等（税率6.24％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等以外の課税資産の譲渡等（税率7.8％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CUD00000-1-1type">
<xsd:sequence>

<xsd:element name="CUD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等（税率6.24％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CUD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減対象資産の譲渡等以外の課税資産の譲渡等（税率7.8％適用分）の対価の額の合計額（税抜き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CUB00100-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CUB00100-1-1type">
<xsd:simpleContent>
<xsd:extension base="CUB00100-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
