etax/19XMLスキーマ/shohi/SHC020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：仕入控除税額に関する明細書(個人事業者用)
version：1.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHC020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHC020-1-0group">
<xsd:sequence>
<xsd:element name="SHC020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJA00000" type="AJA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00000" type="AJB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高の計算（経理方式：税込、税抜）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00000" type="AJC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付申告となった主な理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00000" type="AJD00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得状況 繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJE00000" type="AJE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年中の特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHC020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AJA00000-1-0type">
<xsd:sequence>

<xsd:element name="AJA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所・氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJB00000-1-0type">
<xsd:sequence>

<xsd:element name="AJB00010" type="AJB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経理方式（税込、税抜）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額（製品製造原価）［１］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費［２］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額［３］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計［４］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費［５］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額［６］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計［７］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿＿所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00340" type="AJB00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額［８］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費［９］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額［１０］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計［１１］"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［イ］決算額・取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［ロ］左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高の合計額［１２］　［４］、［７］、［１１］の合計額を書いてください。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入控除税額［１３］　［１２］に対する消費税額（詳しくは「手引」参照）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（［イ］－［ロ］）課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJC00000-1-0type">
<xsd:sequence>

<xsd:element name="AJC00020" type="AJC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の購入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00040" type="AJC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額・経費の増加"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJC00060" type="AJC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00070" type="AJC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJD00000-1-0type">
<xsd:sequence>

<xsd:element name="AJD00010" type="AJD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額（取引金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJD00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJE00000-1-0type">
<xsd:sequence>

<xsd:element name="AJE00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJE00020" type="AJE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年中の特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AJB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AJB00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AJC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AJC00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AJC00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AJC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
