etax/19XMLスキーマ/shohi/SHC015-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税の還付申告に関する明細書(法人用)
version：1.0
Date：2011年12月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHC015-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHC015-1-0group">
<xsd:sequence>
<xsd:element name="SHC015">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SHC015-1" type="SHC015-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SHC015-2" type="SHC015-2-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHC015-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SHC015-1-1-0type">
<xsd:sequence>

<xsd:element name="CIA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ 還付申告となった主な理由"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00010" type="CIB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出等の免税取引の割合が高い"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00020" type="CIB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備投資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIB00040" type="CIB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIB00050" type="CIB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ 課税売上げ等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 主な課税資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00020" type="CIC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00030" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00040" type="CIC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00060" type="CIC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 主な輸出取引等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00110" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00150" type="CIC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引商品等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00160" type="CIC00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税関(支署)名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出取引等に利用する"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00190" type="CIC00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00200" type="CIC00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00210" type="CIC00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00220" type="CIC00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00230" type="CIC00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00240" type="CIC00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な通関業者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CIC00260" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIC00270" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SHC015-2-1-0type">
<xsd:sequence>

<xsd:element name="CID00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３ 課税仕入れに係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 仕入金額等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00020" type="CID00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品仕入高等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売費・一般管理費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業外費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00240" type="CID00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 資産の取得価額(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 資産の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰延資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 資産の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 資産の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 資産の取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) (イ)のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れ等の税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 主な棚卸資産・原材料等の取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00440" type="CID00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00450" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00460" type="CID00460-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00480" type="CID00480-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00500" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00510" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CID00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3) 主な固定資産等の取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00530" type="CID00530-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00540" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CID00550" type="CID00550-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00560" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00580" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CID00590" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CIE00000" type="CIE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４ 当課税期間中の特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="CIB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CIB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CIB00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CIB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CIC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CIC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIC00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CIC00200-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CIC00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CIC00220-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CIC00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CIC00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CID00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CID00240-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CID00440-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CID00460-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CID00480-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CID00530-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CID00550-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CIE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
