etax/19XMLスキーマ/shohi/SHC025-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税の還付申告に関する明細書(個人事業者用)
version：2.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHC025-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHC025-2-0group">
<xsd:sequence>
<xsd:element name="SHC025">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SHC025-1" type="SHC025-1-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SHC025-2" type="SHC025-2-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHC025-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="SHC025-1-2-0type">
<xsd:sequence>

<xsd:element name="CJA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJA00020" type="gen:KAZEI_KIKAN_FROMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00030" type="gen:KAZEI_KIKAN_TOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ 還付申告となった主な理由"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00010" type="CJB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出等の免税取引の割合が高い"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00020" type="CJB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備投資"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJB00040" type="CJB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJB00050" type="CJB00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ 課税売上げ等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 主な課税資産の譲渡等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00020" type="CJC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00030" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00040" type="CJC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00060" type="CJC00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 主な輸出取引等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00110" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00150" type="CJC00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な取引商品等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00160" type="CJC00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税関(支署)名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出取引等に利用する"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00190" type="CJC00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00200" type="CJC00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00210" type="CJC00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00220" type="CJC00220-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00230" type="CJC00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00240" type="CJC00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な通関業者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJC00260" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJC00270" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="SHC025-2-2-0type">
<xsd:sequence>

<xsd:element name="CJD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３ 課税仕入れに係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) 仕入金額等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00020" type="CJD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00340" type="CJD00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"固定資産等の取得価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ) 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ) 左のうち課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れ等の税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2) 主な棚卸資産・原材料等の取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00540" type="CJD00540-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00550" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00560" type="CJD00560-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00570" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00580" type="CJD00580-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00595" type="CJD00595-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00600" type="CJD00600-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00610" type="CJD00610-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJD00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3) 主な固定資産等の取得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00630" type="CJD00630-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等(税込・税抜)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00640" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJD00650" type="CJD00650-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00675" type="CJD00675-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00680" type="CJD00680-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJD00690" type="CJD00690-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引先の住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CJE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４ ＿年中の特殊事情"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJE00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJE00020" type="CJE00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿年中の特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="CJB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CJB00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CJB00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJB00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJC00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJC00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJC00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJC00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJC00200-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJC00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJC00220-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CJC00230-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJC00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJD00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJD00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJD00540-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJD00560-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00580-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00595-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00600-2-0Rtype">
    <xsd:restriction base="gen:in-string">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00610-2-0Rtype">
    <xsd:restriction base="gen:in-string">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CJD00630-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CJD00650-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00675-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00680-2-0Rtype">
    <xsd:restriction base="gen:in-string">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJD00690-2-0Rtype">
    <xsd:restriction base="gen:in-string">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CJE00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
