etax/19XMLスキーマ/shohi/SHE030-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税取引金額計算表(不動産所得用)
version：2.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE030-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE030-2-0group">
<xsd:sequence>
<xsd:element name="SHE030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANA00000" type="ANA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00000" type="ANB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00000" type="ANC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AND00000" type="AND00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE030-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ANA00000-2-0type">
<xsd:sequence>

<xsd:element name="ANA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANB00000-2-0type">
<xsd:sequence>

<xsd:element name="ANB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"礼金・権利金・更新料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANB00100" type="ANB00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ANC00000-2-0type">
<xsd:sequence>

<xsd:element name="ANC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金利子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地代家賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料賃金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00260" type="ANC00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ANC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ANC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AND00000-2-0type">
<xsd:sequence>

<xsd:element name="AND00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ANB00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ANC00260-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
