etax/19XMLスキーマ/shohi/SHE040-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税取引金額計算表(不動産所得用)
version：5.0
Date：2021年09月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE040-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE040-5-0group">
<xsd:sequence>
<xsd:element name="SHE040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOA00000" type="AOA00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00000" type="AOB00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00000" type="AOC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOD00000" type="AOD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE040-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AOA00000-5-0type">
<xsd:sequence>

<xsd:element name="AOA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOB00000-5-0type">
<xsd:sequence>

<xsd:element name="AOB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00063" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00067" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"礼金・権利金・更新料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00123" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00127" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00140" type="AOB00140-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00193" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00197" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOC00000-5-0type">
<xsd:sequence>

<xsd:element name="AOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00063" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00067" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00143" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00147" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金利子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地代家賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00263" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00267" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料賃金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00323" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00327" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00340" type="AOC00340-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00393" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00397" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00453" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00457" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち軽減税率6.24％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち標準税率7.8％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOD00000-5-0type">
<xsd:sequence>

<xsd:element name="AOD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AOB00140-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AOC00340-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
