etax/19XMLスキーマ/shohi/SHE020-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税取引金額計算表(事業所得用)
version：2.0
Date：2014年01月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE020-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE020-2-0group">
<xsd:sequence>
<xsd:element name="SHE020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMA00000" type="AMA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00000" type="AMB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上（収入）金額（雑収入を含む）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00000" type="AMC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上原価"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMD00000" type="AMD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00000" type="AME00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMF00000" type="AMF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE020-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AMA00000-2-0type">
<xsd:sequence>

<xsd:element name="AMA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AMB00000-2-0type">
<xsd:sequence>

<xsd:element name="AMB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AMC00000-2-0type">
<xsd:sequence>

<xsd:element name="AMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首商品棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AMC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末商品棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AMC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引原価"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AMC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AMD00000-2-0type">
<xsd:sequence>

<xsd:element name="AMD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AME00000-2-0type">
<xsd:sequence>

<xsd:element name="AME00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"荷造運賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"水道光熱費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旅費交通費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通信費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"広告宣伝費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"接待交際費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消耗品費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"福利厚生費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料賃金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外注工賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00724" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00726" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00728" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子割引料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地代家賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00814" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00816" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00818" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME00940" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"任意科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME00950" type="AME00950-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AME01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AME01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AME01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AMF00000-2-0type">
<xsd:sequence>

<xsd:element name="AMF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AME00950-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
