etax/19XMLスキーマ/shohi/SHE050-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税売上高計算表
version：4.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE050-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE050-4-0group">
<xsd:sequence>
<xsd:element name="SHE050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APA00000" type="APA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00000" type="APB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る課税売上高  営業等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APH00000" type="APH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る課税売上高  農業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APC00000" type="APC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得に係る課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APD00000" type="APD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿所得に係る課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APE00000" type="APE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務用資産の譲渡所得に係る課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="APF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税売上高の合計額（（３）+（６）+（９）+（12）+（15））"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="APG00000" type="APG00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE050-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="APA00000-4-0type">
<xsd:sequence>

<xsd:element name="APA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APB00000-4-0type">
<xsd:sequence>

<xsd:element name="APB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の売上（収入）金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）のうち、課税売上げにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税売上高（（１）-（２））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APH00000-4-0type">
<xsd:sequence>

<xsd:element name="APH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）のうち、課税売上げにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税売上高（（４）-（５））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APC00000-4-0type">
<xsd:sequence>

<xsd:element name="APC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）のうち、課税売上げにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税売上高（（７）-（８））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APD00000-4-0type">
<xsd:sequence>

<xsd:element name="APD00010" type="APD00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち、課税売上げにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税売上高（（10）-（11））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APE00000-4-0type">
<xsd:sequence>

<xsd:element name="APE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務用固定資産等の譲渡収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（13）のうち、課税売上げにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税売上高（（13）-（14））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="APG00000-4-0type">
<xsd:sequence>

<xsd:element name="APG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（16）欄の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="APD00010-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
