etax/19XMLスキーマ/shohi/SHE080-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税仕入高計算表
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE080-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE080-1-0group">
<xsd:sequence>
<xsd:element name="SHE080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA00000" type="ASA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00000" type="ASB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00000" type="ASC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得に係る課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00000" type="ASD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿所得に係る課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00000" type="ASE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務用資産の取得に係る課税仕入高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00000" type="ASF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入高の合計額（（３）＋（６）＋（９）＋（12））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00000" type="ASG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税仕入れに係る消費税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE080-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ASA00000-1-0type">
<xsd:sequence>

<xsd:element name="ASA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASB00000-1-0type">
<xsd:sequence>

<xsd:element name="ASB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の仕入金額と経費の金額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）のうち、課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税仕入高（（１）-（２））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B うち旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASC00000-1-0type">
<xsd:sequence>

<xsd:element name="ASC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の必要経費の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）のうち、課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税仕入高（（４）-（５））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B うち旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASD00000-1-0type">
<xsd:sequence>

<xsd:element name="ASD00010" type="ASD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の仕入金額と経費の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）のうち、課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税仕入高（（７）-（８））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B うち旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASE00000-1-0type">
<xsd:sequence>

<xsd:element name="ASE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業務用固定資産等の取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（10）のうち、課税仕入れにならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引課税仕入高（（10）-（11））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B うち旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASF00000-1-0type">
<xsd:sequence>

<xsd:element name="ASF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B うち旧税率適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ASG00000-1-0type">
<xsd:sequence>

<xsd:element name="ASG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（13）B欄の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（13）C欄の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計（（14）＋（15））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ASD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
