etax/19XMLスキーマ/shohi/SHE040-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：課税取引金額計算表(不動産所得用)
version：2.0
Date：2014年01月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHE040-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHE040-2-0group">
<xsd:sequence>
<xsd:element name="SHE040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOA00000" type="AOA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00000" type="AOB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00000" type="AOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOD00000" type="AOD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHE040-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AOA00000-2-0type">
<xsd:sequence>

<xsd:element name="AOA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOB00000-2-0type">
<xsd:sequence>

<xsd:element name="AOB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"礼金・権利金・更新料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00140" type="AOB00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOC00000-2-0type">
<xsd:sequence>

<xsd:element name="AOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金利子"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地代家賃"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料賃金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00340" type="AOC00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"任意科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AOC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AOC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B Aのうち課税取引にならないもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C （A-B）課税取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D うち税率4％適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AOC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"E うち税率6.3％
適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AOD00000-2-0type">
<xsd:sequence>

<xsd:element name="AOD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A 決算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AOB00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AOC00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
