etax/19XMLスキーマ/shohi/SHY240-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：適格請求書発行事業者の登録の取消しを求める旨の届出書
version：2.0
Date：2023年06月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHY240-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHY240-2-0group">
<xsd:sequence>
<xsd:element name="SHY240">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DKA00000" type="DKA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKB00000" type="DKB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHY240-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DKA00000-2-0type">
<xsd:sequence>

<xsd:element name="DKA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DKA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DKA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DKA00100" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DKA00140" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00150" type="DKA00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DKA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DKA00170" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKA00180" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DKB00000-2-0type">
<xsd:sequence>

<xsd:element name="DKB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"登録の効力を失う日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格請求書発行事業者の登録を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DKB00030" type="DKB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DKA00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DKB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="170"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
