etax/19XMLスキーマ/shohi/SHZ110-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税課税事業者届出書
version：1.1
Date：2004年07月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHZ110-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHZ110-1-1group">
<xsd:sequence>
<xsd:element name="SHZ110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00000" type="BGA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BGA00300" type="BGA00300-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準期間における課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BGB00000" type="BGB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用開始課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00000" type="BGC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記期間の基準期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00000" type="BGD00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BGE00000" type="BGE00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="SHZ110-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>


<xsd:complexType name="BGA00150-1-1IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM_KN"/>
				<xsd:enumeration value="NOZEISHA_YAGO_KN"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BGA00160-1-1IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM"/>
				<xsd:enumeration value="NOZEISHA_YAGO"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BGA00180-1-1IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM_KN"/>
				<xsd:enumeration value="DAIHYO_NM_KN"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BGA00190-1-1IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="NOZEISHA_NM"/>
				<xsd:enumeration value="DAIHYO_NM"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>

<xsd:complexType name="BGA00000-1-1type">
<xsd:sequence>

<xsd:element name="BGA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所（法人の場合）本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00100" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00110" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00130" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（屋号）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00150" type="BGA00150-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00160" type="BGA00160-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（屋号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（法人の場合）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00180" type="BGA00180-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00190" type="BGA00190-1-1IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（法人の場合）代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00210" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00220" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00230" type="gen:DAIHYO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGA00240" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGA00250" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGB00000-1-1type">
<xsd:sequence>

<xsd:element name="BGB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（自）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（至）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGC00000-1-1type">
<xsd:sequence>

<xsd:element name="BGC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（自）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（至）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記期間の総売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記期間の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGD00000-1-1type">
<xsd:sequence>

<xsd:element name="BGD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日（個人）又は設立年月日（法人）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人のみ記載"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00050" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00060" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGD00080" type="BGD00080-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00090" type="BGD00090-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BGA00300-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BGD00080-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BGD00090-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BGE00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
