etax/19XMLスキーマ/shohi/SHZ140-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税簡易課税制度選択届出書
version：3.0
Date：2013年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHZ140-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHZ140-3-0group">
<xsd:sequence>
<xsd:element name="SHZ140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00000" type="BNA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="BNB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［１］適用開始課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00000" type="BNC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［２］［１］の基準期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BND00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［３］［２］の課税売上高"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BNE00000" type="BNE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00000" type="BNG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出要件の確認"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BNF00000" type="BNF00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="SHZ140-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNA00000-3-0type">
<xsd:sequence>

<xsd:element name="BNA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNA00100" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNA00140" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNA00150" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNB00000-3-0type">
<xsd:sequence>

<xsd:element name="BNB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNC00000-3-0type">
<xsd:sequence>

<xsd:element name="BNC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNE00000-3-0type">
<xsd:sequence>

<xsd:element name="BNE00010" type="BNE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNE00020" type="BNE00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNG00000-3-0type">
<xsd:sequence>

<xsd:element name="BNG00010" type="BNG00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次のイ又はロの場合に該当する"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　消費税法第９条第４項の規定により課税事業者を選択している場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNG00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業者となった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00040" type="BNG00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"はい"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　消費税法第12条の２第１項に規定する「新設法人」又は同法第12条の３第１項に規定する「特定新規設立法人」に該当する（該当していた）場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNG00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00070" type="BNG00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"はい"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BNE00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BNE00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BNG00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BNG00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BNG00070-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BNF00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
