etax/19XMLスキーマ/shohi/SHZ250-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：外国公館等に対する消費税免除指定店舗申請書
version：2.0
Date：2022年11月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHZ250-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHZ250-2-0group">
<xsd:sequence>
<xsd:element name="SHZ250">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00000" type="BYA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00000" type="BYB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHZ250-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BYA00000-2-0type">
<xsd:sequence>

<xsd:element name="BYA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00040" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00045" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）名称（屋号）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00130" type="BYA00130-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00140" type="BYA00140-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（屋号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名（法人の場合）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYA00160" type="BYA00160-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYA00170" type="BYA00170-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（法人の場合）代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BYB00000-2-0type">
<xsd:sequence>

<xsd:element name="BYB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定を受ける店舗（事業所）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYB00020" type="BYB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00030" type="BYB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00040" type="BYB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルファベット表示（英文又はローマ字）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）店舗等所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYB00060" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00070" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"店舗等所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00090" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者役職名及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYB00110" type="BYB00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYB00130" type="BYB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる取扱物品又は役務の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先・担当者（所属課等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYB00150" type="BYB00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00170" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BYA00130-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BYA00140-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BYA00160-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BYA00170-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="BYB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYB00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYB00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
