etax/19XMLスキーマ/shohi/SHZ440-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shohi"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：輸出物品販売場許可申請書(自動販売機型用)
version：1.0
Date：2021年01月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="SHZ440-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="SHZ440-1-0group">
<xsd:sequence>
<xsd:element name="SHZ440">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00000" type="DWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00000" type="DWB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="SHZ440-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DWA00000-1-0type">
<xsd:sequence>

<xsd:element name="DWA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名又は名称及び代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00100" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWA00140" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWA00170" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DWB00000-1-0type">
<xsd:sequence>

<xsd:element name="DWB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWB00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00030" type="DWB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWB00050" type="DWB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売場の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00060" type="DWB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定自動販売機識別情報"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DWB00080" type="DWB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定自動販売機の指定番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DWB00090" type="DWB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自動販売機管理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DWB00100" type="DWB00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DWB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DWB00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
