etax/19XMLスキーマ/shotoku/KOA090-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分の所得税の確定申告書付表(上場株式等に係る譲渡損失の繰越用)
version：3.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA090-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA090-3-0group">
<xsd:sequence>
<xsd:element name="KOA090">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AHA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AHB00000" type="AHB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00000" type="AHC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ 本年分の特定譲渡損失の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00000" type="AHD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ 翌年以後に繰り越される株式等に係る譲渡損失の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA090-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHB00000-3-0type">
<xsd:sequence>

<xsd:element name="AHB00010" type="AHB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHC00000-3-0type">
<xsd:sequence>

<xsd:element name="AHC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHD00000-3-0type">
<xsd:sequence>

<xsd:element name="AHD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の３年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の２年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の前年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AHB00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
