etax/19XMLスキーマ/shotoku/KOA060-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分所得税及び復興特別所得税の準確定申告書(所得税法第172条第1項及び東日本大震災からの復興のための施策を実施するために必要な財源の確保に関する特別措置法第17条第5項に規定する申告書)
version：5.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA060-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA060-5-0group">
<xsd:sequence>
<xsd:element name="KOA060">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AFA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AFD00000" type="AFD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00000" type="AFE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記事項を入力してください。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00000" type="AFF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．給与又は報酬の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00000" type="AFG00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．納める税金の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA060-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AFD00000-5-0type">
<xsd:sequence>

<xsd:element name="AFD00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00015" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00050" type="gen:SEIBETSUref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFD00060" type="AFD00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国籍"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFE00000-5-0type">
<xsd:sequence>

<xsd:element name="AFE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の入国許可年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00020" type="AFE00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在留資格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"在留期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この申告に係る非居住者期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFE00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFE00090" type="AFE00090-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本における勤務、人的役務の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFF00000-5-0type">
<xsd:sequence>

<xsd:element name="AFF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFF00020" type="AFF00020-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00030" type="AFF00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00040" type="AFF00040-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人的役務の提供による所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFF00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"給与・報酬の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFF00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の住所若しくは居所又は本店若しくは主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFG00000-5-0type">
<xsd:sequence>

<xsd:element name="AFG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00013" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00019" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の申告納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AFD00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AFE00020-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AFE00090-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AFF00020-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AFF00030-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AFF00040-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
