etax/19XMLスキーマ/shotoku/KOA070-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分の所得税及び復興特別所得税の確定申告書付表(特定投資株式に係る譲渡損失の繰越控除用)
version：10.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA070-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA070-10-0group">
<xsd:sequence>
<xsd:element name="KOA070">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA070-1" type="KOA070-1-10-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成  年分の所得税の確定申告書付表(一面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA070-2" type="KOA070-2-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成  年分の所得税の確定申告書付表(二面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA070-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA070-1-10-0type">
<xsd:sequence>

<xsd:element name="AGE00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGF00010" type="AGF00010-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGF00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　本年分の特定投資株式及び上場株式等に係る譲渡損失の金額並びに分離課税を選択した上場株式等に係る配当所得の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)　特定投資株式及び上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00012" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得等の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00014" type="AGG00014-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00018" type="AGG00018-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00022" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の譲渡による損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00024" type="AGG00024-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00026" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00028" type="AGG00028-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の譲渡による損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00032" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の価値喪失による損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00034" type="AGG00034-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00036" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00038" type="AGG00038-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の価値喪失による損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00042" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00044" type="AGG00044-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00048" type="AGG00048-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00052" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式等に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00054" type="AGG00054-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00056" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00058" type="AGG00058-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)　本年分の特定投資株式に係る譲渡損失の金額及び損益通算前の上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00072" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の特定投資株式に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00074" type="AGG00074-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00076" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00078" type="AGG00078-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の特定投資株式に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00082" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算前の上場株式等に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00084" type="AGG00084-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00088" type="AGG00088-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算前の上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)　本年分の損益通算前の分離課税配当所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00110" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"分離課税配当所得金額明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00120" type="AGG00120-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目・所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00122" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の収入金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00124" type="AGG00124-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00126" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00128" type="AGG00128-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00132" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00134" type="AGG00134-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00138" type="AGG00138-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00160" type="AGG00160-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00192" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の収入金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00194" type="AGG00194-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00196" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00198" type="AGG00198-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00202" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00204" type="AGG00204-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00206" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00208" type="AGG00208-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00212" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算前の分離課税配当所得金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGG00214" type="AGG00214-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGG00218" type="AGG00218-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算前の分離課税配当所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA070-2-10-0type">
<xsd:sequence>

<xsd:element name="AGH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(４)　本年分の損益通算後の上場株式等に係る譲渡損失の金額又は分離課税配当所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGH00002" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算後の上場株式等に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGH00004" type="AGH00004-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00006" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00008" type="AGH00008-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算後の上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00012" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算後の分離課税配当所得金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGH00014" type="AGH00014-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGH00018" type="AGH00018-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の損益通算後の分離課税配当所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　翌年以後に繰り越される株式等に係る譲渡損失の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の３年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00022" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(A)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00024" type="AGI00024-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00026" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00028" type="AGI00028-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(A)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00032" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(G)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00034" type="AGI00034-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00036" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00038" type="AGI00038-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(G)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00042" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(B)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00044" type="AGI00044-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00048" type="AGI00048-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(B)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00052" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(H)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00054" type="AGI00054-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00056" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00058" type="AGI00058-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(H)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00062" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(I)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00064" type="AGI00064-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00066" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00068" type="AGI00068-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(I)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の２年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00090" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00092" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(C)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00094" type="AGI00094-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00096" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00098" type="AGI00098-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(C)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00102" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(J)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00104" type="AGI00104-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00106" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00108" type="AGI00108-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(J)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00112" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(11)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00114" type="AGI00114-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00116" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00118" type="AGI00118-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(11)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00122" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(D)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00124" type="AGI00124-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00126" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00128" type="AGI00128-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(D)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00132" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(K)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00134" type="AGI00134-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00136" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00138" type="AGI00138-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(K)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00142" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(L)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00144" type="AGI00144-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00146" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00148" type="AGI00148-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(L)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00152" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(12)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00154" type="AGI00154-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00156" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00158" type="AGI00158-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の前年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00180" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00182" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(E)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00184" type="AGI00184-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00186" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00188" type="AGI00188-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(E)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00192" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(M)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00194" type="AGI00194-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00196" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00198" type="AGI00198-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(M)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00202" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(13)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00204" type="AGI00204-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00206" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00208" type="AGI00208-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00212" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(F)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00214" type="AGI00214-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00218" type="AGI00218-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額　(F)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00222" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(N)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00224" type="AGI00224-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00226" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00228" type="AGI00228-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(N)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00232" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(O)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00234" type="AGI00234-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00236" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00238" type="AGI00238-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額　(O)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00242" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(14)　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00244" type="AGI00244-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00246" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00248" type="AGI00248-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額　(14)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00251" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で株式等に係る譲渡所得等の金額から差し引く株式等に係る譲渡損失の金額の合計額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00252" type="AGI00252-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00253" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00254" type="AGI00254-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00255" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で株式等に係る譲渡所得等の金額から差し引く株式等に係る譲渡損失の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00256" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で分離課税配当所得金額から差し引く上場株式等に係る譲渡損失の金額の合計額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00257" type="AGI00257-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00258" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00259" type="AGI00259-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で分離課税配当所得金額から差し引く上場株式等に係る譲渡損失の金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00262" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される株式等に係る譲渡損失の金額　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00264" type="AGI00264-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00266" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00268" type="AGI00268-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGI00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　前年から繰り越された上場株式等に係る譲渡損失の金額を控除した後の本年分の分離課税配当所得金額の計算　外書き"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGI00290" type="AGI00290-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGI00310" type="AGI00310-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　前年から繰り越された上場株式等に係る譲渡損失の金額を控除した後の本年分の分離課税配当所得金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="AGF00010-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AGG00014-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00018-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00024-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00028-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00034-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00038-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00044-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00048-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00054-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00058-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00074-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00078-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00084-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00088-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00120-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00124-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00128-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00134-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00138-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00160-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00194-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00198-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00204-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00208-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00214-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGG00218-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGH00004-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGH00008-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGH00014-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGH00018-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00024-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00028-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00034-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00038-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00044-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00048-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00054-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00058-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00064-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00068-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00094-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00098-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00104-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00108-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00114-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00118-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00124-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00128-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00134-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00138-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00144-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00148-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00154-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00158-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00184-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00188-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00194-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00198-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00204-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00208-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00214-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00218-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00224-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00228-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00234-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00238-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00244-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00248-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00252-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00254-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00257-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00259-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00264-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00268-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00290-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AGI00310-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
