etax/19XMLスキーマ/shotoku/KOA070-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分の所得税の確定申告書付表(特定投資株式に係る譲渡損失の繰越用)
version：4.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA070-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA070-4-0group">
<xsd:sequence>
<xsd:element name="KOA070">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AGA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AGB00000" type="AGB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00000" type="AGC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ 本年分の特定譲渡損失の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00000" type="AGD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　翌年以後に繰り越される株式等に係る譲渡損失の金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA070-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AGB00000-4-0type">
<xsd:sequence>

<xsd:element name="AGB00005" type="AGB00005-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00015" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00020" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGB00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGC00000-4-0type">
<xsd:sequence>

<xsd:element name="AGC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の譲渡による損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の価値喪失による損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AGD00000-4-0type">
<xsd:sequence>

<xsd:element name="AGD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の３年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGD00045" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の２年前分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGD00075" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の前年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AGD00115" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AGD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引くことのできなかった株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AGD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される株式等に係る譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AGB00005-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
