etax/19XMLスキーマ/shotoku/KOA010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成　　年分の所得税の確定申告書A(第一表・第二表)
version：1.1
Date：2004年08月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA010-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA010-1-1group">
<xsd:sequence>
<xsd:element name="KOA010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA010-1" type="KOA010-1-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第一表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA010-2" type="KOA010-2-1-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"申告書第二表"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA010-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA010-1-1-1type">
<xsd:sequence>

<xsd:element name="AAA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第一表）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00030" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（又は居所）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00060" type="AAA00060-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１月１日の住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAA00120" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00130" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00140" type="gen:SEIBETSUref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00150" type="gen:SETAINUSHI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"世帯主の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00160" type="gen:SETAINUSHI_ZOKUref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"世帯主との続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00170" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00190" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容（第一表）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公的年金等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00100" type="AAB00100-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑（特例表示）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得から差し引かれる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小規模企業共済等掛金控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老年者、寡婦、寡夫控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生、障害者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（６）から（１５）までの計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療費控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄付金控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税金の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税される所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上の（２１）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄付金特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00375" type="AAB00375-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00376" type="AAB00376-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額、外国税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率減税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納める税金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の合計所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑所得・一時所得の源泉徴収税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未納付の源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納の届出"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告期限までに納付する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納届出額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00530" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA010-2-1-1type">
<xsd:sequence>

<xsd:element name="AAC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第二表）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00010" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の内訳（源泉徴収税額）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00010" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"所得の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00020" type="AAD00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00030" type="AAD00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目・所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与などの支払者の氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00062" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00064" type="AAD00064-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00066" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAE00000" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"雑所得（公的年金等以外）・配当所得・一時所得に関する事項　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00010" type="AAE00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00020" type="AAE00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目・所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00000" type="AAF00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適用条文等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住民税に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAG00010" type="AAG00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得以外の住民税の徴収方法の選択"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当に関する住民税の特例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非居住者の特例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"別居の控除対象配偶者・扶養親族の氏名・住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAG00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得から差し引かれる金額に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（６）社会保険料控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"社会保険料の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00030" type="AAH00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払保険料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00042" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00044" type="AAH00044-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）小規模企業共済等掛金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"小規模企業共済の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00080" type="AAH00080-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"掛金の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00092" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00094" type="AAH00094-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00096" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）生命保険料控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00120" type="AAH00120-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の保険料の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00130" type="AAH00130-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人年金保険料の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）損害保険料控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00150" type="AAH00150-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"長期保険料の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00160" type="AAH00160-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期保険料の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）～（１１）本人該当事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00180" type="AAH00180-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老年者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦（寡夫）控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00200" type="AAH00200-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00210" type="AAH00210-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原因区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00230" type="AAH00230-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00240" type="AAH00240-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"学校名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）障害者控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00260" type="AAH00260-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）～（１４）配偶者（特別）控除・扶養控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者（特別）控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00290" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00310" type="AAH00310-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00320" type="AAH00320-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者特別控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00340" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"扶養親族の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00350" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養親族の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00360" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00370" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00382" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00384" type="AAH00384-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00386" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１７）雑損控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00410" type="AAH00410-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00430" type="AAH00430-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害を受けた資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額のうち災害関連支出の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１８）医療費控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払医療費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１９）寄付金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00510" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄付先の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00515" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄付先の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄付金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上のうち都道府県等や住所地の共同募金会、日赤支部分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAI00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00040" type="AAI00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第３０条の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00050" type="AAI00050-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士法第３３条の２の書面提出有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:complexType name="AAA00060-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAB00100-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAB00375-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAB00376-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAD00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00030-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00064-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAE00010-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAE00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAF00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAG00010-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAH00030-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00044-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00080-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00094-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00120-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00130-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00150-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00160-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAH00180-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAH00200-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAH00210-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAH00230-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAH00240-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00260-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAH00310-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAH00320-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAH00384-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00410-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00430-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAI00040-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAI00050-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
