etax/19XMLスキーマ/shotoku/KOA050-014.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分の所得税及び復興特別所得税の    申告書付表(先物取引に係る繰越損失用)
version：14.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA050-14-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="14.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA050-14-0group">
<xsd:sequence>
<xsd:element name="KOA050">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AEA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00010" type="gen:SHINKOKU_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEB00000" type="AEB00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00000" type="AEC00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1．先物取引に係る雑所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2．翌年以後に繰り越される先物取引に係る損失の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00000" type="AEE00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3．翌年以後に繰り越される雑損失の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00000" type="AEF00000-14-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の該当する欄を入力してください"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA050-14-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEB00000-14-0type">
<xsd:sequence>

<xsd:element name="AEB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の住所（又は居所・事業所等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00020" type="AEB00020-14-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00025" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEC00000-14-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の先物取引に係る雑所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AED00000-14-0type">
<xsd:sequence>

<xsd:element name="AED00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A（3年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AED00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物取引に係る雑所得等の金額の差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AED00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B（2年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AED00070" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物取引に係る雑所得等の金額の差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AED00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C（前年）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AED00130" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる先物取引の差金等決済に係る所得の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物取引に係る雑所得等の金額の差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-14-0type">
<xsd:sequence>

<xsd:element name="AEE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A（3年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった雑損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く雑損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち総合課税の所得等から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち先物取引の差金等決済に係る所得から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B（2年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00080" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった雑損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く雑損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち総合課税の所得等から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち先物取引の差金等決済に係る所得から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C（前年）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00140" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった雑損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く雑損失の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち総合課税の所得等から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち先物取引の差金等決済に係る所得から差し引く雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEF00000-14-0type">
<xsd:sequence>

<xsd:element name="AEF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物取引に係る雑所得等の金額の差引金額又は損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書への入力事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）（1）が黒字の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"先物取引に係る雑所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の先物取引に係る所得から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される先物取引に係る損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）（1）が赤字の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される先物取引に係る損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AEB00020-14-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
