etax/19XMLスキーマ/shotoku/KOA140-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成　　年分収支内訳書(一般用)付表《医師及び歯科医師用》
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA140-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA140-1-0group">
<xsd:sequence>
<xsd:element name="KOA140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA140-1" type="KOA140-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA140-2" type="KOA140-2-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA140-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA140-1-1-0type">
<xsd:sequence>

<xsd:element name="ALZ00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALA00000" type="ALA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALB00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．収入金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基金事務所から支払を受ける社会保険診療報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般社会保険"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00040" type="ALC00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00050" type="ALC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00060" type="ALC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人保健法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00100" type="ALC00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00110" type="ALC00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00120" type="ALC00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生活保護法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00160" type="ALC00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00170" type="ALC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00180" type="ALC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"結核予防法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00220" type="ALC00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00230" type="ALC00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00240" type="ALC00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"精神保健福祉法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00280" type="ALC00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00290" type="ALC00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00300" type="ALC00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00330" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00340" type="ALC00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00350" type="ALC00350-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00360" type="ALC00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00370" type="ALC00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00430" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"国民健康保険診療報酬　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00440" type="ALC00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00450" type="ALC00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00460" type="ALC00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00470" type="ALC00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00500" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"介護報酬　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00510" type="ALC00510-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00520" type="ALC00520-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00530" type="ALC00530-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00540" type="ALC00540-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00580" type="ALC00580-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00590" type="ALC00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00600" type="ALC00600-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決定点数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬当座口払込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬窓口収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療の収入等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の自由診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00660" type="ALC00660-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00670" type="ALC00670-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"労働者災害補償保険診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00700" type="ALC00700-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00710" type="ALC00710-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公害健康被害補償診療"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00740" type="ALC00740-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00750" type="ALC00750-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00770" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00780" type="ALC00780-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療報酬の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00790" type="ALC00790-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00800" type="ALC00800-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00830" type="ALC00830-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00840" type="ALC00840-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療の診療実日数の割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00890" type="ALC00890-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00900" type="ALC00900-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総診療実日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00910" type="ALC00910-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"診療実日数の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALC00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療の収入等の割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALC00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00950" type="ALC00950-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前：自由診療の収入等の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00960" type="ALC00960-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALC00970" type="ALC00970-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療の収入等の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA140-2-1-0type">
<xsd:sequence>

<xsd:element name="ALD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．必要経費の計算の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療分の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価及び経費の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療分と保険診療分とに明確に区分できる経費の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00160" type="ALD00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の（ａ）のうち自由診療分に係る経費額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療分の原価及び経費の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療分の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原価及び経費の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自由診療分の原価及び経費の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療分の原価及び経費の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第26条の規定による社会保険診療分の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療報酬"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00250" type="ALD00250-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第26条の規定による経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ALD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）の金額と（ロ）の金額との差額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ALD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措置法第26条の規定による経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療分の原価及び経費の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ALD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療分の経費差額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="ALA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00220-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00230-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00280-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00350-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00370-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00440-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00510-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00520-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00530-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00540-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00580-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00590-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00600-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00660-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00670-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00700-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00710-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00740-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00750-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00780-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00790-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00800-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00830-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00840-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00890-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00900-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00910-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00950-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00960-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALC00970-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALD00160-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ALD00250-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ALC00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00350-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00350-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00520-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00520-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00530-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00530-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00540-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00540-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00580-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00580-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00600-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00600-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00660-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00660-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00670-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00670-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00700-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00700-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00710-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00710-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00740-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00740-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00750-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00750-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00790-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00790-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00800-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00800-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00830-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00830-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00840-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00840-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00890-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00890-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00900-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00900-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00910-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00910-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00950-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00950-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00960-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00960-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALC00970-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALC00970-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALD00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALD00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ALD00250-1-0type">
<xsd:simpleContent>
<xsd:extension base="ALD00250-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
