etax/19XMLスキーマ/shotoku/KOA120-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分収支内訳書(農業所得用)
version：8.0
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA120-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA120-8-0group">
<xsd:sequence>
<xsd:element name="KOA120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA120-1" type="KOA120-1-8-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"１ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA120-2" type="KOA120-2-8-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA120-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA120-1-8-0type">
<xsd:sequence>

<xsd:element name="AJO00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有限責任事業組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJB00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJB00050" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00060" type="AJB00060-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農園名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"依頼税理士等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJC00010" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJE00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJF00010" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJF00020" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収支内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇人費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小作料・賃借料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子割引料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種苗費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肥料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飼料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農具費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農薬・衛生費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"諸材料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動力光熱費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作業用衣料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業共済掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"荷造運賃手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00315" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"追加科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00010" type="AJG00010-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物以外の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費から差し引く果樹牛馬等の育成費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除前の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00420" type="AJG00420-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額（特例表示）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00435" type="AJG00435-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJG00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)のうち、肉用牛について特例の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJG00450" type="AJG00450-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費不算入損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇人費の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJH00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"雇人費の内訳明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00030" type="AJH00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は作業名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00040" type="AJH00040-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJH00100" type="AJH00100-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00110" type="AJH00110-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJH00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJH00170" type="AJH00170-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJI00000" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"小作料・賃借料の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所・氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJI00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJI00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJI00040" type="AJI00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小作料、賃耕料等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJI00050" type="AJI00050-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積・数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業専従者の氏名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJJ00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"事業専従者明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJJ00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJJ00030" type="AJJ00030-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJJ00040" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJJ00050" type="AJJ00050-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJJ00052" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJJ00054" type="AJJ00054-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJJ00056" type="AJJ00056-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJJ00060" type="AJJ00060-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延べ従事月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA120-2-8-0type">
<xsd:sequence>

<xsd:element name="AJK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"田畑"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00020" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"田畑　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00030" type="AJK00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物等の種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00040" type="AJK00040-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00090" type="AJK00090-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00120" type="AJK00120-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00150" type="AJK00150-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特殊施設"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00220" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特殊施設　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00230" type="AJK00230-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物等の種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00240" type="AJK00240-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00290" type="AJK00290-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00320" type="AJK00320-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00350" type="AJK00350-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00401" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計(農産物計)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00402" type="AJK00402-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00406" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00407" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00408" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00420" type="AJK00420-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"畜産物その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00490" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"畜産物その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00500" type="AJK00500-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物等の種類品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00510" type="AJK00510-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積（飼育頭羽数）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00562" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計(合計)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00564" type="AJK00564-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00566" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00568" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑収入の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00610" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"雑収入の内訳明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00620" type="AJK00620-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00632" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJK00634" type="AJK00634-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJK00636" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJK00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJL00010" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"減価償却費の計算明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJL00020" type="AJL00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の名称等（繰延資産を含む）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00030" type="AJL00030-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積又は数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00050" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得（成熟）年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00065" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（償却保証額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却の基礎になる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00080" type="AJL00080-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00090" type="AJL00090-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐用年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却率又は改定償却率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJL00110" type="AJL00110-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却率又は改定償却率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJL00140" type="AJL00140-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の償却期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00180" type="AJL00180-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業専用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00210" type="AJL00210-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJL00211" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJL00212" type="AJL00212-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00213" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00214" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00215" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00216" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00217" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJL00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJL00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJL00280" type="AJL00280-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の育成費用の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の育成費用の計算明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00020" type="AJM00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得・生産・定植等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00310" type="AJM00310-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJM00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJM00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJM00230" type="AJM00230-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）、（ハ）、（ホ）の欄の金額の計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJN00000" type="AJN00000-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中における特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="AJB00060-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJG00010-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJG00420-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJG00435-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJG00450-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJH00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJH00040-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJH00100-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJH00110-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJH00170-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJI00040-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJI00050-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJJ00030-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJJ00050-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJJ00054-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJJ00056-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJJ00060-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00040-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00090-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00120-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00150-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00230-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00240-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00290-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00320-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00350-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00402-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00420-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00500-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00510-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00564-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00620-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJK00634-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00030-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00080-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00090-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="2"/><xsd:maxInclusive value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00110-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00140-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00180-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00210-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00212-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJL00280-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJM00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJM00310-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJM00230-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AJN00000-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="135"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AJH00040-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJH00040-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJH00100-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJH00100-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJH00110-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJH00110-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJH00170-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJH00170-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJJ00030-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJJ00030-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJJ00050-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJJ00050-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJJ00056-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJJ00056-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJJ00060-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJJ00060-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00040-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00040-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00090-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00090-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00120-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00120-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00150-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00150-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00240-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00240-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00290-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00290-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00320-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00320-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00350-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00350-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00420-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00420-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJK00510-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJK00510-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJL00090-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJL00090-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJL00110-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJL00110-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJL00140-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJL00140-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AJL00180-8-0type">
<xsd:simpleContent>
<xsd:extension base="AJL00180-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
