etax/19XMLスキーマ/shotoku/KOA260-010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分の所得税及び復興特別所得税の　　申告書(損失申告用)付表(特定非常災害の被災者の方用)
version：10.0
Date：2024年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA260-10-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA260-10-0group">
<xsd:sequence>
<xsd:element name="KOA260">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA260-1" type="KOA260-1-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（一）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA260-2" type="KOA260-2-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（二）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA260-3" type="KOA260-3-10-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（三）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA260-10-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA260-1-10-0type">
<xsd:sequence>

<xsd:element name="IKA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00020" type="IKA00020-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の住所（又は居所・事業所等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00050" type="IKA00050-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の住所以外の居所又は事業所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．翌年以後に繰り越す損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の繰越控除期間の特例の該当判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業資産特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る事業用固定資産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00650" type="IKB00650-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）／（ロ）＞＝0.1のときは、「該当」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得又は山林所得に係る事業用固定資産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00690" type="IKB00690-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）／（ニ）＞＝0.1のときは、「該当」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越す損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告者の損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00165" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00175" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　特定非常災害発生年純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等・農業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00250" type="IKB00250-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00260" type="IKB00260-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00303" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち棚卸資産特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00306" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち棚卸資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00340" type="IKB00340-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00350" type="IKB00350-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00420" type="IKB00420-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00430" type="IKB00430-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00440" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00475" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産特定災害損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00523" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00526" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　特定非常災害発生年特定純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外の所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00583" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00586" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　特定非常災害発生年特定純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA260-2-10-0type">
<xsd:sequence>

<xsd:element name="IKC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKC00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKC00020" type="IKC00020-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．繰越損失を差し引く計算（５年前、４年前及び３年前に生じた損失）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA260-3-10-0type">
<xsd:sequence>

<xsd:element name="IKE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（三））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKE00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKE00020" type="IKE00020-10-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（三））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．繰越損失を差し引く計算（２年前及び前年に生じた損失）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00333" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00335" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00337" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00723" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00725" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00727" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00785" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の一般株式等及び上場株式等に係る譲渡所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の上場株式等に係る配当所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の先物取引に係る雑所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（青・白）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01143" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01145" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01147" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（所得税法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除、医療費控除及び寄附金控除の計算で使用する所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKF01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．翌年以後に繰り越される本年分の雑損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKF01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（所得税法）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKF01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失（震災特例法）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="IKA00020-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKA00050-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKB00650-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKB00690-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IKB00250-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00260-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00340-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00350-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00420-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00430-10-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IKC00020-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKE00020-10-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
