etax/19XMLスキーマ/shotoku/KOA260-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成　年分の所得税の　　申告書(損失申告用)付表(東日本大震災の被災者の方用)
version：2.0
Date：2012年10月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA260-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA260-2-0group">
<xsd:sequence>
<xsd:element name="KOA260">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA260-1" type="KOA260-1-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（一）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA260-2" type="KOA260-2-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（二）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA260-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA260-1-2-0type">
<xsd:sequence>

<xsd:element name="IKA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00020" type="IKA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（又は事業所・事務所・居所など）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00050" type="IKA00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．翌年以後に繰り越す損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告者の損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等・農業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00250" type="IKB00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00260" type="IKB00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち棚卸資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00340" type="IKB00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00350" type="IKB00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00420" type="IKB00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00430" type="IKB00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00440" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外の所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA260-2-2-0type">
<xsd:sequence>

<xsd:element name="IKC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKC00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKC00020" type="IKC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．繰越損失を差し引く計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"21年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外の所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"22年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"23年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年特定純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青・白"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"21年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外の所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"22年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"23年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年特定純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青・白"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の株式等に係る譲渡所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の上場株式等に係る配当所得から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の先物取引に係る雑所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"22年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"23年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失以外の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件該当　平成23年特定純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青・白"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要件非該当　被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD01980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除、医療費控除及び寄附金控除の計算で使用する所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．翌年以後に繰り越される本年分の雑損失の金額　特定雑損失以外の雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．翌年以後に繰り越される本年分の雑損失の金額　特定雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="IKA00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKA00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IKB00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00260-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00430-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IKC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
