etax/19XMLスキーマ/shotoku/KOA240-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分青色申告決算書(農業所得用)
version：5.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA240-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA240-5-0group">
<xsd:sequence>
<xsd:element name="KOA240">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA240-1" type="KOA240-1-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA240-2" type="KOA240-2-5-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA240-3" type="KOA240-3-5-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"３ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA240-4" type="KOA240-4-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA240-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA240-1-5-0type">
<xsd:sequence>

<xsd:element name="APH00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有限責任事業組合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APB00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APB00050" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00060" type="APB00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農園名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APB00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"依頼税理士等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APC00010" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APC00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APC00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APE00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損益計算書の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00030" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00040" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税公課"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種苗費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肥料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飼料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農具費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農薬・衛生費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"諸材料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動力光熱費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作業用衣料費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業共済掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"荷造運賃手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇人費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子割引料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地代・賃借料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地改良費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00375" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"追加科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00060" type="APF00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費（科目名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物以外の棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経費から差し引く果樹牛馬等の育成費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各種引当金・準備金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00495" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"追加科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00070" type="APF00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各種引当金・準備金等：繰戻額等（科目名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰入額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00545" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"追加科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00080" type="APF00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各種引当金・準備金等：繰入額等（科目名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除前の所得金額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00575" type="APF00575-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除前の所得金額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00590" type="APF00590-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額（特例表示）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４８）のうち、肉用牛について特例の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00612" type="APF00612-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費不算入損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA240-2-5-0type">
<xsd:sequence>

<xsd:element name="APF00618" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00630" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00640" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"田畑"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00680" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"田畑　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00690" type="APF00690-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00700" type="APF00700-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00710" type="APF00710-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年収穫量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00730" type="APF00730-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00780" type="APF00780-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00800" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"果樹　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00810" type="APF00810-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00820" type="APF00820-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00830" type="APF00830-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年収穫量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00840" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00850" type="APF00850-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00900" type="APF00900-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00920" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特殊施設　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00930" type="APF00930-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00940" type="APF00940-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作付面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00950" type="APF00950-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年収穫量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF00970" type="APF00970-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01020" type="APF01020-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01031" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計（農産物）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01032" type="APF01032-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01033" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期首棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01036" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期末棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01050" type="APF01050-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耕作面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期首棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物の期末棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01100" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"畜産物その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01110" type="APF01110-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01120" type="APF01120-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"飼育頭羽数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01130" type="APF01130-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産頭羽数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01152" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01154" type="APF01154-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01156" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01158" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"販売金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家事消費・事業消費金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑収入の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01200" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"雑収入の内訳明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01210" type="APF01210-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01222" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01224" type="APF01224-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01226" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物以外の棚卸高の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01250" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"未収穫農産物　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01260" type="APF01260-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01280" type="APF01280-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01310" type="APF01310-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01330" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"販売用動物　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01340" type="APF01340-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01360" type="APF01360-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01390" type="APF01390-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01410" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"種苗、飼・肥料、農薬、諸材料　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01420" type="APF01420-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01440" type="APF01440-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01470" type="APF01470-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01490" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"その他　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01500" type="APF01500-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01520" type="APF01520-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01550" type="APF01550-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01562" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01564" type="APF01564-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01566" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01568" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末棚卸高（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇人費の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01610" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"雇人費の内訳明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01620" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01630" type="APF01630-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は作業名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01640" type="APF01640-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01710" type="APF01710-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01720" type="APF01720-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01790" type="APF01790-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者給与の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01860" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"専従者給与明細行　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01870" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01880" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01890" type="APF01890-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01900" type="APF01900-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従事月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01951" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01952" type="APF01952-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01953" type="APF01953-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延べ従事月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01954" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01955" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01956" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01957" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01958" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF01960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01970" type="APF01970-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延べ従事月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF01980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF01990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賞与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA240-3-5-0type">
<xsd:sequence>

<xsd:element name="APF02030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却費の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02040" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"減価償却費の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02050" type="APF02050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の名称等（繰延資産を含む）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02060" type="APF02060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積又は数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02070" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得（成熟）年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02085" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（償却保証額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却の基礎になる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02100" type="APF02100-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02110" type="APF02110-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐用年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却率又は改定償却率"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02130" type="APF02130-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却率又は改定償却率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02160" type="APF02160-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の償却期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増（特別）償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02200" type="APF02200-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業専用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02230" type="APF02230-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02231" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02232" type="APF02232-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02233" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02234" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増（特別）償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02235" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02236" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02237" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割増（特別）償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の償却費合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高（期末残高）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02300" type="APF02300-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の育成費用の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02320" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の育成費用の計算明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02330" type="APF02330-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02340" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得・生産・定植等の年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF03000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF03010" type="APF03010-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF03040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF03090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF03100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成費用の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の種苗費、種付料、素畜費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の肥料、農薬等の投下費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"育成中の果樹等から生じた収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年に取得価額に加算する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中に成熟したものの取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02540" type="APF02540-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）、（ハ）、（ホ）の欄の金額の計算方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02550" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"地代・賃借料の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所・氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02570" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02580" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02590" type="APF02590-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小作料・賃耕料等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02600" type="APF02600-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"面積・数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02620" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"利子割引料の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所・氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02640" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02650" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末現在の借入金等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の利子割引料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02690" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"税理士・弁護士等の報酬・料金の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所・氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02710" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02720" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払先の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中の報酬等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA240-4-5-0type">
<xsd:sequence>

<xsd:element name="APF02760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金繰入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別評価による本年分繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一括評価による本年分繰入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末における一括評価による貸倒引当金の繰入れの対象となる貸金の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の貸倒引当金繰入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の不動産所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除前の事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"65万円の青色申告特別控除を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"65万円と（ヘ）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APF02900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10万円と（ヘ）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APF02910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APF02920" type="APF02920-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年中における特殊事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸借対照表"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00025" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"追加科目　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00030" type="APG00030-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期首）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期末）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00050" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収穫農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成熟の果樹育成中の牛馬等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肥料その他の貯蔵品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前払金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物・構築物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農機具等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地改良事業受益者負担金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00270" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定期預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の預金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未収穫農産物等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成熟の果樹育成中の牛馬等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"肥料その他の貯蔵品"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前払金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸付金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物・構築物"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農機具等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"果樹・牛馬等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地改良事業受益者負担金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業主貸"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債・資本の部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00505" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"追加科目１　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00510" type="APG00510-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期首）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期末）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00515" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"追加科目２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00520" type="APG00520-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期首）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（期末）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00540" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期首月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前受金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預り金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="APG00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="APG00660" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期末月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前受金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預り金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒引当金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業主借"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"元入金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告特別控除前の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="APG00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="APB00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00070-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00080-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00575-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00590-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00612-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00690-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00700-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00710-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00730-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00780-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00810-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00820-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00830-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00850-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00900-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00930-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00940-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00950-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF00970-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01020-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01032-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01050-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01110-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01120-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01130-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01154-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01210-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01224-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01260-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01280-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01310-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01340-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01360-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01390-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01420-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01440-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01470-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01500-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01520-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01550-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01564-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01630-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01640-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01710-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01720-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01790-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="99999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01890-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01900-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01952-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01953-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF01970-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02050-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02060-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02100-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02110-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="2"/><xsd:maxInclusive value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02130-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02160-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02200-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02230-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02232-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02300-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02330-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF03010-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02540-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02590-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02600-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APF02920-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APG00030-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APG00510-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="APG00520-5-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="APF00700-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00700-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00710-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00710-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00730-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00730-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00780-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00780-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00820-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00820-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00830-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00830-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00850-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00850-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00900-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00900-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00940-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00940-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00950-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00950-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF00970-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF00970-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01020-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01020-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01050-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01050-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01120-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01120-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01130-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01130-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01640-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01640-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01710-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01710-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01720-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01720-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01790-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01790-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01890-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01890-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01900-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01900-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01953-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01953-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF01970-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF01970-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF02110-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF02110-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF02130-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF02130-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF02160-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF02160-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF02200-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF02200-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="APF02600-5-0type">
<xsd:simpleContent>
<xsd:extension base="APF02600-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
