etax/19XMLスキーマ/shotoku/KOA260-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分の所得税及び復興特別所得税の　　申告書(損失申告用)付表(東日本大震災の被災者の方用)
version：7.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOA260-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOA260-7-0group">
<xsd:sequence>
<xsd:element name="KOA260">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOA260-1" type="KOA260-1-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（一）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOA260-2" type="KOA260-2-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書第四表付表（二）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOA260-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOA260-1-7-0type">
<xsd:sequence>

<xsd:element name="IKA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00020" type="IKA00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（又は事業所・事務所・居所など）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKA00050" type="IKA00050-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（一））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．翌年以後に繰り越す損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色申告者の損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等・農業"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00250" type="IKB00250-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00260" type="IKB00260-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち棚卸資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00340" type="IKB00340-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00350" type="IKB00350-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00420" type="IKB00420-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00430" type="IKB00430-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00440" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補填される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち固定資産震災損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外の所得に係る被災事業用資産の損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失以外の純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOA260-2-7-0type">
<xsd:sequence>

<xsd:element name="IKC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書見出し部（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKC00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKC00020" type="IKC00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損失申告用（第四表付表（二））"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．繰越損失を差し引く計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04150" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（Ａ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04160" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（Ｂ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04170" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（Ｃ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年前（Ｃ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04190" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04200" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04210" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（Ｄ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前（Ｄ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04230" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04240" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04250" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（Ｅ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年（Ｅ）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04270" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04280" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分までに引ききれなかった損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD04970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD04980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD04990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の一般株式等及び上場株式等に係る譲渡所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の上場株式等に係る配当所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の先物取引に係る雑所得等から差し引く損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に繰り越して差し引かれる損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"白色"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災事業用資産の損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災純損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林以外"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産に係る通算後譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD05920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損失"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IKD05930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失以外の雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD05940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定雑損失"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除、医療費控除及び寄附金控除の計算で使用する所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IKD01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．翌年以後に繰り越される本年分の雑損失の金額　特定雑損失以外の雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IKD01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．翌年以後に繰り越される本年分の雑損失の金額　特定雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="IKA00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IKA00050-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IKB00250-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00260-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00340-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00350-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00420-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IKB00430-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IKC00020-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
