etax/19XMLスキーマ/shotoku/KOB040-016.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：肉用牛の売却による所得の税額計算書(兼確定申告書付表)
version：16.0
Date：2024年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB040-16-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="16.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB040-16-0group">
<xsd:sequence>
<xsd:element name="KOB040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BDA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BDC00000" type="BDC00000-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．申告書に記載する農業所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00000" type="BDE00000-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB040-16-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDC00000-16-0type">
<xsd:sequence>

<xsd:element name="BDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除額（白色申告者のみ入力）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）のうち、特定の肉用牛の売却による所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額（Ａ）（２）の内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除額（白色申告者のみ入力）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）－（２）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除額（白色申告者のみ入力）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDE00000-16-0type">
<xsd:sequence>

<xsd:element name="BDE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額（（４）に対する軽減額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年分特別税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDE00050" type="BDE00050-16-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再々差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"免税対象飼育牛以外の特定の肉用牛の売却による収入金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）*５％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額（（１０）に対する軽減額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）－（１１）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）＋（１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BDE00050-16-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BDE00050-16-0type">
<xsd:simpleContent>
<xsd:extension base="BDE00050-16-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
