etax/19XMLスキーマ/shotoku/KOB080-018.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)
version：18.0
Date：2020年10月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB080-18-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="18.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB080-18-0group">
<xsd:sequence>
<xsd:element name="KOB080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB080-1" type="KOB080-1-18-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（一面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-2" type="KOB080-2-18-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（二面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-3" type="KOB080-3-18-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（三面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-4" type="KOB080-4-18-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（四面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB080-18-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB080-1-18-0type">
<xsd:sequence>

<xsd:element name="ENA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（共有者の氏名）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(再び居住の用に供したことに係る事項)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転居年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した家屋の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住の用に供していない期間の家屋の用途"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00180" type="ENB00180-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸の用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00190" type="ENB00190-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空家"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00200" type="ENB00200-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00230" type="ENB00230-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その家屋に係る(特定増改築等)住宅借入金等特別控除の適用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00840" type="ENB00840-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した場合の再適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00850" type="ENB00850-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した場合の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00260" type="ENB00260-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00263" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00267" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00280" type="ENB00280-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00290" type="ENB00290-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00310" type="ENB00310-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00313" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00317" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00330" type="ENB00330-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00340" type="ENB00340-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00360" type="ENB00360-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00370" type="ENB00370-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00372" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の増改築等の費用の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00374" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の増改築等の費用の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00376" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00378" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ワ)のうち居住用部分の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ワ)のうち居住用部分の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．家屋の取得対価の額又は増改築等の費用の額に課されるべき消費税額等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01443" type="ENB01443-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"なし又は5％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01446" type="ENB01446-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01449" type="ENB01449-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率が10％の場合に(ロ)、(ワ)に含まれる消費税額及び地方消費税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．家屋や土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00890" type="ENB00890-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00900" type="ENB00900-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00903" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((ニ)、(リ)、(ヨ))*(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00907" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00940" type="ENB00940-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00950" type="ENB00950-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00953" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((ニ)、(リ)、(ヨ))*(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00957" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00973" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((ニ)、(リ)、(ヨ))*(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00977" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01010" type="ENB01010-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01020" type="ENB01020-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01022" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((ニ)、(リ)、(ヨ))*(1)(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01024" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((ニ)、(リ)、(ヨ))*(1)(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01026" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01028" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．居住用部分の家屋又は土地等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01080" type="ENB01080-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と（７）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01110" type="ENB01110-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01150" type="ENB01150-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と（７）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01180" type="ENB01180-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅及び土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01220" type="ENB01220-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と（７）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01250" type="ENB01250-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01300" type="ENB01300-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01310" type="ENB01310-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と（７）のいずれか少ない方の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と（７）のいずれか少ない方の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01360" type="ENB01360-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01370" type="ENB01370-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-2-18-0type">
<xsd:sequence>

<xsd:element name="ENC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．特定の増改築等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00782" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00783" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00784" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00785" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定多世帯同居改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定多世帯同居改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定耐久性向上改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定耐久性向上改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00786" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等工事の費用の合計額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00787" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等工事の費用の合計額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る特定の増改築等工事の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る特定の増改築等工事の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定増改築等住宅借入金等、特定断熱改修住宅借入金等又は特定多世帯同居改修住宅借入金等の年末残高(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定増改築等住宅借入金等、特定断熱改修住宅借入金等又は特定多世帯同居改修住宅借入金等の年末残高(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00840" type="ENC00840-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00950" type="ENC00950-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8％・10％同一年中取得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00960" type="ENC00960-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋・増改築等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面の(ロ)又は(ワ)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面の(4)の(A)又は(4)の(D)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00864" type="ENC00864-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00866" type="ENC00866-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用の特例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00868" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"三面の(23)の(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00990" type="ENC00990-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９．控除証明書の交付を要しない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC01000" type="ENC01000-18-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子交付希望区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-3-18-0type">
<xsd:sequence>

<xsd:element name="ENK00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENL00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成23年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENO00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の控除額の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENO00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENO00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENO00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定住宅の新築等に係る住宅借入金等特別控除の特例を選択した場合　認定住宅が認定長期優良住宅に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成23年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA60000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定住宅の新築等に係る住宅借入金等特別控除の特例を選択した場合　認定住宅が認定低炭素住宅に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA60070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA60080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA60090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA60100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の取得等が(特別)特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA60110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA60120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA60010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA60020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA60030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA60040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年12月4日から平成24年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA60050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA60060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENP00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENP00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENP00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENP00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENP00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENQ00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENQ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENQ00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年１月１日から令和２年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENQ00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA70000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"多世帯同居改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA70010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年4月1日から令和２年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA70020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA70030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA70040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENA70050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENV00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災特例法の住宅の再取得等に係る住宅借入金等特別控除の控除額の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENV00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年4月1日から令和２年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENV00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENV00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENV00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年1月1日から平成26年3月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENV00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENV00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENV00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成23年1月1日から平成24年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENV00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENV00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA40000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA40010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENA50000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災特例法の重複適用の特例を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENA50010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-4-18-0type">
<xsd:sequence>

<xsd:element name="ENB10000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　各共有者の取得した資産に係る取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20060" type="ENB20060-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20070" type="ENB20070-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20110" type="ENB20110-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20120" type="ENB20120-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20250" type="ENB20250-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20260" type="ENB20260-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20300" type="ENB20300-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20310" type="ENB20310-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20400" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20440" type="ENB20440-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20450" type="ENB20450-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20490" type="ENB20490-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20500" type="ENB20500-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)合計等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋の取得対価の額(増改築等の費用の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB20620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB20650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB20670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB30000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB30010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB30020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30030" type="ENB30030-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB30060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB30070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30080" type="ENB30080-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB30110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB30120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30130" type="ENB30130-18-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB30150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="ENB00180-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00190-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00200-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00230-18-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENB00840-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00850-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00260-18-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00280-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00290-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00310-18-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00330-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00340-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00360-18-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00370-18-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENB01443-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB01446-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB01449-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00890-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00900-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00940-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00950-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01010-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01020-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01080-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01110-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01150-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01180-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01220-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01250-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01300-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01310-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01360-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB01370-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00840-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENC00950-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENC00960-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENC00864-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENC00866-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENC00990-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENC01000-18-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB20060-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20070-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20110-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20120-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20250-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20260-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20300-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20310-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20440-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20450-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20490-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB20500-18-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB30030-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB30080-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB30130-18-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ENB00280-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00280-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00290-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00290-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00330-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00330-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00340-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00340-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00890-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00890-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00900-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00900-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00940-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00940-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00950-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00950-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01010-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01010-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01020-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01020-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01080-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01080-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01110-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01110-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01150-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01150-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01180-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01180-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01220-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01220-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01250-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01250-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01300-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01300-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01310-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01310-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01360-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01360-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB01370-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB01370-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00840-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00840-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00960-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00960-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20060-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20060-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20070-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20070-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20110-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20110-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20120-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20120-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20250-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20250-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20260-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20260-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20300-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20300-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20310-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20310-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20440-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20440-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20450-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20450-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20490-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20490-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB20500-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB20500-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB30030-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB30030-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB30080-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB30080-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB30130-18-0type">
<xsd:simpleContent>
<xsd:extension base="ENB30130-18-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
