etax/19XMLスキーマ/shotoku/KOB050-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：財産及び債務の明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB050-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB050-1-0group">
<xsd:sequence>
<xsd:element name="KOB050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00000" type="BEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BEB00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BEC00000" type="BEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00000" type="BED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BEE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEF00000" type="BEF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB050-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BEA00000-1-0type">
<xsd:sequence>

<xsd:element name="BEA00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BEC00000-1-0type">
<xsd:sequence>

<xsd:element name="BEC00010" minOccurs="0" maxOccurs="51">
<xsd:annotation>
<xsd:appinfo>"財産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEC00020" type="BEC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00030" type="BEC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00035" type="BEC00035-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEC00042" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEC00044" type="BEC00044-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEC00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BED00000-1-0type">
<xsd:sequence>

<xsd:element name="BED00010" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"債務の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00020" type="BED00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00030" type="BED00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00035" type="BED00035-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00042" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00044" type="BED00044-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00046" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BEC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEC00035-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEC00044-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00035-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00044-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
