etax/19XMLスキーマ/shotoku/KOB080-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)
version：9.0
Date：2011年08月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB080-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB080-9-0group">
<xsd:sequence>
<xsd:element name="KOB080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB080-1" type="KOB080-1-9-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成  年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（一面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-2" type="KOB080-2-9-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成  年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（二面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-3" type="KOB080-3-9-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成  年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（三面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB080-4" type="KOB080-4-9-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成  年分(特定増改築等)住宅借入金等特別控除額の計算明細書(再び居住の用に供した方用)（四面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB080-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB080-1-9-0type">
<xsd:sequence>

<xsd:element name="ENA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（共有者の氏名）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(再び居住の用に供したことに係る事項)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転居年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した家屋の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住の用に供していない期間の家屋の用途"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00180" type="ENB00180-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸の用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00190" type="ENB00190-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空家"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00200" type="ENB00200-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00230" type="ENB00230-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その家屋に係る(特定増改築等)住宅借入金等特別控除の適用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00840" type="ENB00840-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した場合の再適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00850" type="ENB00850-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した場合の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00260" type="ENB00260-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00280" type="ENB00280-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00290" type="ENB00290-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00310" type="ENB00310-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00330" type="ENB00330-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00340" type="ENB00340-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00360" type="ENB00360-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00370" type="ENB00370-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．控除証明書の要否"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00430" type="ENB00430-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00440" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00800" type="ENB00800-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-2-9-0type">
<xsd:sequence>

<xsd:element name="ENJ00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額の計算の基礎となる住宅借入金等の年末残高の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．家屋や土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00070" type="ENC00070-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00080" type="ENC00080-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00130" type="ENC00130-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00140" type="ENC00140-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00195" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00210" type="ENC00210-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00220" type="ENC00220-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00235" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．居住用部分の家屋又は土地等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00270" type="ENC00270-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00300" type="ENC00300-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00340" type="ENC00340-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00370" type="ENC00370-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅及び土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00410" type="ENC00410-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00440" type="ENC00440-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00475" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00480" type="ENC00480-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00485" type="ENC00485-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00495" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00505" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00510" type="ENC00510-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00515" type="ENC00515-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00525" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00535" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欄外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00542" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)欄の計算方法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00544" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00546" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00548" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額から特例の適用を受けた金額を差し引いた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．特定の増改築等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENC00680" type="ENC00680-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　年齢が50歳以上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00690" type="ENC00690-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00700" type="ENC00700-9-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　要介護認定又は要支援認定を受けている"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00710" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00720" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付等を受ける補助金等の合計額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付等を受ける補助金等の合計額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((11)－(12))(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((11)－(12))(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00782" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00783" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00784" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00785" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00786" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等工事の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00787" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等工事の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る特定の増改築等工事の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る特定の増改築等工事の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定増改築等住宅借入金等の年末残高(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENC00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定増改築等住宅借入金等の年末残高(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-3-9-0type">
<xsd:sequence>

<xsd:element name="ENK00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENL00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成21年1月1日から平成22年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成18年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成17年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成14年1月1日から平成16年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成13年1月1日から平成13年6月30日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENN00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成11年1月1日から平成12年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENN00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENN00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENO00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の控除額の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENO00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENO00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENO00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENO00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定長期優良住宅の新築等に係る住宅借入金等特別控除の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成21年6月4日から平成22年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENU00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENP00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENP00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年4月1日から平成22年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENP00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENP00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENQ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年4月1日から平成22年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENQ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB080-4-9-0type">
<xsd:sequence>

<xsd:element name="ENS00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務がある場合の住宅借入金等の年末残高の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．各共有者の取得した資産に係る取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ（あなた）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00070" type="ENT00070-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00080" type="ENT00080-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00120" type="ENT00120-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00130" type="ENT00130-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00260" type="ENT00260-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00270" type="ENT00270-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00310" type="ENT00310-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00320" type="ENT00320-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00410" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00450" type="ENT00450-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00460" type="ENT00460-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00500" type="ENT00500-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00510" type="ENT00510-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ（合計等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋の取得対価の額(増改築等の費用の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ（あなた）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00720" type="ENT00720-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00770" type="ENT00770-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENT00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENT00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00820" type="ENT00820-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENT00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="ENB00180-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00190-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00200-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00230-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENB00840-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00850-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00260-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00280-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00290-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00310-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00330-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00340-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00360-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00370-9-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENB00430-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00800-9-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00070-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00080-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00130-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00140-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00210-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00220-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00270-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00300-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00340-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00370-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00410-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00440-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00480-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00485-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00510-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENC00515-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENC00680-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENC00690-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENC00700-9-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENT00070-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00080-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00120-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00130-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00260-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00270-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00310-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00320-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00450-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00460-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00500-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00510-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00720-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00770-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENT00820-9-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ENB00280-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00280-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00290-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00290-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00330-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00330-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00340-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00340-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00800-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00800-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00070-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00070-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00080-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00080-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00130-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00130-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00140-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00140-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00210-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00210-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00220-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00220-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00270-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00270-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00300-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00300-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00340-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00340-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00370-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00370-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00410-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00410-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00440-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00440-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00480-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00480-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00485-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00485-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00510-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00510-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENC00515-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENC00515-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00070-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00070-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00080-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00080-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00120-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00120-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00130-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00130-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00260-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00260-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00270-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00270-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00310-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00310-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00320-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00320-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00450-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00450-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00460-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00460-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00500-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00500-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00510-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00510-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00720-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00720-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00770-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00770-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENT00820-9-0type">
<xsd:simpleContent>
<xsd:extension base="ENT00820-9-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
