etax/19XMLスキーマ/shotoku/KOB080-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分住宅借入金(取得)等特別控除額の計算明細書(再び居住の用に供した人用)
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB080-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB080-1-0group">
<xsd:sequence>
<xsd:element name="KOB080">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ENA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ENB00000" type="ENB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除の計算明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB080-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ENB00000-1-0type">
<xsd:sequence>

<xsd:element name="ENB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（共有者の氏名）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(再び居住の用に供したことに係る参考事項)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"転居年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再び居住の用に供した家屋の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住の用に供していない期間の家屋の用途"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00180" type="ENB00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃貸の用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00190" type="ENB00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"空家"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00200" type="ENB00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00210" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(自)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00220" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間(至)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00230" type="ENB00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00260" type="ENB00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00280" type="ENB00280-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00290" type="ENB00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00310" type="ENB00310-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00330" type="ENB00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00340" type="ENB00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00360" type="ENB00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00370" type="ENB00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．控除証明書の要否"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00430" type="ENB00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00440" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．住宅借入金（取得）等特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除額の計算明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１０年１２月３１日以前に居住の用に供した場合または、平成11年1月1日から同年3月31日までの間に居住の用に供した場合で「経過措置の計算方法」を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１０年１２月３１日以前に居住の用に供した場合または、平成11年1月1日から同年3月31日までの間に居住の用に供した場合で「経過措置の計算方法」を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ENB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ENB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ENB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ENB00180-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00190-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ENB00200-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ENB00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00280-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00290-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00310-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00330-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00340-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00360-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ENB00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ENB00430-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="ENB00280-1-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00280-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ENB00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="ENB00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
