etax/19XMLスキーマ/shotoku/KOB060-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：所得の内訳書
version：4.0
Date：2013年09月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB060-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB060-4-0group">
<xsd:sequence>
<xsd:element name="KOB060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFA00000" type="BFA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFB00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BFC00000" type="BFC00000-4-0type" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"所得の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB060-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BFA00000-4-0type">
<xsd:sequence>

<xsd:element name="BFA00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFC00000-4-0type">
<xsd:sequence>

<xsd:element name="BFC00010" type="BFC00010-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00020" type="BFC00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の生ずる場所又は給与などの支払者の住所・所在地、氏名・名称、電話番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFC00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の生ずる場所又は給与などの支払者の住所・所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の生ずる場所又は給与などの支払者の氏名・名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFC00075" type="BFC00075-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の基因となる資産の数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の源泉徴収税額（内書き）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFC00120" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月又は支払を受けた年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BFC00010-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFC00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFC00075-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BFC00075-4-0type">
<xsd:simpleContent>
<xsd:extension base="BFC00075-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
