etax/19XMLスキーマ/shotoku/KOB010-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：変動所得・臨時所得の平均課税の計算書
version：6.0
Date：2013年09月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB010-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB010-6-0group">
<xsd:sequence>
<xsd:element name="KOB010">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BAA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BAC00000" type="BAC00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．変動所得・臨時所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00000" type="BAD00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．平均課税の税額の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB010-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BAC00000-6-0type">
<xsd:sequence>

<xsd:element name="BAC00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"変動所得　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAC00020" type="BAC00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の変動所得の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00075" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち雑所得に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00080" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"臨時所得　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAC00090" type="BAC00090-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の臨時所得の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAC00145" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち雑所得に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAD00000-6-0type">
<xsd:sequence>

<xsd:element name="BAD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の平均額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　前々年分又は前年分に変動所得があった場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々年の変動所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年の変動所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得の平均額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAD00083" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　(1)以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00086" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の変動所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均課税対象金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税される所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額・特別所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額・特別所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　(9)の金額が(8)の金額を超える場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　(1)以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整所得金額(10)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00020" type="BAE00020-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別所得金額(11)に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動・臨時所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　(4)に金額のある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　(1)に該当しない方で(3)に金額のある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　(1)、(2)に該当しない方で(2)に金額のある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BAC00020-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAC00090-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAE00020-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BAE00020-6-0type">
<xsd:simpleContent>
<xsd:extension base="BAE00020-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
