etax/19XMLスキーマ/shotoku/KOB180-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　住宅借入金(取得)等特別控除額の計算明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB180-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB180-1-0group">
<xsd:sequence>
<xsd:element name="KOB180">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB180-1" type="KOB180-1-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成　年分　住宅借入金（取得）等特別控除額の計算明細書（一面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB180-2" type="KOB180-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"平成　年分　住宅借入金（取得）等特別控除額の計算明細書（三面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB180-3" type="KOB180-3-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成　年分　住宅借入金（取得）等特別控除額の計算明細書（四面）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB180-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB180-1-1-0type">
<xsd:sequence>

<xsd:element name="BRA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（共有者の氏名）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00150" type="BRB00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00170" type="BRB00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00180" type="BRB00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00200" type="BRB00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00220" type="BRB00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00230" type="BRB00230-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の（床）面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00250" type="BRB00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00255" type="BRB00255-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00275" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．控除証明書の要否"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00283" type="BRB00283-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00285" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．住宅借入金（取得）等特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00305" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除額の計算明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00345" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１０年１２月３１日以前に居住の用に供した場合または、平成11年1月1日から同年3月31日までの間に居住の用に供した場合で「経過措置の計算方法」を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00365" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00375" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00405" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00415" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金（取得）等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00435" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１１年１月１日以後に居住の用に供した場合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成１０年１２月３１日以前に居住の用に供した場合または、平成11年1月1日から同年3月31日までの間に居住の用に供した場合で「経過措置の計算方法」を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00455" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00465" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00485" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00495" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が１，０００万円を超え２，０００万円以下のとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRB00505" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ａ）が２，０００万円を超えるとき（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB180-2-1-0type">
<xsd:sequence>

<xsd:element name="BRC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除額の計算の基礎となる住宅借入金等の年末残高の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00005" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．家屋や土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00070" type="BRC00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00080" type="BRC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00130" type="BRC00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00140" type="BRC00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00195" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額等（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00210" type="BRC00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00220" type="BRC00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00235" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．居住用部分の家屋又は土地等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00270" type="BRC00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00300" type="BRC00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00340" type="BRC00340-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00370" type="BRC00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅及び土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00410" type="BRC00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00440" type="BRC00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00475" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00480" type="BRC00480-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00485" type="BRC00485-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00495" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00505" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（６）のいずれか少ない方の金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00510" type="BRC00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00515" type="BRC00515-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00525" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00535" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欄外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｉ．"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｇ）の（７）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）の（３）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｃ）の（３）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00590" type="BRC00590-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｅ）の（８）欄の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ｉｉ．"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｇ）の（７）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｂ）の（３）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｃ）の（３）欄の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00650" type="BRC00650-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｆ）の（８）欄の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRC00665" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB180-3-1-0type">
<xsd:sequence>

<xsd:element name="BRD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務がある場合の住宅借入金等の年末残高の計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１．各共有者の取得した資産に係る取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ（あなた）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00070" type="BRD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00080" type="BRD00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00120" type="BRD00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00130" type="BRD00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"B（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00260" type="BRD00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00270" type="BRD00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00310" type="BRD00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00320" type="BRD00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00410" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者（共有者）の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00450" type="BRD00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00460" type="BRD00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00500" type="BRD00500-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00510" type="BRD00510-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ（合計等）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00690" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ（あなた）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00720" type="BRD00720-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00770" type="BRD00770-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BRD00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ（共有者）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BRD00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00820" type="BRD00820-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BRD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="BRB00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00220-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00230-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRB00255-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BRB00283-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BRC00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00140-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00210-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00220-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00270-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00300-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00340-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00370-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00410-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00440-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00480-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00485-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00510-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00515-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00590-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRC00650-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00260-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00450-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00460-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00500-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00510-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00720-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00770-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BRD00820-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BRB00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRB00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRB00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRB00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRB00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRB00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRB00230-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRB00230-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00340-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00340-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00480-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00480-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00485-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00485-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00515-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00515-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00590-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00590-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRC00650-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRC00650-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00500-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00500-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00510-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00510-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00720-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00720-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00770-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00770-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BRD00820-1-0type">
<xsd:simpleContent>
<xsd:extension base="BRD00820-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
