etax/19XMLスキーマ/shotoku/KOB130-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　住宅借入金等特別控除額の計算明細書
version：2.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB130-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB130-2-0group">
<xsd:sequence>
<xsd:element name="KOB130">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB130-1" type="KOB130-1-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除額の計算明細書(一面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB130-2" type="KOB130-2-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"(付表)連帯債務がある場合の住宅借入金等の年末残高の計算明細書(ニ面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB130-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB130-1-2-0type">
<xsd:sequence>

<xsd:element name="HAA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAB00020" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAB00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAB00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAB00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAB00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(共有者の氏名)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAC00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAC00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00040" type="HAD00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00050" type="HAD00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00090" type="HAD00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAD00100" type="HAD00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　家屋や土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00030" type="HAF00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAF00040" type="HAF00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00080" type="HAF00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAF00090" type="HAF00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAF00150" type="HAF00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAF00160" type="HAF00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　居住用部分の家屋又は土地等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(E)住宅のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00030" type="HAG00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00060" type="HAG00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(F)土地等のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00100" type="HAG00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00130" type="HAG00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAG00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(G)住宅及び土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00170" type="HAG00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00200" type="HAG00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAG00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(H)増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00250" type="HAG00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00260" type="HAG00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00310" type="HAG00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00320" type="HAG00320-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAG00355" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00365" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"欄外"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAG00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAG00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)の金額から特例の適用を受けた金額を差し引いた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6　住宅借入金等特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成13年1月1日から平成18年12月31日までの間に居住の用に供した場合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成13年1月1日から平成18年12月31日までの間に居住の用に供した場合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成11年1月1日から平成12年12月31日までの間に居住の用に供した場合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成11年1月1日から平成12年12月31日までの間に居住の用に供した場合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円以下のとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円以下のとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円を超え、2,000万円以下のとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円を超え、2,000万円以下のとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が2,000万円を超えるとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が2,000万円を超えるとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAH00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成13年1月1日から平成18年12月31日までの間に居住の用に供した場合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成13年1月1日から平成18年12月31日までの間に居住の用に供した場合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成11年1月1日から平成12年12月31日までの間に居住の用に供した場合(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成11年1月1日から平成12年12月31日までの間に居住の用に供した場合(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"阪神・淡路大震災の被災者の家屋の再取得等の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAH00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円以下のとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円以下のとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円を超え、2,000万円以下のとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が1,000万円を超え、2,000万円以下のとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が2,000万円を超えるとき(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAH00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)が2,000万円を超えるとき(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7　控除証明書の要否"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAI00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAI00020" type="HAI00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要否区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB130-2-2-0type">
<xsd:sequence>

<xsd:element name="HAJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　各共有者の取得した資産に係る取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00060" type="HAJ00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00070" type="HAJ00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00110" type="HAJ00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00120" type="HAJ00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00250" type="HAJ00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00260" type="HAJ00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00300" type="HAJ00300-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00310" type="HAJ00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00400" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00440" type="HAJ00440-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00450" type="HAJ00450-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00490" type="HAJ00490-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00500" type="HAJ00500-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)合計等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAJ00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAJ00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAJ00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00030" type="HAK00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAK00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00080" type="HAK00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HAK00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HAK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00130" type="HAK00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HAK00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="HAD00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAD00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAD00090-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAD00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAF00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00030-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00060-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00250-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00260-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00310-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAG00320-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HAI00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HAJ00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00250-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00300-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00310-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00440-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00450-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00490-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAJ00500-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAK00030-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAK00080-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HAK00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HAD00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAD00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAD00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAD00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAD00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAD00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAD00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAD00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAF00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAF00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAG00320-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAG00320-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00300-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00300-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00440-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00440-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00450-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00450-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00490-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00490-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAJ00500-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAJ00500-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAK00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAK00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAK00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAK00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HAK00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="HAK00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
