etax/19XMLスキーマ/shotoku/KOB140-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：家内労働者等の事業所得等の所得計算の特例の適用を受ける場合の必要経費の額の計算書
version：3.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB140-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB140-3-0group">
<xsd:sequence>
<xsd:element name="KOB140">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BNA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BNC00000" type="BNC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BND00000" type="BND00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BNE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６５万円－（２）－（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６５万円－（３）－（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BNH00000" type="BNH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適用後の必要経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB140-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BNC00000-3-0type">
<xsd:sequence>

<xsd:element name="BNC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BNC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例適用前の必要経費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BND00000-3-0type">
<xsd:sequence>

<xsd:element name="BND00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BNH00000-3-0type">
<xsd:sequence>

<xsd:element name="BNH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）がない場合、（３）が（５）より少ないか同額の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）と（６）とのいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNH00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）が（５）より多い場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BNH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BNH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）と（５）とのいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
