etax/19XMLスキーマ/shotoku/KOB150-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：試験研究費の総額  特別共同試験研究費に係る所得税額の特別控除に関する明細書
version：3.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB150-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB150-3-0group">
<xsd:sequence>
<xsd:element name="KOB150">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EPA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EPD00000" type="EPD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00000" type="EPE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別共同試験研究費に係る特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00000" type="EPF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度超過額の繰越控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB150-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EPD00000-3-0type">
<xsd:sequence>

<xsd:element name="EPD00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EPD00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年を含む4年以内の各年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EPD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各年分の売上金額の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00060" type="EPD00060-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EPD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)が100分の10未満の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EPD00110" type="EPD00110-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EPD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EPE00000-3-0type">
<xsd:sequence>

<xsd:element name="EPE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち特別共同試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EPE00040" type="EPE00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EPE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"共同研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額基準控除済金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額から所得税額基準控除済金額を控除した後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別共同試験研究費に係る所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EPF00000-3-0type">
<xsd:sequence>

<xsd:element name="EPF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち租税特別措置法第11条の3第1項の規定を適用して開発研究用設備に係る償却費として必要経費に算入した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)欄の開発研究用設備に係る普通償却限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の試験研究費の額から特別償却実施額を控除した後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分の事業所得の計算上必要経費に算入した試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の(25)から(31)は、(23)の金額が(24)の金額を超える場合（(23)＞(24)）にのみ入力する"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EPF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年の税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年の試験研究費の総額に係る所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年の共同研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年の特別共同試験研究費に係る所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EPF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EPF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="EPD00060-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EPD00110-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EPE00040-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EPD00060-3-0type">
<xsd:simpleContent>
<xsd:extension base="EPD00060-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EPD00110-3-0type">
<xsd:simpleContent>
<xsd:extension base="EPD00110-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EPE00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="EPE00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
