etax/19XMLスキーマ/shotoku/KOB160-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：情報通信機器等を取得した場合等の所得税額の特別控除に関する明細書(本表)
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB160-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB160-1-0group">
<xsd:sequence>
<xsd:element name="KOB160">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EQA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EQC00000" type="EQC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等を取得した場合等の所得税額の特別控除に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB160-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EQC00000-1-0type">
<xsd:sequence>

<xsd:element name="EQC00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00030" type="EQC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第１０条の６第３項、第４項又は第５項の該当項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00040" type="EQC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00050" type="EQC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は賃借の年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00110" type="EQC00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00180" type="EQC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額に係る所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ソフトウエア以外の情報通信機器等の取得等価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ソフトウエアの取得等価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ソフトウエア以外の情報通信機器等の改定リース料の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ソフトウエアの改定リース料の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EQC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EQC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EQC00500" type="EQC00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EQC00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQC00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQC00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EQC00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="240"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EQC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="EQC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQC00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="EQC00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EQC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="EQC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
