etax/19XMLスキーマ/shotoku/KOB131-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　(特定増改築等)住宅借入金等特別控除額の計算明細書(重複適用分)
version：6.0
Date：2017年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB131-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB131-6-0group">
<xsd:sequence>
<xsd:element name="KOB131">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB131-1" type="KOB131-1-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額の計算明細書(一面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB131-2" type="KOB131-2-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額の計算(二面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB131-3" type="KOB131-3-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"(付表1)補助金等の交付を受ける場合又は住宅取得等資金の贈与の特例を受けた場合の取得対価の額等の計算明細書(三面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB131-4" type="KOB131-4-6-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"(付表2)連帯債務がある場合の住宅借入金等の年末残高の計算明細書(四面)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB131-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB131-1-6-0type">
<xsd:sequence>

<xsd:element name="ASA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　住所及び氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASB00020" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASB00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASB00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(共有者の氏名)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASC00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　新築又は購入した家屋等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00040" type="ASD00040-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00050" type="ASD00050-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00090" type="ASD00090-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASD00100" type="ASD00100-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の(床)面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　増改築等をした部分に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"うち居住用部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASE10000" type="ASE10000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　特定取得に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　家屋や土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00030" type="ASF00030-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00040" type="ASF00040-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00080" type="ASF00080-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00090" type="ASF00090-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASF00150" type="ASF00150-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASF00160" type="ASF00160-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6　居住用部分の家屋又は土地等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(E)住宅のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00030" type="ASG00030-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00060" type="ASG00060-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(F)土地等のみ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00100" type="ASG00100-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00130" type="ASG00130-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASG00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(G)住宅及び土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00170" type="ASG00170-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00200" type="ASG00200-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASG00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(H)増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASG00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築、購入及び増改築等に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00250" type="ASG00250-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務に係るあなたの負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00310" type="ASG00310-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASG00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に係る住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASG00355" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7　特定の増改築等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASL00010" type="ASL00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢が50歳以上（同居親族の方の場合は65歳以上）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00020" type="ASL00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者(1に該当する方を除きます。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00030" type="ASL00030-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要介護認定又は要支援認定を受けている（1又は2に該当する方を除きます。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00050" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00105" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定多世帯同居改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00225" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定耐久性向上改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等工事の費用の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る特定の増改築等工事の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASL00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定増改築等住宅借入金等、特定断熱改修住宅借入金等又は特定多世帯同居改修住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"8　 (特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASM00015" type="ASM00015-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00025" type="ASM00025-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00040" type="ASM00040-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用期間の特例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00050" type="ASM00050-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00060" type="ASM00060-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用の特例"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASM00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"二面の(19)の(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"9　控除証明書の要否"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASI00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASI00020" type="ASI00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要否区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB131-2-6-0type">
<xsd:sequence>

<xsd:element name="ASN00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASO00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASP00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASP00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00003" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成23年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成21年1月1日から平成22年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASQ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASQ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASR00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の控除額の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASR00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成20年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASR00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASR00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成19年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASR00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASS00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定住宅の新築等に係る住宅借入金等特別控除の特例を選択した場合　認定住宅が認定長期優良住宅に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASS00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASS00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASS00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASS00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成21年6月4日から平成23年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASS00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA40000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定住宅の新築等に係る住宅借入金等特別控除の特例を選択した場合　認定住宅が認定低炭素住宅に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA40050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA40060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA40070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の取得等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA40080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA40030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年中に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA40040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA40010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成24年12月4日から平成24年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA40020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AST00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AST00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AST00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AST00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AST00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AST00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年1月1日から平成25年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AST00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AST00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASU00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASU00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当するとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASU00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASU00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年1月1日から平成29年12月31日までの間に居住の用に供した場合　住宅の増改築等が特定取得に該当しないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASU00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASU00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年1月1日から平成25年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASU00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASU00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA80000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"多世帯同居改修工事等に係る特定増改築等住宅借入金等特別控除を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA80010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成28年4月1日から平成29年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA80020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA80030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA80040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA50000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災特例法の住宅の再取得等に係る住宅借入金等特別控除の控除額の特例を選択した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA50050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成26年4月1日から平成29年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA50060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA50030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成25年1月1日から平成26年3月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA50040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA50010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成23年1月1日から平成24年12月31日までの間に居住の用に供した場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA50020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA60000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA60010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA70000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"震災特例法の重複適用の特例を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA70010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB131-3-6-0type">
<xsd:sequence>

<xsd:element name="ASZ00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA10000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　補助金等の交付を受ける場合の取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20020" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"補助金等の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20050" type="ASA20050-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付対象"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の新築又は購入に関し補助金等の交付を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の増改築等の費用に関し補助金等の交付を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補助金等控除前の増改築等の費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定の増改築等の費用の額から控除すべき補助金等の交付を受ける場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額(8)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((7)-(8))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"断熱改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額(11)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((10)-(11))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定断熱改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額(14)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((13)-(14))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA20430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA20480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定多世帯同居改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額(17)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((16)-(17))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定耐久性向上改修工事等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額(20)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA20530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((19)-(20))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　住宅取得等資金の贈与の特例を受けた場合の取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)家屋"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30030" type="ASA30030-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30040" type="ASA30040-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30045" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((22)*(23))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30075" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30090" type="ASA30090-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30100" type="ASA30100-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30105" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((22)*(23))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(E)合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((22)*(23))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(F)増改築等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30173" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30175" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30190" type="ASA30190-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASA30200" type="ASA30200-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30203" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((22)*(23))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30205" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の贈与の特例を受けた金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASA30240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASA30250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB131-4-6-0type">
<xsd:sequence>

<xsd:element name="ASW00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　各共有者の取得した資産に係る取得対価の額等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00060" type="ASX00060-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00070" type="ASX00070-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00110" type="ASX00110-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00120" type="ASX00120-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00250" type="ASX00250-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00260" type="ASX00260-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00300" type="ASX00300-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00310" type="ASX00310-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00400" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者(共有者)の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋(増改築等)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00440" type="ASX00440-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00450" type="ASX00450-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る家屋の取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00490" type="ASX00490-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00500" type="ASX00500-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の持分に係る土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の取得した資産に係る取得対価の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(D)合計等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋の取得対価の額(増改築等の費用の額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASX00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得した資産に係る資金の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の自己資金負担額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借入金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASX00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の単独債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による当初借入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASX00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該債務に係る住宅借入金等に係る年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASY00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASY00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)あなた"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASY00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00030" type="ASY00030-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASY00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(B)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASY00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00080" type="ASY00080-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ASY00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)共有者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ASY00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の負担すべき連帯債務による借入金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00130" type="ASY00130-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の負担割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務による借入金に係る各共有者の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ASY00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各共有者の住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="ASD00040-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASD00050-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASD00090-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASD00100-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ASE10000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ASF00030-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASF00040-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASF00080-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASF00090-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASF00150-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASF00160-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00030-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00060-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00100-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00130-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00170-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00200-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00250-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASG00310-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ASL00010-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASL00020-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASL00030-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ASM00015-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ASM00025-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASM00040-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASM00050-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASM00060-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASI00020-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ASA20050-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ASA30030-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA30040-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA30090-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA30100-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA30190-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASA30200-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00060-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00070-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00110-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00120-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00250-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00260-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00300-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00310-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00440-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00450-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00490-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASX00500-6-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASY00030-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASY00080-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ASY00130-6-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ASD00040-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASD00040-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASD00050-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASD00050-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASD00090-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASD00090-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASD00100-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASD00100-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00030-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00030-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00040-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00040-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00080-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00080-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00090-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00090-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00150-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00150-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASF00160-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASF00160-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00030-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00030-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00060-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00060-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00100-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00100-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00130-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00130-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00170-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00170-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00200-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00200-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00250-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00250-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASG00310-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASG00310-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASM00015-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASM00015-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30030-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30030-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30040-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30040-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30090-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30090-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30100-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30100-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30190-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30190-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASA30200-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASA30200-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00060-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00060-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00070-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00070-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00110-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00110-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00120-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00120-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00250-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00250-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00260-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00260-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00300-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00300-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00310-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00310-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00440-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00440-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00450-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00450-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00490-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00490-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASX00500-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASX00500-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASY00030-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASY00030-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASY00080-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASY00080-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ASY00130-6-0type">
<xsd:simpleContent>
<xsd:extension base="ASY00130-6-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
