etax/19XMLスキーマ/shotoku/KOB250-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：製品保証等引当金に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB250-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB250-1-0group">
<xsd:sequence>
<xsd:element name="KOB250">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BYA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の請負又は製造に係る収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BYD00000" type="BYD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補修費の支出割合の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BYE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分必要経費に算入される製品保証等引当金繰入限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年繰り入れた製品保証等引当金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB250-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BYD00000-1-0type">
<xsd:sequence>

<xsd:element name="BYD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年分の請負又は製造に係る収入金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前２年分の請負又は製造に係る補修費の額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BYD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"補修費の支出割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BYD00100" type="BYD00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実績による補修費の支出割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00110" type="BYD00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定の補修費の支出割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BYD00120" type="BYD00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分必要経費に算入される製品保証等引当金繰入限度額(分子)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BYD00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYD00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BYD00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BYD00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BYD00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BYD00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="BYD00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BYD00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="BYD00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
