etax/19XMLスキーマ/shotoku/KOB290-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：中小企業者が機械等を指定事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB290-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB290-1-0group">
<xsd:sequence>
<xsd:element name="KOB290">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CDA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CDC00000" type="CDC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00000" type="CDD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年に対象事業の用に供した他の供用廃止設備で既にリース特別控除の取戻しの適用を受けた供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB290-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CDC00000-1-0type">
<xsd:sequence>

<xsd:element name="CDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00030" type="CDC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00040" type="CDC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械装置等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00060" type="CDC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00090" type="CDC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）のうち既にリース特別控除の取戻しの適用を受けた特定機械等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３４）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）＋（１３）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書（付表）の（（１５）－（２０））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた特定機械装置等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３５）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）＋（２１）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）－（１６）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１６）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２５）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00410" type="CDC00410-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00420" type="CDC00420-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械装置等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00430" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00440" type="CDC00440-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00460" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00470" type="CDC00470-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）のうち既にリース特別控除の取戻しの適用を受けた特定機械等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３４）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）又は（（Ａ）＋（Ｂ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）＋（１３）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書（付表）の（（１５）－（２０））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた特定機械装置等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３５）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｃ）又は（（Ｃ）＋（Ｄ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）＋（２１）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）－（１６）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１６）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２５）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00810" type="CDC00810-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00820" type="CDC00820-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械装置等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00830" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00840" type="CDC00840-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00850" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00860" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00870" type="CDC00870-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）のうち既にリース特別控除の取戻しの適用を受けた特定機械等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３４）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）又は（（Ａ）＋（Ｂ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１２）＋（１３）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書（付表）の（（１５）－（２０））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた特定機械装置等がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３５）の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ｃ）又は（（Ｃ）＋（Ｄ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）＋（２１）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）－（１６）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１６）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分のリース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDC01180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDC01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２５）*（（４）－（７））／（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC01200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分のリース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CDD00000-1-0type">
<xsd:sequence>

<xsd:element name="CDD00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDD00020" type="CDD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CDD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計（リース費用の総額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計（供用年のリース税額控除実施額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計（供用年の翌年のリース税額控除実施額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CDC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00410-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00420-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00440-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00470-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00810-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00820-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00840-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDC00870-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CDD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CDC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CDC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CDC00440-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00440-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CDC00470-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00470-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CDC00840-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00840-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CDC00870-1-0type">
<xsd:simpleContent>
<xsd:extension base="CDC00870-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
