etax/19XMLスキーマ/shotoku/KOB200-009.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：政党等寄附金特別控除額の計算明細書
version：9.0
Date：2011年08月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB200-9-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="9.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB200-9-0group">
<xsd:sequence>
<xsd:element name="KOB200">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BTA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BTB00000" type="BTB00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BTA00005" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BTC00000" type="BTC00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 寄附金の区分等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00000" type="BTD00000-9-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 政党等寄附金特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB200-9-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BTB00000-9-0type">
<xsd:sequence>

<xsd:element name="BTB00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTC00000-9-0type">
<xsd:sequence>

<xsd:element name="BTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金の区分等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)以外の寄附金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) + (2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BTC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4) * 40%"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金の内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BTC00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BTD00000-9-0type">
<xsd:sequence>

<xsd:element name="BTD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5) - (2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1) と (6) のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2千円 - (2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"( (7) - (8) ) * 30%"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00045" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の所得税の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10) * 25%"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BTD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
