etax/19XMLスキーマ/shotoku/KOB210-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国庫補助金等の総収入金額不算入に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB210-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB210-1-0group">
<xsd:sequence>
<xsd:element name="KOB210">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BUA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUC00000" type="BUC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国庫補助金等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUD00000" type="BUD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国庫補助金等を交付した者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUE00000" type="BUE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付の目的"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUG00000" type="BUG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国庫補助金等の交付に代わるべきものとして交付を受けた資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた国庫補助金等の額又は国庫補助金等の交付に代わるべきものとして交付を受けた資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUI00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BUJ00000" type="BUJ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた年の１２月３１日までに国庫補助金等の返還を要しないことが確定した場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUK00000" type="BUK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた年の１２月３１日までに、国庫補助金等の返還を要しないことが確定しない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BUL00000" type="BUL00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB210-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BUJ00000-1-0type">
<xsd:sequence>

<xsd:element name="BUJ00010" type="BUJ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた国庫補助金等で取得（改良）した固定資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUJ00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還を要しないことが確定した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BUK00000-1-0type">
<xsd:sequence>

<xsd:element name="BUK00010" type="BUK00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付の条件"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUK00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた国庫補助金等で取得（改良）しようとする固定資産の取得（改良）予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUK00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けた国庫補助金等で取得（改良）しようとする固定資産の取得（改良）に要する金額の見込額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BUK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUK00050" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"内訳　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BUK00060" type="BUK00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BUK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BUC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUJ00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUK00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUK00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BUL00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
