etax/19XMLスキーマ/shotoku/KOB280-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：中小企業者が機械等を取得した場合等の所得税額の特別控除に関する明細書(本表)
version：2.0
Date：2008年08月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB280-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB280-2-0group">
<xsd:sequence>
<xsd:element name="KOB280">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CBA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CBC00000" type="CBC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小企業者が機械等を取得した場合等の所得税額の控除に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB280-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CBC00000-2-0type">
<xsd:sequence>

<xsd:element name="CBC00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00030" type="CBC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第１０条の３の該当項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00040" type="CBC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00050" type="CBC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械装置等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は賃借の年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"指定事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00120" type="CBC00120-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00190" type="CBC00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額に係る所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料の総額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CBC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CBC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CBC00430" type="CBC00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定機械装置等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CBC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00120-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CBC00430-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="240"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CBC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="CBC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBC00120-2-0type">
<xsd:simpleContent>
<xsd:extension base="CBC00120-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CBC00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="CBC00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
