etax/19XMLスキーマ/shotoku/KOB360-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：[　]の特別償却に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB360-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB360-2-0group">
<xsd:sequence>
<xsd:element name="KOB360">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CLA00000" type="CLA00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00185" type="CLD00185-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（６）又は（６）*　　／100）*特別償却率　分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CLD00000" type="CLD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"特別償却に関する明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB360-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CLD00000-2-0type">
<xsd:sequence>

<xsd:element name="CLD00010" type="CLD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00020" type="CLD00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00030" type="CLD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却の基礎となる金額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00080" type="CLD00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐用年数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00090" type="CLD00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却方法"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00100" type="CLD00100-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00110" type="CLD00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出償却費"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増加償却費"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械設備等を事業の用に供した年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却可能額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00190" type="CLD00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却率"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却可能額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費に算入した特別償却費"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械設備等を事業の用に供した年の翌年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年からの繰越額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費に算入した特別償却費"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却費合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未償却残高"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CLA00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="2"/><xsd:maxInclusive value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00100-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00185-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00190-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CLD00185-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00185-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00100-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00100-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
