etax/19XMLスキーマ/shotoku/KOB370-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：プログラム等準備金に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB370-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB370-1-0group">
<xsd:sequence>
<xsd:element name="KOB370">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CMA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CMC00000" type="CMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準備金の積立限度額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00000" type="CMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額に算入する額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB370-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CMC00000-1-0type">
<xsd:sequence>

<xsd:element name="CMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム等の開発の費用の支出に備えるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年分の制御プログラムの譲渡又は提供等に係る収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６億５千万円*　／１２相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMC00035" type="CMC00035-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年分の制御プログラム以外の汎用プログラムの譲渡又は提供等に係る収入金額　（４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMC00083" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）と１００億円*　／１２相当額のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMC00087" type="CMC00087-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）のうち１００億円相当額を超える部分の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年分の情報処理システムの企画等の役務の提供に係る収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）のうち他の者への業務委託に要した費用の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）に係る積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データベースの構成の費用の支出に備えるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年分の証明データベースの譲渡、提供又は利用の許諾等に係る収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立限度額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年積み立てたプログラム等準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CMD00000-1-0type">
<xsd:sequence>

<xsd:element name="CMD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積み立てた年の翌年一月一日から四年を経過したもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積み立てた年の翌年一月一日から四年を経過したもの　１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初積み立てた準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年初現在の準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の収入金額に算入する額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年経過後４年間均等取崩しによるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）以外のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00090" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"積み立てた年の翌年一月一日から四年を経過したもの　２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初積み立てた準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年初現在の準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の収入金額に算入する額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年経過後４年間均等取崩しによるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）以外のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00170" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"積み立てた年の翌年一月一日から四年を経過していないもの　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00180" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"積立年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初積み立てた準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年初現在の準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の収入金額に算入する額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）以外のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初積み立てた準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初積み立てた準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年初現在の準備金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の収入金額に算入する額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CMD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年経過後４年間均等取崩しによるもの　（２０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CMD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２０）以外のもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CMD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CMC00035-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CMC00087-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CMC00035-1-0type">
<xsd:simpleContent>
<xsd:extension base="CMC00035-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CMC00087-1-0type">
<xsd:simpleContent>
<xsd:extension base="CMC00087-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
