etax/19XMLスキーマ/shotoku/KOB381-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：事業基盤強化設備に係る繰越税額控除限度超過額の計算上控除される金額に関する明細書(付表)
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB381-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB381-1-0group">
<xsd:sequence>
<xsd:element name="KOB381">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="COA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="COC00000" type="COC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00000" type="COD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="COE00000" type="COE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB381-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="COC00000-1-0type">
<xsd:sequence>

<xsd:element name="COC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00020" type="COC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00030" type="COC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00050" type="COC00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00080" type="COC00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00140" type="COC00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00150" type="COC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00170" type="COC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00200" type="COC00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00260" type="COC00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00270" type="COC00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00290" type="COC00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00320" type="COC00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COC00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="COD00000-1-0type">
<xsd:sequence>

<xsd:element name="COD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１明細目　供用廃止設備の供用年におけるリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）－（１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２明細目　供用廃止設備の供用年におけるリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）又は（（Ａ）＋（Ｂ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）－（１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３明細目　供用廃止設備の供用年におけるリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="COD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）又は（（Ａ）＋（Ｂ））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）－（１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="COD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備に係る繰越リース税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１６）のうち、リースに係る繰越税額控除限度超過額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１５）と（１８）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、対象事業の用に供しなくなった期間に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース分に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２１）－（１８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="COD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="COC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00290-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COC00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="COE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="COC00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="COC00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="COC00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
