etax/19XMLスキーマ/shotoku/KOB405-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国外事業所等に帰せられるべき純資産に対応する負債の利子の必要経費不算入額の計算及び国外事業所等帰属純資産相当額の計算に関する明細書
version：1.0
Date：2018年10月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB405-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB405-1-0group">
<xsd:sequence>
<xsd:element name="KOB405">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DUA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DUC00000" type="DUC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に帰せられるべき純資産に対応する負債の利子の必要経費不算入額の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00000" type="DUD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB405-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DUC00000-1-0type">
<xsd:sequence>

<xsd:element name="DUC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等の名称等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00030" type="DUC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00050" type="DUC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債の利子の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等を通じて行う事業に係る負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち国外事業所等から居住者の事業場等に対する内部支払利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)のうち国外事業所等帰属所得に係る必要経費として配分した金額に含まれる負債の利子の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に係る純資産の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に係る資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に係る負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に係る純資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費不算入額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に帰せられる有利子負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((8)－(11))と(12)のうち少ない金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費不算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DUD00000-1-0type">
<xsd:sequence>

<xsd:element name="DUD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本配賦法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12月31日における国外事業所等に帰せられる資産の額について発生し得る危険を勘案して計算した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12月31日における総資産の額について発生し得る危険を勘案して計算した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本配賦簡便法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総負債の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12月31日における国外事業所等に帰せられる資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12月31日における貸借対照表に計上されている総資産の帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同業個人比準法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12月31日における国外事業所等に帰せられる資産の額について発生し得る危険を勘案して計算した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00180" type="DUD00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00190" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00200" type="DUD00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00210" type="gen:yyyy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の12月31日における貸借対照表に計上されている純資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の12月31日における総資産の額について発生し得る危険を勘案して計算した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00240" type="DUD00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同業個人比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価資産資本比率比準法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等に帰せられる資産の帳簿価額の平均残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00290" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DUD00310" type="DUD00310-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国名又は地域名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00320" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00330" type="DUD00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる事業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00340" type="gen:yyyy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の12月31日における貸借対照表に計上されている純資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較対象年の12月31日における貸借対照表に計上されている総資産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DUD00370" type="DUD00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"簿価資産資本比率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DUD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外事業所等帰属純資産相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DUC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00240-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00310-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00330-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DUD00370-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DUD00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="DUD00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DUD00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="DUD00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
