etax/19XMLスキーマ/shotoku/KOB420-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：製品輸入額が増加した場合の所得税額の特別控除に関する明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB420-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB420-1-0group">
<xsd:sequence>
<xsd:element name="KOB420">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CTA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CTC00000" type="CTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の製品輸入額の合計額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CTD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTE00000" type="CTE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製品輸入増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）が０．０５以上である場合の製品輸入増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CTG00000" type="CTG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CTH00120" type="CTH00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製品輸入額の合計額　分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CTH00000" type="CTH00000-1-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"基準年の製品輸入額の合計額の計算　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB420-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CTC00000-1-0type">
<xsd:sequence>

<xsd:element name="CTC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己が輸入した輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託により輸入した輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において輸入したものとみなされる輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出をした違約品の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年の購入に代えて行った輸入に係る製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年の特殊関係者の輸入に代えて行った輸入に係る製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年の製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CTG00000-1-0type">
<xsd:sequence>

<xsd:element name="CTG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１１）*４／１００"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTG00060" type="CTG00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額に係る所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CTG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CTH00000-1-0type">
<xsd:sequence>

<xsd:element name="CTH00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己が輸入した輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託により輸入した輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規指定製品に係る製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"解除製品に係る製品輸入額でないものとみなされる輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸入したものとみなされる輸入促進対象製品の製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"輸出をした違約品の製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製品輸入額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CTH00100" type="CTH00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年において事業を営んでいた期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CTH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"製品輸入額の合計額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CTE00000-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTG00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTH00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CTH00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CTE00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="CTE00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTH00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="CTH00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTG00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="CTG00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CTH00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="CTH00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
