etax/19XMLスキーマ/shotoku/KOB550-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：先物取引に係る雑所得等の金額の計算明細書
version：7.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB550-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB550-7-0group">
<xsd:sequence>
<xsd:element name="KOB550">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DGA00000" type="DGA00000-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DGB00000" type="DGB00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DGC00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DGD00000" type="DGD00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品先物取引に係る雑所得等の金額の計算明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB550-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DGB00000-7-0type">
<xsd:sequence>

<xsd:element name="DGB00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DGD00000-7-0type">
<xsd:sequence>

<xsd:element name="DGD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費項目名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00040" type="DGD00040-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目（７）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00050" type="DGD00050-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目（８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00060" type="DGD00060-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目（９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（A)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00090" type="DGD00090-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00110" type="DGD00110-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00120" type="DGD00120-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済の方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差金等決済に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00145" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00185" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）に係る取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（７）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（B)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00300" type="DGD00300-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00320" type="DGD00320-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00330" type="DGD00330-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済の方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差金等決済に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00355" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00395" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）に係る取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（７）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（C)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00510" type="DGD00510-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00520" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00530" type="DGD00530-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00540" type="DGD00540-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"決済の方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差金等決済に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00565" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00605" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）に係る取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（７）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差金等決済に係る利益又は損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00725" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"手数料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00765" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）に係る取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の経費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DGD00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（７）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（８）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DGD00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DGD00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="DGA00000-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DGD00040-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00050-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00060-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00090-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00110-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00120-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00300-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00320-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00330-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00510-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00530-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DGD00540-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DGD00110-7-0type">
<xsd:simpleContent>
<xsd:extension base="DGD00110-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DGD00320-7-0type">
<xsd:simpleContent>
<xsd:extension base="DGD00320-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DGD00530-7-0type">
<xsd:simpleContent>
<xsd:extension base="DGD00530-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
