etax/19XMLスキーマ/shotoku/KOB560-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分医療費の明細書
version：2.0
Date：2004年07月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB560-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB560-2-0group">
<xsd:sequence>
<xsd:element name="KOB560">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DHA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DHB00000" type="DHB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00000" type="DHC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療費の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00000" type="DHD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB560-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DHB00000-2-0type">
<xsd:sequence>

<xsd:element name="DHB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHB00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHC00000-2-0type">
<xsd:sequence>

<xsd:element name="DHC00010" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療を受けた人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00030" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"病院・薬局などの所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"病院・薬局などの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除の対象となる医療費の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00070" type="DHC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"治療内容・医療品名など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った医療費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除の対象となる医療費の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った医療費"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00170" type="DHC00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00200" type="DHC00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除の対象となる医療費の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DHC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った医療費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DHC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左のうち保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DHD00000-2-0type">
<xsd:sequence>

<xsd:element name="DHD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った医療費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"A－B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"D*０．０５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"100,000円とEのいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DHD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"C－F"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DHC00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DHC00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DHC00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
