etax/19XMLスキーマ/shotoku/KOB575-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分セルフメディケーション税制の明細書(次葉)
version：3.0
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB575-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB575-3-0group">
<xsd:sequence>
<xsd:element name="KOB575">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="KNA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KND00000" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KNB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KNC00000" type="KNC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　特定一般用医薬品等購入費の明細（つづき）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB575-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KNC00000-3-0type">
<xsd:sequence>

<xsd:element name="KNC00010" minOccurs="0" maxOccurs="25">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KNC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"薬局などの支払先の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KNC00030" type="KNC00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医薬品の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KNC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KNC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）のうち生命保険や社会保険などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KNC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KNC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払った金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KNC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）のうち生命保険や社会保険などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KNC00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
