etax/19XMLスキーマ/shotoku/KOB600-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：沖縄の特定中小企業者が経営革新設備等を取得した場合等の所得税額の特別控除に関する明細書(本表)
version：2.0
Date：2008年08月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB600-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB600-2-0group">
<xsd:sequence>
<xsd:element name="KOB600">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DLA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DLC00000" type="DLC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経営革新設備等を取得した場合等の所得税額の特別控除に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB600-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DLC00000-2-0type">
<xsd:sequence>

<xsd:element name="DLC00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLC00030" type="DLC00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第10条の5の該当項"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00040" type="DLC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00050" type="DLC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得又は賃借の年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00110" type="DLC00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00040" type="DLD00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額に係る所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち建物及びその付属設備に係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料の総額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分繰越税額控除限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（４年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（３年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00070" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（２年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00120" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（前年）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00170" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（４年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00330" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（３年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00370" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（２年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00420" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（前年）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00470" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（４年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00630" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（３年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00670" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（２年前）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00720" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分（前年）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00770" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00820" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DLE00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLE00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DLE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DLF00000" type="DLF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DLC00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DLC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DLC00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DLC00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DLD00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DLF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="320"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DLC00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="DLC00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DLC00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="DLC00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DLD00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="DLD00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
