etax/19XMLスキーマ/shotoku/KOB620-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：沖縄の特定中小企業者が経営革新設備を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB620-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB620-2-0group">
<xsd:sequence>
<xsd:element name="KOB620">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DNA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DNC00000" type="DNC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額に関する明細 １"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00000" type="DND00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額に関する明細 ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00000" type="DNE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額に関する明細 ３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB620-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DNC00000-2-0type">
<xsd:sequence>

<xsd:element name="DNC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00030" type="DNC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00040" type="DNC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00060" type="DNC00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00170" type="DNC00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00190" type="DNC00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00200" type="DNC00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年以後4年内の各年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の前年以前３年内の繰越税額控除限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年に繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年にリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２３）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１９）のうち、供用年のリースに係る繰越税額控除限度超過額の実施相当額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち、左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年の前年までの各年分の繰越リース税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２６）－（２７）＋（２８）－（２９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DND00000-2-0type">
<xsd:sequence>

<xsd:element name="DND00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00030" type="DND00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00040" type="DND00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00060" type="DND00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00170" type="DND00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00190" type="DND00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00200" type="DND00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年以後4年内の各年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の前年以前３年内の繰越税額控除限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年に繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年にリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２３）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１９）のうち、供用年のリースに係る繰越税額控除限度超過額の実施相当額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DND00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち、左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DND00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年の前年までの各年分の繰越リース税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２６）－（２７）＋（２８）－（２９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DND00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DNE00000-2-0type">
<xsd:sequence>

<xsd:element name="DNE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00030" type="DNE00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00040" type="DNE00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00060" type="DNE00060-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00170" type="DNE00170-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00190" type="DNE00190-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00200" type="DNE00200-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00265" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分のリース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年以後4年内の各年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年における供用年の前年以前３年内の繰越税額控除限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年に繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき、その年にリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２３）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１９）のうち、供用年のリースに係る繰越税額控除限度超過額の実施相当額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DNE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち、左記の設備に係るリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DNE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年の前年までの各年分の繰越リース税額控除限度額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２６）－（２７）＋（２８）－（２９）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年のリース特別控除取戻税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DNE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年のリース特別控除取戻税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DNC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNC00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNC00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNC00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNC00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DND00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00060-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00170-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00190-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DNE00200-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DNC00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNC00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNC00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNC00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNC00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNC00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNC00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNC00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DND00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="DND00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DND00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="DND00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DND00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="DND00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DND00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="DND00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNE00060-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNE00060-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNE00170-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNE00170-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNE00190-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNE00190-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DNE00200-2-0type">
<xsd:simpleContent>
<xsd:extension base="DNE00200-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
