etax/19XMLスキーマ/shotoku/KOB640-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：情報通信機器等を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB640-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB640-1-0group">
<xsd:sequence>
<xsd:element name="KOB640">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ESA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ESC00000" type="ESC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等を事業の用に供しなくなった場合のリース特別控除取戻税額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00000" type="ESF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年に事業の用に供した他の供用廃止設備で既にリース特別控除の取戻しの適用を受けた供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB640-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ESC00000-1-0type">
<xsd:sequence>

<xsd:element name="ESC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細　1列目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00030" type="ESC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00040" type="ESC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00060" type="ESC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00090" type="ESC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細　2列目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00230" type="ESC00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00240" type="ESC00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00260" type="ESC00260-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00280" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00290" type="ESC00290-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細　3列目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00430" type="ESC00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00440" type="ESC00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00460" type="ESC00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00490" type="ESC00490-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESC00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)＋(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額(A)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)＋(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)－(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額(C )"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)又は((A)＋(B))((16)の(A）)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)＋(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額(B)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額(B)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(C)又は((C)＋(D))((25)の(C）)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)＋(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)－(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額(D)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース特別控除額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)又は((A)＋(B))((16)の(A）＋(B))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)＋(13)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース特別控除額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額の控除実施額相当額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年の特別控除に関する明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既にリース特別控除の取戻しの適用を受けた設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)の計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((C)又は((C)＋(D))((25)の(C）＋(D))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)＋(21)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の繰越税額控除限度超過額控除実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESD00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)－(16)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分のリース特別控除取戻税額の合計(（26）の計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分の取戻税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)*((4)－(7))／(4)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年分のリース特別控除取戻税額の合計(（28）の計)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ESF00000-1-0type">
<xsd:sequence>

<xsd:element name="ESF00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESF00020" type="ESF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報通信機器等の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ESF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ESF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ESF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の翌年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ESC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00060-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00090-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00260-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00290-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00430-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00440-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00460-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESC00490-1-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ESF00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ESC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ESC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ESC00260-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00260-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ESC00290-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00290-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ESC00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ESC00490-1-0type">
<xsd:simpleContent>
<xsd:extension base="ESC00490-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
