etax/19XMLスキーマ/shotoku/KOB610-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：沖縄の特定中小企業者が経営革新設備等に係る繰越税額控除限度超過額の計算上控除される金額に関する明細書(付表)
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB610-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB610-1-0group">
<xsd:sequence>
<xsd:element name="KOB610">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DMA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DMC00000" type="DMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額の計算上控除される金額に関する明細 １"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00000" type="DMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額の計算上控除される金額に関する明細 ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00000" type="DME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度超過額の計算上控除される金額に関する明細 ３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB610-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DMC00000-1-0type">
<xsd:sequence>

<xsd:element name="DMC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00030" type="DMC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00040" type="DMC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00060" type="DMC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00170" type="DMC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00190" type="DMC00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00200" type="DMC00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年の前年以前３年内の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既に共用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につきリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２２）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度超過額実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度
超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMC00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備における供用年のリースに係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止年における供用年の取得に係る繰越税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止年における供用年の前年以前３年内の繰越税額控除限度超過額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３０）－（３１）－（３２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２９）と（３３）のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、事業の用に供しなくなった期間に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（（２９）－（３４））*（１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DMD00000-1-0type">
<xsd:sequence>

<xsd:element name="DMD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00030" type="DMD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00040" type="DMD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00060" type="DMD00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00170" type="DMD00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00190" type="DMD00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00200" type="DMD00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年の前年以前３年内の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既に共用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DMD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につきリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２２）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度超過額実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度
超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DMD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DME00000-1-0type">
<xsd:sequence>

<xsd:element name="DME00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00030" type="DME00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00040" type="DME00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00060" type="DME00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の末日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年における経営革新設備の基準リース料の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係る基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00170" type="DME00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備基準リース料割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00190" type="DME00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備のリース契約期間の残月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00200" type="DME00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止期間割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)のうち既に供用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備に係るリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後における繰越税額控除限度超過額の控除実施額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)のうち供用年の前年以前３年内の繰越税額控除限度超過額の控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース控除の対象設備のうち既に共用廃止設備に該当することとなった他の設備がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DME00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につき繰越税額控除限度超過額の計算上控除される金額に関する明細書（付表）の(35)の金額を計算した場合の当該額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左記の設備につきリース特別控除取戻税額に関する明細書の(31)の金額を計算した場合の当該額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２２）*（１１）／（１０）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度超過額実施相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリースに係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DME00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年後のリース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DME00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DMF00000" type="DMF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DMC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMC00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMC00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMC00200-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMD00200-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00170-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DME00200-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DMF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="320"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DMC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMC00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMC00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMC00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMC00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMD00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMD00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMD00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMD00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMD00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMD00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DMD00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="DMD00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DME00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="DME00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DME00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="DME00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DME00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="DME00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DME00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="DME00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
