etax/19XMLスキーマ/shotoku/KOB630-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：沖縄の特定中小企業者の経営革新設備に係るリース資産の使用状況等に関する明細書
version：2.0
Date：2004年07月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB630-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB630-2-0group">
<xsd:sequence>
<xsd:element name="KOB630">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DOA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DOC00000" type="DOC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各年分において控除した所得額の特別控除額等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00000" type="DOD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB630-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DOC00000-2-0type">
<xsd:sequence>

<xsd:element name="DOC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除された所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年に繰り越された繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00220" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除された所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年に繰り越された繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00420" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除された所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年に繰り越された繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00620" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除された所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前期繰越分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOC00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年に繰り越された繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOC00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース分に係るもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DOD00000-2-0type">
<xsd:sequence>

<xsd:element name="DOD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00030" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00040" type="DOD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約終了年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00080" type="DOD00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00110" type="DOD00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において使用した期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において支払うリース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00140" type="DOD00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用の状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00150" type="DOD00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用の供しなくなった理由"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00220" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00230" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00240" type="DOD00240-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約終了年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00280" type="DOD00280-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00310" type="DOD00310-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において使用した期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において支払うリース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00330" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00340" type="DOD00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用の状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00350" type="DOD00350-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用の供しなくなった理由"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2年前"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00420" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00430" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00440" type="DOD00440-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00460" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00470" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約終了年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00480" type="DOD00480-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00510" type="DOD00510-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において使用した期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において支払うリース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00530" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00540" type="DOD00540-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用の状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00550" type="DOD00550-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用の供しなくなった理由"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DOD00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00620" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00630" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOD00640" type="DOD00640-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設備の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00650" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約終了年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00680" type="DOD00680-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース料（月額）"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00710" type="DOD00710-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において使用した期間"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において支払うリース料"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00730" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年において事業の用に供しなくなった年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00740" type="DOD00740-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用の状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DOD00750" type="DOD00750-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用の供しなくなった理由"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DOD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00080-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00110-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00140-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00150-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00240-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00280-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00310-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00350-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00440-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00480-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00510-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00540-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00550-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00640-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00680-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00710-2-0Rtype">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00740-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DOD00750-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="DOD00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00280-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00280-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00310-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00310-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00480-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00480-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00510-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00510-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00680-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00680-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DOD00710-2-0type">
<xsd:simpleContent>
<xsd:extension base="DOD00710-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
