etax/19XMLスキーマ/shotoku/KOB711-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：情報基盤強化設備等に係る繰越税額控除限度超過額の計算上控除される金額に関する明細書(付表)
version：1.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB711-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB711-1-0group">
<xsd:sequence>
<xsd:element name="KOB711">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HHA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HHC00000" type="HHC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報基盤強化設備等に係る繰越税額控除限度超過額の計算上控除される金額に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB711-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HHC00000-1-0type">
<xsd:sequence>

<xsd:element name="HHC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分　明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00030" type="HHC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00040" type="HHC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報基盤強化設備等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00060" type="HHC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00090" type="HHC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額　明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分　明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00150" type="HHC00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00160" type="HHC00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報基盤強化設備等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00180" type="HHC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00210" type="HHC00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額　明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分　明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00270" type="HHC00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00280" type="HHC00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報基盤強化設備等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00290" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"賃借年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00300" type="HHC00300-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース契約期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00310" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供しなくなった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00330" type="HHC00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額相当額　明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース費用の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準リース料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース税額控除実施額の計算　明細1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)－(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース税額控除実施額の計算　明細2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)又は((A)＋(B))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)－(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備の供用年におけるリース税額控除実施額の計算　明細3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HHC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(A)又は((A)＋(B))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)－(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年リース税額控除実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用廃止設備に係る繰越リース税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年の取得に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち、リースに係る繰越税額控除限度超過額に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)と(18)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち、事業の用に供しなくなった期間に対応する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"供用年のリース分に係る繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)－(18)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HHC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本表の繰越税額控除限度超過額から控除される金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HHC00620" type="HHC00620-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HHC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00210-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00300-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00330-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HHC00620-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HHC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HHC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HHC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HHC00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HHC00300-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00300-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HHC00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="HHC00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
