etax/19XMLスキーマ/shotoku/KOB760-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：試験研究を行った場合の所得税額の特別控除に関する明細書
version：1.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB760-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB760-1-0group">
<xsd:sequence>
<xsd:element name="KOB760">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HMA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HMC00000" type="HMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額等に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00000" type="HMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HME00000" type="HME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HMF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HMG00000" type="HMG00000-1-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"売上金額・比較試験研究費の額等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMH00000" type="HMH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMI00000" type="HMI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HMJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HML00000" type="HML00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HMM00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HMN00000" type="HMN00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB760-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HMC00000-1-0type">
<xsd:sequence>

<xsd:element name="HMC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00020" type="HMC00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00030" type="HMC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）＜１０％の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の増加額に係る税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMD00000-1-0type">
<xsd:sequence>

<xsd:element name="HMD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）の金額がない場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）の金額がある場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00030" type="HMD00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る税額控除割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HME00000-1-0type">
<xsd:sequence>

<xsd:element name="HME00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HME00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越税額控除限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HME00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMG00000-1-0type">
<xsd:sequence>

<xsd:element name="HMG00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMG00040" type="HMG00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業を営んでいた月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMH00000-1-0type">
<xsd:sequence>

<xsd:element name="HMH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMI00000-1-0type">
<xsd:sequence>

<xsd:element name="HMI00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HML00000-1-0type">
<xsd:sequence>

<xsd:element name="HML00010" type="HML00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究等の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HML00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMN00000-1-0type">
<xsd:sequence>

<xsd:element name="HMN00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年超過要件に係る試験研究費の額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３３）のうち特別償却実施額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開発研究用設備の償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３３）のうち特別償却実施額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開発研究用設備の償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"普通償却費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別償却実施額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00160" type="HMN00160-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業を営んでいた月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定差引試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越税額控除限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00200" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年繰越額又は本年控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMN00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="HMN00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="HMN00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年繰越額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HMC00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HMC00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HMD00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HMG00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HML00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HMN00160-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HMC00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="HMC00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HMC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="HMC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HMD00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="HMD00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HMG00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="HMG00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HMN00160-1-0type">
<xsd:simpleContent>
<xsd:extension base="HMN00160-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
