etax/19XMLスキーマ/shotoku/KOB730-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：教育訓練費の額が増加した場合の所得税額の特別控除に関する明細書
version：1.0
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB730-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB730-1-0group">
<xsd:sequence>
<xsd:element name="KOB730">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HJA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増加教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増加教育訓練費の額の支出基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HJJ00000" type="HJJ00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"比較教育訓練費の額の計算 繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HJK00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJL00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB730-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HJJ00000-1-0type">
<xsd:sequence>

<xsd:element name="HJJ00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJJ00030" type="HJJ00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業を営んでいた期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HJJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定教育訓練費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HJJ00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HJJ00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="HJJ00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
