etax/19XMLスキーマ/shotoku/KOB700-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：住宅耐震改修特別控除額の計算明細書(平成23年6月30日以後契約用)
version：3.0
Date：2011年08月26日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB700-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB700-3-0group">
<xsd:sequence>
<xsd:element name="KOB700">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HFA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HFC00000" type="HFC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB700-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HFC00000-3-0type">
<xsd:sequence>

<xsd:element name="HFC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修に要した費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00011" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に関し交付を受ける補助金等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00012" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)－(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00013" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修に係る耐震工事の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00016" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)と(4)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HFC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
