etax/19XMLスキーマ/shotoku/KOB790-011.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定新規中小会社が発行した株式の取得に要した金額の寄附金控除額の計算明細書
version：11.0
Date：2024年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB790-11-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="11.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB790-11-0group">
<xsd:sequence>
<xsd:element name="KOB790">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JEA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JEB00000" type="JEB00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00000" type="JEC00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00000" type="JED00000-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定新規株式の取得費の調整対象額等の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB790-11-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JEB00000-11-0type">
<xsd:sequence>

<xsd:element name="JEB00020" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JEC00000-11-0type">
<xsd:sequence>

<xsd:element name="JEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)以外の寄附金の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)+(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)*40％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)と(5)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)-(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)と(8)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JED00000-11-0type">
<xsd:sequence>

<xsd:element name="JED00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳Ａ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00020" type="JED00020-11-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定新規株式の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00050" type="JED00050-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各控除対象特定新規株式の適用対象額の合計に占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2千円控除の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JED00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳Ｂ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00100" type="JED00100-11-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定新規株式の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00130" type="JED00130-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各控除対象特定新規株式の適用対象額の合計に占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2千円控除の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JED00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内訳Ｃ"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00180" type="JED00180-11-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定新規株式の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00210" type="JED00210-11-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各控除対象特定新規株式の適用対象額の合計に占める割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2千円控除の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費の調整対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JED00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JED00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JED00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)*(12)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JED00020-11-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JED00050-11-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JED00100-11-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JED00130-11-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JED00180-11-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JED00210-11-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JED00050-11-0type">
<xsd:simpleContent>
<xsd:extension base="JED00050-11-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JED00130-11-0type">
<xsd:simpleContent>
<xsd:extension base="JED00130-11-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JED00210-11-0type">
<xsd:simpleContent>
<xsd:extension base="JED00210-11-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
