etax/19XMLスキーマ/shotoku/KOB760-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：試験研究費の総額等に係る所得税額の特別控除又は中小事業者が試験研究を行った場合の所得税額の特別控除及び特別試験研究費に係る所得税額の特別控除に関する明細書
version：7.0
Date：2016年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB760-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB760-7-0group">
<xsd:sequence>
<xsd:element name="KOB760">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="HMA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HMC00000" type="HMC00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除又は中小事業者の試験研究費に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00000" type="HMD00000-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費に係る税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HMF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="HML00000" type="HML00000-7-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="HMM00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMO00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち(26)が第１号である特別試験研究に係る特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB760-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="HMC00000-7-0type">
<xsd:sequence>

<xsd:element name="HMC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち特別試験研究費以外の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち試験研究費の総額に係る税額控除又は中小事業者の試験研究費に係る税額控除の対象とする特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均売上金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00020" type="HMC00020-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00030" type="HMC00030-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）＜10％の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小事業者税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00105" type="HMC00105-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HMD00000-7-0type">
<xsd:sequence>

<xsd:element name="HMD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"試験研究費の総額に係る税額控除又は中小事業者の試験研究費に係る税額控除の対象とする特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引対象特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち税額控除割合が30％である試験研究に係る特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別研究税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HMD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="HML00000-7-0type">
<xsd:sequence>

<xsd:element name="HML00030" type="HML00030-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"措法第10条第３項各号の該当号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HML00010" type="HML00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HML00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別試験研究費の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="HMC00020-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HMC00030-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="HMC00105-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="HML00030-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="HML00010-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="HMC00020-7-0type">
<xsd:simpleContent>
<xsd:extension base="HMC00020-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="HMC00030-7-0type">
<xsd:simpleContent>
<xsd:extension base="HMC00030-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
