etax/19XMLスキーマ/shotoku/KOB830-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：認定住宅新築等特別税額控除額の計算明細書(平成26年3月31日以前居住用)
version：5.0
Date：2014年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB830-5-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB830-5-0group">
<xsd:sequence>
<xsd:element name="KOB830">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JKA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JKC00000" type="JKC00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　共有者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00000" type="JKD00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　認定住宅に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00000" type="JKE00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　税額控除限度額の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00000" type="JKF00000-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　本年分で差し引く認定住宅新築等特別税額控除額の計算等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB830-5-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JKC00000-5-0type">
<xsd:sequence>

<xsd:element name="JKC00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKC00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JKD00000-5-0type">
<xsd:sequence>

<xsd:element name="JKD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00020" type="JKD00020-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総床面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00030" type="JKD00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)のうち居住用部分の床面積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の構造"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JKD00050" type="JKD00050-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"木造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00060" type="JKD00060-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"鉄骨造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00070" type="JKD00070-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"鉄骨鉄筋コンクリート造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00080" type="JKD00080-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"鉄筋コンクリート造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00090" type="JKD00090-5-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前記以外の構造"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JKD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)の床面積１平方メートル当たりの標準的なかかり増し費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JKD00120" type="JKD00120-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKD00130" type="JKD00130-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JKE00000-5-0type">
<xsd:sequence>

<xsd:element name="JKE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標準的なかかり増し費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの持分に相当する費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00030" type="JKE00030-5-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用部分に相当する費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年から繰り越された控除未済税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JKF00000-5-0type">
<xsd:sequence>

<xsd:element name="JKF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税総所得金額に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資税額等控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金等特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅特定改修特別税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((13)－(14)－(15)－(16)－(17)－(18)－(19))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定住宅新築等特別税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JKF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年に繰り越す控除未済税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JKD00020-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JKD00030-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JKD00050-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JKD00060-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JKD00070-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JKD00080-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JKD00090-5-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JKD00120-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JKD00130-5-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JKE00030-5-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JKD00020-5-0type">
<xsd:simpleContent>
<xsd:extension base="JKD00020-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JKD00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="JKD00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JKD00120-5-0type">
<xsd:simpleContent>
<xsd:extension base="JKD00120-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JKD00130-5-0type">
<xsd:simpleContent>
<xsd:extension base="JKD00130-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JKE00030-5-0type">
<xsd:simpleContent>
<xsd:extension base="JKE00030-5-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
