etax/19XMLスキーマ/shotoku/KOB825-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：住宅特定改修特別税額控除額の計算明細書(平成26年4月1日から平成28年3月31日までの間居住用)
version：2.0
Date：2016年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB825-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB825-2-0group">
<xsd:sequence>
<xsd:element name="KOB825">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JQA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JQC00000" type="JQC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　共有者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQD00000" type="JQD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　改修工事をした家屋に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00000" type="JQE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　一般断熱改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00000" type="JQF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　高齢者等居住改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="JQG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　住宅特定改修特別税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB825-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JQC00000-2-0type">
<xsd:sequence>

<xsd:element name="JQC00010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQC00030" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQC00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JQD00000-2-0type">
<xsd:sequence>

<xsd:element name="JQD00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JQD00030" type="JQD00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQD00040" type="JQD00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JQE00000-2-0type">
<xsd:sequence>

<xsd:element name="JQE00010" type="JQE00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"太陽光発電設備設置工事の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般断熱改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((4)－(5))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)又は((6)*(2))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般断熱改修工事等に係る断熱改修工事限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)と(8)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((9)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JQF00000-2-0type">
<xsd:sequence>

<xsd:element name="JQF00010" type="JQF00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢が50歳以上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00020" type="JQF00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00030" type="JQF00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要介護認定又は要支援認定を受けている"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00050" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((14)－(15))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)又は((16)*(2))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等に係る改修工事限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)と(18)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JQF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((19)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JQD00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JQD00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JQE00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JQF00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JQF00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="JQF00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="JQD00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="JQD00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JQD00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="JQD00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
