etax/19XMLスキーマ/shotoku/KOB827-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：住宅耐震改修特別控除額・住宅特定改修特別税額控除額の計算明細書
version：4.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB827-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB827-4-0group">
<xsd:sequence>
<xsd:element name="KOB827">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB827-1" type="KOB827-1-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB827-2" type="KOB827-2-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB827-3" type="KOB827-3-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB827-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB827-1-4-0type">
<xsd:sequence>

<xsd:element name="KOA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　住宅耐震改修特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((1)－(2))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)と250万円のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細１　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOC00080" type="KOC00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　住宅特定改修特別税額控除額の計算(１面)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　改修工事をした家屋に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あなたの共有持分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00040" type="KOD00040-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00050" type="KOD00050-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(共有者の氏名)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00070" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00090" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOD00103" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細２　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00106" type="KOD00106-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　高齢者等居住改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOD00120" type="KOD00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢が50歳以上"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00130" type="KOD00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00140" type="KOD00140-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"要介護認定又は要支援認定を受けている"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00160" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居親族の方の続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"高齢者等居住改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((11)－(12))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)と((13)*(7))のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)と200万円のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((15)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB827-2-4-0type">
<xsd:sequence>

<xsd:element name="KOE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　住宅特定改修特別税額控除額の計算(２面)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　一般断熱改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般断熱改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((17)－(18))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(19)と((19)*(7))のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)と250万円(太陽光発電設備設置工事を伴う場合は350万円)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((21)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　多世帯同居改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"多世帯同居改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((23)－(24))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(25)と((25)*(7))のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)と250万円のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((27)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOE00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　耐久性向上改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修又は一般断熱改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(29)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((29)－(30))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐久性向上改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(32)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((32)－(33))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((31)＋(34))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(35)と((35)*(7))のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(36)と250万円(一般断熱改修工事等に太陽光発電設備工事を伴う場合は350万円)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((37)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB827-3-4-0type">
<xsd:sequence>

<xsd:element name="KOF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　住宅特定改修特別税額控除額の計算(３面)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　耐久性向上改修工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(39)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((39)－(40))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般断熱改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(42)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((42)－(43))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"耐久性向上改修工事等の標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(45)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((45)－(46))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((41)＋(44)＋(47))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(48)と((48)*(7))のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(49)と500万円(太陽光発電設備設置工事を伴う場合は600万円)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((50)*10％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOF00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　その他の工事等に係る事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(52)住宅耐震改修工事又は住宅特定改修工事に係る標準的な費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(53)住宅耐震改修工事又は住宅特定改修工事に係る標準的な費用の額のうち工事限度額を超える部分の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(54)住宅耐震改修工事又は住宅特定改修工事と併せて行われた一定の工事費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(54)に関し交付を受ける補助金等の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((54)－(55))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(52)と(53)及び(56)の合計額のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1,000万円から住宅耐震改修工事又は住宅特定改修工事に係る標準的な費用の額(工事限度額を超える場合は、その工事限度額)を控除した額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(57)と(58)のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"((59)*５％)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KOF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８　住宅特定改修特別税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="KOC00080-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KOD00040-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KOD00050-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KOD00106-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="KOD00120-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KOD00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KOD00140-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="KOD00040-4-0type">
<xsd:simpleContent>
<xsd:extension base="KOD00040-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="KOD00050-4-0type">
<xsd:simpleContent>
<xsd:extension base="KOD00050-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
