etax/19XMLスキーマ/shotoku/KOB986-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：岩石採取場及び露天石炭採掘場に係る特定災害防止準備金に関する明細書
version：1.0
Date：2013年10月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB986-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB986-1-0group">
<xsd:sequence>
<xsd:element name="KOB986">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AZA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AZC00000" type="AZC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB986-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AZC00000-1-0type">
<xsd:sequence>

<xsd:element name="AZC00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"岩石採取場又は露天石炭採掘場の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"採取又は採掘の期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年総収入金額算入額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"採石災害防止費用又は露天石炭採掘災害防止費用を支出した場合の総収入金額算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)以外の場合による総収入金額算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年への繰越額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年初の特定災害防止準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引特定災害防止準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AZC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"採石災害防止費用又は露天石炭採掘災害防止費用の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"岩石採取場又は露天石炭採掘場に係る信託財産の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AZC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"累積限度超過額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AZC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末の特定災害防止準備金の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
