etax/19XMLスキーマ/shotoku/KOB980-008.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定の地域において雇用者の数が増加した場合の所得税額の特別控除に関する明細書
version：8.0
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB980-8-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="8.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB980-8-0group">
<xsd:sequence>
<xsd:element name="KOB980">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB980-1" type="KOB980-1-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB980-2" type="KOB980-2-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB980-8-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB980-1-8-0type">
<xsd:sequence>

<xsd:element name="ATF00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATG00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00005" type="ATH00005-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の開始の日の前日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00010" type="ATH00010-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00020" type="ATH00020-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定地域基準雇用者数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00090" type="ATH00090-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定地域基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATH00110" type="ATH00110-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00120" type="ATH00120-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定地域基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00150" type="ATH00150-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額　区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額　金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定地方活力向上地域特定業務施設整備計画に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00020" type="ATI00020-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業実施地域"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数に係る計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00040" type="ATI00040-8-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00050" type="ATI00050-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00070" type="ATI00070-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00280" type="ATI00280-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00290" type="ATI00290-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定新規雇用者数及び非新規基準雇用者数の合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00300" type="ATI00300-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定新規雇用者超過数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)&gt;=0.1又は(1)=0の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上以外の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATI00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数に係る計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00160" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00170" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数の基礎となる地方事業所基準雇用者数　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00180" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00190" type="ATI00190-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATI00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATI00210" type="ATI00210-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所特別税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATI00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATI00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB980-2-8-0type">
<xsd:sequence>

<xsd:element name="ATJ00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数等の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00020" type="ATK00020-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00030" type="ATK00030-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00040" type="ATK00040-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00050" type="ATK00050-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定地域基準雇用者数等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同意雇用開発促進地域内に所在する事業所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00290" type="ATK00290-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00300" type="ATK00300-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00310" type="ATK00310-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00320" type="ATK00320-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00330" type="ATK00330-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「2」のうち措法第10条の５第２項の規定の適用に係る特定業務施設に該当する事業所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00350" type="ATK00350-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00360" type="ATK00360-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00370" type="ATK00370-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00380" type="ATK00380-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00390" type="ATK00390-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(2－3)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00410" type="ATK00410-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00420" type="ATK00420-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00430" type="ATK00430-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00440" type="ATK00440-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00450" type="ATK00450-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方事業所基準雇用者数等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定業務施設"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00480" type="ATK00480-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00500" type="ATK00500-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00510" type="ATK00510-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00520" type="ATK00520-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00530" type="ATK00530-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00540" type="ATK00540-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「5」のうち同意雇用開発促進地域内に所在する事業所で措法第10条の５第１項の規定の適用に係るもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00560" type="ATK00560-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00580" type="ATK00580-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00590" type="ATK00590-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00600" type="ATK00600-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00610" type="ATK00610-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00620" type="ATK00620-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引(5－6)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00640" type="ATK00640-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)のうち新規雇用者の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00660" type="ATK00660-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00670" type="ATK00670-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00680" type="ATK00680-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00690" type="ATK00690-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)のうち適用年の12月31日において高年齢雇用者に該当する者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00700" type="ATK00700-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATK00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者数等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATK00720" type="ATK00720-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00730" type="ATK00730-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規雇用者総数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00740" type="ATK00740-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新規雇用者総数の40％相当数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00750" type="ATK00750-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定新規雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00760" type="ATK00760-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非新規基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATK00770" type="ATK00770-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非特定新規雇用者超過数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等支給額の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATL00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年における給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATL00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち適用年の12月31日において高年齢雇用者に該当する者に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATL00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATM00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較給与等支給額の計算に関する明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATM00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち適用年の12月31日において高年齢雇用者に該当する者に係る金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00050" type="ATM00050-8-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"12/事業を営んでいた期間の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"改定給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATM00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="ATH00005-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00010-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00020-8-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?[.]\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00090-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00110-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATH00120-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATH00150-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATI00020-8-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATI00040-8-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATI00050-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00070-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00280-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00290-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00300-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00190-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATI00210-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00020-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00030-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00040-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00050-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00290-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00300-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00310-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00320-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00330-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00350-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00360-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00370-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00380-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00390-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00410-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00420-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00430-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00440-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00450-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00480-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00500-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00510-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00520-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00530-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00540-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00560-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00580-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00590-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00600-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00610-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00620-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00640-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00660-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00670-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00680-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00690-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00700-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00720-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00730-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00740-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00750-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00760-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATK00770-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATM00050-8-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ATH00005-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00005-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00010-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00010-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00020-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00020-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00090-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00090-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00110-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00110-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATH00120-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATH00120-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00050-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00050-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00070-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00070-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00280-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00280-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00290-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00290-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00300-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00300-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00190-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00190-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATI00210-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATI00210-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00020-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00020-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00030-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00030-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00040-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00040-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00050-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00050-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00290-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00290-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00300-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00300-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00310-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00310-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00320-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00320-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00330-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00330-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00350-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00350-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00360-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00360-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00370-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00370-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00380-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00380-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00390-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00390-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00410-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00410-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00420-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00420-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00430-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00430-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00440-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00440-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00450-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00450-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00480-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00480-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00500-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00500-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00510-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00510-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00520-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00520-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00530-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00530-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00540-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00540-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00560-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00560-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00580-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00580-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00590-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00590-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00600-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00600-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00610-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00610-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00620-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00620-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00640-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00640-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00660-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00660-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00670-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00670-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00680-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00680-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00690-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00690-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00700-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00700-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00720-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00720-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00730-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00730-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00740-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00740-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00750-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00750-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00760-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00760-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATK00770-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATK00770-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATM00050-8-0type">
<xsd:simpleContent>
<xsd:extension base="ATM00050-8-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
