etax/19XMLスキーマ/shotoku/KOB975-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：分配時調整外国税相当額控除に関する明細書
version：2.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB975-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB975-2-0group">
<xsd:sequence>
<xsd:element name="KOB975">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DJA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DJC00000" type="DJC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　特定口座の配当等（源泉徴収選択口座内配当等）及び未成年者口座の配当等に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00000" type="DJD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　上記1以外の配当等に係る事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00000" type="DJE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　控除額等の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB975-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DJC00000-2-0type">
<xsd:sequence>

<xsd:element name="DJC00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の「名称」、「法人番号又は所在地」"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00040" type="DJC00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00050" type="DJC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場株式配当等控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除所得税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除外国所得税相当額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除外国所得税相当額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJD00000-2-0type">
<xsd:sequence>

<xsd:element name="DJD00010" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者又は支払の取扱者の「名称」、「法人番号又は所在地」"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00040" type="DJD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下段"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJD00050" type="DJD00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種別等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知所得税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定又は支払年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DJD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DJD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知外国税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DJE00000-2-0type">
<xsd:sequence>

<xsd:element name="DJE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象となる配当等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再差引所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所法第93条第1項の規定による控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額控除後の所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興財確法第13条の2の規定による控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額控除後の復興特別所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DJE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DJC00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DJC00050-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DJD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DJD00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
