etax/19XMLスキーマ/shotoku/KOB989-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：債務処理計画に基づく減価償却資産等の損失の必要経費算入に関する明細書
version：1.0
Date：2014年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB989-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB989-1-0group">
<xsd:sequence>
<xsd:element name="KOB989">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JTA00000" type="JTA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTB00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTC00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JTD00000" type="JTD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB989-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JTD00000-1-0type">
<xsd:sequence>

<xsd:element name="JTD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務処理計画に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTD00020" type="JTD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画策定の基とした準則"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画に基づき免除を受けた債務の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務の免除を受けた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00050" type="JTD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計画に定められている債務免除等を行う金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供される資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JTD00070" type="JTD00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の取得費とされる金額に相当する金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準則に定められた方法により評定が行われた資産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の損失の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JTD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)の損失の額がないものとして計算した不動産所得の金額、事業所得の金額又は山林所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JTD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)のうち必要経費算入額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="JTA00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JTD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JTD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JTD00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
